<section>
        <style>
                a{
                    font-weight: 600;
                }
                .sub-list{
                        padding-left: 2%;
                }
                li{
                    margin-bottom: 3px;
                }
        </style>
    <div style="margin: 2% 10% 2% 10%;">
        <h1>TERMS OF USE</h1>
        <div>
                These Terms of Use, together with any and all other documents referred to herein,
                 set out the terms of use under which you shall use this website, www.jheaps.in (“Our Site”).
                  Please read these Terms of Use carefully and ensure that you understand them.
                   Your agreement to comply with and be bound by these Terms of Use is deemed to occur from your
                    first use of Our Site AND/OR You will be required to read and accept these Terms of Use when
                     signing up for an Account. If you do not agree to comply with and be bound by these Terms of Use,
                      you must stop using Our Site immediately. A separate set of terms apply to sales or purchases made on Our Site. 
                       Please refer to Our  or Terms for Buyers for more information.
        </div>
        <h4>1.	Definitions and Interpretation</h4>
        <div>
            1.1	In these Terms of Use, unless the context otherwise requires, the following expressions have the following meanings:
            <ul>
                <li class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-5">
                        “Account”
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-7">
                        means an account required to access and/or use certain areas of Our Site, as detailed in Clause 5;
                    </div>
                </li>
                <li class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-5">
                        “Buyer” 
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-7">
                        “Buyer”	means a User who makes a purchase on Our Marketplace;
                    </div>
                </li>
                <li class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-5">
                        “Content” 
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-7">
                        means any and all text, images, audio, video, scripts, code, software, databases, and any other form of information capable of being stored on a computer that appears on, or forms part of, Our Site;
                    </div>
                </li>
                <li class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-5">
                        “Marketplace”
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-7">
                        means Our platform for Buyers and Sellers on Our Site;
                    </div>
                </li>
                <li class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-5">
                        “Our Site”
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-7">
                        means this website, www.jheaps.in;
                    </div>
                </li>
                <li class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-5">
                        “Seller”    
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-7">
                        means a User who sells on Our Marketplace;
                    </div>
                </li>
                <li class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-5">
                        “User”
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-7">
                        means a user of Our Site;
                    </div>
                </li>
                <li class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-5">
                        “User Content” 
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-7">
                        means any Content added to Our Site by a User;
                    </div>
                </li>
                <li class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-5">
                        “We/Us/Our”
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-7">
                        means jadFocus Solutions LLP, a limited liability partnership registered in India , 
                        whose registered address is 2/1,1st Floor, 4th St, Kamarajar Nagar, Chinna Chokkikulam, 
                        Chockikulam, Madurai, Tamil Nadu 625002,.
                    </div>
                </li>
            </ul>
        </div>
        <h4>2.	Information About Us</h4>
        <div>
                2.1	Our Site is owned and operated by jadFocus Solutions LLP, a limited liability partnership registered in India, whose registered address is 2/1,1st Floor, 4th St, Kamarajar Nagar, Chinna Chokkikulam, Chockikulam, Madurai, Tamil Nadu 625002.
        </div>
        <h4>3.	Access to Our Site</h4>
        <div>
            <ul>
                <li>
                        3.1	Access to Our Site is free of charge.
                </li>
                <li>
                        3.2	It is your responsibility to make any and all arrangements necessary in order to access Our Site.
                </li>
                <li>
                        3.3	Access to Our Site is provided “as is” and on an “as available” basis. We may alter, suspend, or discontinue Our Site (or any part of it) at any time and without notice. Subject to the remainder of these Terms of Use, Our Terms for Buyers, and Our Terms for Sellers, We will not be liable to you in any way if Our Site or any part of it is unavailable at any time and for any period.
                </li>
            </ul>
        </div>
        <h4>4.	Accounts</h4>
        <div>
            <ul>
                <li>
                        4.1	Certain parts of Our Site including the ability to buy and sell through the Marketplace require an Account in order to use them.
                </li>
                <li>
                        4.2	You shall not create an Account if you are under 18 years of age. 
                </li>
                <li>
                        4.3	When creating an Account, the information you provide must be accurate and complete. If any of your information changes at a later date, it is your responsibility to ensure that your Account is kept up-to-date.
                </li>
                <li>
                        4.4	We recommend that you choose a strong password for your Account, consisting of a combination of lowercase and uppercase letters, numbers, and symbols.
                </li>
                <li>
                        4.5	It is your responsibility to keep your password safe. You must not share your Account with anyone else. We will not be liable for any unauthorised use of your Account. You must not use anyone else’s Account.
                </li>
                <li>
                        4.6	All personal information provided in your Account will be collected, used, and held in accordance with your rights and Our obligations under the law, as set out in Clause 14.
                </li>
            </ul>
        </div>
        <h4>5.	Intellectual Property Rights and Use of Our Site</h4>
        <div>
            <ul>
                <li>
                        5.1	With the exception of User Content, all Content included on Our Site and the copyright and other intellectual property rights in that Content, unless specifically labelled otherwise, belongs to or has been licensed by Us. All Content, including User Content, is protected by applicable Indian and international intellectual property laws and treaties.
                </li>
                <li>
                        5.2	Subject to sub-Clause 5.3, you shall not reproduce, copy, distribute, sell, rent, sub-licence, store, or in any other manner re-use Content including User Content from Our Site unless given express written permission to do so by Us or the relevant User.
                </li>
                <li>
                        5.3	You may:
                        <ul class="sub-list">
                            <li>
                                    5.3.1	access, view, and use Our Site in any web browser;
                            </li>
                            <li>
                                    5.3.2	download Our Site or any part of it for caching;
                            </li>
                            <li>
                                    5.3.3	The owner and author of any Content including User Content must always be acknowledged when re-using that Content.
                            </li>
                        </ul>
                </li>
                <li>
                        5.4	You shall not use any Content including User Content printed, saved, or downloaded from Our Site for commercial purposes without first obtaining a licence from Us or Our licensors, or the relevant User, as appropriate to do so. This does not prohibit the normal access, viewing, and use of Our Site for general purposes whether by business users or consumers.
                </li>
            </ul>
        </div>
        <h4>6.	User Content</h4>
        <div>
            <ul>
                <li>
                        6.1	User Content on Our Site includes but is not limited to product information, images, drawings, photos, drawings, notes, messages, reviews, emails, video, audio files etc.
                </li>
                <li>
                        6.2	You agree that you will be solely responsible for your User Content. Specifically, you agree, represent, and warrant that you have the right to submit the User Content and that it will comply with Our Acceptable Usage Policy.
                </li>
                <li>
                        6.3	You agree that you will be liable to Us and will, to the fullest extent permissible by law, indemnify Us for any breach of the warranties given by you under sub-Clause 6.2. You will be responsible for any loss or damage suffered by Us as a result of such breach.
                </li>
                <li>
                        6.4	You or the licensors who own the Content in question, as appropriate retain the ownership of the User Content that you submit to Our Site and all the intellectual property rights in that User Content. By submitting User Content to Our Site, you grant Us an unconditional, non-exclusive, fully transferable, royalty-free, perpetual, worldwide licence to use, store, archive, syndicate, publish, transmit, adapt, edit, reproduce, distribute, prepare derivative works from, display, perform, and sub-licence your User Content for the purposes of operating and promoting Our Site.
                </li>
                <li>
                        6.5	If you wish to remove User Content related to the products you have listed for sale in our website, you may do so in the listing manager of your seller account. We will use reasonable efforts to remove the User Content from Our Site. Please note that caching or references to your User Content may not be made unavailable immediately or may not be made unavailable at all where they are outside of Our reasonable control.
                </li>
                <li>
                        6.6	We may reject, reclassify, or remove any User Content from Our Site where in violates Our Acceptable Usage Policy, or if We receive a complaint from a third party about it and determine that it should be removed in response to that complaint. 
                </li>
            </ul>
        </div>
        <h4>7.	Links to Our Site</h4>
        <div>
            <ul>
                <li>
                        7.1	You may link to Our Site provided that:
                        <ul class="sub-list">
                            <li>
                                    7.1.1	you do so in a fair and legal way;
                            </li>
                            <li>
                                    7.1.2	you do not do so in a way that suggests any form of association, endorsement, or approval on Our part where none exists;
                            </li>
                            <li>
                                    7.1.3	you do not use any logos or trademarks displayed on Our Site without Our express written permission; and
                            </li>
                            <li>
                                    7.1.4	you do not do so in a way that is intended to damage Our reputation or to take unfair advantage of it.
                            </li>
                        </ul>
                </li>
                <li>
                        7.2	 You shall not link to Our Site from any other site where that site’s main content (i.e. the site’s primary purpose and content, not comments or similar from other users) contains material that:
                        <ul class="sub-list">
                            <li>
                                    7.2.1	is sexually explicit;
                            </li>
                            <li>
                                    7.2.2	is obscene, deliberately offensive, hateful, or otherwise inflammatory;
                            </li>
                            <li>
                                    7.2.3	promotes violence;
                            </li>
                            <li>
                                    7.2.4	promotes or assists in any form of unlawful activity;
                            </li>
                            <li>
                                    7.2.5	discriminates against, or is in any way defamatory of, any person, group, or class of persons; race; gender; religion; nationality; disability; sexual orientation; or age;
                            </li>
                            <li>
                                    7.2.6	is intended or is otherwise likely to threaten, harass, annoy, alarm, inconvenience, upset, or embarrass another person;
                            </li>
                            <li>
                                    7.2.7	is calculated or is otherwise likely to deceive another person;
                            </li>
                            <li>
                                    7.2.8	is intended or is otherwise likely to infringe (or to threaten to infringe) another person’s privacy;
                            </li>
                            <li>
                                    7.2.9	misleadingly impersonates any person or otherwise misrepresents the identity or affiliation of a particular person in a way that is calculated to deceive;
                            </li>
                            <li>
                                    7.2.10	implies any form of affiliation with Us where none exists;
                            </li>
                            <li>
                                    7.2.11	infringes, or assists in the infringement of, the intellectual property rights (including, but not limited to, copyright, trade marks, patents, and database rights) of any other party; or
                            </li>
                            <li>
                                    7.2.12	is made in breach of any legal duty owed to a third party including, but not limited to, contractual duties and duties of confidence.
                            </li>
                        </ul>
                </li>
            </ul>
        </div>
        <h4>8.	Links to Other Sites</h4>
        <div>
                Links to other sites shall not be included on Our Site, unless given express written permission to do so by Us.. 
        </div>
        <h4>9.	Disclaimers and Legal Rights</h4>
        <div>
            <ul>
                <li>
                        9.1	Nothing on Our Site constitutes advice on which you should rely. Information and other materials on Our Site are provided for general information purposes only
                </li>
                <li>
                        9.2	We make no representation, warranty, or guarantee that Our Site will meet your requirements, that it will not infringe the rights of third parties, that it will be compatible with all software and hardware, or that it will be secure. 
                </li>
                <li>
                        9.3	We make reasonable efforts to ensure that Our Content on Our Site is complete, accurate, and up-to-date. We do not, however, make any representations, warranties, or guarantees (whether express or implied) that the Content is complete, accurate, or up-to-date.
                </li>
                <li>
                        9.4	We are not responsible for the content or accuracy of any User Content, nor for any opinions, views, or values expressed in any User Content. Any such opinions, views, or values are those of the relevant User and do not reflect Our opinions, views, or values in any way.
                </li>
            </ul>
        </div>
        <h4>10.	Our Liability</h4>
        <div>
            <ul>
                <li>
                        10.1	Please note that the provisions of this Clause 10 are subject to Our <a href="javascript:;" [routerLink]="['/user/privacy/list/buyer-policy']">Terms for Buyers</a> and <a href="javascript:;" [routerLink]="['/user/privacy/list/seller-policy']">Terms for Sellers</a>.
                </li>
                <li>
                        10.2	We accept no liability to any User for any loss or damage, whether foreseeable or otherwise, in contract, tort (including negligence), for breach of statutory duty, or otherwise, arising out of or in connection with the use of (or inability to use) Our Site, or the content of, use of, or reliance upon any Content (including User Content) included on Our Site.
                </li>
                <li>
                        10.3	We exclude all representations, warranties, and guarantees whether express or implied that may apply to Our Site or to any Content (including User Content) included on Our Site.
                </li>
                <li>
                        10.4	If you are a business (i.e. a User using Our Site in the course of business and/or for commercial reasons), We accept no liability for loss of profits, sales, business, or revenue; loss of business opportunity, goodwill, or reputation; loss of anticipated savings; business interruption; or for any indirect or consequential loss or damage.
                </li>
                <li>
                        10.5	We use all reasonable skill and care to ensure that Our Site is free from viruses and other malware. However, We accept no liability for any loss or damage resulting from a virus or other malware, a distributed denial of service attack, or other harmful material or event that may adversely affect your hardware, software, data, or other material that occurs as a result of your use of Our Site or any other site referred to on Our Site.
                </li>
                <li>
                        10.6	We neither assume nor accept responsibility or liability arising out of any disruption or non-availability of Our Site resulting from external causes including, but not limited to, ISP equipment failure, host equipment failure, communications network failure, natural events, acts of war, or legal restrictions and censorship.
                </li>
            </ul>
        </div>
        <h4>11.	Viruses, Malware, and Security</h4>
        <div>
            <ul>
                <li>
                        11.1	We exercise all reasonable skill and care to ensure that Our Site is secure and free from viruses and other malware. We do not, however, guarantee that Our Site is secure or free from viruses or other malware and accept no liability in respect of the same, as detailed in sub-Clause 10.5.
                </li>
                <li>
                        11.2	You are responsible for protecting your hardware, software, data, and other material from viruses, malware, and other internet security risks.
                </li>
                <li>
                        11.3	You must not deliberately introduce viruses or other malware, or any other material which is malicious or technologically harmful either to or via Our Site.
                </li>
                <li>
                        11.4	You must not attempt to gain unauthorised access to any part of Our Site, the server on which Our Site is stored, or any other server, computer, or database connected to Our Site.
                </li>
                <li>
                        11.5	You must not attack Our Site by means of a denial of service attack, a distributed denial of service attack, or by any other means.
                </li>
                <li>
                        11.6	By breaching the provisions of sub-Clauses 11.3 to 11.5, you may be committing a criminal offence. Any and all such breaches will be reported to the relevant law enforcement authorities and We will cooperate fully with those authorities by disclosing your identity to them. Your right to use Our Site will cease immediately in the event of such a breach.
                </li>
            </ul>
        </div>
        <h4>12.	Acceptable Usage Policy</h4>
        <div>
            <ul>
                <li>
                        12.1	You shall only use Our Site in a manner that is lawful and that complies with the provisions of this Clause 12. Specifically:
                        <ul class="sub-list">
                            <li>
                                    12.1.1	you must ensure that you comply fully with any and all local, national, or international laws, and/or regulations;
                            </li>
                            <li>
                                    12.1.2	you must not use Our Site in any way, or for any purpose, that is unlawful or fraudulent;
                            </li>
                            <li>
                                    12.1.3	you must not use Our Site to knowingly send, upload, or in any other way transmit data that contains any form of virus or other malware, or any other code designed to adversely affect computer hardware, software, or data of any kind; and
                            </li>
                            <li>
                                    12.1.4	you must not use Our Site in any way, or for any purpose, that is intended to harm any person or persons in any way.
                            </li>
                        </ul>
                </li>
                <li>
                        12.2	When using Our Site, you must not communicate or otherwise do anything that:
                        <ul class="sub-list">
                            <li>
                                    12.2.1	is sexually explicit;
                            </li>
                            <li>
                                    12.2.2	is obscene, deliberately offensive, hateful, or otherwise inflammatory;
                            </li>
                            <li>
                                    12.2.3	promotes violence;
                            </li>
                            <li>
                                    12.2.4	promotes or assists in any form of unlawful activity;
                            </li>
                            <li>
                                    12.2.5	discriminates against, or is in any way defamatory of, any person, group, or class of persons; race; gender; religion; nationality; disability; sexual orientation; or age;
                            </li>
                            <li>
                                    12.2.6	is intended or otherwise likely to threaten, harass, annoy, alarm, inconvenience, upset, or embarrass another person;
                            </li>
                            <li>
                                    12.2.7	is calculated or is otherwise likely to deceive;
                            </li>
                            <li>
                                    12.2.8	is intended or otherwise likely to infringe (or threaten to infringe) another person’s right to privacy or otherwise uses their personal data in a way that you do not have a right to;
                            </li>
                            <li>
                                    12.2.9	misleadingly impersonates any person or otherwise misrepresents your identity or affiliation in a way that is calculated to deceive;
                            </li>
                            <li>
                                    12.2.10	implies any form of affiliation with Us where none exists;
                            </li>
                            <li>
                                    12.2.11	infringes, or assists in the infringement of, the intellectual property rights (including, but not limited to, copyright, trade marks, patents, and database rights) of any other party; or
                            </li>
                            <li>
                                    12.2.12	is in breach of any legal duty owed to a third party including, but not limited to, contractual duties and duties of confidence.
                            </li>
                        </ul>
                </li>
                <li>
                        12.3	We reserve the right to suspend or terminate your access to Our Site if you materially breach the provisions of this Clause 12 or any of the other provisions of these Terms of Use. Further actions We may take include, but are not limited to:
                        <ul class="sub-list">
                            <li>
                                    12.3.1	removing your User Content from Our Site;
                            </li>
                            <li>
                                    12.3.2	issuing you with a written warning;
                            </li>
                            <li>
                                    12.3.3	legal proceedings against you for reimbursement of any and all relevant costs resulting from your breach on an indemnity basis;
                            </li>
                            <li>
                                    12.3.4	further legal action against you as appropriate;
                            </li>
                            <li>
                                    12.3.5	disclosing such information to law enforcement authorities as required or as We deem reasonably necessary; and/or
                            </li>
                            <li>
                                    12.3.6	any other actions which We deem reasonably necessary, appropriate, and lawful.
                            </li>
                        </ul>
                </li>
                <li>
                        12.4	We hereby exclude any and all liability arising out of any actions that We may take in response to breaches of these Terms of Use. 
                </li>
            </ul>
        </div>
        <h4>13.	Privacy and Cookies</h4>
        <div>
            13.1	Use of Our Site is also governed by Our Privacy Policy, available at <a href="javascript:;" [routerLink]="['/user/privacy/list/privacy-policy']">Privacy Policy</a>.
        </div>
        <h4>14.	How We Use Your Personal Information (Data Protection)</h4>
        <div>
            <ul>
                <li>
                        14.1	All personal information that We may use will be collected, processed, and held in accordance with the provisions as defined under the Information Technology Act, 2000.
                </li>
                <li>
                        14.2	For complete details of Our collection, processing, storage, and retention of personal data including, but not limited to, the purpose(s) for which personal data is used, the legal basis or bases for using it, details of your rights and how to exercise them, and personal data sharing (where applicable), please refer to Our <a href="javascript:;" [routerLink]="['/user/privacy/list/privacy-policy']">Privacy Policy</a>.
                </li>
            </ul>
        </div>
        <h4>15.	Communications from Us</h4>
        <div>
            <ul>
                <li>
                        15.1	If We have your contact details, We may send you important notices by email. Such notices will only relate to important matters including, but not limited to, service changes; changes to these Terms of Use; Our Terms for Sellers, Terms for Buyers, Privacy Policy, and changes to your Account.
                </li>
                <li>
                        15.2	We may send you marketing emails with information, news, and offers on Our products AND/OR services. However, you may opt-out at any time. If you opt out of receiving emails from Us, it may take up to two weeks for Us to comply with your request. During that time, you may continue to receive emails from Us.
                </li>
            </ul>
        </div>
        <h4>16.	Contacting Us</h4>
        <div>
                To contact Us, please email Us directly at contactus@jheaps.com or using the option provided on Our <a href="javascript:;" [routerLink]="['/user/contact']">Contact Us page</a>.
        </div>
        <h4>17.	Changes to these Terms of Use</h4>
        <div>
            <ul>
                <li>
                        17.1	We may alter these Terms of Use at any time. Any such changes will become binding on you from your first use of Our Site after the changes have been made. You are therefore advised to check this page from time to time.
                </li>
                <li>
                        17.2	In the event of any conflict between the current version of these Terms of Use and any previous version(s), the current version shall prevail unless it is specifically stated otherwise.
                </li>
            </ul>
        </div>
        <h4>18.	Law and Jurisdiction</h4>
        <div>
            <ul>
                <li>
                        18.1	These Terms and Conditions, and the relationship between you and Us whether contractual or otherwise shall be governed by, and construed in accordance with the law of India.
                </li>
                <li>
                        18.2	If you are a consumer, any dispute, controversy, proceedings or claim between you and Us relating to these Terms and Conditions, or the relationship between you and Us whether contractual or otherwise shall be subject to the exclusive jurisdiction of the courts of Madurai (Tamil Nadu, India). 
                </li>
                <li>
                        18.3	If you are a business, any disputes concerning these Terms and Conditions, the relationship between you and Us, or any matters arising therefrom or associated therewith whether contractual or otherwise shall be subject to the  exclusive jurisdiction of the courts of Madurai (Tamil Nadu, India).
                </li>
            </ul>
        </div>
    </div>
</section>
