<h1>Sales Report By Product <span *ngIf="reportData.length>0 && showReport" style="padding-left:423px;"><a href="javascript:;;" (click)="DownloadReport()"> <i class="fa fa-download"></i></a></span></h1> 

<div class="table-wrap mt-15 col-lg-12 col-md-12 col-sm-12 hidden-xs" *ngIf="showReport" >
        <div>
        <div>
                <button type="button" class="btn btn-sm btn-color" (click)=" goBack()">
                    <span class="fa fa-arrow-left" aria-hidden="true"></span>
                </button>
            </div>
            <div class="purchase_container">
                <div class="row purchase_title m-0">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <p>
                            <strong>Total Gross Revenue</strong>
                        </p>
                        <p>{{TotalGrossRevenue}}</p>
                    </div>
                   
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <p>
                            <strong>Total Net Revenue</strong>
                        </p>
                        <p>{{TotalNetRevenue}}</p>
                    </div>
                  
                </div>
                <div class="row purchase_title m-0" *ngIf="this.showDate" style="margin-top: -18px">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <p>
                                <strong>Start Date : {{this.reportsModel.ReportType?.StartDate | date:'dd MMM yyyy'}}</strong>
                            </p>
                         
                        </div>
                       
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <p>
                                <strong>End Date : {{this.reportsModel.ReportType?.ExpiryDate | date:'dd MMM yyyy'}}</strong>
                            </p>
                          
                        </div>
                      
                </div>
                <div class="row purchase_title m-0" *ngIf="!this.showDate" style="margin-top: -18px">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <p>
                                <strong>Month : {{this.Month }}</strong>
                            </p>
                         
                        </div>
                       
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <p>
                                <strong>Year : {{this.Year }}</strong>
                            </p>
                          
                        </div>
                      
                </div>
            </div>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Product Id</th>
                    <th>Product Name</th>
                    <th>Gross Revenue</th>
                    <th>Net Revenue</th>
              
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of reportData; let i = index">
                    <td>{{i+1}}</td>
                    <td style="cursor: pointer;" (click)="selected(data);">
                        {{data.ProductId}}
                    </td>
                
                    <td  style="cursor: pointer;" (click)="selected(data);">{{data.ProductName| shorten: 40: ' ...' }}</td>
                    <td  style="cursor: pointer;" (click)="selected(data);">{{data.GrossRevenue}}</td>
                    <td  style="cursor: pointer;" (click)="selected(data);">{{data.NetRevenue}}</td>
                    <!-- <td>{{data.ProductId}}</td> -->
                    <!-- <td  style="cursor: pointer;" (click)="selected(data);">{{data.ProductName}}</td> -->
                    
              
                    <!-- <td>{{order.Totals.ProductCost + order.Totals.ShippingCost - order.Totals.CouponDiscount}}</td>
                    <td>{{data.ShopId}}</td>
                    <td class="text-center">
                        <div>
                            <span class="cursor_pointer" *ngIf="!(order.OrderDetailId)" (click)="form(order._id,order)">
                                <i class="fa fa-plus unpinIcon" aria-hidden="true"></i>
                            </span>
                            <span class="cursor_pointer" *ngIf="order.OrderDetailId" (click)="editPackageDetails(order.OrderDetailId, order)">
                                <i class="fa fa-edit unpinIcon" aria-hidden="true"></i>
                            </span>
                        </div> -->
                        <!--
            <button type="button" class="btn btn-sm btn-color" *ngIf="order.OrderDetailId==''" (click)="form(order._id,order)">Fill Package Details</button>
                                    <a href="javascript:;" *ngIf="order.OrderDetailId!=''" (click)="editPackageDetails(order.OrderDetailId, order)">Edit Package Details</a>-->

                   <!-- </td>
                    <td class="text-center">
                        <div>
                            <span class="cursor_pointer" *ngIf="order.OrderDetailId" (click)="action(order._id)" >
                              <i class="fa fa-print unpinIcon"></i>
                            </span>
                            <span  *ngIf="!(order.OrderDetailId)" style="color:lightgrey; font-size: 17px" >
                                    <i class="fa fa-print"></i>
                            </span>
                        </div>
                    </td>-->
                </tr>
            </tbody>
        </table>
    </div>

    <div class="table-wrap mt-15 col-lg-12 col-md-12 col-sm-12 hidden-xs" *ngIf="showselectedReport" >
            <div>
                    <button type="button" class="btn btn-sm btn-color" (click)=" report()">
                        <span class="fa fa-arrow-left" aria-hidden="true"></span>
                    </button>
                </div>

                <div class="row mb-30 mt-2">
                                <div class="purchase_container">
                                    <div class="row purchase_title m-0">
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <p>
                                                <strong>Product Name</strong>
                                            </p>
                                            <p>{{selectedReport.ProductName}}</p>
                                        </div>
                                        <!-- <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                            <p>
                                                <strong>Order Date</strong>
                                            </p>
                                            <p>{{selectedReport.OrderDate   | date:'dd MMM yyyy'}}</p>
                                        </div> -->
                                        <!-- <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                            <p>
                                                <strong>Item Number</strong>
                                            </p>
                                            <p>{{selectedReport.ItemNumber}}</p>
                                        </div> -->
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <p>
                                                <strong>Product Id</strong>
                                            </p>
                                            <p>{{selectedReport.ProductId}}</p>
                                        </div>
                                        <!-- <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                            <button type="button" class="mt-20 btn btn-sm btn-color" (click)="cancel(order,order._id,'All')" *ngIf="checkCancelHours(order.CreatedDate,order.OrderStatus)">Cancel Order</button>
                                        </div> -->
                                    </div>
                                    <!-- <div class="row purchase_body" *ngFor="let shopId of order.Items[0][getShopkey(selectedOrder[i].Items[0])];let i=index;" > -->
                                    <div class="row purchase_body">
                                        <span>
                                             <div class="col-lg-2 col-md-2 col-sm-2 hidden-xs">
                                                <a routerLink="/product/{{selectedReport.ProductId}}">
                                                    <img [src]="this.imageUrls" />
                                                </a>
                                            </div> 
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-8">
                                                <p>
                                                    <strong>{{selectedReport.ProductName}}</strong>
                                                </p>
                                                <!-- <p><strong>Shop Name :</strong> {{selectedReport.ShopName}}</p>
                                                <p><strong>Shop Id :</strong> {{selectedReport.ShopId}}</p> -->
                                                 <!-- <p><strong>Qty :</strong> {{selectedReport.Qty}}</p> -->
<!--                                                 
                                                    <p >
                                                        <span> {{selectedReport.VariationId}}</span> 
                                                    </p> -->
                                                    <!-- <p >
                                                        <span class="amount"> {{productCurrency.value + shopId.Product.Price}}</span> x {{shopId.Product.Qty}}
                                                    </p> -->
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                <!-- <div>
                                                    <p *ngIf="selectedReport?.VariationName1">
                                                        <b>{{selectedReport.VariationName1}}:{{selectedReport.VariationValue1}}</b>
                                                    </p>
                                                    <p *ngIf="selectedReport?.VariationName2">
                                                        <b>{{selectedReport.VariationName2}}:{{selectedReport.VariationValue2}}</b>
                                                    </p>
                                                </div> -->
                                                <!-- <button type="button" class="mt-10 btn btn-sm btn-color" (click)="cancel(shopId.Product.Id,order._id,'Item')" *ngIf="checkCancelHours(order.CreatedDate,order.OrderStatus) && order.Items.length != 1">Cancel Item</button> -->
                                            </div>
                                        </span>
                                    </div> 
                                </div>

                                <div class="row purchase_container mt-2" style="border: none;margin: 0">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class=" panel panel-default">
                                            <div class="panel-heading text-uppercase">
                                                <span><strong>Shipping Details</strong></span>
                                            </div>
                                            <div class="panel-body">
        
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <p><strong>Gross Revenue </strong> </p>
                                                        <p><strong> Discount</strong></p>
                                                        <p> <strong>Shipping Cost From Buyer</strong></p>
                                                        <p>
                                                            <strong>Shipping Cost For Seller</strong>
                                                        </p>
                                                        <p> <strong>Fixed Fee</strong></p>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <p>:
                                                            <span class="amount right"> {{selectedReport.GrossRevenue}}</span>
                                                        </p>
                                                        <p>:
                                                            <span class="amount right"> {{selectedReport.Discount}}</span>
                                                        </p>
                                                        <p>:
                                                            <span class="amount right"> {{selectedReport.ShippingCostFromBuyer}}</span>
                                                        </p>
                                                
                                                        <p>:
                                                            <span class="amount right"> {{selectedReport.ShippingCostForSeller}}</span>
                                                        </p>
                                                        <p>:
                                                            <span class="amount right"> {{selectedReport.FixedFee}}</span>
                                                        </p>
                                                    </div>
                                                </div>
                                        </div>
                                    </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class="panel panel-default">
                                            <div class="panel-heading text-uppercase">
                                                <span><strong>Commission Details</strong></span>
                                            </div>
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <p><strong>Commission </strong> </p>
                                                        <p><strong> Collection Amount</strong></p>
                                                        <p> <strong>Collection Fee</strong></p>
                                                        <p>
                                                            <strong>GST</strong>
                                                        </p>
                                                        <p> <strong>Net Revenue</strong></p>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <p>:
                                                            <span class="amount right"> {{selectedReport.Commission}}</span>
                                                        </p>
                                                        <p>:
                                                            <span class="amount right"> {{selectedReport.CollectionAmount}}</span>
                                                        </p>
                                                        <p>:
                                                            <span class="amount right"> {{selectedReport.CollectionFee}}</span>
                                                        </p>
                                                
                                                        <p>:
                                                            <span class="amount right"> {{selectedReport.GST}}</span>
                                                        </p>
                                                        <p>:
                                                            <span class="amount right"> {{selectedReport.NetRevenue}}</span>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
       <!-- <table class="table table-bordered table-active table-hover ">
                
                <tbody>
                <tr>
                    <th>OrderId</th>
                    <td>{{selectedReport.OrderId}}</td>
                </tr>
                <tr>
                        <th>OrderDate</th>
                        <td>{{selectedReport.OrderDate  | date:'dd MMM yyyy'}}</td>
                </tr>
                <tr>
                        <th>ItemNumber</th>
                        <td>{{selectedReport.ItemNumber}}</td>
                </tr>
                <tr>
                        <th>ShopId</th>
                        <td>{{selectedReport.ShopId}}</td>
                </tr>
                <tr>
                        <th>ShopName</th>
                        <td>{{selectedReport.ShopName}}</td>
                </tr>
                <tr>
                        <th>ProductId</th>
                        <td>{{selectedReport.ProductId}}</td>
                </tr>
                <tr>
                        <th>ProductName</th>
                        <td>{{selectedReport.ProductName}}</td>
                </tr>
                <tr>
                        <th>Qty</th>
                        <td>{{selectedReport.Qty}}</td>
                </tr>
                <tr>
                        <th>SellingPrice</th>
                        <td>{{selectedReport.SellingPrice}}</td>
                </tr>
                <tr>
                        <th>Discount</th>
                        <td>{{selectedReport.Discount}}</td>
                </tr>
                <tr>
                        <th>VariationId</th>
                        <td>{{selectedReport.VariationId}}</td>
                </tr>
                <tr>
                        <th>VariationName1</th>
                        <td>{{selectedReport.VariationName1}}</td>
                </tr>
                <tr>
                        <th>VariationValue1</th>
                        <td>{{selectedReport.VariationValue1}}</td>
                </tr>
                <tr>
                        <th>VariationName2</th>
                        <td>{{selectedReport.VariationName2}}</td>
                </tr>
                <tr>
                        <th>VariationValue2</th>
                        <td>{{selectedReport.VariationValue2}}</td>
                </tr>
                <tr>
                        <th>ShippingCostFromBuyer</th>
                        <td>{{selectedReport.ShippingCostFromBuyer}}</td>
                </tr>
                <tr>
                        <th>ShippingCostForSeller</th>
                        <td>{{selectedReport.ShippingCostForSeller}}</td>
                </tr>
                <tr>
                        <th>ShippingCostFromBuyerByProportion</th>
                        <td>{{selectedReport.ShippingCostFromBuyerByProportion}}</td>
                </tr>
                <tr>
                        <th>FixedFee</th>
                        <td>{{selectedReport.FixedFee}}</td>
                </tr>
                <tr>
                        <th>CollectionAmount</th>
                        <td>{{selectedReport.CollectionAmount}}</td>
                </tr>
                <tr>
                        <th>CollectionFee(%)</th>
                        <td>{{selectedReport.CollectionFee}}</td>
                </tr>
                <tr>
                        <th>CollectionFee</th>
                        <td>{{selectedReport.CollectionFee}}</td>
                </tr>
                <tr>
                        <th>MarketPlaceCommission</th>
                        <td>{{selectedReport.MarketPlaceCommission}}</td>
                </tr>
                <tr>
                        <th>GST</th>
                        <td>{{selectedReport.GST}}</td>
                </tr>
                <tr>
                        <th>NetRevenue</th>
                        <td>{{selectedReport.NetRevenue}}</td>
                </tr>
    
                    
              
                   
                      
            </tbody>
        </table>-->
        <!-- <div>
                        <button (click)="topscroll()" class="btn btn-sm btn-color center-block">Top</button>
        </div> -->


            
    
            
    </div>
    <ng-template #addNewTemplate>
                <div class="hidden-xs">
                        <div style="margin-top:150px; margin-bottom:50px" class="text-center">
                                <i class="fa fa-trash" style="font-size:100px;"></i>
        
                        </div>
                        <div class="col-xs-12 text-center">
                                <span style="margin:auto;">No Orders To Show</span>
                        </div>
                </div>
        </ng-template>