<section>
	<div class="container-fluid">
		<div class=" col-lg-12 col-sm-12 col-xs-12 col-md-12 Forum-Well mb-30" style="padding-bottom: 0px;">
			<div class="row">
				<div class="col-lg-4 col-sm-12 col-xs-12 col-md-12 text-center">
					<div id="forums-title">
						<div id="forums-breadcrumbs" *ngIf="checkGroupHeading()" class="ff-medium">
							<!-- <span><a href="/in-en/community" rel="nofollow">Community</a></span>
							<span class="separator">/</span> -->
							<span><a href="javascript:;" [routerLink]="['/user/forum/list']">Forums</a></span>
						</div>
						<h1 *ngIf="checkForumHeading()" class="ff-medium cursor_pointer" [routerLink]="['/user/forum/list']">
							Forums
						</h1>
						<h1 *ngIf="checkGroupHeading()" (click)="ViewGroup(selectedGroupId)" class="ff-medium cursor_pointer" [routerLink]="['/user/forum/list']">
							{{this.ForumTitle}}
						</h1>
					</div>
				</div>
				<div class="hidden-lg hidden-md col-sm-12 hidden-xs">
					<div class="input-group">
						<input type="text" class="form-control" name="searchTerm" [(ngModel)]="searchQuery" placeholder="What are you looking for?" (keyup.enter)="Search()">
						<span class="input-group-addon"> 
							<i (click)="Search()" class="fa fa-search"></i> 
						</span>
					</div>
				</div>
				<div class="col-lg-4 col-md-8 col-sm-12 hidden-xs text-center">
					<ul class="col-lg-12 col-md-12 col-sm-12 list-inline"> 
						<li (click)="ViewGroup(group._id)" [ngClass]="{'Forum-Select': selectedGroupId==group._id}"  class="col-lg-4 col-md-4 col-sm-4 mt-2 Forum-View cursor_pointer" *ngFor="let group of getGroupNameList;">
							<!-- <a href="javascript:;" >{{group.GroupTitle}}</a> -->
							<a  href="javascript:;" >{{group.GroupTitle}}</a>

							<!-- <p-button label="Click" icon="fa fa-check" iconPos="left"></p-button> -->

						</li>
						 <li *ngIf="ShowUserRole=='masteradmin' || ShowUserRole=='admin'">
							<p-dropdown [options]="forumgroups"  [(ngModel)]="forumGroupName" (onChange)="onGroupSelect($event.value)" [style]="{'width':'150px'}" filter="true">
								<ng-template let-data pTemplate="selectedItem">
									<span style="vertical-align:middle">{{data.label}}</span>
								</ng-template>
							</p-dropdown>
						 </li>
						<li (click)="youThread()" class="col-lg-4 col-md-4 col-sm-4 mt-2 Forum-View" [ngClass]="{'Forum-Select': checkThreadURL()}">
							<a href="javascript:;" *ngIf="ShowUserRole=='seller' || ShowUserRole=='Other' || ShowUserRole=='masteradmin' || ShowUserRole=='admin'">Your Threads</a>
					 	</li>
					 	
					 	<li  [routerLink]="['/user/forum/list/admin-status']" class="col-lg-4 col-md-4 col-sm-4 mt-2 Forum-View" [ngClass]="{'Forum-Select': checkAdminURL()}">
							<a  href="javascript:;" *ngIf="ShowUserRole=='masteradmin' || ShowUserRole=='admin'">Admin Area </a>
					 	</li>
					</ul>	
					
				</div>
				<div class="col-lg-4 col-md-4 hidden-sm col-sm-12 col-xs-12">
					<div class="input-group">
						<input type="text" class="form-control" name="searchTerm" [(ngModel)]="searchQuery" placeholder="What are you looking for?" (keyup.enter)="Search()">
						<span class="input-group-addon"> 
							<i (click)="Search()" class="fa fa-search"></i> 
						</span>
					</div>
				</div>
				<div class="hidden-lg hidden-md hidden-sm col-xs-12">
					<div [ngClass]="{'Forum-Select': selectedGroupId==group._id}" class="Forum-View" *ngFor="let group of getGroupNameList;" [routerLink]="['/forum/group-view']" (click)="ViewGroup(group._id)">
							<label class="cursor_pointer" >{{group.GroupTitle}}</label>
					</div>
					<div [ngClass]="{'Forum-Select': checkThreadURL()}" class="Forum-View"  *ngIf="ShowUserRole=='seller' || ShowUserRole=='Other' || ShowUserRole=='masteradmin' || ShowUserRole=='admin'" (click)="youThread()">
						<label class="cursor_pointer" >Your Threads</label>
					</div>
					<div  [ngClass]="{'Forum-Select': checkAdminURL()}" class="Forum-View"  *ngIf="ShowUserRole=='masteradmin' || ShowUserRole=='admin'" [routerLink]="['/user/forum/list/admin-status']">	
					 	<label class="cursor_pointer">Admin Area </label>
					</div>
				</div> 
			</div>
		</div>
	</div>
</section>
<section>
	<div class="container mb-30">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<router-outlet></router-outlet>
			</div>
			<!-- <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
				<div class="Forum-View" *ngFor="let group of getGroupNameList;">
					<label class="cursor_pointer" (click)="ViewGroup(group._id)">{{group.GroupTitle}}</label>
				</div>
				
			</div> -->
		</div>
	</div>

</section>