<div>
    <h2 class="heading relative heading-small uppercase bottom-line style-2 left-align mb-0 pt-20">Settlements</h2>
</div>

<div>
    <p-dropdown [options]="settlementList" name="getSellerList" (onChange)="onGroupSelect($event.value)" [(ngModel)]="this.settlentDetail.Id" [style]="{'width':'250px'}" filter="true" required>
        <ng-template let-data pTemplate="selectedItem">
            <span style="vertical-align:middle" [value]="data.value">{{data.label}}</span>
        </ng-template>
    </p-dropdown>
</div>
<br>
<div>
    <button [disabled]="!this.settlentDetail.Id" class="btn btn-primary" (click)="DownloadSettlementReport()">Download Settlement Report</button>

</div>
<br>
<hr>



<div>
	<button class="btn btn-primary" (click)="GenerateSettlementReport()">Generate Settlement Report</button>
</div>

	