<div class="pt-20">
<div class="Clsborder">
    <div class="Clstitle_cover">
        <h2 class="heading relative uppercase bottom-line style-2 left-align mb-0">Add Default Package Details
        </h2>
    </div>
    <form name="PackageForm" id="PackageForm" #PackageForm="ngForm" novalidate>
        <div class="row">
            <!-- <div class="col-md-4" *ngIf="!editbutton">
                            <label for="OrderNumber">Order #:</label>
                            
                            <input type="text" id="OrderNumber" name="OrderNumber" [(ngModel)]="this.orderNumber" #OrderNumber="ngModel"
                             placeholder="Order #" readonly="true">
                            <div *ngIf="OrderNumber.errors && (OrderNumber.dirty || OrderNumber.touched)" class="alert alert-danger">
                                <div [hidden]="!OrderNumber.errors.required">
                                    Order # is required
                                </div>
                            </div>
                    </div>
                    <div class="col-md-4" *ngIf="editbutton">
                            <label for="OrderNumber">Order #:</label>
                            <input type="text" id="OrderNumber" name="OrderNumber" [(ngModel)]="this.orderDetailModel.OrderId" #OrderNumber="ngModel"
                             placeholder="Order #" readonly="true">
                            <div *ngIf="OrderNumber.errors && (OrderNumber.dirty || OrderNumber.touched)" class="alert alert-danger">
                                <div [hidden]="!OrderNumber.errors.required">
                                    Order # is required
                                </div>
                            </div>
                    </div> -->
            <div class="col-lg-4 col-sm-6">
                <mat-form-field class="Clsfull-width">
                    <input matInput type="text" id="Packagename" [(ngModel)]="this.orderPackageDetailsModel.name"
                        name="packagename" #Name="ngModel" placeholder="Package Detail Name" class="mb-0" required>
                </mat-form-field>
                <div class="text-danger vd-msg">
                    <div *ngIf="Name.errors && (Name.dirty || Name.touched)" [hidden]="!Name.errors.required">
                        Profile Name is required!
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-sm-6">
                <!-- <label for="Weight">Package Weight:</label> -->
                <!-- <br>( Weight should be greater than 0 kg and and less than equal to 70kg ) -->
                <mat-form-field class="Clsfull-width">
                    <input matInput type="number" id="Weight" name="Weight" min="0" pattern="^[0-9]+(\.[0-9]{1,2})?$"
                        max="70" [(ngModel)]="this.orderPackageDetailsModel.weight" #Weight="ngModel"
                        placeholder="Weight(in kg)" required>
                </mat-form-field>
                <div *ngIf="Weight.errors && (Weight.dirty || Weight.touched)" class="text-danger vd-msg">
                    <div [hidden]="!Weight.errors.required">
                        Package Weight is required
                    </div>
                    <div [hidden]="!Weight.errors.pattern">
                        Package Weight is incorrect
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-sm-12">
                <!-- <label for="Height">Package Height:</label> -->
                <!-- <br>( Value should be greater than 1cm and decimals are allowed ) -->
                <mat-form-field class="Clsfull-width">
                    <input matInput type="number" id="Height" name="Height"
                        [(ngModel)]="this.orderPackageDetailsModel.height" #Height="ngModel" placeholder="Height(in cm)"
                        min="1" pattern="^[0-9]+(\.[0-9]{1,2})?$" required>
                </mat-form-field>
                <div *ngIf="Height.errors && (Height.dirty || Height.touched)" class="text-danger vd-msg">
                    <div [hidden]="!Height.errors.required">
                        Package Height is required
                    </div>
                    <div [hidden]="!Height.errors.pattern">
                        Package Height is incorrect
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-sm-12">
                <!-- <label for="Length">Package Length:</label> -->
                <!-- <br>( Value should be greater than 1 cm and decimals are allowed ) -->
                <mat-form-field class="Clsfull-width">
                    <input matInput type="number" id="Length" name="Length" min="1" pattern="^[0-9]+(\.[0-9]{1,2})?$"
                        [(ngModel)]="this.orderPackageDetailsModel.length" #Length="ngModel" placeholder="Length(in cm)"
                        required>
                </mat-form-field>
                <div *ngIf="Length.errors && (Length.dirty || Length.touched)" class="text-danger vd-msg">
                    <div [hidden]="!Length.errors.required">
                        Package Length is required
                    </div>
                    <div [hidden]="!Length.errors.pattern">
                        Package Length is incorrect
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-sm-12">
                <!-- <label for="Width">Package Width:</label> -->
                <!-- <br> ( Value should be greater than 1cm and decimals are allowed ) -->
                <mat-form-field class="Clsfull-width">
                    <input matInput type="number" id="Width" name="Width" min="1" pattern="^[0-9]+(\.[0-9]{1,2})?$"
                        [(ngModel)]="this.orderPackageDetailsModel.width" #Width="ngModel" placeholder="Width(in cm)"
                        required>
                </mat-form-field>
                <div *ngIf="Width.errors && (Width.dirty || Width.touched)" class="text-danger vd-msg">
                    <div [hidden]="!Width.errors.required">
                        Package Width is required
                    </div>
                    <div [hidden]="!Width.errors.pattern">
                        Package Width is incorrect
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="row hide">
                <div class="col-md-12">
                    <label for="Description">Package Description:</label>
                    <textarea rows="5" id="Description" name="Description" [(ngModel)]="this.orderPackageDetailsModel.package_content" #Description="ngModel"
                     placeholder="Description" required></textarea>
                    <div *ngIf="Description.errors && (Description.dirty || Description.touched)" class="alert alert-danger">
                        <div [hidden]="!Description.errors.required">
                            Package Description is required
                        </div>
                    </div>
                </div>
            </div> -->
        <div class="row">
            <div class="col-xs-12">
                <button type="button" class="Clscommon_btn_small Clsbtn_space_right" (click)="goBack()">
                    <i class="fa clsbtn_arrow fa-caret-left" aria-hidden="true"></i>&nbsp;&nbsp;<span>Back</span>
                </button>
                <button type="button" class="Clscommon_btn_fill_small" *ngIf="!editbutton" (click)="addPackageDetail();"
                    [disabled]="!PackageForm.form.valid">Submit</button>
                <button type="button" class="Clscommon_btn_fill_small" *ngIf="editbutton" (click)="editPackageDetail();"
                    [disabled]="!PackageForm.form.valid">Update
                    Package Details</button>
            </div>
        </div>
    </form>
</div>
</div>