<h1>Customer return <span *ngIf="reportData?.length>0"  style="padding-left:423px;"><a href="javascript:;;" (click)="DownloadReport()"> <i class="fa fa-download"></i></a></span></h1>

<div *ngIf="showShop">
        <!-- <h2 style="margin-left: 8px;margin-top:30px">OverAll Report</h2> -->
        <div>
                <button type="button" class="btn btn-sm btn-color" (click)=" goBack1()">
                    <span class="fa fa-arrow-left" aria-hidden="true"></span>
                </button>
            </div>
                    <div class=" purchase_container">
                            <div class="row purchase_title m-0" style="margin-bottom: -18px;" *ngIf="this.showDate">
                       
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                            <p > 
                                                <strong>Start Date : {{this.reportsModel.ReportType?.StartDate | date:'dd MMM yyyy'}}</strong>
                                            </p>
                                         
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-4">
                                        </div>
                
                                       
                                        <div class="col-lg-4 col-md-4 col-sm-64col-xs-12">
                                            <p>
                                                <strong>End Date : {{this.reportsModel.ReportType?.ExpiryDate | date:'dd MMM yyyy'}}</strong>
                                            </p>
                                          
                                        </div>
                                      
                        </div>
                         <div class="row purchase_title m-0" style="margin-bottom: -18px;" *ngIf="!this.showDate">
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                            <p>
                                                <strong>Month : {{this.Month }}</strong>
                                            </p>
                                         
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-4">
                                        </div>
                                        
                                       
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                            <p>
                                                <strong>Year : {{this.Year }}</strong>
                                            </p>
                                          
                                        </div>
                                      
                        </div>
                        <div class="row purchase_title" style="margin-left: 0px; margin-right: 0px;">
                            <div class="col-md-4">
                                <p >
                                    <strong>Total # Of Products</strong>
                                </p>
                                <h2 class="counter-text head ">{{ Totalobject.TotalNoOfProducts}}</h2>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                </div>
                            <div class="col-md-4">
                                <p >
                                    <strong>Total Percentage Return</strong>
                                </p>
                                <h2 class="counter-text head" >{{Totalobject.TotalPercent}}</h2>
                            </div>
                          
                        </div>
                        <table class="table" style="margin-top:30px">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th class="text-center">Return Reason</th>
                                        <th class="text-center">Orders with Return</th>
                                        <th class="text-center">% Return</th>
                                      
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>  <th>1</th>
                                        <td  class="text-center">Wrong Shipment/missing Items </td>
                                        <td class="text-center"> {{ Totalobject.WSorMICount}} </td>
                                        <td class="text-center">{{  Totalobject.WSorMIPercentage}} </td>
                                       
                                      
                                    </tr>
                                    <tr>  <th>2</th>
                                        <td  class="text-center">Poor Quality  </td>
                                        <td class="text-center"> {{Totalobject.PQCount}} </td>
                                        <td class="text-center">{{Totalobject.PQPercentage}} </td>
                                       
                                    </tr>
                                    <tr>  <th>3</th>
                                        <td  class="text-center">Damaged Products</td>
                                        <td class="text-center"> {{Totalobject.DaPCount}} </td>
                                        <td class="text-center">{{  Totalobject.DaPPercentage}} </td>
                                       
                                    </tr>
                                    <tr>  <th>4</th>
                                        <td  class="text-center">Defective Products  </td>
                                        <td class="text-center"> {{Totalobject.DePCount}} </td>
                                        <td class="text-center">{{Totalobject.DePPercentage}} </td>
                                       
                                    </tr>
                                  
                                    <tr style="background-color: #f5f5f5;"> 
                                         <th></th>
                                        <td  class="text-center">Total </td>
                                        <td class="text-center"> {{ Totalobject.defectTotalCount}} </td>
                                        <td class="text-center">{{Totalobject.TotalPercent}} </td>
                                       
                                    </tr>
                                </tbody>
                            </table>
                            
                    </div>
</div>
<div class="table-wrap mt-15 col-lg-12 col-md-12 col-sm-12 hidden-xs" *ngIf="showShop" >
        <div>
         <h2 style="margin-left: 8px;margin-top:30px">Shop-Wise Report</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Shop Name</th>
                    <th>Shop Id</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of reportData; let i = index">
                    <td>{{i+1}}</td>
                    <td style="cursor: pointer;" (click)=" selectedShop(data);">
                        {{data.ShopName}}
                    </td>
             
                    <td  style="cursor: pointer;" (click)="selectedShop(data);">{{data.ShopId}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="table-wrap mt-15 col-lg-12 col-md-12 col-sm-12 hidden-xs" *ngIf="showUnsold" >
        <div>
                <button type="button" class="btn btn-sm btn-color" (click)="gotoShop()">
                    <span class="fa fa-arrow-left" aria-hidden="true"></span>
                </button>
        </div>  
    <h2 style="margin-left: 8px;margin-top:30px">{{ selectedDetail.ShopName }} </h2>
            <div class=" purchase_container">
                <div class="row purchase_title" style="margin-left: 0px; margin-right: 0px;">
                    <div class="col-md-6">
                        <p class="text-center">
                            <strong>Total # of Products</strong>
                        </p>
                        <h2 class="counter-text head text-center">{{ selectedDetail.TotalNoOfProducts}}</h2>
                    </div>
                    <div class="col-md-6">
                        <p class="text-center">
                            <strong>Total Percentage Return</strong>
                        </p>
                        <h2 class="counter-text head text-center">{{selectedDetail.TotalPercent}}</h2>
                    </div>
                  
                </div>
                <table class="table" style="margin-top:30px">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th class="text-center">Return Reason</th>
                                <th class="text-center">Orders with Return #</th>
                                <th class="text-center">% Return</th>
                              
                            </tr>
                        </thead>
                        <tbody>
                            <tr>  <th>1</th>
                                <td  class="text-center">Wrong Shipment/missing Items </td>
                                <td class="text-center"> {{ selectedDetail.WSorMICount}} </td>
                                <td class="text-center">{{  selectedDetail.WSorMIPercentage}} </td>
                               
                              
                            </tr>
                            <tr>  <th>2</th>
                                <td  class="text-center">Poor Quality  </td>
                                <td class="text-center"> {{selectedDetail.PQCount}} </td>
                                <td class="text-center">{{selectedDetail.PQPercentage}} </td>
                               
                            </tr>
                            <tr>  <th>3</th>
                                <td  class="text-center">Damaged Products</td>
                                <td class="text-center"> {{selectedDetail.DaPCount}} </td>
                                <td class="text-center">{{  selectedDetail.DaPPercentage}} </td>
                               
                            </tr>
                            <tr>  <th>4</th>
                                <td  class="text-center">Defective Products  </td>
                                <td class="text-center"> {{selectedDetail.DePCount}} </td>
                                <td class="text-center">{{selectedDetail.DePPercentage}} </td>
                               
                            </tr>
                          
                            <tr style="background-color: #f5f5f5;"> 
                                 <th></th>
                                <td  class="text-center">Total </td>
                                <td class="text-center"> {{ selectedDetail.defectTotalCount}} </td>
                                <td class="text-center">{{selectedDetail.TotalPercent}} </td>
                               
                            </tr>
                        </tbody>
                    </table>
                    
            </div>
</div>