<style>
	.alert {
		font-size: 12px !important;
		padding: 0px !important;
		margin-bottom: 10px !important;
		color: #ff0000 !important;
		margin-top: -6px;
	}

	input[type="text"],
	input[type="number"],
	input[type="email"],
	input[type="password"],
	textarea {
		border: none !important;
		margin-bottom: 0px !important;
		padding: 0px !important;
		box-shadow: none;
	}

	.form-control:focus {
		-webkit-box-shadow: none !important;
		box-shadow: none !important;
	}

	.example-full-width {
		width: 795px !important;
	}

	.work-item {
		text-align: center;
		width: 100%;
	}
</style>
<form class="form col-xs-12 pt-20" id="shopInfoDashForm" #shopInfoDashForm="ngForm">
	<div class="row Clsborder">
		<div class="Clstitle_cover">
			<h2 class="relative bottom-line uppercase style-2 left-align">Shop info</h2>
		</div>
		<div class="well Clswell well-md">
			<div class="row">
				<div class="col-sm-6">
					<mat-form-field class="Clsfull-width">
						<input matInput type="text"
							[(ngModel)]="this.shopModel?.ShopAccountId?.approvedBusinessDetails.Name" name="Name"
							placeholder="Shop display name" maxlength="50" [readonly]="true">
					</mat-form-field>
				</div>
				<div class="col-sm-6">
					<mat-form-field class="Clsfull-width">
						<textarea matInput [(ngModel)]="this.shopModel.Summary"
							(blur)="this.shopModel.Summary=this.shopModel.Summary.trim()" name="Summary"
							#Summary='ngModel' placeholder="Summary" maxlength="500" rows="4" class="mb-0"> </textarea>
					</mat-form-field>
					<div class="row">
						<div class="text-right col-md-6">
							<label>{{this.shopModel.Summary.length}}/500</label>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6 col-md-6 col-lg-4">
					<p class="Clsblock_title">Shop Logo <a href="javascript:;" class="Clstooltip"><i
								class="fa fa-info-circle"></i> <span class="Clstooltip_text">Size limit:50 MB,
								Dimension: not less then 186 x 172 pixel</span></a></p>
					<div class="col-md-4" *ngIf="!shopModel.hasOwnProperty('Logo')">
						<div (click)="triggerFileUpload('Logo')" class="add_icon text-center">
							<p><i class="fa fa-plus add_address_icon"></i></p>
							<p>Add New Shop Logo</p>
							<input style="display:none" type="file" class="form-control" id="logofileUpload"
								accept="image/*" name="Images" (change)="ChangeListener($event, 'Logo')">
						</div>
					</div>
					<div class="col-md-12" style="padding-left:0px" *ngIf="shopModel.hasOwnProperty('Logo')">
						<div class="Clswork-item worksitem web-design photography">
							<div class="work-container">
								<img class="center-block" src="{{shopModel.Logo}}" alt="No Logo">
								<div class="work-overlay">
									<div class="project-icons">
									</div>
									<div class="Clswork-description">
										<div class="row">
											<div class="col-md-12 text-right">
												<input style="display:none" type="file" class="form-control"
													id="logofileUpload" accept="image/*" name="Images"
													(change)="ChangeListener($event, 'Logo')">
												<a href="javascript:;" class="Clschange_icon"
													(click)="triggerFileUpload('Logo')" title="Edit image"><i
														class="fa fa-photo"></i> </a>
												<a href="javascript:;" class="Clsedit_icon"
													(click)="cropImage(tempImageBase64Logo[0],'Logo')"
													title="Edit image"><i class="fa fa-pencil "></i> </a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-12 Clsloader text-center" *ngIf="logoLoader">
						<div class="Clsloader_cover">
							<i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
							<h5>Uploading</h5>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-6 col-lg-4">
					<p class="Clsblock_title">Shop Banner <a href="javascript:;" class="Clstooltip"><i
								class="fa fa-info-circle"></i> <span class="Clstooltip_text">Size limit: 50mb,
								Dimensions: not less than 1296 X 280 pixel</span></a></p>
					<div class="col-md-6" style="padding-left:0px" *ngIf="!shopModel.hasOwnProperty('Banner')">
						<div class="Clsadd_icon text-center" (click)="triggerFileUpload('Banner')">
							<div class="Clsadd_icon_cover">
								<p><i class="fa fa-plus add_address_icon"></i></p>
								<p>Add New Shop Banner</p>
								<input style="display:none" type="file" class="form-control" id="bannerfileUpload"
									accept="image/*" name="Images" (change)="ChangeListener($event, 'Banner')">
							</div>
						</div>
					</div>
					<div class="col-md-12" style="padding-left:0px" *ngIf="shopModel.hasOwnProperty('Banner')">
						<div class="Clswork-item web-design photography">
							<div class="work-container">
								<img class="center-block" src="{{shopModel.Banner}}" alt="No Banner">
								<div class="work-overlay">
									<div class="project-icons">
									</div>
									<div class="Clswork-description">
										<div class="row">
											<div class="col-md-12 text-right">
												<input style="display:none" type="file" id="bannerfileUpload"
													accept="image/*" name="Images"
													(change)="ChangeListener($event, 'Banner')">
												<a href="javascript:;" title="Change image" class="Clschange_icon"
													(click)="triggerFileUpload('Banner')"><i class="fa fa-photo"></i>
												</a>
												<a href="javascript:;" class="Clsedit_icon"
													(click)="cropImage(tempImageBase64Banner[0],'Banner')"
													title="Edit image"><i class="fa fa-pencil "></i></a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-12 Clsloader text-center" *ngIf="bannerLoader">
						<div class="Clsloader_cover">
							<i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
							<h5>Uploading</h5>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-6 col-lg-4">
					<p class="Clsblock_title">Cash on Delivery</p>
					<div id="CashOnDelivery">
						<div class="Clsradio">
							<input type="radio" class="mb-0" id="yes" (ngModelChange)="ValidateZipCode($event)"
								[ngModel]="this.shopModel.CashOnDeliveryAllowed" #COD="ngModel" name="COD"
								[value]="true" required>
							<label for="yes">Allowed</label>
						</div>
						<div class="Clsradio">
							<input type="radio" class="mb-0" id="no" (ngModelChange)="ValidateZipCode($event)"
								[ngModel]="this.shopModel.CashOnDeliveryAllowed" #COD="ngModel" name="COD"
								[value]="false" required>
							<label for="no">Not Allowed</label>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 text-right mt-15">
					<input type="button" class="Clscommon_btn_fill_small" value="Save" (click)="updateShop()">
				</div>
			</div>
		</div>

		<div class="row">
			<div class="form-group mt-15 col-md-6">
				<div class="row">
					<div class="form-group col-md-12 mt-15">
						<p class="Clsblock_title">Search item to add to top products</p>
						<div class="input-group stylish-input-group">
							<input type="text" style="border:1px solid #e0e0e0 !important;padding:0 16px !important;"
								class="form-control" name="searchTerm" [(ngModel)]="searchTerm"
								placeholder="Type & enter" (keyup.enter)="searchProducts()">
							<span class="input-group-addon" (click)="searchProducts()">
								<span class="fa fa-search"></span>
							</span>
						</div>
					</div>
				</div>
				<p class="Clsblock_title">Available Items</p>
				<div class="table-wrap mt-15" *ngIf="hitsList?.length==0">
					No Items Found
				</div>
				<div class="scroll-container row" (scroll)="LoadOnScroll()" id='scroll-container'
					style="height:auto !important;max-height: 500px;">
					<div id='scroll-box' class="col-xs-12">

						<ul class="row" *ngIf="hitsList?.length >0">
							<li class="col-sm-4 col-md-6 col-lg-4 col-xs-6"
								*ngFor="let product of hitsList;let i=index">
								<div class="Clsproduct_cover thumbnail relative">
									<img class="" alt="product image" [BindImage]='product._source' />
									<p class="Clspro_name text-truncate">{{ product._source.Name }}</p>
									<a href="javascript:;" (click)="addTopproducts(product._id)"
										class="Clsadd_product"><i class="fa fa-plus"></i></a>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<!--modified-->

			<div class="form-group col-md-6 mt-15 br-left">
				<p class="Clsblock_title">Top Items 
					<a href="javascript:;" class="Clstooltip">
						<i class="fa fa-info-circle"></i> 
						<span class="Clstooltip_text">These products will be promoted at the top in your shop page.</span>
					</a>
				</p>
				<div class="table-wrap mt-15" *ngIf="topproductsList?.length==0">
					No Items Found
				</div>
				<div class="scroll-container" (scroll)="LoadOnScroll()" id='scroll-container'
					style="height:500px !important;max-height: 500px;">
					<div id='scroll-box' class="col-xs-12">

						<ul class="row" *ngIf="topproductsList?.length >0">
							<li class="col-sm-4 col-md-6 col-lg-4 col-xs-6"
							*ngFor="let product of topproductsList;let i=index">
								<div class="Clsproduct_cover thumbnail relative">
									<img class="" alt="product image" [BindImage]='product._source' />
									<p class="Clspro_name text-truncate">{{ product._source.Name }}</p>
									<a href="javascript:;" (click)="deleteTopproducts(product._id)"
										class="Clsadd_product"><i class="fa fa-close"></i></a>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>



<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="cropImage" id="editImageModal">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-body">
				<img src="{{selectedImageForCropping}}" alt="Product Edit Image" id="EditableImage" />
			</div>
			<div class="modal-footer">
				<button title="Zoom In" type="button" class="btn btn-primary pull-left" (click)="cropperImageZoomIn()">
					<span class="fa fa-search-plus"></span>
				</button>
				<button title="Zoom Out" type="button" class="btn btn-primary pull-left"
					(click)="cropperImageZoomOut()">
					<span class="fa fa-search-minus"></span>
				</button>
				<button title="Rotate Left" type="button" class="btn btn-primary pull-left"
					(click)="cropperImageRotateLeft()">
					<span class="fa fa-rotate-left"></span>
				</button>
				<button title="Rotate Right" type="button" class="btn btn-primary pull-left"
					(click)="cropperImageRotateRight()">
					<span class="fa fa-rotate-right"></span>
				</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary" (click)="saveCroppedImage()">Save</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade docs-cropped" id="getCroppedCanvasModal" aria-labelledby="getCroppedCanvasTitle" tabindex="-1"
	role="dialog">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="getCroppedCanvasTitle">Cropped</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
			</div>
			<div class="modal-body">

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				<a class="btn btn-primary" id="download" href="" download="cropped.jpg">Download</a>
			</div>
		</div>
	</div>
</div>