<section class="mt-10 col-lg-9 col-md-9 col-sm-12  " style="margin-top:30px" *ngIf="this.showAllMessages">
	<div class="row mb-30 hidden-xs" *ngIf="sentMessages?.length >0; else addNewTemplate">
		<div class="row">
			<div style="padding-left:780px">
				<button class="btn btn-sm deletebtn_color" [disabled]="delete" (click)="moveToTrash();">
					<i class="fa fa-trash-o icondft_fsize"></i> Delete
				</button>
			</div>
		</div>
	</div>
	<!--modified here-->
	<div class="row mb-30 col-xs-6  hidden-lg hidden-sm hidden-md" *ngIf="sentMessages?.length >0; else addNewTemplateMob">
			<div class="row">
				<div style="padding-left:250px">
					<button class="btn btn-sm deletebtn_color" [disabled]="delete" (click)="moveToTrash();">
						<i class="fa fa-trash-o icondft_fsize"></i> Delete
					</button>
				</div>
			</div>
		</div>
	<div class="scroll-container" (scroll)="LoadOnScroll()" id='scroll-container'>
		<div id='scroll-box' class="col-xs-12">
			<div class="row mb-30">
				<div class="col-md-12">
					<div class="row cursor_pointer" *ngFor="let sentMessage of sentMessages" (click)="this.showMail=true;showMessage(sentMessage)" style="height:65px;background-color: #e0e0e0;color:black;  border: 1px solid  #f5f5f5;border-radius: 6px;margin-bottom: 1px;display: flex; align-items: center;">
						<div class="col-md-1" (click)="$event.stopPropagation()">
							<div class="checkboxes">
								<input type="checkbox" class="input-checkbox" (change)="checkedMail(sentMessage._id,$event)" [(ngModel)]="sentMessage.isSelected"
								 [id]="sentMessage._id" name="selectMessage" />
								<label [attr.for]="sentMessage._id"> </label>
							</div>
						</div>
						<div class="col-md-1">
							<img src="{{sentMessage.ToUserImage}}" class="img-circle" alt="">
						</div>
						<div class="col-md-2">
							<!-- <span *ngIf="sentMessage.To.Mobile">{{sentMessage.To.Mobile}}</span> -->
							{{sentMessage.To.Profile.FirstName ?sentMessage.To.Profile.FirstName :'Jheaps Member'}}
							<!-- <p>Jheaps Member</p> -->
						</div>
						<div class="col-md-4">
							<p class="message_lineheight message_color">{{sentMessage.Subject | shorten : 20:'...'}}</p>
							<p class="message_lineheight">{{sentMessage.Message | shorten : 55:'...'}}</p>
						</div>
						<div class="col-md-1">
							<i class="fa fa-paperclip" style="font-size: 14px; color:black;" aria-hidden="true" *ngIf="sentMessage.Attachment.length>0"></i>
						</div>
						<div class="col-md-1">
							<i class="fa fa-reply" style="font-size: 18px; color:black;" aria-hidden="true" *ngIf="sentMessage.Replies.length>0"></i>
						</div>
						<div class="col-md-2">
							<p class=" message_lineheight message_color">{{sentMessage.CreatedDate | date:'dd MMM yyyy'}}</p>
							<p class=" message_lineheight">{{sentMessage.CreatedDate | date:'HH:mm:ss'}}</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- <nav> 
			<a href="javascript:;" (click)="pageSelectionPrev()"><i class="fa fa-angle-left"></i></a>
			<a href="javascript:;" *ngFor="let page of pages" [class]="currentPage==page?'current':''" (click)="selectPage(page)">{{page}} </a>
			<a href="javascript:;" (click)="pageSelectionNext()"><i class="fa fa-angle-right"></i></a>
	</nav>  -->




	<!-- <div  style="padding-right:120px;padding-left:350px" >
			
			<a href="javascript:;" (click)="pageSelectionPrev()"><button [disabled]="pageNumber<1" class="btn btn-sm btn-dark" ><i class="fa fa-angle-left"></i></button></a>
			<a href="javascript:;"   class="pagination_font">{{pageNumber+1}} out of {{totalPages}}</a>
			<a href="javascript:;" (click)="pageSelectionNext()"><button [disabled]="pageNumber+1==totalPages" class="btn btn-sm btn-dark"><i class="fa fa-angle-right"></i></button></a>
	</div> -->

</section>
<section class=" col-lg-9 col-md-9 col-sm-12 col-xs-12" *ngIf="this.showMail" style="margin-top: 30px;">
	<div class="form-group">
			<button type="button" style="float: right;" class="btn btn-sm btn-color" (click)="this.showAllMessages = true;this.showMail=false;this.composeMail=false;">
			<span class="fa fa-arrow-left" aria-hidden="true"></span></button>
		</div>
		<h3 class=" text-center">{{this.selectedOutboxMessage.Subject}}</h3>
		<!-- <h3 class=" text-center">Jheaps Member</h3> -->
		<div class="mesgs">
			<div class="msg_history">
		
				<div class="incoming_msg" *ngIf ="this.selectedOutboxMessage.From._id  != this.ShowUserId ">
				  <div class="incoming_msg_img"> <img src="{{this.selectedOutboxMessage.FromUserImage}}" class="img-circle" alt=""> </div>
				  <div class="received_msg">
					<div class="received_withd_msg">
					  <p>{{selectedOutboxMessage.Message}}</p>
					  <div class="imgmargin" *ngIf="selectedOutboxMessage.Attachment.length!=0">
							<div  class="row"  >
								<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 imgmargin attachment" *ngFor="let Attach of selectedOutboxMessage.Attachment" >
									<div style="height: 220px;width: 364px;"> 
									<img src="{{Attach.URL}}">
									</div>
									<!-- <i class="fa fa-paperclip" style="font-size: 14px; color:black;" aria-hidden="true"></i> -->
									<a target="_blank" href="{{Attach.URL}}" download="{{Attach.Name}}.jpg">{{Attach.Name}}</a>
								</div>
							</div>
						</div>
					  <span class="time_date">{{selectedOutboxMessage.CreatedDate | date:'dd MMM yyyy HH:mm:ss'}}</span></div>
				  </div>
				</div>
				<div class="outgoing_msg "  *ngIf ="this.selectedOutboxMessage.From._id == this.ShowUserId ">
						<div class="sent_msg">
						  <p>{{selectedOutboxMessage.Message}}</p>
						  <div class="imgmargin" *ngIf="selectedOutboxMessage.Attachment.length!=0">
								  <div  >
									  <div class="imgmargin attachment" *ngFor="let Attach of selectedOutboxMessage.Attachment" >
										  <div style="height: 220px;width: 367px;"> 
										  <img src="{{Attach.URL}}">
										  </div>
										  <!-- <i class="fa fa-paperclip" style="font-size: 14px; color:black;" aria-hidden="true"></i> -->
										  <a target="_blank" href="{{Attach.URL}}" download="{{Attach.Name}}.jpg">{{Attach.Name}}</a>
									  </div>
								  </div>
							  </div>
						  <span class="time_date"> {{selectedOutboxMessage.CreatedDate  | date:'dd MMM yyyy HH:mm:ss'}}</span> </div>
					  </div>
				<!--other replies-->
				<div *ngFor="let Reply of this.selectedReplyMessage">
				<div class="incoming_msg"  *ngIf ="Reply.From._id!= this.ShowUserId ">
						<div class="incoming_msg_img"> <img src="{{Reply.FromUserImage}}" class="img-circle" alt=""> </div>
						<div class="received_msg">
						  <div class="received_withd_msg">
							<p>{{Reply.Reply}}</p>
							<div class="imgmargin" *ngIf="Reply.Attachment.length!=0">
								<div  >
									<div class="imgmargin attachment" *ngFor="let Attach of Reply.Attachment" >
										<div style="height: 220px;width: 364px;"> 
										<img src="{{Attach.URL}}">
										</div>
										<!-- <i class="fa fa-paperclip" style="font-size: 14px; color:black;" aria-hidden="true"></i> -->
										<a target="_blank" href="{{Attach.URL}}" download="{{Attach.Name}}.jpg">{{Attach.Name}}</a>
									</div>
								</div>
							</div>
							<span class="time_date">{{Reply.CreatedDate | date:'dd MMM yyyy HH:mm:ss'}}</span></div>
						</div>
				</div>
				
				<div class="outgoing_msg "  *ngIf ="Reply.From._id == this.ShowUserId ">
				  <div class="sent_msg">
					<p>{{Reply.Reply}}</p>
					<div class="imgmargin" *ngIf="Reply.Attachment.length!=0">
							<div  >
								<div class="imgmargin attachment" *ngFor="let Attach of Reply.Attachment" >
									<div style="height: 220px;width: 367px;"> 
									<img src="{{Attach.URL}}">
									</div>
									<!-- <i class="fa fa-paperclip" style="font-size: 14px; color:black;" aria-hidden="true"></i> -->
									<a target="_blank" href="{{Attach.URL}}" download="{{Attach.Name}}.jpg">{{Attach.Name}}</a>
								</div>
							</div>
						</div>
					<span class="time_date"> {{Reply.CreatedDate | date:'dd MMM yyyy HH:mm:ss'}}</span> </div>
				</div>

			   </div>
		</div>
			  <div class="type_msg">
				<div class="input_msg_write">
				<form name="replyForm" id="replyForm" #replyForm="ngForm" novalidate>
				  <input type="text" class="write_msg" placeholder="Type a message"  id="writeReply" name="writeReply" [(ngModel)]="this.MessageRepliesModel.Reply" #writeReply="ngModel" required/>
				  <button class="attach_btn" value="attach" id="my-button" (click)="loadFile()" type="button"><i class="fa fa-paperclip" aria-hidden="true"></i></button>
				  <button class="msg_send_btn" value="Reply" [disabled]="!replyForm.form.valid" (click)="ReplyMessage()" type="button"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
				  <div *ngIf="writeReply.errors && (writeReply.dirty || writeReply.touched)" class="alert alert-danger">
						<div [hidden]="!writeReply.errors.required">
							 Reply is required
						</div>
				   </div>
				   <div class="row mt-10" style="margin-top: 0%;" >
						<div *ngIf="this.showImgAttachment">
						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" *ngFor="let attach of attachments;let i=index;">
						
							<img src="{{attach.URL}}">
							<i class="fa fa-paperclip" style="font-size: 14px; color:black;" aria-hidden="true"></i>
						
							<a target="_self" href="{{attach.URL}}" download="{{attach.Name}}.jpg">{{attach.Name| shorten : 10	:'...'}}</a>
							<span class="right" (click)="test(attach,i)"><i class="fa fa-close" style="font-size:18px"></i></span>
						</div>
						</div>
					
					<div class="row" style="margin-bottom: 20px;">
						 <input type="file" class="form-control" id="my-file"(change)="ChangeListener($event)">
					</div>
				</div>
				  </form>
				</div>
			  </div>
		</div>

 </section>



<!-- <section class="section-wrap pt-10" *ngIf="!this.showAllMessages" >
	<div class="container">
		<div class="row ">
			<div class="col-md-9">
				<div class="form-group">
					<button type="button" style="float: right;" class="btn btn-sm btn-color" (click)="this.showAllMessages = true">
						<span class="fa fa-arrow-left" aria-hidden="true"></span>
					</button>
				</div>
				<div class="form-group">
					<h2 class="heading relative heading-small uppercase bottom-line style-2 left-align mb-0">{{this.selectedOutboxMessage.Subject}}</h2>
				</div>
				<div class="col-md-11">
					<div class="entry-comments mt-20">
						<ul class="comment-list">
							<li>
								<div class="comment-body">
									<div class="comment-header">
										<div class="row">
											<div class="col-md-2" *ngIf="this.selectedOutboxMessage.hasOwnProperty('UserPicture')">
												<img src="{{this.selectedOutboxMessage.UserPicture}}" class="img-circle" alt="">
											</div>
											<div class="col-md-9">
												<span class="comment-author">From : {{this.selectedOutboxMessage.From.Mobile}}</span>
												<p>To : {{this.selectedOutboxMessage.To.Mobile}}</p>
												<p>subject : {{selectedOutboxMessage.Subject}}</p>
												<p>Date : {{selectedOutboxMessage.CreatedDate | date:'dd MMM yyyy HH:mm:ss'}}</p>
											</div>
											<div class="col-md-1">
												<span class="right" (click)="ReplyDiv()">
													<a href="javascript:;">
														<i class="fa fa-reply" style="font-size: 24px; color:black;" aria-hidden="true"></i>
													</a>
												</span>
											</div>
										</div>
									</div>
									<div class="comment-content">
										<p style="  text-align: justify;text-justify: inter-word;">{{selectedOutboxMessage.Message}}</p>
									</div>
									<div class="comment-content">
										<div *ngIf="selectedOutboxMessage.Attachment.length!=0">
											<div class="row">
												 <div class="col-md-3" *ngFor="let Attach of selectedOutboxMessage.Attachment" >
											<img src="{{Attach.URL}}">
											<i class="fa fa-paperclip" style="font-size: 14px; color:black;" aria-hidden="true"></i>
											<a target="_self" href="{{Attach.URL}}" download="{{Attach.Name}}.jpg">{{Attach.Name}}</a>
										</div> 

												<ul>
													<li class="col-lg-3 col-md-3 col-sm-3 col-xs-3" *ngFor="let attach of selectedOutboxMessage.Attachment">
														<img src="{{attach.URL}}"> 

														<i class="fa fa-paperclip" style="font-size: 14px; color:black;" aria-hidden="true"></i>
														<a target="_self" href="{{attach.URL}}" download="{{attach.Name}}">{{attach.Name| shorten : 10 :'...'}}</a>
														 <span class="right" (click)="test(attach,i)"><i class="fa fa-close" style="font-size:18px"></i></span> 
													</li>
												</ul>

											</div>
										</div>
									</div>
								</div>
							</li>

							<li>
								<div class="comment-body" *ngFor="let Reply of selectedOutboxMessage.Replies">
									<div class="comment-header">
										<div class="row">
											<div class="col-md-2" *ngIf="Reply.hasOwnProperty('FromUserImage')">
												<img src="{{Reply.FromUserImage}}" class="img-circle" alt="">
											</div>
											<div class="col-md-9">
												<p class="comment-author"> Reply To : {{Reply.To.Mobile}}</p>
												<p class="comment-author"> Reply From : {{Reply.From.Mobile}}</p>
												<p>Date : {{Reply.CreatedDate | date:'dd MMM yyyy HH:mm:ss'}}</p>
											</div>
										</div>
									</div>
									<div class="comment-content">
										<p style="  text-align: justify;text-justify: inter-word;">{{Reply.Reply}}</p>
									</div>
									<div class="comment-content">
										<div *ngIf="Reply.Attachment.length!=0">
											<div class="row">
												<div class="col-md-3" *ngFor="let Attach of Reply.Attachment">
													<img src="{{Attach.URL}}">
													<i class="fa fa-paperclip" style="font-size: 14px; color:black;" aria-hidden="true"></i>
													<a target="_self" href="{{Attach.URL}}" download="{{Attach.Name}}.jpg">{{Attach.Name}}</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</li>
							<li id="replyTab" *ngIf="sendReply" style="padding-top: 20px;">
								<form name="replyForm" id="replyForm" #replyForm="ngForm" novalidate>
									<div class="row">
										<label for="writeMessage">Reply:</label>
										<textarea rows="5" id="writeReply1" name="writeReply" [(ngModel)]="this.MessageRepliesModel.Reply" #writeReply="ngModel" required></textarea>
										<div *ngIf="writeReply.errors && (writeReply.dirty || writeReply.touched)" class="alert alert-danger">
											<div [hidden]="!writeReply.errors.required">
												Reply is required
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" *ngFor="let attach of attachments;let i=index;">
											<img src="{{attach.URL}}">
											<i class="fa fa-paperclip" style="font-size: 14px; color:black;" aria-hidden="true"></i>
											<a target="_self" href="{{attach.URL}}" download="{{attach.Name}}.jpg">{{attach.Name| shorten : 10 :'...'}}</a>
											<span class="right" (click)="test(attach,i)">
												<i class="fa fa-close" style="font-size:18px"></i>
											</span>
										</div>
									</div>
									<div class="row" style="margin-bottom: 30px;">
										<input type="file" class="form-control" (change)="ChangeListener($event)">
									</div>
									<input type="submit" class="btn btn-sm btn-color right rounded mt-10" value="Reply" [disabled]="!replyForm.form.valid" (click)="ReplyMessage()">
								</form>
							</li>
							end 1-2 comment
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section> -->

<ng-template #addNewTemplate>
		<div *ngIf="this.pageLoader" class="loader" style="top:250%;left:46%;display: block">
				<svg class="circular" viewBox="25 25 50 50">
				  <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
				</svg>
		</div>
	<div *ngIf="!this.pageLoader" class="hidden-xs" style="margin-top:83px; margin-bottom:50px;margin-right:280px;margin-left:383px">
		<i class="fa fa-trash" style="font-size:150px;">
			<h5> SentBox is Empty</h5>
		</i>
	</div>
	<div class="text-center">

	</div>
</ng-template>
<ng-template #addNewTemplateMob>
		<div *ngIf="this.pageLoader" class="loader" style="top:250%;left:46%;display: block">
				<svg class="circular" viewBox="25 25 50 50">
				  <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
				</svg>
		</div>
	<div *ngIf="!this.pageLoader" class="hidden-lg hidden-md hidden-sm" style="margin-top:83px; margin-bottom:50px;margin-right:280px;margin-left:383px">
		<i class="fa fa-trash" style="font-size:150px;">
			<h5> SentBox is Empty</h5>
		</i>
	</div>
	<div class="text-center">

	</div>
</ng-template>