<style>

	img{
		background-color:#e3f2fd;
		/* image-rendering: auto;
		image-rendering: crisp-edges;
		image-rendering: pixelated; */
		/* background: url('https://upload.wikimedia.org/wikipedia/commons/b/b1/Loading_icon.gif') center no-repeat; */
	}
	/* .loading {
  	background: transparent url('https://upload.wikimedia.org/wikipedia/commons/b/b1/Loading_icon.gif') center no-repeat;
} */
</style>
<style>
	.comment-body{
		padding: 30px 0;
		border-bottom: none;
}
.img_class {
	width: 200px;
	height: 200px;
	object-fit: cover;	
}
.truncate {  
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.imagefit{
	width: 200px;
	height: 115px;
	object-fit: cover;	
}
.borderstyle{
		border-top:1px solid #c4c4c4;
		margin-top:20px;
}
.Clsproduct_price {
    font-size: 14px;
    font-weight: 600;
    font-family: Montserrat, sans-serif;
    color: #000;
    padding: 5px;
}
.Clsshop-catalogue .Clstitle-cover h2{
	margin-top: 10px;
}
.Clsshop-owner-image {
    width: 60px;
    height: 60px;
    border-radius: 50px;
    margin: auto;
    overflow: hidden;
}
.Clsshop-owner-image {
	object-fit: cover;
	height: 60px;
}
.Clsshop-owner-name {
    color: #000;
    font-weight: 500;
}
@media screen and (max-width: 768px) {
	.borderstyle {
	  border-top:0px solid #c4c4c4;
		margin-top:20px;
  }
}
</style>
<section>
	<!-- <div class="container-fluid">
	<div class="row">
		<div *ngIf="ShopDetails.Banner != null">
			<img class="img-responsive shopbanner_maxheight shop-banner-image " width="100%" *ngIf="ShopDetails.Banner" [src]="ShopDetails.BannerDimensions?.editedImage"
			alt="shop banner">
		</div>
	</div>
</div> -->
</section>
<div class="container relative pt-10">
	<div class="row">
			<div class="col-sm-7 col-xs-6">	
		<div class="row">			
		<div class="shop-icon position-relative col-lg-2 col-md-2 col-sm-2 col-xs-12" style="padding-left: 8px;padding-right: 8px;margin-left:4px"
		 data-editable-img="shop-icon" *ngIf="ShopDetails?.LogoDimensions?.editedImage == null">
			<img class="width-full shop-icon-external display-block img-responsive" *ngIf="!edited" [src]="ShopDetails?.Logo"
			 sizes="(min-width: 1500px) 18vw, 30vw" alt="Shop Image">
		</div>
		<!-- <div class="shop-icon position-relative col-lg-2 col-md-2 col-sm-4 col-xs-6"  style="padding-left: 8px;padding-right: 8px;margin-left:4px"data-editable-img="shop-icon" *ngIf="ShopDetails?.LogoDimensions?.editedImage == null">
			<img class="img-thumbnail width-full shop-icon-external display-block img-responsive" *ngIf="!edited" [src]="https://upload.wikimedia.org/wikipedia/commons/b/b1/Loading_icon.gif"
					sizes="(min-width: 1500px) 18vw, 30vw" alt="Shop Image">
		</div> -->
		
		
		<div class="shop-icon position-relative col-lg-2 col-md-2 col-sm-2 col-xs-12" style="padding-left: 8px;padding-right: 8px;margin-left:4px"
		 data-editable-img="shop-icon" *ngIf="ShopDetails?.Logo != null && ShopDetails?.LogoDimensions?.editedImage !=null">
			<img class="width-full shop-icon-external display-block img-responsive" *ngIf="!edited" [src]="ShopDetails?.LogoDimensions?.editedImage"
			 sizes="(min-width: 1500px) 18vw, 30vw" alt="Shop Image">
		</div>
	    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
		<h5>{{ShopDetails.ShopAccountId[0]?.approvedBusinessDetails?.Name}} <a href="javascript:;"  style="margin-left: 10px;"    *ngIf="loadLoginDirectives"><i class="fa fa-heart medium-font" id = 'favShop' [add-favourite-shop]='ShopDetails._id'></i></a></h5>
		<!-- <p>
			{{ShopAddressDetails?.Line1+", " + ShopAddressDetails?.Line2+", "+ ShopAddressDetails?.City}}
		</p>
		 
		<p>
			<i class="fa fa-map-marker" aria-hidden="true"></i> {{ShopAddressDetails?.State+", "+ShopAddressDetails?.Country}}
		</p> -->
		<div class="social-icons">
			<a href="https://twitter.com/share?url=http://demo1.zgroo.com/user/shop/{{this.shopId}}" target="blank" ><i class="fa fa-twitter"></i></a>
			<a href="http://www.facebook.com/sharer.php?u=http://demo1.zgroo.com/user/shop/{{this.shopId}}" target="blank" ><i class="fa fa-facebook"></i></a>
			<a href="https://plus.google.com/share?url=http://demo1.zgroo.com/user/shop/{{this.shopId}}" target="blank" ><i class="fa fa-google-plus"></i></a>
			<a href="http://pinterest.com/pin/create/button/?url=https://www.jheaps.com&media={{ShopDetails.Logo}}" class="pin-it-button" count-layout="horizontal" target="blank"><i class="fa fa-pinterest"></i></a>
			<!--<a href="https://www.vimeo.com" target="blank"><i class="fa fa-vimeo"></i></a>
						<a href="https://www.instagram.com" target="blank"><i class="fa fa-instagram"></i></a>-->

		</div>
		<div style="cursor: pointer;" (click)="viewAllReview()">
			<!-- <rating value="4" [max]="5" [readonly]="true"></rating> -->
			<ngx-stars [color]="'#222'" [readonly]="true" [maxStars]="5"></ngx-stars>
			<span class="rating" *ngIf="reviewtotal">
				<!-- <a href="#displayReview" aria-controls="displayReview" role="tab" data-toggle="tab">{{shopReviews?.length}} Reviews</a>  -->
				<!-- <p style="margin-top: -25px;margin-left: 95px;cursor: pointer;">(<a href="javascript:;;" (click)="viewAllReview()">{{reviewtotal}}</a>)</p> -->
				<p style="margin-top: -25px;margin-left: 95px;">(<a href="javascript:;;">{{reviewtotal}}</a>)</p>
				
			</span>
		</div>
	
	  </div>
		</div>
	</div>
		<div  class="col-lg-offset-1 col-md-offset-1 col-lg-3 col-md-3 col-sm-3 col-xs-6 text-center">
			<h5>Shop Owner</h5>
			<div class="Clsshop-owner-image">
				<img src ="{{this.shopOwner.DisplayPicture}}" alt="Shop Owner" /> 
			</div>
				<p class="Clsshop-owner-name">{{this.shopOwner.FirstName}}</p>
			</div> 
			
		<!-- <span class="rating">  -->
			<!-- <a href="#displayReview" aria-controls="displayReview" role="tab" data-toggle="tab">{{shopReviews?.length}} Reviews</a>  -->
			<!-- <p>{{shopReviews?.length}} <a href="#displayReview" aria-controls="displayReview" role="tab" data-toggle="tab">Reviews</a></p> 
		</span> -->
	</div>

	   <!-- <div  class="col-lg-3 col-md-3 col-sm-5 col-xs-6">
		<h5 style="text-align:center">Shop Owner</h5>
		<div style=" vertical-align:middle; text-align:center">
		<img src ="https://s3.us-east-2.amazonaws.com/zgroo-demo/undefined_1536304068.png" alt="Shop Owner" style = "width:30%;height:30%;border-radius:50% "> 
	    </div>
	    <p style="text-align:center">Sandhya</p>
	    </div>  -->
	
	<!-- <div  [FavArray] class="col-lg-3 col-md-4 col-sm-3 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 hidden-xs text-center shop-owner-image mt--2">
		<img src="{{ShopUserDetails.DisplayPicture}}" class="img-circle img-responsive">
		{{ShopUserDetails.FirstName +" "+ShopUserDetails.LastName}} 
	</div> -->

</div>

<!-- </div> -->
<!--tabs -->

<!--Etsy images -->
<!-- <div class="container-fluid relative">
	<div class="row">
		<div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 product product-grid" style="padding-left: 8px;padding-right: 8px;"
		 *ngFor="let Product of ShopDetails.TopProducts">
			<div class="product-item">
				<div class="product-img hover-1 cursor_pointer">
						<div class="image-color" style="background-color: #e66b57">
						<img class="img-responsive img_class" [BindImage]="Product" [title]="Product?.Name" alt="Shop Page Product"
						(click)="productInfo(Product._id)">
							</div>
						<div class="product-details Clsproduct-bottom">
							<a class="Clsproduct-name text-truncate" href="javascript:;" (click)="productInfo(Product._id)" title="{{Product.Name}}">{{Product?.Name}}</a>
							<span class="Clsproduct_price"><span [BindPrice]='Product' class="ammount"></span></span>
						</div>
				</div>
			</div>
		</div>
	</div>
</div> -->

<div class="container-fluid">
	<div class="row pt-10">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<!-- Nav tabs -->
			<div>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="home">
							<div class="container-fluid">
							<div class="row">
							<!-- Sidebar -->
							<aside class="col-lg-3 col-md-3 col-sm-3 hidden-xs sidebar left-sidebar sticky " id="sidebar">
								<div class="Clssidebar">	
								<div class="panel-group accordion" style="margin-bottom:0px" id="accordion1">

										<div class="panel panel-default">
											<div class="panel-heading">
												<a data-toggle="collapse" data-parent="#accordion1" href="#collapseOne" class="accordion-toggle"
												aria-expanded="true">
													Filter by Price
												</a>
											</div>
											<div id="collapseOne" class="panel-collapse collapse in" aria-expanded="true">
												<div class="panel-body pd-15">
													<ul class="product-actions clearfix">
														<li>
															<div class="quantity buttons_added">
																<label>Price</label>
																<input type="number" id="from" step="1" min="0" value="1" required pattern="[0-9]" title="Minimum limit" class="input-text form-control Clsform-control qty text" [(ngModel)]="adminCriteria.Criteria.Price.From">
															</div>
														</li>
														<li>
															<div class="quantity buttons_added">
																<label>to</label>
																<input type="number" id="to" step="1" min="0" value="1" required pattern="[0-9]" title="Maximum limit" class="input-text form-control Clsform-control qty text" [(ngModel)]="adminCriteria.Criteria.Price.To">
															</div>
														</li>
														<li>
															<button [disabled]="this.adminCriteria.Criteria.Price.From ==null || !this.adminCriteria.Criteria.Price.To" (click)="getDataFromQuery('Price')" class="btn Clscommon_btn_fill Clsgo_btn">Go</button>
														</li>
													</ul>

												</div>
											</div>
										</div>
									</div>

									<div class="panel-group accordion" style="margin-bottom:0px" id="accordion2"  *ngIf="Categories?.length >0">

										<div class="panel panel-default">
											<div class="panel-heading">
												<a data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo" class="accordion-toggle collapsed"
												aria-expanded="false">
													Categories
													<!-- <span>&nbsp;</span> -->
												</a>
											</div>
											<div id="collapseTwo" class="panel-collapse collapse" aria-expanded="false">
												<div class="panel-body pd-15">
													<div class="widget categories" style="margin-bottom: 0px;">
														<ul class="list-dividers">
															<li *ngFor="let Category of Categories; let i = index">
																<!-- <a href="javascript:;" style="text-transform: capitalize;" (click)="getProductsByCategoryId(Category.key)">{{Category.key}}<span>{{Category.doc_count}}</span></a> -->
																<a href="javascript:;" style="text-transform: capitalize;" (click)="getProductsByCategoryId(Category.key,i)">{{Category.key}}</a>
															</li>
														</ul>
													</div>
												</div>
											</div>
										</div>

									</div>

									<div class="panel-group accordion" style="margin-bottom:0px" id="accordion3" *ngIf="ShopSections?.length >0">

										<div class="panel panel-default">
											<div class="panel-heading">
												<a data-toggle="collapse" data-parent="#accordion3" href="#collapseSection" class="accordion-toggle collapsed"
												aria-expanded="false">
													Sections
													<!-- <span>&nbsp;</span> -->
												</a>
											</div>
											<div id="collapseSection" class="panel-collapse collapse" aria-expanded="false">
												<div class="panel-body pd-15">
													<div class="widget categories" style="margin-bottom: 0px;">
														<ul class="list-dividers">
															<li *ngFor="let ShopSection of ShopSections">
																<!-- <a href="javascript:;" style="text-transform: capitalize;" (click)="getProductsBySection(ShopSection)">{{ShopSection?.Name}}<span>{{ShopSection?.doc_count}}</span></a> -->
																<a href="javascript:;" style="text-transform: capitalize;" (click)="getProductsBySection(ShopSection)">{{ShopSection?.Name}}</a>
															</li>
														</ul>
													</div>
												</div>
											</div>
										</div>

									</div>

									<div class="panel-group accordion" style="margin-bottom:0px" id="accordion4"  *ngIf="Attributes?.length >0">

										<div class="panel panel-default">
											<div class="panel-heading">
												<a data-toggle="collapse" data-parent="#accordion4" href="#collapseFour" class="accordion-toggle collapsed"
												aria-expanded="false">
													Attributes
													<!-- <span>&nbsp;</span> -->
												</a>
											</div>
											<div id="collapseFour" class="panel-collapse collapse" aria-expanded="false">
												<div class="panel-body">
													<div class="widget categories" style="margin-bottom: 0px;">
														<ul class="list-dividers">
															<!-- <li *ngFor="let Category of Categories">
																	<a href="javascript:;" style="text-transform: capitalize;" (click)="getProductsByCategoryId(Category.key)">{{Category.key}}<span>{{Category.doc_count}}</span></a>
																</li> -->

															<div class="accordion" id="accordion{{i}}{{i}}" *ngFor="let Attribute of Attributes; let i = index">
																<div class="panel panel-default">
																	<div class="panel-heading" style="font-size: 10px;line-height: 15px;">
																		<a data-toggle="collapse" data-parent="#accordion{{i}}{{i}}" href="#check_{{i}}{{i}}" class="accordion-toggle collapsed"
																		aria-expanded="false">
																			{{Attribute.Name}}
																			<!-- <span>&nbsp;</span> -->
																		</a>
																	</div>

																	<div id="check_{{i}}{{i}}" class="panel-collapse collapse" aria-expanded="false">
																		<div class="panel-body pd-15">
																			<ul *ngIf="Attribute.Name != 'Color' && Attribute.Name != 'Gemstone Color'" class="size-select list-dividers">
																				<li *ngFor="let AttributeValue of Attribute.Values; let j = index">
																					<input type="checkbox" (change)="attributeFiltering(Attribute.Name ,AttributeValue)" class="input-checkbox"
																					id="{{Attribute.Name.split(' ').join('_') | lowercase}}-{{AttributeValue.split(' ').join('_') | lowercase}}"
																					name="check_{{i}}{{j}}" value="check_{{i}}{{j}}">
																					<label for="{{Attribute.Name.split(' ').join('_') | lowercase}}-{{AttributeValue.split(' ').join('_') | lowercase}}"
																					class="checkbox-label">{{AttributeValue}}</label>
																				</li>
																			</ul>
																			<ul *ngIf="Attribute.Name == 'Color' || Attribute.Name == 'Gemstone Color'" class="color-swatches clearfix">
																				<li *ngFor="let AttributeValue of Attribute.Values; let j = index">
																					<a href="javascript:;" title="{{AttributeValue}}" (click)="attributeFiltering(Attribute.Name, AttributeValue)"
																					class="{{checkColorSelected(Attribute.Name, AttributeValue)}} custom-swatch swatch-{{AttributeValue | lowercase}}"></a>
																				</li>
																			</ul>
																		</div>
																	</div>

																</div>
															</div>


														</ul>
													</div>
												</div>
											</div>
										</div>

									</div>
								</div>
								</aside>
								<!-- end sidebar -->
							<div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 catalogue-col right mb-50" id="product-container">
								<div class="Clsshop-catalogue grid-view">
									
									<div class="Clstitle-cover">
											<div class="row">
													<!-- <div class="col-sm-8 col-md-9 col-xs-12 text-left">
														<h2>Showing Results for {{ShopDetails.ShopAccountId[0].approvedBusinessDetails?.Name}}</h2>
													</div> -->

													<div class="shop-filter" class="col-sm-8 col-md-9 col-xs-12 text-left">
														<div class="view-mode hidden-xs">
															<div class="tag-group" *ngFor="let tag of filterTags;let i = index">
																<div class="tag-label">
																	{{tag?.value}}
																</div>
																<div class="tag-close">
																	<a href="javascript:;" (click)="removeFilterTags(tag, i)"><i class="fa fa-times"></i></a>
																</div>
															</div>
														</div>
													</div>

													<div class="col-sm-4 col-md-3 col-xs-12">
															<form class="ecommerce-ordering" *ngIf="Products.length>0">
																<select class="Clsform_select" (change)="getDataFromQuery('Sort')" [(ngModel)]="sort_type" [ngModelOptions]="{standalone: true}">
																	<!-- <option value="">Default Sorting</option> -->
																	<option value="latest">By Latest</option>
																	<option value="price-high-to-low">Price: high to low</option>
																	<option value="price-low-to-high">Price: low to high</option>
																	<option value="rating">By Rating</option>
																	<!-- <option value="latest">By Latest</option> -->
																</select>
															</form>
														</div>
											</div>
									</div>
									<div class="items-grid">
										<!-- <div class="shop-filter">
											<div class="view-mode hidden-xs">
												<div class="tag-group" *ngFor="let tag of filterTags;let i = index">
													<div class="tag-label">
														{{tag?.value}}
													</div>
													<div class="tag-close">
														<a href="javascript:;" (click)="removeFilterTags(tag, i)"><i class="fa fa-times"></i></a>
													</div>
												</div>
											</div>
										</div> -->
										<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 product product-grid" *ngIf="Products?.length < 1">
											<div *ngIf="this.pageLoader" class="loader" style="top:50px;left:46%;display: block">
												<svg class="circular" viewBox="25 25 50 50">
													<circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
												</svg>
											</div>
											<!-- <p *ngIf="!this.pageLoader" class="text-center pt-20">

												No records found
											</p> -->
											<div class="hidden-xs" *ngIf="!this.pageLoader" >
													<div style="margin-top:50px; margin-bottom:50px" class="text-center">
															<i class="fa fa-trash" style="font-size:100px;"></i>
													</div>
													<div class="col-xs-12 text-center">
															<span style="margin:auto;">No Items To Show</span>
													</div>
											</div>
										</div>

										<div>
											<div id='scroll-box' class="col-xs-12" *ngIf="Products?.length > 0">
												<div class="row" >

													<div class="col-lg-3 col-md-3 col-sm-4 col-xs-6  product-grid" style="padding-left: 8px;padding-right: 8px;"
													 *ngFor="let Product of Products">
														<div class="product-item ">
																<div class="product-img hover-1">
																		<a href="javascript:;">
																				<img class="img-responsive  img_class" [BindImage]='Product._source' alt="Product in Shop" title="{{Product._source.Name}}">
																			<span class="product-out-of-stock text-center" [CheckOutOfStock]="Product._source">
																				<h4 class="out-of-stock">OUT OF STOCK</h4>
																			</span> 
																		</a>
							
																		<div class="hover-overlay" style="cursor: pointer;" (click)="productInfo(Product._id)">
																			<div class="product-add-to-wishlist" style="background:transparent;" onclick="event.stopPropagation();">
																				<a href="javascript:;"  *ngIf="loadLoginDirectives">
																					<i class="fa fa-heart" [add-favourite-product]='Product._id'></i>
																				</a>
																			</div>
																			<a class=" product-quickview btn btn-dark btn-md" onclick="event.stopPropagation();" [add-to-cart]='Product._id'>Add to Cart</a>
																		</div>
																	</div>
															<div class="product-details Clsproduct-bottom">
																<a class="text-truncate Clsproduct-name" href="javascript:;" (click)="productInfo(Product._id)"
																	 title="{{ Product._source.Name}}">{{Product._source.Name}}</a>
																<span class="Clsproduct_price"><span [BindPrice]='Product._source' class="ammount"></span></span>
															</div>

															<div class="product-list-details">
																<p class="product-description">
																	{{Product._source?.Description}}
																</p>
																<ul class="product-actions clearfix">
																	<li>
																		<a href="#" class="btn btn-dark btn-md left">Add to Cart</a>
																	</li>
																	<li>
																		<div class="icon-add-to-wishlist left">
																			<a href="#"><i class="fa fa-heart-o"></i></a>
																		</div>
																	</li>
																</ul>
															</div>
														</div>
													</div>
													
													
												</div>
												<div class="row" *ngIf="showItemButton" style="text-align:center;margin-bottom:60px">
														<button type="button" class="mt-40 btn btn-sm btn-color" style="border-color:rgba(0, 0, 0, 0.15);background-color:white;padding-left:48px;padding-right: 48px;"  (click)="viewAllItem()"><span style="color:black">View All Items</span></button>
												</div>
											</div>
											

										</div>

									</div>
									<!-- end row -->

								</div>
								<!-- end grid mode -->



							</div>
							<div *ngIf="this.loader" class="loader" style="top:90%;left:60%;display: block">
								<svg class="circular" viewBox="25 25 50 50">
									<circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
								</svg>
							</div>
							<!-- end col -->
						</div>
						</div>
						
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
