<div class="tabs mb-50">
	<ul class="nav nav-tabs">
		<li id='shopInfo' [routerLinkActive]="['active']">
			<a href="javascript:;" [routerLink]="['/myaccounts/seller/shop-settings/list/shop-info']">Shop Info</a>
		</li>
		<!-- <li id = 'mailcontent' [routerLinkActive]="['active']">
				<a href="javascript:;" [routerLink]="['/myaccounts/seller/shop-settings/list/mail']">Message/Email Content</a>
			</li> -->
		<!-- <li [routerLinkActive]="['active']">
				<a href="javascript:;" [routerLink]="['policies']">Policies</a>
			</li> -->
		<li id='shippingprofile' [routerLinkActive]="['active']">
			<a href="javascript:;" [routerLink]="['/myaccounts/seller/shop-settings/list/shipping-profile']">Shipping
				Profile</a>
		</li>
		<li id='packagedetail' [routerLinkActive]="['active']">
			<a href="javascript:;" [routerLink]="['/myaccounts/seller/shop-settings/list/package-detail']">Default
				Package Detail</a>
		</li>
	</ul>
	<!-- end tabs -->
	<!-- tab content -->
	<div class="tab-content">
		<router-outlet></router-outlet>
	</div>
	<!-- end tab content -->
</div>