<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
	<div class="row mb-20">
		<div class="row">
			<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
				<h4 class="heading relative heading-small uppercase style-2 left-align mb-10 mt-20">
					Status Wise View
				</h4>
				<div class="col-lg-4 col-md-4 col-sm-5 col-xs-6 ml-3">
					<select id="selstatus" (change)="adminStatusfunc($event.target.value)">
						<option disabled>Select</option>
						<option value="UnderReview">Under review</option>
						<option value="Planned">Planned</option>
						<option value="Started">Started</option>
						<option value="Completed">Completed</option>
						<option value="Declined">Declined</option>
						<option value="All">All</option>						
					</select>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
					<input type="submit" class="btn btn-sm btn-color rounded" value="View Status" (click)="statusWise()">
				</div>
			</div>
		</div>
	</div>
	
	<div class="row mt-20" *ngIf="getAllstatus.length==0">
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-lg-offset-6 col-md-offset-6 col-sm-offset-6 col-xs-offset-4">
			<i class="fa fa-exclamation-triangle icon_default" aria-hidden="true"></i>
			<strong>No Results Found</strong>
		</div>
		
	</div>
	<div class="table-wrap" *ngIf="getAllstatus.length>0">
		<table class="table" *ngFor="let group of getAllstatus;let i=index">
			<tbody class="hidden-xs">
				<tr>
					<td [ngClass]="{'active': group.Posts.Pin}" class="table_vertical_align" width="10%"><img src="{{group.Posts.User.Image}}" class="img-circle"/></td>
					<td [ngClass]="{'active': group.Posts.Pin}" class="table_vertical_align" width="45%"><p><strong style="cursor:pointer;" (click)="ViewThread(group.Group.Id,group.Posts._id)" >{{group.Posts.Title | shorten : 100	:'...'}}</strong></p>
						<p><span class="label label-primary">{{group.Posts.Status}}</span></p>
					</td>
				
					<td [ngClass]="{'active': group.Posts.Pin}" class="table_vertical_align" width="10%"><p class="right badge">{{group.Posts.ResponseCount}}</p></td>
					<td [ngClass]="{'active': group.Posts.Pin}" class="table_vertical_align" width="20%">
						<span  class="right">
							<p>{{group.Posts.CreatedDate| date:'dd MMM yyyy'}}</p>
							<p>{{group.Posts.CreatedDate| date:'HH:mm'}}</p>	
						</span>
					</td>
					<td [ngClass]="{'active': group.Posts.Pin}" class="table_vertical_align" width="15%"><p class="right">{{group.Group.Name}}</p></td>
				</tr>
			</tbody>
			
			<tbody  class="hidden-lg hidden-md hidden-sm">
				<tr>
					<td colspan=4 [ngClass]="{'active': group.Posts.Pin}" class="table_vertical_align"><p><strong style="cursor:pointer;" (click)="ViewThread(group.Group.Id,group.Posts._id)" >{{group.Posts.Title | shorten : 100	:'...'}}</strong></p>
						<p><span class="label label-primary">{{group.Posts.Status}}</span></p>
					</td>
				<tr>
					<td colspan=2 [ngClass]="{'active': group.Posts.Pin}" class="table_vertical_align"><p>{{group.Posts.CreatedDate| date:'HH:mm'}}</p></td>	
					<td colspan=2 [ngClass]="{'active': group.Posts.Pin}" class="table_vertical_align"><p class="right">{{group.Group.Name}}</p></td>				
				</tr>
			</tbody>

		</table>
	</div>
	<div class="row mt-20" *ngIf="(currentPage==0 && getAllstatus.length>8)||(currentPage>0)" >
		<div class="right">
			<a href="javascript:;" class="pagination_font">{{pageNumber+1}} out of {{totalPages}}</a>
			<a href="javascript:;">
				<button [disabled]="pageNumber<1" class="btn btn-sm btn-dark" (click)="pageSelectionPrev()" >
					<i class="fa fa-angle-left"></i>
				</button>
			</a>
			<a href="javascript:;">
				<button [disabled]="pageNumber+1==totalPages" class="btn btn-sm btn-dark " (click)="pageSelectionNext()">
					<i class="fa fa-angle-right"></i>
				</button>
			</a>
		</div>
	</div>
</div>