<div>
    <h2 class="heading relative heading-small uppercase bottom-line style-2 left-align mb-0 pt-20">Holidays List</h2>
</div>
<div class="tabs mb-50">

	<ul class="nav nav-tabs">

		<li [routerLinkActive]="['active']">
			<a href="javascript:;" [routerLink]="['add']">Create</a>
		</li>

		<li [routerLinkActive]="['active']">
			<a href="javascript:;" [routerLink]="['edit']">Edit</a>
		</li>
	</ul>
	<!-- end tabs -->


	<!-- tab content -->
	<div class="tab-content">
		<router-outlet></router-outlet>
	</div>
	<!-- end tab content -->
</div>