<style>
input[type="text"],input[type="number"],input[type="email"],input[type="password"] {
	border: none !important;
	margin-bottom: 0px !important;
	padding: 0px !important;
}
</style>
<div>
		<div class="row">
				<h2 class="heading relative heading-small uppercase bottom-line style-2 left-align mb-0">Payment Complete Section</h2>
		</div>
		<div>
		<div class="col-md-4">
				<mat-form-field class="example-full-width">
					<input matInput type="text" placeholder="Settlement Id" [(ngModel)]="this.SettlementId" required>
				</mat-form-field>
			</div>
		</div>

		<div class="col-md-4" style="margin-top:26px;">
			<button type="button" class="btn btn-sm btn-dark" (click)="MakePayment()" [disabled]="this.SettlementId == ''">Get Details</button>	
		</div>

		<div *ngIf="this.SettlementView">
			<table class="table">
                <thead>
                    <tr>
                        <th>Shop Name</th>
                        <th>Order #</th>
                        <th>Invoice #</th>
						<th>CreditDebit #</th>
						<th>NetRevenue</th>
						<th>SettlementDate</th>
						<th>Batch Id</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of SettlementDetail">
                        <td>{{user.ShopName}}</td>
                        <td>{{user.OrderNo}}</td>
						<td>{{user.InvoiceNo}}</td>
                        <td>{{user.CreditDebitNo}}</td>						
						<td>{{user.NetRevenue}}</td> 
                        <td>{{user.SettlementDate}}</td>                 
                        <td>{{user.BatchId}}</td>                 						                
                    </tr>
                </tbody>
            </table>
		</div>

		<div *ngIf="this.SettlementView">
			<button type="button" class="btn btn-sm btn-dark" (click)="MakePaymentupdate()" [disabled]="this.SettlementId == ''">Complete Payment</button>	
		</div>
</div>



