<div *ngIf="packageDetailList?.length; else addNewTemplate">	
	<div class="Clstitle_cover">
            <h2 class="heading relative uppercase bottom-line style-2 left-align mb-0">Default Package Details
                <a href="javascript:;" class="Clstooltip">
                    <i class="fa fa-info-circle"></i>
                    <span class="Clstooltip_text">The package detail listed here will be available for selection in your orders page while adding package detail.</span>
                </a>
            </h2>
        </div>
	<div>
		<input type="button" class="Clscommon_btn_fill small" (click)="addNew()" value="New">
	</div>

	<div class="table-wrap">
		<table class="table" *ngIf="packageDetailList?.length">
			<thead>
				<tr>
					<th>Index</th>
					<th>Package Detail Name</th>
					<th>Edit</th>
					<th>Delete</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let detail of packageDetailList;let i=index">
					<td>{{ i + 1 }}</td>
					<td>{{ detail.name }}</td>
					<td>
						<i class="fa fa-edit" style="font-size:20px;color:black;cursor: pointer;" (click)="edit(detail)"></i>
					</td>
					<td>
						<i class="fa fa-trash-o" style="font-size:20px;color:black; cursor: pointer;" (click)="delete(detail._id)"></i>
					</td>
				</tr>
			</tbody>
		</table>
		<!-- <table class="table" *ngIf="packageDetailList?.length==0">
			<tr>
				<td style="border: none;">No Shipping Profiles Found. Click New to add</td>
			</tr>
		</table> -->
		<!-- <div class="modal fade" id="deleteModal"  role="dialog">
			<div class="modal-dialog model-sm">
				<div class="modal-content">
					<div *ngIf="!deleteModel; else cannotDelete">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">&times;</button>
							<h6 class="modal-title">Delete Modal</h6>
						</div>
						<div class="modal-body">
							<p>Are you sure to Delete this Shipping profile?</p>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-sm btn-color rounded" data-dismiss="modal">Cancel</button>
							<button type="button" class="btn btn-sm btn-color rounded" (click)='delete()'>Delete</button>
						</div>
					</div>

					<ng-template #cannotDelete>
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">&times;</button>
							<h6 class="modal-title">Delete Modal</h6>
						</div>
						<div class="modal-body">
							<p>Cannot delete the Shipping profile, it is linked with {{deleteModelBody}} products</p>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-sm btn-color rounded" data-dismiss="modal">Close</button>
						</div>
					</ng-template>

				</div>
			</div>
		</div> -->
	</div>
</div>

<ng-template #addNewTemplate>

	<!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<h2 class="heading  heading-small uppercase bottom-line style-2 left-align mb-0">Shipping Profile</h2>
	</div> -->
	<div *ngIf="this.pageLoader" class="loader" style="top:130px;left:46%;display: block">
			<svg class="circular" viewBox="25 25 50 50">
			  <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
			</svg>
	</div>
	<div class="pt-20" *ngIf="!this.pageLoader">
	<div class="Clsborder">	
		<div class="row">
			<div class="col-xs-12 text-center">
				<img src="/assets/img/no-results-found.png" alt="no result found" width="250px" class="" />
			</div>
			<div class="col-xs-12 text-center">
				<input type="button" class="Clscommon_btn_fill_small" (click)="addNew()" value="Add New">
			</div>
		</div>
	</div>
	</div>
</ng-template>