<style>
	.alert {
		font-size: 12px !important;
		padding: 0px !important;
		margin-bottom: 10px !important;
		color: #ff0000 !important;
		margin-top: -6px;
	}
	.Clsback_button {
		margin-right: 10px;
	}
</style>
<section>
	<div class="Clstitle-cover-small pb-0" *ngIf="newbutton">
		<h2 class="relative heading-small bottom-line style-2 left-align">Add Shipping Address</h2>
	</div>
	<div class="Clstitle-cover-small pb-0" *ngIf="editbutton">
		<h2 class="relative heading-small bottom-line style-2 left-align">Update Shipping Address</h2>
	</div>
	<form name="addShippingForm" id="addShippingForm" #addShippingForm="ngForm" novalidate>
		<div class="row">
			<div class="col-md-7 col-md-offset-1">
				<div class="row">
					<div class="col-sm-6">
						<mat-form-field class="Clsfull-width">
							<input matInput type="text" id="FirstName" name="FirstName"
								[(ngModel)]="this.addressModel.FirstName" #FirstName="ngModel" pattern="[A-Za-z]{1,15}"
								placeholder="First Name" >
						</mat-form-field>
						<!-- <div *ngIf="FirstName.errors && (FirstName.dirty || FirstName.touched)" class="alert">
							<div [hidden]="!FirstName.errors.required">
								First Name is required
							</div>
							<div [hidden]="!FirstName.errors?.pattern">
								Maximum 15 letters are allowed
							</div>
						</div> -->
					</div>
					<div class="col-sm-6">
						<mat-form-field class="Clsfull-width">
							<input matInput type="text" id="LastName" name="LastName"
								[(ngModel)]="this.addressModel.LastName" #LastName="ngModel" pattern="[A-Za-z]{1,15}"
								placeholder="Last Name" >
						</mat-form-field>
						<!-- <div *ngIf="LastName.errors && (LastName.dirty || LastName.touched)" class="alert">
							<div [hidden]="!LastName.errors.required">
								Last Name is required
							</div>
							<div [hidden]="!LastName.errors?.pattern">
								Maximum 15 letters are allowed
							</div>
						</div> -->
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6">
						<mat-form-field class="Clsfull-width">
							<input matInput type="text" maxlength="30" id="Line1" name="Line1"
								[(ngModel)]="this.addressModel.Line1" #Line1="ngModel" placeholder="Address Line1"
								>
						</mat-form-field>
						<!-- <div *ngIf="Line1.errors && (Line1.dirty || Line1.touched)" class="alert">
							<div [hidden]="!Line1.errors.required">
								Address Line 1 is required
							</div>
							<div [hidden]="!Line1.errors.maxlength">
								Maximum 30 characters are allowed
							</div>
						</div> -->
					</div>
					<div class="col-sm-6">
						<mat-form-field class="Clsfull-width">
							<input matInput type="text" maxlength="30" id="Line2" name="Line2"
								[(ngModel)]="this.addressModel.Line2" #Line2="ngModel" placeholder="Address Line2"
								>
						</mat-form-field>
						<!-- <div *ngIf="Line2.errors && (Line2.dirty || Line2.touched)" class="alert">
							<div [hidden]="!Line2.errors.required">
								Address Line 2 is required
							</div>
							<div [hidden]="!Line2.errors.maxlength">
								Maximum 30 characters are allowed
							</div>
						</div> -->
					</div>
				</div>
				<div class="row">
					<div class="form-group col-sm-6">
						<mat-form-field class="Clsfull-width">
							<mat-label>Select State</mat-label>
							<mat-select id="State" name="State" [(ngModel)]="this.addressModel.State" #State="ngModel"
								>
								<mat-option>None</mat-option>
								<mat-option *ngFor="let states of statesArray" value="{{ states.state_name }}">
									{{states.state_name}}</mat-option>
							</mat-select>
						</mat-form-field>
						<!-- <div *ngIf="State.errors && (State.dirty || State.touched)" style="margin-top:10px;"
							class="alert">
							<div [hidden]="!State.errors.required">
								State is required
							</div>
						</div> -->
					</div>
					<div class="col-sm-6">
						<mat-form-field class="Clsfull-width">
							<input matInput type="text" id="City" name="City" [(ngModel)]="this.addressModel.City"
								#City="ngModel" placeholder="City" >
						</mat-form-field>
						<!-- <div *ngIf="City.errors && (City.dirty || City.touched)" class="alert">
							<div [hidden]="!City.errors.required">
								City is required
							</div>
						</div> -->
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6">
						<mat-form-field class="Clsfull-width">
							<input matInput type="number" id="ZipCode" name="ZipCode"
								[(ngModel)]="this.addressModel.Zip" #ZipCode="ngModel" placeholder="Pincode" >
						</mat-form-field>
						<!-- <div *ngIf="ZipCode.errors && (ZipCode.dirty || ZipCode.touched)" class="alert">
							<div [hidden]="!ZipCode.errors.required">
								Zip Code is required
							</div>
						</div> -->
					</div>
					<div class="col-sm-6 joinphone">
						<mat-form-field class="Clsfull-width">
							<input type="number" matInput id="Phone" name="Phone" [(ngModel)]="this.addressModel.Phone"
								#Phone="ngModel" pattern="[0-9]{1,10}" maxlength="10" placeholder="Mobile Number"
								>
						</mat-form-field>
						<!-- <div *ngIf="Phone.errors && (Phone.dirty || Phone.touched)" class="alert">
							<div [hidden]="!Phone.errors.required">
								Mobile Number is required
							</div>
							<div [hidden]="Phone.errors.maxlength">
								Mobile number cannot be greater than 10 digits long.
							</div>
							<div [hidden]="!Phone.errors.incorrect">
								That Mobile Number is used. Try another.
							</div>
						</div> -->
						<!-- <div *ngIf="Phone.errors && (Phone.dirty || Phone.touched)" class="alert">
										<div [hidden]="!Phone.errors.required">
											  Phone Number is required
										</div>
								   </div> -->
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 col-md-offset-1">
					<button type="button" (click)="goBack();" class="Clscommon_btn_small Clsback_button">
							<span class="fa clsbtn_arrow fa-caret-left" aria-hidden="true"></span>&nbsp;Back
						</button>
				<button type="button" class="Clscommon_btn_fill_small" *ngIf="newbutton" (click)="addAddress()"
					>Add Address</button>
				<button type="button" class="Clscommon_btn_fill_small" *ngIf="editbutton" (click)="editAddress()"
					[disabled]="!addShippingForm.form.valid">Update Address</button>
			</div>
		</div>
	</form>
</section>