.input-text.qty.text {
    width: 50px;
    border-top: 1px solid var(--primary-border-color) !important;
    margin-bottom: 16px !important;
    padding: 0 16px !important;
    border-bottom: 1px solid var(--primary-border-color) !important;
}
.Clscart-msg {
    color: var(--primary-text-color);
}
.Clscommon_btn_fill.Clscoupon-btn {
    padding: 8px 12px !important;
    font-size: 14px !important;
}
.product-thumbnail img {
    object-fit: cover;
    height: 90px;
}
.panel-heading p {
    margin: 0;
}
.product-remove .remove {
    background: none !important;
}
.table.shop_table img {
    min-width: auto !important;
}
.product-remove .remove img {
    min-width: auto !important;
    width: 18px;
    background: #f2f2f2;
    padding: 5px;
}
.table.shop_table tr td.product-name a.Clssave_later {
    font-size: 10px !important;
}
.table.shop_table tr td.product-name a {
    text-transform: unset!important;
    font-weight: 600 !important;
    letter-spacing: .8px !important;
    font-size: 14px !important;
}
.product-name a:hover,
.product-name a:focus {
    color: var(--primary-color);
}
/* .table-wrap .panel-heading {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.table-wrap .panel {
    border-radius: 0;
} */
.table.shop_table .product-thumbnail {
    min-width: 95px;
}
.table.shop_table td.product-quantity {
    min-width: 135px;
}
.Clsdisp_flex {
    display: flex;
}
h2.heading-small {
    letter-spacing: .8px;
}
.product-name a {
    
}
.clscart-btn-cover {
    border-bottom: 1px solid var(--primary-border-color);
    border-top: 1px solid var(--primary-border-color);
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 20px;
    margin-top: 20px;
}
.cart-button-left {
    border-right: 1px solid var(--primary-border-color);
}
.cart-button-left, .cart-button-right {
    padding: 10px;
}
.Clsempty_cart h6 {
    font-weight: 400;
}
.Clsshopping_icon {
    font-size: 80px;
    color: var(--sub-text-color);
}
.Clsadd_address_btn,
.Clsupdate_address_btn,
.Cls_proceed_btn {
    margin-left: 10px;
}
@media (max-width: 767px) {
    .Clsdisp_flex {
        display: block;
    }
    .Clscommon_btn_fill.Clscoupon-btn {
        margin-bottom: 20px;
    }
    .btn.btn-dark {
        padding: 6px;
    }
    .cart-thumbnail {
        margin-left: auto;
        margin-right: 13px;
    }
    .quantity.buttons_added {
        float: right;
        margin-right: 10px;
    }
    .quantity .input-text.qty {
        border-top: 1px solid var(--primary-border-color) !important;
        border-bottom: 1px solid var(--primary-border-color) !important;
    }
    .product-name a.Clsproductname-link {
        margin-left: 10px;
        display: inline-block;
        margin-top: 10px;
    }
    .input-text.Clscoupon-text {
        border: 1px solid var(--primary-border-color) !important;
        padding-left: 10px !important; 
    }
    .Clscheckout-only-shop {
        margin-bottom: 10px;
    }
    .Clsproduct_thumb_cart .cart-thumbnail {
        margin-top: 5px;
        margin-bottom: 5px;
        display: block;
        object-fit: cover;
        height: 100px;
        width: 116px;
    }
    .Clsproduct_edit_cover,
    .Clssub_total {
        margin-left: 10px;
    }
    .Clssave_later .Clsproductname-link {
        margin-left: 0 !important;
    }
    .Clssave_later .Clsproduct_name_cart > div{
        margin-left: 10px;
    }
    .Clsproduct_save {
        margin-right: 5px;
    }
}
@media (max-width: 424px) {
    .Clsproduct_name_cart, .Clsproduct_thumb_cart {
        margin: 0 10px !important;
        width: 93% !important;
    }
    .Clsproduct_name_cart .ammount {
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
    }
    .Clsproduct_thumb_cart .quantity.buttons_added {
        padding: 0 10px;
        width: 92%;
    }
    .Clsproduct_thumb_cart .quality-minus {
        margin-left: 0;
        float: left;
        position: absolute;
        left: 0;
        width: 40px;
        height: 40px;
    }
    .Clsproduct_thumb_cart .quality-plus {
        float: left;
        position: absolute;
        right: 0;
        width: 40px;
        height: 40px;
    }
    .Clsproduct_thumb_cart .quantity .input-text.qty {
        width: 100% !important;
        float: left;
        width: 40px;
        height: 40px;
    }
    .Clsproduct_thumb_cart .cart-thumbnail {
        max-height: 100%;
        max-width: 100%;
        width: 100%;
        height: 150px;
        padding: 0 10px;
    }
    .clscart-btn-cover {
        font-size: 12px;
    }
    .Clscheckout-only-shop {
        letter-spacing: .8px;
    }
    .Clscouponfield {
        width: 100%;
        margin-bottom: 10px;
    }
    .Clsproduct_edit_cover li {
        display: block;
        margin-bottom: 5px;
    }
    
}