<style>
	.noselect {
		-webkit-touch-callout: none;
		/* iOS Safari */
		-webkit-user-select: none;
		/* Safari */
		-khtml-user-select: none;
		/* Konqueror HTML */
		-moz-user-select: none;
		/* Firefox */
		-ms-user-select: none;
		/* Internet Explorer/Edge */
		user-select: none;
		/* Non-prefixed version, currently
										supported by Chrome and Opera */
	}

	.infocus {
		/* outline-style: solid;
		outline-width: 2px;
		outline-color: lightskyblue; */
		border-color: var(--primary-text-color);
		border-width: 3px;
		border-radius: 5px;

	}

	.g-recaptcha {
		display: none;
	}

	.infocus .uppercase {
		text-transform: uppercase;
		letter-spacing: .05em;
		/* border-bottom: 3px solid var(--primary-text-color); */
	}

	.outfocus {
		outline-style: solid;
		outline-width: 2px;
		outline-color: white;
	}

	.alert {
		font-size: 12px !important;
		padding: 0px !important;
		margin-bottom: 10px !important;
		color: #ff0000 !important;
		margin-top: -6px;
	}

	input[type="text"],
	input[type="number"],
	input[type="email"],
	input[type="password"] {
		border: none !important;
		margin-bottom: 0px !important;
		padding: 0px !important;
	}

	.sticky {
		position: fixed;
		top: 65px;
	}

	.sticky-bottom {
		position: fixed;
		bottom: 330px;
	}

	.captcha {
		margin-top: 20px;
		margin-bottom: 20px;
		text-align: center;
		font-family: "GNUTypewriterStandard";
		font-size: 37px;
		font-style: italic;
		background-color: #f5f5f5;
		width: 100%;
		color: #2cb8a5;
		letter-spacing: -4px;

	}

	.correct {
		position: relative;
		margin: 0 auto;
		text-align: center;
	}

	.loader {
		top: unset;
	}
</style>
<div class="main-wrapper shop oh">
	<!-- Cart -->
	<section class="section shopping-cart">
		<div class="container-fluid relative">
			<toaster-container></toaster-container>
			<form style="margin-left:15px;" name="addShippingForm" id="addShippingForm" #addShippingForm="ngForm" novalidate>
				<div class="row pb-20 mt-2" *ngIf="!CartProducts?.length">
					<div class="text-center col-xs-12 Clsempty_cart">
						<div class="Clsshopping_icon"><i class="fa fa-shopping-basket"></i></div>
						<h6 class="mb-20" *ngIf="this.getUserToken!=null">Your cart is empty</h6>
						<h6 class="" *ngIf="this.getUserToken==null && this.tempCartCount!=null">Product is still in your cart!
							Login
							in to proceed checkout!</h6>
						<h6 class="mb-20" *ngIf="this.tempCartCount==null && this.getUserToken==null">Your cart is empty</h6>
						<a href="javascript:;" [routerLink]="['']" class="Clscommon_btn_fill">Keep shopping</a>
					</div>
				</div>

				<div class="row m-2 Clssave_later" *ngIf="!CartProducts?.length && savedForLaterProducts?.length">
					<div class="table-wrap mb-30 ml-1">
						<div class="panel panel-default">
							<div class="panel-heading">
								<p>{{savedForLaterProducts.length}} items saved for later</p>
							</div>
							<div class="panel-body">
								<table class="shop_table cart table table-responsive mb-2">
									<thead>
										<tr>
											<th colspan="1"></th>
											<th class="cart-product-name text-center">Product</th>
											<th class="product-price text-center">Price</th>
											<th class="product-quantity text-center">Quantity</th>
											<th class="product-subtotal text-center">Total</th>
										</tr>
									</thead>
									<tbody>
										<tr class="cart_item" *ngFor="let saveForLaterProduct of savedForLaterProducts">
											<td class="product-thumbnail">
												<a href="javascript:;">
													<img [src]="MediaImage(saveForLaterProduct)" [title]="saveForLaterProduct.Product.Name"
														alt="Product-Image">
												</a>
											</td>
											<td class="product-name">
												<span class="label label-warning" *ngIf="saveForLaterProduct.Product?.IsProductDeleted">The
													Product is not currently available</span>
												<a href="javascript:;" class="Clsproductname-link"
													[title]="saveForLaterProduct.Product.Name">{{saveForLaterProduct.Product.Name | shorten: 40: ' ...'}}</a>
												<ul class="clearfix Clsproduct_edit_cover">
													<li *ngIf="saveForLaterProduct?.Variation">{{saveForLaterProduct.Variation.Name1}}:
														{{saveForLaterProduct.Variation.Value1}}</li>
													<li *ngIf=" saveForLaterProduct?.Variation && saveForLaterProduct?.Variation?.Name2">
														{{saveForLaterProduct.Variation?.Name2}}: {{saveForLaterProduct.Variation?.Value2}}</li>
													<li>
														<a href="javascript:;" (click)="saveCartProduct(saveForLaterProduct, true)">Move to Cart</a>
													</li>
												</ul>
											</td>
											<td class="product-price text-center">
												<span class="ammount"
													*ngIf="saveForLaterProduct.Variation?.Price">{{this.productCurrency.value + saveForLaterProduct.Variation.Price}}</span>
												<span class="ammount"
													*ngIf="!saveForLaterProduct.Variation?.Price && saveForLaterProduct.Product.Price">{{this.productCurrency.value + saveForLaterProduct.Product.Price}}</span>
											</td>
											<td class="product-quantity text-center">
												<span class="amount">{{saveForLaterProduct.Qty}}</span>
											</td>
											<td class="product-subtotal text-center" *ngIf="saveForLaterProduct.Variation?.Price">
												<span
													class="ammount">{{this.productCurrency.value + (saveForLaterProduct.Variation.Price * saveForLaterProduct.Qty)}}</span>
												<br />
												<span class="ammount">({{this.productCurrency.value + saveForLaterProduct.Variation.Price}}
													each)</span>
											</td>
											<td class="product-subtotal text-center"
												*ngIf="!saveForLaterProduct.Variation?.Price && saveForLaterProduct.Product.Price">
												<span
													class="ammount">{{this.productCurrency.value + (saveForLaterProduct.Product.Price * saveForLaterProduct.Qty)}}</span>
												<br />
												<span class="ammount">({{this.productCurrency.value + saveForLaterProduct.Product.Price}}
													each)</span>
											</td>
											<td class="product-remove">
												<a href="javascript:;" class="remove" title="Remove this item"
													(click)="deleteSavedForLater(saveForLaterProduct)"><img width="12px" height="12px"
														src="assets/img/close-button.png" alt="close" /></a>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
				<div class="row pb-20 mt-30">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" *ngIf="CartProducts?.length>0">
						<p *ngIf="!this.buyNow" class="Clscart-msg col-lg-6 col-md-6 col-sm-6 col-xs-12 fs-20">
							{{CartProducts.length}}
							Item(s) in your cart</p>
						<p *ngIf="this.buyNow" class="col-lg-6 col-md-6 col-sm-6 col-xs-6 fs-20">Click "PLACE ORDER" to proceed
							checkout!</p>
						<div class="row" *ngIf="showError">
							<div class="alert alert-danger fade in alert-dismissible" role="alert">
								<strong>Error !</strong> {{' ' + errorMsg}}
							</div>
						</div>
					</div>

					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 Clsdisp_flex">
						<div class="col-lg-9 col-md-9 col-sm-12 ">
							<div class="table-wrap mb-30 ml-1 hidden-xs" *ngIf="CartProducts?.length">
								<div class="panel panel-default" *ngFor="let shopName of shopLists; let i=index">
									<div class="panel-heading text-uppercase">
										<span>{{shopName.name}} ({{ shopListArray[shopName.name][0].length }})</span>
									</div>
									<div class="panel-body">
										<table class="shop_table cart table table-responsive mb-2" style="padding-bottom: 20px">
											<thead>
												<tr>
													<th colspan="1"></th>
													<th class="cart-product-name text-center" colspan="2">Product</th>
													<th class="product-quantity text-center">Quantity</th>
													<th class="product-subtotal text-center" colspan="2">Total</th>
												</tr>
											</thead>
											<tbody>
												<tr [ngClass]="{'product-not-found': cartProduct.Product.IsProductDeleted}" class="cart_item"
													*ngFor="let cartProduct of shopListArray[shopName.name][0]; let j=index">
													<td colspan="1" class="product-thumbnail">
														<a href="javascript:;">
															<img [src]="MediaImage(cartProduct)" alt="Product Image"
																[title]="cartProduct.Product.Name" (click)="productInfo(cartProduct.Product._id)">
														</a>
													</td>
													<td colspan="2" class="product-name">
														<span class="label label-warning" *ngIf="cartProduct.Product?.Deleted">The Product is not
															currently available</span>
														<a href="javascript:;" (click)="productInfo(cartProduct.Product._id)"
															[title]="cartProduct.Product.Name">{{cartProduct.Product.Name | shorten: 40: ' ...'}}</a>
														<ul *ngIf="cartProduct?.Variation">
															<li *ngIf="!cartProduct.productEdit">{{cartProduct.Variation.Name1}}:
																{{cartProduct.Variation.Value1}}</li>
															<li *ngIf="!cartProduct.productEdit && cartProduct.Variation?.Name2">
																{{cartProduct.Variation?.Name2}}: {{cartProduct.Variation?.Value2}}</li>
															<li *ngIf="cartProduct.productEdit" style="white-space: nowrap;">
																<div class="color-select clearfix" style="display: inline-block;margin-right: 20px;"
																	*ngFor="let VariationList of cartProduct.Product?.VariationList; let i= index">
																	<p>{{VariationList.Name }}:</p>
																	<select name="product-variation" [(ngModel)]="cartPrdVariationModel[i].name"
																		(ngModelChange)="variationChange(cartProduct)">
																		<option disabled selected value="">Select a Variation</option>
																		<option *ngFor="let value of VariationList.Value; let j =index;" [value]="value">
																			{{value}}
																		</option>
																	</select>
																</div>
															</li>
															<li>
																<a href="javascript:;" *ngIf="!cartProduct?.productEdit"
																	(click)="editCartProduct(cartProduct)">Edit</a>
																<button type="button" class="btn btn-sm btn-color" *ngIf="cartProduct?.productEdit"
																	(click)="updateCartProduct(cartProduct)" [disabled]="!variation_id">Save</button>
																<button type="button" class="btn btn-sm btn-color" *ngIf="cartProduct?.productEdit"
																	(click)="cartProduct.productEdit = !cartProduct.productEdit">Cancel</button>
															</li>
														</ul>
														<ul>
															<li>
																<a *ngIf="!guestUser" style="color: gray;" href="javascript:;" class="Clssave_later"
																	(click)="saveForLaterCartProduct(cartProduct)">Save for later</a>
															</li>
														</ul>
													</td>

													<td colspan="1" class="product-quantity text-center Clsproduct_quantity">

														<div class="quantity buttons_added">
															<input type="button" value="-" class="quantity-minus"
																(click)="minusQuantity(cartProduct)" />
															<input type="number" class="input-text qty text" id="Quantity"
																[(ngModel)]="cartProduct.Qty" [ngModelOptions]="{gettersetter: true}"
																(blur)='validateQuantity(cartProduct)' name="Quantity" #Quantity="ngModel" step="1"
																min="1" title="Qty" />
															<input type="button" value="+" class="quantity-plus pull-right"
																(click)="plusQuantity(cartProduct)" />
														</div>


													</td>
													<td colspan="2" class=" product-subtotal text-center" *ngIf="cartProduct.Variation?.Price">
														<span
															class="ammount">{{this.productCurrency.value + (cartProduct.Variation.Price * cartProduct.Qty)}}</span>
														<br />
														<span class="ammount"
															*ngIf="cartProduct.Qty>1">({{this.productCurrency.value + cartProduct.Variation.Price}}
															each)</span>
														<div *ngIf="cartProduct.Product?.ReductionAmount > 0"
															style="margin-top: 10px;margin-left: 78px;">
															<i class="tostm material-icons m-icons ano"
																style="margin-right: 3px;font-size:18px;color: white">check</i>
															<p style="float:left">Coupon Applied</p>
														</div>
													</td>
													<td colspan="2" class=" product-subtotal text-center"
														*ngIf="!cartProduct.Variation?.Price && cartProduct.Product.Price">
														<span
															class="ammount">{{this.productCurrency.value + (cartProduct.Product.Price * cartProduct.Qty)}}</span>
														<br />
														<span class="ammount"
															*ngIf="cartProduct.Qty>1">({{this.productCurrency.value + cartProduct.Product.Price}}
															each)</span>
														<div *ngIf="cartProduct.Product?.ReductionAmount > 0"
															style="margin-top: 10px;margin-left: 78px;">
															<i class="tostm material-icons m-icons ano"
																style="margin-right: 3px;font-size:18px;color: white">check</i>
															<p style="float:left">Coupon Applied</p>
														</div>
													</td>
													<td colspan="1" class="product-remove ">
														<a href="javascript:; " class="remove " (click)="deleteCartProduct(cartProduct)"
															title="Remove this item "><img width="12px" height="12px"
																src="assets/img/close-button.png" alt="close" /></a>
													</td>
												</tr>
												<tr>
													<td colspan="3" *ngIf="!isBuyNowCart && shopLists.length > 1">
														<button [disabled]="!shopListArray[shopName.name][0].CODAvail && this.paymentMethod == 'COD'" class="btn btn-md btn-dark pull-right"
														 (click)="changeAddress(shopName.id)">Checkout from only this shop</button>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
							<div class="modal fade in" id="contactShopModal" tabindex="-1" role="dialog"
								aria-labelledby="myModalLabel">
								<div class="modal-dialog" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">×</span>
											</button>
											<h4 class="modal-title" id="myModalLabel">Contact Shop</h4>
										</div>
										<div class="modal-body">
											<form>
												<div class="form-group">
													<label for="exampleInputSubject">Subject</label>
													<input type="text" id="exampleInputSubject" placeholder="Subject" name="subject"
														[(ngModel)]="this.selectedShopInfo.Subject">
												</div>
												<div class="form-group">
													<label for="exampleInputMessage">Message</label>
													<textarea rows="10" id="exampleInputMessage" placeholder="Message" name="message"
														[(ngModel)]="this.selectedShopInfo.Message"></textarea>
												</div>
												<button type="submit" class="btn btn-color" (click)="sendMessageToShop()">Send Message</button>
											</form>
										</div>
									</div>
								</div>
							</div>


							<div class="table-wrap mb-30 ml-1 hidden-xs Clssave_later"
								*ngIf="CartProducts?.length && savedForLaterProducts?.length">
								<div class="panel panel-default">
									<div class="panel-heading">
										<p>{{savedForLaterProducts.length}} items saved for later</p>
									</div>
									<div class="panel-body">
										<table class="shop_table cart table table-responsive mb-2">
											<thead>
												<tr>
													<th colspan="1"></th>
													<th class="cart-product-name text-center">Product</th>
													<th class="product-price text-center">Price</th>
													<th class="product-quantity text-center">Quantity</th>
													<th class="product-subtotal text-center">Total</th>
												</tr>
											</thead>
											<tbody>
												<tr class="cart_item" *ngFor="let saveForLaterProduct of savedForLaterProducts">
													<td class="product-thumbnail">
														<a href="javascript:;">
															<img [src]="MediaImage(saveForLaterProduct)" [title]="saveForLaterProduct.Product.Name"
																alt="Product-Image" (click)="productInfo(saveForLaterProduct.Product._id)">
														</a>
													</td>
													<td class="product-name">
														<span class="label label-warning" *ngIf="saveForLaterProduct.Product?.IsProductDeleted">The
															Product is not currently available</span>
														<a href="javascript:;" class="Clsproductname-link"
															[title]="saveForLaterProduct.Product.Name"
															(click)="productInfo(saveForLaterProduct.Product._id)">{{saveForLaterProduct.Product.Name | shorten: 40: ' ...'}}</a>
														<ul>
															<li *ngIf="saveForLaterProduct?.Variation">{{saveForLaterProduct.Variation.Name1}}:
																{{saveForLaterProduct.Variation.Value1}}</li>
															<li *ngIf=" saveForLaterProduct?.Variation && saveForLaterProduct?.Variation?.Name2">
																{{saveForLaterProduct.Variation?.Name2}}: {{saveForLaterProduct.Variation?.Value2}}</li>
															<li>
																<a href="javascript:;" (click)="saveCartProduct(saveForLaterProduct, true)">Move to
																	Cart</a>
															</li>
														</ul>
													</td>
													<td class="product-price text-center">
														<span class="ammount"
															*ngIf="saveForLaterProduct.Variation?.Price">{{this.productCurrency.value + saveForLaterProduct.Variation.Price}}</span>
														<span class="ammount"
															*ngIf="!saveForLaterProduct.Variation?.Price && saveForLaterProduct.Product.Price">{{this.productCurrency.value + saveForLaterProduct.Product.Price}}</span>
													</td>
													<td class="product-quantity text-center">
														<span class="amount">{{saveForLaterProduct.Qty}}</span>
													</td>
													<td class=" product-subtotal text-center" *ngIf="saveForLaterProduct.Variation?.Price">
														<span
															class="ammount">{{this.productCurrency.value + (saveForLaterProduct.Variation.Price * saveForLaterProduct.Qty)}}</span>
														<br />
														<span class="ammount"
															*ngIf="saveForLaterProduct.Qty>1">({{this.productCurrency.value + saveForLaterProduct.Variation.Price}}
															each)</span>
													</td>
													<td class=" product-subtotal text-center"
														*ngIf="!saveForLaterProduct.Variation?.Price && saveForLaterProduct.Product.Price">
														<span
															class="ammount">{{this.productCurrency.value + (saveForLaterProduct.Product.Price * saveForLaterProduct.Qty)}}</span>
														<br />
														<span class="ammount"
															*ngIf="saveForLaterProduct.Qty>1">({{this.productCurrency.value + saveForLaterProduct.Product.Price}}
															each)</span>
													</td>
													<td class="product-remove">
														<a href="javascript:;" class="remove" title="Remove this item"
															(click)="deleteSavedForLater(saveForLaterProduct)"><img width="12px"
																src="assets/img/close-button.png" alt="close" /></a>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>


						<div class="col-xs-12 hidden-lg hidden-md hidden-sm">
							<div class="table-wrap mb-30 ml-1" *ngIf="CartProducts?.length">
								<div class="panel panel-default" *ngFor="let shopName of shopLists; let i=index">
									<div class="panel-heading text-uppercase">
										<span>{{shopName.name}}</span>
									</div>
									<div class="panel-body">
										<div class="hidden-lg hidden-sm hidden-md col-xs-12 cart-xs">
											<div [ngClass]="{'product-not-found': cartProduct.Product.IsProductDeleted}" class="cart_item-xs"
												*ngFor="let cartProduct of shopListArray[shopName.name][0]; let j=index">
												<div class="container-fluid">
													<div class="row">
														<div class="col-xs-6 product-name Clsproduct_name_cart">
															<span class="label label-warning" *ngIf="cartProduct.Product?.Deleted">The Product is not
																currently available</span>
															<a href="javascript:;" class="Clsproductname-link"
																(click)="productInfo(cartProduct.Product._id)"
																[title]="cartProduct.Product.Name">{{cartProduct.Product.Name | shorten: 40: ' ...'}}</a>
															<div class="product-subtotal Clssub_total" *ngIf="cartProduct.Variation?.Price">
																<span
																	class="ammount">{{this.productCurrency.value + (cartProduct.Variation.Price * cartProduct.Qty)}}</span>
																<br />
																<span class="ammount"
																	*ngIf="cartProduct.Qty>1">({{this.productCurrency.value + cartProduct.Variation.Price}}
																	each)</span>
															</div>

															<div class="product-subtotal Clssub_total"
																*ngIf="!cartProduct.Variation?.Price && cartProduct.Product.Price">
																<span
																	class="ammount">{{this.productCurrency.value + (cartProduct.Product.Price * cartProduct.Qty)}}</span>
																<br />
																<span class="ammount"
																	*ngIf="cartProduct.Qty>1">({{this.productCurrency.value + cartProduct.Product.Price}}
																	each)</span>
															</div>
															<ul class="clearfix Clsproduct_edit_cover" *ngIf="cartProduct?.Variation">
																<li *ngIf="!cartProduct.productEdit">
																	<strong>{{cartProduct.Variation.Name1}}: </strong> {{cartProduct.Variation.Value1}}
																</li>
																<li *ngIf="!cartProduct.productEdit && cartProduct.Variation?.Name2">
																	<strong>{{cartProduct.Variation?.Name2}}: </strong>{{cartProduct.Variation?.Value2}}
																</li>
																<li *ngIf="cartProduct.productEdit" style="white-space: nowrap;">
																	<div class="color-select clearfix" style="display: inline-block;margin-right: 20px;"
																		*ngFor="let VariationList of cartProduct.Product?.VariationList; let i= index">
																		<p>{{VariationList.Name }}:</p>
																		<select name="product-variation" [(ngModel)]="cartPrdVariationModel[i].name"
																			(ngModelChange)="variationChange(cartProduct)">
																			<option disabled selected value="">Select a Variation</option>
																			<option *ngFor="let value of VariationList.Value; let j =index;" [value]="value">
																				{{value}}
																			</option>
																		</select>
																	</div>
																</li>
																<li class="Clsproduct_button_cover">
																	<a href="javascript:;" class="Clscommon_btn_fill_small Clsproduct_edit"
																		*ngIf="!cartProduct?.productEdit" (click)="editCartProduct(cartProduct)">Edit</a>
																	<button type="button" class="Clscommon_btn_fill_small Clsproduct_save"
																		*ngIf="cartProduct?.productEdit" (click)="updateCartProduct(cartProduct)"
																		[disabled]="!variation_id">Save</button>
																	<button type="button" class="Clscommon_btn_small Clsproduct_cancel"
																		*ngIf="cartProduct?.productEdit"
																		(click)="cartProduct.productEdit = !cartProduct.productEdit">Cancel</button>
																</li>
															</ul>

															<p *ngIf="cartProduct.Product?.ReductionAmount > 0">*Coupon Applied with
																<b>{{cartProduct.Coupon.Code}}</b> and
																<b>Rs.{{cartProduct.Product.ReductionAmount * cartProduct.Qty}}</b> has been discounted
																<li>
																	<a href="javascript:;" (click)="cancelCoupon(cartProduct)">Remove coupon</a>
																</li>
															</p>
														</div>

														<div class="col-xs-6 Clsproduct_thumb_cart">
															<a href="javascript:;">
																<img class="cart-thumbnail" [src]="MediaImage(cartProduct)" alt="Product Image"
																	[title]="cartProduct.Product.Name" (click)="productInfo(cartProduct.Product._id)">
															</a>
															<!--quantity buttons-->
															<div class="quantity buttons_added product-quantity text-center">
																<input type="button" value="-" class="quality-minus"
																	(click)="minusQuantity(cartProduct)" />
																<input type="number" class="input-text qty" id="Quantity" [(ngModel)]="cartProduct.Qty"
																	[ngModelOptions]="{gettersetter: true}" (blur)='validateQuantity(cartProduct)'
																	name="Quantity" #Quantity="ngModel" step="1" min="1" title="Qty" />
																<input type="button" value="+" class="quality-plus pull-right"
																	(click)="plusQuantity(cartProduct)" />
															</div>
														</div>
													</div>
												</div>
												<div class="container-fluid">
													<div class="row clscart-btn-cover text-center">
														<div *ngIf="!guestUser" class="col-xs-6 cart-button-left">
															<a href="javascript:;" style="color: gray;" class="Clssave_later"
																(click)="saveForLaterCartProduct(cartProduct)">
																Save for later</a>
														</div>
														<div class="col-xs-6 cart-button-right">
															<a href="javascript:; " class="Clsremove-from-cart"
																(click)="deleteCartProduct(cartProduct)">
																Remove </a>
														</div>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-xs-12" *ngIf="!isBuyNowCart">
													<button [disabled]="!shopListArray[shopName.name][0].CODAvail && this.paymentMethod == 'COD'"
														class="btn Clscheckout-only-shop btn-md btn-dark form-control pull-right"
														(click)="CheckoutfromShop(shopName.id)">Checkout from only this shop</button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="table-wrap mb-30 ml-1 Clssave_later"
								*ngIf="CartProducts?.length && savedForLaterProducts?.length">
								<div class="panel panel-default">
									<div class="panel-heading">
										<p>{{savedForLaterProducts.length}} items saved for later</p>
									</div>
									<div class="panel-body cart-xs" style="margin:15px;">
										<div class="cart_item-xs" *ngFor="let saveForLaterProduct of savedForLaterProducts">
											<div class="container-fluid">
												<div class="row">
													<div class="col-xs-6 Clsproduct_name_cart">
														<div class="product-name ">
															<span class="label label-warning"
																*ngIf="saveForLaterProduct.Product?.IsProductDeleted">The
																Product is not currently available</span>
															<a href="javascript:;" class="Clsproductname-link"
																[title]="saveForLaterProduct.Product.Name"
																(click)="productInfo(saveForLaterProduct.Product._id)">{{saveForLaterProduct.Product.Name | shorten: 40: ' ...'}}</a>
															<ul>
																<li *ngIf="saveForLaterProduct?.Variation">
																	<strong>{{saveForLaterProduct.Variation.Name1}}:</strong>
																	{{saveForLaterProduct.Variation.Value1}}</li>
																<li *ngIf=" saveForLaterProduct?.Variation && saveForLaterProduct?.Variation?.Name2">
																	<strong>{{saveForLaterProduct.Variation?.Name2}}:</strong>
																	{{saveForLaterProduct.Variation?.Value2}}</li>

															</ul>
														</div>
														<div class="product-price">
															<strong>Price: </strong>
															<span class="ammount"
																*ngIf="saveForLaterProduct.Variation?.Price">{{this.productCurrency.value + saveForLaterProduct.Variation.Price}}</span>
															<span class="ammount"
																*ngIf="!saveForLaterProduct.Variation?.Price && saveForLaterProduct.Product.Price">{{this.productCurrency.value + saveForLaterProduct.Product.Price}}</span>
														</div>
														<div class="product-quantity">
															<strong>Quantity: </strong>
															<span class="amount">{{saveForLaterProduct.Qty}}</span>
														</div>
														<div class="product-subtotal" *ngIf="saveForLaterProduct.Variation?.Price">
															<strong>Sub-Total: </strong>
															<span
																class="ammount">{{this.productCurrency.value + (saveForLaterProduct.Variation.Price * saveForLaterProduct.Qty)}}</span>
															<br />
															<span
																class="ammount">({{this.productCurrency.value + saveForLaterProduct.Variation.Price}}
																each)</span>
														</div>
														<div class=" product-subtotal"
															*ngIf="!saveForLaterProduct.Variation?.Price && saveForLaterProduct.Product.Price">
															<span
																class="ammount">{{this.productCurrency.value + (saveForLaterProduct.Product.Price * saveForLaterProduct.Qty)}}</span>
															<br />
															<span class="ammount">({{this.productCurrency.value + saveForLaterProduct.Product.Price}}
																each)</span>
														</div>
													</div>
													<div class="Clsproduct_thumb_cart col-xs-6">
														<a href="javascript:;">
															<img [src]="MediaImage(saveForLaterProduct)" class="cart-thumbnail"
																[title]="saveForLaterProduct.Product.Name" alt="Product-Image"
																(click)="productInfo(saveForLaterProduct.Product._id)">
														</a>
													</div>
												</div>
											</div>
											<div class="container-fluid">
												<div class="row clscart-btn-cover text-center">
													<div class="col-xs-6 cart-button-left">
														<a href="javascript:;" (click)="saveCartProduct(saveForLaterProduct, true)">Move to Cart</a>
													</div>
													<div class="col-xs-6 cart-button-right">
														<a href="javascript:; " (click)="deleteCartProduct(cartProduct)">Remove </a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>


						<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12" *ngIf="CartProducts?.length > 0">
							<div class=" panel panel-default" id="order_review">
								<div class="panel-heading text-uppercase">
									<span>Your Order</span>
								</div>
								<div class="panel-body">
									<table class="table shop_table table-responsive ">
										<tbody>
											<tr class="cart-subtotal ">
												<th>Cart subtotal</th>
												<td>
													<span [currencyValue]="productCurrency" class="ammount">
														{{this.productCurrency.value + this.cartCostDetails.totalCost}}</span>
												</td>
											</tr>
											<tr class="cart-subtotal" *ngIf="this.cartCostDetails.totalReductionAmount>0">
												<th>Coupon Discount</th>
												<td>
													<span [currencyValue]="productCurrency" class="ammount text-success">
														{{ this.productCurrency.value + this.cartCostDetails.totalReductionAmount}}</span>
												</td>
											</tr>
											<tr class="shipping ">
												<th>Shipping</th>
												<td>
													<span [currencyValue]="productCurrency">
														{{ this.productCurrency.value + this.cartCostDetails.totalShippingCost}}</span>
												</td>
											</tr>
											<tr class="order-total ">
												<th>
													<strong>Order total</strong>
												</th>
												<td>
													<strong>
														<span [currencyValue]="productCurrency"
															class="ammount">{{ this.productCurrency.value + this.cartCostDetails.cartTotal}}</span>
													</strong>
												</td>
											</tr>
										</tbody>
									</table>
									<div id="payment" class="ecommerce-checkout-payment pb-10 mb-10">
										<h2 class="heading relative heading-small uppercase  style-2 left-align  mb-30">payment method</h2>
										<ul class="methods mb-20" *ngIf="paymentView">
											<li class="payment_method_paypal">
												<input id="payment_method_paypal" type="radio" class="input-radio" name="payment_method"
													value="paypal">
												<label for="payment_method_paypal">Paypal</label>
												<img src="http://deothemes.com/envato/afela/html/img/shop/paypal.png" alt="">
												<div class="payment_box payment_method_paypal" style="display: none;">
													<p>Pay via PayPal; you can pay with your credit card if you don’t have a PayPal account.
													</p>
												</div>
											</li>
										</ul>
										<ul class="methods mb-20" *ngIf="!paymentView">
											<li class="payment_method_paypal mb-10">
												<input type="radio" class="input-radio" name="radio" id="radio2" value="Payu" checked="checked"
													(click)="netBanking()">
												<label for="radio2">Net Banking/Debit Card/Credit Card</label>
												<div style="margin-top: 15px; padding-left:25px;">
													<div>
														<span style="text-align:center;margin-right: 5px;">
															<i class="fa fa-cc-mastercard fa-2x"></i>
														</span>
														<span style="text-align:center; margin-right: 5px;">
															<i class="fa fa-credit-card fa-2x"></i>
														</span>
														<span style="text-align:center; margin-right: 5px;">
															<i class="fa fa-cc-visa fa-2x"></i>
														</span>
													</div>
												</div>
												<div class="payment_box payment_method_paypal" style="display: none;">
													<p>Pay via PayU. You can pay with your credit card if you don’t have a PayPal account.
													</p>
												</div>
											</li>
											<li class="payment_method_paypal mb-10">
												<input id="cod" type="radio" name="payment_method">
												<input type="radio" class="input-radio" name="radio" [disabled]="guestUser" id="radio1"
													value="COD" (click)=cashOnDelivery();>
												<label for="radio1">COD (Cash On Delivery)</label>
											</li>
											<li *ngIf="Showcaptcha" style="text-align:center">
												<div *ngIf="!this.loader" style="background-color:#f5f5f5;margin-top:16px;height:53px">

													<div style="float:left;width:80%">
														<img class="img-responsive" [src]="this.captchaDisplayed" />
													</div>
													<div style="float:right">
														<span class="fa fa-refresh" style="font-size: 23px;margin-top:15px; margin-right: 20px;
														color: #7a7a7a" (click)="generateCaptcha()"></span>
													</div>
												</div>
												<div *ngIf="this.loader" style="margin-top:50px;height:12px">
													<div class="loader" style="width:5em;height:5em;display: block !important">
														<svg class="circular" viewBox="25 25 50 50">
															<circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2"
																stroke-miterlimit="10" />
														</svg>

													</div>
												</div>
												<input type="text"
													style="margin-top:16px;border:1px solid #e0e0e0 !important;padding:0 16px !important;outline:none"
													name="captchaEntered" [readonly]="!this.captchaVerify" [(ngModel)]="captchaEntered"
													id="captchaEntered" class="input-text form-control" (keyup)="validateCaptcha()" maxlength="5"
													placeholder="Enter the above characters" />
												<div *ngIf="captchaerror" class="alert" style="margin-top:8px">
													Enter correct characters to place order
												</div>


											</li>
										</ul>
										<div class="form-row place-order" style="float: none;">
											<input *ngIf="!IsOrderCreating" [disabled]="this.captchaVerify" type="submit"
												name="ecommerce_checkout_place_order"
												(click)="changeAddress('1');this.editbutton = false;this.newbutton = false;this.backbutton = false;"
												class="btn Clscommon_btn_fill" id="place_order" value="Place order">
											<button *ngIf="IsOrderCreating" class="btn btn-lg btn-color">
												<i class="fa fa-refresh fa-spin" aria-hidden="true"></i>
												Creating order...
											</button>
										</div>
										<div class="form-row place-order" style="float: none; margin-top:20px">
											<input type="button" name="ecommerce_continue_shop" [routerLink]="['']"
												class="Clscommon_btn" id="contunue_shop" value="Continue Shopping">
										</div>
									</div>
								</div>
							</div>
							<div class="row icon-boxes style-3" style="height:auto;">
								<div class="modal fade" id="selectAddress" role="dialog">
									<div class="modal-dialog modal-lg">
										<div class="modal-content">
											<div class="modal-header" style="padding:10px">
												<div class="row">
													<div class="col-xs-9 col-sm-8">
														<h4 class="modal-title">Shipping Address</h4>
													</div>
													<div class="col-xs-3 col-sm-4 text-right">
														<button type="button" class="btn btn-sm btn-dark" *ngIf="backbutton"
															(click)="AddShippingAddressTemp=false;this.editbutton = false;this.newbutton = false;this.backbutton = false;">
															<span class="fa fa-arrow-left" aria-hidden="true"></span>
														</button>
													</div>
												</div>
											</div>
											<div class="modal-body" style="padding-top:20px;padding-bottom:0px">
												<div class="row" style="margin-left: -8px;" *ngIf="!AddShippingAddressTemp">
													<div class="col-lg-4 col-md-4 col-sm-4 xol-xs-4 mb-20"
														style="padding-left:8px;padding-right:8px;"
														*ngFor="let Details of AddressSwapJson;let i=index">
														<div class="address-box" (click)="setDefault(Details)"
															[ngClass]="Details.IsPrimary ?'infocus':'outfocus'">
															<p class="right">
																<input id="select_address" type="radio" class="input-group-text" style="display:block;"
																	[checked]="Details.IsPrimary || ShippingAddress.length == 1" name="Address">
															</p>
															<p class="uppercase">
																<strong>{{Details.FirstName+" "+Details.LastName}}</strong>
															</p>
															<p style=" line-height: 1;">
																{{Details.Line1}}
															</p>
															<p style=" line-height: 1;">
																{{Details.Line2}}
															</p>
															<p style=" line-height: 1;">
																{{Details.City}}
															</p>
															<p style=" line-height: 1;">
																{{Details.State}}
															</p>
															<p style=" line-height:1">
																{{Details.Country}} - {{Details.Zip}}
															</p>
															<p style=" line-height:1">
																Phone number: {{Details.Phone}}
															</p>
															<div>
																<span>
																	<a href="javascript:;"
																		(click)="editAddress(Details._id);this.backbutton = true;">Edit</a>
																</span>
															</div>
														</div>
													</div>
												</div>
												<div class="row" *ngIf="AddShippingAddressTemp">

													<div class="row">
														<div class="col-lg-10 col-md-10 col-sm-10 col-xs-12 col-md-offset-2">
															<div class="row mt-2">
																<div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
																	<mat-form-field class="example-full-width">

																		<input matInput type="text" maxlength="15" id="FirstName" name="FirstName"
																			[(ngModel)]="this.addressModel.FirstName" #FirstName="ngModel"
																			placeholder="First Name" pattern="[A-Za-z]{1,15}" pattern1="/[a-zA-Z0-9^ ]/"
																			required>
																	</mat-form-field>
																	<div *ngIf="FirstName.errors && (FirstName.dirty || FirstName.touched)" class="alert">
																		<div [hidden]="!FirstName.errors.required">
																			First Name is required
																		</div>
																		<div *ngIf="FirstName.errors?.pattern1">
																			User name not valid.
																		</div>
																	</div>
																</div>
																<div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
																	<mat-form-field class="example-full-width">

																		<input matInput type="text" maxlength="15" id="LastName" name="LastName"
																			[(ngModel)]="this.addressModel.LastName" #LastName="ngModel"
																			placeholder="Last Name" pattern="[A-Za-z]{1,15}" required>
																	</mat-form-field>
																	<div *ngIf="LastName.errors && (LastName.dirty || LastName.touched)" class="alert">
																		<div [hidden]="!LastName.errors.required">
																			Last Name is required
																		</div>
																	</div>
																</div>
															</div>
															<div class="row">
																<div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
																	<mat-form-field class="example-full-width">
																		<input matInput type="text" maxlength="50" id="Line1" name="Line1"
																			[(ngModel)]="this.addressModel.Line1" #Line1="ngModel" placeholder="Address Line1"
																			required>
																	</mat-form-field>
																	<div *ngIf="Line1.errors && (Line1.dirty || Line1.touched)" class="alert">
																		<div [hidden]="!Line1.errors.required">
																			Address Line 1 is required
																		</div>
																		<div [hidden]="!Line1.errors.maxlength">
																			Maximum 50 characters are allowed
																		</div>
																	</div>
																</div>
																<div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
																	<mat-form-field class="example-full-width">
																		<input matInput type="text" maxlength="50" id="Line2" name="Line2"
																			[(ngModel)]="this.addressModel.Line2" #Line2="ngModel" placeholder="Address Line2"
																			required>
																	</mat-form-field>
																	<div *ngIf="Line2.errors && (Line2.dirty || Line2.touched)" class="alert">
																		<div [hidden]="!Line2.errors.required">
																			Address Line 2 is required
																		</div>
																		<div [hidden]="!Line2.errors.maxlength">
																			Maximum 50 characters are allowed
																		</div>
																	</div>
																</div>
															</div>
															<div class="row">
																<div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
																	<mat-form-field>
																		<mat-label>Select State</mat-label>
																		<mat-select class="form-control mb-0" id="State" name="State"
																			[(ngModel)]="this.addressModel.State" #State="ngModel" required
																			(change)="stateChanged(this.addressModel.State)" [(value)]="selected">
																			<mat-option>None</mat-option>
																			<mat-option *ngFor="let states of statesArray" value="states.state_name">
																				{{states.state_name}}</mat-option>
																		</mat-select>
																	</mat-form-field>

																	<div *ngIf="State.errors && (State.dirty || State.touched)" class="alert"
																		style="margin-top:15px">
																		<div [hidden]="!State.errors.required">
																			State is required
																		</div>
																	</div>
																</div>
																<div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
																	<mat-form-field class="example-full-width">
																		<input matInput type="text" id="City" name="City"
																			[(ngModel)]="this.addressModel.City" #City="ngModel" placeholder="City" required>
																	</mat-form-field>
																	<div *ngIf="City.errors && (City.dirty || City.touched)" class="alert">
																		<div [hidden]="!City.errors.required">
																			City is required
																		</div>
																	</div>
																</div>
															</div>


															<div class="row mt-2">
																<div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
																	<mat-form-field class="example-full-width">

																		<input matInput type="number" max="9999999" id="ZipCode" name="ZipCode"
																			[(ngModel)]="this.addressModel.Zip" #ZipCode="ngModel" placeholder="Zipcode"
																			pattern="[1-9][0-9]{5}" required>
																	</mat-form-field>
																	<div *ngIf="ZipCode.errors && (ZipCode.dirty || ZipCode.touched)" class="alert">
																		<div [hidden]="!ZipCode.errors.required">
																			Zip Code is required
																		</div>
																	</div>
																</div>
																<div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
																	<mat-form-field class="example-full-width">
																		<input matInput type="number" max="9999999999" id="Phone" name="Phone"
																			[(ngModel)]="this.addressModel.Phone" #Phone="ngModel" placeholder="Phone Number"
																			pattern="[6789][0-9]{9}" required>
																	</mat-form-field>
																	<div *ngIf="Phone.errors && (Phone.dirty || Phone.touched)" class="alert">
																		<div [hidden]="!Phone.errors.required">
																			Phone Number is required
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>

												</div>
											</div>
											<div class="modal-footer">
												<div class="row">
													<div class="col-xs-12 col-sm-6 text-left mb-10">
														<span *ngIf="!AddShippingAddressTemp">
															<a class="Clscommon_btn_fill_small Clsadd_address"
																(click)="addShippingAddress();this.backbutton = true;"
																[hidden]="ShowUserAddress?.length==4" href="javascript:;">Add address</a></span>
													</div>
													<div class="col-xs-12 col-sm-6">
														<button type="button" class="Clscommon_btn_small" data-dismiss="modal">Cancel</button>
														<button *ngIf="!AddShippingAddressTemp" type="button" (click)="proceed()"
															class="Clscommon_btn_fill_small Cls_proceed_btn" data-dismiss="modal">Proceed</button>
														<button type="button" class="Clscommon_btn_fill_small Clsadd_address_btn" *ngIf="newbutton"
															(click)="addAddress();" [disabled]="!addShippingForm.form.valid">Save</button>
														<button type="button" class="Clscommon_btn_fill_small Clsupdate_address_btn"
															*ngIf="editbutton" (click)="updateAddress();"
															[disabled]="!addShippingForm.form.valid">Update Address</button>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</section>
</div>