<h1>Top Seller Report (Revenue)<span *ngIf="showReport && reportData.length>0" style="padding-left:423px;"><a href="javascript:;;" (click)="DownloadReport()"> <i class="fa fa-download"></i></a></span></h1> 

<div class="table-wrap mt-15 col-lg-12 col-md-12 col-sm-12 hidden-xs" *ngIf="showReport" >
    <div>
        <button type="button" class="btn btn-sm btn-color" (click)=" goBack()">
            <span class="fa fa-arrow-left" aria-hidden="true"></span>
        </button>
    </div>
    <table class="table table-condensed">
        <thead>
            <tr>
                <th>#</th>
                <th> Seller Name</th>

                <th> NetRevenue Seller</th>
                <th>NetRevenue Admin</th>   
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of  reportData; let i = index">
                <td>{{i+1}}</td>
                <td  style="cursor: pointer;" (click)="selectedProduct(data);">{{data.SellerName}}</td>

                <td style="cursor: pointer;" (click)=" selectedProduct(data);">
                    {{data.NetRevenueSeller}}
                </td>
         
                <td  style="cursor: pointer;" (click)="selectedProduct(data);">{{data.NetRevenueAdmin}}</td>


            </tr>
        </tbody>
    </table>      
</div>

<div *ngIf="!showReport">
        <div>
                <button type="button" class="btn btn-sm btn-color" (click)=" goBack1()">
                    <span class="fa fa-arrow-left" aria-hidden="true"></span>
                </button>
            </div>
    <div class="row purchase_container mt-2" style="border: none;margin: 0">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class=" panel panel-default">
                <div class="panel-heading text-uppercase">
                    <span><strong>Seller Income Details</strong></span>
                </div>
                <div class="panel-body">
    
                    <div class="row">
                        <div class="col-md-6">
                            <!-- <p><strong>Shop ID </strong> </p> -->
                            <p><strong>Gross Revenue </strong> </p>
                            <p><strong> Discount</strong></p>
                            <p> <strong>Shipping Cost From Buyer</strong></p>
                            <p>
                                <strong>Collection Fee</strong>
                            </p>
                            <p> <strong>Fixed Fee</strong></p>
                            <p> <strong>GST</strong></p>
    
                            <p> <strong>Seller Income</strong></p>
    
                         
                        </div>
                        <div class="col-md-6">
                            <!-- <p>:
                                <span class="amount right"> {{reportData.ShopId}}</span>
                            </p> -->
                            <p>:
                                <span class="amount right"> {{productData.GrossRevenue}}</span>
                            </p>
                            <p>:
                                <span class="amount right"> {{productData.Discount}}</span>
                            </p>
                            <p>:
                                <span class="amount right"> {{productData.BuyerShippingCost}}</span>
                            </p>
                    
                            <p>:
                                <span class="amount right"> {{productData.CollectionFee}}</span>
                            </p>
                            <p>:
                                <span class="amount right"> {{productData.FixedFee}}</span>
                            </p>
                            <p>:
                                <span class="amount right"> {{productData.GST}}</span>
                            </p>
                            <p>:
                                <span class="amount right"> {{productData.NetRevenueSeller}}</span>
                            </p>
                          
                        </div>
                    </div>
            </div>
        </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading text-uppercase">
                    <span><strong>Admin Revenue Details</strong></span>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            
                            <p><strong>MarketPlace Commission </strong> </p>
                            <p> <strong>Shipping Cost Seller</strong></p>
                            <p>
                                <strong>Admin Shipping Cost</strong>
                            </p>
                            <p> <strong>Admin Revenue</strong></p>
    
                            <p>
                                <strong></strong>
                            </p>                    </div>
                        <div class="col-md-6">
                               
                            <p>:
                                <span class="amount right"> {{productData.MarketPlaceCommission}}</span>
                            </p>
                           
                            <p>:
                                <span class="amount right"> {{productData.SellerShippingCost}}</span>
                            </p>
                    
                            <p>:
                                <span class="amount right"> {{productData.AdminShippingCost}}</span>
                            </p>
                            <p>:
                                <span class="amount right"> {{productData.NetRevenueAdmin}}</span>
                            </p>
                            <p style="color:white">:
                                <span class="amount right"> </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <ng-template #addNewTemplate>
                <div class="hidden-xs">
                        <div style="margin-top:150px; margin-bottom:50px" class="text-center">
                                <i class="fa fa-trash" style="font-size:100px;"></i>
        
                        </div>
                        <div class="col-xs-12 text-center">
                                <span style="margin:auto;">No Orders To Show</span>
                        </div>
                </div>
        </ng-template>