<h1>Settled Transactions<span *ngIf="reportData.length>0 && showlist" style="padding-left:423px;"><a href="javascript:;;" (click)="DownloadReport()"> <i
    class="fa fa-download"></i></a></span></h1>
<div *ngIf="!showlist">
<button type="button" class="btn btn-sm btn-color" (click)=" goBack()">
<span class="fa fa-arrow-left" aria-hidden="true"></span>
</button>
</div>

<div class=" purchase_container" *ngIf="!showlist">
<div class="row purchase_title" style="margin-left: 0px; margin-right: 0px;">
<div class="col-md-6">
    <p class="text-center">
        <strong>Order #</strong>
    </p>
    <h2 class="counter-text head text-center">{{ this.selectedReport.OrderId}}</h2>
</div>
<div class="col-md-6">
    <p class="text-center">
        <strong>Settlement Amount</strong>
    </p>
    <h2 class="counter-text head text-center">{{this.selectedReport.SettlementAmount}}</h2>
</div>

</div>
<table class="table" style="margin-top:30px">
    <thead>
        <tr>
            <th></th>
            <th class="text-align: left">Settlement Details</th>
            <th></th>
            <th class="text-align:left"></th>
            <!-- <th class="text-center">Total Percentage</th> -->
          
        </tr>
    </thead>
    <tbody>
        <tr> 
             <th></th>
            <td  class="text-align:left">Order Date </td>
            <th>:</th>
            <td class="text-align:left"> {{ this.selectedReport.OrderDate | date:'dd MMM yyyy HH:mm:ss'}}</td>
            <!-- <td class="text-center">{{  this.TotalCustomerReturn.TotalWSorMIPercentage}} </td> -->
           
          
        </tr>
        <tr> 
             <th></th>
            <td  class="text-align:left">Order Completion Date </td>
            <th>:</th>
            <td class="text-align:left"> {{ this.selectedReport.OrderCompletionDate}}</td>
            <!-- <td class="text-center">{{this.TotalCustomerReturn.TotalPQPercentage}} </td> -->
           
        </tr>
        <tr>  
            <th></th>
            <td  class="text-align:left">Invoice Id</td>
            <th >:</th>
            <td class="text-align:left">{{ this.selectedReport.InvoiceId}} </td>
            <!-- <td class="text-center">{{  this.TotalCustomerReturn.TotalDaPPercentage}} </td> -->
           
        </tr>
        <tr>  
            <th></th>
            <td  class="text-align:left">Invoice Date</td>
            <th >:</th>
            <td class="text-align:left"> {{ this.selectedReport.InvoiceDate | date:'dd MMM yyyy HH:mm:ss'}}</td>
            <!-- <td class="text-center">{{this.TotalCustomerReturn.TotalDePPercentage}} </td> -->
           
        </tr>
      
        <tr> 
             <th></th>
            <td  class="text-align:left">Settlement Date</td>
            <th>:</th>
            <td class="text-align:left"> {{ this.selectedReport.SettlementDate | date:'dd MMM yyyy HH:mm:ss'}} </td>
            <!-- <td class="text-center">{{this.TotalCustomerReturn.TotaldefecttotalPercentage}} </td> -->
           
        </tr>
        <tr> 
                <th></th>
               <td  class="text-align:left">Settlement Amount</td>
               <th>:</th>
               <td class="text-align:left">{{ this.selectedReport.SettlementAmount}}</td>
               <!-- <td class="text-center">{{this.TotalCustomerReturn.TotaldefecttotalPercentage}} </td> -->
              
           </tr>
           <tr> 
                <th></th>
               <td  class="text-align:left">Settlement Id</td>
               
               <th>:</th>
               <td class="text-align:left"> {{ this.selectedReport.SettlementId}} </td>
               <!-- <td class="text-center">{{this.TotalCustomerReturn.TotaldefecttotalPercentage}} </td> -->
              
           </tr>
    </tbody>
</table>


</div>

<div class="col-md-12 mt-15" *ngIf="showlist">
<button type="button" class="btn btn-sm btn-color" (click)=" goBack1()">
<span class="fa fa-arrow-left" aria-hidden="true"></span>
</button>
<table class="table table-condensed">
<thead>
<tr>
    <th>#</th>
    <th> Shop Id</th>
    <th> Shop Name</th>
    <th> Order #</th>
    <th>Order date</th>
    <th>Settlement Amount</th>

</tr>
</thead>
<tbody>
<tr *ngFor="let data of  reportData; let i = index">
    <td>{{i+1}}</td>
    <td style="cursor: pointer;" (click)=" selectedProduct(data);">
        {{data.ShopId}}
    </td>
    <td style="cursor: pointer;" (click)=" selectedProduct(data);">
        {{data.ShopName}}
    </td>
    <td style="cursor: pointer;" (click)=" selectedProduct(data);">
        {{data.OrderId}}
    </td>

    <td style="cursor: pointer;" (click)="selectedProduct(data);">{{data.OrderDate | date:'dd MMM yyyy HH:mm:ss'}}</td>
    <td style="cursor: pointer;" (click)="selectedProduct(data);">Rs. {{data.SettlementAmount}}</td>
</tr>
</tbody>
</table>
</div>