<h1>Seller Order Cancellation <span *ngIf="reportData?.length>0" style="padding-left:423px;"><a href="javascript:;;" (click)="DownloadReport()"> <i class="fa fa-download"></i></a></span></h1>


<div>
        <button type="button" class="btn btn-sm btn-color" (click)=" goBack1()">
            <span class="fa fa-arrow-left" aria-hidden="true"></span>
        </button>
    </div>
    <div *ngIf="reportData?.length>0;else addNewTemplate">
    <div class=" purchase_container">
        <div class="row purchase_title m-0" style="margin-bottom: -18px;" *ngIf="this.showDate">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <p>
                        <strong>Start Date : {{this.reportsModel.ReportType?.StartDate | date:'dd MMM yyyy'}}</strong>
                    </p>
                 
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                </div> 
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                </div>
               
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <p>
                        <strong>End Date : {{this.reportsModel.ReportType?.ExpiryDate | date:'dd MMM yyyy'}}</strong>
                    </p>
                  
                </div>
              
        </div>
        <div class="row purchase_title m-0" style="margin-bottom: -18px;" *ngIf="!this.showDate">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <p>
                        <strong>Month : {{this.Month }}</strong>
                    </p>
                 
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                </div> 
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    </div> 
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <p>
                        <strong>Year : {{this.Year }}</strong>
                    </p>
                  
                </div>
              
        </div>

        <div class="row purchase_title" style="margin-left: 0px; margin-right: 0px;">
            <div class="col-md-3">
                <p >
                    <strong>Total Orders</strong>
                </p>
                <h2 class="counter-text head">{{ this.Results1.TotalOrders}}</h2>
            </div>
            <div class="col-md-3">
                <p >
                    <strong>Cancelled by Buyer</strong>
                </p>
                <h2 class="counter-text head ">{{ this.Results1.TotalCancelByBuyer}}</h2>
            </div>
            <div class="col-md-3">
                <p >
                    <strong>Cancelled by Seller</strong>
                </p>
                <h2 class="counter-text head ">{{this.Results1.TotalCancelBySeller}}</h2>
            </div>
            <div class="col-md-3">
                    <p >
                        <strong>Total Cancellation Rate</strong>
                    </p>
                    <h2 class="counter-text head ">{{this.Results1.TotalCancellationRate}}</h2>
                </div>
          
        </div>
            
    </div>

    <div class="table-wrap mt-15 col-lg-12 col-md-12 col-sm-12 hidden-xs" *ngIf="showShop" >
            <div>
        
            <table class="table">
                <thead>
                    <tr>
                        <th class="text-center">#</th>
                        <th class="text-center">Shop Name</th>
                        <th class="text-center">Shop Id</th>
                        <th class="text-center">Total No Of Orders</th>
                        <th class="text-center">Order Cancelled By Buyer</th>
                        <th class="text-center" >Order Cancelled By Seller</th>
                        <th class="text-center">Seller Calcellation Rate</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of reportData; let i = index" >
                        <td class="text-center">{{i+1}}</td>
                        <td  class="text-center" style="cursor: pointer;">
                            {{data.ShopName}}
                        </td>
                 
                        <td class="text-center" style="cursor: pointer;" >{{data.ShopId}}</td>
        
                        <td class="text-center" style="cursor: pointer;"  >{{data.Result[0].Totalorders}}</td>
        
        
                        <td class="text-center" style="cursor: pointer;" >{{data.Result[0].OrdersCancelledByBuyer}}</td>
                        <td class="text-center" style="cursor: pointer;" >{{data.Result[0].OrdersCancelledBySeller}}</td>

                        <td class="text-center" style="cursor: pointer;" >{{data.Result[0].CancellationRate}}</td>

        
                    </tr>
                </tbody>
            </table>
        </div>
        </div>
    </div> 
    <ng-template #addNewTemplate>
            <div class="hidden-xs">
                    <div style="margin-top:150px; margin-bottom:50px" class="text-center">
                            <i class="fa fa-trash" style="font-size:100px;"></i>
    
                    </div>
                    <div class="col-xs-12 text-center">
                            <span style="margin:auto;">No Order Cancellation To Show</span>
                    </div>
            </div>
    </ng-template>   