<div class="row">
   <div class="col-md-12">
      <h2 class="heading relative heading-small uppercase bottom-line style-2 left-align mb-0">Special Offers - Column Mapping</h2>
      <!-- <div class="col-md-6 pt-20 pb-20">
			<label for="">Limit</label>
			<div class="input-group" *ngIf="!specialOfferUpdate">
			  	<input type="text" [(ngModel)]="this.productDisplayLimit" class="form-control" aria-label="">
			</div> 
			<div class="input-group" *ngIf="specialOfferUpdate">
			  	<input type="text" [(ngModel)]="this.productDisplayLimit" class="form-control" aria-label="">
			  	<a href="javascript:;" class="input-group-addon" (click)="updateSpecialOfferTitles()">Update</a>
			</div>          		
	  </div> -->
    <form id = "fourColumnForm" #fourColumnForm = "ngForm">
	  <div class="row">
			<div class="col-md-6 pt-20">
					<label for="">Number of Items per column</label>
					<div class="input-group">
						<mat-form-field>
						  <input matInput style="border: none;" type="number" [(ngModel)]="SpecialOfferTitlesList.Limit" class="form-control" id ="lim" name = "lim" min="1" required placeholder="Enter the limit">
						</mat-form-field>
						<!-- <div *ngIf="lim.errors && (lim.dirty || lim.touched)" class="alert">
							<div [hidden]="!lim.errors.required">
								Limit is required!
							</div>
						</div> -->
					</div>
			  </div>
		  <div class="col-md-6 pt-20">
				<label for="">Column 1</label>
        		<div class="input-group">
					<mat-form-field>
						<input matInput style="border: none;" type="text" [(ngModel)]="SpecialOfferTitlesList.ColumnOne" class="form-control" id ="col1" name = "col1" required placeholder="Column One Name">
					</mat-form-field>
					<!-- <div *ngIf="col1.errors && (col1.dirty || col1.touched)" class="alert">
						<div [hidden]="!col1.errors.required">
							Column 1 is required!
						</div>
					</div> -->
				</div>
		  </div>
		  <div class="col-md-6 pt-20">
				<label for="">Column 2</label>
        		<div class="input-group">
					<mat-form-field>
						<input matInput style="border: none;" type="text" [(ngModel)]="SpecialOfferTitlesList.ColumnTwo" class="form-control" id ="col2" name = "col2" required placeholder="Column Two Name">
					</mat-form-field>
					<!-- <div *ngIf="col2.errors && (col2.dirty || col2.touched)" class="alert">
						<div [hidden]="!col2.errors.required">
							Column 2 is required!
						</div>
					</div> -->
				</div>
		  </div>
		  <div class="col-md-6 pt-20">
				<label for="">Column 3</label>
        		<div class="input-group">
					<mat-form-field>
						<input matInput style="border: none;"  type="text" [(ngModel)]="SpecialOfferTitlesList.ColumnThree" class="form-control" id ="col3" name = "col3" required placeholder="Column Three Name">
					</mat-form-field>
					<!-- <div *ngIf="col3.errors && (col3.dirty || col3.touched)" class="alert">
						<div [hidden]="!col3.errors.required">
							Column 3 is required!
						</div>
					</div> -->
				</div>
		  </div>
		  <div class="col-md-6 pt-20">
				<label for="">Column 4</label>
        		<div class="input-group">
					<mat-form-field>
						<input matInput style="border: none;" type="text" [(ngModel)]="SpecialOfferTitlesList.ColumnFour" class="form-control" id ="col4" name = "col4" required placeholder="Column Four Name">
					</mat-form-field>
					<!-- <div *ngIf="col4.errors && (col4.dirty || col4.touched)" class="alert">
						<div [hidden]="!col4.errors.required">
							Column 4 is required!
						</div>
					</div> -->
				</div>
		  </div>

		  <div class="col-md-12 pt-20 pull-left">
				<button class="btn btn-color" [disabled]= "!fourColumnForm.form.valid" (click)="addSpecialOfferTitles()">Save</button>
			</div>
	  </div>

	</form>
	  <!-- <div class="row">
	  	<div class="col-md-12">
	  		<div class="col-md-6 pt-20">
        		<label for="">Column 1</label>
        		<div class="input-group">
				  	<input type="text" [(ngModel)]="this.SpecialOfferTitles1" class="form-control" aria-label="">
        		</div>
        		<div class="clear pt-10"></div>	 		
			</div>
			<div class="col-md-6 pt-20">
        		<label for="">Column 2</label>
        		<div class="input-group">
				  	<input type="text" [(ngModel)]="this.SpecialOfferTitles2"  class="form-control" aria-label="">
        		</div>   
        		<div class="clear pt-10"></div>       		
			</div> 
	  	</div>
	  	<div class="col-md-12">
	  		<div class="col-md-6 pt-20">
        		<label for="">Column 3</label>
        		<div class="input-group">
				  	<input type="text" [(ngModel)]="this.SpecialOfferTitles3"  class="form-control" aria-label="">
        		</div>   
        		<div class="clear pt-10"></div>       		
			</div> 
			<div class="col-md-6 pt-20">
        		<label for="">Column 4</label>
        		<div class="input-group">
				  	<input type="text" [(ngModel)]="this.SpecialOfferTitles4"  class="form-control" aria-label="">
        		</div> 
        		<div class="clear pt-10"></div>         		
			</div> 
	  	</div>
	  	<div class="col-md-12 pull-right">
	  		<button class="btn btn-color" (click)="addSpecialOfferTitles()">Add</button>
	  	</div>
	  </div> -->
	  <!-- <div class="clear"></div>
      <div class="tabs mb-50">
         <ul class="nav nav-tabs">
            <li class="active">
               <a href="#tab-one" data-toggle="tab" aria-expanded="true">
               		{{this.SpecialOfferTitlesList?.Items[0]?.ColumnOne?this.SpecialOfferTitlesList?.Items[0]?.ColumnOne:'Column One'}}
               </a>
            </li>
            <li class="">
               <a href="#tab-two" data-toggle="tab" aria-expanded="false">
               		{{this.SpecialOfferTitlesList?.Items[0]?.ColumnTwo?this.SpecialOfferTitlesList?.Items[0]?.ColumnTwo:'Column Two'}}
               </a>
            </li>
            <li class="">
               <a href="#tab-three" data-toggle="tab" aria-expanded="false">
               		{{this.SpecialOfferTitlesList?.Items[0]?.ColumnThree?this.SpecialOfferTitlesList?.Items[0]?.ColumnThree:'Column Three'}}
               </a>
            </li>
            <li class="">
               <a href="#tab-four" data-toggle="tab" aria-expanded="false">
               		{{this.SpecialOfferTitlesList?.Items[0]?.ColumnFour?this.SpecialOfferTitlesList?.Items[0]?.ColumnFour:'Column Four'}}
               </a>
            </li>
         </ul> -->
         <!-- end tabs -->
         <!-- tab content -->
         <!-- <div class="tab-content">
            <div class="tab-pane fade active in" id="tab-one">
            	<div class="col-md-6 pt-20">
            		<label for="">Column 1</label>
            		<div class="input-group">
					  	<input type="text" [(ngModel)]="this.SpecialOfferTitles1" class="form-control" aria-label="">
					  	<a href="javascript:;" class="input-group-addon" (click)="updateSpecialOfferTitles()">Update</a>  
            		</div>
            		<div class="clear pt-10"></div>
            		<button class="btn btn-color" (click)="resetProductsByColumnName('ColumnOne')">Reset</button>	 		
				</div>
				<div class="col-md-2 pt-40">
            		
				</div>  
            </div>
            <div class="tab-pane fade" id="tab-two">
               <div class="col-md-6 pt-20">
            		<label for="">Column 2</label>
            		<div class="input-group">
					  	<input type="text" [(ngModel)]="this.SpecialOfferTitles2"  class="form-control" aria-label="">
					  	<a href="javascript:;" class="input-group-addon" (click)="updateSpecialOfferTitles()">Update</a>
            		</div>   
            		<div class="clear pt-10"></div>
            		<button class="btn btn-color" (click)="resetProductsByColumnName('ColumnTwo')">Reset</button>         		
				</div> 
            </div>
            <div class="tab-pane fade" id="tab-three">
               <div class="col-md-6 pt-20">
            		<label for="">Column 3</label>
            		<div class="input-group">
					  	<input type="text" [(ngModel)]="this.SpecialOfferTitles3"  class="form-control" aria-label="">
					  	<a href="javascript:;" class="input-group-addon" (click)="updateSpecialOfferTitles()">Update</a>
            		</div>   
            		<div class="clear pt-10"></div>
            		<button class="btn btn-color" (click)="resetProductsByColumnName('ColumnThree')">Reset</button>         		
				</div> 
            </div>
            <div class="tab-pane fade" id="tab-four">
               <div class="col-md-6 pt-20">
            		<label for="">Column 4</label>
            		<div class="input-group">
					  	<input type="text" [(ngModel)]="this.SpecialOfferTitles4"  class="form-control" aria-label="">
					  	<a href="javascript:;" class="input-group-addon" (click)="updateSpecialOfferTitles()">Update</a>
            		</div> 
            		<div class="clear pt-10"></div> 
            		<button class="btn btn-color" (click)="resetProductsByColumnName('ColumnFour')">Reset</button>          		
				</div>
            </div>
         </div> -->
         <!-- end tab content -->
      <!-- </div> -->
   </div>
</div>
<div class="row">
	<div class="col-md-12 pt-20">
		<label for="">Search Product</label>
		<div class="input-group stylish-input-group">
            <input type="text" class="form-control" [(ngModel)]="searchTerm" (ngModelChange)="getSuggestedProducts()"  placeholder="Search & enter" >
            <span class="input-group-addon">
                 <span class="fa fa-search"></span>
            </span>
		</div>
	</div>
	<div class="col-md-12 pt-30" *ngIf = "hitsList.length>0">
		<div class="table-wrap pt-30">
			<table class="table">
					
		        <thead>
		            <tr class="row">
		            	<th class="col-md-1">Shop Name</th>
						<th class="col-md-1">Product Name</th>
						<th class="col-md-1">Product Image</th>
						<th class="col-md-1">Reset</th>
		                <th class="col-md-2">{{this.SpecialOfferTitlesList.ColumnOne}} <span><a href="javascript:;"><i class="fa fa-undo" style="font-size:10px;color:black;" (click)="resetProductsByColumnName('ColumnOne')"></i></a> </span></th>
		                <th class="col-md-2">{{this.SpecialOfferTitlesList.ColumnTwo}}<span><a href="javascript:;"><i class="fa fa-undo" style="font-size:10px;color:black;" (click)="resetProductsByColumnName('ColumnTwo')"></i></a> </span></th>
		                <th class="col-md-2">{{this.SpecialOfferTitlesList.ColumnThree}}<span><a href="javascript:;"><i class="fa fa-undo" style="font-size:10px;color:black;" (click)="resetProductsByColumnName('ColumnThree')"></i></a> </span></th>
		                <th class="col-md-2">{{this.SpecialOfferTitlesList.ColumnFour}}<span><a href="javascript:;"><i class="fa fa-undo" style="font-size:10px;color:black;" (click)="resetProductsByColumnName('ColumnFour')"></i></a> </span></th>
		            </tr>
		        </thead>
		        <tbody>
					<tr *ngFor="let product of hitsList" class="row">
						<td class="text-truncate col-md-1"><div style="width:200px">{{product._source.Shop.Name}}</div></td>
						<td class="text-truncate col-md-1"><div style="width:200px">{{product._source.Name}}</div></td>
						<td class="col-md-1"><div style="width:100px"><img [BindImage]='product._source' style="border-radius:50%; height:75px; width:75px" [alt] = "product._source.Name"></div></td>
						<td class="col-md-1"><a href="javascript:;"><i class="fa fa-undo" style="font-size:10px;color:black;" (click)="productUpdate(product,6)"></i></a></td>
		                <td class="col-md-2">
		                	<div class="radio-buttons">
								<input type="radio" id="{{product._id}}-column-one" class="input-radio" 
									[value]=5 name="product_{{product._id}}" 
									(click)="productUpdate(product,columnOne)" 
									[checked]="CheckedProduct(product,columnOne)"/>
								<label for="{{product._id}}-column-one"> </label>
							</div>
		                </td>
		                <td class="col-md-2">
		                	<div class="radio-buttons">
								<input type="radio" id="{{product._id}}-column-two" class="input-radio" 
									[value]=2 name="product_{{product._id}}" 
									(click)="productUpdate(product,columnTwo)" 
									[checked]="CheckedProduct(product,columnTwo)"/>
								<label for="{{product._id}}-column-two"> </label>
							</div>
		                </td>
		                <td class="col-md-2">
		                	<div class="radio-buttons">
								<input type="radio" id="{{product._id}}-column-three" class="input-radio" 
									[value]=3 name="product_{{product._id}}" 
									(click)="productUpdate(product, columnThree)" 
									[checked]="CheckedProduct(product, columnThree)"/>
								<label for="{{product._id}}-column-three"> </label>
							</div>
		                </td>
		                <td class="col-md-2">
		                	<div class="radio-buttons">
								<input type="radio" id="{{product._id}}-column-four" class="input-radio" 
									[value]=4 name="product_{{product._id}}" 
									(click)="productUpdate(product, columnFour)" 
									[checked]="CheckedProduct(product, columnFour)"/>
								<label for="{{product._id}}-column-four"> </label>
							</div>
		                </td>
		                <!-- <td>
		                	<label for="{{product._id}}-column-one">check</label>
		                	<input type="checkbox" id="{{product._id}}-column-one" class="input-checkbox" value="product._source.ColumnOne" [ngModel]="product._source.ColumnOne" name="column-one" (change)="productUpdate(product._source)" />
		                </td>
		                <td>
		                	<label for="{{product._id}}-column-two">check</label>
		                	<input type="checkbox" id="{{product._id}}-column-two" class="input-checkbox" value="product._source.ColumnTwo" [ngModel]="product._source.ColumnTwo" name="column-two" (change)="productUpdate(product._source)" />
		                </td>
		                <td>
		                	<label for="{{product._id}}-column-three">check</label>
		                	<input type="checkbox" id="{{product._id}}-column-three" class="input-checkbox" value="product._source.ColumnThree" [ngModel]="product._source.ColumnThree" name="column-three" (change)="productUpdate(product._source)" />
		                </td>
		                <td>
		                	<label for="{{product._id}}-column-four">check</label>
		                	<input type="checkbox" id="{{product._id}}-column-four" class="input-checkbox" value="product._source.ColumnFour" [ngModel]="product._source.ColumnFour" name="column-four" (change)="productUpdate(product._source)" />
		                </td> -->
		            </tr>
		        </tbody>
		    </table>
		</div>
	</div>

	<nav class="pagination clear" *ngIf = "totalPages > 0">
			<a href="javascript:;" (click)="previousPage()"><i class="fa fa-angle-left"></i></a>
			<a href="javascript:;" *ngFor="let page of pages" [class]="currentPage==page?'current':''" (click)="selectPage(page)">{{page}}</a>
			<a href="javascript:;" (click)="nextPage()"><i class="fa fa-angle-right"></i></a>
		</nav>
</div>
