<h1>Market place Commission<span *ngIf="reportData.length>0" style="padding-left:423px;"><a href="javascript:;;" (click)="DownloadReport()"> <i
    class="fa fa-download"></i></a></span></h1>

<div class="col-md-12 mt-15">
<button type="button" class="btn btn-sm btn-color" (click)="goBack()">
<span class="fa fa-arrow-left" aria-hidden="true"></span>
</button>
<div  *ngIf="reportData?.length > 0;else addNewTemplate"> 
<div class="purchase_container">
        <div class="row purchase_title m-0" *ngIf="this.showDate">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <p>
                        <strong>Start Date : {{this.reportsModel.ReportType?.StartDate | date:'dd MMM yyyy'}}</strong>
                    </p>
                 
                </div>
               
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <p>
                        <strong>End Date : {{this.reportsModel.ReportType?.ExpiryDate | date:'dd MMM yyyy'}}</strong>
                    </p>
                  
                </div>
              
        </div>
        <div class="row purchase_title m-0" *ngIf="!this.showDate">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <p>
                        <strong>Month : {{this.Month }}</strong>
                    </p>
                 
                </div>
               
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <p>
                        <strong>Year : {{this.Year }}</strong>
                    </p>
                  
                </div>
              
        </div>
 </div>
<table class="table table-condensed">
<thead>
<tr>
    <th class="text-center">#</th>
    <th class="text-center"> Order #</th>
    <th class="text-center">Order date</th>
    <th class="text-center">Order Completion Date</th>
    <th class="text-center">MP Invoice  </th>
    <th class="text-center">MP Invoice Date</th>
    <th class="text-center">Commission Amount</th>

</tr>
</thead>
<tbody>
<tr *ngFor="let data of reportData; let i = index">
    <td class="text-center" >{{i+1}}</td>
   
    <td class="text-center">
        {{data.OrderId}}
    </td>

    <td class="text-center">{{data.OrderDate | date:'dd MMM yyyy'}}</td>
    <td class="text-center">{{data.OrderCompletionDate | date:'dd MMM yyyy'}} </td>
    <td class="text-center">{{data.InvoiceId}}</td>
    <td class="text-center">{{data.InvoiceDate | date:'dd MMM yyyy'}} </td>
    <td class="text-center">Rs.{{data.CommissionAmount}}</td>
</tr>
</tbody>
</table>
</div>
</div>
<ng-template #addNewTemplate>
    <div class="hidden-xs">
            <div style="margin-top:150px; margin-bottom:50px" class="text-center">
                    <i class="fa fa-trash" style="font-size:100px;"></i>

            </div>
            <div class="col-xs-12 text-center">
                    <span style="margin:auto;">No Orders To Show</span>
            </div>
    </div>
</ng-template>