<!-- <head>
		<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" type="text/css" rel="stylesheet">
</head> -->
<section class="mt-10 col-lg-9 col-md-9 col-sm-12 col-xs-12" style="margin-top:30px" *ngIf="this.showAllMessages">
	<div class="row mb-30">
			<div *ngIf="inboxMessages?.length == 0 ; else ComposeMessages" class="text-center">
					<br><br>
				<div class="text-center" style="padding-left:150px">
					<div style="margin-top:50px;" class="text-center">
							<i class="fa fa-trash" style="font-size:150px; " >
								<h5 *ngIf="this.userRole == 'Other'"> Inbox is Empty</h5>
							</i>
					</div>
					<div style=" margin-bottom:50px" class="text-center" *ngIf="this.userRole != 'Other'">
							<a href="javascript:;" class="btn btn-sm btn-color" (click)="this.composeMail=true;ShowComposeMail();"  style="width:400px; border-radius:30px" >
							<i class="fa fa-pencil-square-o icondft_fsize" ></i>Compose</a>
					</div>
				</div>
			</div>
	
		<ng-template #ComposeMessages>
		<div  class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
			
		</div>
		<div class="col-lg-6 col-md-6 col-sm-6 hidden-xs " >
			<div class="row">
				<div class="col-md-9" *ngIf="this.userRoles">
					<a href="javascript:;" class="btn btn-sm btn-color" style="float:right;" (click)="this.composeMail=true;ShowComposeMail();" >
								<i class="fa fa-pencil-square-o icondft_fsize" ></i> Compose</a>
				</div>
				<div class="col-md-12" *ngIf="!this.userRoles">
					<button class="btn btn-sm deletebtn_color" style="float:right" [disabled]="delete" (click)="moveToTrash();" >
								<i class="fa fa-trash-o icondft_fsize" disable></i> Delete</button>
				</div>
				<div class="col-md-3" *ngIf="this.userRoles">
					<button class="btn btn-sm deletebtn_color" style="float:right" [disabled]="delete" (click)="moveToTrash();" >
								<i class="fa fa-trash-o icondft_fsize" disable></i> Delete</button>
				</div>
			</div>
		</div>
		<div class="col-xs-6 hidden-lg hidden-md hidden-sm" >
			
				<button class="btn btn-sm deletebtn_color" style="float:right; margin-bottom:10px;" [disabled]="delete" (click)="moveToTrash();" >
				<i class="fa fa-trash-o icondft_fsize" disable></i> Delete</button>
				
				<a *ngIf="this.userRole != 'Other'" href="javascript:;" class="btn btn-sm btn-color" style="float:right;" (click)="this.composeMail=true;ShowComposeMail();" >
						<i class="fa fa-pencil-square-o icondft_fsize" ></i> Compose</a>
			</div>
	
	</ng-template>
	</div>
	<div class="scroll-container" (scroll)="LoadOnScroll()" id='scroll-container'>
		<div id ='scroll-box' class="col-xs-12">
	<div class="col-md-12">
		<div class="row cursor_pointer" *ngFor="let inboxMessage of inboxMessages" (click)="this.showMail=true;showMessage(inboxMessage)" style="min-height:65px;max-height:none;background-color: #e0e0e0;color:black;  border: 1px solid  #f5f5f5;border-radius: 6px;margin-bottom: 1px;display: flex; align-items: center;">
			<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1" (click)="$event.stopPropagation()" >
				<div class="checkboxes"  >
					<input type="checkbox" class="input-checkbox" (change)="checkedMail(inboxMessage._id,$event)" [(ngModel)]="inboxMessage.isSelected" [id]="inboxMessage._id" name="selectMessage" />
					<label [attr.for]="inboxMessage._id"> </label>
				</div>
			</div>
			<div class="col-lg-1 col-md-1 hidden-xs">
				<img src="{{inboxMessage.FromUserImage}}" class="img-circle" alt="">
			</div>
			<div class="col-lg-8 col-md-8 col-sm-6 col-xs-6">
				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					<!-- {{inboxMessage.From.Mobile}} -->
					{{inboxMessage.From.Profile.FirstName ?inboxMessage.From.Profile.FirstName :'Jheaps Member'}}
					<!-- <p>Jheaps Member</p> -->
				
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					<p class="message_color message_lineheight">{{inboxMessage.Subject | shorten : 20:'...'}}</p>
					<p class="message_lineheight hidden-xs ">{{inboxMessage.Message | shorten : 25	:'...'}}</p>
				</div>				
			</div>	
			
			<div class="col-lg-4 col-md-4 col-sm-5 col-xs-5">
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6" >
					<i class="fa fa-paperclip" style="font-size: 14px; color:black;" aria-hidden="true" *ngIf="inboxMessage.Attachment.length>0"></i>
				</div>
				<div  class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
					<i class="fa fa-reply" style="font-size: 18px; color:black;"aria-hidden="true" *ngIf="inboxMessage.Replies.length>0"></i>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					<p class="message_color message_lineheight">{{inboxMessage.CreatedDate | date:'dd MMM yy'}}</p>
					<p class="message_lineheight hidden-xs">{{inboxMessage.CreatedDate | date:'HH:mm:ss'}}</p>
				</div>
			</div>		
		</div>
	</div>
	</div>
	</div>
</section>
 <section class=" col-lg-9 col-md-9 col-sm-12 col-xs-12" *ngIf="this.showMail" style="margin-top: 30px;">
		<div class="form-group">
				<button type="button" style="float: right;" class="btn btn-sm btn-color" (click)="this.showAllMessages = true;this.showMail=false;this.composeMail=false;">
				<span class="fa fa-arrow-left" aria-hidden="true"></span></button>
			</div>
			<h3 class=" text-center">{{this.selectedInboxMessage.Subject}}</h3>
			<!-- <h3 class=" text-center">Jheaps Member</h3> -->
			<div class="mesgs">
				<div class="msg_history">
			<!--First composed message-->
					<div class="incoming_msg"   *ngIf ="this.selectedInboxMessage.From._id != this.ShowUserId ">
					  <div class="incoming_msg_img"> <img src="{{this.selectedInboxMessage.FromUserImage}}" class="img-circle" alt=""> </div>
					  <div class="received_msg">
						<div class="received_withd_msg">
						  <p>{{selectedInboxMessage.Message}}</p>
						  <div class=" imgmargin"  *ngIf="selectedInboxMessage.Attachment.length!=0">
								<div  class="row"  >
									<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 imgmargin attachment" *ngFor="let Attach of selectedInboxMessage.Attachment" >
										<div style="height: 220px;width: 364px;"> 
								
										<img src="{{Attach.URL}}">
									
										</div>
										<!-- <i class="fa fa-paperclip" style="font-size: 14px; color:black;" aria-hidden="true"></i> -->
										<a target="_blank" href="{{Attach.URL}}" download="{{Attach.Name}}.jpg">{{Attach.Name}}</a>
									</div>
								</div>
							</div>
						  <span class="time_date">{{selectedInboxMessage.CreatedDate | date:'dd MMM yyyy HH:mm:ss'}}</span></div>
					  </div>
					</div>
					<div class="outgoing_msg "  *ngIf ="this.selectedInboxMessage.From._id  == this.ShowUserId ">
							<div class="sent_msg">
							  <p>{{selectedInboxMessage.Message}}</p>
							  <div class=" imgmargin comment-content" *ngIf="selectedInboxMessage.Attachment.length!=0">
									  <div>
										  <div class="attachment imgmargin" *ngFor="let Attach of selectedInboxMessage.Attachment"  >
											  <div style="height: 220px;width: 367px;"> 
											  
											  <img  src="{{Attach.URL}}">
										  
										  </div>
											  <!-- <i class="fa fa-paperclip" style="font-size: 14px; color:black;" aria-hidden="true"></i> -->
											  <a target="_blank" href="{{Attach.URL}}" download="{{Attach.Name}}.jpg">{{Attach.Name}}</a>
										  </div>
									  </div>
								  </div>
							  <span class="time_date"> {{selectedInboxMessage.CreatedDate  | date:'dd MMM yyyy HH:mm:ss'}}</span> </div>
						  </div>
					<!--other replies-->
					<div *ngFor="let Reply of this.selectedReplyMessage">
					<div class="incoming_msg"   *ngIf ="Reply.From._id != this.ShowUserId ">
							<div class="incoming_msg_img"> <img src="{{Reply.FromUserImage}}" class="img-circle" alt=""> </div>
							<div class="received_msg">
							  <div class="received_withd_msg">
								<p>{{Reply.Reply}}</p>
								<div class=" imgmargin comment-content" *ngIf="Reply.Attachment.length!=0">
									<div  >
										<div class="attachment imgmargin"  *ngFor="let Attach of Reply.Attachment" >
											<div style="height: 220px;width: 364px;"> 
										
											<img src="{{Attach.URL}}">
									
											</div>
											<!-- <i class="fa fa-paperclip" style="font-size: 14px; color:black;" aria-hidden="true"></i> -->
											<a target="_blank" href="{{Attach.URL}}" download="{{Attach.Name}}.jpg">{{Attach.Name}}</a>
										</div>
									</div>
								</div>
								<span class="time_date">{{Reply.CreatedDate | date:'dd MMM yyyy HH:mm:ss'}}</span></div>
							</div>
					</div>
					
					<div class="outgoing_msg "  *ngIf ="Reply.From._id == this.ShowUserId ">
					  <div class="sent_msg">
						<p>{{Reply.Reply}}</p>
						<div class=" imgmargin comment-content" *ngIf="Reply.Attachment.length!=0">
								<div>
									<div class="attachment imgmargin" *ngFor="let Attach of Reply.Attachment" >
										<div style="height: 220px;width: 367px;"> 
									    
										<img  src="{{Attach.URL}}">
									
									</div>
										<!-- <i class="fa fa-paperclip" style="font-size: 14px; color:black;" aria-hidden="true"></i> -->
										<a target="_blank" href="{{Attach.URL}}" download="{{Attach.Name}}.jpg">{{Attach.Name}}</a>
									</div>
								</div>
							</div>
						<span class="time_date"> {{Reply.CreatedDate | date:'dd MMM yyyy HH:mm:ss'}}</span> </div>
					</div>
				   </div>
			</div>
				  <div class="type_msg">
					<div class="input_msg_write">
					<form name="replyForm" id="replyForm" #replyForm="ngForm" novalidate>
					  <input type="text" class="write_msg" placeholder="Type a message"  id="writeReply" name="writeReply" [(ngModel)]="this.MessageRepliesModel.Reply" #writeReply="ngModel" required/>
					  <button class="attach_btn" value="attach" id="my-button" (click)="loadFile()" type="button"><i class="fa fa-paperclip" aria-hidden="true"></i></button>
					  <button class="msg_send_btn" value="Reply" [disabled]="!replyForm.form.valid" (click)="ReplyMessage()" type="button"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
					  <div *ngIf="writeReply.errors && (writeReply.dirty || writeReply.touched)" class="alert alert-danger">
							<div [hidden]="!writeReply.errors.required">
								 Reply is required
							</div>
					   </div>
					   <div class="row mt-10" style="margin-top: 0%;">
							<div *ngIf="this.showImgAttachment">
							<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" *ngFor="let attach of attachments;let i=index;">
								<img src="{{attach.URL}}">
								<!-- <i class="fa fa-paperclip" style="font-size: 14px; color:black;" aria-hidden="true"></i> -->
								<a target="_self" href="{{attach.URL}}" download="{{attach.Name}}.jpg">{{attach.Name| shorten : 10	:'...'}}</a>
								<span class="right" (click)="test(attach,i)"><i class="fa fa-close" style="font-size:18px"></i></span>
							</div>
							</div>
						<div class="row" style="margin-bottom: 20px;">
							 <input type="file" class="form-control" id="my-file"(change)="ChangeListener($event)">
						</div>
					</div>
					  </form>
					</div>
				  </div>
			</div>

	 </section>

<!-- <section class=" col-lg-9 col-md-9 col-sm-12 col-xs-12" *ngIf="this.showMail" style="margin-top: 30px;">
	<div class="row mb-30">
		<div class="form-group">
			<button type="button" style="float: right;" class="btn btn-sm btn-color" (click)="this.showAllMessages = true;this.showMail=false;this.composeMail=false;">
			<span class="fa fa-arrow-left" aria-hidden="true"></span></button>
		</div>
		<div class="form-group">
			<h2 class="heading relative heading-small uppercase bottom-line style-2 left-align mb-0">{{this.selectedInboxMessage.Subject}}</h2>
		</div>
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="entry-comments mt-20">
				<ul class="comment-list">
					<li>
						<div class="comment-body">
							<div class="comment-header">
								<div class="row">
									<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" *ngIf="this.selectedInboxMessage.hasOwnProperty('UserPicture')">
										<img src="{{this.selectedInboxMessage.UserPicture}}" class="img-circle" alt="">
									</div>
									<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
										<span class="comment-author">From  : {{this.selectedInboxMessage.From.Mobile}}</span>
										<p>To : {{this.selectedInboxMessage.To.Mobile}}</p>
										<p>subject : {{selectedInboxMessage.Subject}}</p>
										<p>Date : {{selectedInboxMessage.CreatedDate | date:'dd MMM yyyy HH:mm:ss'}}</p>
									</div>
									<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
										<span class="right" (click)="ReplyDiv()">
										<a href="javascript:;"><i class="fa fa-reply" style="font-size: 24px; color:black;"aria-hidden="true"></i></a>	
										</span>
									</div>
								</div>
							</div>
							<div class="comment-content" >
								<p style="  text-align: justify;text-justify: inter-word;">{{selectedInboxMessage.Message}}</p>
							</div>
							<div class="comment-content" >
								<div  *ngIf="selectedInboxMessage.Attachment.length!=0">
									<div  class="row"  >
										<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" *ngFor="let Attach of selectedInboxMessage.Attachment" >
											<img src="{{Attach.URL}}">
											<i class="fa fa-paperclip" style="font-size: 14px; color:black;" aria-hidden="true"></i>
											<a target="_self" href="{{Attach.URL}}" download="{{Attach.Name}}.jpg">{{Attach.Name}}</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="comment-body" *ngFor="let Reply of selectedInboxMessage.Replies">
							<div class="comment-header">
								<div class="row">
									<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" *ngIf="Reply.hasOwnProperty('FromUserImage')">
										<img src="{{Reply.FromUserImage}}" class="img-circle" alt="">
									</div>
									<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
										<p class="comment-author"> Reply To  : {{Reply.To.Mobile}}</p>
										<p class="comment-author"> Reply From  : {{Reply.From.Mobile}}</p>
										<p>Date : {{Reply.CreatedDate | date:'dd MMM yyyy HH:mm:ss'}}</p>
									</div>
								</div>
							</div>
							<div class="comment-content" >
								<p style="  text-align: justify;text-justify: inter-word;">{{Reply.Reply}}</p>
							</div>
							<div class="comment-content" >
								<div  *ngIf="Reply.Attachment.length!=0">
									<div  class="row" >
										<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"  *ngFor="let Attach of Reply.Attachment" >
											<img src="{{Attach.URL}}">
											<i class="fa fa-paperclip" style="font-size: 14px; color:black;" aria-hidden="true"></i>
									<div  *ngIf="Reply.Attachment.length!=0">
									<div  class="row" >
										<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"  *ngFor="let Attach of Reply.Attachment" >
											<img src="{{Attach.URL}}">
											<i class="fa fa-paperclip" style="font-size: 14px; color:black;" aria-hidden="true"></i>
											<a target="_self" href="{{Attach.URL}}" download="{{Attach.Name}}.jpg">{{Attach.Name}}</a>
										</div>
									</div>
								</div>		<a target="_self" href="{{Attach.URL}}" download="{{Attach.Name}}.jpg">{{Attach.Name}}</a>
										</div>
									<<div  *ngIf="Reply.Attachment.length!=0">
									<div  class="row" >
										<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"  *ngFor="let Attach of Reply.Attachment" >
											<img src="{{Attach.URL}}">
											<i class="fa fa-paperclip" style="font-size: 14px; color:black;" aria-hidden="true"></i>
											<a target="_self" href="{{Attach.URL}}" download="{{Attach.Name}}.jpg">{{Attach.Name}}</a>
										</div>
									</div>
								</div>/div>
								</div>
							</div>
						</div>
					</li>
					<li id="replyTab" *ngIf="sendReply" style="padding-top: 20px;">
							<form name="replyForm" id="replyForm" #replyForm="ngForm" novalidate>
							 <div class="row" >
								  <label for="writeMessage">Reply:</label>
								  <textarea rows="5" id="writeReply" name="writeReply" [(ngModel)]="this.MessageRepliesModel.Reply" #writeReply="ngModel" required autofocus></textarea>
								  <div *ngIf="writeReply.errors && (writeReply.dirty || writeReply.touched)" class="alert alert-danger">
										<div [hidden]="!writeReply.errors.required">
											 Reply is required
										</div>
								   </div>
							 </div>
							 <div class="row mt-10" style="margin-top: 0%;">
									<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" *ngFor="let attach of attachments;let i=index;">
										<img src="{{attach.URL}}">
										<i class="fa fa-paperclip" style="font-size: 14px; color:black;" aria-hidden="true"></i>
										<a target="_self" href="{{attach.URL}}" download="{{attach.Name}}.jpg">{{attach.Name| shorten : 10	:'...'}}</a>
										<span class="right" (click)="test(attach,i)"><i class="fa fa-close" style="font-size:18px"></i></span>
									</div>
								</div>
								<div class="row" style="margin-bottom: 20px;">
									 <input type="file" class="form-control" (change)="ChangeListener($event)">
								</div>
								
							 <input type="button" class="btn btn-sm btn-color right rounded" value="Reply"  [disabled]="!replyForm.form.valid" (click)="ReplyMessage()">
							 </form>
						</li>
					 end 1-2 comment -->
				<!--</ul>
			</div>
		</div>
	</div>
</section> -->
<section class="mt-10 col-lg-9 col-md-9 col-sm-12 col-xs-12" style="margin-top: 0%;" *ngIf="this.composeMail">
	<div class="row mb-30">
		<div class="col-md-12">
			<div class="form-group" style="text-align: right">
				<button type="button" class="btn btn-sm btn-color" (click)="this.showAllMessages = true;this.showMail=false;this.composeMail=false;">
				<span class="fa fa-arrow-left" aria-hidden="true"></span></button>
			</div>
			<div class="form-group">
				<h2 class="heading relative heading-small uppercase bottom-line style-2 left-align mb-0">Write Message...</h2>
			</div>
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-10 col-md-offset-1">
						<form name="ComposeForm" id="ComposeForm"  #ComposeForm="ngForm" novalidate>
						   <div class="row"  *ngIf="!sendReply">
						      <label for="toAddress">To:</label>
						      <input type="text"   id="toAddress" placeholder="Mobile" name="toAddress" [(ngModel)]="this.MessageModel.To" #toAddress="ngModel" required>
						      <div *ngIf="toAddress.errors && (toAddress.dirty || toAddress.touched)" class="alert alert-danger">
								    <div [hidden]="!toAddress.errors.required">
								      To Address is required
								    </div>
							   </div>
							   </div>
						     <div class="row">
						      <label for="toSubject">Subject:</label>
						      <input type="text" id="toSubject" placeholder="Subject" name="toSubject" [(ngModel)]="this.MessageModel.Subject" #toSubject="ngModel" required>
						      <div *ngIf="toSubject.errors && (toSubject.dirty || toSubject.touched)" class="alert alert-danger">
								    <div [hidden]="!toSubject.errors.required">
								      Subject is required
								    </div>
							   </div>
						    </div>
						    <div class="row">
						      <label for="writeMessage">Message:</label>
						      <textarea class="form-control" rows="5" id="writeMessage" name="writeMessage" [(ngModel)]="this.MessageModel.Message" #writeMessage="ngModel" required></textarea>
						      <div *ngIf="writeMessage.errors && (writeMessage.dirty || writeMessage.touched)" class="alert alert-danger">
								    <div [hidden]="!writeMessage.errors.required">
								     	Message is required
								    </div>
							   </div>
						     </div>
						     <div class="row">
							 	<input id = "fileUploader" type="file" class="form-control" (change)="ChangeListener($event)"(click) = "FileClick($event)" multiple = true>
							</div>
							<div class="row mt-10" style="margin-top: 0%">
								<!-- <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" *ngFor="let attach of attachments;let i=index;">
									<img src="{{attach.URL}}">
									<i class="fa fa-paperclip" style="font-size: 14px; color:black;" aria-hidden="true"></i>
									<a target="_self" href="{{attach.URL}}" download="{{attach.Name}}">{{attach.Name| shorten : 10	:'...'}}</a>
									<span class="right" (click)="test(attach,i)"><i class="fa fa-close" style="font-size:18px"></i></span>
								</div> -->
                            <ul>
								<li class="col-lg-3 col-md-3 col-sm-3 col-xs-3" *ngFor="let attach of attachments;let i=index;">
									<!-- <img src="{{attach.URL}}"> -->
									
									<i class="fa fa-paperclip" style="font-size: 14px; color:black;" aria-hidden="true"></i>
									<a target="_self" href="{{attach.URL}}" download="{{attach.Name}}">{{attach.Name| shorten : 10	:'...'}}</a>
									<span class="right" (click)="test(attach,i)"><i class="fa fa-close" style="font-size:18px"></i></span>
								</li>
							</ul>
							</div>
							
						    <input type="button" class="btn btn-sm btn-color right rounded mt-10"  [disabled]="!ComposeForm.form.valid" value="Send" (click)="mailMessage()">
						 </form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>