<header>
    <div class="form-group">
        <h2 class="heading relative heading-small uppercase bottom-line style-2 left-align mb-0">Zmm Token Generation</h2>
    </div>
</header>
<center>
    <p>
        Click obtain token button to generate token 
    </p>     
    <div class="col-md-4 col-md-offset-4">
           <a (click)="GetZmmtoken()" class="btn btn-md btn-stroke">Obtain Token</a>     
    </div>
</center>