<div style="margin-top: 30px">
    <form class = 'form' id="codLimitForm" #codLimitForm = 'ngForm'>
        <div class="form-group col-xs-12 col-md-6">
            <label for="codLimit">Maximum COD Limit<span style="color:red;size:10px"> *</span></label>
            <input type="number" class="form-control mb-0" id="codLimit" [(ngModel)]="codLimitModel.codLimitValue" name="codLimit" #codLimit="ngModel"  required  placeholder="Enter Maximum COD limit" onkeypress="return event.charCode >= 48 && event.charCode <= 57" min="0">
            <div *ngIf="codLimit.errors && (codLimit.dirty || codLimit.touched)" class="text-danger vd-msg">
                <div [hidden]="!codLimit.errors.required">
                   Maximum COD Limit is required!
                </div>
                
            </div>
        </div>
        <div class="form-group col-xs-12 col-md-6">
            <label for="mincodLimit">Minimum COD Limit<span style="color:red;size:10px"> *</span></label>
            <input type="number" class="form-control mb-0" id="mincodLimit" [(ngModel)]="codLimitModel.mincodLimitValue" name="mincodLimit" #mincodLimit="ngModel"  required  placeholder="Enter Mininum COD limit" onkeypress="return event.charCode >= 48 && event.charCode <= 57" min="0">
            <div *ngIf="mincodLimit.errors && (mincodLimit.dirty || mincodLimit.touched)" class="text-danger vd-msg">
                <div [hidden]="!mincodLimit.errors.required">
                   Minimum COD Limit is required!
                </div>
                
            </div>
        </div>

        <div class="form-group col-xs-12">
            <input type="button" class="btn btn-sm btn-color left rounded" (click) = "Save()"value="Save" [disabled]="!codLimitForm.form.valid">
        </div>

    </form>
</div>