<section>
        <style>
                a{
                    font-weight: 600;
                }
                .sub-list{
                        padding-left: 2%;
                }
                li{
                    margin-bottom: 3px;
                }
        </style>
    <div style="margin: 2% 10% 2% 10%;">
        <h1>TERMS FOR BUYERS</h1>
        <div>
            These Terms for Buyers, together with any and all other documents referred to herein, 
            set out the terms under which Users (“Buyers”) buy from Sellers on Our Marketplace. 
            Please read these Terms for Buyers carefully and ensure that you understand them before 
            purchasing anything on Our Marketplace. Your agreement to comply with and be bound by these 
            Terms for Buyers is deemed to occur from your first purchase on Our Site. If you do not agree to comply 
            with and be bound by these Terms for Buyers, you must not purchase anything on Our Marketplace. 
        </div>
        <h4>
           1. Definitions and Interpretation
        </h4>
        <div>
            1.1	In these Terms for Buyers, unless the context otherwise requires, the following expressions have the following meanings:        </div>
        <ul>
            <li class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-5">
                    “Account”
                </div>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-7">
                    means an account required to access and/or use certain areas of Our Site, as detailed in Clause 5;
                </div>
            </li>
            <li class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-5">
                    “Buyer” 
                </div>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-7">
                    “Buyer”	means a User who makes a purchase on Our Marketplace;
                </div>
            </li>
            <li class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-5">
                    “Content” 
                </div>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-7">
                    means any and all text, images, audio, video, scripts, code, software, databases, and any other form of information capable of being stored on a computer that appears on, or forms part of, Our Site;
                </div>
            </li>
            <li class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-5">
                    “Listing”
                </div>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-7">
                    means a listing on Our Marketplace advertising an item or items for sale;
                </div>
            </li>
            <li class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-5">
                    “Marketplace”
                </div>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-7">
                    means Our platform for Buyers and Sellers on Our Site;
                </div>
            </li>
            <li class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-5">
                    “Our Site”
                </div>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-7">
                    means this website, www.jheaps.in;
                </div>
            </li>
            <li class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-5">
                    “Payment Service”
                </div>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-7">
                    means the payment service provided in our website;
                </div>
            </li>
            <li class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-5">
                    “Seller”    
                </div>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-7">
                    means a User who sells on Our Marketplace;
                </div>
            </li>
            <li class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-5">
                    “User”
                </div>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-7">
                    means a user of Our Site;
                </div>
            </li>
            <li class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-5">
                    “User Content” 
                </div>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-7">
                    means any Content added to Our Site by a User;
                </div>
            </li>
            <li class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-5">
                    “Business Day”
                </div>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-7">
                    A business day is a day in which normal business operations are conducted. 
                    This is generally considered to be Monday through Friday from 9am to 5pm local time, 
                    and excludes weekends and public holidays in the state in which the seller operates.
                </div>
            </li>
            <li class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-5">
                    “We/Us/Our”
                </div>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-7">
                    means jadFocus Solutions LLP, a limited liability partnership registered in India , 
                    whose registered address is 2/1,1st Floor, 4th St, Kamarajar Nagar, Chinna Chokkikulam, 
                    Chockikulam, Madurai, Tamil Nadu 625002,.
                </div>
            </li>
        </ul>
        <h4>2. Information About Us</h4>
        <div>
            2.1	Our Site is owned and operated by jadFocus Solution LLP , a limited Liability Partnership registered in India, 
            whose registered address is No. 2/1,1st Floor, 4th St, Kamarajar Nagar, Chinna Chokkikulam, Chockikulam, Madurai, Tamil Nadu 625002.
        </div>
        <h4>3. Access to Our Site</h4>
        <div>
            <ul>
                <li>
                   3.1 Access to Our Site is free of charge.
                </li>
                <li>
                   3.2 It is your responsibility to make any and all arrangements necessary in order to access Our Site.
                </li>
                <li>
                    3.3	Access to Our Site is provided “as is” and on an “as available” basis. We may alter, suspend, or discontinue Our Site or any part of it at any time and without notice. Subject to the remainder of these Terms for Buyers, We will not be liable to you in any way if Our Site or any part of it is unavailable at any time and for any period.                
                </li>
                <li>
                    3.4	Use of Our Site is also subject to Our Terms of Use. Please ensure that you have read them carefully and that you understand them.
                </li>
            </ul>
        </div>
        <h4>4. Age Restrictions</h4>
        <div>
            4.1 You can only make purchases on Our Marketplace if you are at least 18 years of age.
        </div>
        <h4>5. Accounts</h4>
        <div>
                Our Marketplace is provided solely as an online venue for Buyers and Sellers. We are not a party to any transactions or other relationships between Buyers and Sellers. You hereby acknowledge and agree that:
            <ul>
                <li>
                        5.1	You are not making a purchase from Us and are not entering into a contract with Us. Your purchase is from the Seller in question, and your contract is with that Seller;                </li>
                <li>
                        5.2	We will not be a party to any dispute between you and any Seller or another Buyer. Any claims must be made directly against the party concerned;                </li>
                <li>
                        5.3	We do not pre-screen Sellers or any items that Sellers advertise in Listings on Our Marketplace. We are not, therefore, in any way responsible for any items sold or for the content of any Listings. We will not be responsible for any aspect of a transaction and make no warranties as to the quality, safety, or legality of any item(s) purchased from Sellers on Our Marketplace. Any claims pertaining to a transaction must be made directly against the Seller concerned; and                </li>
                <li>
                        5.4	While all Sellers are required to comply with Our <a href="javascript:;" [routerLink]="['/user/privacy/list/seller-policy']">Terms for Sellers</a>, which include provisions covering important matters such as payment methods, processing times, and delivery methods, all Sellers are different and may not accept the same payment methods, process transactions within the same time frame, or offer the same delivery methods or prices.                
                </li>
            </ul>
        </div>
        <h4>6.	Intellectual Property Rights</h4>
        <div>
            <ul>
                <li>
                        6.1	The provisions of Clause 5 of Our Terms of Use apply to all User Content submitted to Our Site, including product Listings and digital content sold by Sellers.                </li>
                <li>
                        6.2	Buyers must, at all times, respect the intellectual property rights of Sellers on Our Marketplace. Under no circumstances may you use intellectual property belonging to another party without that party’s express permission.                
                </li>
            </ul>
        </div>
        <h4>7.	Buyer Rules and Acceptable Usage Policy</h4>
        <div>
            <ul>
                <li>
                    7.1	When using Our Marketplace, you must do so lawfully, fairly, and in a manner that complies with the provisions of this Clause 7. Specifically:
                    <ul class="sub-list">
                        <li>
                                7.1.1	you must ensure that you comply fully with all local, national, or international laws and/or regulations;
                        </li>
                        <li>
                                7.1.2	you must not use Our Marketplace in any way, or for any purpose, that is unlawful or fraudulent;
                        </li>
                        <li>
                                7.1.3	you must not use Our Marketplace to knowingly send, upload, or in any other way transmit data that contains any form of virus or other malware, or any other code designed to adversely affect computer hardware, software, or data of any kind;
                        </li>
                        <li>
                                7.1.4	you must not use Our Marketplace in any way, or for any purpose, that is intended to harm any person or persons in any way;
                        </li>
                        <li>
                                7.1.5	you must always provide accurate, honest information to Sellers on Our Marketplace; and
                        </li>
                        <li>
                                7.1.6	you must not engage in any form of price fixing with other Users including Sellers and Buyers.
                        </li>
                    </ul>
                </li>
                <li>
                    7.2	When using Our Marketplace, you must not submit anything, or otherwise do anything that:
                    <ul class="sub-list">
                        <li>
                                7.2.1	is sexually explicit;
                        </li>
                        <li>
                                7.2.2	is obscene, deliberately offensive, hateful, or otherwise inflammatory;
                        </li>
                        <li>
                                7.2.3	promotes violence;
                        </li>
                        <li>
                                7.2.4	promotes or assists in any form of unlawful activity;
                        </li>
                        <li>
                                7.2.5	discriminates against, or is in any way defamatory of, any person, group, or class of persons; race; gender; religion; nationality; disability; sexual orientation; or age;
                        </li>
                        <li>
                                7.2.6	is intended or otherwise likely to threaten, harass, annoy, alarm, inconvenience, upset, or embarrass another person;
                        </li>
                        <li>
                                7.2.7	is calculated or is otherwise likely to deceive;
                        </li>
                        <li>
                                7.2.8	is intended or otherwise likely to infringe or threaten to infringe another person’s right to privacy or otherwise uses their personal data in a way that you do not have a right to;
                        </li>
                        <li>
                                7.2.9	misleadingly impersonates any person or otherwise misrepresents your identity or affiliation in a way that is calculated to deceive;
                        </li>
                        <li>
                                7.2.10	implies any form of affiliation with Us where none exists;
                        </li>
                        <li>
                                7.2.11	infringes, or assists in the infringement of, the intellectual property rights including, but not limited to, copyright, trademarks, patents, and database rights of any other party; or
                        </li>
                        <li>
                                7.2.12	is in breach of any legal duty owed to a third party including, but not limited to, contractual duties and duties of confidence.
                        </li>
                    </ul>                
                </li>
                <li>
                     7.3	We reserve the right to suspend or terminate your access to Our Marketplace if you materially breach the provisions of this Clause 7 or any of the other provisions of these Terms for Buyers. Further actions We may take include, but are not limited to:                    
                    <ul class="sub-list">
                        <li>
                                7.3.1	removing any offending material from Our Marketplace;
                        </li>
                        <li>
                                7.3.2	issuing you with a written warning;
                        </li>
                        <li>
                                7.3.3	legal proceedings against you for reimbursement of any and all relevant costs resulting from your breach on an indemnity basis;
                        </li>
                        <li>
                                7.3.4	further legal action against you as appropriate;
                        </li>
                        <li>
                                7.3.5	disclosing such information to law enforcement authorities as required or as We deem reasonably necessary; and/or
                        </li>
                        <li>
                                7.3.6	any other actions which We deem reasonably necessary, appropriate, and lawful.
                        </li>
                    </ul>
                </li>
                <li>
                        7.4	We hereby exclude any and all liability arising out of any actions that We may take in response to breaches of these Terms for Buyers.
                </li>
            </ul>
        </div>
        <h4>8.	Purchasing from Sellers</h4>
        <div>
            <ul>
                <li>
                        8.1	As set out above in Clause 5, all transactions on Our Marketplace are between Buyers and Sellers only. We are not a party to such transactions.
                </li>
                <li>
                        8.2	When making a purchase from a Seller, you expressly agree that:
                        <ul class="sub-list">
                            <li>
                                    8.2.1	You have read the description and all details within the relevant Listing carefully and that you understand and agree to any and all specific policies that are stated to apply by the Seller;
                            </li>
                            <li>
                                    8.2.2	You will pay for the item(s) purchased in full and on time, using one of the Seller’s accepted payment methods via Our Payment Service, details of which are provided below in Clause 9; and
                            </li>
                            <li>
                                    8.2.3	You have provided complete and accurate shipping address and phone number at the time of your placing the order in our marketplace.
                            </li>
                        </ul>
                </li>
            </ul>
        </div>
        <h4>9.	Payment Service</h4>
        <div>
            <ul>
                <li>
                        9.1	Two types of payment methods are possible in our website
                        <ul class="sub-list">
                            <li>
                                    9.1.1	Prepayment via credit/debit card, net banking etc.
                            </li>
                            <li>
                                    9.1.2	Cash on Delivery (COD), in which you would make the payment to our courier partner at the time of product delivery at your shipping address.
                            </li>
                        </ul>
                </li>
                <li>
                        9.2	Please note that not all Sellers will accept Cash on Delivery payment method.
                </li>
                <li>
                        9.3	We will not make any of your payment details including, but not limited to, card numbers, bank account numbers, and sort codes available to Sellers at any time, or for any reason. 
                </li>
            </ul>
        </div>
        <h4>10.	Taxes	</h4>
        <div>
            <ul>
                <li>
                        10.1	It is the responsibility of Sellers to collect and pay taxes on any sales made through Our Marketplace.
                </li>
                <li>
                        10.2	Where any tax, for example GST, forms a part of the price of any item on Our Marketplace, the tax must be included in the price of the item.
                </li>
                <li>
                        10.3	Sellers who are GST registered, would be required to charge GST on the items that they sell on Our Marketplace.
                </li>
                <li>
                        10.4	For further information on GST and other taxes in your location, please contact your local tax authority.
                </li>
            </ul>
        </div>
        <h4>11.	Delivery</h4>
        <div>
            <ul>
                <li>
                        11.1	Sellers are required to ship items within 1 business day of receiving the order. However, due to unforeseeable reasons the shipment might be delayed. 
                </li>
                <li>
                        11.2	As stated in sub-Clause 8.2.3, you must provide complete and accurate shipping address and phone number at the time of your ordering items from our marketplace. The Seller is responsible for ensuring that they use the delivery address exactly as you provide it to them, but if dispatched items do not reach you due to an incorrect address provided by you, it is your responsibility and not the Seller’s.
                </li>
                <li>
                        11.3	Sellers are free to determine the delivery charges for their items; however, Sellers must ensure that delivery charges are reasonable, not excessive, and genuinely reflect the actual cost to the Seller of delivering the item in question to you.
                </li>
                <li>
                        11.4	Sellers must also provide a ships-from address for your reference, in the Tax invoice they send you along with the shipments.
                </li>
                <li>
                        11.5	Once an item has been ordered, you will receive package tracking SMS/Email notifications from our courier partners at the phone number/email address you have provided in your account.
                </li>
                <li>
                        11.6	Our Marketplace allows you to track your shipments in your account dashboard under My Purchases section.
                </li>
                <li>
                        11.7	Sellers are responsible for ensuring that they check, are aware of, and comply with all applicable shipping and tax regulations when shipping items to you.
                </li>
            </ul>
        </div>
        <h4>12.	Buyer Order Cancellation</h4>
        <div>
            <ul>
                <li>
                        12.1	Buyers could cancel their order provided the Seller has not initiated any shipment processing action. Shipment processing actions by a Seller include printing the tax invoice or the shipping label for the order. The payment made for such cancelled orders would be refunded to the buyer.
                </li>
            </ul>
        </div>
        <h4>13.	Seller Order Cancellation</h4>
        <div>
            <ul>
                <li>
                        13.1	Sellers can cancel an order if they are not able to fulfil the order due to any unforeseen reasons. However, this would affect the seller’s performance rating. The payment made for such cancelled orders would be refunded to the buyer
                </li>
            </ul>
        </div>
        <h4>14.	Return/Replacement/Refund Policy</h4>
        <div>
            <ul>
                <li>
                        14.1	Sellers must provide goods and/or digital content that are/is of satisfactory quality, fit for purpose, as described at the time of purchase, in accordance with any pre-contract information that the Seller has provided to you, and that matches any samples or models that the Seller has shown to you.
                </li>
                <li>
                        14.2	If an item does not conform with the requirements outlined in sub-Clause 14.1 and, for example, is defective or damaged or it is not as described when the Buyer receives them, the Buyer can raise a return request within 72 hours (3 days) of the delivery of the item. This would create a return request ticket and sent to the seller. The following remedies will be available to the Buyer:
                        <ul class="sub-list">
                            <li>
                                    14.2.1	Seller is required to respond within 2 business days of a buyer raising a return request. The seller shall respond with one of the following options (i) approve for a replacement (ii) approve for a refund (iii) request more details from the buyer in the return ticket (iv) Reject the return request citing reasons for the rejection, if the request is not in line with JHeaps buyer return policy.  Seller is required to fully resolve the return/replacement request within 5 business days of request origination. The replacement resolution option is possible subject to availability of product/item sought by the Buyer.
                            </li>
                            <li>
                                    14.2.2	Refund to the buyer would depend on the initial payment method used at the time of order placement. For prepayments (Netbanking/credit card/debit card) the refund would be made via the same payment method. If the initial payment was by COD the refund would be transferred to the buyer’s bank account. After the refund approval, the buyer needs to provide recipient bank account and IFSC code at our site, to enable the transfer. The refund will be made to the buyer within 10 days of the return shipment reaching the seller, provided the items in the return shipment meet the terms mentioned in clause 14.3. 
                            </li>
                        </ul>
                </li>
                <li>
                        14.3	Please note that Buyers will be eligible to claim under this Clause 14 only in the following circumstances: 
                        <ul class="sub-list">
                            <li>
                                    14.3.1	Jewellery are not used (other than for trial), altered, washed, soiled or damaged in any way. 
                            </li>
                            <li>
                                    14.3.2	Original tags and packaging are intact. For items that come in branded packaging, the box should be undamaged. 
                            </li>
                            <li>
                                    14.3.3	'Made to order' jewellery are not covered under the return policy.
                            </li>
                        </ul>
                </li>
                <li>
                        14.4	If Jheaps has suspicion or knowledge, that any of its buyers and sellers are involved in any activity that is intended to provide claims or information that is false, misleading or not genuine, then Jheaps may while reserving its rights to initiate civil and/or criminal proceedings against member may also at its sole discretion suspend, block, restrict, cancel the account of such buyer and seller and/or disqualify that user. 
                </li>
            </ul>
        </div>
        <h4>15.	Buyer Protection Program:</h4>
        <div>
            <ul>
                <li>
                    15.1	If the buyer is not satisfied with the seller’s resolution for product return request, the buyer could write to JHeaps admin at resolutions@jheaps.com with the dispute details. JHeaps admin would review the information provided by the buyer/seller and facilitate the resolution process.
                </li>
                <li>
                    15.2    In these instances, it is the sole discretion of the JHeaps admin to either approve or deny a return request. The approval or denial would be based on the review of the information provided by the buyer and the seller, and would be binding on both the seller and the buyer.
                </li>
            </ul>
        </div>
        <h4>16.	Your Account Deactivation Rights</h4>
        <div>
            <ul>
                <li>
                        16.1	You can deactivate your account by clicking the Deactivate Account link in your dashboard. At the time of deactivation, if you have any outstanding/undelivered orders in your account, the orders would be processed until completion.
                </li>
            </ul>
        </div>
        <h4>17.	Our Liability to You</h4>
        <div>
            <ul>
                <li>
                        17.1	As stated in Clause 5, We are not a party to any transactions, other relationships, or disputes between Buyers and Sellers. Furthermore, as stated in sub-Clause 5.3, We do not pre-screen Sellers or any items that Sellers advertise in Listings on Our Marketplace. We will not be responsible for any aspect of a transaction and make no warranties as to the quality, safety, or legality of any item(s) purchased from Sellers on Our Marketplace. Any claims pertaining to a transaction must be made directly against the Seller concerned.
                </li>
                <li>
                        17.2	We will not be liable to you for any loss of profit, loss of business, interruption to business, or for any loss of business opportunity.
                </li>
            </ul>
        </div>
        <h4>18.	Communication and Contact Details</h4>
        <div>
            <ul>
                <li>
                        18.1	For matters relating to Our Marketplace including, but not limited to, these Terms for Buyers, transactions, and Sellers, please contact Us by  email at contactus@jheaps.com, or by post at No. 2/1,1st Floor, 4th St, Kamarajar Nagar, Chinna Chokkikulam, Chockikulam, Madurai, Tamil Nadu 625002.
                </li>
            </ul>
        </div>
        <h4>19.	Data Protection</h4>
        <div>
            <ul>
                <li>
                        19.1	All personal information that We may use will be collected, processed, and held in accordance with the provisions of Information Technology Act 2000.
                </li>
                <li>
                        19.2	For complete details of Our collection, processing, storage, and retention of personal data including, but not limited to, the purpose(s) for which personal data is used, the legal basis or bases for using it, details of your rights and how to exercise them, and personal data sharing (where applicable), please refer to Our <a href="javascript:;" [routerLink]="['/user/privacy/list/privacy-policy']">Privacy Policy</a>.
                </li>
                <li>
                        19.3	Sellers will also collect, hold, and process your personal information in the course of transactions (for example, your name, email address, and postal address). Sellers are, therefore, also considered data controllers under the Act and will be responsible for complying with their legal obligations and protecting your rights.
                </li>
                <li>
                        19.4	You must only use the personal data of other Users (whether they are Buyers or Sellers) to the extent necessary to complete a transaction, to communicate about a specific transaction, to communicate via Our Marketplace, and/or to respond to messages from them. You shall not add any User to a mailing list, use their data for marketing, or retain any payment details. You shall only use another User’s personal data for additional purposes with their consent.
                </li>
            </ul>
        </div>
        <h4>20.	Other Important Terms</h4>
        <div>
            <ul>
                <li>
                        20.1	We may transfer (assign) Our obligations and rights under these Terms for Buyers to a third party. This may happen, for example, if We sell Our business.  If this occurs, you will be informed by Us in writing.  Your rights under these Terms for Buyers will not be affected and Our obligations under these Terms for Buyers will be transferred to the third party who will remain bound by them.
                </li>
                <li>
                        20.2	You shall not transfer (assign) your obligations and rights under these Terms for Buyers without Our express written permission.
                </li>
                <li>
                        20.3	If any of the provisions of these Terms for Buyers are found to be unlawful, invalid or otherwise unenforceable by any court or other authority, that / those provision(s) shall be deemed severed from the remainder of these Terms for Buyers.  The remainder of these Terms for Buyers shall be valid and enforceable. 
                </li>
                <li>
                        20.4	We may revise these Terms for Buyers from time to time in response to changes in relevant laws and other regulatory requirements. It is your responsibility to review these terms periodically to know about the revisions. In the event of any conflict between the current version of these Terms for Buyers and any previous version(s), the current version shall prevail unless it is specifically stated otherwise.
                </li>
            </ul>
        </div>
        <h4>21.	Law and Jurisdiction</h4>
        <div>
            <ul>
                <li>
                        21.1	These Terms and Conditions, and the relationship between you and Us (whether contractual or otherwise) shall be governed by, and construed in accordance with the law of India.
                </li>
                <li>
                        21.2	If you are a consumer, any dispute, controversy, proceedings or claim between you and Us relating to these Terms and Conditions, or the relationship between you and Us whether contractual or otherwise shall be subject to the exclusive jurisdiction of the courts of Madurai, Tamil Nadu, India. 
                </li>
                <li>
                        21.3	If you are a business, any disputes concerning these Terms and Conditions, the relationship between you and Us, or any matters arising therefrom or associated therewith whether contractual or otherwise shall be subject to the exclusive jurisdiction of the courts of Madurai, Tamil Nadu, India.
                </li>
            </ul>
        </div>
    </div>
</section>