<!-- About us -->
<section class="">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="Clstitle_cover">
                    <h2 class="relative bottom-line style-2 left-align">About Us</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1">
                <p>
                    JHeaps is an e-commerce marketplace exclusively meant for fashion/artificial jewellery. Our
                    customers are presented with exquisite choices of jewellery from independent designers and
                    manufacturers.
                    At JHeaps, we provide our buyer and seller community with a top-class marketplace with an emphasis
                    on reliable customer friendly services. We continuously strive to facilitate a seamless connection
                    between our buyers and sellers and make the shopping experience for our customers fun and exciting.
                </p>
            </div>
        </div>
    </div>
</section>