<style>
		.alert{
			font-size: 12px !important;
			padding: 0px !important;
			margin-bottom: 10px !important;
			color: #ff0000 !important;
			margin-top: -6px;
			}
		
		input[type="text"],input[type="number"],input[type="email"],input[type="password"] ,textarea{
			border: none !important;
			margin-bottom: 0px !important;
			padding: 0px !important;
			box-shadow: none;
		}
		.form-control:focus{
	-webkit-box-shadow:none !important;
	box-shadow: none !important;
}
		</style>
			<div class="row" *ngIf="showReturn" style = "margin-top: 20px;">
				<div class="col-md-5 input-group input-group-xs hidden-xs col-md-offset-7">
				
					<button class="btn  btn-color pull-right" (click)="print()" [disabled]="this.orderArray.length == 0">PRINT
								SELECTED ORDERS</button>
				</div>
			</div>
			<div class=row *ngIf="showReturn"> 
		
					<div class="col-md-4" style = "margin-bottom: 20px">
							<label for="Search">Product Name / Order Id</label>
							<!-- <input name="text" type="text" id="UserName"  name="UserName" placeholder="User Name / Mail Id" (change)="getdetails($event.target.value)"> -->
							<div class="input-group stylish-input-group">
									<input type="text" class="form-control" (keyup)="searchOrder()" [(ngModel)]="this.searchTerm"
											id="Search" name="Search" placeholder="Type and enter to search">
									<span (click)="searchOrder()" class="input-group-addon">
											<i class="fa fa-search" aria-hidden="true"></i>
									</span>
							</div>
					</div>
	
			</div>
<div *ngIf="orderList.length > 0; else addNewTemplate">
	<div class="mt-30" *ngIf="showReturn">
		
		<!-- <div class="scroll-container" (scroll)="LoadOnScroll()" id='scroll-container'> -->
			<!-- <div id='scroll-box' class="col-xs-12"> -->
				<div class="table-wrap col-lg-12 col-md-12 col-sm-12 hidden-xs">
					<table class="table table-hover">
						<thead>
							<tr>
								<th>#</th>
								<th>*</th>
								<th>Date
									<a href="javascript:;"  (click)="tableSorting()">
										<i class="fa fa-sort"></i>
					            	</a>
								</th>
								<th>OrderNumber</th>
								<!-- <th>Total</th> -->
								<th>Reason</th>
								<th>Status</th>
							</tr>

						</thead>
						<tbody>
							<tr  style="cursor: pointer;" *ngFor="let order of orderList; let i=index;" (click)="this.showReturn=false;this.ShowDatas=false;this.selectedOrder=[];purchasedItem(order)" >
								<td>
									{{(i+1) + (initialPage * 10)}}
								</td>
								<div class="checkboxes" style="margin-top: 10px;">
									<input type="checkbox" class="input-checkbox" (change)="checkedOrder(order,$event);" [(ngModel)]="order.checked"
									 [id]="order._id" name="selectOrder" />
									<label [attr.for]="order._id"> </label>
							</div>
								<td>{{order.CreatedDate | date:'dd MMM yyyy'}}</td>
								<td style="cursor: pointer;">{{order.OrderId}}</td>
								<!-- <td>{{order.Totals.ProductCost + order.Totals.ShippingCost - order.Totals.CouponDiscount}}</td> -->
								<td>{{order.Items[0].Product.CancellationReason.Reason}}</td>
								<td>{{order.Items[0].Product.ProductStatus}}</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="table-wrap hidden-lg hidden-md hidden-sm col-xs-12">
					<table class="table table-hover">
						<thead>
							<tr>
								<th>OrderNumber</th>
								<!-- <th>Total</th> -->
								<th>Reason</th>
								<th>Status</th>
							</tr>

						</thead>
						<tbody>
							<tr *ngFor="let order of orderList; let i=index;">
								<td style="cursor: pointer;" (click)="this.showReturn=false;this.selectedOrder=[];purchasedItem(order)">{{order.OrderId}}</td>
								<!-- <td>{{order.Totals.ProductCost + order.Totals.ShippingCost - order.Totals.CouponDiscount}}</td> -->
								<td>{{order.Items[0].Product.CancellationReason.Reason}}</td>
								<td>{{order.Items[0].Product.ProductStatus}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			<!-- </div> -->
		<!-- </div> -->
	</div>
</div>
<div class="mt-30" *ngIf="!showReturn && !ShowDatas">
	<div>
		<div class="form-group">
			<button type="button" class="btn btn-sm btn-color" (click)="this.showReturn = true;">
				<span class="fa fa-arrow-left" aria-hidden="true"></span>
			</button>
		</div>
		<!-- <div class="arrow-purchase-back hidden-xs" style="margin-top: -5%;margin-right: 2%;">
			<button type="button" class="btn btn-sm btn-color" (click)="this.showReturn = true;">
				<span class="fa fa-arrow-left" aria-hidden="true"></span>
			</button>
		</div> -->
	</div>
	<div class="row mb-30" *ngFor="let order of selectedOrder;let i=index">
		<div class=" purchase_container">
			<div class="row purchase_title" style="margin-left: 0px; margin-right: 0px;">
				<div class="col-md-3">
					<p>
						<strong>Order Date</strong>
					</p>
					<p>{{order.CreatedDate | date:'dd MMM yyyy'}}</p>
				</div>
				<div class="col-md-2">
					<p>
						<strong>Total</strong>
					</p>
					<p class="amount"> {{ productCurrency.value + order.Totals.TotalCost}}</p>
				</div>
				<div class="col-md-4">
					<p>
						<strong>Status</strong>
					</p>
					<p>{{order.OrderStatus}}</p>
				</div>
				<div class="col-md-3">
					<p>
						<strong>Order-ID</strong>
					</p>
					<p>{{order.OrderId}}</p>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12" *ngIf="order.hasOwnProperty('ZepoReferenceId')">
					<p>
						<strong>Tracking Number</strong>
					</p>
					<p>{{order.ZepoReferenceId.TransactionDetails.shipments[0].shipmentPackages.tracking_number}}</p>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12"*ngIf="order.hasOwnProperty('ZepoReferenceId')">
					<p>
						<strong>Courier Name</strong>
					</p>
					<p>{{order.ZepoReferenceId.TransactionDetails.shipments[0].courier_name}}</p>
				</div>
			</div>
			<div class="row purchase_body" *ngFor="let shopId of order.Items;let i=index;">
				<div class="col-md-2">
					<img [ImageBind]="shopId.Product" />
				</div>
				<div class="col-md-5">
					<p>
						<strong>{{shopId.Product.Name}}</strong>
					</p>
					<p>Sold by : {{order.ShopAccountId.approvedBusinessDetails.Name}}</p>
					<p *ngIf="shopId.Product?.Variation">
						<span class="amount"> {{productCurrency.value + shopId.Product.Variation.Price}}</span>
						x {{shopId.Product.Qty}}
					</p>
					<p *ngIf="!shopId.Product?.Variation && shopId.Product?.Price">
						<span class="amount"> {{productCurrency.value + shopId.Product.Price}}</span> x {{shopId.Product.Qty}}
					</p>
					<p>
						Return Quantity : {{shopId.Product.ReturnQty}}
					</p>
				</div>
				<span *ngIf="shopId.Product.ProductStatus=='Refund Approved'||shopId.Product.ProductStatus=='Replacement Approved'">
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-3">
						<div>
							<button type="button" class="mt-40 btn btn-sm btn-color" disabled="true">{{shopId.Product.ProductStatus}}</button>
						</div>
					</div>
				</span>
				<span *ngIf="(shopId.Product.ProductStatus!='Opened' || order?.OrderType == 2 || order?.OrderType ==3)">
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-3">
						<div>
							<button type="button" class="mt-40 btn btn-sm btn-color" (click)="viewTicket(shopId.Product.ReturnTicketId)">Ticket</button>
						</div>
					</div>
				</span>
				<span *ngIf="shopId.Product.FirstReject && shopId.Product.ProductStatus != 'Reject Requested'">
					<div class="col-lg-4 col-md-1 col-sm-4 col-xs-3 mt-20">
						<span style="color: red">
							You have already Rejected this product.
						</span>
					</div>
				</span>
				<div *ngIf="shopId.Product?.FirstReject == false"><span *ngIf="!shopId.Product.FirstReject && shopId.Product.ProductStatus == 'Return Requested'">
					<div class="col-lg-4 col-md-1 col-sm-4 col-xs-3 mt-20">
						<span style="color: red">
							You need to reconsider this product about reject.
						</span>
					</div>
				</span></div>

				<div class="col-lg-4 col-md-1 col-sm-4 col-xs-3 mt-20" *ngIf="order.OrderStatus == 'Delivered' && shopId.Product.ProductStatus=='Replacement Approved'">
					<a href="javascript:;"  class="link_btn" style="white-space: normal;"  (click)="showReturnedOrder(order._id,'replace',shopId.Product.Id)" >View Replaced order</a>
				</div>
				<div class="col-lg-4 col-md-1 col-sm-4 col-xs-3 mt-20 " *ngIf="order.OrderStatus == 'Delivered' && shopId.Product.ProductStatus=='Refund Approved'">
					<a href="javascript:;" class="link_btn" style="white-space: normal;"  (click)="showReturnedOrder(order._id,'refund',shopId.Product.Id)" >View Refund order</a>
				</div>
				
				<!-- <div class="mt-8">
						<button type="button" class="mt-10 btn btn-sm btn-color" (click)="returnSellerQuestion(order._id,shopId.Product.Id,shopId.Product.Shop.Id,i)">Ask a Question</button>
					</div> -->
				<span *ngIf="shopId.Product.ProductStatus=='Return Requested'">
					<div class="col-md-3">
						<div class="mt-30">
							<select (change)="returnStatus($event.target.value)">
								<option disabled>Select Status </option>
								<option value="Replacement Approved">Replacement approved</option>
								<option value="Refund Approved">Refund approved</option>
								<option *ngIf="!shopId.Product?.SecondReject" value="Reject Requested">Return request rejected</option>
							</select>
						</div>

					</div>
					<div class="col-md-2">
						<div>
							<button type="button" class="mt-40 btn btn-sm btn-color" (click)="showReturnModal(i)">Submit</button>
						</div>
					</div>
				</span>
			</div>
		</div>
		<!-- <div class="row purchase_container " style="border: none;margin: 0">
			<div class=" col-md-6 ">
				<div class=" panel panel-default">
					<div class="panel-heading text-uppercase">
						<span>Shipping Address</span>
					</div>
					<div class="panel-body">
						<strong>
							<p>{{order.ShippingAddress.FirstName +" "+order.ShippingAddress.LastName}}</p>
						</strong>
						<p style=" line-height: 1;">{{order.ShippingAddress.Line1}}</p>
						<p style=" line-height: 1;">{{order.ShippingAddress.Line2}}</p>
						<p style=" line-height: 1;">{{order.ShippingAddress.City}}</p>
						<p style=" line-height: 1;">{{order.ShippingAddress.State}}</p>
						<p style=" line-height: 1;">{{order.ShippingAddress.Country}}-{{order.ShippingAddress.Zip}}</p>
						<p style=" line-height: 1;">Phone : {{order.ShippingAddress.Phone}} </p>
					</div>
				</div>
			</div>
			<div class="col-md-6 ">
				<div class="panel panel-default">
					<div class="panel-heading text-uppercase">
						<span>Grant Total</span>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-md-6">
								<p>Cart Sub Total</p>
								<p>Shipping Cost</p>
								<p>Coupon Discount</p>
								<p style=" line-height: 4.5;">
									<strong>Total</strong>
								</p>
							</div>
							<div class="col-md-6">
								<p>+
									<span [currencyValue]="productCurrency" class="amount right"> {{order.Items[i].Product.Price | currency:productCurrency.value:true}}</span>
								</p>
								<p>+
									<span [currencyValue]="productCurrency" class="amount right"> {{order.Items[i].Product.ShippingCost | currency:productCurrency.value:true}}</span>
								</p>
								<p>-
									<span [currencyValue]="productCurrency" class="amount right"> {{order.Items[i].Product.DiscountValue | currency:productCurrency.value:true}}</span>
								</p>
								<hr>
								<p>=
									<span [currencyValue]="productCurrency" class="amount right"> {{order.Items[i].Product.Price + order.Items[i].Product.ShippingCost - order.Items[i].Product.ReductionAmount |
										currency:productCurrency.value:true}}
									</span>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div> -->
	</div>
</div>
<div class="row" *ngIf="this.ShowTicket" style="margin-top: 2%;">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"  >
		<div class="form-group">
			<div class="hidden-xs">
				<button type="button" class="btn btn-sm btn-color" (click)="this.ShowTicket = false;this.showReturn = false;this.ShowDatas = false">
					<span class="fa fa-arrow-left" aria-hidden="true"></span>
				</button>
			</div>
		</div>
		<div class="purchase_container" style="margin-top: 24px;width: 100%;">
			<div class="row purchase_title" style="margin-left: 0px; margin-right: 0px;margin-top: 20px;">
				<div class="col-md-3">
					<p>
						<strong>Ticket Id</strong>
					</p>
					<p>{{Ticket.TicketId}}</p>
				</div>
				<div class="col-md-3">
					<p>
						<strong>Ticket Date</strong>
					</p>
					<p>{{Ticket.CreatedDate | date:'dd MMM yyyy HH:mm:ss'}}</p>
				</div>
	
				<div class="col-md-3">
					<p>
						<strong>Ticket Status</strong>
					</p>
					<p>{{Ticket.TicketStatus}}</p>
				</div>
				<div class="col-md-3">
					<p>
						<strong>Product Status</strong>
					</p>
					<p *ngIf="Ticket.Product?.Status != 'Reject Requested'">{{Ticket.Product?.Status}}</p>
					<p *ngIf="Ticket.Product?.Status == 'Reject Requested' && Ticket.Rejected == 1">{{Ticket.Product?.Status}}</p>
					<p *ngIf="Ticket.Product?.Status == 'Reject Requested' && Ticket.Rejected != 1">Rejected</p>
	
				</div>
			</div>
			<div class="col-md-offset-9 col-md-1" style="margin-top:20px" *ngIf="Ticket.TicketStatus == 'Open'">
				<span (click)="this.ShowTicket=false;this.replyMail=true;SellerTickets.UserType=0">
					<a href="javascript:;">
						<!-- <i class="fa fa-reply" style="font-size: 24px; color:black;" aria-hidden="true"></i> -->
						Reply
					</a>
				</span>
			</div>
	
			<div class="col-md-9">
				<div class="entry-comments mt-20">
					<ul class="comment-list">
						<li *ngFor="let Ticket of Messages; let i=index">
							<div class="comment-body">
								<div class="comment-header">
									<div class="row">
										<div class="col-md-2">
											<img src={{Ticket.From?.Profile.DisplayPicture}} class="img-circle" alt="">
										</div>
										<div class="col-md-9 comment-author">
											<span class="comment-author">From : {{Ticket.From?.Profile?.FirstName ? Ticket.From?.Profile?.FirstName : 'JHeaps Member'}}</span>
											<span>To : <span #p3 [title]="SetUsername(Ticket)">{{Ticket.To?.Profile?.FirstName ? Ticket.To?.Profile?.FirstName : 'JHeaps Member'}}</span></span>
											<!-- <p>Reason: {{Ticket.Reason}}</p> -->
											<p *ngIf="Ticket?.Description" >Comment: {{Ticket.Description}}</p>
											<p>Date : {{Ticket.CreatedDate | date:'dd MMM yyyy HH:mm:ss'}}</p>
										</div>
	
									</div>
								</div>
								<div class="comment-content">
									<div *ngIf="this.Ticket.Attachment.length!=0">
										<div class="row">
											<div class="col-md-3" *ngFor="let Attach of Ticket.Attachment">
												<img src="{{Attach.URL}}" style="height:100px; width:100px"><br>
												<i class="fa fa-paperclip" style="font-size: 14px; color:black;" aria-hidden="true"></i>
												<a target="_blank" href="{{Attach.URL}}" download="{{Attach.Name}}.jpg">{{Attach.Name| shorten : 10:'... '}}</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</li>
	
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" *ngIf="this.replyMail">
	<div class="form-group">
		<div class="arrow-purchase-back hidden-xs" style="margin-top: -2%">
			<button type="button" class="btn btn-sm btn-color" (click)="this.ShowTicket=true;this.replyMail=false">
				<span class="fa fa-arrow-left" aria-hidden="true"></span>
			</button>
		</div>
	</div>
	<div class="col-md-8 col-md-offset-2">
		<form name="ComposeForm" id="ComposeForm" #ComposeForm="ngForm" novalidate>
			<!-- <div class="form-group">
			
				<mat-form-field class="example-full-width">

				<input matInput type="text" class="form-control" id="Reason" placeholder="Reason" name="Reason" [(ngModel)]="this.SellerTickets.Reason"
				 #Reason="ngModel" required>
				 </mat-form-field>
				<div *ngIf="Reason.errors && (Reason.dirty || Reason.touched)" class="alert">
					<div [hidden]="!Reason.errors.required">
						Reason is required
					</div>
				</div>
			</div> -->
			<div class="form-group">
				<!-- <label for="toDescription">Description:</label> -->
				<mat-form-field class="example-full-width">

				<input matInput type="text" class="form-control" id="toDescription" rows="5" maxlength="500" required placeholder="Comment" name="toDescription"
				 [(ngModel)]="this.SellerTickets.Description" #toDescription="ngModel" >
				 </mat-form-field>
				<div *ngIf="toDescription.errors && (toDescription.dirty || toDescription.touched)" class="alert">
					<div [hidden]="!toDescription.errors?.maxlength">
						Maximum 500 characters allowed
					</div>
				</div>
			</div>
			<div class="form-group" *ngIf="this.Ticket.Product?.Status == 'Reject Requested'">
				<label for="UserType">To:</label>
				<select class="mb-0" id="UserType" [(ngModel)]="this.SellerTickets.UserType" name="UserType" #UserType="ngModel">
					<option selected="" [ngValue]="default" disabled>Select User</option>
					<option *ngFor="let user of UserTypes" [value]="user.value">{{user.label}}</option>
				</select>
			</div>
			<div class="row mb:30">
				<div class="col-md-6">
					<input type="file" class="form-control" (change)="ChangeListener($event)" accept="image/*">
				</div>
			</div>

			<div class="form-group" style="margin-top:20px">
				<div class="items-grid">
					<div class="shop-filter row">
						<div class="col-xs-12 col-md-12">
							<div class="tag-group" *ngFor="let attach of attachments;let i=index;">
								<div class="tag-label">
									{{attach.Name | shorten : 10:'... '}}
								</div>
								<div class="tag-close pull-left">
									<a href="javascript:;" (click)="test(attach,i)">
										<i class="fa fa-times"></i>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<input type="submit" class="btn btn-sm btn-color right rounded" [disabled]="!ComposeForm.form.valid" value="Reply"
			 (click)="ReplyMessage()">
		</form>
	</div>
</div>


<!-- View Replace Order -->

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" *ngIf="showReturnedOrderDiv">
	<div class="Clspurchase_back_arrow text-right hidden-xs">
		<button type="button" class="Clsback_btn Clscommon_btn_fill_small" (click)="this.showReturn = false;this.showReturnedOrderDiv=false;this.ShowDatas=false">
			<span class="fa fa-arrow-left" aria-hidden="true"></span>
		</button>
	</div>
	<div class="row mb-30 mt-2" *ngFor="let order of refundReplaceOrder;let i=index">
		<div class="purchase_container">
			<div class="row purchase_title m-0">
					<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
							<p>
								<strong>Sold by </strong>
							</p>
							<a routerLink="/user/shop/{{order.Items[0].Product.ShopId}}">
								<p>{{order.ShopAccountId.approvedBusinessDetails.Name}}</p>
							</a>
						</div>
				<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12" *ngIf="order.OrderType!=3">
					<p>
						<strong>Order Date</strong>
					</p>
					<p>{{order.CreatedDate | date:'dd MMM yyyy'}}</p>
				</div>
				<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
					<p>
						<strong>Total</strong>
					</p>
					<p class="amount"> {{ productCurrency.value + order.Totals.TotalCost}}</p>
				</div>
				<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12" *ngIf="order.OrderType!=3">
					<p>
						<strong>Status</strong>
					</p>
					<p>{{order.OrderStatus}}</p>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
					<p *ngIf="order.OrderType==2"> 
						<strong>Replaced Order #</strong>
					</p>
					<p *ngIf="order.OrderType==3">
						<strong>Refund Order #</strong>
					</p>
					<p>{{order.OrderId}}</p>
				</div>
			   
			</div>
			<div class="row">
					<!-- <button type="button" class="mt-20 btn btn-sm btn-color" style="float:right;margin-right: 1%"   (click)="cancel(order,order._id,'All')" *ngIf="checkCancelHours(order.CreatedDate,order.OrderStatus)">Cancel Order</button> -->
				</div>
			<!-- <div class="row purchase_body" *ngFor="let shopId of order.Items[0][getShopkey(selectedOrder[i].Items[0])];let i=index;" > -->
			<div class="row purchase_body" *ngFor="let shopId of order.Items;let i=index;">
				<span>
					<div class="col-lg-2 col-md-2 col-sm-2 hidden-xs">
						<a routerLink="/user/product/{{shopId.Product.Id}}">
							<img [ImageBind]="shopId.Product" />
						</a>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-8">
						<a routerLink="/user/product/{{shopId.Product.Id}}">
						<p class="text-truncate">
							<strong>{{shopId.Product.Name}}</strong>
						</p>
						</a>
						<!-- <a routerLink="/user/shop/{{shopId.Product.ShopId}}">
						<p>Sold by : {{shopId.order.ShopAccountId.approvedBusinessDetails.Name}}</p>
						</a> -->
						<p>
							<p *ngIf="shopId.Product?.Variation">
								<span class="amount"> {{productCurrency.value + shopId.Product.Variation.Price}}</span> x {{shopId.Product.Qty}}
							</p>
							<p *ngIf="!shopId.Product?.Variation && shopId.Product?.Price">
								<span class="amount"> {{productCurrency.value + shopId.Product.Price}}</span> x {{shopId.Product.Qty}}
							</p>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
						<div *ngIf="shopId.Product?.Variation">
							<p>
								<b>{{shopId.Product.Variation.Name1}}:{{shopId.Product.Variation.Value1}}</b>
							</p>
							<p *ngIf="shopId.Product.Variation?.Name2">
								<b>{{shopId.Product.Variation.Name2}}:{{shopId.Product.Variation.Value2}}</b>
							</p>
						</div>
						<span *ngIf="!order.returnInvoiceURL">
							<button type="button" class="mt-40 btn btn-sm btn-color" *ngIf="(((order?.OrderType == 2 && order?.Hirarchy == 1) || (order?.OrderType == 3) && order?.OrderStatus == 'Placed'))"
							(click)="action(order._id)">Download Return Invoice</button>
						</span>
						<span *ngIf="order.returnInvoiceURL">
							<button type="button" class="mt-40 btn btn-sm btn-color" *ngIf="(((order?.OrderType == 2 && order?.Hirarchy == 1) || (order?.OrderType == 3) && order?.OrderStatus == 'Placed'))"
						(click)="downloadlink(order.returnInvoiceURL)">Download Return Invoice</button>	
						</span>
										
					<button type="button" class="mt-40 btn btn-sm btn-color" *ngIf="shopId.Product.ProductStatus!='Opened'" disabled="true">{{shopId.Product.ProductStatus}}</button>
					
					</div>
				</span>
			</div>
		</div>
		<ul class="progress-indicator" style="width: 66%; margin-left: auto;margin-right: auto;" *ngIf="order.OrderStatus == 'Cancelled'" > 
			<li class="completed"> <span class="bubble"></span> Ordered </li> 
			<li class="cancelled"> <span class="bubble"></span> Cancelled </li> 
		</ul> 
		<!-- <ul class="progress-indicator" style="width: 66%;margin-left: auto;margin-right: auto;"  *ngIf="order.OrderStatus != 'Cancelled'"> 
			<li [class]="stepindicator(1,order.OrderStatus)"> <span class="bubble"></span> Ordered </li> 
			<li [class]="stepindicator(2,order.OrderStatus)"> <span class="bubble"></span> Packed </li> 
			<li [class]="stepindicator(3,order.OrderStatus)"> <span class="bubble"></span> Shipped </li> 
			<li [class]="stepindicator(4,order.OrderStatus)"> <span class="bubble"></span> Delivered </li>
		</ul> -->
		<div class="row purchase_container mt-2" style="border: none;margin: 0" *ngIf="order.OrderType!=3">
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
				<div class=" panel panel-default">
					<div class="panel-heading text-uppercase">
						<span>Shipping Address</span>
					</div>
					<div class="panel-body">
						<strong>
							<p>{{order.ShippingAddress.FirstName +" "+order.ShippingAddress.LastName}}</p>
						</strong>
						<p style=" line-height: 1;">{{order.ShippingAddress.Line1}}</p>
						<p style=" line-height: 1;">{{order.ShippingAddress.Line2}}</p>
						<p style=" line-height: 1;">{{order.ShippingAddress.City}}</p>
						<p style=" line-height: 1;">{{order.ShippingAddress.State}}</p>
						<p style=" line-height: 1;">{{order.ShippingAddress.Country}}-{{order.ShippingAddress.Zip}}</p>
						<p style=" line-height: 1;">Phone: {{order.ShippingAddress.Phone}} </p>
					</div>
				</div>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
				<div class="panel panel-default">
					<div class="panel-heading text-uppercase">
						<span>Grant Total</span>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-md-6">
								
								<p>Cart Sub Total</p>
								<p>Shipping Cost</p>
								<p>Coupon Discount</p>
								<p></p>
								<p style=" line-height: 4.5;">
									<strong>Total</strong>
								</p>
							</div>
							<div class="col-md-6">
								<p>+
									<span class="amount right"> {{ productCurrency.value + order.Totals.ProductCost}}</span>
								</p>
								<p>+
									<span class="amount right"> {{ productCurrency.value + order.Totals.ShippingCost}}</span>
								</p>
								<p>-
									<span class="amount right"> {{ productCurrency.value + order.Totals.CouponDiscount}}</span>
								</p>
								<hr>
								<p>=
									<span class="amount right"> {{ productCurrency.value + order.Totals.TotalCost}}</span>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

</div>

<div class="modal fade" id="MailModal" role="dialog">
	<div class="modal-dialog modal-md" *ngFor="let order of selectedOrder;let i=index">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Enter Mail Content</h4>
			</div>
			<div class="modal-body">
				<div class="row">

					<div class="col-md-8 col-md-offset-2">
						<form name="ComposeForm" id="RejectForm" #ComposeForm="ngForm" novalidate>
							<!-- <div class="form-group">
							
								<mat-form-field class="example-full-width">

								<input matInput placeholder="Reason" type="text" name="sellerRejectReason" [(ngModel)]="this.returnReason" #sellerRejectReason="ngModel"
								 required>
								 </mat-form-field>
							</div> -->
							<div class="form-group">
									<mat-form-field class="example-full-width">

								<!-- <label for="writeMessage">Describe:</label> -->
								<textarea matInput required placeholder="Comment" class="form-control" rows="5" id="details" name="details" [(ngModel)]="this.returnDetails" #details="ngModel" required></textarea>
								 </mat-form-field>
								 <div *ngIf="details.errors && (details.dirty || details.touched) && this.requestResponse == 'Reject Requested'" class="alert">
									<div [hidden]="!details.errors.required">
										Reject reason is required!
									</div>
								</div>

							</div>
							<div class="row mb:30">
								<div class="col-md-6">
									<input type="file" class="form-control" (change)="ChangeListener($event)">
								</div>
							</div>
							<div class="form-group" style="margin-top:20px">
								<div class="items-grid">
									<div class="shop-filter row">
										<div class="col-xs-9">
											<div class="tag-group" *ngFor="let attach of attachments;let i=index;">
												<div class="tag-label">
													{{attach.Name | shorten : 10:'... '}}
												</div>
												<div class="tag-close pull-left">
													<a href="javascript:;" (click)="test(attach,i)">
														<i class="fa fa-times"></i>
													</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-sm btn-color rounded" data-dismiss="modal">Cancel</button>
				<button type="button" class="btn btn-sm btn-color rounded" (click)="returnOrderSeller(order._id,order.Items[this.productIndex].Product.Id,order.Items[this.productIndex].Product.ShopId,order,this.productIndex)">Send</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="returnSellerMail" role="dialog">
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Send Reply Mail</h4>
			</div>
			<div class="modal-body">
				<div class="row">

					<div class="col-md-8 col-md-offset-2">
						<form name="ComposeForm" id="ComposeForm" #ComposeForm="ngForm" novalidate>
							<div class="form-group">
								<label for="toSubject">Subject:</label>
								<input type="text" name="sellerReplySubject" [(ngModel)]="this.returnSellerSubject" #sellerReplySubject="ngModel"
								 required>
							</div>
							<div class="form-group">
								<label for="writeMessage">Describe:</label>
								<textarea class="form-control" rows="5" id="sellerReplyContent" name="sellerReplyContent" [(ngModel)]="this.returnSellerDetails"
								 #sellerReplyContent="ngModel" required></textarea>

							</div>
							<div class="row mb:30">
								<div class="col-md-6">
									<input type="file" class="form-control" (change)="ChangeListener($event)">
								</div>
							</div>
							<div class="form-group" style="margin-top:20px">
								<div class="items-grid">
									<div class="shop-filter row">
										<div class="col-xs-9">
											<div class="tag-group" *ngFor="let attach of attachments;let i=index;">
												<div class="tag-label">
													{{attach.Name | shorten : 10:'... '}}
												</div>
												<div class="tag-close pull-left">
													<a href="javascript:;" (click)="test(attach,i)">
														<i class="fa fa-times"></i>
													</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-sm btn-color rounded" data-dismiss="modal">Cancel</button>
				<button type="button" class="btn btn-sm btn-color rounded" (click)='confirmReturnMail()'>Submit</button>
			</div>
		</div>
	</div>
</div>
<div class="table-wrap" id="print-section" style="display:none">
	<table class="table table-hover">
		<thead>
			<tr>
				<th># </th>
				<th>Date</th>
				<th>Id</th>
				<th>Buyer Details</th>
				<th>Product Details</th>
				<th>Price</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let order of printOrderList;let i=index">
				<td>{{(i+1) + (initialPage * 10)}}</td>
				<td>
					<p>{{order.OrderDate | date:'dd MMM yyyy'}}</p>
				</td>
				<td>
					<p>Order : {{order.OrderId}}</p>
				</td>
				<td>
					<strong>
						<p>{{order.ShippingAddress.FirstName +" "+order.ShippingAddress.LastName}}</p>
					</strong>
					<p style=" line-height: 1;">{{order.ShippingAddress.Description}}</p>
					<p style=" line-height: 1;">{{order.ShippingAddress.PackageCount}}</p>
					<p style=" line-height: 1;">{{order.ShippingAddress.City}}</p>
					<p style=" line-height: 1;">{{order.ShippingAddress.State}}</p>
					<p style=" line-height: 1;">{{order.ShippingAddress.Country}}-{{order.ShippingAddress.Zip}}</p>
					<p style=" line-height: 1;">Phone : {{order.ShippingAddress.Phone}} </p>
				</td>
			
				<td>
					<div class="mb-20" *ngFor="let product of order.ProductsArray;let i=index">
						<p style=" line-height: 1;">{{product.Product.Id}}</p>
						<p style=" line-height: 1;">{{product.Product.Name}}</p>
					</div>
				</td>
				<td>
					<p>Cart Sub Total =
						<span [currencyValue]="productCurrency" class="amount"> {{order.TotalCost.ProductCost |
							currency:productCurrency.value:true}}</span>
					</p>
					<p>Shipping Cost =
						<span [currencyValue]="productCurrency" class="amount"> {{order.TotalCost.ShippingCost |
							currency:productCurrency.value:true}}</span>
					</p>
					<p>Coupon Discount =
						<span [currencyValue]="productCurrency" class="amount"> {{order.TotalCost.CouponDiscount |
							currency:productCurrency.value:true}}</span>
					</p>
					<p>Total =
						<span [currencyValue]="productCurrency" class="amount"> {{order.TotalCost.TotalCost |
							currency:productCurrency.value:true}}</span>
					</p>
				</td>
				<td *ngIf="printOrderList.length - 1 == i">
					{{generate()}}
				</td>
			</tr>
		</tbody>
	</table>
</div>
<ng-template #addNewTemplate>
	<div *ngIf="this.pageLoader" class="loader" style="top:250%;left:46%;display: block">
		<svg class="circular" viewBox="25 25 50 50">
			<circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
		</svg>
	</div>
	<div *ngIf="!this.pageLoader">
		<div style="margin-top:150px; margin-bottom:50px" class="text-center">
			<i class="fa fa-trash" style="font-size:100px;"></i>

		</div>
		<div class="col-xs-12 text-center">
			<span style="margin:auto;">No Items To Show</span>
		</div>
	</div>
</ng-template>