<header>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h2 class="heading relative heading-small uppercase bottom-line style-2 left-align mb-0">Add Featured Shops</h2>
    </div>
</header>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 ml-2">
        <button type="button" class="btn btn-sm btn-dark left" (click)="goBack()">
            <span class="fa fa-arrow-left" aria-hidden="true"></span></button>
    </div>
    <p class="col-lg-4 col-md-4 col-sm-6 col-xs-8 col-lg-offset-6 col-md-offset-6 col-sm-offset-4 col-xs-offset-2 note-text pl-7">Hint : Search by Shop Name</p>
</div>
<form class="form mt-2" id="addFeaturedShop" #addFeaturedShop="ngForm">
    <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-2">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-0">
            <input type="text" name="search" placeholder="Search Shop" (keydown)="key_down($event,$event.target.value)" (change)="getSearchValue($event.target.value)" >
        </div>
        <span class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                
               <button class="col-lg-4 col-md-4 col-sm-4 col-xs-8 search-icon-featuredShop" type="button" (click)="Search()"><span aria-hidden="true">Search</span></button>
        </span>
    </div> -->

    <div class="col-md-12 pt-20">
            <label for="">Search Shop</label>
            <div class="input-group stylish-input-group">
                <input type="text" class="form-control" name = "searchBox" [(ngModel)]="searchTerm" (keyup.enter)="Search(searchTerm)"  placeholder="Type and enter to search" >
                <span class="input-group-addon">
                     <span class="fa fa-search"></span>
                </span>
            </div>
        </div>
</form>
<div class="row mt-2 ml-0" *ngIf="displayDetails.length > 0 else addNewTemplate">
	<table class="table mt-10">
        <thead>
            <tr>
                <th>No.</th>
                <th colspan="3">Shop Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            
            <tr *ngFor="let Shop of displayDetails;let i=index">
                <td>{{((currentPage -1)*10)+(i+1)}}</td>
                <td colspan="3">{{ Shop.Name }}</td>
                <td ><i class="fa fa-plus" style="color:black;font-size: 20px;"  (click)="add(Shop._id,Shop.Name)"></i></td>
            </tr>

        </tbody>
    </table>
</div>

<nav class="pagination clear" *ngIf = "totalPages > 0">
        <a href="javascript:;" (click)="previousPage()"><i class="fa fa-angle-left"></i></a>
        <a href="javascript:;" *ngFor="let page of pages" [class]="currentPage==page?'current':''" (click)="selectPage(page)">{{page}}</a>
        <a href="javascript:;" (click)="nextPage()"><i class="fa fa-angle-right"></i></a>
</nav>

<ng-template #addNewTemplate>

    <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h2 class="heading relative heading-small uppercase bottom-line style-2 left-align mb-0">Zone List</h2>
    </div> -->
<div>
   
<div style="margin-top:150px; margin-bottom:50px" class="text-center">
        <i class="fa fa-trash" style="font-size:100px;" ></i>
    
</div>

<div class="col-xs-12 text-center">
        <!-- <input type="button" style="width:400px; border-radius:30px" class="btn btn-color" [routerLink]="['/admin/zone/add-zone']" value="Add New"> -->
        <span>Either all shops are added or no shops found</span>
</div>
</div> 
</ng-template>

<!-- <div class="row mt-20 text-center" *ngIf="!displayDetails?.length">
    <p>No Record Found</p>
</div> -->