<h1>Admin Revenue Report <span *ngIf="reportData.length>0" style="padding-left:423px;"><a href="javascript:;;" (click)="DownloadReport()"> <i class="fa fa-download"></i></a></span></h1>
<div>
        <button type="button" class="btn btn-sm btn-color" (click)=" goBack()">
            <span class="fa fa-arrow-left" aria-hidden="true"></span>
        </button>
    </div>
    
<div class="row purchase_container mt-2" style="border: none;margin: 0">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class=" panel panel-default">
            <div class="panel-heading text-uppercase">
                <span><strong>Seller Income Details</strong></span>
            </div>
            <div class="panel-body">

                <div class="row">
                    <div class="col-md-6">
                        <!-- <p><strong>Shop ID </strong> </p> -->
                        <p><strong>Gross Revenue </strong> </p>
                        <p><strong> Discount</strong></p>
                        <p> <strong>Shipping Cost From Buyer</strong></p>
                        <p>
                            <strong>Collection Fee</strong>
                        </p>
                        <p> <strong>Fixed Fee</strong></p>
                        <p> <strong>GST</strong></p>

                        <p> <strong>Seller Income</strong></p>

                     
                    </div>
                    <div class="col-md-6">
                        <!-- <p>:
                            <span class="amount right"> {{reportData.ShopId}}</span>
                        </p> -->
                        <p>:
                            <span class="amount right"> {{reportData.GrossRevenue}}</span>
                        </p>
                        <p>:
                            <span class="amount right"> {{reportData.Discount}}</span>
                        </p>
                        <p>:
                            <span class="amount right"> {{reportData.BuyerShippingCost}}</span>
                        </p>
                
                        <p>:
                            <span class="amount right"> {{reportData.CollectionFee}}</span>
                        </p>
                        <p>:
                            <span class="amount right"> {{reportData.FixedFee}}</span>
                        </p>
                        <p>:
                            <span class="amount right"> {{reportData.GST}}</span>
                        </p>
                        <p>:
                            <span class="amount right"> {{reportData.SellerIncome}}</span>
                        </p>
                      
                    </div>
                </div>
        </div>
    </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading text-uppercase">
                <span><strong>Admin Revenue Details</strong></span>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        
                        <p><strong>MarketPlace Commission </strong> </p>
                        <p> <strong>Shipping Cost Seller</strong></p>
                        <p>
                            <strong>Admin Shipping Cost</strong>
                        </p>
                        <p> <strong>Market Place Revenue</strong></p>

                        <p>
                            <strong></strong>
                        </p>                    </div>
                    <div class="col-md-6">
                           
                        <p>:
                            <span class="amount right"> {{reportData.MarketPlaceCommission}}</span>
                        </p>
                       
                        <p>:
                            <span class="amount right"> {{reportData.SellerShippingCost}}</span>
                        </p>
                
                        <p>:
                            <span class="amount right"> {{reportData.AdminShippingCost}}</span>
                        </p>
                        <p>:
                            <span class="amount right"> {{reportData.MarketPlaceRevenue}}</span>
                        </p>
                        <p style="color:white">:
                            <span class="amount right"> </span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>