<div class="pt-20">
<div class="Clsborder" *ngIf="ShippingProfiles?.length; else addNewTemplate">
	<div class="Clstitle_cover">
		<h2 class="heading relative uppercase bottom-line style-2 left-align mb-0">Shipping Profile
				<a href="javascript:;" class="Clstooltip">
						<i class="fa fa-info-circle"></i> 
						<span class="Clstooltip_text">The shipping profile listed here will be available for selection in your listing manager.</span>
					</a>
		</h2>
	</div>
	<div class="mb-20">
		<input type="button" class="Clscommon_btn_fill_small" (click)="addNew()" value="Add new">
	</div>
	<div class="table-wrap">
		<table class="table table-responsive table-bordered" *ngIf="ShippingProfiles?.length">
			<thead>
				<tr>
					<th>Index</th>
					<th>Shipping Profile Name</th>
					<th class="text-center">Edit</th>
					<th class="text-center">Delete</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let ShippingProfile of ShippingProfiles;let i=index">
					<td>{{ i + 1 }}</td>
					<td>{{ ShippingProfile.Name }}</td>
					<td align="center">
						<i class="fa fa-edit Clscommon_icon" (click)="edit(ShippingProfile)"></i>
					</td>
					<td align="center">
						<i class="fa fa-trash-o Clscommon_icon" (click)="confirmdelete(ShippingProfile._id)"></i>
					</td>
				</tr>
			</tbody>
		</table>
		<table class="table" *ngIf="ShippingProfiles?.length==0">
			<tr>
				<td style="border: none;">No Shipping Profiles Found. Click New to add</td>
			</tr>
		</table>
		<div class="modal fade" id="deleteModal"  role="dialog">
			<div class="modal-dialog model-sm">
				<div class="modal-content">
					<div *ngIf="!deleteModel; else cannotDelete">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">&times;</button>
						</div>
						<div class="modal-body text-center">
							<p>Are you sure to Delete this Shipping profile?</p>
						</div>
						<div class="modal-footer">
							<button type="button" class="Clscommon_btn_small Clscancel_btn Clsbtn_space_right" data-dismiss="modal">Cancel</button>
							<button type="button" class="Clscommon_btn_fill_small" (click)='delete()'>Delete</button>
						</div>
					</div>
					<ng-template #cannotDelete>
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">&times;</button>
							<h6 class="modal-title">Delete Modal</h6>
						</div>
						<div class="modal-body">
							<p>Cannot delete the Shipping profile, it is linked with {{deleteModelBody}} products</p>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-sm btn-color rounded" data-dismiss="modal">Close</button>
						</div>
					</ng-template>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
<ng-template #addNewTemplate>

	<!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<h2 class="heading  heading-small uppercase bottom-line style-2 left-align mb-0">Shipping Profile</h2>
	</div> -->
	<div *ngIf="this.pageLoader" class="loader" style="top:130px;left:46%;display: block">
			<svg class="circular" viewBox="25 25 50 50">
			  <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
			</svg>
	</div>
	<div *ngIf="!this.pageLoader">
		<div style="margin-top:150px; margin-bottom:50px" class="text-center">
			<i class="fa fa-trash" style="font-size:100px;"></i>
		</div>
		<div class="col-xs-12 text-center">
			<input type="button" style="width:400px; border-radius:30px" class="btn btn-color" (click)="addNew()" value="Add New">
		</div>
	</div>
</ng-template>