<div *ngIf = "FeaturedShops?.length>0; else addNewTemplate">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h2 class="heading relative heading-small uppercase bottom-line style-2 left-align mb-0">Featured Shops</h2>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <p class="col-lg-5 col-md-5 col-sm-5 col-xs-12 ml-2 note-text">Note : You can add upto 6 shops</p>
        <input type="button" *ngIf="FeaturedShops?.length<6" class=" col-lg-1 col-md-1 col-sm-1 col-xs-4 col-lg-offset-6 col-md-offset-6 col-sm-offset-6 col-xs-offset-5 btn btn-sm btn-color right" (click)="addNew()" value="New">
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-2">
        <div class="table-wrap">
            <table class="table">
                <thead>
                    <tr>
                        <th>No.</th>
                        <th colspan="3">Shop Name</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let featuredShop of FeaturedShops;let i=index">
                        <td>{{ i+1 }}</td>
                        <td colspan="3">{{ featuredShop.Shop?.Name }}</td>
                        <td><i class="fa fa-trash-o" style="color:black;font-size: 20px;"  (click)="confirmDelete(featuredShop._id)"></i></td>
                    </tr>

                </tbody>
            </table>
            <div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModal">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <h4>Do you want to delete ?</h4>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-sm btn-default right" data-dismiss="modal">No</button>
                            <button type="button" class="btn btn-sm btn-red right" (click)="delete()" data-dismiss="modal">Yes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        
    </div>
</div>

<ng-template #addNewTemplate>

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h2 class="heading relative heading-small uppercase bottom-line style-2 left-align mb-0">Featured Shops</h2>
        </div>
    <div>
       
    <div style="margin-top:150px; margin-bottom:50px" class="text-center">
            <i class="fa fa-trash" style="font-size:100px;" ></i>
        
    </div>
    
    <div class="col-xs-12 text-center">
            <input type="button" style="width:400px; border-radius:30px" class="btn btn-color" (click)="addNew()" value="Add New">
    </div>
</div> 
</ng-template>