<!-- Buyer FAQ -->
<div class="container-fluid Clsfaq_title_cover">
  <div class="row">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-5">
          <h1>Here are some common questions from buyers</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid Clsfaq_content_cover">
  <div class="row">
    <div class="container">
      <!-- FAQ Section -->
      <div class="row Clsfaq_section">
        <div class="col-xs-12 col-sm-4 Clsfaq_section_title">
          <h1>Getting started</h1>
        </div>
        <div class="col-xs-12 col-sm-8 Clsfaq_section_content Clssidebar">
          <div class="panel-group" id="accordion1" role="tablist" aria-multiselectable="true">

            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="Clstitle_1">
                <h4 class="panel-title">
                  <a role="button" data-toggle="collapse" class="accordion-toggle collapsed" data-parent="#accordion1" href="#Clscollapse_1"
                    aria-expanded="true" aria-controls="collapseOne">
                    <span>What is JHeaps?</span>
                  </a>
                </h4>
              </div>
              <div id="Clscollapse_1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Clstitle_1">
                <div class="panel-body">
                  JHeaps is an e-commerce marketplace exclusively meant for fashion/artificial jewellery. Our customers
                  are presented with exquisite choices of jewellery from independent designers and manufacturers. At
                  JHeaps, we provide our buyer and seller community with a top-class marketplace with an emphasis on
                  reliable customer friendly services. We continuously strive to facilitate a seamless connection
                  between our buyers and sellers and make the shopping experience for our customers fun and exciting.
                </div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="Clstitle_2">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" class="accordion-toggle collapsed" data-parent="#accordion1"
                    href="#Clscollapse_2" aria-expanded="false" aria-controls="collapseTwo">
                    <span>Who are JHeaps sellers?</span>
                  </a>
                </h4>
              </div>
              <div id="Clscollapse_2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Clstitle_2">
                <div class="panel-body">
                  Sellers in JHeaps are independent. They manage their own inventory and orders; JHeaps doesn’t maintain
                  the inventory of the sellers in a warehouse. When you buy on JHeaps you are directly buying from the
                  seller. If you want to become a seller, please register at “Sell on JHeaps”
                </div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="Clstitle_3">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" class="accordion-toggle collapsed" data-parent="#accordion1"
                    href="#Clscollapse_3" aria-expanded="false" aria-controls="collapseThree">
                    <span>How do I shop on JHeaps?</span>
                  </a>
                </h4>
              </div>
              <div id="Clscollapse_3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Clstitle_3">
                <div class="panel-body">
                  Shopping in JHeaps is similar to purchasing from any e-commerce website. However, you are not buying
                  directly from JHeaps, but from the sellers who have listed their items on JHeaps. Before you make a
                  purchase you need to create an account on JHeaps. It is quick and free. Go to <a href="javascript:;"
                    [routerLink]="['']">JHeaps homepage</a> and click on the Sign in/Register icon at the top
                  right corner to register.
                </div>
              </div>
            </div>
          </div><!-- panel-group -->
        </div>
      </div>
      <!-- FAQ Section End -->
      <!-- FAQ Section -->
      <div class="row Clsfaq_section">
        <div class="col-xs-12 col-sm-4 Clsfaq_section_title">
          <h1>Payment</h1>
        </div>
        <div class="col-xs-12 col-sm-8 Clsfaq_section_content Clssidebar">
          <div class="panel-group" id="accordion2" role="tablist" aria-multiselectable="true">

            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="Clstitle_4">
                <h4 class="panel-title">
                  <a role="button" data-toggle="collapse" class="accordion-toggle collapsed" data-parent="#accordion2" href="#Clscollapse_4"
                    aria-expanded="true" aria-controls="collapseOne">
                    <span>How do I pay for my purchases in JHeaps? </span>
                  </a>
                </h4>
              </div>
              <div id="Clscollapse_4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Clstitle_4">
                <div class="panel-body">
                  You can select the payment method at the time of your cart check out in our site. Two types of payment
                  methods are possible in JHeaps (i) prepayment via netbanking, credit/debit card etc. or (ii) Cash on
                  delivery. Please note that not all sellers offer the cash on delivery payment method.
                </div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="Clstitle_5">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" class="accordion-toggle collapsed" data-parent="#accordion2"
                    href="#Clscollapse_5" aria-expanded="false" aria-controls="collapseTwo">
                    <span>How would the items be shipped to me?</span>
                  </a>
                </h4>
              </div>
              <div id="Clscollapse_5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Clstitle_5">
                <div class="panel-body">
                  The seller would be shipping the items you ordered to the address you have provided while placing the
                  order. You must provide complete and accurate shipping address and phone number during order
                  placement. Sellers are required to ship items within 2 business days of receiving the order. If there
                  is any delay in the shipment beyond the 2 business days, it would affect the performance rating of the
                  seller.
                </div>
              </div>
            </div>

          </div><!-- panel-group -->
        </div>
      </div>
      <!-- FAQ Section End -->
      <!-- FAQ Section -->
      <div class="row Clsfaq_section">
        <div class="col-xs-12 col-sm-4 Clsfaq_section_title">
          <h1>Shipping</h1>
        </div>
        <div class="col-xs-12 col-sm-8 Clsfaq_section_content Clssidebar">
          <div class="panel-group" id="accordion3" role="tablist" aria-multiselectable="true">

            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="Clstitle_6">
                <h4 class="panel-title">
                  <a role="button" data-toggle="collapse" class="accordion-toggle collapsed" data-parent="#accordion3" href="#Clscollapse_6"
                    aria-expanded="true" aria-controls="collapseOne">
                    <span>How would the items be shipped to me?</span>
                  </a>
                </h4>
              </div>
              <div id="Clscollapse_6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Clstitle_6">
                <div class="panel-body">
                  The seller would be shipping the items you ordered to the address you have provided while placing the
                  order. You must provide complete and accurate shipping address and phone number during order
                  placement. Sellers are required to ship items within 2 business days of receiving the order. If there
                  is any delay in the shipment beyond the 2 business days, it would affect the performance rating of the
                  seller.
                </div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="Clstitle_7">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" class="accordion-toggle collapsed" data-parent="#accordion3"
                    href="#Clscollapse_7" aria-expanded="false" aria-controls="collapseTwo">
                    <span>What should I do if I make a Cash On Delivery (COD) order?</span>
                  </a>
                </h4>
              </div>
              <div id="Clscollapse_7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Clstitle_7">
                <div class="panel-body">
                  You need to make the payment in the form of cash to the courier personnel when they deliver the
                  package at the shipping address you provided during order placement.
                </div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="Clstitle_8">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" class="accordion-toggle collapsed" data-parent="#accordion3"
                    href="#Clscollapse_8" aria-expanded="false" aria-controls="collapseThree">
                    <span>How do I track my order?</span>
                  </a>
                </h4>
              </div>
              <div id="Clscollapse_8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Clstitle_8">
                <div class="panel-body">
                  You can track your order at “My Orders” section in your JHeaps account dashboard. You need to login
                  into JHeaps.com account to access the dashboard.
                </div>
              </div>
            </div>
          </div><!-- panel-group -->
        </div>
      </div>
      <!-- FAQ Section End -->
      <!-- FAQ Section -->
      <div class="row Clsfaq_section">
        <div class="col-xs-12 col-sm-4 Clsfaq_section_title">
          <h1>Returns</h1>
        </div>
        <div class="col-xs-12 col-sm-8 Clsfaq_section_content Clssidebar">
          <div class="panel-group" id="accordion4" role="tablist" aria-multiselectable="true">

            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="Clstitle_9">
                <h4 class="panel-title">
                  <a role="button" data-toggle="collapse" class="accordion-toggle collapsed" data-parent="#accordion4" href="#Clscollapse_9"
                    aria-expanded="true" aria-controls="collapseOne">
                    <span>How do I request for a product return?</span>
                  </a>
                </h4>
              </div>
              <div id="Clscollapse_9" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Clstitle_9">
                <div class="panel-body">
                  In your JHeaps account dashboard, under “My orders” section, you need to click on “Request return”
                  link next to the item that you would like to return. Please note that you could request a return only
                  if the
                  <ul class="list">
                    <li>
                      1. Jewellery are not used (other than for trial), altered, washed, soiled or damaged in any way.
                    </li>
                    <li>
                      2. Original tags and packaging are intact. For items that come in branded packaging, the box
                      should be undamaged.
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="Clstitle_10">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" class="accordion-toggle collapsed" data-parent="#accordion4"
                    href="#Clscollapse_10" aria-expanded="false" aria-controls="collapseTwo">
                    <span>What is JHeaps product return policy?</span>
                  </a>
                </h4>
              </div>
              <div id="Clscollapse_10" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Clstitle_10">
                <div class="panel-body">
                  If an item does not conform with the product details provided at the time of your purchase, for
                  example, the item is defective or damaged or it is not as described when the Buyer receives them, the
                  Buyer can raise a return request within 72 hours (3 days) of the delivery of the item. This would
                  create a return request ticket and sent to the seller. The following remedies will be available to the
                  Buyer:
                  <ul class="list">
                    <li>
                      1. Seller is required to respond within 1 business day of a buyer raising a return request. The
                      seller shall respond with one of the following options (i) approve for a replacement (ii) approve
                      for a refund (iii) request more details from the buyer in the return ticket (iv) Reject the return
                      request citing reasons for the rejection, if the request is not in line with JHeaps buyer return
                      policy. Seller is required to fully resolve the return/replacement request within 5 business days
                      of request origination. The replacement resolution option is possible subject to availability of
                      product/item sought by the Buyer.
                    </li>
                    <li>
                      2. Please note that Buyers will be eligible for a return request only in the following
                      circumstances:
                      <ul class="list">
                        <li>
                          2.1 Jewellery are not used (other than for trial), altered, washed, soiled or damaged in any
                          way.
                        </li>
                        <li>
                          2.2 Original tags and packaging are intact. For items that come in branded packaging, the box
                          should be undamaged.
                        </li>
                        <li>
                          2.3 'Made to order' jewellery are not covered under the return policy.
                        </li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="Clstitle_11">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" class="accordion-toggle collapsed" data-parent="#accordion4"
                    href="#Clscollapse_11" aria-expanded="false" aria-controls="collapseThree">
                    <span>How do I know whether my product return request has been approved or not?</span>
                  </a>
                </h4>
              </div>
              <div id="Clscollapse_11" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Clstitle_11">
                <div class="panel-body">
                  You will receive an email notification when a product return request is approved or rejected.
                </div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="Clstitle_12">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" class="accordion-toggle collapsed" data-parent="#accordion4"
                    href="#Clscollapse_12" aria-expanded="false" aria-controls="collapseThree">
                    <span>What should I do if my product return request has been approved for a product replacement or
                      refund?</span>
                  </a>
                </h4>
              </div>
              <div id="Clscollapse_12" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Clstitle_12">
                <div class="panel-body">
                  Please follow the below steps when your product return request has been approved for a product
                  replacement.
                  <ul class="list">
                    <li>
                      Step 1: Repackage the items in a box. You can reuse the box in which they were originally
                      delivered.
                    </li>
                    <li>
                      Step 2: Logon to your JHeaps.com, go to my orders page and enter the package size and weight
                      details. Print the return shipping label. This would schedule a return pick up with our courier
                      partners.
                    </li>
                    <li>
                      Step 3: Paste the return shipping label onto to the package & keep it ready for shipment.
                    </li>
                    <li>
                      Step 4: Deliver the package to our courier partner when they arrive to your place for pick up.
                    </li>
                  </ul>
                  Please complete the above steps at the earliest possible. We recommend you to complete the first 3
                  steps within 24 hours of your return request approval for prompt replacement/refund processing. The
                  seller after verifying the arrival of the returned items in the original condition will ship the
                  replacement or refund the money to you.
                </div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="Clstitle_13">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" class="accordion-toggle collapsed" data-parent="#accordion4"
                    href="#Clscollapse_13" aria-expanded="false" aria-controls="collapseThree">
                    <span>When would I get my refund?</span>
                  </a>
                </h4>
              </div>
              <div id="Clscollapse_13" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Clstitle_13">
                <div class="panel-body">
                  You will get your refund within 10 days of the delivery of your return package to the seller, provided
                  the items in the return package are in order. For example:
                  <ul class="list">
                    <li>
                      1. Jewellery are not used (other than for trial), altered, washed, soiled or damaged in any way.
                    </li>
                    <li>
                      2. Original tags and packaging are intact. For items that come in branded packaging, the box
                      should be undamaged.
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="Clstitle_14">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" class="accordion-toggle collapsed" data-parent="#accordion4"
                    href="#Clscollapse_14" aria-expanded="false" aria-controls="collapseThree">
                    <span>What should I do if I am not satisfied with the resolution provided by the seller for my
                      return request?</span>
                  </a>
                </h4>
              </div>
              <div id="Clscollapse_14" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Clstitle_14">
                <div class="panel-body">
                  <ul class="list">
                    <li>
                      1. If you are not satisfied with the seller’s resolution for product return request, you could
                      write to JHeaps admin at resolutions@jheaps.in with the dispute details. JHeaps admin would review
                      the information provided by the buyer/seller and facilitate the resolution process.
                    </li>
                    <li>
                      2. In such instances, it is the sole discretion of the JHeaps admin to either approve or deny a
                      return request. The approval or denial would be based on the review of the information provided by
                      the buyer and the seller, and would be binding on both the seller and the buyer.
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div><!-- panel-group -->
        </div>
      </div>
      <!-- FAQ Section End -->
    </div>
  </div>
</div>