<style>
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    border-top: 1px solid #f2f2f2;
    padding: 20px;
}
</style>
<div class="row">
	<h2 class="heading relative heading-small uppercase bottom-line style-2 left-align pl-10 mb-0">Seller Commision</h2>
</div>
<ul class="nav nav-tabs" *ngIf="!ViewShopDetails" id="navTabs">
	<li class="active" id='firstTab'>
		<a href="#forAll" data-toggle="tab" aria-expanded="true" >Set Commission for all</a>
	</li>
	<li class="" id='secondTab'>
		<a href="#forShop" data-toggle="tab" aria-expanded="false">Set Commission for Shop</a>
	</li>
</ul>
<div class="tab-content" *ngIf="!ViewShopDetails">
	<div class="tab-pane fade active in" id="forAll">
		<div class='mt-30 ml-30 '>
			<div class="row">
				<div class="col-md-6">
					<form name="defaultCommissionForm" id="defaultCommissionForm" #defaultCommissionForm="ngForm" novalidate>
						<div class="form-group">
							<label for="_DefaultCommission">
								<p>
									<strong>Default Commission (%)</strong>
								</p>
							</label>
							<input type="number" name="_DefaultCommission" id="_DefaultCommission" placeholder="Enter Default Commission %" [(ngModel)]="this.DefaultCommissionModel.DefaultCommission"
							 #_DefaultCommission="ngModel" required>
						</div>
						<div class="form-group">
							<label for="_GST">
								<p>
									<strong>GST (%)</strong>
								</p>
							</label>
							<input type="number" name="_GST" id="_GST" placeholder="Enter GST %" [(ngModel)]="this.DefaultCommissionModel.GST" #_GST="ngModel"
							 required>
						</div>
						<div class="form-group">
							<label for="_CourierCommission">
								<p>
									<strong>Courier Commission (Rs)</strong>
								</p>
							</label>
							<input type="number" name="_CourierCommission" id="_CourierCommission" placeholder="Enter Courier Commission amount" [(ngModel)]="this.DefaultCommissionModel.CourierCommission"
							 #_CourierCommission="ngModel" required>
						</div>
						<div class="form-group">
							<label for="_CollectionFee">
								<p>
									<strong>Collection Fee (%)</strong>
								</p>
							</label>
							<input type="number" name="_CollectionFee" id="_CollectionFee" placeholder="Enter Collection Fee percentage" [(ngModel)]="this.DefaultCommissionModel.CollectionFee"
							 #_CollectionFee="ngModel" required>
						</div>
						<div class="form-group">
							<label for="_CourierCommission">
								<p>
									<strong>Fixed Fee (Rs)</strong>
								</p>
							</label>
							<input type="number" name="_FixedFee" id="_FixedFee" placeholder="Enter Fixed Fee amount" [(ngModel)]="this.DefaultCommissionModel.FixedFee"
							 #_FixedFee="ngModel" required>
						</div>
						<div class="form-group">
							<label for="_CourierCommission">
								<p>
									<strong>GST for Jewel Products (%)</strong>
								</p>
							</label>
							<input type="number" name="_Jewel" id="_Jewel" placeholder="Enter Jewel Product GST" [(ngModel)]="this.DefaultCommissionModel.GSTJewelProducts"
							 #_Jewel="ngModel" required>
						</div>
						<div class="form-group">
							<label for="_CourierCommission">
								<p>
									<strong>HSN Number</strong>
								</p>
							</label>
							<input type="number" name="_hsn" id="_hsn" placeholder="Enter HSN Number" [(ngModel)]="this.DefaultCommissionModel.HSNNumber"
							 #_hsn="ngModel" required>
						</div>
						<div class="form-group">
							<button type="button" class="btn btn-color" [disabled]="!defaultCommissionForm.form.valid" (click)="setCommissionAll()">Set for All</button>
						</div>
					</form>
				</div>
			</div>
			<!-- <form name="defaultCommissionForm" id="defaultCommissionForm"  #defaultCommissionForm="ngForm" novalidate>
				<div class="row">
					<div class="col-md-6" class="form-group">
						<label for="_DefaultCommission"><strong>Default Commission</strong></label>
						<input type="number" name="_DefaultCommission" id="_DefaultCommission" placeholder="Enter Default Commission %" [(ngModel)]="this.DefaultCommissionModel.DefaultCommission" #_DefaultCommission="ngModel" required>
					</div>
					<div class="col-md-6" class="form-group">
							<label for="_GST"><strong>GST</strong></label>
							<input type="number" name="_GST" id="_GST" placeholder="Enter GST %" [(ngModel)]="this.DefaultCommissionModel.GST" #_GST="ngModel" required>
						</div>
					<div class="col-md-6">
						<button type="button" class="btn btn-color btn" [disabled]="!defaultCommissionForm.form.valid" (click)="setCommissionAll()">Set for All</button>
					</div>
				</div>
			</form> -->
			<!-- <form name="GSTForm" id="GSTForm"  #GSTForm="ngForm" novalidate>
				<div class="row">
					<div class="col-md-6">
						<input type="number" name="_GST" id="_GST" placeholder="Enter GST %" [(ngModel)]="this.DefaultCommissionModel.GST" #_GST="ngModel" required>
					</div>
					<div class="col-md-6">
						<button type="button" class="btn btn-color btn" [disabled]="!GSTForm.form.valid" (click)="setGSTAll()">Set for All</button>
					</div>
				</div>
			</form>
				<div class="row mt-30">
					<div class="col-md-5 col-md-offset-3">
						<p><strong>Default Commission - {{getDefaultCommission.DefaultCommission}}</strong></p>
					</div>
					<div class="col-md-5 col-md-offset-3">
						<p><strong>GST - {{getDefaultCommission.GST}}</strong></p>
					</div>
				</div> -->

		</div>
	</div>
	<div class="tab-pane fade" id="forShop">
		<div class='mt-30 ml-30' *ngIf="!ViewShopDetails">

			<!-- <div class="row">
					<div class="col-md-6">
						<input type="text" name="shopid" id="shopid" placeholder="Enter username / Mail Id"  [(ngModel)]="this.shopid" >
					</div>
					<div class="col-md-6">
						<button type="button" class="btn btn-color btn" (click)="searchShop()">Get Seller Details</button>
					</div>
				</div> -->
			<div class="row">
				
					<p class="note-text">Please search by Mobile or Shop Name</p>
					<label for="UserName">Mobile / Shop Name</label>
					<!-- <input type="text" name="selelrTier" id="sellertier" placeholder="Enter Mail ID / User Name"  [(ngModel)] = "userName" > -->
					<div class="input-group stylish-input-group col-md-8">
						<input type="text" class="form-control" (keyup.enter)="searchShop()" [(ngModel)]="userName" id="UserName123" name="UserName"
						 placeholder="Type and enter to search">
						<span (click)="searchShop()" class="input-group-addon">
							<i class="fa fa-search" aria-hidden="true"></i>
						</span>
					</div>
				
			</div>
			<div class="row" style="margin-bottom:20px;margin-top:30px">
					<h5 class="h5-heading">Shop Details </h5>
				<table class="table">
					<thead>
						<tr>
							<th style="width:10%">Mobile</th>
							<th style="width:10%">Shop Name</th>
							<th style="width:20%">Default Commision (%)</th>
							<th style="width:20%">Default Courier Commision (Rs)</th>
							<th style="width:10%">GST (%)</th>
							<th style="width:20%">No.of Plans</th>
							<th style="width:10%">Actions</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let details of getSellerList">
							<td *ngIf="details.User!=null">{{details.User=="null"?"-":details.User.Mobile}}</td>
							<td  *ngIf="details.Shop!=null">{{details.Shop=="null"?"-":details.ShopAccountId.approvedBusinessDetails.Name}}</td>
							<td>
								<!-- <input type="number" name="shopCommission" id="shopCommission" placeholder="Enter %" [(ngModel)]="this.SpecificCommissionModel.SpecificCommission" #shopCommission="ngModel" required> -->
								{{details.DefaultCommission}}
							</td>
							<td>
								<!-- <input type="number" name="shopCommission" id="shopCommission" placeholder="Enter %" [(ngModel)]="this.SpecificCommissionModel.SpecificCommission" #shopCommission="ngModel" required> -->
								{{details.CourierCommission}}
							</td>
							<td>
								<!-- <input type="text" class="picker-input" #StartDate="ngModel" name="StartDate" placeholder="Start Date" [ngModel]="this.SpecificCommissionModel.StartDate | date: 'short'" (ngModelOptions)="{'gettersetter' : true}" [(dateTimePicker)]="this.SpecificCommissionModel.StartDate" [theme]="'#000000'" > -->
								{{details.GST}}
							</td>
							<td>
								{{details.Plans?.length}}
								<!-- <input type="text" class="picker-input" #ExpiryDate="ngModel" name="ExpiryDate" placeholder="Expiry Date" [ngModel]="this.SpecificCommissionModel.ExpiryDate | date: 'short'" (ngModelOptions)="{'gettersetter' : true}" [(dateTimePicker)]="this.SpecificCommissionModel.ExpiryDate" [theme]="'#000000'" > -->
							</td>
							<td>
								<a href="javascript:;" (click)="this.ViewShopDetails=true;OpenPlans(details);">
									<i class="fa fa-edit" style="font-size:20px;color:black;"></i>
								</a>
							</td>
							<!--
								<td><input id="StartDate" type="date" value="08-14-2017" name="StartDate"  [(ngModel)]="this.SpecificCommissionModel.StartDate" #StartDate="ngModel"/></td>
								<td><input id="ExpiryDate" type="date" value="08-14-2017" name="ExpiryDate"  [(ngModel)]="this.SpecificCommissionModel.ExpiryDate" #ExpiryDate="ngModel"/></td>-->

						</tr>
					</tbody>
				</table>
				<!-- <button type="button" class="btn btn-color btn right" (click)="updateSellerCommission(userDetails._id	)">Add Commission</button> -->
			</div>

			<!-- <table class="table table-hover mt-20" *ngIf="getSellerList.length>0">
				<thead>
					<tr>
						<th>User Name</th>
						<th>Shop Id</th>
						<th>Shop Name</th>
						<th>No.of Plans</th>
					</tr>
				</thead>
				<tbody *ngFor="let list of getSellerList" >
					<tr (click)="this.ViewShopDetails=true;OpenPlans(list);">
						<td>{{list.UserName}}</td>
						<td>{{list.Shop.Id}}</td>
						<td>{{list.Shop.Name}}</td>
						<td>{{list.Plans.length}}</td>
					</tr>
				</tbody>
			</table> -->
			<div>
				<nav class="pagination clear" *ngIf="totalPages > 0">
					<a href="javascript:;" (click)="previousPage()">
						<i class="fa fa-angle-left"></i>
					</a>
					<a href="javascript:;" *ngFor="let page of pages" [class]="currentPage==page?'current':''" (click)="selectPage(page)">{{page}}</a>
					<a href="javascript:;" (click)="nextPage()">
						<i class="fa fa-angle-right"></i>
					</a>
				</nav>
			</div>
		</div>
	</div>
</div>
<div *ngIf="ViewShopDetails">

	<!-- <h2 class="heading relative heading-small uppercase bottom-line style-2 left-align pl-10 mb-0">{{ShopDetails.Shop.Name}} - Commission Details</h2> -->
	<h5 class="h5-heading">{{ShopDetails.ShopAccountId.approvedBusinessDetails.Name}} - Commission Details </h5>

	<div class="col-md-12">
		<div class="form-group mb-20">
			<a href="#forShop" data-toggle="tab" aria-expanded="false" (click)="back()">
				<button type="button" class="btn btn-sm btn-color">
					<span class="fa fa-arrow-left" aria-hidden="true"></span>
				</button>
			</a>
		</div>
		<div class="row mb-30">
			<div class="col-md-6">
				<div class="col-md-6">
					<p>
						<strong>Mobile :</strong>
					</p>
					<p>
						<strong>Shop Name :</strong>
					</p>
					<p>
						<strong>Shop ID : </strong>
					</p>
					
					<p>
						<strong>Collection Fee (%): </strong>
					</p>
					<p>
						<strong>Default Courier Commission (Rs): </strong>
					</p>
				</div>
				<div class="col-md-6">
					<p>{{ShopDetails.User?.Mobile}}</p>
					<p>{{ShopDetails.ShopAccountId.approvedBusinessDetails.Name}}</p>
					<p>{{ShopDetails.Shop}}</p>
					<p>{{ShopDetails.CollectionFee}}</p>
					<p>{{ShopDetails.CourierCommission}}</p>
				</div>
			</div>
			<div class="col-md-6">
				<div class="col-md-8">
					<p>
						<strong>Default Commission (%) :</strong>
					</p>
					<p>
						<strong>No.of Plans :</strong>
					</p>
					<p>
						<strong>GST (%) :</strong>
					</p>
					<p>
						<strong>Fixed Fee (Rs): </strong>
					</p>
				</div>
				<div class="col-md-4">
					<p>{{ShopDetails.DefaultCommission}}</p>
					<p>{{ShopDetails.Plans?.length}}</p>
					<p>{{ShopDetails.GST}}</p>
					<p>{{ShopDetails.FixedFee}}</p>
				</div>
			</div>
		</div>
		<h5 class="h5-heading">Plan Details </h5>
		<div *ngIf="ShopPlan.length > 0; else addNewTemplate">
			<div class="right">
				<a href="javascript:;" class="btn btn-sm btn-color" (click)="AddPlans()">Add</a>
			</div>

			<form name="shopCommissionForm" id="shopCommissionForm" #shopCommissionForm="ngForm" novalidate>
				<table class="table">
					<thead>
						<tr>
							<th>Specific Commission (%)</th>
							<th>Specific Courier Commssion (Rs)</th>
							<th>Start Date</th>
							<th>Expiry Date</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let Plans of ShopPlan ; let i =index">
							<td *ngIf="!Plans.edit">{{Plans.SpecificCommission}}</td>
							<td *ngIf="Plans.edit">
								<input style="height:40px" type="number" name="commision{{i}}" id="commision{{i}}" [(ngModel)]="Plans.SpecificCommission"
								 required>
							</td>
							<td *ngIf="!Plans.edit">{{Plans.CourierCommission}}</td>
							<td *ngIf="Plans.edit">
								<input style="height:40px" type="number" name="courier_commision{{i}}" id="courier_commision{{i}}" [(ngModel)]="Plans.CourierCommission"
								 required>
							</td>
							<td *ngIf="!Plans.edit">{{Plans.StartDate| date:'dd MMM yyyy '}}</td>
							<td *ngIf="Plans.edit">
									<mat-form-field class="example-full-width">

											<input matInput [(ngModel)]="Plans.StartDate" [style]="{'height':'40px'}" [matDatepicker]="picker" placeholder="Start Date" name="StartDate" required #StartDate="ngModel">
											<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
											<mat-datepicker touchUi #picker></mat-datepicker>
											</mat-form-field>
											<div *ngIf="StartDate.errors && (StartDate.dirty || StartDate.touched)" class="alert">
												<div [hidden]="!StartDate.errors.required">
													Start date is required
												</div>
											</div>
								<!-- <p-calendar [style]="{'height':'40px'}"  [showIcon]="true" [(ngModel)]="Plans.StartDate" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2099" name="startDate{{i}}"
								 required></p-calendar> -->
							</td>
							<td *ngIf="!Plans.edit">{{Plans.ExpiryDate| date:'dd MMM yyyy '}}</td>
							<td *ngIf="Plans.edit" >
								<!-- <p-calendar [style]="{'height':'40px'}"  [showIcon]="true" [(ngModel)]="Plans.ExpiryDate" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2099" name="endDate{{i}}"
								 required></p-calendar> -->
								 <mat-form-field class="example-full-width">

										<input matInput [(ngModel)]="Plans.ExpiryDate" [style]="{'height':'40px'}" name="ExpiryDate" [matDatepicker]="picker1" placeholder="Expiry date" required #ExpiryDate="ngModel">
										<mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
										<mat-datepicker touchUi #picker1 ></mat-datepicker>
										</mat-form-field>
					
										<div *ngIf="ExpiryDate.errors && (ExpiryDate.dirty || ExpiryDate.touched)" class="alert">
											<div [hidden]="!ExpiryDate.errors.required">
												Expiry date is required
											</div>
										</div>
							</td>
							<td>
								<a href="javascript:;" *ngIf="!Plans.edit" (click)="Plans.edit = true;">
									<i class="fa fa-edit" style="font-size:20px;color:black;"></i>
								</a>
								<a href="javascript:;" *ngIf="Plans.edit" [disabled]="!shopCommissionForm.form.valid" (click)="edit(Plans,ShopDetails._id, Plans._id, i); Plans.edit = false;">
									<i class="fa fa-save" style="font-size:20px;color:black;"></i>
								</a>
								<a href="javascript:;" *ngIf="!Plans.edit">
									<i class="fa fa-trash-o" (click)="confirmDelete(ShopDetails._id, Plans._id,i)" style="font-size:20px;color:black;"></i>
								</a>
							</td>
							<!-- <td><a href="javascript:;"><i class="fa fa-edit" style="font-size:20px;color:black;" (click)="confirmEdit(Plans,ShopDetails._id, Plans._id)"></i></a></td>
					<td><a href="javascript:;"><i class="fa fa-trash-o" style="font-size:20px;color:black;"(click)="confirmDelete(ShopDetails._id, Plans._id)"></i></a></td> -->
						</tr>
					</tbody>
				</table>

			</form>
		</div>
	</div>
</div>
<!-- <div class="modal fade" id="editCommission" role="dialog">
			<div class="modal-dialog modal-sm">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Edit Commission</h4>
					</div>
					<div class="modal-body">
						<label>Commission</label>
						<input type="number" name="editshopCommission" id="editshopCommission" placeholder="Enter %" [(ngModel)]="this.editSpecificCommissionModel.SpecificCommission" #editshopCommission="ngModel" required>              
						<input type="text" class="picker-input" #editStartDate="ngModel" name="editStartDate" [ngModel]="this.editSpecificCommissionModel.StartDate | date: 'short'" (ngModelOptions)="{'gettersetter' : true}" [(dateTimePicker)]="this.editSpecificCommissionModel.StartDate" [theme]="'#000000'" >
						<input type="text" class="picker-input" #editExpiryDate="ngModel" name="editExpiryDate" [ngModel]="this.editSpecificCommissionModel.ExpiryDate | date: 'short'" (ngModelOptions)="{'gettersetter' : true}" [(dateTimePicker)]="this.editSpecificCommissionModel.ExpiryDate" [theme]="'#000000'" >
						
						
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-sm btn-color rounded" (click)="closeFnc();" >Cancel</button>
						<button type="button" class="btn btn-sm btn-color rounded" (click)='edit()'>Update</button>
					</div>
				</div>
			</div>
		</div> -->
<!-- <div class="modal fade" id="deleteCommission" role="dialog">
			<div class="modal-dialog modal-sm">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Delete Commission</h4>
					</div>
					<div class="modal-body">
						<p>Are you sure to Delete this Specific Commission ?</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-sm btn-color rounded" data-dismiss="modal">Cancel</button>
						<button type="button" class="btn btn-sm btn-color rounded" (click)='DeleteCommisssion()'>Delete</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div> -->

<!-- <div class="modal fade" id="editCommission" role="dialog">
			<div class="modal-dialog modal-sm">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Edit Commission</h4>
					</div>
					<div class="modal-body">
						<label>Commission</label>
						<input type="number" name="editshopCommission" id="editshopCommission" placeholder="Enter %" [(ngModel)]="this.editSpecificCommissionModel.SpecificCommission" #editshopCommission="ngModel" required>              
						<input type="text" class="picker-input" #editStartDate="ngModel" name="editStartDate" [ngModel]="this.editSpecificCommissionModel.StartDate | date: 'short'" (ngModelOptions)="{'gettersetter' : true}" [(dateTimePicker)]="this.editSpecificCommissionModel.StartDate" [theme]="'#000000'" >
						<input type="text" class="picker-input" #editExpiryDate="ngModel" name="editExpiryDate" [ngModel]="this.editSpecificCommissionModel.ExpiryDate | date: 'short'" (ngModelOptions)="{'gettersetter' : true}" [(dateTimePicker)]="this.editSpecificCommissionModel.ExpiryDate" [theme]="'#000000'" >
						
						
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-sm btn-color rounded" (click)="closeFnc();" >Cancel</button>
						<button type="button" class="btn btn-sm btn-color rounded" (click)='edit()'>Update</button>
					</div>
				</div>
			</div>
		</div> -->

<div class="modal fade" id="deleteCommission" role="dialog">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Delete Commission</h4>
			</div>
			<div class="modal-body">
				<p>Are you sure to Delete this Specific Commission ?</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-sm btn-color rounded" data-dismiss="modal">Cancel</button>
				<button type="button" class="btn btn-sm btn-color rounded" (click)='DeleteCommisssion()'>Delete</button>
			</div>
		</div>
	</div>
</div>


<ng-template #addNewTemplate>

	<!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<h2 class="heading relative heading-small uppercase bottom-line style-2 left-align mb-0">Zone List</h2>
		</div> -->
	<div>

		<div style="margin-top:150px; margin-bottom:50px" class="text-center">
			<i class="fa fa-trash" style="font-size:100px;"></i>

		</div>

		<div class="col-xs-12 text-center">
			<input type="button" style="width:400px; border-radius:30px" class="btn btn-color" (click)="AddPlans()" value="Add New">
			<!-- <span>No sellers found</span> -->
		</div>
	</div>
</ng-template>