<div class="form-group">
    <button type="button" class="btn btn-sm btn-color left" (click)="goBack()">
        <span class="fa fa-arrow-left" aria-hidden="true"></span></button>
</div>
<div class="row" >
	<div class="col-md-10 col-md-offset-1">
		<!--
		 <h2 class="text-center relative" *ngIf="editbutton">Edit Category</h2>
				 <h2 class="text-center relative" *ngIf="!editbutton">Add Category</h2>-->
		
		<form id="addCategory" #addCategory="ngForm">
		    <div class="form-group">
		        <label for="Name">Name<span style="color:red;size:10px"> *</span> <span *ngIf="disableName"> (Name cannot be edited since it is linked with {{categoryCount}} products)</span></label>
		        <input type="text" class="form-control mb-0" id="Name" [(ngModel)]="this.categoryModel.Name" placeholder="Category Name" name="Name" #Name="ngModel"maxlength="50" (blur)="this.categoryModel.Name=this.categoryModel.Name.trim(); this.checkCategoryName()" required [readonly]="disableName">
		        <div *ngIf="Name.errors && (Name.dirty || Name.touched)" class="text-danger vd-msg">
		            <div [hidden]="!Name.errors.required">
		                Category Name is required!
					</div>
					<div [hidden]="!Name.errors.incorrect">
						Category Name is already used!
					</div>
		        </div>
		    </div>
		    <div class="form-group mt-15">
		        <label for="Attributes">Attributes<span style="color:red;size:10px"> *</span></label>
		        <!--<select id="Attributes" multiple [(ngModel)]="this.categoryModel.Attributes" name="Attributes" #Attributes="ngModel">
		            <option selected="" value="default">Choose</option>
		            <option *ngFor="let Attribute of attributesList" value="{{Attribute._id}}">{{Attribute.Name}}</option>
				</select>-->
				<div *ngIf = 'newbutton && this.newAttributesList.length >0'>
						<ng-select [items]="this.newAttributesList"
								
						(add)="addAttr(Attribute)"

						[hideSelected]="true"
						multiple="true"
						bindLabel="name"
						(change)="attributeValueChanged($event)">
						</ng-select>
					<!-- <select2 id="Attributes" [data]="this.newAttributesList" 
					[options]="{'multiple' : true}"
					(valueChanged)="attributeValueChanged($event)"></select2> -->
				</div>
				
						 <div *ngIf = 'editbutton && isAttributesReady'>
								<ng-select [items]="this.attributesList"
								
								(add)="addAttr(Attribute)"
		
								[hideSelected]="true"
								multiple="true"
								bindLabel="name"
								[(ngModel)]="this.selectedAttribute" name="selectedCompanyCustom" (change)="ModelChange($event)">
								</ng-select>
						 <!-- <p-multiSelect [options]="this.attributesList"  optionLabel="name" [style]="{'width':'100%'}" [(ngModel)]="this.selectedAttribute" (ngModelChange)="ModelChange($event)"  name="Attributes">
							
						  </p-multiSelect> -->
						</div>
						  <!-- <span *ngFor = "let c of selectedAttribute"> {{c.name}} </span> -->
						  <!-- <p-listbox [options]="this.selectedAttribute" [style]="{'width':'300px'}" [listStyle]="{'max-height':'140px'}" multiple="multiple" checkbox="checkbox" filter="filter" optionLabel="name">
							
						  </p-listbox> -->
			</div>
			
		    <div class="form-group" *ngIf = 'this.CategoriesList.length > 0'>
		        <label for="ParentCategory">Parent Category:</label>
		        <select id="ParentCategory" [ngModel]="this.categoryModel.ParentCategory" name="ParentCategory" #ParentCategory="ngModel" (ngModelChange) = "parentCategoryChanged($event)" >
		            <option selected disabled value="">Choose</option>
		            <option *ngFor="let category of CategoriesList" [ngValue]="category.Parent._id">{{category.Parent.Name}}</option>
		        </select>
			</div>
			<div>
				<a id="EmptyClick" href="javascript:alert('test');"> <span></span></a>
			</div>
		    <div class="form-group">
		        <input type="button" class="btn btn-sm btn-color right rounded" *ngIf="newbutton" (click)="newCategory()" value="Save" [disabled]="!addCategory.form.valid || this.categoryModel.Attributes.length ==0">
		    </div>
		    <div class="form-group">
		        <input type="button" class="btn btn-sm btn-color right rounded" *ngIf="editbutton" (click)="editCategory()" value="Update" [disabled]="!addCategory.form.valid || this.selectedAttribute.length ==0">
		    </div>
		</form>
	</div>
</div>
