<div>
    <h2 class="heading relative heading-small uppercase bottom-line style-2 left-align mb-0 pt-20">Coupons List</h2>
</div>
<div class="mb-30">
    <input type="button" class="btn btn-sm btn-color right rounded" (click)="addNew()" value="New">
</div>
<div class="scroll-container" (scroll)="LoadOnScroll()" id='scroll-container'>
    <div id='scroll-box' class="col-xs-12">
        <div class="row">
            <div class="table-wrap col-lg-12 col-sm-12 col-md-12 hidden-xs" *ngIf="ShowCoupons.length > 0; else addNewTemplate">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th id="th">#</th>
                            <th id="th">Coupon Code</th>
                            <!-- <th id="th">Discount Type</th> -->
                            <th id="th">Discount Value</th>
                            <th id="th">State Date</th>
                            <th id="th">Expiry Date</th>
                            <th id="th">Edit</th>
                            <th id="th">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let ShowCoupon of ShowCoupons; let i =index">
                            <td>{{(i+1) + (initialPage * 10)}}</td>
                            <td>{{ShowCoupon.Code}}</td>
                            <!-- <td>{{ShowCoupon.DiscountType}}</td> -->
                            <td>{{ShowCoupon.DiscountValue}} &#37;</td>
                            <td>{{ShowCoupon.StartDate| date: 'short'}}</td>
                            <td>{{ShowCoupon.ExpiryDate| date: 'short'}}</td>
                            <!-- <td><button type="button" class="fa fa-pencil" (click)="editCoupon(ShowCoupon)"></button></td> -->
                            <td>
                                <i class="fa fa-edit" style="font-size:20px;color:black;" (click)="editCoupon(ShowCoupon)"></i>
                            </td>
                            <td>
                                <i class="fa fa-trash-o" style="font-size:20px;color:black;" (click)="deleteCoupon(ShowCoupon)"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-body">
                                <h4>Do you want to delete ?</h4>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">No</button>
                                <button type="button" class="btn btn-sm btn-red" (click)="delete()" data-dismiss="modal">Yes</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<ng-template #addNewTemplate>
    <div *ngIf="this.pageLoader" class="loader" style="top:130px;left:46%;display: block">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
        </svg>
    </div>
    <div *ngIf="!this.pageLoader">
        <div style="margin-top:150px; margin-bottom:50px" class="text-center">
            <i class="fa fa-trash" style="font-size:100px;"></i>

        </div>
        <div class="col-xs-12 text-center">
            <span style="margin:auto;">No Items To Show</span>
        </div>
    </div>
</ng-template>