<div class="container">
	<section class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="mt-50 order-review-wrap ecommerce-checkout-review-order mb-50" id="order_review">
				<div class="row">
					<div class="col-md-3">
						<i class="fa fa-exclamation-triangle" style="font-size:100px;color:red" aria-hidden="true"></i> 
					</div>
					
					<div class="col-md-5">
						<h2 class="heading relative heading-small uppercase  style-2 left-align mb-30">
							Payment Failure
						</h2>
						  Message
					</div>
					
					<div class="col-md-4">
						<button  class="btn btn-sm btn-color right rounded" (click)="redirectToCheckout()" >Proceed to Check Out </button>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>