#checkbox-container {
  list-style-type: none;
}

#checkbox-container li {
  display: inline-block;
}

#checkbox-container p{
  white-space: nowrap; 
  width: 5em; 
  overflow: hidden;
  text-overflow: ellipsis; 
  }

input[type="checkbox"][id^="check"] {
  display: none;
}

label.checkbox {
  border: 1px solid #fff;
  padding: 10px;
  display: block;
  position: relative;
  margin: 10px;
  cursor: pointer;
}



label.checkbox:before {
  background-color: white;
  color: white;
  content: " ";
  display: block;
  border-radius: 50%;
  border: 1px solid grey;
  position: absolute;
  top: -5px;
  left: -5px;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 28px;
  transition-duration: 0.4s;
  transform: scale(0);
}

label.checkbox img {
  height: 100px;
  width: 100px;
  transition-duration: 0.2s;
  transform-origin: 50% 50%;
}

:checked + label.checkbox {
  /* border-color: #ddd; */
  border-color: #41BFAE;
  border-width: 2px;
}

:checked + label.checkbox:before {
  content: "✓";
  background-color: #41BFAE;
  font-size: 20px;
  padding-top: 4px;
  margin-left: 112px;
  margin-bottom: 7px;
  transform: scale(1);
}

:checked + label.checkbox img {
  transform: scale(0.9);
  box-shadow: 0 0 5px #333;
  z-index: -1;
}