<div>

   
        <form id="reportsForm" #reportsForm='ngForm' class="form">
            <div class="col-md-4">
                <label for="dropdown">Select Report Name</label>
                <select  class="selectpicker show-menu-arrow" id="reportname" [(ngModel)]="this.reportName" (change)="ReportsSelectionChanged($event)" name="reportname" #reportname="ngModel"
                    required>
                    <option selected disabled value="">Select a report name</option>
                    <optgroup label="Sales">
                    <option Value="Report-4">Order Fulfilment</option>
                    <option Value="Report-1">Order Details</option>
                    <option Value="Report-35">Order Wise Details</option>
                    <option Value="Report-2">Product Sales</option>
                    <option Value="Report-3">Profitability </option>
                    <option value="Report-8">Unsold Listings</option>
                </optgroup>
                <optgroup label="SLA/Performance">
                    <option Value="Report-15">Product Reviews </option>
                    <option Value="Report-26">RFS (Ready for Shipment) Breach</option>
                    <option Value="Report-27">Customer Returns</option>
                    <option Value="Report-25">Order Cancellation </option>
                </optgroup>
                 <optgroup label="Settlement">
                    <option Value="Report-11">Settled Transactions</option>
                    <option Value="Report-10">Unsettled Transactions</option>
                    <option Value="Report-12">Payment Statements</option>
                    <option value="Report-9">Market place Commission</option>
                </optgroup>  
               <!-- Add if any option needed in future-->
                </select>
            </div>
    
             <div class="row" >  
                <div class="col-xs-12">
                    <div class="col-xs-12">
                        <label for="Condition">Selection Criteria</label>
                    </div>
    
                    <div class="radio-buttons" id="Condition">
                        <!-- <div class="col-xs-4">
                            <input type="radio" class="input-radio" id="Condition1" value="Condition1" [(ngModel)]="reportType.Condition" name="Condition"
                                required>
                            <label for="Condition1">Choose from Avilable Report Type</label>
                        </div> -->
    
                        <div class="col-xs-4">
                            <input type="radio" class="input-radio" id="Condition2" value="Condition2" [(ngModel)]="reportType.Condition" name="Condition"
                                required>
                            <label for="Condition2">Choose custom dates </label>
                        </div>
                        <div class="col-xs-4">
                            <input type="radio" class="input-radio" id="Condition3" value="Condition3" [(ngModel)]="reportType.Condition" name="Condition"
                                required>
                            <label for="Condition3">Choose custom Month/Year </label>
                        </div>
                        <div class="col-xs-4" *ngIf="this.reportName == 'Report-15'">
                            <input type="radio" class="input-radio" id="Condition4" value="Condition4" [(ngModel)]="reportType.Condition" name="Condition"
                                required>
                            <label for="Condition4">All time </label>
                        </div>
    
    
                    </div>
                </div>
<!--     
                <div class="col-xs-12 mt-15" *ngIf="reportType.Condition == 'Condition1'">
    
                    <div class="col-xs-6">
                        <label for="dropdown">Select Report Type</label>
                        <select id="reporttype" [(ngModel)]="this.reportType.Name" name="reporttype" #reporttype="ngModel" required>
                            <option selected disabled value="">Select a report name</option>
                            <option Value="current-fiscal-year">Current Fiscal Year</option>
                            <option Value="last-fiscal-year">Last Fiscal year</option>
                            <option Value="calendar-to-date">Calendar year to date</option>
                            <option Value="month-to-date">Month to date</option>
                        </select>
                    </div>
    
    
                </div>
     -->
                <div class="col-xs-12 mt-15" *ngIf="reportType.Condition == 'Condition2'">
    
                    <div class="col-md-6">
                        <!-- <label for="StartDate">Start Date:</label> -->
                        <div>
                                <mat-form-field class="example-full-width">

                                        <input matInput [(ngModel)]="this.reportType.StartDate" [style]="{'height':'40px'}" [matDatepicker]="picker1" name="StartDate" placeholder="Start date" required #StartDate="ngModel">
                                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                        <mat-datepicker touchUi #picker1 ></mat-datepicker>
                                </mat-form-field>
                            <!-- <p-calendar [(ngModel)]="this.reportType.StartDate" [style]="{'height':'40px'}" [showIcon]="true" [monthNavigator]="true"
                                [yearNavigator]="true" yearRange="2000:2099" name="StartDate" showButtonBar="true" placeholder="mm/dd/yyyy"
                                required #StartDate="ngModel"></p-calendar> -->
                        </div>
                        <!-- <input type="text" class="picker-input" #CreatedDate="ngModel" name="CreatedDate" [ngModel]="this.couponModel.CreatedDate | date: 'short'" (ngModelOptions)="{'gettersetter' : true}" [(dateTimePicker)]="this.couponModel.CreatedDate" [theme]="'#000000'" > -->
                        <!-- <input type="date" class="picker-input" #CreatedDate="ngModel" name="CreatedDate" [(ngModel)]="this.couponModel.CreatedDate" > -->
                    </div>
                    <div class="col-md-6">
                        <!-- <label for="ExpiryDate">End Date:</label> -->
                        <!-- <input type="text" class="picker-input" #ExpiryDate="ngModel" name="ExpiryDate" [ngModel]="this.couponModel.ExpiryDate | date: 'short'" (ngModelOptions)="{'gettersetter' : true}" [(dateTimePicker)]="this.couponModel.ExpiryDate"  [theme]="'#000000'" > -->
                        <div>
                                <mat-form-field class="example-full-width">

                                        <input matInput [(ngModel)]="this.reportType.ExpiryDate" [style]="{'height':'40px'}" [matDatepicker]="picker" placeholder="End date" name="ExpiryDate" required #ExpiryDate="ngModel">
                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-datepicker touchUi #picker ></mat-datepicker>
                                </mat-form-field>
                            <!-- <p-calendar [(ngModel)]="this.reportType.ExpiryDate" [style]="{'height':'40px'}" [showIcon]="true" [monthNavigator]="true"
                                [yearNavigator]="true" yearRange="2000:2099" name="ExpiryDate" showButtonBar="true" placeholder="mm/dd/yyyy"
                                required #ExpiryDate="ngModel"></p-calendar> -->
                        </div>
                    </div>
    
    
                </div>
    
                <div class="col-xs-12 mt-15" *ngIf="reportType.Condition == 'Condition3'">
    
                    <div class="col-md-6" *ngIf="Months.length >0">
                        <label for="monthSelect">Select Month</label>
                        <select id="monthSelect" [(ngModel)]="this.reportType.SelectedMonth" name="monthSelect" #monthSelect="ngModel" required>
                            <option selected disabled value="">Select a Month</option>
                            <option [ngValue]="month.value" *ngFor="let month of Months">{{month.name}}</option>
    
                        </select>
                    </div>
    
                    <div class="col-md-6" *ngIf="Years.length >0">
                        <label for="yearSelect">Select Year</label>
                        <select id="yearSelect" [(ngModel)]="this.reportType.SelectedYear" name="yearSelect" #yearSelect="ngModel" required>
                            <option selected disabled value="">Select a Year</option>
                            <option [Value]="year.value" *ngFor="let year of Years">{{year.name}}</option>
    
                        </select>
                    </div>
    
    
                </div>
            </div>
            <div *ngIf="this.reportName == 'Report-2'">
                <div class="col-xs-12 mt-15">
                    <div class="col-xs-12">
                        <h3 class="col-md-6 col-md-offset-3 text-center">Product Selection</h3>
                    </div>
                    <div class="col-xs-6 input-group input-group-xs" style="margin-left:15px">
                        <input type="text" class="form-control mb-0" name="Searchbar" (keyup.enter)="searchProducts(searchTerm)" [(ngModel)]="this.searchTerm"
                            placeholder="Search" />
                        <span class="input-group-addon" id="sizing-addon1" (click)="searchProducts(searchTerm)">
                            <i class="fa fa-search"></i>
                        </span>
                    </div>
    
                    <div class="col-xs-6 mt-15">
                        <input type="checkbox" (change)="selectAllChange($event)" class="input-checkbox" id="selectAll" name="selectAll">
                        <label for="selectAll" class="checkbox-label">Select All</label>
                        <button (click)="GetReports()" class="btn btn-sm btn-color pull-right" [disabled]="!((reportsForm.form.valid) && ((this.reportType.selectedProducts.length > 0) || !productsShow ))">Get Reports</button>
                        <!-- <button (click)="DownloadReport()" class="btn btn-sm btn-color pull-right" [disabled]="!((reportsForm.form.valid) && ((this.reportType.selectedProducts.length > 0) || !productsShow ))">Download Reports</button> -->

                        <!-- <button (click) = "delReport()"*ngIf = "reportsReady">
                                <a target="_self" [href]="ReportsLink"class="btn btn-sm btn-stroke">Download Reports</a></button> -->
                    </div>
                </div>
                <div *ngIf="Products.length > 0; else noItemsFound">
                    <div class="col-xs-12 mt-15" [hidden]="!productsShow">
                        <div class="scroll-container" (scroll)="LoadOnScroll()" id='scroll-container'>
                            <div id='scroll-box' class="col-xs-12">
                                <ul id="checkbox-container">
                                    <li *ngFor="let Product of this.Products;let i=index" title="{{Product.Name}}">
                                        <input type="checkbox" [name]="'check'+i" class="checkbox" [id]="'check'+i" [(ngModel)]="Product.isSelected" (ngModelChange)="selectionChange(Product)"
                                        />
                                        <label class="checkbox" [for]="'check'+i">
                                            <p class="text-truncate">{{Product.Name}}</p>
                                            <img [BindImage]="Product" [alt]="Product.Name">
                                        </label>
    
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
    
    
                <ng-template #noItemsFound>
                    <div class="col-xs-12 mt-15" style="margin-left: 15px">
                        <span class="text-center">
                            No Products found
                        </span>
                    </div>
                </ng-template>
            </div>
    
           
            <div class="col-md-12 mt-15" *ngIf="this.reportName!='Report-2'">
                <button (click)="GetReports()" class="btn btn-sm btn-color" [disabled]="!reportsForm.form.valid">Get Report</button>
            </div>
            <!-- <div>
                <img src="https://media.giphy.com/media/6qpTZr1pNXCQmzNJAq/giphy.gif" alt="Girl in a jacket" style="width:200px;height:200px;">
            </div> -->
    
        </form>
    
       
    </div>

    