<style>

.alert{
	font-size: 12px !important;
	padding: 0px !important;
    margin-bottom: 10px !important;
    color: #ff0000 !important;
	margin-top: -6px;
	}

input[type="text"],input[type="number"],input[type="email"],input[type="password"] ,textarea{
	border: none !important;
	margin-bottom: 0px !important;
	padding: 0px !important;
	box-shadow: none;
}

.form-control:focus{
	-webkit-box-shadow:none !important;
	box-shadow: none !important;
}
</style>
<div class="col-md-12 col-sm-12 col-xs-12 col-md-offset-1 col-sm-offset-0 col-xs-offset-0">
	<div class="row">
		<!--
		<div class="form-group">
					<button type="button" class="btn btn-sm btn-color" (click)="selectedGroupId='';ViewGroup(selectedGroupId)">
					<span class="fa fa-arrow-left" aria-hidden="true"></span></button>
				</div>
				-->
		<h5><a href="javascript:;" class="forum-form-title" (click)="ViewGroup(selectedGroupDetails._id)">{{selectedGroupDetails.GroupTitle}}</a></h5>
	</div>
		<div class="row">
			<div class="col-md-5 col-sm-5 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0">
				<form name="ForumForm" id="ForumForm"  #ForumForm="ngForm" (ngSubmit)="postForum()" novalidate>
					<div class="row">
						<div class="form-group">
							<!-- <label for="Title">Title:</label> -->
							<mat-form-field class="example-full-width">

							<input matInput type="text" id="Title" name="Title" placeholder="Enter Title" [(ngModel)]="this.forumPostModel.Title" #Title="ngModel" required>
							</mat-form-field>
							<div *ngIf="Title.errors && (Title.dirty || Title.touched)" class="alert">
								<div [hidden]="!Title.errors.required">
									Enter your title
								</div>
							</div>
						</div>
						<div class="form-group">
							<!-- <label for="idea">Post:</label> -->
							<mat-form-field class="example-full-width">

							<textarea matInput class="form-control" rows="5" id="Describe" placeholder="Post Description" name="Describe" [(ngModel)]=" this.forumPostModel.Post" #Describe="ngModel"  required></textarea>
							</mat-form-field>
							<div *ngIf="Describe.errors && (Describe.dirty || Describe.touched)" class="alert">
								<div [hidden]="!Describe.errors.required">
									Enter Post
								</div>
							</div>
						</div>
						<!--
						<input type="submit" class="btn btn-sm btn-color right rounded" *ngIf="getUserToken!=null" [disabled]="!ForumForm.form.valid" value="Post" (click)="postForum()">
												<input type="submit" class="btn btn-sm btn-color right rounded" *ngIf="getUserToken==null" value="Login to Post" (click)="login()">-->
						<input type="submit" class="btn btn-sm btn-color right rounded mb-5" [disabled]="!ForumForm.form.valid" value="Post" >
					</div>
				</form>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-12 col-md-offset-1 col-sm-offset-1 col-xs-offset-0">
				<div class="posting-guidlines">
					<h6>Posting Guidlines</h6>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
				</div>
			</div>
		</div>
	<!-- </div> -->
</div>
