<div class="container">
<div class="row">
    <div class="col-sm-5 col-md-4 col-xs-12 pull-right Clsreview_product_box">
        <div class="Clsproductdes">
            <div class="productimg">
                <!-- <a href="/w3images/nature.jpg"> -->
                <a routerLink="/user/product/{{productId}}">
                    <img class="prodimg" [src]="this.imageUrls" alt="Product">
                </a>
            </div>
            <a class="Clsreview_product_name" routerLink="/user/product/{{productId}}">
                {{ Product.Name }}
            </a>
            <div class="Clsreview__product_rating">
                <!-- <rating value="5" max="5" readonly="true"></rating> -->
                <ngx-stars [color]="'#333'" [initialStars]="this.Product.Rating" [readonly]="true" [maxStars]="5">
                </ngx-stars>
            </div>
            <p class="Clsreview_product_price">{{ this.productCurrency.value + Product.Price }}</p>
        </div>
    </div>
    <div class="col-sm-7 col-md-8 col-xs-12">
        <div class="row">
            <div class="col-xs-12 relative">
                <div class="Clstitle-cover pb-0">
                    <h2 class="relative bottom-line style-2 left-align">All Reviews</h2>
                </div>
                <div class="Clsreview_filter" *ngIf="Reviews?.length > 1">
                    <form class="ecommerce-ordering  mr-2">
                        <select (change)="getDataFromQuery()" [(ngModel)]="this.sort_type"
                            [ngModelOptions]="{standalone: true}">
                            <option value="">Default Sorting</option>
                            <option value="1">Rating: high to low</option>
                            <option value="2">Rating: low to high</option>
                            <option value="3">By Oldest</option>
                            <option value="4">By Latest</option>
                        </select>
                    </form>
                </div>
            </div>            
        </div>
            <div class="row">
                <div class="col-md-4 mt-1">
                    <h6>Average item review </h6>
                </div>
                <!-- <div class="col-md-4"><rating [(ngModel)]="Reviews.Avg" [max]="5" [readonly]="true"></rating></div> -->
                <!-- <div style="margin-left:-3%;margin-bottom:5px;border-bottom:1px solid rgb(228, 228, 228); margin-top:5px"></div> -->
            </div>
            <!-- <hr style="margin-left:15px;margin-top:30px;margin-right:24px"> -->
        <div>
            <div *ngIf="Reviews?.length">
                <!-- <div>
                        <h2>Reviews</h2>                      
                        <span style="margin-left:15px;color:darkgrey">{{Reviews.length}} Ratings & Reviews</span>                                      
                        <button style="margin-left:15px;" *ngIf="addReviewButton" class="btn btn-sm btn-color" (click)="visibleReviewModel()">Add
                            Review</button>
                    </div> -->
                <div id='scroll-box'>
                    <ul class="Clsreview_list">
                        <li *ngFor="let Review of Reviews| slice:reviewFrom:reviewTo">
                            <div id="Review-Container">
                                <div id="Review-Content">
                                    <div id="rating-section">
                                        <ul>                                            
                                            <li><span class="Clsuser_image"><img [src]="Review.User.Profile.DisplayPicture" alt="User Image"></span></li>
                                            <li><span class="Clsuser_name_review">{{Review.User.Profile.FirstName?Review.User.Profile.FirstName:'Jheaps Member'}}</span>
                                        <!-- <rating [(ngModel)]="Review.Rating" [max]="5" [readonly]="true"></rating> -->
                                        <ngx-stars [color]="'#333'" [initialStars]="Review.Rating" [readonly]="true"
                                            [maxStars]="5"></ngx-stars></li>
                                        <li><p class="Clsreviewed_date">{{Review.CreatedDate | date:'dd MMM yyyy'}}</p></li>
                                        </ul>
                                    </div>
                                    <div id="comment" class="Clsreview_comment">
                                        <!-- <span style="font-weight:bold">{{Review.ReviewHeadLine}}</span> -->
                                        <p class="Clsreview_text">{{Review.Review}}</p>
                                        <!-- <p style="color:darkgrey; font-size:12px">{{Review.CreatedDate | date:'dd MMM yyyy'}}</p> -->
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div *ngIf="this.loader1" class="loader">
                <svg class="circular" viewBox="25 25 50 50">
                    <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
                </svg>
            </div>
            <!--static content-->
            <!-- 
            <div>
                <ul>                
                    <li>
                        <div id="Review-Container" class="col-xs-12">
                            <div id="Review-Content" style="margin-top:10px;">
                
                                <div id="rating-section" style="margin-top:0">
                                    <span><img src="https://s3.us-east-2.amazonaws.com/zgroo-demo/undefined_1536304068.png" alt="User Image"
                                            style="width:50px;height:50px;border-radius:50%"> </span>
                                    <span class="text-capitalize" style="margin-left:15px;margin-right:30px">Sandhya</span>
                                    <rating value="5" max="5" readonly="true"></rating>
                                    <p style="color:darkgrey;font-size:12px;float:right;margin-right: 50px;">29 sep
                                        2018</p>
                                </div>                            
                                <div id="comment" style="margin-bottom:5px;border-bottom:1px solid rgb(228, 228, 228); margin-top:5px">
                                    <span style="font-weight:bold">Good</span>
                
                                    <p>Nice product to buy</p>
                
                                </div>                                
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div>
                    <ul>                    
                        <li>
                            <div id="Review-Container" class="col-xs-12">
                                <div id="Review-Content" style="margin-top:10px;">
                    
                                    <div id="rating-section" style="margin-top:0">
                                        <span><img src="https://s3.us-east-2.amazonaws.com/zgroo-demo/undefined_1536304068.png" alt="User Image"
                                                style="width:50px;height:50px;border-radius:50%"> </span>
                                        <span class="text-capitalize" style="margin-left:15px;margin-right:30px">Sandhya</span>
                                        <rating value="5" max="5" readonly="true"></rating>
                                        <p style="color:darkgrey;font-size:12px;float:right;margin-right: 50px;">29 sep
                                            2018</p>
                                    </div>
                    
                    
                                    <div id="comment" style="margin-bottom:5px;border-bottom:1px solid rgb(228, 228, 228); margin-top:5px">
                                        <span style="font-weight:bold">Good</span>
                    
                                        <p>This is my second time to buy this necklace and the seller was very nice to communicate with. Seller takes pride in her work and it is seen through the workmanship done on the jewellry.</p>
                    
                                    </div>
                    
                    
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div>
                        <ul>
                        
                            <li>
                                <div id="Review-Container" class="col-xs-12">
                                    <div id="Review-Content" style="margin-top:10px;">
                        
                                        <div id="rating-section" style="margin-top:0">
                                            <span><img src="https://s3.us-east-2.amazonaws.com/zgroo-demo/undefined_1536304068.png" alt="User Image"
                                                    style="width:50px;height:50px;border-radius:50%"> </span>
                                            <span class="text-capitalize" style="margin-left:15px;margin-right:30px">Sandhya</span>
                                            <rating value="5" max="5" readonly="true"></rating>
                                            <p style="color:darkgrey;font-size:12px;float:right;margin-right: 50px;">29 sep
                                                2018</p>
                                        </div>
                        
                        
                                        <div id="comment" style="margin-bottom:5px;border-bottom:1px solid rgb(228, 228, 228); margin-top:5px">
                                            <span style="font-weight:bold">Good</span>
                        
                                            <p>I love my new necklace. It is so beautiful. The quality is phenomenal!</p>
                        
                                        </div>
                        
                        
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div>
                            <ul>
                            
                                <li>
                                    <div id="Review-Container" class="col-xs-12">
                                        <div id="Review-Content" style="margin-top:10px;">
                            
                                            <div id="rating-section" style="margin-top:0">
                                                <span><img src="https://s3.us-east-2.amazonaws.com/zgroo-demo/undefined_1536304068.png" alt="User Image"
                                                        style="width:50px;height:50px;border-radius:50%"> </span>
                                                <span class="text-capitalize" style="margin-left:15px;margin-right:30px">Sandhya</span>
                                                <rating value="5" max="5" readonly="true"></rating>
                                                <p style="color:darkgrey;font-size:12px;float:right;margin-right: 50px;">29 sep
                                                    2018</p>
                                            </div>
                            
                            
                                            <div id="comment" style="margin-bottom:5px;border-bottom:1px solid rgb(228, 228, 228); margin-top:5px">
                                                <span style="font-weight:bold">Good</span>
                            
                                                <p>I love my new necklace. It is so beautiful. The quality is phenomenal!</p>
                            
                                            </div>
                            
                            
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div>
                            <ul>
                            
                                <li>
                                    <div id="Review-Container" class="col-xs-12">
                                        <div id="Review-Content" style="margin-top:10px;">
                            
                                            <div id="rating-section" style="margin-top:0">
                                                <span><img src="https://s3.us-east-2.amazonaws.com/zgroo-demo/undefined_1536304068.png" alt="User Image"
                                                        style="width:50px;height:50px;border-radius:50%"> </span>
                                                <span class="text-capitalize" style="margin-left:15px;margin-right:30px">Sandhya</span>
                                                <rating value="5" max="5" readonly="true"></rating>
                                                <p style="color:darkgrey;font-size:12px;float:right;margin-right: 50px;">29 sep
                                                    2018</p>
                                            </div>
                            
                            
                                            <div id="comment" style="margin-bottom:5px;border-bottom:1px solid rgb(228, 228, 228); margin-top:5px">
                                                <span style="font-weight:bold">Good</span>
                            
                                                <p>This is my second time to buy this necklace and the seller was very nice to communicate with. Seller takes pride in her work and it is seen through the workmanship done on the jewellry.</p>
                            
                                            </div>
                            
                            
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div> -->
        </div>
    </div>
</div>
</div>