.Clsuser_name_review {
    margin-left:0;
    margin-right:30px;
    font-weight: 600;
    letter-spacing: 0;
    font-family: 'Raleway', sans-serif;
}
.Clsreviewed_date {
    font-size: 12px;
    font-weight: 400;
    color: var(--sub-text-color);
}
.Clsreview_text {
    font-weight: 400;
    letter-spacing: 0;
    color: var(--primary-text-color);
}
.Clsproductdes {
        margin-top: 20px;
        height:auto;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        padding: 30px;
        background: var(--secondary-bg-color);
        border: 1px solid var(--primary-border-color);
    }
    .Clsreview_product_name {
        font-size: 20px;
        font-family: 'Raleway', sans-serif;
        color: var(--primary-text-color);
        font-weight: 400;
        margin: 10px 0;
        display: block;
    }
    .Clstable table td, 
    .Clstable table th {
        float: left;
    }
    .prodimg {
      max-height:100%;
      display:block;
    }
    .productimg {
        margin-top: 10px;
    }
    .textstyle {
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        font-size: 18px; 
        font-weight:400;
        font-family: 'Raleway', sans-serif;
        color: var(--primary-text-color);
    }
    .Clsreview_product_price {
        font-size: 20px;
        font-weight: 700;
        margin: 10px 0;
        letter-spacing: 0;
        color: var(--primary-text-color);
    }
    .Clsreview_filter {
        position: absolute;
        top: 20px;
        right: 12px;
    }
    .Clsuser_image {
        border-radius: 50px;
        overflow: hidden;
        display: inline-block;
    }
    .Clsuser_image img {
        object-fit: cover;
        height: 60px;
        width: 60px;
    }
    #rating-section ul {
        display: table;
        width: 100%;
    }
    #rating-section ul > li {
        display: table-cell;
    }
    #rating-section ul > li:first-child {
        min-width: 100px;
        max-width: 100px;
        width: 100px;
    }
    #rating-section ul > li:nth-child(2) {
        width: 200px;
        text-align: left;
        vertical-align: middle;
    }
    #rating-section ul > li:last-child {
        width: 60%;
        text-align: right;
        vertical-align: top;
    }
    .Clsreview_list > li {
        padding: 10px 30px 0 30px;
        margin-bottom: 10px;
        background: var(--secondary-bg-color);
        border: 1px solid var(--primary-border-color);
    }
    .Clsreview_list > li:nth-child(even){
        /* background: var(--lighter-color); */
    }
    .Clsreview_list > li:nth-child(odd){
        /* background: var(--secondary-bg-color); */
    }
    .checked {
        color: orange;
    }
    .star {
        font-size:30;
    }
    .smallstar {
        font-size:20;
    }
    .userimg {
        border-radius: 50%;
        height:70px;
        width: 75px;
    }
    ul.li {
        height: 10px;
        width:50px;
    }
    @media (max-width: 767px) {
        .Clsreview_filter {
            top: 15px;
        }
        .Clsreview_product_name {
            font-size: 16px;
        }
    }