<div class="form-group">
    <button type="button" class="btn btn-sm btn-color left" (click)="goBack()">
        <span class="fa fa-arrow-left" aria-hidden="true"></span></button>
</div>
<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<!--
		 <h2 class="text-center relative" *ngIf="editbutton">Edit Attribute</h2>
				 <h2 class="text-center relative" *ngIf="!editbutton">Add Attribute</h2>-->
		
		<form #addAttribute="ngForm" id="addAttribute">
		    <div class="form-group">
		        <label for="Name">Attribute Name<span style="color:red;size:10px"> *</span> <span *ngIf="disableName"> (Name cannot be edited since it is linked with Products or Categories )</span> </label>
		        <input type="text" class="form-control mb-0" id="Name" [(ngModel)]="attributeModel.Name" name="Name" #Name="ngModel"maxlength="50" required (blur)="this.attributeModel.Name=this.attributeModel.Name.trim(); this.checkAttributeName()" [readOnly]="disableName" placeholder="name">
		        <div *ngIf="Name.errors && (Name.dirty || Name.touched)" class="text-danger vd-msg">
		            <div [hidden]="!Name.errors.required">
		                Attribute Name is required!
					</div>
					<div [hidden]="!Name.errors.incorrect">
							Attribute Name is already used!
						</div>
		        </div>
		    </div>
		   <div class="form-group mt-15">
		    	<label>Select the type</label><br>
		    	<input type="radio" class="form-control" id="system" [value]="true" [(ngModel)]="attributeModel.IsSystemDefined" name="IsSystemDefined" #IsSystemDefined="ngModel" required/> 
		    	<label for="system">System Defined</label>
		    	
		    	<input type="radio" class="form-control" id="user" [value]="false" [(ngModel)]="attributeModel.IsSystemDefined" name="IsSystemDefined" #IsSystemDefined="ngModel" required/> 
		    	<label for="user">User Defined</label>
		    </div>
		    <!-- <div class="form-group">
		        <label for="Values">Value (Comma Separated Eg: apple, orange)</label>
		        <input type="text" class="form-control" id="Values" [(ngModel)]="this.AttriValue" name="Values" #Values="ngModel" placeholder="Value" required>
			</div> -->
			
			<div>
					<label for="Values">Value (Comma Separated Eg: apple, orange)<span style="color:red;size:10px"> *</span></label>
					<ng-select [items]="newArr"
					[addTag]="addTag"
					[hideSelected]="true"
					multiple="true"
					bindLabel="name"
					[(ngModel)]="attributeModel.Values" name="Values1" #Values1="ngModel"  required>
					</ng-select>
					<!-- <rl-tag-input class="well mb-0" [(ngModel)]="attributeModel.Values" name="Values1" #Values1="ngModel" [addOnSpace]="false"  required  (removeTag)="removeElement($event)" placeholder="  Add values"></rl-tag-input> -->
					<div *ngIf="Values1.errors && (Values1.dirty || Values1.touched)" class="text-danger vd-msg">
							<div [hidden]="!Values1.errors.required">
								Attribute Name is required!
							</div>
							
						</div>
				</div>																																																																																			
		   <!--
		    <div *ngIf="!IsSystemDefined" class="form-group col-md-8">																																																								
		           <label for="UnitOfMeasures">Unit Of Measures</label>
		           <input type="text" class="form-control" id="UnitOfMeasures" [(ngModel)]="this.attributeModel.UnitOfMeasures" name="UnitOfMeasures" #UnitOfMeasures="ngModel" placeholder="Unit Of Measures">
		       </div>-->
		   
		    <div class="form-group">
		        <input type="button" class="btn btn-sm btn-color right rounded" *ngIf="newbutton" (click)="newAttribute()" value="add" [disabled]="!addAttribute.form.valid">
		    </div>
		    <div class="form-group">
		        <input type="button" class="btn btn-sm btn-color right rounded" *ngIf="editbutton" (click)="editAttribute()" value="Update" [disabled]="!addAttribute.form.valid">
		    </div>
		   <!-- <div class="alert alert-success fade in alert-dismissible" *ngIf="alertShow" role="alert">
			    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
			    <strong>Success!</strong> Added successfully!!!
			</div> -->
		</form>
	</div>
</div>
