<style>
	.truncate {
			width: 280px !important;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
	}
	.infocus
	{
		/* outline-style: solid;
		outline-width: 2px;
		outline-color: lightskyblue; */
		border-color: lightskyblue;
		border-width: 2px;
	}					
	.outfocus
	{
		outline-style: solid;
		outline-width: 2px;
		outline-color: white;	
	}
	.addressstyle
	{
		height:255px;
	
	}

	@media (min-width: 768px) and (max-width: 1024px) {
		.addressstyle
	{
		height:255px;
		width:200px;
		margin-right:10px;
		margin-left:10px;
	
	
	}
    }
	</style>
	<div>
		<form class="form" id="shippingAddressListForm" #shippingAddressListForm="ngForm">
			<!-- <div class="form-group">
				<h2 class="heading relative heading-small uppercase bottom-line style-2 left-align mb-0 pt-20" >Shipping Address</h2>
			</div> -->
			
		
			<div class="row mt-2" >
				<div class="col-xs-12" >
						
					<!-- <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 mb-20" style="padding-left:8px;padding-right:8px" >
						<div class="address_container">
							<div>
								<a href="javascript:;" [hidden]="ShowUserAddress?.length!=4"  >Delete an address to add new </a>
								<br>
								<i class="fa fa-plus add_address_icon" ></i>
								<p>Add New</p> 
							</div>
						</div>
						<div class="add-address addressstyle">
							<div>
								<a href="javascript:;" >
									<i class="fa fa-plus" style="font-size:44px;color: grey"></i>
								</a>
								<strong><p style="font-size:24px;color:black">Add address</p></strong>
							</div>
						</div>
					
					</div> -->
				
					<div *ngIf="AddressSwapJson?.length > 0">
						<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 mb-20 "  style="padding-left:8px;padding-right:8px;"  *ngFor="let Details of AddressSwapJson;let i=index">
							<div class="address-box addressstyle"  [ngClass]="Details.IsPrimary ?'infocus':'outfocus'">
							  <div *ngIf="Details.IsPrimary==true">
								  <!-- <p class="Clsaddress-title Clscolor-title">Default</p> -->
								  <!-- <hr style="margin-top:-9px;margin-bottom:2px;margin-left: -11px;color:#7a7a7a;background-color:#7a7a7a;height:1px;width: 266px;"> -->
							  </div>
								<!-- <p class="right">
									<input id="select_address" type="radio" class="input-group-text" style="display:block;" (click)="setDefault(Details._id,i)" [checked]="Details.IsPrimary" name="Address">
								</p> -->
								<!-- <p class="uppercase">
									<strong>{{Details.FirstName+" "+Details.LastName}}</strong>
								</p>
								<p class="message_lineheight text-truncate">
									{{Details.Line1}}
								</p>
								<p  class="message_lineheight text-truncate">
									{{Details.Line2}}
								</p>
								<p  class="message_lineheight">
									{{Details.City}},{{Details.State}}
								</p>
							
								<p  class="message_lineheight">
									{{Details.Country}} - {{Details.Zip}}
								</p>
								<p  class="message_lineheight">
									{{Details.Phone}}
								</p> -->
								
								<address>
										<strong>{{Details.FirstName+" "+Details.LastName}}</strong><br>
										{{Details.Line1}}<br>
										{{Details.Line2}}<br>
										{{Details.City}},{{Details.State}}<br>
										{{Details.Country}} - {{Details.Zip}}<br>
										{{Details.Phone}}
								</address>


								<div *ngIf="!Details.hasOwnProperty('ProfileAddress')">
									<div *ngIf="Details.IsPrimary==true">
									<span>
										<!-- <a href="javascript:;"> 
											<i class="fa fa-pencil-square-o" style="font-size:20px;color:black;" (click)="editAddress(Details._id)" ></i>
											 </a> -->
											 <a href="javascript:;" (click)="editAddress(Details._id)" ><span><i class="fa fa-pencil"></i></span></a> 
									 		 </span> &nbsp;|&nbsp; <span>
										 <!-- <a href="javascript:;"> 
											<i class="fa fa-trash" style="font-size:20px;color:black;" (click)="delete(Details._id)"></i>
										 </a>  -->
										 <a href="javascript:;" (click)="delete(Details._id)"><span><i class="fa fa-close"></i></span></a> 
										</span>
									</div>
									<div *ngIf="Details.IsPrimary==false">
											<span>
												<!-- <a href="javascript:;"> 
													<i class="fa fa-pencil-square-o" style="font-size:20px;color:black;" (click)="editAddress(Details._id)" ></i>
													 </a>  -->
													 <a href="javascript:;" class="" (click)="editAddress(Details._id)"><span><i class="fa fa-pencil"></i></span></a> 
											</span> &nbsp;|&nbsp; 
											<span>
												 <!-- <a href="javascript:;"> 
													<i class="fa fa-trash" style="font-size:20px;color:black;" (click)="delete(Details._id)"></i>
												 </a>  -->
												 <a href="javascript:;" class="" (click)="delete(Details._id)"><span><i class="fa fa-close"></i></span></a> 
											</span>
												&nbsp;|&nbsp;  
												<span > 
														<a href="javascript:;" class="Clsset_default" (click)="setDefault(Details._id,i)">Set as Default</a> 
												</span>
									</div>
									
									
									</div>	
						
								<!-- <span class="right"> 
									<a href="javascript:;" style="color:#2cb8a5;" *ngIf="Details.IsPrimary==true" (click)="setDefault(Details._id,i)">Default</a> 
									<a href="javascript:;" style="color:#2cb8a5;" *ngIf="Details.IsPrimary==false" (click)="setDefault(Details._id,i)">Set as Default</a> 
								</span> -->
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row mt-20">
				<div class="col-xs-12 col-sm-6 col-lg-4 col-lg-offset-4 col-sm-offset-3">
						<a href="javascript:;" class="btn Clscommon_btn_fill" (click)="addNew()" [hidden]="ShowUserAddress?.length==5">Add address</a>
				</div>
			</div>
		</form>
	</div>