<style>
	@media (min-width: 375px){
	.search-align{
		float: right;
			margin-top: 25px;
		font-size: 21px;
		}
	}
	.search-align{
		float: right;
			margin-top: 22px;
			font-size: 21px;
	}
	.alignment{
		/* height: 70px;
		widows: 70px; */
		margin-top: 15px;
		margin-bottom: 11px;
	}
	.notedetails{
		margin-left: 15px;
			margin-bottom: 11px;
			color: red;
	}
	.form-group{
		margin-bottom: 0px !important;
	}
	.warning-clr{
		font-size: small;
		color: #e53935 !important;
	}
	.alert{
		font-size: 12px !important;
		padding: 0px !important;
		margin-bottom: 10px !important;
		color: #ff0000 !important;
		margin-top: -6px;
	}
	input[type="text"],input[type="number"],input[type="email"],input[type="password"] {
		border: none !important;
		margin-bottom: 0px !important;
		padding: 0px !important;
	}
	.progress-bars {
		margin: 0 0 10px;
		/* padding: 10px 20px; */
		/* border: 1px solid #e8e8e8; */
	}
	.Clssell-on-jheaps .progress.meter {
		height: 3px;
		border-radius: 0;
		position: relative;
		/* background: #333; */
		/* margin-bottom: 27px; */
		box-shadow: none;
		/* border: 1px solid #e8e8e8; */
		padding: 8px 10px;
		border-radius: 10px;
	}
	.Clssell-on-jheaps .bottom-line.left-align:after {
    margin: 19px auto 5px 0;
}
	</style>
	<div class="container-fluid Clssell-on-jheaps">
		
		<div class="row">
			<div class="Clstitle-cover text-left">
				<h2 class="relative bottom-line style-2 left-align mb-40 mt-50">JHeaps seller registration dashboard <span *ngIf="!this.editDetails && !this.editBank">- Business Details</span><span *ngIf="!this.editDetails && this.editBank">- Bank Details</span></h2>
			</div>
		</div>
		
		<div class="row">
			<div *ngIf="detailshow" class="Clsinformation_box" role="alert">
				<p><span><small><i class="fa fa-info"></i></small></span><span>Please fill your business details and bank details to complete your profile.</span></p>
			</div>
		</div>
		<!-- <div class="row">
			<div class="Clsinformation_box">
				<p><span><small><i class="fa fa-info"></i></small></span><span>Size of the attachments must be 5 mb and be of format .jpeg, .doc…</span></p>
			</div>
		</div> -->
		<div class="row">
				<div class="col-sm-2">
					<button *ngIf="(!this.editDetails && this.editBank) || (!this.editDetails && !this.editBank)" type="button" class="Clscommon_btn_fill_small" (click)="goBack()">
						<span class="fa fa-arrow-left" aria-hidden="true"></span><span>  Back</span>
					</button>
				</div>
				<div [ngClass]="{
					'col-sm-10': (!this.editDetails && this.editBank) || (!this.editDetails && !this.editBank),
					'col-sm-12': this.editDetails && !this.editBank }" class="">
				<div class="progress-bars">
					<h6>Completion Level<span>{{progressbarvalue}}%</span></h6>
					<div class="progress meter">
						<div aria-valuemax="100" aria-valuemin="0" attr.aria-valuenow="{{progressbarvalue}}" class="progress-bar" role="progressbar"
						 [ngStyle]="{'width': progressbarvalue + '%'}">
							<span class="sr-only">{{progressbarvalue}}% Complete</span>
						</div>
					</div>
				</div>
				</div>
		</div>
	
		<!-- Buissness / Bank details Home Section -->
		<div class="row icon-boxes style-3 mt-50" *ngIf="this.editDetails">
					<div class="col-xs-12 Clsicon-box col-sm-6 mb-30">
						<div class="text-center">
							<a href="javascript:;">
								<i class="hi-icon fa fa-briefcase"></i>
							</a>
							<h3 class="uppercase">Business Details</h3>
							<div class="col-xs-12 col-sm-10 col-sm-offset-1">
								<p>You need your GSTIN, PAN # & address proof to complete this section</p>
							</div>
							<div class="row">
							<div class="col-xs-6 col-xs-offset-3 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 mt-20">
							<button type="button" class="btn Clscommon_btn_fill" data-toggle="modal" data-target="#addBusinessDetails" (click)="this.editDetails=false"
							 *ngIf="getShopObj?.editedBusinessDetails && !approved">Edit Details</button>
							 <button type="button" class="btn Clscommon_btn_fill" data-toggle="modal" data-target="#addBusinessDetails" (click)="this.editDetails=false"
							 *ngIf="getShopObj?.approvedBusinessDetails && approved">View Details</button>
							</div>
							</div>
							 <div  *ngIf="((getShopObj?.BusinessDetails?.length > 0) && (!this.businessdetailsModel.GstinProvisionalId || !this.businessdetailsModel.BusinessPanNumber || !this.businessdetailsModel.TanNumber || !this.businessdetailsModel.GstinProof))" style="color:red;margin-top: 10px;text-align:center" class="tooltip">Some Mandatory Fields Missing !!!
								<span class="tooltiptext tooltip-bottom"><ul style="margin-top:10px;margin-left: 30px;text-align: left">
									<li *ngIf="!this.businessdetailsModel.GstinProvisionalId"> <i class="fa fa-exclamation-circle warning-clr" aria-hidden="true"></i>
										Fill GST Provisional Id </li>
									<li *ngIf="!this.businessdetailsModel.BusinessPanNumber"> <i class="fa fa-exclamation-circle warning-clr" aria-hidden="true"></i>
											Business PAN Number </li>
									<li *ngIf="!this.businessdetailsModel.TanNumber"> <i class="fa fa-exclamation-circle warning-clr" aria-hidden="true"></i>
												TAN Number </li>
									<li *ngIf="!this.businessdetailsModel.GstinProof"> <i class="fa fa-exclamation-circle warning-clr" aria-hidden="true"></i>
										GST Proof</li>
								</ul></span>
							</div>
							<div class="row">
							<div class="col-xs-6 col-xs-offset-3 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 mt-20">
								<button type="button" class="btn Clscommon_btn_fill" data-toggle="modal" data-target="#addBusinessDetails" (click)="this.editDetails=false"
							 *ngIf="!getShopObj.hasOwnProperty('_id') || getShopObj?.BusinessDetails?.length == 0">Add Details</button>
							</div>
							</div>
						</div>
					</div>
					<!-- end service item -->
					<div class="col-xs-12 Clsicon-box col-sm-6 mb-30">
						<div class="text-center">
							<a href="javascript:;">
								<i class="hi-icon fa fa-bank"></i>
							</a>
							<h3 class="uppercase">Bank Details</h3>
							<div class="col-xs-12 col-sm-10 col-sm-offset-1">
								<p>We need your bank account details and KYC documents to verify your Account</p>
							</div>
							<div class="row">
							<div class="col-xs-6 col-xs-offset-3 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 mt-20">
								<button type="button" class="btn Clscommon_btn_fill" data-toggle="modal" data-target="#addBankDetails1" *ngIf="getShopObj?.editedBankDetails"
								(click)="this.disableSaveBank = true;this.editDetails=false;this.editBank=true;">Edit Details</button>
								<button type="button" class="btn Clscommon_btn_fill" data-toggle="modal" data-target="#addBankDetails1" *ngIf="!getShopObj.hasOwnProperty('_id') || !getShopObj?.editedBankDetails"
								(click)="ResetbankDetails();" [disabled]="!getShopObj.hasOwnProperty('_id')">Add Details</button>
							 </div>
							 </div>
						</div>
					</div>
					<!-- end service item -->
		</div>
		<!-- End Buissness / Bank details Home Section -->
		<!-- Buissness details Section -->
				<div class="row" *ngIf="!this.editDetails && !this.editBank">
				<!-- <div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<button type="button" class="btn Clscommon_btn_fill_small Clsback_btn left" (click)="goBack()">
							<span class="fa fa-arrow-left" aria-hidden="true"></span>
						</button>
					</div>
				</div> -->
				<!-- <div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="Clstitle-cover text-left">
							<h2>Business Details</h2>
						</div>
					</div>
				</div> -->
				<!-- Buissness shop details Section -->
					
					<form id="GetBusinessDetailsForm" name="GetBusinessDetailsForm" #GetBusinessDetailsForm="ngForm" (change)="resetSubmitButton()" novalidate>
						<div class="row">
							<div class="col-md-12">
								<div class="row">
									<div class="col-md-12">
											<div class="Clstitle-cover Clscolor-title">
												<h6>Shop Details</h6>
											</div>
									</div>
								</div>
								<div class="Clsborder container-fluid">
									<div class="row">
											<div class="col-md-12">
													<div class="form-group">
														<mat-form-field class="example-full-width Clsfull-width">
															<input matInput type="text" id="BusinessName" placeholder="Shop Name" name="BusinessName" [(ngModel)]="this.businessdetailsModel.Name"
															 pattern="^([a-zA-Z ]*$)" minlength="5" (blur)="CheckBusinessName()" #BusinessName="ngModel" required [disabled]="approved">
														</mat-form-field>
														<div *ngIf="BusinessName.errors && (BusinessName.dirty || BusinessName.touched)" class="alert">
															<div [hidden]="!BusinessName.errors.required">
																Shop Name is required
															</div>
															<div [hidden]="!BusinessName.errors.minlength">
																Shop Name must be at least 5 characters long
															</div>
															<div [hidden]="!BusinessName.errors.pattern">
																You cant include numbers!
															</div>
															<div [hidden]="!BusinessName.errors.incorrect">
																That Account Holder is taken. Try another.
															</div>
														</div>
													</div>
												</div>
									</div>
								<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<mat-form-field class="example-full-width Clsfull-width">
										<input matInput type="text" id="Displayname" placeholder="Display Name" name="Displayname" [(ngModel)]="this.businessdetailsModel.DisplayName"
										 pattern="^([a-zA-Z ]*$)" minlength="5" #Displayname="ngModel" (blur)="CheckBusinessDisplayName()" required [disabled]="approved">
									</mat-form-field>
									<div *ngIf="Displayname.errors && (Displayname.dirty || Displayname.touched)" class="alert">
										<div [hidden]="!Displayname.errors.required">
											Display Name is required
										</div>
										<div [hidden]="!Displayname.errors.minlength">
											Display Name must be at least 5 characters long
										</div>
										<div [hidden]="!Displayname.errors.pattern">
											You cant include numbers!
										</div>
										<div [hidden]="!Displayname.errors.incorrect">
											That Account Holder is taken. Try another.
										</div>
									</div>
								</div>
							</div>
									<div class="col-md-6">
									<div class="form-group">
									<mat-form-field class="Clsfull-width">
										<mat-select placeholder="Business Type" [(ngModel)]="this.businessdetailsModel.Type" name="businesstype"
										 [ngModelOptions]="{standalone: true}" required [disabled]="approved">
											<mat-option value="undefined" selected disabled>Select Business Type</mat-option>
											<mat-option value="Proprietorship">Proprietorship</mat-option>
											<mat-option value="Partnership">Partnership</mat-option>
											<mat-option value="OPC">OPC</mat-option>
											<mat-option value="LLP">LLP</mat-option>
											<mat-option value="Private_Limited">Private Limited</mat-option>
											<mat-option value="Public_Limited"> Public Limited</mat-option>
										</mat-select>
									</mat-form-field>
								</div>
							</div>
							</div>
							<div class="row">
									<div class="col-md-6 pt-10">
									<div class="form-group">
									<!-- <label for="GSTINProvisionalID">GSTIN Provisional ID:<span style="color:red;size:10px"> *</span></label> -->
									<mat-form-field class="example-full-width Clsfull-width">
										<input matInput type="text" id="GSTINProvisionalID" placeholder="GSTIN ID(15-character alphanumeric)" pattern="^([0][1-9]|[1-2][0-9]|[3][0-5])([a-zA-Z]{5}[0-9]{4}[a-zA-Z]{1}[1-9a-zA-Z]{1}[zZ]{1}[0-9a-zA-Z]{1})+$"
										 (blur)="CheckGSTIN()" name="GSTINProvisionalID" [(ngModel)]="this.businessdetailsModel.GstinProvisionalId"
										 #GSTINProvisionalID="ngModel" [disabled]="approved" required>
									</mat-form-field>
									<div *ngIf="GSTINProvisionalID.errors && (GSTINProvisionalID.dirty || GSTINProvisionalID.touched)" class="alert">
										<div [hidden]="!GSTINProvisionalID.errors.required">
											GSTIN Provisional ID is required
										</div>
										<div [hidden]="!GSTINProvisionalID.errors.pattern">
											please correct GSTIN Provisional ID
										</div>
										<div [hidden]="!GSTINProvisionalID.errors.incorrect">
											That GSTIN ID is used. Try another.
										</div>
									</div>
								</div>
									</div>
								<div class="col-md-6">
									<div class="form-group">
									<label>Attach GSTIN Proof</label>
									<!-- <input type="file" id="GSTINProof" name="GSTINProof" placeholder="GSTIN Proof" (change)="ChangeListener($event,'GstinProof')"> -->
									<!-- image upload -->
									<div class="row">
										<div class="col-sm-12 ClsimgUp imgUp">
											<ul>
											<li class="Clsup_image">
												<div class="imagePreview"></div>
											</li>
											<li class="Clsup_button">
												<div class="" *ngIf="!approved">
												<label class="Clsbutton_9 Clsupload_btn"><span *ngIf="this.businessdetailsModel.GstinProof;else elseBlock">Replace</span> <ng-template #elseBlock>Upload</ng-template><input type="file" class="hide uploadFile img" id="GSTINProof" name="GSTINProof" placeholder="GSTIN Proof" (change)="ChangeListener($event,'GstinProof')" [disabled]="approved"></label>
												</div>
												<div class="">
												<a class="Clsbutton_9 Clsview_btn" *ngIf="this.businessdetailsModel.GstinProof" [href]="this.businessdetailsModel.GstinProof"
										target="_blank">Click to view file</a>
												</div>
											</li>
										</ul>
										</div>
									</div>
									<!-- image upload -->
								</div>
							</div>
							</div>
							<div class="row" *ngIf="businessType=='Proprietorship'">
									<div class="col-md-6  pt-10">
									<div class="form-group">
									<mat-form-field class="example-full-width Clsfull-width">
										<input matInput type="text" id="pan" name="pan" placeholder=" Business Pan Number" pattern="[A-Za-z]{5}\d{4}[A-Za-z]{1}"
										 (blur)="CheckPersonalPAN()" [(ngModel)]="this.businessdetailsModel.PersonalPanNumber" #pan="ngModel" [disabled]="approved" required>
									</mat-form-field>
									<div *ngIf="pan.errors && (pan.dirty || pan.touched)" class="alert">
										<div [hidden]="!pan.errors.required">
											PAN is required
										</div>
										<div [hidden]="!pan.errors.pattern">
											Pleae enter correct PAN number
										</div>
										<div [hidden]="!pan.errors.incorrect">
											That PAN is used. Try another.
										</div>
									</div>
								</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
									<label>Attach PAN Proof</label>
									<!-- <input type="file" id="PANProof" name="PANProof" placeholder="PAN Proof" (change)="ChangeListener($event,'PanProof')"> -->
									<!-- image upload -->
									<!-- <div class="row">
										<div class="col-sm-4 imgUp">
											<div class="col-sm-12">
											<div class="imagePreview"></div>
											</div>
											<div class="col-sm-12">
											<label class="btn Clscommon_btn_fill Clsupload_btn">Upload<input type="file" class="hide uploadFile img" value="Upload Photo" style="width: 0px;height: 0px;overflow: hidden;"></label>
											<a class="alignment Clscommon_btn_fill" *ngIf="this.businessdetailsModel.PanProof" [href]="this.businessdetailsModel.PanProof"
									 target="_blank">Click to view file</a>
											</div>
										</div>
								</div> -->
								<!-- image upload -->
								<!-- image upload -->
								<div class="row">
									<div class="col-sm-12 ClsimgUp imgUp">
										<ul>
										<li class="Clsup_image">
											<div class="imagePreview"></div>
										</li>
										<li class="Clsup_button">
											<div class="">
													<label  *ngIf="approved == false" class="Clsbutton_9 Clsupload_btn"> <span *ngIf="this.businessdetailsModel.PanProof;else elseBlock">Replace</span> <ng-template #elseBlock>Upload</ng-template> <input type="file" class="hide uploadFile img" value="Upload Photo" (change)="ChangeListener($event,'PanProof')" style="width: 0px;height: 0px;overflow: hidden;"></label>
											</div>
											<div class="">
													<a class="Clsbutton_9 Clsview_btn" *ngIf="this.businessdetailsModel.PanProof" [href]="this.businessdetailsModel.PanProof"
													target="_blank">Click to view file</a>
											</div>
										</li>
									</ul>
									</div>
								</div>
								<!-- image upload -->
								</div>
							</div>
						</div>
							<div class="row" *ngIf="businessType!='Proprietorship'">
									<div class="col-md-6 pt-10">
											<div class="form-group">
									<mat-form-field class="example-full-width Clsfull-width">
										<input matInput type="text" id="Bpan" name="Bpan" (blur)="CheckPAN()" placeholder=" Business Pan Number"
										 pattern="[A-Za-z]{5}\d{4}[A-Za-z]{1}" [(ngModel)]="this.businessdetailsModel.BusinessPanNumber" #Bpan="ngModel"
										 [disabled]="approved"required>
									</mat-form-field>
									<div *ngIf="Bpan.errors && (Bpan.dirty || Bpan.touched)" class="alert">
										<div [hidden]="!Bpan.errors.required">
											Business PAN is required
										</div>
										<div [hidden]="!Bpan.errors.pattern">
											Pleae enter correct PAN number
										</div>
										<div [hidden]="!Bpan.errors.incorrect">
											That PAN is used. Try another.
										</div>
									</div>
								</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
									<label>Attach PAN Proof</label>
								<!-- image upload -->
									<!-- <div class="row">
										<div class="col-sm-4 imgUp">
											<div class="col-sm-12">
											<div class="imagePreview"></div>
											</div>
											<div class="col-sm-12">
											<label class="btn Clscommon_btn_fill Clsupload_btn">Upload<input type="file" class="uploadFile img" value="Upload Photo" style="width: 0px;height: 0px;overflow: hidden;"></label>
											</div>
										</div>
								</div> -->
								<!-- image upload -->
								<!-- image upload -->
								<div class="row">
										<div class="col-sm-12 ClsimgUp imgUp">
											<ul>
											<li class="Clsup_image">
												<div class="imagePreview"></div>
											</li>
											<li class="Clsup_button">
												<div class="" *ngIf="!approved">
														<label class="Clsbutton_9 Clsupload_btn"><span *ngIf="this.businessdetailsModel.PanProof;else elseBlock">Replace</span> <ng-template #elseBlock>Upload</ng-template><input type="file" class="hide uploadFile img" value="Upload Photo" (change)="ChangeListener($event,'PanProof')" style="width: 0px;height: 0px;overflow: hidden;"></label>
												</div>
												<div class="">
														<a class="Clsbutton_9 Clsview_btn" *ngIf="this.businessdetailsModel.PanProof" [href]="this.businessdetailsModel.PanProof"
									 target="_blank">Click to view file</a>
												</div>
											</li>
										</ul>
										</div>
									</div>
									<!-- image upload -->
									<!-- <input type="file" id="BPANProof" name="BPANProof" placeholder="PAN Proof" (change)="ChangeListener($event,'PanProof')"> -->
									
								</div>
								</div>
							</div>
							<!-- <div class="row">
									<div class="col-md-6 pt-10">
											<div class="form-group">
									<mat-form-field class="example-full-width Clsfull-width">
										<input matInput type="text" id="TAN" name="TAN" placeholder="TAN Number" pattern="[A-Za-z]{4}\d{5}[A-Za-z]{1}"
										 (blur)="CheckTAN()" [(ngModel)]="this.businessdetailsModel.TanNumber" #TAN="ngModel">
									</mat-form-field>
									<div *ngIf="TAN.errors && (TAN.dirty || TAN.touched)" class="alert">
										<div [hidden]="!TAN.errors.required">
											TAN is required
										</div>
										<div [hidden]="!TAN.errors.pattern">
											Please enter correct TAN number
										</div>
										<div [hidden]="!TAN.errors.incorrect">
											That TAN is used. Try another.
										</div>
									</div>
								</div>
									</div>
									<div class="col-md-6">
											<div class="form-group">
									<label for="TANProof">Attach TAN Proof</label>
									<input type="file" id="TANProof" name="TANProof" placeholder="TAN Proof" (change)="ChangeListener($event,'TanProof')">
								<div class="row">
										<div class="col-sm-12 ClsimgUp imgUp">
											<ul>
											<li class="Clsup_image">
												<div class="imagePreview"></div>
											</li>
											<li class="Clsup_button">
												<div class="">
														<label class="Clsbutton_9 Clsupload_btn">Upload<input type="file" class="hide uploadFile img" value="Upload Photo" (change)="ChangeListener($event,'TanProof')" style="width: 0px;height: 0px;overflow: hidden;"></label>
												</div>
												<div class="">
														<a class="Clsbutton_9 Clsview_btn" *ngIf="this.businessdetailsModel.TanProof" [href]="this.businessdetailsModel.TanProof"
									 target="_blank">Click to view file</a>
												</div>
											</li>
										</ul>
										</div>
									</div>
								</div>
							</div>
							</div> -->
							<div class="row">
									<div class="col-md-6">
										<div class="form-group">
									<label>Attach Address Proof</label>
									<!-- <input type="file" id="AddressProof" name="AddressProof" placeholder="Address Proof" (change)="ChangeListener($event,'AttachAddressProof')">
									<a class="alignment" *ngIf="this.businessdetailsModel.AttachAddressProof" [href]="this.businessdetailsModel.AttachAddressProof"
									 target="_blank">Click to view file</a> -->
									 <!-- image upload -->
								<div class="row">
										<div class="col-sm-12 ClsimgUp imgUp">
											<ul>
											<li class="Clsup_image">
												<div class="imagePreview"></div>
											</li>
											<li class="Clsup_button">
												<div class="" *ngIf="!approved">
														<label class="Clsbutton_9 Clsupload_btn"><span *ngIf="this.businessdetailsModel.AttachAddressProof;else elseBlock">Replace</span> <ng-template #elseBlock>Upload</ng-template><input type="file" class="hide uploadFile img" id="AddressProof" name="AddressProof" placeholder="Address Proof" (change)="ChangeListener($event,'AttachAddressProof')"></label>
												</div>
												<div class="">
									 <a class="Clsbutton_9 Clsview_btn" *ngIf="this.businessdetailsModel.AttachAddressProof" [href]="this.businessdetailsModel.AttachAddressProof"
									 target="_blank">Click to view file</a>
												</div>
											</li>
										</ul>
										</div>
									</div>
									<!-- image upload -->
								</div>
									</div>
									<div class="col-md-6">
											<div class="form-group">
									<label for="signature">Signature</label>
									<!-- <input type="file" id="signature" name="sign" placeholder="Sign." (change)="ChangeListener($event,'Signature')"> -->
									<!-- image upload -->
									<!-- <div class="row">
										<div class="col-sm-4 imgUp">
											<div class="col-sm-12">
											<div class="imagePreview"></div>
											</div>
											<div class="col-sm-12">
											<label class="btn Clscommon_btn_fill Clsupload_btn">Upload<input type="file" class="uploadFile img" value="Upload Photo" style="width: 0px;height: 0px;overflow: hidden;"></label>
											</div>
										</div>
								</div> -->
								<!-- image upload -->
								<!-- image upload -->
								<div class="row">
										<div class="col-sm-12 ClsimgUp imgUp">
											<ul>
											<li class="Clsup_image">
												<div class="imagePreview"></div>
											</li>
											<li class="Clsup_button">
												<div class="" *ngIf="!approved">
														<label class="Clsbutton_9 Clsupload_btn"><span *ngIf="this.businessdetailsModel.Signature;else elseBlock">Replace</span> <ng-template #elseBlock>Upload</ng-template><input type="file" class="hide uploadFile img" value="Upload Photo" (change)="ChangeListener($event,'Signature')" style="width: 0px;height: 0px;overflow: hidden;"></label>
												</div>
												<div class="">
														<a class="Clsbutton_9 Clsview_btn" *ngIf="this.businessdetailsModel.Signature" [href]="this.businessdetailsModel.Signature"
									 target="_blank">Click to view file</a>
												</div>
											</li>
										</ul>
										</div>
									</div>
									<!-- image upload -->
								</div>
								</div>
							
							</div>
							</div>
							
							<!-- Buissness shop details Section -->
							<div class="row">
								<div class="col-md-12">
									<div class="Clstitle-cover Clscolor-title">
										<h6>Shop Address</h6>
									</div>
								</div>
							</div>
							<div class="container-fluid Clsborder">
							<div class="row">
								<div class="col-md-6">
									<mat-form-field class="example-full-width Clsfull-width">
										<input matInput type="text" maxlength="50" id="Line1" [(ngModel)]="this.profileModelAddress.Line1" name="Line1"
										 #Line1="ngModel" placeholder="Address Line 1" required [readonly]="readonlyVar" [disabled]="approved">
									</mat-form-field>
									<div *ngIf="Line1.errors && (Line1.dirty || Line1.touched)" class="alert">
										<div [hidden]="!Line1.errors.required">
											Address Line1 is required
										</div>
										<div [hidden]="!Line1.errors.maxlength">
											Maximum 30 characters are allowed
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<mat-form-field class="example-full-width Clsfull-width">
										<input matInput type="text" maxlength="30" id="Line2" [(ngModel)]="this.profileModelAddress.Line2" name="Line2"
										 #Line2="ngModel" placeholder="Address Line 2" required [readonly]="readonlyVar" [disabled]="approved">
									</mat-form-field>
									<div *ngIf="Line2.errors && (Line2.dirty || Line2.touched)" class="alert">
										<div [hidden]="!Line2.errors.required">
											Address Line2 is required
										</div>
										<div [hidden]="!Line2.errors.maxlength">
											Maximum 30 characters are allowed
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<mat-form-field class="Clsfull-width">
										<mat-select placeholder="Select State" [(ngModel)]="this.profileModelAddress.State" name="State"
										 [ngModelOptions]="{standalone: true}" required [disabled]="approved">
											<mat-option *ngFor="let states of statesArray" [value]="states.state_name">
												{{states.state_name}}
											</mat-option>
										</mat-select>
									</mat-form-field>
								</div>
								<div class="col-md-6">
									<mat-form-field class="example-full-width Clsfull-width">
										<input matInput type="text" id="City" [(ngModel)]="this.profileModelAddress.City" name="City" #City="ngModel"
										 [readonly]="readonlyVar" placeholder="City" required [disabled]="approved">
										 <!-- <mat-select placeholder="Select City" [(ngModel)]="this.profileModelAddress.City" name="City" #City="ngModel"
										 [ngModelOptions]="{standalone: true}" required>
											<mat-option *ngFor="let city of citiesArray" [value]="city.city_name">
												{{city.city_name}}
											</mat-option>
										</mat-select> -->
									</mat-form-field>
									<div *ngIf="City.errors && (City.dirty || City.touched)" class="alert">
										<div [hidden]="!City.errors.required">
											City is required
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<mat-form-field class="example-full-width Clsfull-width">
										<input matInput type="number" id="ZipCode" [(ngModel)]="this.profileModelAddress.Zip" name="ZipCode" #ZipCode="ngModel"
										 [readonly]="readonlyVar" placeholder="Pincode" pattern="[0-9]{1,6}" maxlength="6" required [disabled]="approved">
									</mat-form-field>
									<div *ngIf="ZipCode.errors && (ZipCode.dirty || ZipCode.touched)" class="alert">
										<div [hidden]="!ZipCode.errors.required">
											Pincode is required
										</div>
										<div [hidden]="ZipCode.errors.maxlength">
											Pincode cannot be greater than 6 digits long.
										</div>
									</div>
								</div>
								<div class="form-group col-md-6">
									<mat-form-field class="example-full-width Clsfull-width">
										<input matInput type="number" id="Phone" [(ngModel)]="this.profileModelAddress.Phone" name="Phone" #Phone="ngModel"
										 (blur)="CheckPhone()" pattern="[0-9]{1,10}" maxlength="10" placeholder="Enter Phone Number" required [disabled]="!editPhone && approved">
									</mat-form-field>
									<div *ngIf="Phone.errors && (Phone.dirty || Phone.touched)" class="alert">
										<div [hidden]="!Phone.errors.required">
											Phone is required
										</div>
										<div [hidden]="Phone.errors.maxlength">
											Phone number cannot be greater than 10 digits long.
										</div>
										<div [hidden]="!Phone.errors.incorrect">
											That Phone Number is used. Try another.
										</div>
									</div>
								</div>
							</div>
							<!-- Ships From -->
							</div>
							<div class="row">
									<div class="col-md-12">
											<div class="Clstitle-cover Clscolor-title">
												<h6>Ships From Shop Address</h6>
											</div>
									</div>
							</div>
							<div class="row">
									<div class="col-md-12">
										<mat-checkbox [(ngModel)]="sameShop" name="sameShop" (click)="sameasShop()" [disabled]="approved">Same as Shop Address</mat-checkbox>
									</div>
							</div>
							<div class="container-fluid Clsborder">
								<div class="row">
								<div class="col-md-6">
									<mat-form-field class="example-full-width Clsfull-width">
										<input matInput type="text" maxlength="30" id="Line1" [(ngModel)]="this.profileModelAddress.sfLine1" name="sfLine1"
										 #sfLine1="ngModel" placeholder="Address Line 1" required [readonly]="readonlyVar" [disabled]="approved">
									</mat-form-field>
									<div *ngIf="sfLine1.errors && (sfLine1.dirty || sfLine1.touched)" class="alert">
										<div [hidden]="!sfLine1.errors.required">
											Address Line1 is required
										</div>
										<div [hidden]="!sfLine1.errors.maxlength">
											Maximum 30 characters are allowed
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<mat-form-field class="example-full-width Clsfull-width">
										<input matInput type="text" maxlength="30" id="sfLine2" [(ngModel)]="this.profileModelAddress.sfLine2" name="sfLine2"
										 #sfLine2="ngModel" placeholder="Address Line 2" required [readonly]="readonlyVar" [disabled]="approved">
									</mat-form-field>
									<div *ngIf="sfLine2.errors && (sfLine2.dirty || sfLine2.touched)" class="alert">
										<div [hidden]="!sfLine2.errors.required">
											Address Line2 is required
										</div>
										<div [hidden]="!sfLine2.errors.maxlength">
											Maximum 30 characters are allowed
										</div>
									</div>
								</div>
							</div>
							
							<div class="row">
								<div class="col-md-6">
									<mat-form-field class="Clsfull-width">
										<mat-select placeholder="Select State" [(ngModel)]="this.profileModelAddress.sfState" name="sfState"
										 [ngModelOptions]="{standalone: true}" required [disabled]="approved">
											<mat-option *ngFor="let states of statesArray" [value]="states.state_name">
												{{states.state_name}}
											</mat-option>
										</mat-select>
									</mat-form-field>
								</div>
								<div class="col-md-6">
									<mat-form-field class="example-full-width Clsfull-width">
										<input matInput type="text" id="City" [(ngModel)]="this.profileModelAddress.sfCity" name="sfCity" #sfCity="ngModel"
										 [readonly]="readonlyVar" placeholder="City" required [disabled]="approved">
										 <!-- <mat-select placeholder="Select City" [(ngModel)]="this.profileModelAddress.sfCity" name="sfCity" #sfCity="ngModel"
										 [ngModelOptions]="{standalone: true}" required>
											<mat-option *ngFor="let city of sfcitiesArray" [value]="city.city_name">
												{{city.city_name}}
											</mat-option>
										</mat-select> -->
									</mat-form-field>
									<div *ngIf="sfCity.errors && (sfCity.dirty || sfCity.touched)" class="alert">
										<div [hidden]="!sfCity.errors.required">
											City is required
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<mat-form-field class="example-full-width Clsfull-width">
										<input matInput type="number" id="sfZipCode" [(ngModel)]="this.profileModelAddress.sfZip" name="sfZipCode" #sfZipCode="ngModel"
										 [readonly]="readonlyVar" placeholder="Pincode" pattern="[0-9]{1,6}" maxlength="6" required [disabled]="approved">
									</mat-form-field>
									<div *ngIf="sfZipCode.errors && (sfZipCode.dirty || sfZipCode.touched)" class="alert">
										<div [hidden]="!sfZipCode.errors.required">
											Pincode is required
										</div>
										<div [hidden]="sfZipCode.errors.maxlength">
											Pincode cannot be greater than 6 digits long.
										</div>
									</div>
								</div>
								<div class="form-group col-md-6">
									<mat-form-field class="example-full-width Clsfull-width">
										<input matInput type="number" id="sfPhone" [(ngModel)]="this.profileModelAddress.sfPhone" name="sfPhone" #sfPhone="ngModel"
										 (blur)="CheckPhone()" pattern="[0-9]{1,10}" maxlength="10" placeholder="Enter Phone Number" required [disabled]="!editPhone && approved">
									</mat-form-field>
									<div *ngIf="sfPhone.errors && (sfPhone.dirty || sfPhone.touched)" class="alert">
										<div [hidden]="!Phone.errors.required">
											Phone is required
										</div>
										<div [hidden]="sfPhone.errors.maxlength">
											Phone number cannot be greater than 10 digits long.
										</div>
										<div [hidden]="!sfPhone.errors.incorrect">
											That Phone Number is used. Try another.
										</div>
									</div>
								</div>
							</div>
							
							<!-- Ships From End -->
							<!-- <div class="row">
								<div class="form-group col-md-6">
										<mat-form-field class="email-example Clsfull-width">
											<input matInput placeholder="Email" type="email" pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9]{2,3}$"
											 id="Email1" class="" size="25" [(ngModel)]="this.UserEmail" name="Email" placeholder="Email" required #Email="ngModel"
											 [disabled]="!this.EditEmail">
										</mat-form-field>
										<a href="javascript:;" *ngIf="!this.EditEmail" class="Clsfield_btn" (click)="EmailChange()"><img width="16px" title="change?" src="assets/img/edit.png" alt="edit icon" /></a>
										<a href="javascript:;" *ngIf="this.EditEmail"  class="btn Clscommon_btn_fill_small Clssend_btn" style="margin-right: 44px" (click)="sendEmailOTP()">Send OTP</a>
										<div *ngIf="Email.errors && (Email.dirty || Email.touched)" class="alert">
											<div [hidden]="!Email.errors.required">
												Email must be given
											</div>
											<div [hidden]="!Email.errors.pattern">
												Enter a valid id
											</div>
										</div>
										<div *ngIf="this.getPassword">
											<mat-form-field class="email-example Clsfull-width">
											<input matInput  oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
											type = "number"
											maxlength = "6" class="form-control mb-0" id="otp" [(ngModel)]="this.OTP" name="Otp"
											placeholder="OTP" #Otp="ngModel" [disabled]="this.OTPVerify" (keyup)="OTPCheck()" required><span style="margin-top: -30px;" *ngIf="this.OTPVerify" class="fa fa-check errspan"></span><span style="color: red!important;margin-top: -30px;" *ngIf="this.OTPWrong && !this.OTPVerify" class="fa fa-close errspan"></span>
											</mat-form-field>
											<div *ngIf="Otp.errors && (Otp.dirty || Otp.touched) " class="alert">
												<div [hidden]="!Otp.errors.required">
													OTP is required!
												</div>
											</div>						
										</div>
										<div *ngIf="this.getEmailPassword">
											<mat-form-field class="email-example Clsfull-width">
												<input matInput oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
												 type="number" maxlength="6" class="form-control mb-0" id="EmailOTP" [(ngModel)]="this.EmailOTP" name="EmailOTP"
												 placeholder="OTP" #EmailOTP1="ngModel" [disabled]="this.EmailOTPVerify" (keyup)="EmailOTPCheck()" required><span
												 style="margin-top: -30px;" *ngIf="this.EmailOTPVerify" class="fa fa-check errspan"></span><span style="color: red!important;margin-top: -30px;"
												 *ngIf="this.EmailOTPWrong && !this.EmailOTPVerify" class="fa fa-close errspan"></span>
											</mat-form-field>
											<div *ngIf="EmailOTP1.errors && (EmailOTP1.dirty || EmailOTP1.touched) " class="alert">
												<div [hidden]="!EmailOTP1.errors.required">
													OTP is required!
												</div>
											</div>
										</div>
										<div *ngIf="this.getPassword">
													<label for="OTP">Account Password:<span style="color:red;size:10px"> *</span></label>
													<mat-form-field class="email-example Clsfull-width">
						
													<input matInput type="password" class="form-control mb-0" [(ngModel)]="this.UserPassword" id="Password" name="Password"
													pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{6,16}$" placeholder="Enter Password" reverse="true"
													#Password="ngModel" required>
													</mat-form-field>
													 <div *ngIf="Password.errors && (Password.dirty || Password.touched)" class="alert">
														 <div [hidden]="!Password.errors.required">
															 Provide password
														 </div>
													 </div>						
										</div>
										<div *ngIf="this.getEmailPassword">
												<label for="OTP">Account Password:<span style="color:red;size:10px"> *</span></label>
												<mat-form-field class="email-example Clsfull-width">
						
												<input matInput type="password" class="form-control mb-0" [(ngModel)]="this.EmailPassword" id="Password" name="Password"
												pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{6,16}$" placeholder="Enter Password" reverse="true"
												#Password="ngModel" required>
												</mat-form-field>
												 <div *ngIf="Password.errors && (Password.dirty || Password.touched)" class="alert">
													 <div [hidden]="!Password.errors.required">
														 Provide password
													 </div>
												 </div>						
										</div>
										<div>
											<button type="button" class="btn btn-sm btn-color rounded" (click)="SaveMobile()" [disabled]="!this.OTPVerify || this.UserPassword == null " *ngIf="this.getPassword">Update</button>
										</div>
										<div>
											<button type="button" class="btn btn-sm btn-color rounded" (click)="SaveEmail()" [disabled]="!this.EmailOTPVerify || this.EmailPassword == null " *ngIf="this.getEmailPassword">Update</button>
										</div>
								</div>
								
							</div> -->
							<div class="col-md-12">
								<div class="form-group col-md-6" *ngIf="!loader"></div>
								<div class="form-group col-md-6" *ngIf="loader">
									<i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i> loading...
								</div>
							</div>
					</div>
					<div class="row text-right mt-20">
						<div class="col-xs-12">
						<div class="row text-right">
						<div class="Clssubmit-text col-sm-4"  *ngIf="!this.approved" >
							<p *ngIf="GetBusinessDetailsForm.form.valid && submitenable">By clicking on Submit you agree to JHeaps Terms for Sellers & Privacy Policy</p>
						</div>
						<div class="form-group col-sm-4"  *ngIf="!this.getShopObj.SubmitBusiness">
							<input type="button" class=" Clscommon_btn_small" value="Save" (click)="getBusinessDetails('save')">
						</div>
						</div>
						<div class="row">
						<div class="col-xs-12">
							<input type="button" *ngIf="GetBusinessDetailsForm.form.valid && submitenable && !approved"
								class="Clscommon_btn_fill_small" value="Submit" (click)="getBusinessDetails('submit')">
							<input type="button" *ngIf="GetBusinessDetailsForm.form.valid && submitenable && approved && editPhone"
								class="Clscommon_btn_fill_small" value="Update Mobile number" (click)="UpdatePhoneNumber()">
							<input type="button" *ngIf="approved && editPhone" class="Clscommon_btn_small Clsbtn_space_left" value="Cancel"
								(click)="this.editPhone = false">
							<input type="button" class="Clscommon_btn_fill_small" *ngIf=" approved && !editPhone" value="Edit Mobile"
								(click)="this.editPhone = true">
						</div>
						</div>
					</div>
					</div>
					
				</div>
			</div>
					</form>
				</div>
				<!-- End Buissness details Section -->
				<!-- Bank details Section -->
				<div *ngIf="!this.editDetails && this.editBank">
						<!-- <div class="row">
						<div class="row">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-10">
								<button type="button" class="btn Clscommon_btn_fill_small Clsback_btn left" (click)="goBack()">
									<span class="fa fa-arrow-left" aria-hidden="true"></span>
								</button>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<div class="Clstitle-cover text-left">
									<h2>Bank Details</h2>
								</div>
							</div>
						</div>
					</div> -->
					<form name="bankform" id="bankform" #bankform="ngForm" (change)="resetSaveButton()" novalidate>
						<div class="row">
							<div class="Clsborder container-fluid">
								<div class="row">	
								<div class="col-md-12">
									<mat-form-field class="example-full-width Clsfull-width">
										<input matInput type="text" id="AccountName" placeholder="Account Holder Name" name="AccountName" [(ngModel)]="this.bankdetailsModel.AccountHolderName"
										 #AccountName="ngModel" required (blur)="this.disableSaveBank = false;">
									</mat-form-field>
									<div *ngIf="AccountName.errors && (AccountName.dirty || AccountName.touched)" class="alert">
										<div [hidden]="!AccountName.errors.required">
											Account Name is required
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<mat-form-field class="example-full-width Clsfull-width">
										<input matInput type="number" id="AccountNumber" placeholder="Account Number" name="AccountNumber" [(ngModel)]="this.bankdetailsModel.AccountNumber"
										 (blur)="CheckAccountNumber();accountIFSCCheck=false;" #AccountNumber="ngModel" required>
									</mat-form-field>
									<div *ngIf="AccountNumber.errors && (AccountNumber.dirty || AccountNumber.touched)" class="alert">
										<div [hidden]="!AccountNumber.errors.required">
											Please enter Account Number
										</div>
	
									</div>
									<div *ngIf="accountIFSCCheck" class="alert">
										That Account Number and IFSC Code is used. Try another.
									</div>
	
								</div>
								<div class="col-md-6">
									<mat-form-field class="example-full-width Clsfull-width">
										<input matInput type="number" id="ConfirmAccountNumber" placeholder="Re-enter Account Number" name="ConfirmAccountNumber"
										 [(ngModel)]="this.bankdetailsModel.ConfirmAccountNumber" (keyup)="CheckAccountNumber()" #ConfirmAccountNumber="ngModel"
										 required>
									</mat-form-field>
									<div *ngIf="ConfirmAccountNumber.errors && (ConfirmAccountNumber.dirty || ConfirmAccountNumber.touched)" class="alert">
										<div [hidden]="!ConfirmAccountNumber.errors.required">
											Please Confirm Account Number
										</div>
										<div [hidden]="!ConfirmAccountNumber.errors.incorrect">
											Confirm Account Number not matching!
										</div>
	
									</div>
	
								</div>
							</div>
	
							<div class="row mb-20" *ngIf="IFSCsearch">
								<div class="col-md-6 relative">
										<mat-form-field class="example-full-width Clsfull-width" >
											<input matInput type="text" class="form-control" [(ngModel)]="this.bankdetailsModel.IfscCode" (ngModelChange)="ResetbankDetails()"
											 (blur)="accountIFSCCheck=false;" (keyup)="getBankDetails()" id="IFSC" name="IFSC" #IFSC="ngModel" placeholder="Enter IFSC Code" >
										</mat-form-field>
										<span (click)="getBankDetails()" class="Clssearch_icon">
											<i class="fa fa-search" aria-hidden="true"></i>
										</span>
									<div *ngIf="accountIFSCCheck" class="alert">
										That Account Number and IFSC Code is used. Try another.
									</div>
									<div class="mb-20" *ngIf="(banksearchresult!='result' && banksearchresult!='valid' && IFSCsearch); ">
											<div class="alert">
												{{banksearchresult}}
											</div>
										</div>
								</div>
								<div class="form-group col-md-6">
											<label for="ChequeProof">Cancelled / Voided Cheque Copy</label>
											<!-- <input type="file" id="ChequeProof" name="ChequeProof" placeholder="Cheque Copy" (change)="ChangeListener($event,'CancelledCheckCopy')"
											 required>
											<a class="alignment" *ngIf="this.bankdetailsModel.CancelledCheckCopy" [href]="this.bankdetailsModel.CancelledCheckCopy"
											 target="_blank">Click to view file</a> -->
										<!-- image upload -->
										<div class="row">
												<div class="col-sm-12 ClsimgUp imgUp">
													<ul>
													<li class="Clsup_image">
														<div class="imagePreview"></div>
													</li>
													<li class="Clsup_button">
														<div class="">
																<label class="Clsbutton_9 Clsupload_btn"><span *ngIf="this.bankdetailsModel.CancelledCheckCopy;else elseBlock">Replace</span> <ng-template #elseBlock>Upload</ng-template><input type="file" class="hide uploadFile img" id="ChequeProof" name="ChequeProof" placeholder="Cheque Copy" (change)="ChangeListener($event,'CancelledCheckCopy')"
																	required></label>
														</div>
														<div class="">
																<a class="Clsbutton_9 Clsview_btn" *ngIf="this.bankdetailsModel.CancelledCheckCopy" [href]="this.bankdetailsModel.CancelledCheckCopy"
											 target="_blank">Click to view file</a>
														</div>
													</li>
												</ul>
												</div>
											</div>
											<!-- image upload -->
								</div>
								<!-- <div class="col-md-6">
									<div style="margin-bottom:39px"></div>
									<span><a href="javascript:;" (click)="this.IFSCsearch=false;BankSearch=''; IFSCResult='';">Don't Know IFSC Code
											? </a></span>
								</div> -->
						</div>
							<div *ngIf="(banksearchresult =='result' || banksearchresult=='valid') && IFSCsearch; ">
								<div class="row" *ngIf="IFSCsearch">
									<div class="form-group col-md-6">
										<mat-form-field class="example-full-width Clsfull-width">
											<input matInput type="text" id="IFSCBankName" [(ngModel)]="this.bankdetailsModel.BankName" name="IFSCBankName"
											 #IFSCIFSC="ngModel" placeholder="Bank Name" readonly="true" required>
										</mat-form-field>
									</div>
									<div class="form-group col-md-6">
										<mat-form-field class="example-full-width Clsfull-width">
											<input matInput type="text" id="IFSCBankState" [(ngModel)]="this.bankdetailsModel.State" name="IFSCBankState"
											 #IFSCBankState="ngModel" placeholder="State" readonly="true" required>
										</mat-form-field>
									</div>
								</div>
								<div class="row" *ngIf="IFSCsearch">
									<div class="form-group col-md-6">
										<mat-form-field class="example-full-width Clsfull-width">
											<input matInput type="text" placeholder="City" id="BankCity" [(ngModel)]="this.bankdetailsModel.City" name="BankCity"
											 #BankCity="ngModel" readonly="true" required>
										</mat-form-field>
									</div>
									<div class="form-group col-md-6">
										<mat-form-field class="example-full-width Clsfull-width">
											<input matInput type="text" id="IFSCBankBranch" [(ngModel)]="this.bankdetailsModel.BranchName" name="IFSCBankBranch"
											 #IFSCBankBranch="ngModel" placeholder="Branch Name" readonly="true" required>
										</mat-form-field>
									</div>
								</div>
							</div>
							<div class="row" *ngIf="!IFSCsearch">
								<div class="col-md-6">
									<label for="BankName">Select Bank Name</label>
									<select id="BankName" [(ngModel)]="this.BankSearch" name="BankName" #BankName="ngModel" (change)="selectBank($event.target.value)"
									 (blur)="accountIFSCCheck=false;" required>
										<option selected value="" disabled>Select Bank</option>
										<option *ngFor="let banks of bankListArray" [value]="banks">{{banks}}</option>
									</select>
								</div>
								<div class=" col-md-6">
									<label for="BankState">Select State </label>
									<select id="BankState" name="BankState" (change)="selectState($event.target.value)" (blur)="accountIFSCCheck=false;"
									 required>
										<option selected value="undefined" disabled>Select State</option>
										<option *ngFor="let banks of statesArray" [value]="banks.name">{{banks.name}}</option>
									</select>
								</div>
							</div>
							<div class="row" *ngIf="!IFSCsearch">
								<div class=" col-md-6">
									<label for="BankCity">Select City </label>
									<select id="BankCity" name="BankCity" (change)="selectCity($event.target.value)" (blur)="accountIFSCCheck=false;"
									 required>
										<option selected value="undefined" disabled>Select City</option>
										<option *ngFor="let banks of cityLists" [value]="banks">{{banks}}</option>
									</select>
								</div>
								<div class="col-md-6">
									<label for="BankBranch">Select Branch </label>
									<select id="BankBranch" name="BankBranch" (change)="selectBranch($event.target.value)" (blur)="accountIFSCCheck=false;"
									 required>
										<option selected value="undefined" disabled>Select Branch</option>
										<option *ngFor="let Info of cityListArray[selectedCityName]" [value]="Info.BRANCH">{{Info.BRANCH}}</option>
									</select>
								</div>
								<div class="col-md-6" *ngIf="!IFSCsearch">
									<mat-form-field class="example-full-width Clsfull-width">
										<input matInput type="text" id="IFsc" [(ngModel)]="this.IFSCResult" name="IFsc" #IFsc="ngModel" readonly="true"
										 placeholder="IFSC Code" required>
									</mat-form-field>
									<div *ngIf="accountIFSCCheck" class="alert">
										That Account Number and IFSC Code is used. Try another.
									</div>
								</div>
							</div>
							<div class="row" *ngIf="!IFSCsearch">
								<div class="form-group col-md-6">
									<a href="javascript:;" (click)="this.IFSCsearch=true;ResetbankDetails();">Or Search by IFSC Code ?</a>
								</div>
							</div>
							
							<div class="row">
								<div class="form-group col-md-6" *ngIf="!loader"></div>
								<div class="form-group col-md-6" *ngIf="loader">
									<i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i> loading...
								</div>
							</div>
						</div>
						<div class="row mt-20">
								<div class="col-sm-8 Clssubmit-text">
									<!-- <p>By clicking on Submit you agree to JHeaps Terms for Sellers & Privacy Policy</p> -->
								</div>
								<div class="form-group col-sm-4">
										<input type="button" class="btn right btn-md btn-dark" value="Save" (click)="getSellerBankDetails()" [disabled]="!bankform.form.valid  || !enablesave">
								</div>
							</div>
					</div>
				
					</form>
				</div>
				</div>