<style>
  .wrapper {
    position: relative;
  }

  .fanart {
    background-repeat: no-repeat;
    background-size: cover;
    transition: opacity 0.5s;
    opacity: 0;
  }

  .ng-lazyloaded {
    opacity: 1;
  }

  .ng-failed-lazyloaded {
    filter: blur !important;
  }
</style>
<section *ngIf="Banners.length > 0">
  <div class="container">
    <div class="row Clsmasonary ">
      <div class="col-sm-6 Clsmasonary-grid">
        <a href="javascript:;" (click)="navigateToAdminCriteriaForBanner(this.Banners[0])"><img width="285px"
            height="183px" class="img-responsive" [defaultImage]="this.Banners[0].Dimensions.editedImage"
            [lazyLoad]="this.Banners[0].BannerUrl" [offset]="offset1"></a>
      </div>
      <div class="col-sm-3 col-xs-6 Clsmasonary-grid hidden-xs">
        <a href="javascript:;" (click)="navigateToAdminCriteriaForBanner(this.Banners[1])"><img width="285px"
            height="183px" class="img-responsive" [defaultImage]="this.Banners[1].Dimensions.editedImage"
            [lazyLoad]="this.Banners[1].BannerUrl" [offset]="offset1" alt="" /></a>
      </div>
      <div class="col-sm-3 col-xs-6 Clsmasonary-grid  hidden-xs">
        <a href="javascript:;" (click)="navigateToAdminCriteriaForBanner(this.Banners[2])"><img width="285px"
            height="183px" class="img-responsive" [defaultImage]="this.Banners[2].Dimensions.editedImage"
            [lazyLoad]="this.Banners[2].BannerUrl" [offset]="offset1" alt="" /></a>
      </div>
      <div class="col-sm-6 Clsmasonary-grid  hidden-xs">
        <a href="javascript:;" (click)="navigateToAdminCriteriaForBanner(this.Banners[3])"><img width="570px"
            height="197px" class="img-responsive" [defaultImage]="this.Banners[3].Dimensions.editedImage"
            [lazyLoad]="this.Banners[3].BannerUrl" [offset]="offset1" alt="" /></a>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container-fluid">
    <div class="Clstitle-cover text-center">
      <h2>Featured products</h2>
    </div>
    <div class="row Clsfeature-product Clsproduct-carousel">
      <div *ngFor="let TrendingProduct of TrendingProducts ;let i=index">
        <div *ngIf="slickActivate(i)"></div>
        <div class="Clsproduct-cover">
          <a href="javascript:;" (click)="productInfo(TrendingProduct)"><img class="img-responsive"
              [BindImage]='TrendingProduct' alt="" /></a>
          <div class="Clsproduct-bottom text-center">
            <a href="javascript:;" (click)="productInfo(TrendingProduct)"
              class="Clsproduct-name text-truncate">{{TrendingProduct.Name}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container-fluid">
    <div class="Clstitle-cover text-center">
      <h2>Our collections</h2>
    </div>

    <div class="row Clsproduct-collection">
      <div class="col-sm-3 col-md-2 col-xs-6" *ngFor="let product of randomProducts">
        <div class="Clsproduct-cover">
          <a href="javascript:;" (click)="productInfo(product)"><img class="img-responsive" [BindImage]='product'
              alt="" /></a>
          <div class="Clsproduct-bottom text-center">
            <a href="javascript:;" class="Clsproduct-name text-truncate"
              (click)="productInfo(product)">{{product.Name}}</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row text-center" *ngIf="this.totalRandomProducts.CurrentPage+1 < this.totalRandomProducts.TotalPages">
      <a class="Clsview_more Clscommon_btn_small" href="javascript:;" (click)="moreRandomProdcuts()">View more <span><i
            class="fa clsbtn_arrow fa-caret-right"></i></span></a>
    </div>
  </div>
</section>