<div *ngIf = "adminCriteriaList.length >0 || showCreation; else addNewTemplate">
	<div>
		<h2 class="heading relative heading-small uppercase bottom-line style-2 left-align mb-0">Admin Criteria</h2>
	</div>

	<section *ngIf="!addCriteria">
		<div class="right">
			<input type="button" class="btn btn-sm btn-color right" (click)="ClearModel();addCriteria=true;" value="New">
		</div>
		<div class="row mt-20" *ngIf="adminCriteriaList.length > 0 ; else nothing">
			<div class="col-md-12">
				<table class="table table-condensed">
					<thead>
						<tr>
							<th>
								Name
							</th>

							<th>
								Show
							</th>
							<th>
								Edit
							</th>
							<th>
								Delete
							</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let adminCriteria of adminCriteriaList">
							<td>{{adminCriteria.Name}}</td>
							<!-- <td>{{adminCriteria.Type}}</td> -->
							<td>{{adminCriteria.Show?'Visible':'Not Visible'}}</td>
							<td>
								<a href="javascript:;">
									<i class="fa fa-edit" style="font-size:20px;color:black;" (click)="editAdminCriteria(adminCriteria);addCriteria=true;"></i>
								</a>
							</td>
							<td>
								<a href="javascript:;">
									<i class="fa fa-trash-o" style="font-size:20px;color:black;" (click)="confirmDelete(adminCriteria._id)"></i>
								</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>

			<nav class="pagination clear" *ngIf = "totalPages > 0">
				<a href="javascript:;" (click)="previousPage()"><i class="fa fa-angle-left"></i></a>
				<a href="javascript:;" *ngFor="let page of pages" [class]="currentPage==page?'current':''" (click)="selectPage(page)">{{page}}</a>
				<a href="javascript:;" (click)="nextPage()"><i class="fa fa-angle-right"></i></a>
		</nav>
		</div>

		<ng-template #nothing>No records found</ng-template>

		<!--<div class="modal fade" id="deleteAdminCriteria" role="dialog">
			<div class="modal-dialog modal-sm">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Delete Modal</h4>
					</div>
					<div class="modal-body">
						<p>	{{ bannerLinkCount > 0 ? 'There are some banners linked to the criteria. You are unable
							to delete this section.' : 'Are you sure to Delete this Admin Criteria?' }}</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-sm btn-color rounded" data-dismiss="modal">Cancel</button>
						<button type="button" class="btn btn-sm btn-red rounded" (click)='deleteAdminCriteria()'>Delete</button>
					</div>
				</div>
			</div>
		</div>-->

		<div class="modal fade" id="deleteAdminCriteria" tabindex="-1" role="dialog" aria-labelledby="deleteAdminCriteria">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">Delete  </h4>
					</div>
					<div class="modal-body">
						{{ bannerLinkCount > 0 ? 'The '+bannerQuote+' is linked to the criteria. You are unable
						to delete this section.' : 'Are you sure to Delete this Admin Criteria?' }}
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-sm btn-red right rounded mleft" *ngIf="bannerLinkCount==0" (click)="deleteAdminCriteria()" data-dismiss="modal">Confirm</button>
						<button type="button" class="btn btn-sm btn-color right rounded" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section *ngIf="addCriteria">
		<div>
			<button type="button" class="btn btn-sm btn-color left" (click)="init();addCriteria=false;">
				<span class="fa fa-arrow-left" aria-hidden="true"></span>
			</button>
		</div>
		<div class="row mt-20">
			<div class="col-md-11 col-md-offset-1">
				<form class="form" id="addAdminCriteriaForm" #addAdminCriteriaForm="ngForm">
					<div class="row mb-20">
						<div class="row">
						<div class="col-md-6 pt-20">
							<div>
								<label for="Name">Name</label>
								<input type="text" class=" mb-0" id="Name" [(ngModel)]="this.adminCriteriaShopByViewModel.Name" #Name="ngModel" name="Name"
								 placeholder="Name" pattern="[A-Za-z]{1,15}" required>
								<div *ngIf="Name.errors && (Name.dirty || Name.touched)" class="text-danger vd-msg">
									<div [hidden]="!Name.errors.required">
										*Name is required!
									</div>
									<div [hidden]="!Name.errors.pattern">
											*Invalid Name!
										</div>
									
								</div>
							</div>
						</div>

						<div class="col-md-6 pt-20">

							<!-- <label>Price Range</label> -->

							<ul class="product-actions clearfix row">

								<li class="col-md-5" style="padding:0px; margin:0px">
									<label>Price From</label>
									<div class="quantity buttons_added">
										<input type="number" placeholder="From" [(ngModel)]="this.adminCriteriaShopByViewModel.Criteria.Price.From" name="PriceFrom"
										 required>
									</div>
								</li>

								<li class="col-md-5" style="padding:0px; margin:0px">
									<label>Price To</label>
									<div class="quantity buttons_added">
										<input type="number" placeholder="To" [(ngModel)]="this.adminCriteriaShopByViewModel.Criteria.Price.To" name="PriceTo" required>
									</div>
								</li>
							</ul>
							<!-- <div class="row">
								
						  <div class="col-md-6">
								<label for="adminCriteriaPriceRange">Price Range</label>
						    <div class="input-group">
						      <input type="number"  placeholder="From" [(ngModel)]="this.adminCriteriaShopByViewModel.Criteria.Price.From" name="PriceFrom" required>
						    </div>
						  </div>
						  <div class="col-md-6">
								<label for="adminCriteriaPriceRange"></label>
						    <div class="input-group">
						      <input type="number"  placeholder="To" [(ngModel)]="this.adminCriteriaShopByViewModel.Criteria.Price.To" name="PriceTo" required>
						    </div>
						  </div>
						</div> -->
							<!--input type="text" id="adminCriteriaPriceRange" name="Price" value="" /-->
						</div>
					</div>
					<div class="row">

						<div class="col-md-6 pt-20">
							<div>
								<label for="Visibility">Visibility</label>
								<div class="checkboxes" id="Visibility">
									<input type="checkbox" class="input-checkbox" id="Show" [(ngModel)]="this.adminCriteriaShopByViewModel.Show" name="Show"
									 >
									<label for="Show">Make the Criteria Visible</label>
								</div>
							</div>
						</div>

						<div class="col-md-6 pt-20">
							<div>
								<label for="Condition">Condition</label>
								<div class="radio-buttons" id="Condition">
									<input type="radio" class="input-radio" id="ConditionNew" value="New" [(ngModel)]="this.adminCriteriaShopByViewModel.Criteria.Condition"
									 name="Condition" required>
									<label for="ConditionNew">New</label>
									<input type="radio" class="input-radio" id="ConditionOld" value="Old" [(ngModel)]="this.adminCriteriaShopByViewModel.Criteria.Condition"
									 name="Condition" required>
									<label for="ConditionOld">Old</label>
								</div>
							</div>
						</div>
					</div>
					<div class="row">

						<div class="col-md-6 pt-20">
							<div>
								<label for="Rating">Seller Rating</label>
								<br/>
								<input type="number" placeholder="Rating" [(ngModel)]="this.adminCriteriaShopByViewModel.Criteria.SellerRating" name="Rating">
								<!--rating id="SellerRating" [float]="true" [(ngModel)]="this.adminCriteriaShopByViewModel.Criteria.SellerRating" name="SellerRating"></rating-->
							</div>
						</div>

						<div class="col-md-6 pt-20">
							<div>
								<label for="Categories">Categories</label>
									<select id="SingleCategory" [(ngModel)]="this.singleCategory" name="SingleCategory" #SingleCategory="ngModel" (change)="SingleCategoryChanged()">
										<option selected disabled [value]="undefined">Select a category</option>
										<option [value]="category.id" *ngFor="let category of parentCategoriesList">{{category.text}}</option>
									</select>
							</div>
							<!-- <div >
				    		<label for="ShipsFrom">Ships from</label>
				    		<select2 id="ShipsFrom" [data]="countryList"
				    				 [value] = "this.ShipsFrom"
							         [options]="{'multiple' : true}"
							         (valueChanged)="shipsFromValueChanged($event)"></select2>
						</div> -->

							<!-- <div>
								<label for="ShipsFrom">Ships From</label>
								<select id="ShipsFrom" [(ngModel)]="this.adminCriteriaShopByViewModel.Criteria.ShipsFrom" name="ShipsFrom" #ShipsFrom="ngModel">
									<option selected disabled [value]="undefined">Select a Country</option>
									<option [value]="country" *ngFor="let country of countryList">{{country}}</option>
								</select>
							</div> -->
						</div>
					</div>

						<!-- <div class="col-md-6 pt-20">
				    	<label for="typeOfCategory">Type of Category</label>
					    	<div class="radio-buttons" id="typeOfCategory">
					        	<input type="radio" class="input-radio" id="CategorySingle" value="Single" [(ngModel)]="this.adminCriteriaShopByViewModel.Criteria.TypeOfCategory" name="Category" required>
					        	<label for="CategorySingle">Single</label>
					        	<input type="radio" class="input-radio" id="CategoryMultiple" value="Multiple" [(ngModel)]="this.adminCriteriaShopByViewModel.Criteria.TypeOfCategory" name="Category" required>
					        	<label for="CategoryMultiple">Multiple</label>
					    	</div>
					</div> -->
					<div class="row">

						<!-- <div class="col-md-6 pt-20">
							<div>
								<label for="Categories">Categories</label>
								<select id="SingleCategory" [(ngModel)]="this.singleCategory" name="SingleCategory" #SingleCategory="ngModel" (change)="SingleCategoryChanged()">
									<option selected disabled [value]="undefined">Select a category</option>
									<option [value]="category.id" *ngFor="let category of parentCategoriesList">{{category.text}}</option>
								</select>
							</div>
						</div> -->

						<div class="col-md-6 pt-20" *ngIf="ShopsReady">
							<div>
								<label for="Shops">Shops</label>
								<select2 id="Shops" [data]="this.shopList" [value]="this.Shop" [options]="{'multiple' : true}" (valueChanged)="shopValueChanged($event)"></select2>
							</div>
						</div>
						<div class="col-md-6 pt-20">
								<div>
									<label for="SubCategories">SubCategories</label>
									<select2 id="SubCategories" [data]="this.SelectedSubCategoriesList" [value]="this.SubCategories" [options]="{'multiple' : true}"
									 (valueChanged)="subCategoriesValueChanged($event)"></select2>
								</div>
							</div>
					</div>
					
					</div>

						<!-- <div class="col-md-6 pt-20" *ngIf = "this.adminCriteriaShopByViewModel.Criteria.TypeOfCategory == 'Multiple'">
				    	<div >
				    		<label for="Categories">Categories</label>
				    		<select2 id="Categories" [data]="this.parentCategoriesList"
				    				 [value] = "this.Categories"
							         [options]="{'multiple' : true}"
							         (valueChanged)="categoriesValueChanged($event)"></select2>
						</div>
					</div> -->
					<div class="row">

						<!-- <div class="col-md-6 pt-20">
							<div>
								<label for="SubCategories">SubCategories</label>
								<select2 id="SubCategories" [data]="this.SelectedSubCategoriesList" [value]="this.SubCategories" [options]="{'multiple' : true}"
								 (valueChanged)="subCategoriesValueChanged($event)"></select2>
							</div>
						</div>
						</div> -->



					</div>
					<!-- <div class="row mb-20">
					
					<div class="col-md-6">
					    <div >
					    	<label for="SoldIn">SoldIn</label>
					    	<div class="checkboxs" id="SoldIn">
					        	<input type="checkbox" class="input-checkbox" id="SoldInLastThreeSixtyFiveDays" [(ngModel)]="this.adminCriteriaShopByViewModel.Criteria.SoldInLastThreeSixtyFiveDays" name="SoldInLastThreeSixtyFiveDays">
					        	<label for="SoldInLastThreeSixtyFiveDays">SoldInLastThreeSixtyFiveDays</label>
					    	</div>
					    </div>
					</div>
				</div> -->
					<!-- <div class="row mb-20">
					
					<div class="col-md-6">
				    	<div >
					        <label for="Karat">Karat</label>
					        <input type="number" class=" mb-0" id="Karat" [(ngModel)]="this.adminCriteriaShopByViewModel.Criteria.Karat" name="Karat" placeholder="Karat">
					    </div>
				    </div>
				</div> -->
					<!-- <div class="row mb-20">
				    <div class="col-md-6">
				    	<div >
					        <label for="Size">Size</label>
					        <input type="number" class=" mb-0" id="Karat" [(ngModel)]="this.adminCriteriaShopByViewModel.Criteria.Size" name="Size" placeholder="Size">
					    </div>
				    </div>
				    
				    
				</div> -->
					<!-- <div class="row mb-20">
				    <div class="col-md-6">
				    	<div >
				    		<label for="Discount">Discount</label>
					    	<div class="radio-buttons" id="Discount">
					        	<input type="radio" class="input-radio" id="DiscountAmount" value="Amount" [(ngModel)]="this.discountType" (change)="changeDiscountType()" name="Discount">
					        	<label for="DiscountAmount">Amount</label>
					        	<input type="radio" class="input-radio" id="DiscountPercentage" value="Percentage" [(ngModel)]="this.discountType" (change)="changeDiscountType()" name="Discount">
					        	<label for="DiscountPercentage">Percentage</label>
					    	</div>
						</div>
				    </div>
				    <div class="col-md-6">
				    	<div >
				    		<label for="DiscountValue">Discount Value</label>
					    	<input type="number"  [(ngModel)]="this.adminCriteriaShopByViewModel.Criteria.Discount[this.discountType]" placeholder="Discount Value" name="DiscountValue">
						</div>
				    </div>
				</div> -->
					<!-- <div class="row mb-20">
				    <div class="col-md-6">
				    	<div >
				    		<label for="Country">Select multiple countries</label>
				    		<select2 id="Country" [data]="countryList"
				    				 [value] = "this.adminCriteriaShopByViewModel.Criteria.Country"
							         [options]="{'multiple' : true}"
							         (valueChanged)="countryValueChanged($event)"></select2>
						</div>
				    </div>
				    
				</div> -->
					<!-- <div class="row mb-20">
				    <div class="col-md-6">
				    	<div >
				    		<label for="ShipsTo">Ships to</label>
				    		<select2 id="ShipsTo" [data]="countryList"
				    				[value] = "this.adminCriteriaShopByViewModel.Criteria.ShipsTo"
							         [options]="{'multiple' : true}"
							         (valueChanged)="shipsToValueChanged($event)"></select2>
						</div>
				    </div>
				    <div class="col-md-6">
				    	<div >
				    		<label for="Gender">Gender</label>
				    		<select2 id="Gender" [data]="genderList"
				    				 [value] = "this.adminCriteriaShopByViewModel.Criteria.Gender"
							         [options]="{'multiple' : true}"
							         (valueChanged)="genderValueChanged($event)"></select2>
						</div>
				    </div>
				</div> -->
					<!-- <div class="row mb-20">
				    
				</div> -->
					<!-- <div class="row">
				    
				    <div class="col-md-6  mb-20" *ngFor="let attribute of attributesList">
				    	<div >
				    		<label for="{{attribute._id}}">{{attribute.Name}}</label>
				    		<select2 id="{{attribute._id}}" [data]="attribute.Values"
				    				 [value] = "this.adminCriteriaShopByViewModel.Criteria[attribute.Name]"
							         [options]="{'multiple' : true}"
							         (valueChanged)="attributeValueChanged(attribute, $event)"></select2>
						</div>
				    </div>
				</div> -->
					<!-- <div class="row mb-20">
				   <div class="col-md-6">
				    	<div >
				    		<label for="MandatoryFields">Mandatory Fields</label>
				    		<select2 id="MandatoryFields" [data]="columnList"
							         [value] = "this.adminCriteriaShopByViewModel.Criteria?.MandatoryFields"
							         [options]="{'multiple' : true}"
							         (valueChanged)="mandatoryFieldsValueChanged($event)"></select2>
						</div>
				    </div>
				</div> -->

					<!-- <div class="col-md-6">
			    	<div class="form-group">
			    		<label for="Discount-{{this.discountType}}">Discount {{this.discountType}}</label>
				        <input type="number" [(ngModel)]="this.adminCriteriaShopByViewModel.Criteria.Discount[this.discountType]" id="Discount-{{this.discountType}}" name="DiscountValue" placeholder="Discount Value"/>
					</div>
			    </div> -->
					<div class="row mb-20">
						<!-- <div class="col-md-3  right">
				    <input type="button" class="btn btn-sm btn-color rounded right" (click)="generateQuery()" value="Generate">
				    </div>
				     -->
						<div class="col-md-3  right" *ngIf="!isUpdate">
							<input type="button" [disabled]="!addAdminCriteriaForm.form.valid " class="btn btn-sm btn-color rounded right" (click)="addAdminCriteria()"
							 value="Add">
						</div>
						<div class="col-md-3  right" *ngIf="isUpdate">
							<input type="button" [disabled]="!addAdminCriteriaForm.form.valid " class="btn btn-sm btn-color rounded right" (click)="updateAdminCriteria()"
							 value="Update">
						</div>
						<!-- <div class="col-md-3  right">
				        <input type="button" class="btn btn-sm btn-color rounded right" *ngIf="editbutton " (click)="updateAdminCriteria() " value="Update" [disabled]="!addAdminCriteriaForm.form.valid ">
				    </div> -->
					</div>
				</form>
			</div>
		</div>
	</section>
</div>

<ng-template #addNewTemplate>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h2 class="heading relative heading-small uppercase bottom-line style-2 left-align mb-0">Admin Criteria</h2>
    </div>
<div>
   
<div style="margin-top:150px; margin-bottom:50px" class="text-center">
        <i class="fa fa-trash" style="font-size:100px;" ></i>
    
</div>

<div class="col-xs-12 text-center">
        <input type="button" style="width:400px; border-radius:30px" class="btn btn-color" (click) = "addCriteria=true;showCreation = true" value="Add New">
</div>
</div> 
</ng-template>