<header>
    <div class="form-group">
        <h2 class="heading relative heading-small uppercase bottom-line style-2 left-align mb-0">Add Featured Products</h2>
    </div>
</header>
<div class="form-group col-md-9">
    <button type="button" class="btn btn-sm btn-color left" (click)="goBack()">
        <span class="fa fa-arrow-left" aria-hidden="true"></span></button>
</div>
<form class="form" id="addFeaturedProduct" #addFeaturedProduct="ngForm">

    <div class="form-group col-md-9">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for" name="productId" [(ngModel)]="this.productId" required>
            <span class="input-group-btn">
        <button class="btn btn-dark" type="button" (click)="Search(this.productId)"><span class="fa fa-search" aria-hidden="true"></span></button>
            </span>
        </div>
    </div>
    <div class="form-group col-md-9">
        <h5>Product Name:</h5>{{product.Name}}
    </div>


    <div class="form-group">
        <input type="button" class="btn btn-default right" (click)="add()" value="add" [disabled]="!addFeaturedProduct.form.valid">
    </div>
</form>