<div>
    <h2 class="heading relative heading-small uppercase bottom-line style-2 left-align mb-0">Featured Products</h2>
</div>
<div>
    <input type="button" class="btn btn-sm btn-color right" (click)="addNew()" value="New">
</div>
<div class="table-wrap">
    <table class="table">
        <thead>
            <tr>
                <th>No.</th>
                <th>Product Id</th>
                <th>Product Name</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let featuredProduct of FeaturedProducts;let i=index">
                <td>{{ i + 1 }}</td>
                <td>{{ featuredProduct.Product.Id }}</td>
                <td>{{ featuredProduct.Product.Name }}</td>
                <td><button type="button" class="fa fa-trash" (click)="confirmDelete(featuredProduct)"></button></td>
            </tr>

        </tbody>
    </table>
    <div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <h4>Do you want to delete ?</h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-default right" data-dismiss="modal">No</button>
                    <button type="button" class="btn btn-sm btn-red right" (click)="delete()" data-dismiss="modal">Yes</button>
                </div>
            </div>
        </div>
    </div>
</div>