<h1>Ready For Shipment Breach <span *ngIf="reportData.length>0" style="padding-left:423px;"><a href="javascript:;;" (click)="DownloadReport()"> <i class="fa fa-download"></i></a></span></h1>
<div class="table-wrap mt-15 col-lg-12 col-md-12 col-sm-12 hidden-xs">
    
    <div>
            <button type="button" class="btn btn-sm btn-color" (click)=" goBack()">
                <span class="fa fa-arrow-left" aria-hidden="true"></span>
            </button>
    </div>
    <div *ngIf="reportData.length > 0; else addNewTemplate">
    <div class="row mb-30" >
            <div class=" purchase_container">
                <div class="row purchase_title m-0" style="margin-bottom: -18px;" *ngIf="this.showDate">
                       
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <p > 
                                        <strong>Start Date : {{this.reportsModel.ReportType?.StartDate | date:'dd MMM yyyy'}}</strong>
                                    </p>
                                 
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4">
                                </div>
        
                               
                                <div class="col-lg-4 col-md-4 col-sm-64col-xs-12">
                                    <p>
                                        <strong>End Date : {{this.reportsModel.ReportType?.ExpiryDate | date:'dd MMM yyyy'}}</strong>
                                    </p>
                                  
                                </div>
                              
                </div>
                 <div class="row purchase_title m-0" style="margin-bottom: -18px;" *ngIf="!this.showDate">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <p>
                                        <strong>Month : {{this.Month }}</strong>
                                    </p>
                                 
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4">
                                </div>
                               
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <p>
                                        <strong>Year : {{this.Year }}</strong>
                                    </p>
                                  
                                </div>
                              
                </div>
                <div class="row purchase_title" style="margin-left: 0px; margin-right: 0px;">
                    <div class="col-md-4">
                        <p >
                            <strong>Total Orders</strong>
                        </p>
                        <h2 >{{this.TotalRFSBreach.totalNoOfOrders}}</h2>
                    </div>
                    <div class="col-md-4">
                        <p>
                            <strong>ReadyForShipment Breach Orders</strong>
                        </p>
                        <h2 >{{this.TotalRFSBreach.totalorderswithRFS}}</h2>
                    </div>
                    <div class="col-md-4">
                        <p >
                            <strong>ReadyForShipment Breach Rate</strong>
                        </p>
                        <!-- <p>{{20}}</p> -->
                        <h2 >{{this.TotalRFSBreach.TotalRFSBreachRate}}</h2>
                    </div>
                    <!-- <div class="col-md-3">
                        <p class="text-center">
                            <strong>Total Cancellation Rate</strong>
                        </p>
                        <p>{{25}}</p>
                        <h2 class="counter-text head text-center">{{this.TotalRFSBreach.orderCancellationRate}}</h2>
                    </div> -->
                </div>
<div *ngIf="reportData.length > 0; else addNewTemplate">
    <table class="table" style="margin-top:30px">
        <thead>
            <tr>
                <th >#</th>
                <th class="text-center">Month</th>
                <th class="text-center">Year</th>
                <th class="text-center">Total No Of Orders</th>
                <th class="text-center">Orders With RFS Breach</th>
                <th class="text-center">ReadyForShipment Breach Rate</th>
                <!-- <th class="text-center">Order Cancellation Rate</th> -->
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of reportData ; let i = index">
                <td  class="text-center">{{i+1}}</td>
                <td class="text-center"> {{data.Month}} </td>
                <td class="text-center">{{data.Year}} </td>
                <td class="text-center" >{{data.Totalorders}}</td>
                <td class="text-center">{{data.TotalBreachOrders}}</td>
                <td class="text-center">{{data.RFSBreachRate}}</td>
                <!-- <td class="text-center">{{data.CancellationRate}}</td> -->
            </tr>
        </tbody>
    </table>
</div>
</div>
    </div>
    </div>
</div>
    

<ng-template #addNewTemplate>
            <div class="hidden-xs">
                    <div style="margin-top:150px; margin-bottom:50px" class="text-center">
                            <i class="fa fa-trash" style="font-size:100px;"></i>
    
                    </div>
                    <div class="col-xs-12 text-center">
                            <span style="margin:auto;">No ready for shipment breach to show</span>
                    </div>
            </div>
    </ng-template>