<h1>Customer return <span style="padding-left:423px;"><a href="javascript:;;" (click)="DownloadReport()"> <i class="fa fa-download"></i></a></span></h1>

<div class="table-wrap mt-15 col-lg-12 col-md-12 col-sm-12 hidden-xs" *ngIf="showShop" >
        <div>
        <div>
                <button type="button" class="btn btn-sm btn-color" (click)=" goBack1()">
                    <span class="fa fa-arrow-left" aria-hidden="true"></span>
                </button>
            </div>
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Shop Name</th>
                    <th>Shop Id</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of reportData; let i = index">
                    <td>{{i+1}}</td>
                    <td style="cursor: pointer;" (click)=" selectedShop(data);">
                        {{data.ShopName}}
                    </td>
             
                    <td  style="cursor: pointer;" (click)="selectedShop(data);">{{data.ShopId}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<h2 style="margin-left: 8px;margin-top:30px">OverAll Report</h2>
            <div class=" purchase_container">
                <div class="row purchase_title" style="margin-left: 0px; margin-right: 0px;">
                    <div class="col-md-6">
                        <p class="text-center">
                            <strong>Total Orders</strong>
                        </p>
                        <h2 class="counter-text head text-center">{{ Results.TotalOrders}}</h2>
                    </div>
                    <div class="col-md-6">
                        <p class="text-center">
                            <strong>Total Percentage</strong>
                        </p>
                        <h2 class="counter-text head text-center">{{Results.TotalOrdersPercentage}}</h2>
                    </div>
                  
                </div>
                <table class="table" style="margin-top:30px">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th class="text-center">Return Reason</th>
                                <th class="text-center">Total Count</th>
                                <th class="text-center">Total Percentage</th>
                              
                            </tr>
                        </thead>
                        <tbody>
                            <tr>  <th>1</th>
                                <td  class="text-center">Wrong Shipment/missing Items </td>
                                <td class="text-center"> {{ Results.TotalWO}} </td>
                                <td class="text-center">{{  Results.TotalWOP}} </td>
                               
                              
                            </tr>
                            <tr>  <th>2</th>
                                <td  class="text-center">Poor Quality  </td>
                                <td class="text-center"> {{Results.TotalPQ}} </td>
                                <td class="text-center">{{Results.TotalPQP}} </td>
                               
                            </tr>
                            <tr>  <th>3</th>
                                <td  class="text-center">Damaged Products</td>
                                <td class="text-center"> {{Results.TotalDAP}} </td>
                                <td class="text-center">{{  Results.TotalDAPP}} </td>
                               
                            </tr>
                            <tr>  <th>4</th>
                                <td  class="text-center">Defective Products  </td>
                                <td class="text-center"> {{Results.TotalDEP}} </td>
                                <td class="text-center">{{Results.TotalDEPP}} </td>
                               
                            </tr>
                          
                            <tr style="background-color: #f5f5f5;"> 
                                 <th></th>
                                <td  class="text-center">Total </td>
                                <td class="text-center"> {{ Results.TotalReturns}} </td>
                                <td class="text-center">{{Results.TotalReturnsPercentage}} </td>
                               
                            </tr>
                        </tbody>
                    </table>
                    
            </div>
<div class="table-wrap mt-15 col-lg-12 col-md-12 col-sm-12 hidden-xs" *ngIf="showUnsold" >
        <div>
                <button type="button" class="btn btn-sm btn-color" (click)=" goBack()">
                    <span class="fa fa-arrow-left" aria-hidden="true"></span>
                </button>
            </div>` 
    <h2 style="margin-left: 8px;margin-top:30px">OverAll Report</h2>
            <div class=" purchase_container">
                <div class="row purchase_title" style="margin-left: 0px; margin-right: 0px;">
                    <div class="col-md-6">
                        <p class="text-center">
                            <strong>Total Orders</strong>
                        </p>
                        <h2 class="counter-text head text-center">{{ selectedDetail.Totalorders}}</h2>
                    </div>
                    <div class="col-md-6">
                        <p class="text-center">
                            <strong>Total Percentage</strong>
                        </p>
                        <h2 class="counter-text head text-center">{{selectedDetail.defecttotalPercentage}}</h2>
                    </div>
                  
                </div>
                <table class="table" style="margin-top:30px">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th class="text-center">Return Reason</th>
                                <th class="text-center">Total Count</th>
                                <th class="text-center">Total Percentage</th>
                              
                            </tr>
                        </thead>
                        <tbody>
                            <tr>  <th>1</th>
                                <td  class="text-center">Wrong Shipment/missing Items </td>
                                <td class="text-center"> {{ selectedDetail.WSorMICount}} </td>
                                <td class="text-center">{{  selectedDetail.WSorMIPercentage}} </td>
                               
                              
                            </tr>
                            <tr>  <th>2</th>
                                <td  class="text-center">Poor Quality  </td>
                                <td class="text-center"> {{selectedDetail.PQCount}} </td>
                                <td class="text-center">{{selectedDetail.PQPercentage}} </td>
                               
                            </tr>
                            <tr>  <th>3</th>
                                <td  class="text-center">Damaged Products</td>
                                <td class="text-center"> {{selectedDetail.DaPCount}} </td>
                                <td class="text-center">{{  selectedDetail.DaPPercentage}} </td>
                               
                            </tr>
                            <tr>  <th>4</th>
                                <td  class="text-center">Defective Products  </td>
                                <td class="text-center"> {{selectedDetail.DePCount}} </td>
                                <td class="text-center">{{selectedDetail.DePPercentage}} </td>
                               
                            </tr>
                          
                            <tr style="background-color: #f5f5f5;"> 
                                 <th></th>
                                <td  class="text-center">Total </td>
                                <td class="text-center"> {{ selectedDetail.defectTotalCount}} </td>
                                <td class="text-center">{{selectedDetail.defecttotalPercentage}} </td>
                               
                            </tr>
                        </tbody>
                    </table>
                    
            </div>
</div>