

		<!-- Page Title -->
		<!-- <section class="page-title style-2 text-center">
			<div class="container relative clearfix">
				<div class="title-holder">
					<div class="title-text">
						<h1 class="uppercase">404</h1>
						<ol class="breadcrumb">
							<li>
								<a href="index.html">Home</a>
							</li>
							<li>
								<a href="index.html">Pages</a>
							</li>
							<li class="active">
								404
							</li>
						</ol>
					</div>
				</div>
			</div>
		</section> -->
		 <!-- end page title -->

		<!-- 404-->
		<section class="section-wrap page-404">
			<div class="container">

				<div class="row text-center">
					<div class="col-md-6 col-md-offset-3">
						<h1 style="font-size: 100px;">404</h1>
						<h2 class="mb-50">Page Not Found</h2>
						<p class="mb-20">You can go back to <a [routerLink]="['/user/home']">Home</a> </p>
						<!-- <form class="relative">
							<input type="search" placeholder="Search" class="mb-0">
							<button type="submit" class="search-button"><i class="fa fa-search"></i></button>
						</form> -->
					</div>
				</div>

			</div>
		</section> <!-- end 404-->
