<h1>Profitability Report<span style="padding-left:423px;" *ngIf="reportData?.length > 0" ><a href="javascript:;;" (click)="DownloadReport()"> <i class="fa fa-download"></i></a></span></h1>

<div>
    <button type="button" class="btn btn-sm btn-color" (click)=" goBack()">
        <span class="fa fa-arrow-left" aria-hidden="true"></span>
    </button>
</div>
<div class="table-wrap mt-15 col-lg-12 col-md-12 col-sm-12 hidden-xs" >


    <div class="row mb-30 mt-2">
        <div class="purchase_container">
            <div class="row purchase_title m-0">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <p>
                        <strong>Shop Name</strong>
                    </p>
                    <p>{{reportData.ShopName}}</p>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <p>
                        <strong>Shop Id</strong>
                    </p>
                    <p>{{reportData.ShopId}}</p>
                </div>


            </div>

            <div class="row purchase_title m-0" style="margin-top: -25px;" *ngIf="this.showDate">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <p>
                        <strong>Start Date : {{this.reportsModel.ReportType?.StartDate | date:'dd MMM yyyy'}}</strong>
                    </p>

                </div>

                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <p>
                        <strong>End Date : {{this.reportsModel.ReportType?.ExpiryDate | date:'dd MMM yyyy'}}</strong>
                    </p>

                </div>

            </div>
            <div class="row purchase_title m-0" style="margin-top: -25px;" *ngIf="!this.showDate">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <p>
                        <strong>Month : {{this.Month }}</strong>
                    </p>

                </div>

                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <p>
                        <strong>Year : {{this.Year }}</strong>
                    </p>

                </div>

            </div>
        </div>
    </div>
    <div class="row purchase_container mt-2" style="border: none;margin: 0">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class=" panel panel-default">
                <div class="panel-heading text-uppercase">
                    <span><strong>Revenue & Cost Details</strong></span>
                </div>
                <div class="panel-body">

                    <div class="row">
                        <div class="col-md-3">
                            <!-- <p><strong>Shop ID </strong> </p> -->
                            <p><strong>Gross Revenue </strong> </p>
                            <p><strong> Discount</strong></p>
                            <p> <strong>Shipping Cost From Buyer</strong></p>
                            <p>
                                <strong>Shipping Cost For Seller</strong>
                            </p>
                            <p>
                                <strong></strong>
                            </p>
                        </div>
                        <div class="col-md-3">
                            
                            <p>:
                                <span class="amount right"> {{reportData.GrossRevenue}}</span>
                            </p>
                            <p>:
                                <span class="amount right"> {{reportData.Discount}}</span>
                            </p>
                            <p>:
                                <span class="amount right"> {{reportData.BuyerShippingCost}}</span>
                            </p>

                            <p>:
                                <span class="amount right"> {{reportData.SellerShippingCost}}</span>
                            </p>
                            <p style="color:white">:
                                <span class="amount right"> </span>
                            </p>
                        </div>
                       
                        <div class="col-md-3">
                            <p> <strong>Fixed Fee</strong></p>
                            <p><strong>Commission </strong> </p>
                            <p> <strong>Collection Fee</strong></p>
                            <p>
                                <strong>GST</strong>
                            </p>
                            <p> <strong>Net Revenue</strong></p>
                        </div>
                        <div class="col-md-3">
                            <p>:
                                <span class="amount right"> {{reportData.FixedFee}}</span>
                            </p>
                            <p>:
                                <span class="amount right"> {{reportData.MarketPlaceCommissionAmount}}</span>
                            </p>

                            <p>:
                                <span class="amount right"> {{reportData.CollectionFee}}</span>
                            </p>

                            <p>:
                                <span class="amount right"> {{reportData.GSTonCommission}}</span>
                            </p>
                            <p>:
                                <span class="amount right"> {{reportData.NetRevenue}}</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #addNewTemplate>
        <div class="hidden-xs">
                <div style="margin-top:150px; margin-bottom:50px" class="text-center">
                        <i class="fa fa-trash" style="font-size:100px;"></i>

                </div>
                <div class="col-xs-12 text-center">
                        <span style="margin:auto;">No Orders To Show</span>
                </div>
        </div>
</ng-template>