<div *ngIf="dateModel.length>0; else addNewTemplate">
    <div class="right">
        <a href="javascript:;" class="btn btn-sm btn-color" [routerLink]="['/myaccounts/admin/holiday-list/list/add']">Create</a>
    </div>
    <div class="col-xs-12" style="margin-top:30px" *ngIf="dateModel.length>0">
        <form class="form" id="holidayForm" #holidayForm="ngForm">
            <div class="table-wrap">
                <table class="table">
                    <thead>
                        <tr>
                            <th colspan="1">No.</th>
                            <th colspan="3">Date</th>
                            <th colspan="2">State*</th>
                            <th colspan="5">Discription</th>
                            <th colspan="1">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let date of dateModel;let i=index">
                            <td colspan="1">{{((currentPage -1)*10)+(i+1)}}</td>
                            <td colspan="3">{{date.Date | date:"shortDate"}}</td>
                            <td colspan="2">
                                <select [id]='"stateSelection"+i' style="height:30px; margin-bottom:0px" [(ngModel)]="date.State" [name]='"stateSelection"+i'
                                    required [disabled]="date.Edit? false : true">
                                    <option disabled value="">--state--</option>
                                    <option [ngValue]="state.region" *ngFor="let state of states">
                                        {{state.region}}
                                    </option>
                                </select>
                            </td>
                            <td colspan="5">
                                <input type="text" style="height:30px; margin-bottom:0px" [id]='"Discription"+i' [name]='"Discription"+i'
                                    placeholder="Description" [(ngModel)]="date.Holiday" [readonly]="date.Edit? false : true"
                                />
                            </td>
                            <td colspan="1">
                                <i class="fa fa-trash-o" style="color:black;font-size: 20px;" (click)="confirmDelete(date._id)"></i>
                                <i *ngIf="!date.Edit" class="fa fa-pencil-square-o" style="color:black;font-size: 20px; margin-right:5px; margin-top:5px"
                                    (click)="date.Edit = true;"></i>
                                <i *ngIf="date.Edit" class="fa fa-floppy-o" style="color:black;font-size: 20px;margin-right:5px" (click)="date.Edit = false; updateItem(date)"></i>
                            </td>
                        </tr>

                    </tbody>
                </table>

            </div>

            <!-- <div class="left">
            <input [disabled] = "!holidayForm.form.valid" type="button" class="btn btn-xs btn-color" (click)="SaveHolidays()" value="Save">
        </div> -->
        </form>
    </div>

    <div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <h4>Do you want to delete ?</h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-default right" data-dismiss="modal">No</button>
                    <button type="button" class="btn btn-sm btn-red right" (click)="delete()" data-dismiss="modal">Yes</button>
                </div>
            </div>
        </div>
    </div>


    <div class="col-xs-12 col-md-offset-1" *ngIf="dateModel.length > 0">
        <nav class="pagination clear">
            <a href="javascript:;" (click)="previousPage()">
                <i class="fa fa-angle-left"></i>
            </a>
            <a href="javascript:;" *ngFor="let page of pages" [class]="currentPage==page?'current':''" (click)="selectPage(page)">{{page}}</a>
            <a href="javascript:;" (click)="nextPage()">
                <i class="fa fa-angle-right"></i>
            </a>
        </nav>
    </div>

</div>

<ng-template #addNewTemplate>

        <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h2 class="heading relative heading-small uppercase bottom-line style-2 left-align mb-0">Featured Shops</h2>
        </div> -->
    <div>
       
    <div style="margin-top:150px; margin-bottom:50px" class="text-center">
            <i class="fa fa-trash" style="font-size:100px;" ></i>
        
    </div>
    
    <div class="col-xs-12 text-center">
            <input type="button" style="width:400px; border-radius:30px" class="btn btn-color" [routerLink]="['/myaccounts/admin/holiday-list/add']" value="Add New">
    </div>
</div> 
</ng-template>