<h1>Top Seller Report (Volume)<span *ngIf="reportData.length>0" style="padding-left:423px;"><a href="javascript:;;" (click)="DownloadReport()"> <i class="fa fa-download"></i></a></span></h1> 

<div class="table-wrap mt-15 col-lg-12 col-md-12 col-sm-12 hidden-xs" *ngIf="showReport" >
        <div>
            <button type="button" class="btn btn-sm btn-color" (click)=" goBack()">
                <span class="fa fa-arrow-left" aria-hidden="true"></span>
            </button>
        </div>
        <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>#</th>
                        <th> Shop Name</th>

                        <!-- <th> Product Id</th> -->
                        <th>Product Name</th>
                        <th>Quantity</th>
                        <th>Gross Revenue</th>

                       
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of  reportData; let i = index">
                        <td>{{i+1}}</td>
                        <td  style="cursor: pointer;" (click)="selectedProduct(data);">{{data.ShopName}}</td>

                        <!-- <td style="cursor: pointer;" (click)=" selectedProduct(data);">
                            {{data.Id}}
                        </td>
                  -->
                        <td  style="cursor: pointer;" (click)="selectedProduct(data);">{{data.Name}}</td>
                        <td  style="cursor: pointer;" (click)="selectedProduct(data);">{{data.Qty}}</td>
                        <td  style="cursor: pointer;" (click)="selectedProduct(data);">{{data.Price}}</td>

                    </tr>
                </tbody>
            </table>     
</div>
    <ng-template #addNewTemplate>
                <div class="hidden-xs">
                        <div style="margin-top:150px; margin-bottom:50px" class="text-center">
                                <i class="fa fa-trash" style="font-size:100px;"></i>
        
                        </div>
                        <div class="col-xs-12 text-center">
                                <span style="margin:auto;">No Orders To Show</span>
                        </div>
                </div>
        </ng-template>