<form>
    <div class="row">
        <h2 class="heading relative heading-small uppercase bottom-line style-2 left-align mb-0">Seller Tier</h2>
        <p class="note-text">Note : Can search only seller accounts</p>
    </div>

    <div class="row">
        <div class="col-md-6">
            <label for="UserName">Mobile / Mail Id</label>
            <!-- <input type="text" name="selelrTier" id="sellertier" placeholder="Enter Mail ID / User Name"  [(ngModel)] = "userName" > -->
            <div class="input-group stylish-input-group">
                <input type="text" class="form-control" (keyup.enter)="Init()" [(ngModel)]="userName" id="UserName12" name="UserName" placeholder="Type and enter to search">
                <span (click)="Init()" class="input-group-addon">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </span>
            </div>
        </div>
        <!-- <div class="col-md-6">
    		<button type="button" class="btn btn-color btn" (click)="makeTierOneSeller()">Get User Data</button>
    	</div> -->
    </div>
    <!-- <table class="table" *ngIf="userDetailsLength">
        <thead>
        	<tr>
            	<th>UserName</th>
                <th>Email</th>
                <th>Role</th>
                <th>Enter Tier Value</th>
                <th>Tier Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            
            <tr>
                <td>{{userDetails.UserName}}</td>
                <td>{{userDetails.Email}}</td>
                <td>{{userDetails.Roles[0]}}</td>
				<td><input type="number" name="tierValue" min="1" max="2" id="tierValue" [(ngModel)] = "tierValue" required></td>              
                <td>{{userDetails.hasOwnProperty('SellerTier') ? userDetails.SellerTier : '-'}}</td>
                <td><button type="button" class="btn btn-color btn sm" *ngIf="userDetails.Roles[0] == 'seller'" (click)="convertToTierTwo()">Convert</button>
                <button type="button" class="btn btn-color btn sm" *ngIf="userDetails.Roles[0] == 'Other'" [disabled]="!isValid">Convert</button></td>
            </tr>
            
        </tbody>
    </table>
    <div *ngIf="!userDetailsLength">{{userNotFound}}</div> -->



    <div class="container row col-md-12 pt-30" *ngIf="getSellerList.length>0; else noSeller">
        <div class="table-wrap">
            <h5 class="h5-heading">Seller Detail's </h5>
            <p class="note-text">Note : Range between 1 to 3 only allowed in tier info </p>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Mobile</th>
                        <th>Email</th>
                        <th>Role</th>
                        <th>Tier Info</th>
                        <th>Action</th>

                    </tr>
                </thead>
                <tbody>

                    <tr *ngFor="let list of getSellerList; let i = index">
                        <td>{{list.Mobile}}</td>
                        <td>{{list.Email}}</td>
                        <td>{{list.Roles[0]}}</td>
                        <td *ngIf="!list.edit">{{list.SellerTier}}</td>
                        <td *ngIf="list.edit">
                            <input style="height:30px" type="number" name="tierValue{{i}}" id="tierValue{{i}}" [(ngModel)]="list.SellerTier">
                        </td>
                        <td>
                            <div>
                                <span *ngIf="!list.edit" (click)="list.edit = true;">
                                    <i class="fa fa-edit"></i>
                                </span>
                                <span *ngIf="list.edit" (click)="UpdateSellerInfo(list); list.edit = false;">
                                    <i class="fa fa-save"></i>
                                </span>
                            </div>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>

    </div>

    <!-- <ng-template #noSeller>
            <span> No seller found</span>
        </ng-template> -->

    <ng-template #noSeller>

        <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <h2 class="heading relative heading-small uppercase bottom-line style-2 left-align mb-0">Zone List</h2>
                </div> -->
        <div>

            <div style="margin-top:150px; margin-bottom:50px" class="text-center">
                <i class="fa fa-trash" style="font-size:100px;"></i>

            </div>

            <div class="col-xs-12 text-center">
                <!-- <input type="button" style="width:400px; border-radius:30px" class="btn btn-color" [routerLink]="['/admin/zone/add-zone']" value="Add New"> -->
                <span>No sellers found</span>
            </div>
        </div>
    </ng-template>

    <nav class="pagination clear" *ngIf="totalPages > 0">
        <a href="javascript:;" (click)="previousPage()">
            <i class="fa fa-angle-left"></i>
        </a>
        <a href="javascript:;" *ngFor="let page of pages" [class]="currentPage==page?'current':''" (click)="selectPage(page)">{{page}}</a>
        <a href="javascript:;" (click)="nextPage()">
            <i class="fa fa-angle-right"></i>
        </a>
    </nav>

</form>