<!-- F.A.Q. -->
<section class="faq">
	<div class="container">
		<div class="Clstitle-cover">
			<h2 class="relative bottom-line style-2 left-align">FAQ</h2>
		</div>
		<div class="tabs mt-20">
			<ul class="nav nav-tabs Clsfaq_tab">
				<li [routerLinkActive]="['active']">
					<a role="tab" data-toggle="tab" href="javascript:;" [routerLink]="['buyer-faq']">Buyer FAQ</a>
				</li>
				<li [routerLinkActive]="['active']">
					<a role="tab" data-toggle="tab" href="javascript:;" [routerLink]="['seller-faq']">Seller FAQ</a>
				</li>
			</ul>
		</div>
	</div>
	<router-outlet></router-outlet>
</section>
<!-- end faq -->

<!-- Call to Action -->
<section class="call-to-action bg-light">
	<div class="container">
		<div class="row">
			<div class="col-sm-9 col-xs-12">
				<h2 class="mb-0">Still got questions?</h2>
			</div>
			<div class="col-sm-3 col-xs-12 cta-button">
				<a href="javascript:;" [routerLink]="['/user/contact']" class="btn Clscommon_btn_fill_small">Contact us</a>
			</div>
		</div>
	</div>
</section>
<!-- end call to action -->