<div class="main-wrapper">
	<section>
		<div class="container" *ngIf="ShowUserRole=='seller'|| ShowUserRole=='Other'" style="margin-top:20px">
			<div class="row">
				<div class="col-xs-12">
					<div class="Clstitle_cover text-left">
						<h2 class="relative bottom-line style-2 left-align">
							Feedback Form
						</h2>
					</div>
				</div>
		</div>
			<div class="row" *ngIf="getUserToken==null">
					<a href="javascript:;" [routerLink]="['']" class=" col-md-offset-5 btn btn-md btn-dark">Please login to Post a Feedback</a>
			</div>
		
			<div class="row" *ngIf="getUserToken!=null">
				<div class="col-sm-6">
						<p class="text-center col-sm-10 col-sm-offset-1 Clscontact_msg text-justify">Hello {{this.ShowUserName}}, We would be happy to receive your feedback on our products and services. Please write to us.  We will review your suggestions to see if we could implement them. Thanks for your feedback!</p>
				</div>
				<div class="col-sm-6">
					<form name="FeedbackForm" id="FeedbackForm"  #FeedbackForm="ngForm" novalidate>
						<div class="row">
							<div class="col-xs-12">
							<div class="form-group">
								<mat-form-field class="Clsfull-width">
									<input matInput type="text" placeholder="Your idea" id="AboutIdea" name="AboutIdea" [(ngModel)]="this.idea" #AboutIdea="ngModel">
								</mat-form-field>
							</div>
							<div class="form-group">					
								<mat-form-field class="Clsfull-width ">
									<textarea matInput rows="5" id="writeFeedback" placeholder="Describe your idea" name="writeFeedback" [(ngModel)]=" this.feed" #writeFeedback="ngModel" ></textarea>
								</mat-form-field>							
							</div>							
						</div>
						</div>
						<div class="row text-right">
								<div class="col-xs-12">
							<input type="submit" class="Clscommon_btn_fill_small" value="Post" (click)="postFeedback()">
							</div>
						</div>
					</form>
				</div>
				
			</div>
			
			<!-- <div class="row">
				<div class="col-md-8 col-md-offset-2">
					
							<hr>
							<ul class="nav nav-tabs">
								
								<li class="active">
									<a href="#NewIdeas" data-toggle="tab" aria-expanded="true" (click)="ResetPageFunc();init(); ">New Ideas</a>
								</li>
								
								<li class="">
									<a href="#TopIdeas" data-toggle="tab" aria-expanded="false" (click)="ResetPageFunc();currentPageFun();TopIdeaFunc();">Top Ideas</a>
								</li>
								
								<li class="">
									<a href="#MyFeedBack" data-toggle="tab" aria-expanded="false" (click)="ResetPageFunc();currentPageFun();MyFeedbackFunc();">My Feedback</a>
								</li>
								
								<li class="dropdown">
							    	<a class="dropdown-toggle" data-toggle="dropdown" href="#">Status <span class="caret"></span></a>
								      <ul class="dropdown-menu">
								        <li><a href="#UnderReview" data-toggle="tab" aria-expanded="false"  (click)="this.StatusValue='UnderReview';ResetPageFunc();currentPageFun();statusFunc();">Under review</a></li>
								        <li><a href="#Planned" data-toggle="tab" aria-expanded="false" (click)="this.StatusValue='Planned';ResetPageFunc();currentPageFun();statusFunc();">Planned</a></li>
								        <li><a href="#Started" data-toggle="tab" aria-expanded="false" (click)="this.StatusValue='Started';ResetPageFunc();currentPageFun();statusFunc();">Started</a></li>
								        <li><a href="#Completed" data-toggle="tab" aria-expanded="false" (click)="this.StatusValue='Completed';ResetPageFunc();currentPageFun();statusFunc();">Completed</a></li>
								        <li><a href="#Declined" data-toggle="tab" aria-expanded="false" (click)="this.StatusValue='Declined';ResetPageFunc();currentPageFun();statusFunc();">Declined</a></li>                        
								      </ul>
							    </li>
							</ul> 

							
						
							<div class="tab-content">
								
								<div class="tab-pane fade active in" id="NewIdeas">
									<div class="mt-30" id="_Newidea" *ngIf="newidea">
										<div *ngFor="let feedback of getAllFeedback;let i=index">
											<div class="row">
												<div class="col-md-2">
													<img src="{{feedback.DisplayPicture}}" class="img-circle"/>
													<p class="text-capitalize"  style="display: flex; align-items: center;">{{feedback.User}}</p>
												</div>
												<div class="col-md-10">
													<p><strong style="cursor:pointer;" (click)="this.newidea=false;ViewFeedback(feedback);">{{feedback.Title}}</strong>
														<span class="label label-primary">{{feedback.Status}}</span>
														<span class="right">{{feedback.CreatedDate | date:'dd MMM yyyy'}}</span>		
													</p>
													<p class="text-capitalize" style="  text-align: justify;text-justify: inter-word;">{{feedback.Feedback}}</p>
													<div class="row" >
														<div class="col-md-3" style="cursor:pointer;" *ngIf="feedback.IsVoted" >
															<span><i class="fa fa-thumbs-up" style="color:green;font-size:24px" ></i></span>
															<span>{{feedback.VoteCount}} votes </span>
														</div>
														<div class="col-md-3" style="cursor:pointer;" *ngIf="!feedback.IsVoted" >
															<span><i class="fa fa-thumbs-o-up" style="color:green;font-size:24px" (click)="vote(feedback._id)"></i></span>
															<span>{{feedback.VoteCount}} votes </span>
														</div>
														<div class="col-md-7" style="cursor:pointer;" (click)="this.newidea=false;ViewFeedback(feedback);">
															<span><i class="fa fa-comment-o" style="color:black;font-size:14px" ></i></span>
															<span>{{feedback.Comments.length}} Comments</span>	
														</div>
													</div>
												</div>
											</div>
											<hr>
										</div>
									</div>
									<div class="row" *ngIf="newidea">
											<nav class="pagination clear" *ngIf = "totalPages > 0">
													<a href="javascript:;" (click)="NewIdea_PreviousPage()"><i class="fa fa-angle-left"></i></a>
													<a href="javascript:;" *ngFor="let page of pages" [class]="currentPage==page?'current':''" (click)="selectnewPage(page)">{{page}}</a>
													<a href="javascript:;" (click)="NewIdea_NextPage()"><i class="fa fa-angle-right"></i></a>
											</nav>

								
								
									
									</div>
									<div class="mt-30" *ngIf="!newidea">
										<div class="row" style="margin-left: 0px;">
										<div class="form-group">
											<button type="button" class="btn btn-sm btn-color" (click)="this.newidea = true;">
											<span class="fa fa-arrow-left" aria-hidden="true"></span></button>
										</div>
										<p><strong>{{selectedFeedback.Title}}</strong></p>
										<span class="label label-primary">{{selectedFeedback.Status}}</span>
										<p class="text-capitalize" style="  text-align: justify;text-justify: inter-word;">{{selectedFeedback.Feedback}}</p>
										<p><a href="javascript:;">{{selectedFeedback.CreatedDate | date:'dd MMM yyyy HH:mm:ss'}}</a></p>
										<div class="row">
											<div class="col-md-3" style="cursor:pointer;" *ngIf="selectedFeedback.IsVoted" >
												<span><i class="fa fa-thumbs-up" style="color:green;font-size:24px" ></i></span>
												<span>{{selectedFeedback.VoteCount}} votes </span>
											</div>
											<div class="col-md-3" style="cursor:pointer;" *ngIf="!selectedFeedback.IsVoted" >
												<span><i class="fa fa-thumbs-o-up" style="color:green;font-size:24px"></i></span>
												<span>{{selectedFeedback.VoteCount}} votes </span>
											</div>
											<div class="col-md-7">
												<span><i class="fa fa-comment-o" style="color:black;font-size:14px"></i></span>
												<span>{{selectedFeedback.Comments.length}} Comments</span>	
											</div>
										</div>
										<form name="commentForm" id="commentForm"  #commentForm="ngForm" novalidate>
										<div class="form-group">
											<label for="writeComment">Comment : </label>
											<textarea class="form-control" rows="3" id="writeComment" name="writeComment" [(ngModel)]=" this.comment" #writeComment="ngModel" required></textarea>
											<div *ngIf="writeComment.errors && (writeComment.dirty || writeComment.touched)" class="alert alert-danger">
												<div [hidden]="!writeComment.errors.required">
													Enter your Comment
												</div>
											</div>
										</div>
										<input type="submit" class="btn btn-sm btn-color right rounded" [disabled]="!commentForm.form.valid" value="Post" (click)="postComment(selectedFeedback._id)">
										</form>
									</div>
									<hr>
									<div class="row" style="margin-left: 0px;" *ngFor="let getcomment of commentArray">
										<div class="col-md-1">
											<i class="fa fa-user" aria-hidden="true" style="font-size:60px;"></i>
										</div>
										<div class="col-md-11">
											<p><strong>{{getcomment.CommentedUser}}</strong> commented - {{getcomment.CreatedDate | date:'dd MMM yyyy HH:mm:ss'}}</p>
											<p class="text-capitalize">{{getcomment.Comment}}</p>
										</div>
									</div>
									<hr>
								</div>
								</div>
								<div class="tab-pane fade" id="TopIdeas">
									
									<div class="mt-30" id="_Topidea">
										<div *ngFor="let feedback of getAllTopFeedback;let i=index">
											<div class="row">
												<div class="col-md-2">
													<img src="{{feedback.DisplayPicture}}" class="img-circle"/>
													<p class="text-capitalize"  style="display: flex; align-items: center;">{{feedback.User}}</p>
												</div>
												<div class="col-md-10">
													<p><strong style="cursor:pointer;" (click)="this.topidea=false;ViewFeedback(feedback);">{{feedback.Title}}</strong>
														<span class="label label-primary">{{feedback.Status}}</span>
														<span class="right">{{feedback.CreatedDate | date:'dd MMM yyyy'}}</span>		
													</p>
													<p class="text-capitalize" style="  text-align: justify;text-justify: inter-word;">{{feedback.Feedback}}</p>
													<div class="row" >
														<div class="col-md-3" style="cursor:pointer;" *ngIf="feedback.IsVoted" >
															<span><i class="fa fa-thumbs-up" style="color:green;font-size:24px" ></i></span>
															<span>{{feedback.VoteCount}} votes </span>
														</div>
														<div class="col-md-3" style="cursor:pointer;" *ngIf="!feedback.IsVoted" >
															<span><i class="fa fa-thumbs-o-up" style="color:green;font-size:24px" (click)="vote(feedback._id)"></i></span>
															<span>{{feedback.VoteCount}} votes </span>
														</div>
														<div class="col-md-7" style="cursor:pointer;" (click)="this.topidea=false;ViewFeedback(feedback);">
															<span><i class="fa fa-comment-o" style="color:black;font-size:14px" ></i></span>
															<span>{{feedback.Comments.length}} Comments</span>	
														</div>
													</div>
												</div>
											</div>
											<hr>
										</div>
									</div>
									<div class="row"  *ngIf="topidea">




 
 <nav class="pagination clear" *ngIf = "totalPages > 0">
		<a href="java::"   (click)="TopIdea_PreviousPage()"><i class="fa fa-angle-left"></i></a>
		<a href="javascript:;" *ngFor="let page of pages" [class]="currentPage==page?'current':''" (click)="selectTopPage(page)">{{page}}</a>
		<a href="java::"  (click)="TopIdea_NextPage()"><i class="fa fa-angle-right"></i></a>
</nav>


									</div>
									<div class="mt-30" *ngIf="!topidea">
										<div class="row" style="margin-left: 0px;">
										<div class="form-group">
											<button type="button" class="btn btn-sm btn-color" (click)="this.topidea = true;">
											<span class="fa fa-arrow-left" aria-hidden="true"></span></button>
										</div>
										<p><strong>{{selectedFeedback.Title}}</strong></p>
										<span class="label label-primary">{{selectedFeedback.Status}}</span>
										<p class="text-capitalize" style="  text-align: justify;text-justify: inter-word;">{{selectedFeedback.Feedback}}</p>
										<p><a href="javascript:;">{{selectedFeedback.CreatedDate | date:'dd MMM yyyy HH:mm:ss'}}</a></p>
										<div class="row">
											<div class="col-md-3" style="cursor:pointer;" *ngIf="selectedFeedback.IsVoted" >
												<span><i class="fa fa-thumbs-up" style="color:green;font-size:24px" ></i></span>
												<span>{{selectedFeedback.VoteCount}} votes </span>
											</div>
											<div class="col-md-3" style="cursor:pointer;" *ngIf="!selectedFeedback.IsVoted" >
												<span><i class="fa fa-thumbs-o-up" style="color:green;font-size:24px"></i></span>
												<span>{{selectedFeedback.VoteCount}} votes </span>
											</div>
											<div class="col-md-7">
												<span><i class="fa fa-comment-o" style="color:black;font-size:14px"></i></span>
												<span>{{selectedFeedback.Comments.length}} Comments</span>	
											</div>
										</div>
										<form name="commentForm" id="commentForm"  #commentForm="ngForm" novalidate>
										<div class="form-group">
											<label for="writeComment">Comment : </label>
											<textarea class="form-control" rows="3" id="writeComment" name="writeComment" [(ngModel)]=" this.comment" #writeComment="ngModel" required></textarea>
											<div *ngIf="writeComment.errors && (writeComment.dirty || writeComment.touched)" class="alert alert-danger">
												<div [hidden]="!writeComment.errors.required">
													Enter your Comment
												</div>
											</div>
										</div>
										<input type="submit" class="btn btn-sm btn-color right rounded" [disabled]="!commentForm.form.valid" value="Post" (click)="postComment(selectedFeedback._id)">
										</form>
									</div>
									<hr>
									<div class="row" style="margin-left: 0px;" *ngFor="let getcomment of commentArray">
										<div class="col-md-1">
											<i class="fa fa-user" aria-hidden="true" style="font-size:60px;"></i>
										</div>
										<div class="col-md-11">
											<p><strong>{{getcomment.CommentedUser}}</strong> commented - {{getcomment.CreatedDate | date:'dd MMM yyyy HH:mm:ss'}}</p>
											<p class="text-capitalize">{{getcomment.Comment}}</p>
										</div>
									</div>
									<hr>
								</div>
								</div>
								<div class="tab-pane fade" id="UnderReview">
									<div class="mt-30" *ngIf="getAllStatusFeedback.length==0">
										<div style="margin-top:70px; margin-bottom:50px" class="text-center">
                                           <i class="fa fa-trash" style="font-size:150px;" ><h4>No Under Review Feedback Found</h4></i>
                                        </div>
									</div>
									<div class="mt-30" id="_UnderReview" *ngIf="underreviewVisible">
										<div *ngFor="let feedback of getAllStatusFeedback;let i=index">
											<div class="row">
												<div class="col-md-2">
													<img src="{{feedback.DisplayPicture}}" class="img-circle"/>
													<p class="text-capitalize"  style="display: flex; align-items: center;">{{feedback.User}}</p>
												</div>
												<div class="col-md-10">
													<p><strong style="cursor:pointer;" (click)="this.underreviewVisible=false;ViewFeedback(feedback);">{{feedback.Title}}</strong>
														<span class="label label-primary">{{feedback.Status}}</span>
														<span class="right">{{feedback.CreatedDate | date:'dd MMM yyyy'}}</span>		
													</p>
													<p class="text-capitalize" style="  text-align: justify;text-justify: inter-word;">{{feedback.Feedback}}</p>
													<div class="row">
														<div class="col-md-3" style="cursor:pointer;" *ngIf="feedback.IsVoted" >
															<span><i class="fa fa-thumbs-up" style="color:green;font-size:24px" ></i></span>
															<span>{{feedback.VoteCount}} votes </span>
														</div>
														<div class="col-md-3" style="cursor:pointer;" *ngIf="!feedback.IsVoted" >
															<span><i class="fa fa-thumbs-o-up" style="color:green;font-size:24px" (click)="vote(feedback._id)"></i></span>
															<span>{{feedback.VoteCount}} votes </span>
														</div>
														<div class="col-md-7" style="cursor:pointer;" (click)="this.underreviewVisible=false;ViewFeedback(feedback);">
															<span><i class="fa fa-comment-o" style="color:black;font-size:14px" ></i></span>
															<span>{{feedback.Comments.length}} Comments</span>	
														</div>
													</div>
												</div>
											</div>
											<hr>
										</div>
									</div>
									<div class="row" *ngIf="underreviewVisible  && getAllStatusFeedback.length>0">
									
										<nav class="pagination clear" *ngIf = "totalPages > 0">
											<a href="javascript:;" (click)="PreviousPage()"><i class="fa fa-angle-left"></i></a>
											<a href="javascript:;" *ngFor="let page of pages" [class]="currentPage==page?'current':''" (click)="selectPage(page)">{{page}}</a>
											<a href="javascript:;" (click)="NextPage()"><i class="fa fa-angle-right"></i></a>
									</nav>
									
									
									
								
									
									</div>
									<div class="mt-30" *ngIf="!underreviewVisible">
										<div class="row" style="margin-left: 0px;">
										<div class="form-group">
											<button type="button" class="btn btn-sm btn-color" (click)="this.underreviewVisible = true;">
											<span class="fa fa-arrow-left" aria-hidden="true"></span></button>
										</div>
										<p><strong>{{selectedFeedback.Title}}</strong></p>
										<span class="label label-primary">{{selectedFeedback.Status}}</span>
										<p class="text-capitalize" style="  text-align: justify;text-justify: inter-word;">{{selectedFeedback.Feedback}}</p>
										<p><a href="javascript:;">{{selectedFeedback.CreatedDate | date:'dd MMM yyyy HH:mm:ss'}}</a></p>
										<div class="row">
											<div class="col-md-3" style="cursor:pointer;" *ngIf="selectedFeedback.IsVoted" >
												<span><i class="fa fa-thumbs-up" style="color:green;font-size:24px" ></i></span>
												<span>{{selectedFeedback.VoteCount}} votes </span>
											</div>
											<div class="col-md-3" style="cursor:pointer;" *ngIf="!selectedFeedback.IsVoted" >
												<span><i class="fa fa-thumbs-o-up" style="color:green;font-size:24px" ></i></span>
												<span>{{selectedFeedback.VoteCount}} votes </span>
											</div>
											<div class="col-md-7">
												<span><i class="fa fa-comment-o" style="color:black;font-size:14px"></i></span>
												<span>{{selectedFeedback.Comments.length}} Comments</span>	
											</div>
										</div>
										<form name="commentForm" id="commentForm"  #commentForm="ngForm" novalidate>
										<div class="form-group">
											<label for="writeComment">Comment : </label>
											<textarea class="form-control" rows="3" id="writeComment" name="writeComment" [(ngModel)]=" this.comment" #writeComment="ngModel" required></textarea>
											<div *ngIf="writeComment.errors && (writeComment.dirty || writeComment.touched)" class="alert alert-danger">
												<div [hidden]="!writeComment.errors.required">
													Enter your Comment
												</div>
											</div>
										</div>
										<input type="submit" class="btn btn-sm btn-color right rounded" [disabled]="!commentForm.form.valid" value="Post" (click)="postComment(selectedFeedback._id)">
										</form>
									</div>
									<hr>
									<div class="row" style="margin-left: 0px;" *ngFor="let getcomment of commentArray">
										<div class="col-md-1">
											<i class="fa fa-user" aria-hidden="true" style="font-size:60px;"></i>
										</div>
										<div class="col-md-11">
											<p><strong>{{getcomment.CommentedUser}}</strong> commented - {{getcomment.CreatedDate | date:'dd MMM yyyy HH:mm:ss'}}</p>
											<p class="text-capitalize">{{getcomment.Comment}}</p>
										</div>
									</div>
									<hr>
								</div>
								</div>
								<div class="tab-pane fade" id="Planned">
									<div class="mt-30" *ngIf="getAllStatusFeedback.length==0">
										   
                                	<div style="margin-top:70px; margin-bottom:50px" class="text-center">
	                                	<i class="fa fa-trash" style="font-size:150px;" ><h4>No Planned Feedback Found</h4></i>
                                     </div>
									</div>
									<div class="mt-30" id="_Planned" *ngIf="plannedVisible">
										<div *ngFor="let feedback of getAllStatusFeedback;let i=index">
											<div class="row">
												<div class="col-md-2">
													<img src="{{feedback.DisplayPicture}}" class="img-circle"/>
													<p class="text-capitalize"  style="display: flex; align-items: center;">{{feedback.User}}</p>
												</div>
												<div class="col-md-10">
													<p><strong style="cursor:pointer;" (click)="this.plannedVisible=false;ViewFeedback(feedback);">{{feedback.Title}}</strong>
														<span class="label label-primary">{{feedback.Status}}</span>
														<span class="right">{{feedback.CreatedDate | date:'dd MMM yyyy'}}</span>		
													</p>
													<p class="text-capitalize" style="  text-align: justify;text-justify: inter-word;">{{feedback.Feedback}}</p>
													<div class="row">
														<div class="col-md-3" style="cursor:pointer;" *ngIf="feedback.IsVoted" >
															<span><i class="fa fa-thumbs-up" style="color:green;font-size:24px" ></i></span>
															<span>{{feedback.VoteCount}} votes </span>
														</div>
														<div class="col-md-3" style="cursor:pointer;" *ngIf="!feedback.IsVoted" >
															<span><i class="fa fa-thumbs-o-up" style="color:green;font-size:24px" (click)="vote(feedback._id)"></i></span>
															<span>{{feedback.VoteCount}} votes </span>
														</div>
														<div class="col-md-7" style="cursor:pointer;" (click)="this.plannedVisible=false;ViewFeedback(feedback);">
															<span><i class="fa fa-comment-o" style="color:black;font-size:14px" ></i></span>
															<span>{{feedback.Comments.length}} Comments</span>	
														</div>
													</div>
												</div>
											</div>
											<hr>
										</div>
									</div>
									<div class="row" *ngIf="plannedVisible  && getAllStatusFeedback.length>0 ">
										<nav class="pagination clear" *ngIf = "totalPages > 0">
											<a href="javascript:;" (click)="PreviousPage()"><i class="fa fa-angle-left"></i></a>
											<a href="javascript:;" *ngFor="let page of pages" [class]="currentPage==page?'current':''" (click)="selectPage(page)">{{page}}</a>
											<a href="javascript:;" (click)="NextPage()"><i class="fa fa-angle-right"></i></a>
									</nav>
									
									
									
									</div>
									<div class="mt-30" *ngIf="!plannedVisible">
										<div class="row" style="margin-left: 0px;">
										<div class="form-group">
											<button type="button" class="btn btn-sm btn-color" (click)="this.plannedVisible = true;">
											<span class="fa fa-arrow-left" aria-hidden="true"></span></button>
										</div>
										<p><strong>{{selectedFeedback.Title}}</strong></p>
										<span class="label label-primary">{{selectedFeedback.Status}}</span>
										<p class="text-capitalize" style="  text-align: justify;text-justify: inter-word;">{{selectedFeedback.Feedback}}</p>
										<p><a href="javascript:;">{{selectedFeedback.CreatedDate | date:'dd MMM yyyy HH:mm:ss'}}</a></p>
										<div class="row">
											<div class="col-md-3" style="cursor:pointer;" *ngIf="selectedFeedback.IsVoted" >
												<span><i class="fa fa-thumbs-up" style="color:green;font-size:24px" ></i></span>
												<span>{{selectedFeedback.VoteCount}} votes </span>
											</div>
											<div class="col-md-3" style="cursor:pointer;" *ngIf="!selectedFeedback.IsVoted" >
												<span><i class="fa fa-thumbs-o-up" style="color:green;font-size:24px"></i></span>
												<span>{{selectedFeedback.VoteCount}} votes </span>
											</div>
											<div class="col-md-7">
												<span><i class="fa fa-comment-o" style="color:black;font-size:14px"></i></span>
												<span>{{selectedFeedback.Comments.length}} Comments</span>	
											</div>
										</div>
										<form name="commentForm" id="commentForm"  #commentForm="ngForm" novalidate>
										<div class="form-group">
											<label for="writeComment">Comment : </label>
											<textarea class="form-control" rows="3" id="writeComment" name="writeComment" [(ngModel)]=" this.comment" #writeComment="ngModel" required></textarea>
											<div *ngIf="writeComment.errors && (writeComment.dirty || writeComment.touched)" class="alert alert-danger">
												<div [hidden]="!writeComment.errors.required">
													Enter your Comment
												</div>
											</div>
										</div>
										<input type="submit" class="btn btn-sm btn-color right rounded" [disabled]="!commentForm.form.valid" value="Post" (click)="postComment(selectedFeedback._id)">
										</form>
									</div>
									<hr>
									<div class="row" style="margin-left: 0px;" *ngFor="let getcomment of commentArray">
										<div class="col-md-1">
											<i class="fa fa-user" aria-hidden="true" style="font-size:60px;"></i>
										</div>
										<div class="col-md-11">
											<p><strong>{{getcomment.CommentedUser}}</strong> commented - {{getcomment.CreatedDate | date:'dd MMM yyyy HH:mm:ss'}}</p>
											<p class="text-capitalize">{{getcomment.Comment}}</p>
										</div>
									</div>
									<hr>
								</div>
								</div>
								<div class="tab-pane fade" id="Started" >
									<div class="mt-30" *ngIf="getAllStatusFeedback.length==0">
										   
                            	<div style="margin-top:70px; margin-bottom:50px" class="text-center">
		                          <i class="fa fa-trash" style="font-size:150px;" ><h4>No Started Feedback Found</h4></i>
                                </div>
									</div>
									<div class="mt-30" id="_Started" *ngIf="startedVisible">
										<div *ngFor="let feedback of getAllStatusFeedback;let i=index">
											<div class="row">
												<div class="col-md-2">
													<img src="{{feedback.DisplayPicture}}" class="img-circle"/>
													<p class="text-capitalize"  style="display: flex; align-items: center;">{{feedback.User}}</p>
												</div>
												<div class="col-md-10">
													<p><strong style="cursor:pointer;" (click)="this.startedVisible=false;ViewFeedback(feedback);">{{feedback.Title}}</strong>
														<span class="label label-primary">{{feedback.Status}}</span>
														<span class="right">{{feedback.CreatedDate | date:'dd MMM yyyy'}}</span>		
													</p>
													<p class="text-capitalize" style="  text-align: justify;text-justify: inter-word;">{{feedback.Feedback}}</p>
													<div class="row">
														<div class="col-md-3" style="cursor:pointer;" *ngIf="feedback.IsVoted" >
															<span><i class="fa fa-thumbs-up" style="color:green;font-size:24px" ></i></span>
															<span>{{feedback.VoteCount}} votes </span>
														</div>
														<div class="col-md-3" style="cursor:pointer;" *ngIf="!feedback.IsVoted" >
															<span><i class="fa fa-thumbs-o-up" style="color:green;font-size:24px" (click)="vote(feedback._id)"></i></span>
															<span>{{feedback.VoteCount}} votes </span>
														</div>
														<div class="col-md-7" style="cursor:pointer;" (click)="this.startedVisible=false;ViewFeedback(feedback);">
															<span><i class="fa fa-comment-o" style="color:black;font-size:14px" ></i></span>
															<span>{{feedback.Comments.length}} Comments</span>	
														</div>
													</div>
												</div>
											</div>
											<hr>
										</div>
									</div>
									<div class="row" *ngIf="startedVisible && getAllStatusFeedback.length>0">
										<nav class="pagination clear" *ngIf = "totalPages > 0">
											<a href="javascript:;" (click)="PreviousPage()"><i class="fa fa-angle-left"></i></a>
											<a href="javascript:;" *ngFor="let page of pages" [class]="currentPage==page?'current':''" (click)="selectPage(page)">{{page}}</a>
											<a href="javascript:;" (click)="NextPage()"><i class="fa fa-angle-right"></i></a>
									</nav>

										
									
									</div>
									<div class="mt-30" *ngIf="!startedVisible">
										<div class="row" style="margin-left: 0px;">
										<div class="form-group">
											<button type="button" class="btn btn-sm btn-color" (click)="this.startedVisible = true;">
											<span class="fa fa-arrow-left" aria-hidden="true"></span></button>
										</div>
										<p><strong>{{selectedFeedback.Title}}</strong></p>
										<span class="label label-primary">{{selectedFeedback.Status}}</span>
										<p class="text-capitalize" style="  text-align: justify;text-justify: inter-word;">{{selectedFeedback.Feedback}}</p>
										<p><a href="javascript:;">{{selectedFeedback.CreatedDate | date:'dd MMM yyyy HH:mm:ss'}}</a></p>
										<div class="row">
											<div class="col-md-3" style="cursor:pointer;" *ngIf="selectedFeedback.IsVoted" >
												<span><i class="fa fa-thumbs-up" style="color:green;font-size:24px" ></i></span>
												<span>{{selectedFeedback.VoteCount}} votes </span>
											</div>
											<div class="col-md-3" style="cursor:pointer;" *ngIf="!selectedFeedback.IsVoted" >
												<span><i class="fa fa-thumbs-o-up" style="color:green;font-size:24px"></i></span>
												<span>{{selectedFeedback.VoteCount}} votes </span>
											</div>
											<div class="col-md-7">
												<span><i class="fa fa-comment-o" style="color:black;font-size:14px"></i></span>
												<span>{{selectedFeedback.Comments.length}} Comments</span>	
											</div>
										</div>
										<form name="commentForm" id="commentForm"  #commentForm="ngForm" novalidate>
										<div class="form-group">
											<label for="writeComment">Comment : </label>
											<textarea class="form-control" rows="3" id="writeComment" name="writeComment" [(ngModel)]=" this.comment" #writeComment="ngModel" required></textarea>
											<div *ngIf="writeComment.errors && (writeComment.dirty || writeComment.touched)" class="alert alert-danger">
												<div [hidden]="!writeComment.errors.required">
													Enter your Comment
												</div>
											</div>
										</div>
										<input type="submit" class="btn btn-sm btn-color right rounded" [disabled]="!commentForm.form.valid" value="Post" (click)="postComment(selectedFeedback._id)">
										</form>
									</div>
									<hr>
									<div class="row" style="margin-left: 0px;" *ngFor="let getcomment of commentArray">
										<div class="col-md-1">
											<i class="fa fa-user" aria-hidden="true" style="font-size:60px;"></i>
										</div>
										<div class="col-md-11">
											<p><strong>{{getcomment.CommentedUser}}</strong> commented - {{getcomment.CreatedDate | date:'dd MMM yyyy HH:mm:ss'}}</p>
											<p class="text-capitalize">{{getcomment.Comment}}</p>
										</div>
									</div>
									<hr>
								</div>
								</div>
								<div class="tab-pane fade" id="Completed" >
									<div class="mt-30" *ngIf="getAllStatusFeedback.length==0">
										   
                                    	<div style="margin-top:70px; margin-bottom:50px" class="text-center">
	                                    	<i class="fa fa-trash" style="font-size:150px;" ><h4>No Completed Feedback Found</h4></i>
                                        </div>
									</div>
									<div class="mt-30" id="_Completed" *ngIf="completedVisible">
										<div *ngFor="let feedback of getAllStatusFeedback;let i=index">
											<div class="row">
												<div class="col-md-2">
													<img src="{{feedback.DisplayPicture}}" class="img-circle"/>
													<p class="text-capitalize"  style="display: flex; align-items: center;">{{feedback.User}}</p>
												</div>
												<div class="col-md-10">
													<p><strong style="cursor:pointer;" (click)="this.completedVisible=false;ViewFeedback(feedback);">{{feedback.Title}}</strong>
														<span class="label label-primary">{{feedback.Status}}</span>
														<span class="right">{{feedback.CreatedDate | date:'dd MMM yyyy'}}</span>		
													</p>
													<p class="text-capitalize" style="  text-align: justify;text-justify: inter-word;">{{feedback.Feedback}}</p>
													<div class="row">
														<div class="col-md-3" style="cursor:pointer;" *ngIf="feedback.IsVoted" >
															<span><i class="fa fa-thumbs-up" style="color:green;font-size:24px" ></i></span>
															<span>{{feedback.VoteCount}} votes </span>
														</div>
														<div class="col-md-3" style="cursor:pointer;" *ngIf="!feedback.IsVoted" >
															<span><i class="fa fa-thumbs-o-up" style="color:green;font-size:24px" (click)="vote(feedback._id)"></i></span>
															<span>{{feedback.VoteCount}} votes </span>
														</div>
														<div class="col-md-7" style="cursor:pointer;" (click)="this.completedVisible=false;ViewFeedback(feedback);">
															<span><i class="fa fa-comment-o" style="color:black;font-size:14px" ></i></span>
															<span>{{feedback.Comments.length}} Comments</span>	
														</div>
													</div>
												</div>
											</div>
											<hr>
										</div>
									</div>
									<div class="row" *ngIf="completedVisible && getAllStatusFeedback.length>0">
							
										<nav class="pagination clear" *ngIf = "totalPages > 0">
											<a href="javascript:;" (click)="PreviousPage()"><i class="fa fa-angle-left"></i></a>
											<a href="javascript:;" *ngFor="let page of pages" [class]="currentPage==page?'current':''" (click)="selectPage(page)">{{page}}</a>
											<a href="javascript:;" (click)="NextPage()"><i class="fa fa-angle-right"></i></a>
									</nav>
									
									</div>
									<div class="mt-30" *ngIf="!completedVisible">
										<div class="row" style="margin-left: 0px;">
										<div class="form-group">
											<button type="button" class="btn btn-sm btn-color" (click)="this.completedVisible = true;">
											<span class="fa fa-arrow-left" aria-hidden="true"></span></button>
										</div>
										<p><strong>{{selectedFeedback.Title}}</strong></p>
										<span class="label label-primary">{{selectedFeedback.Status}}</span>
										<p class="text-capitalize" style="  text-align: justify;text-justify: inter-word;">{{selectedFeedback.Feedback}}</p>
										<p><a href="javascript:;">{{selectedFeedback.CreatedDate | date:'dd MMM yyyy HH:mm:ss'}}</a></p>
										<div class="row">
											<div class="col-md-3" style="cursor:pointer;" *ngIf="selectedFeedback.IsVoted" >
												<span><i class="fa fa-thumbs-up" style="color:green;font-size:24px" ></i></span>
												<span>{{selectedFeedback.VoteCount}} votes </span>
											</div>
											<div class="col-md-3" style="cursor:pointer;" *ngIf="!selectedFeedback.IsVoted" >
												<span><i class="fa fa-thumbs-o-up" style="color:green;font-size:24px"></i></span>
												<span>{{selectedFeedback.VoteCount}} votes </span>
											</div>
											<div class="col-md-7">
												<span><i class="fa fa-comment-o" style="color:black;font-size:14px"></i></span>
												<span>{{selectedFeedback.Comments.length}} Comments</span>	
											</div>
										</div>
										<form name="commentForm" id="commentForm"  #commentForm="ngForm" novalidate>
										<div class="form-group">
											<label for="writeComment">Comment : </label>
											<textarea class="form-control" rows="3" id="writeComment" name="writeComment" [(ngModel)]=" this.comment" #writeComment="ngModel" required></textarea>
											<div *ngIf="writeComment.errors && (writeComment.dirty || writeComment.touched)" class="alert alert-danger">
												<div [hidden]="!writeComment.errors.required">
													Enter your Comment
												</div>
											</div>
										</div>
										<input type="submit" class="btn btn-sm btn-color right rounded" [disabled]="!commentForm.form.valid" value="Post" (click)="postComment(selectedFeedback._id)">
										</form>
									</div>
									<hr>
									<div class="row" style="margin-left: 0px;" *ngFor="let getcomment of commentArray">
										<div class="col-md-1">
											<i class="fa fa-user" aria-hidden="true" style="font-size:60px;"></i>
										</div>
										<div class="col-md-11">
											<p><strong>{{getcomment.CommentedUser}}</strong> commented - {{getcomment.CreatedDate | date:'dd MMM yyyy HH:mm:ss'}}</p>
											<p class="text-capitalize">{{getcomment.Comment}}</p>
										</div>
									</div>
									<hr>
								</div>
								</div>
								<div class="tab-pane fade" id="Declined"> 
									<div class="mt-30" *ngIf="getAllStatusFeedback.length==0">
										   
                                    	<div style="margin-top:70px; margin-bottom:50px" class="text-center">
                                     		<i class="fa fa-trash" style="font-size:150px;" ><h4>No Declined Feedback Found</h4></i>
                                        </div>
									</div>
									<div class="mt-30" id="_Declined" *ngIf="declinedVisible">
										<div *ngFor="let feedback of getAllStatusFeedback;let i=index">
											<div class="row">
												<div class="col-md-2">
													<img src="{{feedback.DisplayPicture}}" class="img-circle"/>
													<p class="text-capitalize"  style="display: flex; align-items: center;">{{feedback.User}}</p>
												</div>
												<div class="col-md-10">
													<p><strong style="cursor:pointer;" (click)="this.declinedVisible=false;ViewFeedback(feedback);">{{feedback.Title}}</strong>
														<span class="label label-primary">{{feedback.Status}}</span>
														<span class="right">{{feedback.CreatedDate | date:'dd MMM yyyy'}}</span>		
													</p>
													<p class="text-capitalize" style="  text-align: justify;text-justify: inter-word;">{{feedback.Feedback}}</p>
													<div class="row">
														<div class="col-md-3" style="cursor:pointer;" *ngIf="feedback.IsVoted" >
															<span><i class="fa fa-thumbs-up" style="color:green;font-size:24px" ></i></span>
															<span>{{feedback.VoteCount}} votes </span>
														</div>
														<div class="col-md-3" style="cursor:pointer;" *ngIf="!feedback.IsVoted" >
															<span><i class="fa fa-thumbs-o-up" style="color:green;font-size:24px" (click)="vote(feedback._id)"></i></span>
															<span>{{feedback.VoteCount}} votes </span>
														</div>
														<div class="col-md-7" style="cursor:pointer;" (click)="this.declinedVisible=false;ViewFeedback(feedback);">
															<span><i class="fa fa-comment-o" style="color:black;font-size:14px" ></i></span>
															<span>{{feedback.Comments.length}} Comments</span>	
														</div>
													</div>
												</div>
											</div>
											<hr>
										</div>
									</div>
									<div class="row" *ngIf="declinedVisible && getAllStatusFeedback.length>0">
										<nav class="pagination clear" *ngIf = "totalPages > 0">
											<a href="javascript:;" (click)="PreviousPage()"><i class="fa fa-angle-left"></i></a>
											<a href="javascript:;" *ngFor="let page of pages" [class]="currentPage==page?'current':''" (click)="selectPage(page)">{{page}}</a>
											<a href="javascript:;" (click)="NextPage()"><i class="fa fa-angle-right"></i></a>
										</nav>
									
										
									</div>
									<div class="mt-30" *ngIf="!declinedVisible">
										<div class="row" style="margin-left: 0px;">
										<div class="form-group">
											<button type="button" class="btn btn-sm btn-color" (click)="this.declinedVisible = true;">
											<span class="fa fa-arrow-left" aria-hidden="true"></span></button>
										</div>
										<p><strong>{{selectedFeedback.Title}}</strong></p>
										<span class="label label-primary">{{selectedFeedback.Status}}</span>
										<p class="text-capitalize" style="  text-align: justify;text-justify: inter-word;">{{selectedFeedback.Feedback}}</p>
										<p><a href="javascript:;">{{selectedFeedback.CreatedDate | date:'dd MMM yyyy HH:mm:ss'}}</a></p>
										<div class="row">
											<div class="col-md-3" style="cursor:pointer;" *ngIf="selectedFeedback.IsVoted" >
												<span><i class="fa fa-thumbs-up" style="color:green;font-size:24px" ></i></span>
												<span>{{selectedFeedback.VoteCount}} votes </span>
											</div>
											<div class="col-md-3" style="cursor:pointer;" *ngIf="!selectedFeedback.IsVoted" >
												<span><i class="fa fa-thumbs-o-up" style="color:green;font-size:24px" ></i></span>
												<span>{{selectedFeedback.VoteCount}} votes </span>
											</div>
											<div class="col-md-7">
												<span><i class="fa fa-comment-o" style="color:black;font-size:14px"></i></span>
												<span>{{selectedFeedback.Comments.length}} Comments</span>	
											</div>
										</div>
										<form name="commentForm" id="commentForm"  #commentForm="ngForm" novalidate>
										<div class="form-group">
											<label for="writeComment">Comment : </label>
											<textarea class="form-control" rows="3" id="writeComment" name="writeComment" [(ngModel)]=" this.comment" #writeComment="ngModel" required></textarea>
											<div *ngIf="writeComment.errors && (writeComment.dirty || writeComment.touched)" class="alert alert-danger">
												<div [hidden]="!writeComment.errors.required">
													Enter your Comment
												</div>
											</div>
										</div>
										<input type="submit" class="btn btn-sm btn-color right rounded" [disabled]="!commentForm.form.valid" value="Post" (click)="postComment(selectedFeedback._id)">
										</form>
									</div>
									<hr>
									<div class="row" style="margin-left: 0px;" *ngFor="let getcomment of commentArray">
										<div class="col-md-1">
											<i class="fa fa-user" aria-hidden="true" style="font-size:60px;"></i>
										</div>
										<div class="col-md-11">
											<p><strong>{{getcomment.CommentedUser}}</strong> commented - {{getcomment.CreatedDate | date:'dd MMM yyyy HH:mm:ss'}}</p>
											<p class="text-capitalize">{{getcomment.Comment}}</p>
										</div>
									</div>
									<hr>
								</div>
								</div>
								<div class="tab-pane fade" id="MyFeedBack">
									<div class="mt-30" id="_Ownidea" *ngIf="ownidea" style="margin-left: 0px;">
										<div *ngFor="let feedback of getOwnFeed;let i=index">
											<div class="row" >
												<div class="col-md-12">
													<p><strong  style="cursor:pointer;" (click)="this.ownidea=false;ViewFeedback(feedback);">{{feedback.Title}}</strong>
														<span class="label label-primary">{{feedback.Status}}</span>
														<span class="right">{{feedback.CreatedDate | date:'dd MMM yyyy HH:mm:ss'}}</span>		
													</p>
													<p class="text-capitalize" style="  text-align: justify;text-justify: inter-word;">{{feedback.Feedback}}</p>
													<div class="row">
														<div class="col-md-3" style="cursor:pointer;" *ngIf="feedback.IsVoted" >
															<span><i class="fa fa-thumbs-up" style="color:green;font-size:24px" ></i></span>
															<span>{{feedback.VoteCount}} votes </span>
														</div>
														<div class="col-md-3" style="cursor:pointer;" *ngIf="!feedback.IsVoted" >
															<span><i class="fa fa-thumbs-o-up" style="color:green;font-size:24px" (click)="vote(feedback._id)"></i></span>
															<span>{{feedback.VoteCount}} votes </span>
														</div>
														<div class="col-md-7" (click)="this.ownidea=false;ViewFeedback(feedback)" >
															<span><i class="fa fa-comment-o" style="color:black;font-size:14px" ></i></span>
															<span>{{feedback.Comments.length}} Comments</span>	
														</div>
														
													</div>
												</div>
											</div>
											<hr>
										</div>
									</div>
								
									<div class="row"  *ngIf="ownidea">
									
										<nav class="pagination clear" *ngIf = "totalPages > 0">
											<a href="javascript:;" (click)="MyIdea_PreviousPage()"><i class="fa fa-angle-left"></i></a>
											<a href="javascript:;" *ngFor="let page of pages" [class]="currentPage==page?'current':''" (click)="selectMyIdeaPage(page)">{{page}}</a>
											<a href="javascript:;" (click)="MyIdea_NextPage()"><i class="fa fa-angle-right"></i></a>
										</nav>
									
									
									</div>
									<div class="mt-30" *ngIf="!ownidea">
										
										<div class="row"  style="margin-left: 0px;">
										<div class="form-group">
											<button type="button" class="btn btn-sm btn-color" (click)="this.ownidea = true;">
											<span class="fa fa-arrow-left" aria-hidden="true"></span></button>
										</div>
										<p><strong>{{selectedFeedback.Title}}</strong></p><span class="right label label-primary">{{selectedFeedback.Status}}</span>
										<p class="text-capitalize" style="  text-align: justify;text-justify: inter-word;">{{selectedFeedback.Feedback}}</p>
										<p><a href="javascript:;">{{selectedFeedback.CreatedDate | date:'dd MMM yyyy HH:mm:ss'}}</a></p>
										<div class="row">
											<div class="col-md-3" style="cursor:pointer;" *ngIf="selectedFeedback.IsVoted" >
												<span><i class="fa fa-thumbs-up" style="color:green;font-size:24px" ></i></span>
												<span>{{selectedFeedback.VoteCount}} votes </span>
											</div>
											<div class="col-md-3" style="cursor:pointer;" *ngIf="!selectedFeedback.IsVoted" >
												<span><i class="fa fa-thumbs-o-up" style="color:green;font-size:24px" ></i></span>
												<span>{{selectedFeedback.VoteCount}} votes </span>
											</div>
											<div class="col-md-7">
												<span><i class="fa fa-comment-o" style="color:black;font-size:14px"></i></span>
												<span>{{selectedFeedback.Comments.length}} Comments</span>	
											</div>
										</div>
										<form name="replyCommentForm" id="replyCommentForm"  #replyCommentForm="ngForm" novalidate>
										<div class="form-group">
											<label for="replyComment">Comment : </label>
											<textarea class="form-control" rows="3" id="replyComment" name="replyComment" [(ngModel)]=" this.comment" #replyComment="ngModel" required></textarea>
											<div *ngIf="replyComment.errors && (replyComment.dirty || replyComment.touched)" class="alert alert-danger">
												<div [hidden]="!replyComment.errors.required">
													Enter your Comment
												</div>
											</div>
										</div>
										<input type="submit" class="btn btn-sm btn-color right rounded" [disabled]="!replyCommentForm.form.valid" value="Post" (click)="postComment(selectedFeedback._id)">
										</form>
									</div>
									<hr>
									<div class="row" style="margin-left: 0px;" *ngFor="let getcomment of commentArray">
										<div class="col-md-1">
											<i class="fa fa-user" aria-hidden="true" style="font-size:60px;"></i>
										</div>
										<div class="col-md-11">
											<p><strong>{{getcomment.CommentedUser}}</strong> commented - {{getcomment.CreatedDate | date:'dd MMM yyyy HH:mm:ss'}}</p>
											<p class="text-capitalize">{{getcomment.Comment}}</p>
										</div>
									</div>
									<hr>
									</div>
								</div>
							</div> 
						
							
				
				</div>
			</div> -->
		</div>
		<!-- <div class="container" *ngIf="ShowUserRole=='admin'|| ShowUserRole=='masteradmin'"  style="margin-top:20px">
			<h2 class="heading text-center relative heading-small uppercase bottom-line style-2">
				Feedback Form 
			</h2>
			<div class="row" *ngIf="adminViewFeedback">
				<div class="col-md-10 col-md-offset-1">
					<div *ngFor="let feedback of getAllFeedback;let i=index">
						<div class="row">
							<div class="col-md-2">
								<img src="{{feedback.DisplayPicture}}" class="img-circle"/>
								<p class="text-capitalize"  style="display: flex; align-items: center;">{{feedback.User}}</p>
							</div>
							<div class="col-md-7">
								<p><strong style="cursor:pointer;" (click)="this.adminViewFeedback=false;ViewFeedback(feedback)">{{feedback.Title}}</strong>
									<span> - {{feedback.CreatedDate | date:'dd MMM yyyy'}}</span>	
									<span class="right label label-primary">{{feedback.Status}}</span>	
								</p>
								<p class="text-capitalize" style="  text-align: justify;text-justify: inter-word;">{{feedback.Feedback}}</p>
								<div class="row">
									<div class="col-md-3" style="cursor:pointer;" *ngIf="feedback.IsVoted" >
										<span><i class="fa fa-thumbs-up" style="color:green;font-size:24px" ></i></span>
										<span>{{feedback.VoteCount}} votes </span>
									</div>
									<div class="col-md-3" style="cursor:pointer;" *ngIf="!feedback.IsVoted" >
										<span><i class="fa fa-thumbs-o-up" style="color:green;font-size:24px" (click)="vote(feedback._id)"></i></span>
										<span>{{feedback.VoteCount}} votes </span>
									</div>
									<div class="col-md-5" style="cursor:pointer;" (click)="this.adminViewFeedback=false;ViewFeedback(feedback)">
										<span><i class="fa fa-comment-o" style="color:black;font-size:14px"  ></i></span>
										<span>{{feedback.Comments.length}} Comments</span>	
									</div>
									<div class="col-md-4" style="cursor:pointer;">
										<a href="javascript:;" style="color:black;" (click)="this.adminViewFeedback=false;ViewFeedback(feedback)"><i class="fa fa-reply" style="font-size: 20px" ></i>Reply</a> 
										<a class="right" href="javascript:;" style="color:black;" (click)="openDeleteFeedbackModal(feedback._id)"><i class="fa fa-trash-o" style="font-size:20px"></i> Delete</a> 
									</div>
								</div>
							</div>
							<div class="col-md-3">
								<select id="selstatus" (change)="status($event)">
									<option disabled>Select Status </option>
									<option value="UnderReview">Under review</option>
									<option value="Planned">Planned</option>
									<option value="Started">Started</option>
									<option value="Completed">Completed</option>
									<option value="Declined">Declined</option>
								</select>
								<input type="submit" class="btn btn-sm btn-color right rounded" value="Change Status" (click)="changeStatus(feedback._id)">
							</div>
						</div>
						<hr>
						 
					</div>
					<div class="modal fade" id="deleteFeedbackModal" role="dialog">
						    <div class="modal-dialog modal-sm">
						      <div class="modal-content">
						        <div class="modal-header">
						          <button type="button" class="close" data-dismiss="modal">&times;</button>
						          <h4 class="modal-title">Delete Modal</h4>
						        </div>
						        <div class="modal-body">
						          <p>Are you sure to Delete this feedback ?</p>
						        </div>
						        <div class="modal-footer">
						          <button type="button" class="btn btn-sm btn-color rounded" data-dismiss="modal" >Cancel</button>
						          <button type="button" class="btn btn-sm btn-color rounded" (click)='Delete()'>Delete</button>
						        </div>
						      </div>
						    </div>
						  </div>
				</div>
				<div class="row"  *ngIf="adminViewFeedback">
					<nav class="pagination clear" *ngIf = "totalPages > 0">
						<a href="javascript:;" (click)="NewIdea_PreviousPage()"><i class="fa fa-angle-left"></i></a>
						<a href="javascript:;" *ngFor="let page of pages" [class]="currentPage==page?'current':''" (click)="selectnewPage(page)">{{page}}</a>
						<a href="javascript:;" (click)="NewIdea_NextPage()"><i class="fa fa-angle-right"></i></a>
				</nav>
					
				
				</div>
			</div>
			<div class="row" *ngIf="!adminViewFeedback">
				<div class="col-md-10 col-md-offset-1">
					<div class="row"  style="margin-left: 0px;">
					<div class="form-group">
						<button type="button" class="btn btn-sm btn-color" (click)="this.adminViewFeedback = true;">
						<span class="fa fa-arrow-left" aria-hidden="true"></span></button>
					</div>
					<p><strong>{{selectedFeedback.Title}}</strong></p><span class="right label label-primary">{{selectedFeedback.Status}}</span>
					<p class="text-capitalize" style="  text-align: justify;text-justify: inter-word;">{{selectedFeedback.Feedback}}</p>
					<p><a href="javascript:;">{{selectedFeedback.CreatedDate | date:'dd MMM yyyy HH:mm:ss'}}</a></p>
					<div class="row">
						<div class="col-md-3" style="cursor:pointer;" *ngIf="selectedFeedback.IsVoted" >
							<span><i class="fa fa-thumbs-up" style="color:green;font-size:24px" ></i></span>
							<span>{{selectedFeedback.VoteCount}} votes </span>
						</div>
						<div class="col-md-3" style="cursor:pointer;" *ngIf="!selectedFeedback.IsVoted" >
							<span><i class="fa fa-thumbs-o-up" style="color:green;font-size:24px"></i></span>
							<span>{{selectedFeedback.VoteCount}} votes </span>
						</div>
						<div class="col-md-7">
							<span><i class="fa fa-comment-o" style="color:black;font-size:14px"></i></span>
							<span>{{selectedFeedback.Comments.length}} Comments</span>	
						</div>
					</div>
					<form name="replyCommentForm" id="replyCommentForm"  #replyCommentForm="ngForm" novalidate>
					<div class="form-group">
						<label for="replyComment">Comment : </label>
						<textarea class="form-control" rows="3" id="replyComment" name="replyComment" [(ngModel)]=" this.comment" #replyComment="ngModel" required></textarea>
						<div *ngIf="replyComment.errors && (replyComment.dirty || replyComment.touched)" class="alert alert-danger">
							<div [hidden]="!replyComment.errors.required">
								Enter your Comment
							</div>
						</div>
					</div>
					<input type="submit" class="btn btn-sm btn-color right rounded" [disabled]="!replyCommentForm.form.valid" value="Post" (click)="postComment(selectedFeedback._id)">
					</form>
				</div>
				<hr>
				<div style="margin-left: 0px;" *ngFor="let getcomment of commentArray;let i=index;">
					<div class="row">
						<div class="col-md-1">
							<i class="fa fa-user" aria-hidden="true" style="font-size:60px;"></i>
						</div>
						<div class="col-md-11">
							<span class="right"  style="color:red;" (click)="openDeleteCommentModal(selectedFeedback._id,getcomment._id)"><i class="fa fa-trash-o" style="font-size: 14px"></i> Delete</span>
							<p><strong>{{getcomment.CommentedUser}}</strong> commented - {{getcomment.CreatedDate | date:'dd MMM yyyy HH:mm:ss'}}</p>
							<p class="text-capitalize">{{getcomment.Comment}}</p>
							
						</div>
						
					</div>
					<hr>
				</div>
				<div class="modal fade" id="deleteCommentModal" role="dialog">
						    <div class="modal-dialog modal-sm">
						      <div class="modal-content">
						        <div class="modal-header">
						          <button type="button" class="close" data-dismiss="modal">&times;</button>
						          <h4 class="modal-title">Delete Modal</h4>
						        </div>
						        <div class="modal-body">
						          <p>Are you sure to Delete this Comment ?</p>
						        </div>
						        <div class="modal-footer">
						          <button type="button" class="btn btn-sm btn-color rounded" data-dismiss="modal" >Cancel</button>
						          <button type="button" class="btn btn-sm btn-color rounded" (click)='DeleteComment()'>Delete</button>
						        </div>
						      </div>
						    </div>
						  </div>
								
				</div>
			</div>
			
		</div> -->
	</section>
</div>