<div>
    <h2 class="heading relative heading-small uppercase bottom-line style-2 left-align mb-0 pt-20">Return Reason</h2>
</div>
<div class="tabs mb-50">

	<!-- <ul class="nav nav-tabs">

		<li [routerLinkActive]="['active']">
			<a href="javascript:;" [routerLink]="['attribute']">Attribute</a>
		</li>

		<li [routerLinkActive]="['active']">
			<a href="javascript:;" [routerLink]="['category']">Category</a>
		</li>
	</ul> -->
	<!-- end tabs -->


	<!-- tab content -->
	<div class="tab-content">
		<router-outlet></router-outlet>
	</div>
	<!-- end tab content -->
</div>