<!-- Our Policies -->
<section class="Clsour-policies">
	<div class="container">
		<div class="Clstitle-cover">
			<h2 class="relative bottom-line style-2 left-align mb-40 mt-50">Policies for  our community</h2>	
		</div>	
		<div class="row">
			<div class="col-sm-3 col-xs-6 mb-30">
					<a href="javascript:;" [routerLink]="['buyer-policy']">
						<div class="service-item-box Clsicon-box text-center">
						<i class="fa fa-users"></i>
						<h3 class="uppercase">Terms for Buyers</h3>
						</div>
					</a>		
			</div>
			<div class="col-sm-3 col-xs-6 mb-30">
				<a href="javascript:;" [routerLink]="['seller-policy']">
					<div class="service-item-box Clsicon-box text-center">
						<i class="fa fa-briefcase" aria-hidden="true"></i>
						<h3 class="uppercase">Terms for Sellers</h3>
					</div>
				</a> 				
			</div>
			<div class="col-sm-3 col-xs-6 mb-30">
			<a href="javascript:;" [routerLink]="['thirdparty-policy']">
				<div class="service-item-box Clsicon-box text-center">
					<i class="fa fa-user-plus" aria-hidden="true"></i>
					<h3 class="uppercase">Terms of Use</h3>
				</div>		
			</a>
			</div>
			<div class="col-sm-3 col-xs-6 mb-30">
			<a href="javascript:;" [routerLink]="['privacy-policy']">
				<div class="service-item-box Clsicon-box text-center">
					<i class="fa fa-lock" aria-hidden="true"></i>
					<h3 class="uppercase">Privacy Policy</h3>
				</div>		
			</a>
			</div>
		</div>
	</div>
	<div class="router">
		<router-outlet></router-outlet>
	</div>
</section>