<form class="form" id="mailContentForm" #mailContentForm="ngForm">
    <div class="form-group">
        <h2 class="heading relative heading-small uppercase bottom-line style-2 left-align mb-0 pt-20">Messages</h2>
    </div>
    <div class="form-group">
        <label for="MessagesToBuyer">Messages to Buyer:</label>
        <textarea class="form-control mb-0" id="MessagesToBuyer" [(ngModel)]="this.shopSettingModel.Messages.MessagesToBuyer"
            name="MessagesToBuyer" #MessagesToBuyer="ngModel"  maxlength="500"></textarea>
            <div class="text-right" style="margin-bottom:15px"><label>{{this.shopSettingModel.Messages.MessagesToBuyer.length}}/500</label></div>
    </div>
    <div class="form-group">
        <label for="ShopAnouncement">Shop Anouncement:</label>
        <textarea class="form-control mb-0" id="ShopAnouncement" [(ngModel)]="this.shopSettingModel.Messages.ShopAnouncement"
            name="ShopAnouncement" #ShopAnouncement="ngModel"  maxlength="500"></textarea>
            <div class="text-right" style="margin-bottom:15px"><label>{{this.shopSettingModel.Messages.ShopAnouncement.length}}/500</label></div>
    </div>
    <!-- <div class="form-group">
        <label for="MessagesToDigitalProductsBuyers">Messages to Digital Products Buyers:</label>
        <textarea class="form-control mb-0" id="MessagesToDigitalProductsBuyers" [(ngModel)]="this.shopSettingModel.Messages.MessagesToDigitalProductsBuyers"
            name="MessagesToDigitalProductsBuyers" #MessagesToDigitalProductsBuyers="ngModel"  maxlength="500"></textarea>
            <div class="text-right" style="margin-bottom:15px"><label>{{this.shopSettingModel.Messages.MessagesToDigitalProductsBuyers.length}}/500</label></div>
    </div>
    <div class="form-group">
        <label for="ReceiptInfo">Receipt Info:</label>
        <textarea class="form-control mb-0" id="ReceiptInfo" [(ngModel)]="this.shopSettingModel.Messages.ReceiptInfo" name="ReceiptInfo"
            #ReceiptInfo="ngModel" maxlength="500"></textarea>
            <div class="text-right" style="margin-bottom:15px"><label>{{this.shopSettingModel.Messages.ReceiptInfo.length}}/500</label></div>
    </div> -->
    <div class="form-group">
        <input type="button" class="btn left btn-sm btn-color" value="Save" (click)="saveMessageContent()" [disabled]="!mailContentForm.form.valid">
    </div>
</form>