:root {
    --primary-color: #ff6f61;
    --primary-hover-color: #fa4b3a;
    --seconday-color: #fa828e;
    --lighter-color: #f6eceb;
    --primary-text-color: #222;
    --secondary-text-color: #fff;
    --primary-border-color: #e8e8e8;
    --sub-text-color: #636e72;
    --secondary-bg-color: #f8f8f8;
    --error-color: #ff0000;
    --success-color: #29b966;
    --freedelivery-color: #FFEB3B;
    --tag-color: #01579b;
  }