.loader-mask {
	visibility: hidden;
	opacity: .7;
	-moz-opacity: .7;
	-khtml-opacity: .7
}
.termText {
	color: black!important
}
.profile-menu-dropdown {
	z-index: 2000!important
}
.product-not-found {
	background-color: #f4f4f4
}
.cart-badge {
	position: absolute;
	/*top: 5px;
	right: 6px;*/
	top: 10px;
	right: -6px;
	background: #2cb8a5;
	padding: 0 3px
}
.cart-heading-space {
	padding: 2.5%;
	padding-left: 6%
}
.text-truncate {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}
.navigation-menu-border {
	border-top: 1px solid #e1e3df;
	border-bottom: 1px solid #e1e3df;
	width: 100%
}
.fav-overlay {
	display: none!important
}
.img-hover:hover .product-add-to-wishlist.fav-overlay {
	display: block!important
}
.p-5 {
	padding: 5%
}
.p-1 {
	padding: 1%
}
.pr-5 {
	padding-right: 5%
}
.pl-7 {
	padding-left: 7%
}
.pl-2 {
	padding-left: 2%
}
.pt-2 {
	padding-top: 2%
}
.pt-7 {
	padding-top: 7%
}
.header-link:hover,
.header-link {
	color: white!important
}
.quantity-minus {
	border-left: 0;
	width: 28px;
	height: 39px;
	background-color: #fff;
	border: 1px solid #e0e0e0;
	font-size: 22px;
	float: left
}
.quality-minus {
	border-left: 0;
	margin-left: 10px;
	width: 28px;
	height: 30px;
	background-color: #fff;
	border: 1px solid #e0e0e0;
	float: left
}
.quantity-plus {
	border-left: 0;
	width: 28px;
	height: 39px;
	background-color: #fff;
	border: 1px solid #e0e0e0;
	font-size: 22px;
	float: left
}
.quality-plus {
	border-left: 0;
	width: 28px;
	height: 30px;
	background-color: #fff;
	border: 1px solid #e0e0e0;
	float: left
}
textarea {
	resize: vertical
}
.app-header {
	background-color: #fff;
	border-bottom: 1px #ddd solid;
	margin-top: 1%;
	padding-bottom: 1.5%
}
.forum-button-title {
	font-size: 12px;
	color: #2cb8a5;
	font-weight: bold
}
.forum-form-title {
	font-size: 18px;
	color: #2cb8a5;
	font-weight: bold
}
.posting-guidlines {
	color: #fff!important;
	border: 1px solid black;
	padding: 4%;
	text-align: justify;
	background-color: #b9dfd9
}
.search-width {
	width: 160%
}
.arrow-purchase-back {
	float: right;
	margin-top: -4%
}
.search-width-mobile {
	width: 110%
}
.single-product-preview-image {
	border: 1px solid #d3d3d3!important;
	height: 84px!important
}
.cart-size {
	font-size: x-large;
	margin-top: -15%
}
.bg-color {
	background-color: #fff!important
}
.profile-pic-header {
	border-radius: 50%
}
.singleproduct-shop-image-size {
	height: 100px
}
.note-text {
	color: red
}
.model-border {
	border-radius: 2%
}
.m-0 {
	margin: 0
}
.search-icon-featuredShop {
	border: 8px solid transparent!important
}
.m-2 {
	margin: 2%
}
.ml--0 {
	margin-left: -0.8%
}
.pd-15 {
	padding: 15px!important
}
.mr-4 {
	margin-right: 4%
}
.mr-1 {
	margin-right: 1%
}
.mr-2 {
	margin-right: 2%
}
.mr-0 {
	margin-right: 0
}
.mt-10 {
	margin-top: 10%
}
.ml-2 {
	margin-left: -2%!important
}
.mt-1 {
	margin-top: -1%
}
.ml-5 {
	margin-left: -5%
}
.ml-0 {
	margin-left: 0
}
.ml--5 {
	margin-left: 5%
}
.mt--1 {
	margin-top: 1%
}
.ml-1 {
	margin-left: -1%
}
.ml--1 {
	margin-left: 1%
}
.ml-3 {
	margin-left: -3%!important
}
.mt-30 {
	margin-top: 30px
}
.mt-25 {
	margin-top: -25%
}
.ml-8 {
	margin-left: 8.5%!important
}
.mt-5 {
	margin-top: 5px!important
}
.mt-4 {
	margin-top: -4%!important
}
.mt-2 {
	margin-top: 2%!important
}
.mt--2 {
	margin-top: -2%!important
}
.mt-0 {
	margin-top: .5%!important
}
.mt-3 {
	margin-top: 3px
}
.mt--3 {
	margin-top: 3%
}
.mt--4 {
	margin-top: 4%
}
.mt-6 {
	margin-top: -6%!important
}
.mt-7 {
	margin-top: 7%!important
}
.mt-8 {
	margin-top: -8%!important
}
.mb-5 {
	margin-bottom: 5%!important
}
.mb-4 {
	margin-bottom: -4%
}
.mb-2 {
	margin-bottom: -2%!important
}
.mb--5 {
	margin-bottom: -5%
}
.mb--7 {
	margin-bottom: -7%
}
.pt-1 {
	padding-top: 1%
}
.tp-0 {
	top: 0
}
.medium-font {
	font-size: medium
}
/*img:hover {
	border: 2px solid grey!important
}*/
.trash-icon {
	margin-right: 20%
}
.product-count {
	margin-top: 10px;
	height: 84px;
	width: 84px;
	border: 1px solid #d3d3d3;
	text-align: center;
	margin-left: 15px
}
.shop-owner-image {
	width: 15%
}
.danger-accept-agrement {
	padding: 6px 0 6px 44px!important
}
.forgot-font-color {
	color: white!important
}
.shop-banner-image {
	/* margin-left: 1%;
	padding-right: 2% */
}
.sliderBannerCustom {
	height: 310px!important
}
.slider-inline-height {
	overflow: visible;
	height: 310px!important;
	width: 1349px;
	left: 0
}
.fb-button {
	background-color: #3b5998;
	text-transform: none;
	color: white
}
.fb-button:hover {
	background-color: #3b5998;
	text-transform: none;
	color: white!important
}
.google-button {
	background-color: #db4a39;
	text-transform: none;
	color: white
}
.google-button:hover {
	background-color: #db4a39;
	text-transform: none;
	color: white!important
}
.img-hover img {
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all .3s ease;
	position: relative
}
.img-hover img:hover {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translateZ(0) scale(1.20);
	-moz-transform: scale(1.20);
	-ms-transform: scale(1.20);
	-o-transform: translatZ(0) scale(1.20);
	transform: translatZ(0) scale(1.20)
}
.img-hover:hover:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	width: 30px;
	height: 30px
}
.completer-holder .completer-input {
	height: inherit;
	border: 0
}
.completer-dropdown {
	width: 100%!important;
	left: 0
}
.completer-list-item {
	width: 90%!important;
	left: 0
}
.match-class {
	color: #2cb8a5!important
}
.select2-container {
	width: 100%!important
}
.review-starticon-size {
	font-size: smaller
}
.review-spacing {
	margin-top: -3%;
	margin-bottom: -4%
}
.star-icon:before {
	color: #000!important;
	content: attr(data-icon)" ";
	position: absolute;
	left: 0;
	overflow: hidden;
	width: 0
}
[data-icon]:before {
	font-family: ElegantIcons;
	content: attr(data-icon);
	speak: none;
	font-weight: 400;
	font-variant: normal;
	text-transform: none;
	line-height: 1.4;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}
.forcefullwidth_wrapper_tp_banner {
	height: 310px;
	cursor: pointer
}
.image-size {
	height: 172px!important;
	width: 215px!important;
	text-align: center
}
.image-size img {
	display: block;
	max-height: 172px;
	height: 172px
}
.work-item {
	/* height: 172px!important; */
	text-align: center;
	width: 100px;
}
.work-item img {
	display: block;
	max-width: 100%;
	/* max-height: 172px;
	height: 172px */
}
.worksitem {
	height: 200px!important
}
.threecols {
	height: 270px!important
}
.maxheight {
	max-height: 200px!important
}
.fs-20 {
	font-size: 20px!important
}
.zgroo-search-input {
	box-shadow: 0 0 0 1px #121212 inset!important;
	border-radius: 6px 0 0 6px!important;
	border: 1px solid #121212!important
}
.zgroo-search-bar .input-group-addon {
	background-color: #121212;
	border: 1px solid #121212;
	color: #fff;
	border-radius: 0 6px 6px 0;
	font-weight: bold
}
.searchsize {
	width: 100%
}
.zgroo-search-bar .form-control {
	box-shadow: none;
	border-radius: 0
}
.three-column-height {
	height: 359px!important
}
.navbar {
	min-height: 0!important
}
.logo-wrap>a {
	height: 20px!important;
	padding-top: 10px!important
}
/*.navbar-nav>li>a {
	line-height: 52px!important
}*/
.shop_table tr td {
	vertical-align: top!important
}
.custom-swatch {
	height: 20px!important;
	width: 20px!important;
	margin-bottom: 10px
}
.quantity .input-text.qty {
	float: none;
	width: 60px
}
.product-add-to-wishlist {
	position: absolute;
	right: 20px;
	top: 5px
}
.well-sm {
	margin-left: 0;
	margin-right: 0;
	padding: 9px;
	border-radius: 3px;
	padding-bottom: 0
}
.statistic span {
	font-size: 30px;
	font-weight: 300;
	font-family: "Montserrat", sans-serif;
	color: #121212
}
.counter-text {
	margin-bottom: 0;
	margin-left: -7px
}
.main-wrap {
	background-color: #fff;
	color: #fff;
	margin-top: 20%;
	display: flex;
	justify-content: center;
	align-items: center
}
#cssLoader1.main-wrap .child-common {
	width: 8px;
	height: 50px;
	margin-right: 3px;
	background-color: #2cb8a5;
	-webkit-animation: animate1 1s infinite;
	animation: animate1 1s infinite;
	float: left
}
#cssLoader1.main-wrap .child1 {
	margin-right: 3px
}
#cssLoader1.main-wrap .child10 {
	-webkit-animation-delay: .9s;
	animation-delay: .9s
}
#cssLoader1.main-wrap .child9 {
	-webkit-animation-delay: .8s;
	animation-delay: .8s
}
#cssLoader1.main-wrap .child8 {
	-webkit-animation-delay: .7s;
	animation-delay: .7s
}
#cssLoader1.main-wrap .child7 {
	-webkit-animation-delay: .6s;
	animation-delay: .6s
}
#cssLoader1.main-wrap .child6 {
	-webkit-animation-delay: .5s;
	animation-delay: .5s
}
#cssLoader1.main-wrap .child5 {
	-webkit-animation-delay: .4s;
	animation-delay: .4s
}
#cssLoader1.main-wrap .child4 {
	-webkit-animation-delay: .3s;
	animation-delay: .3s
}
#cssLoader1.main-wrap .child3 {
	-webkit-animation-delay: .2s;
	animation-delay: .2s
}
#cssLoader1.main-wrap .child2 {
	-webkit-animation-delay: .1s;
	animation-delay: .1s
}
@-webkit-keyframes animate1 {
	50% {
		-ms-transform: scaleY(0);
		-webkit-transform: scaleY(0);
		transform: scaleY(0)
	}
}
@keyframes animate1 {
	50% {
		-ms-transform: scaleY(0);
		-webkit-transform: scaleY(0);
		transform: scaleY(0)
	}
}
.swatch-blue {
	background-color: #00f
}
.swatch-yellow {
	background-color: yellow
}
.swatch-orange {
	background-color: #ffa500
}
.swatch-violet {
	background-color: violet
}
.swatch-purple {
	background-color: #800080
}
.swatch-almond {
	background-color: #ffebcd
}
.swatch-amber {
	background-color: #ffc200
}
.swatch-grey {
	background-color: grey
}
.product-upload-image {
	font-size: 20px!important
}
.sortable:after {
	font-family: FontAwesome;
	padding-left: 5px;
	content: "\f0dc";
	color: #ddd
}
.tag-group {
	white-space: nowrap;
	position: relative;
	display: inline-block;
	margin-right: 5px
}
.tag-group .tag-label {
	background-color: #fff;
	border: 1px solid #e0e0e0;
	font-size: 16px;
	float: left;
	border-right: 0;
	padding: 5px 10px 5px 10px;
	text-transform: capitalize
}
.tag-group .tag-close {
	background-color: #fff;
	border: 1px solid #e0e0e0;
	font-size: 16px;
	float: right;
	padding: 5px 10px 5px 10px
}
.croppie-container .cr-image {
	position: relative
}
.promo-banner a {
	background-color: #fff!important
}
.product-list-widget img {
	width: 84px;
	height: 64px;
	object-fit: fill;
	float: left;
	margin-right: 17px;
	display: inline-block;
	object-position: right
}
.shop-icon img {
	max-height: 172px;
	width: 100%;
	object-fit: cover
}
.product-fluid {
	margin-left: 20px;
	margin-right: 20px
}
.cart-select-new-address {
	border: 1px dashed;
	display: flex;
	height: 200px;
	align-items: center;
	text-align: center;
	justify-content: center
}
.ammount::first-letter {
	padding-right: .3em
}
.cart-shippingaddress-container {
	border: 1px solid #e0e0e0;
	padding: 20px 20px;
	margin: 0;
	color: #7a7a7a
}
.cart-shippingaddress-container p {
	padding-left: 15px
}
.product-cart-table-width {
	width: max-content
}
.well-width {
	margin-left: 0;
	margin-right: 0
}
.lineheight {
	margin-bottom: 5%!important
}
.purchase_container {
	color: #7a7a7a;
	margin: 10px 10px
}
.purchase_title {
	background-color: #f5f5f5;
	padding: 10px 20px
}
.purchase_body {
	margin: 0;
	padding: 10px 20px
}
.shopBanner_img {
	width: 100%;
	height: 350px;
	background-size: 100% 100%
}
.pagination_font {
	color: black
}
.deletebtn_color {
	background-color: #d9534f
}
.icondft_fsize {
	font-size: 14px
}
.message_color {
	color: black
}
.message_lineheight {
	line-height: 1
}
.selectedmsg_align {
	text-align: justify;
	text-justify: inter-word
}
.address_container {
	border: 1px dashed;
	display: flex;
	height: 230px;
	align-items: center;
	text-align: center;
	justify-content: center
}
.add_icon {
	border: 1px dashed;
	display: flex;
	min-height: 170px;
	align-items: center;
	text-align: center;
	justify-content: center
}
.add_address_icon {
	font-size: 24px;
	color: black
}
.borderless td,
.borderless th {
	border: none!important
}
.cursor_pointer {
	cursor: pointer
}
.step {
	position: relative;
	min-height: 32px
}
.step>div:first-child {
	position: static;
	height: 0
}
.step>div:last-child {
	margin-left: 32px;
	padding-left: 16px
}
.circle {
	background: grey;
	width: 36px;
	height: 36px;
	line-height: 36px;
	border-radius: 20px;
	position: relative;
	color: white;
	text-align: center
}
.line {
	position: absolute;
	border-left: 1px solid gainsboro;
	left: 18px;
	right: 1px;
	top: 35px
}
.step:last-child .line {
	display: none;
	float: left
}
.title {
	line-height: 26px;
	font-family: Open Sans;
	font-size: 14px;
	margin-left: 5%;
	margin-top: 5px
}
.align {
	padding-top: 50px
}
.forum-Question-container {
	border-bottom: 1px solid #e0e0e0;
	border-radius: 25px;
	padding: 5px;
	color: #7a7a7a
}
.icon_default {
	font-size: 15px;
	color: black
}
.pinIcon {
	font-size: 17px
}
.unpinIcon {
	font-size: 17px;
	color: black
}
.list-container {
	align-items: center;
	text-align: center;
	justify-content: center;
	border: 1px solid #e0e0e0;
	border-radius: 25px;
	padding: 3px;
	color: #7a7a7a;
	background-color: #ececec
}
.centerAlign {
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center
}
.bottom_border {
	border-bottom: 1px solid #e0e0e0
}
.underline_hover:hover {
	text-decoration: underline;
	cursor: pointer
}
.model_container {
	min-height: 65px;
	max-height: none;
	border-bottom: 1px solid #e0e0e0;
	color: black;
	border-radius: 6px;
	margin-bottom: 1px
}
.model_container_pin {
	min-height: 65px;
	max-height: none;
	background-color: #f5f5f5;
	border-bottom: 1px solid #e0e0e0;
	color: black;
	border-radius: 6px;
	margin-bottom: 1px
}
.contentAlignCenter {
	vertical-align: middle;
	padding: 10px 10px
}
.centerDisplay {
	display: flex;
	vertical-align: middle;
	text-align: center
}
.thread_container {
	border: 1px solid #e0e0e0;
	color: #7a7a7a;
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 20px 25px
}
.table_vertical_align {
	vertical-align: middle!important
}
#ul_horizantal li {
	display: inline;
	float: left;
	padding: 5px
}
.response_view {
	align-items: center;
	text-align: center;
	justify-content: center;
	border: 1px solid #e0e0e0;
	border-radius: 25px;
	color: #7a7a7a;
	background-color: #ececec
}
.Forum-View {
	align-items: center;
	text-align: center;
	justify-content: center;
	border-radius: 5px;
	padding: 3%;
	margin: 3% 0;
	color: #7a7a7a;
}
.Forum-Select {
	align-items: center;
	text-align: center;
	justify-content: center;
	border-radius: 5px;
	padding: 3%;
	margin: 3% 0;
	color: #7a7a7a;
	background-color: white
}
.favicon_color {
	color: #7a7a7a
}
.Forum-Well {
	vertical-align: middle!important;
	align-items: center;
	text-align: center;
	justify-content: center;
	border: 1px solid #e0e0e0;
	border-radius: 5px;
	padding: 20px;
	color: #7a7a7a;
	background-color: #f4f2f2
}
.shopbanner_maxheight {
	height: 280px!important
}
.mleft {
	margin-left: 2%
}
#custom-search-input {
	padding: 3px;
	border: solid 1px #e4e4e4;
	border-radius: 6px;
	background-color: #fff
}
#custom-search-input input {
	border: 0;
	box-shadow: none
}
#custom-search-input button {
	margin: 2px 0 0 0;
	background: 0;
	box-shadow: none;
	border: 0;
	color: #666;
	padding: 0 8px 0 10px;
	border-left: solid 1px #ccc
}
#custom-search-input button:hover {
	border: 0;
	box-shadow: none;
	border-left: solid 1px #ccc
}
#custom-search-input .glyphicon-search {
	font-size: 14px
}
.under {
	color: #2cb8a5
}
.fav_iconTrue {
	color: #2cb8a5
}
.fav_iconFalse {
	color: #f2f2f2
}
#gallery-popup {
	pointer-events: none
}
#gallery-expand-button {
	position: absolute;
	color: #808080;
	font-size: 24px;
	bottom: 18%;
	left: 30px
}
#gallery-prev-button {
	bottom: 50%;
	position: absolute;
	color: #808080;
	font-size: 24px;
	left: 20px
}
#gallery-next-button {
	right: 20px;
	position: absolute;
	bottom: 50%;
	font-size: 24px;
	color: #808080
}
@media(min-width:992){.logo-container{padding-left:15px;padding-right:15px;position:absolute;margin-top:200%}}.dropdown-menu-no-border{border:none!important}.btn.btn-stroke:focus{border-color:#2cb8a5!important;background-color:transparent;color:#2cb8a5}.btn.btn-stroke-color{border-color:#2cb8a5;background-color:transparent;color:#2cb8a5}.btn.btn-stroke-color:hover{border-color:#2cb8a5;color:#FFF;background-color:#2cb8a5}.btn.btn-stroke-color:active{border-color:#2cb8a5;background-color:transparent;color:#2cb8a5}.btn.btn-stroke-color:focus{border-color:#2cb8a5;background-color:transparent;color:#2cb8a5}