html, body {
  font-weight: 400;
  font-style: normal;
  letter-spacing: .8px;
  color: var(--primary-text-color);
  font-family: 'Montserrat', sans-serif;
}
a:hover,
a:focus {
  text-decoration: none;
  color: var(--primary-color);
}
a {
  color: var(--primary-text-color);
}
::-moz-selection {
	color: var(--secondary-text-color);
	background: var(--primary-text-color);
}
::-webkit-selection {
	color: var(--secondary-text-color);
	background: var(--primary-text-color);
}
::selection {
  color: var(--secondary-text-color);
  background: var(--primary-text-color);
}
.Clsbtn_space_right {
  margin-right: 10px;
}
.Clsbtn_space_left {
  margin-left: 10px;
}
/* .Clscolor-title h6,
.Clscolor-title {
  color: var(--primary-color);
} */
.well.Clswell{
  background-color: var(--secondary-bg-color);
  border-color: var(--primary-border-color);
  box-shadow: none;
}
.Clstooltip {
  position: relative;
}
.Clstooltip_text {
  display: none;
  position: absolute;
  top: 19px;
  left: 0;
  z-index: 9999;
  padding: 5px 10px;
  font-size: 12px;
  color: var(--secondary-text-color);
  font-weight: 400;
  background-color: var(--primary-text-color);
  min-width: 200px;
  transition: all 250ms ease 0s;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0;
  line-height: 17px;
  text-transform: lowercase;
}
.Clstooltip_text::first-letter {
  text-transform: uppercase;
}
.Clstooltip:hover .Clstooltip_text {
  display: block;
  transition: all 250ms ease 0s;
}
.Clslabel {
  color: #333;
  font-weight: 500;
  font-family: 'Raleway', sans-serif;
  margin-top: 15px;
}
.Clstable_h_scroll {
	min-width: 700px;
}
.Clstable_h_overflow {
	overflow-x: auto;
}
.table.Clstable_header thead tr th {
  background-color: var(--secondary-bg-color);
}
.Clstitle_back_arrow {
  position: absolute;
  top: 0;
  right: 0;
}
.Clsblock_title {
  font-weight: 600;
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
  color: var(--primary-text-color);
}
.Clsadd_icon {
  display: table;
  min-height: 200px;
  border: 1px solid var(--sub-text-color);
  background: var(--secondary-bg-color);
  width: 200px;
  padding: 10px;
  cursor: pointer;
}
.Clsadd_icon_cover p {
  font-weight: 600;
  color: var(--primary-text-color);
}
.Clsadd_icon_cover {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
}
.Clswork-description {
  margin-top: 10px;
}
.Clsedit_icon {
  font-size: 20px;
  margin: 0 10px;
  padding: 5px 12px;
  display: inline-block;
  background: var(--secondary-bg-color);
  border: 1px solid var(--primary-border-color);
  border-radius: 80px;
}
.Clschange_icon {
  font-size: 20px;
  margin: 0 10px;
  padding: 5px 9px;
  display: inline-block;
  background: var(--secondary-bg-color);
  border: 1px solid var(--primary-border-color);
  border-radius: 80px;
}
.Clswork-item .work-overlay {
  max-width: 200px;
}
.Clsproduct_cover img {
  object-fit: cover;
  height: 90px;
  width: 100%;
}
.Clsadd_product {
  position: absolute;
  top: 10px;
  width: 30px;
  text-align: center;
  right: 10px;
  height: 30px;
  background: var(--secondary-text-color);
  border: 1px solid var(--primary-border-color);
  padding-top: 5px;
  border-radius: 20px;
  visibility: hidden;
  padding-left: 1px;
}
.Clsproduct_cover.thumbnail {
  border-radius: 0;
}
.Clsproduct_cover:hover .Clsadd_product {
  visibility: visible;
}
.Clsloader {
  position: absolute;
  width: 200px;
  height: 200px;
  max-height: 200px;
  display: table;
  background: var(--secondary-bg-color);
  border: 1px solid var(--primary-border-color);
}
.Clsloader_cover {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
}
.Clswork-item img {
  display: block;
  max-width: 100%;
  object-fit: cover;
  height: 200px;
  margin: 0;
  width: 200px;
}
.Clswork-item:hover .work-overlay {
  opacity: 1;
  visibility: visible;
}
.Clsback_btn {
  width: 40px !important;
}
.Clsborder {
  border: 1px solid #e8e8e8;
  background: #fff;
  padding: 30px 50px;
  box-shadow: 0px 0px 6px #e8e8e8;
  -webkit-box-shadow: 0px 0px 6px #e8e8e8;
  -moz-box-shadow: 0px 0px 6px #e8e8e8;
}
.Clsproduct_search {
  border: .5px solid var(--primary-border-color);
  position: relative;
  width: 100%;
}
.Clsproduct_search input.form-control {
  padding-left: 10px !important;
  padding-right: 50px !important;
}
.Clsproduct_search .input-group-addon {
  position: absolute;
  width: 39px;
  text-align: center;
  height: 39px;
  right: 0px;
  line-height: 26px;
  border-radius: 0;
}
.Clssell-on-jheaps .Clstitle-cover {
  padding: 10px 0 10px;
}
.Clsborder .mat-placeholder-required {
  display: none;
}
.Clsprice {
	font-weight: 700;
}
.table>thead>tr>th {
  font-weight: 600;
}
textarea.mat-input-element {
  line-height: 34px;
  padding-left: 15px !important;
}
.mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: #333;
}
.mat-form-field-appearance-legacy .mat-form-field-label {
  color: #333;
}
.mat-form-field.mat-focused .mat-form-field-label {
  color: #333;
}
.Clssearch_icon {
  position: absolute;
  top: 25px;
  right: 20px;
}
.Clsfull-width {
	width: 100%;
}
.pad-0 {
  padding: 0 !important;
}
.focused .mat-form-field-label {
  /*change color of label*/
  color: var(--primary-text-color) !important;
 }
.mat-form-field-underline {
  /*change color of underline*/
  background-color: var(--primary-border-color) !important;
  border-color: var(--primary-text-color);
} 
/* .ng-select.ng-select-focused .ng-select-container:after {
  border
} */
.mat-form-field-ripple {
 /*change color of underline when focused*/
 background-color: var(--primary-text-color) !important;
}

.mat-form-field-appearance-legacy.mat-form-field-disabled .mat-form-field-underline {
  background-image: none !important;
}
.Clsform-control {
  background-color: var(--secondary-text-color) !important;
  height: 48px !important;
  border-radius: 0;
  box-shadow: none;
  border: 1px solid var(--primary-border-color);
}
.Clscommon_icon {
  font-size: 20px;
  color: var(--primary-text-color);
}
.Clscommon_btn {
  width: 100%;
  border-radius: 0;
  border: 1px solid var(--primary-border-color);
  background-color: var(--secondary-text-color);
  color: var(--primary-text-color);
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  padding: 12px;
  letter-spacing: 0;
}
.Clscommon_btn_small {
  width: auto;
  border-radius: 0;
  border: 1px solid var(--primary-border-color);
  background-color: var(--secondary-text-color);
  color: var(--primary-text-color);
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  padding: 8px 15px;
  letter-spacing: 0;
  display: inline-block;
}
.Clscommon_btn_small:hover, .Clscommon_fill_small:focus,
.Clscommon_btn:hover, .Clscommon_btn:focus {
  border: 1px solid var(--primary-text-color);
  background-color: var(--secondary-text-color);
  color: var(--primary-text-color);
}
.Clsorder_id {
  width: auto;
  border-radius: 0;
  border: 1px solid var(--primary-color);
  background-color: var(--primary-color);
  color: var(--secondary-text-color);
  font-size: 14px;
  font-weight: 400;
  padding: 8px 15px;
  letter-spacing: 0;
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
}
.Clscancel_order {
  font-weight: 600;
  letter-spacing: 0;
  color: var(--primary-color)
}
.Clscancel_order,
.Clsview_details {
  margin-top: 6px;
  display: inline-block;
  font-weight: 600;
  font-size: 14px;
  text-transform: initial;
  font-family: 'Raleway', sans-serif;
}
.Cls_label {
  font-weight: 600;
  font-size: 14px;
  margin: 10px 0 0;
  font-family: raleway, sans-serif;
  letter-spacing: 0;
  display: block;
}
.clsbtn_arrow {
  font-size: 22px;
  line-height: 16px;
  position: relative;
  top: 3px;
  margin-left: 3px;
}
.modal-header, .modal-footer {
  border: none;
}
.modal-header .close {
  margin-top: -2px;
  font-size: 30px;
  font-weight: 400;
}
.table.table-borderless td, .table.table-borderless th {
  border: 0 !important;
}
.table.table-borderless td {
  padding-bottom: 0;
}
.Clsreviews_list .table.table-borderless td:nth-child(2) {
  padding-left: 0;
  padding-right: 0;
}
.Clsreviews_list progressbar {
  height: 4px;
  margin-top: 9px;
  margin-bottom: 0px;
}
.Clsreviews_list .table.table-borderless td>span {
  display: inline-block;
  width: 9px;
}
.Clsorder_id:hover, .Clsorder_id:focus {
  border: 1px solid var(--primary-color) !important;
  background-color: var(--primary-color) !important;
  cursor: default;
}
.Clsno-results_found h6 {
  font-weight: 400;
}
.Clscommon_btn_fill_small {
  width: auto;
  border-radius: 0;
  border: 1px solid var(--primary-color);
  background-color: var(--primary-color);
  color: var(--secondary-text-color);
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  padding: 8px 15px;
  letter-spacing: 0;
  display: inline-block;
}
.Clscommon_btn_fill {
  width: 100%;
  border-radius: 0;
  border: 1px solid var(--primary-color);
  background-color: var(--primary-color);
  color: var(--secondary-text-color);
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  padding: 12px;
  letter-spacing: 0;
}
.Clscommon_btn_fill_small:hover, .Clscommon_btn_fill_small:focus,
.Clscommon_btn_fill:hover, .Clscommon_btn_fill:focus {
    border: 1px solid var(--primary-hover-color);
    background-color: var(--primary-hover-color);
    color: var(--secondary-text-color);
}
.Clsform_select {
  border-radius: 0 !important;
  box-shadow: none;
  padding: 12px;
  height: 48px;
  margin-bottom: 20px;
}
.Clsform_select:focus {
  outline: 0;
  border-color: var(--primary-text-color);
  box-shadow: none;
}
input[disabled] {
  min-width: 55px;
}
mat-form-field input[type=date], 
mat-form-field input[type=email], 
mat-form-field input[type=number], 
mat-form-field input[type=password], 
mat-form-field input[type=search], 
imat-form-field nput[type=tel], 
mat-form-field input[type=text], 
mat-form-field input[type=url], 
mat-form-field select, 
mat-form-field textarea {
  border: none !important;
  margin: 0;
}
input[type=date], 
input[type=email], 
input[type=number], 
input[type=password], 
input[type=search], 
input[type=tel], 
input[type=text], 
input[type=url], 
select, 
textarea {
  height: 39px;
  border: 1px solid var(--primary-border-color);
  background-color: transparent;
  width: 100%;
  margin-bottom: 16px;
  padding: 0;
  box-shadow: none;
  border-radius: 0;
  transition: border-color .3s ease-in-out;
  font-family: 'Montserrat', sans-serif;
}
.errspan {
  float: right;
  margin-right: 9px;
  margin-top: -50px;
  position: relative;
  z-index: 6;
  color: var(--error-color);
  font-size: 13px;
  font-weight: 600;
  position: relative;
}
.Clstable thead tr th {
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  color: #121212;
  text-transform: uppercase;
  letter-spacing: .5px;
  font-weight: 600;
}
/* .Clstable tbody tr:nth-child(odd) {
  background: var(--secondary-bg-color);
}
.Clstable tbody tr:nth-child(even) {
  background: var(--lighter-color);
} */
.Clstable .table:not(.table-bordered):not(.table-striped)>thead>tr {
  border-bottom: 2px solid var(--primary-border-color);
}
.nav-tabs>li>a::after {
  background: var(--primary-color);
}
.nav-tabs>li.active>a, 
.nav-tabs>li:hover>a {
  color: var(--primary-color) !important;
}
.errspan a {
  color: var(--primary-color) !important;
}
/* .carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
  width: 100%;
} */
nav.navbar.navbar-default.navbar-static-top {
  margin-bottom: 0;
}
.navbar-default{
  background-color: transparent !important;
  border-color: transparent !important;
}
#navbar {
  border-bottom: 1px solid var(--primary-border-color);
  border-top: 1px solid var(--primary-border-color);
}
#navbar .navbar-nav {
  float: none !important;
  width: 100%;
  text-align: center;
}
#navbar .navbar-nav>li {
  float: none !important;
  display: inline-block;
}
.navbar-brand {
  height: auto !important;
  padding: 15px 15px 0;
}
.Clsheader-search-area {
  margin-top: 8px;
  position: relative;
  margin-bottom: 8px;
}
.Clsheader-search-area .navbar-form {
  padding: 0;
}
.Clsheader-serach-form .navbar-form {
  margin-top: 8px;
  margin-right: -15px;
  margin-bottom: 8px;
  width: 100%;
}
.Clsheader-serach-form .form-group {
  float: left;
}
.navbar-default .navbar-nav>li>a.Clsseller-link {
  text-transform: none;
  line-height: 24px;
}
.Clsheader-search.form-control {
  width: 380px;
  border-radius: 0;
  box-shadow: none;
  border-color: var(--primary-border-color);
  background-color: transparent;
  color: var(--primary-text-color);
  height: 32px;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: .8px;
  border-radius: 3px 0 0 3px;
  box-shadow: 0px 1px 2px #ccc inset;
}
.form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: var(--primary-text-color);
}
.form-control::-moz-placeholder { /* Firefox 19+ */
  color: var(--primary-text-color);
}
.form-control:-ms-input-placeholder { /* IE 10+ */
  color: var(--primary-text-color);
}
.form-control:-moz-placeholder { /* Firefox 18- */
  color: var(--primary-text-color);
}
.profile-menu-dropdown .dropdown-menu {
  right: 0;
  left: auto;
}
button.btn.Clssearch-btn {
  background: var(--primary-text-color);
  padding: 0 !important;
  color: var(--secondary-text-color);
  border-radius: 0 3px 3px 0;
  height: 32px;
  width: 100px;
  float: right;
  letter-spacing: .8px;
}
.completer-row,
.completer-selected-row,
.completer-item-text, 
.completer-row.completer-selected-row {
  width: 100% !important;
}
.completer-row.completer-selected-row {
  /* background: #fb7581; */
}
.completer-item-text {
  padding: 8px;
}
.cart-badge, 
.shopping-cart >span.cart-badge {
  display: block;
  position: absolute;
  color: var(--secondary-text-color);
  width: 17px;
  height: 17px;
  text-align: center;
  line-height: 9px;
  border-radius: 50%;
  font-size: 10px;
  background: var(--primary-color);
  right: 10px;
  padding: 3px;
  top: 4px;
}
.navbar-default .navbar-nav>li.dropdown.open>a:focus.dropdown-toggle,
.navbar-default .navbar-nav>li.dropdown.open>a:hover.dropdown-toggle,
.navbar-default .navbar-nav>li.dropdown.open>a.dropdown-toggle {
  background: transparent;
}
.navbar-default .navbar-nav>li>a {
  color: var(--primary-text-color);
  font-size: 14px;
  text-transform: initial;
  font-weight: 500;
  letter-spacing: .8px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: 'Raleway', sans-serif;
  position: relative;
}
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
  /* color: #fa3c4c !important; */
}
.profile-menu-dropdown a:after {
  visibility: hidden;
}
#displayFirstName {
  text-transform: initial;
}
.dropdown-menu, .nav-cart-container {
  border-top-color: transparent;
  border-top: none;
}
.Clsmasonary {
  padding: 20px 15px 0;
}
.Clsmasonary-grid {
  padding: 0;
}
.Clsmasonary-grid img {
  width: 100%;
}
.Clstitle-cover {
  padding: 20px 0 20px;
}
.Clsshop-catalogue .Clstitle-cover h2 {
  text-transform: initial;
}
.Clstitle-cover-small h2 {
  font-size: 16px;
  font-weight: 600;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 3px;
  cursor: default;
}
.Clstitle-cover-small h2 span {
  text-transform: initial;
  font-weight: 600;
  color: var(--primary-color);
}
.Clstitle-cover h2 {
  font-size: 20px;
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: .5px;
  cursor: default;
}
.Clstitle-cover h2 span {
  text-transform: initial;
  font-weight: 600;
  font-family: 'Raleway', sans-serif;
  color: var(--primary-color);
}
.Clsproduct-cover {
  padding: 5px;
  text-align: center;
}
.Clsproduct-name {
  display: block;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 14px;
  padding: 5px;
}
.Clsproduct-price {
  display: block;
  color: var(--sub-text-color);
  font-weight: 600;
  font-size: 19px;
  padding: 5px;
}
.Clsproduct_quantity .quantity .input-text.qty {
  width: 50px;
  height: 48px;
  border-top: 1px solid var(--primary-border-color) !important;
  border-bottom: 1px solid var(--primary-border-color) !important;
  border-right: none !important;
  border-left: none !important;
  border-color: var(--primary-border-color) !important;
  padding: 0!important;
  color: var(--primary-text-color);
}
.quantity-minus, .quantity-plus {
  color:var(--primary-text-color);
  border-color: var(--primary-border-color);
}
.Clsproduct_quantity .quantity-minus {
  border-left: 0;
  width: 38px;
  height: 48px;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  font-size: 22px;
  float: left;
}
.Clsproduct_quantity .quantity-plus {
  border-left: 0;
  width: 38px;
  height: 48px;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  font-size: 22px;
  float: left;
}
.Clssuccess_text .Clsorder_icon {
  margin-right: 10px;
  position: relative;
  top: 6px;
  font-size: 28px;
}
.Clssuccess_text span {
  display: inline-block;
}
.Clssuccess_text .Clsshopping_btn {
  margin-left: 10px;
}
.Clsproduct-price img {
  padding-right: 5px;
}
.slick-slider.slick-arrows{
  padding-bottom: 60px;
}
.Clsproduct-carousel {
  margin: 0;
}
.Clslink {
  padding: 15px 0;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  line-height: initial;
}
.navbar-nav>li>.dropdown-menu {
  padding: 0;
}
#navbar .dropdown-menu>li:first-child>a {
  border-top: none !important;
}
.dropdown-menu>li:first-child>a {
  border-top: 1px solid var(--primary-border-color);
}
.dropdown-menu>li>a {
  color: var(--primary-text-color);
  text-align: left;
  padding: 15px;
  border-bottom: 1px solid var(--primary-border-color);
  min-width: 170px;
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
  color: var(--primary-color);
  border-bottom: 1px solid var(--primary-border-color);
}
.dropdown-toggle::after {
  display:none;
}
#selectAddress.modal .mat-select {
  border: none;
  box-shadow: none;
  padding-left: 0;
}
.mat-form-field-appearance-legacy .mat-form-field-infix {
  padding: .4375em 0;
}
.Clsmodal .modal-body {
  padding: 15px 50px;
}
.Clsmodal .nav-tabs>li {
  float: none !important;
  display: inline-block;
}
.Clsmodal .nav-tabs>li>a {
  letter-spacing: .8px;
  font-weight: 700;
}
.Clsmodal .nav-tabs>li:last-child a {
  margin: 0;
}
.Clsmodal .nav-tabs>li:last-child {
  border-left: 1px solid var(--primary-border-color);
  padding-left: 30px;
}
.Clsmodal .close {
  position: absolute;
  right: -20px;
  top: -20px;
  font-size: 50px;
  font-weight: 200;
}
.Clsfield_btn.Clscancel-btn {
  bottom: 60px;
}
.Clsradio [type="radio"]:checked,
.Clsradio [type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
.Clsradio [type="radio"]:checked + label,
.Clsradio [type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #333;
}
.Clsradio [type="radio"]:checked + label:before,
.Clsradio [type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 4px;
    width: 18px;
    height: 18px;
    border: 1px solid #e8e8e8;
    border-radius: 100%;
    background: #fff;
}
.Clsradio [type="radio"]:checked + label:after,
.Clsradio [type="radio"]:not(:checked) + label:after {
  content: '';
  width: 8px;
  height: 8px;
  background: #F87DA9;
  position: absolute;
  top: 6px;
  left: 5px;
  border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.Clsradio [type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
.Clsradio [type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
.Clscheckbox {
  position: relative;
}
.Clscheckbox input[type="checkbox"] { 
  display: none; 
  height: 30px;
    width: 30px;
    position: absolute;
    top: 0px;
    left: 1px;
    z-index: 10;
    opacity: 0;
}
.Clscheckbox input[type="checkbox"] + label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 20px;
  font: 14px/20px 'Open Sans', Arial, sans-serif;
  color: var(--primary-text-color);
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.Clscheckbox input[type="checkbox"] + label:last-child { margin-bottom: 0; }
.Clscheckbox input[type="checkbox"] + label:before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid var(--primary-color);
  background-color: var(--secondary-text-color);
  position: absolute;
  left: 0;
  top: 4px;
  opacity: .6;
  -webkit-transition: all .12s, border-color .08s;
  transition: all .12s, border-color .08s;
}
.Clscheckbox input[type="checkbox"]:checked + label:before {
  width: 10px;
  top: 0px;
  left: 5px;
  border-radius: 0;
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  background-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.Clscategory_title {
  margin-top: 10px;
  display: block;
  letter-spacing: 0;
  color: var(--primary-text-color);
}
.Clsng-select.ng-select.ng-select-multiple .ng-select-container.ng-has-value .ng-value-container {
  overflow-y: auto;
  max-height: 79px;
}
.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value {
  background-color: var(--tag-color);
}
.Clsprofile_dp.work-item {
  text-align: center;
  width: 100%;
  margin: auto;
  height: 100%;
  padding-top: 90px;
}
.Clsprofile_dp .work-container {
  margin-bottom: 30px;
  width: 150px;
  margin: auto;
  height: 150px;
  max-width: 100%;
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
}
.Clsprofile_dp .work-img {
  position: relative;
  overflow: hidden;
  padding: 5px;
  border: 1px solid #e8e8e8;
  height: 160px;
}
.Clsprofile_dp .browser {
  max-height: 100%;
}
.add-address {
  border: 1px solid;
  border-color: var(--primary-border-color);
  border-radius: 0;
  display: flex;
  height: 200px;
  align-items: center;
  text-align: center;
  justify-content: center;
  background: var(--secondary-bg-color);
}
.address-box.infocus {
  border-width: 1px !important;
  border-color: var(--primary-color) !important;
  background: #f6eceb;
  box-shadow: none;
  border-radius: 0;
  font-family: 'Montserrat', sans-serif;
  padding: 10px;
  border-style: solid;
}
.address-box address >strong {
  text-transform: capitalize;
  margin-bottom: 0;
  display: block;
  line-height: initial;
  color: #333;
}
.address-box.outfocus {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 0;
  background: #f7f7f7;
  font-family: 'Montserrat', sans-serif;
}
.Clsaddress-title {
  color: var(--primary-text-color);
}
.Clsfield_btn {
  position: absolute;
  bottom: 20px;
  right: 3px;
  display: block;
  padding: 10px 15px;
}
.mat-input-element {
  letter-spacing: .8px;
}
.Clsinformation_box p {
  padding: 6px 15px;
  background: var(--secondary-bg-color);
  color: var(--primary-text-color);
  display: table;
  width: 100%;
}
.Clsinformation_box p small{
  padding: 1px 11px;
  margin-right: 15px;
  background: var(--primary-text-color);
  color: var(--secondary-text-color);
  border-radius: 30px;
  display: inline-block;
}
.Clsinformation_box p span:first-child {
  width: 50px;
}
.Clsinformation_box p span {
  display: table-cell;
  vertical-align: middle;
}
.Clsicon-box i {
  font-size: 60px;
  color: var(--primary-text-color) !important;
}
.Clstool_tip i {
  padding: 3px 7px;
  background: #333;
  color: #fff;
  margin-left: 5px;
  border-radius: 20px;
  text-align: center;
}
.icon-boxes > div.Clsicon-box:last-child {
  border-left: 1px solid #e8e8e8;
}
/* theme style */
.Clssidebar .accordion .panel-default>.panel-heading {
  position: relative;
  background-color: transparent;
  padding: 0;
  border-radius: 0;
  transition: all .2s ease-in-out;
}
.Clssidebar .accordion .panel-default>.panel-heading a {
  text-transform: unset;
  color: var(--primary-text-color);
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0;
}
.Clssidebar .accordion .panel-heading>a>span,
.Clssidebar .accordion .panel-heading>a>span:after {
  background-color: var(--primary-text-color) !important;
}
.Clssidebar label {
  color: var(--primary-text-color);
  font-family: "Montserrat", sans-serif;
  vertical-align: middle;
  font-weight: 500;
}
.Clssidebar .panel-collapse {
  /* background: var(--secondary-bg-color); */
}
.Clssidebar .panel-collapse.in {
  /* background: var(--secondary-bg-color); */
}
.Clssidebar .accordion .panel-default>.panel-heading {
  position: relative;
  background-color: transparent;
  padding: 0;
  border-radius: 0;
  transition: all .2s ease-in-out;
}
.Clssidebar .widget.categories ul li a {
  color: var(--primary-text-color);
  font-weight: 500;
}
.Clssidebar {
  /* background: var(--secondary-bg-color); */
  padding: 15px;
}
.Clsmyaccount .nav.nav-tabs>li>a {
  letter-spacing: .8px;
  font-weight: 600;
  display: inline-block;
}
.Clscommon_btn_fill.Clsgo_btn {
  width: 100%;
  margin-top: 29px;
}
.quantity .Clsform-control.input-text.qty {
  float: none;
  width: 100%;
}
.Clssidebar .panel-heading .accordion-toggle:after {
  content:"" !important;
  height: 20px;
  width: 20px;
  background: url(../img/drop-down-arrow.png) scroll center no-repeat / 12px;
  position: absolute;
  top: 13px;
  right: 15px;
}
.Clssidebar .panel-heading .accordion-toggle.collapsed:after {
  content:"" !important;
  height: 20px;
  width: 20px;
  background: url(../img/drop-up-arrow.png) scroll center no-repeat / 6px;
  position: absolute;
  top: 13px;
  right: 15px;
}
.Clssidebar .list-dividers>li{
  border-bottom: none;
}
.Clssidebar .panel-group {
  background-color: var(--secondary-bg-color);
  padding: 10px;
}
.Clssidebar input[type="checkbox"]+label:before {
  border: 1px solid var(--primary-border-color);
  background-color: var(--secondary-text-color);
}
.Clsheader-search-area .completer-holder .completer-input {
  width: 100%;
  padding: 0;
}
.swatch-bronze {
  background: brown;
}
.swatch-beige {
  background: aqua;
}
.swatch-copper {
  background: burlywood;
}
.swatch-gold {
  background: gold;
}
.swatch-lavender {
  background: lavender;
}
.swatch-lime {
  background: lime;
}
.swatch-magenta {
  background: magenta;
}
.swatch-maroon {
  background: magenta;
}
.product-actions li {
  margin-right: 10px;
  display: inline-block;
  width: 30%;
  float: left;
}
.product-actions li:last-child {
  margin: 0;
}
.Clssidebar .accordion.panel-group .panel {
  border: 0;
  box-shadow: none;
  margin-top: 0;
  background: var(--secondary-bg-color);
  border-radius: 0;
  border: 1px solid var(--secondary-bg-color);
}
.Clssidebar .accordion .panel-default>.panel-heading {
  position: relative;
  background-color: #fff;
  padding: 0;
  border-radius: 0;
  transition: all .2s ease-in-out;
  border: 1px solid #e8e8e8;
}
.Clsbutton_9 {
  background: #fff;
  border: 1px solid #ccc;
  color: #333;
  width: 100%;
  max-width: 150px;
  padding: 8px 12px;
  display: block;
  margin-bottom: 5px;
  margin-left: 5px;
  text-align: center;
  font-size: 13px;
  font-weight: 400;
}
.Clsbutton_9:hover,
.Clsbutton_9:focus {
  border: 1px solid #333;
  color: #333;
}
.ClsimgUp ul li {
  float: left;
}
.Clsborder .mat-select {
  padding: 12px 0;
}
.Clsproduct_quickview {
    position: absolute;
    bottom: -26px;
    width: 100%;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: .8px;
    text-align: center;
    transition: all .3s ease-in-out;
}
.product-item:hover .Clsproduct_quickview {
  bottom: 0;
}
/* Image preview and upload */
.imagePreview {
    width: 80px;
    height: 80px;
    background-position: center center;
    background:url(http://cliquecities.com/assets/no-image-e3699ae23f866f6cbdf8ba2443ee5c4e.jpg);
    background-color:#fff;
    background-size: cover;
    background-repeat:no-repeat;
    display: inline-block;
  /* box-shadow:0px -3px 6px 2px rgba(0,0,0,0.2); */
}
.imgUp
{
  margin-bottom:15px;
}
.del
{
  position:absolute;
  top:0px;
  right:15px;
  width:30px;
  height:30px;
  text-align:center;
  line-height:30px;
  background-color:rgba(255,255,255,0.6);
  cursor:pointer;
}
.imgAdd
{
  width:30px;
  height:30px;
  border-radius:50%;
  background-color:#4bd7ef;
  color:#fff;
  box-shadow:0px 0px 2px 1px rgba(0,0,0,0.2);
  text-align:center;
  line-height:30px;
  margin-top:0px;
  cursor:pointer;
  font-size:15px;
}

/* Image preview and upload */
/* theme style */
.Clsfaq_tab.nav-tabs>li {
  float: none;
  display: inline-block;
}
.Clsfaq_content_cover {
  background: var(--secondary-bg-color);
  padding-top: 50px;
  padding-bottom: 20px;
}
.Clsfaq_title_cover {
  font-size: 50px;
  letter-spacing: 0;
  padding: 15px 0 50px;
}
.Clsfaq_title_cover h1 {
  margin: 0;
  line-height: 36px;
}
.Clsfaq_section {
  padding: 30px 0;
}
.Clsfaq_section_title h1 {
    border-top: 3px solid #333;
    display: inline-block;
}
.Clsfaq_section_content .panel-default>.panel-heading {
  color: #333;
  background-color: transparent;
  border-color: transparent;
  position: relative;
}
.Clsfaq_section_content .panel-default>.panel-heading span:first-child {
  display: inline-block;
  padding-right: 15px;
}
.Clsfaq_section_content .panel-default>.panel-heading .more-less {
  position: absolute;
  top: 13px;
  right: 15px;
}
.Clsfaq_section_content .panel-group .panel.panel-default:first-child {
  border-top: 1px solid #333;
}
.Clsfaq_section_content .panel-group .panel.panel-default {
  border-color: #333;
  background: transparent;
  border-radius: 0;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  box-shadow: none;
}
.Clsfaq_section_content .panel-default>.panel-heading+.panel-collapse>.panel-body {
  border-top-color: transparent;
}
footer {
  border-top: 1px solid var(--primary-text-color);
  margin-top: 20px;
}
footer h3 {
  font-size: 19px;
  font-weight: 600;
}
footer p {
  color: var(--sub-text-color);
  font-size: 14px;
  line-height: 24px;
}
footer hr {
  border-top: 3px solid var(--primary-text-color);
  margin-top: 10px;
  width: 35px;
  margin: 10px 0 20px;
  text-align: left;
}
footer ul li {
  line-height: 28px;
}
footer ul li a {
  color: var(--sub-text-color);
  font-size: 12px;
}
footer ul li a span {
  margin-right: 5px;
}
.Clsfollow-us {
  padding: 20px 0;
  margin: 0;
}
html, body {
  height: 100%;
  margin: 0;
}
.wrapper {
  min-height: 100%;
  margin: 0 auto -228px;
}
footer,
.push {
  height: 228px;
}
/* RESPONSIVE */
@media (min-width: 1860px){
  .Clsproduct-carousel .Clsproduct-cover img {
    height: 200px;
    object-fit: cover
  }
  .Clsproduct-collection .Clsproduct-cover img {
    height: 240px;
    object-fit: cover
  }
}
@media (max-width: 1859px){
  .Clsproduct-carousel .Clsproduct-cover img {
    height: 200px;
    object-fit: cover
  }
  .Clsproduct-collection .Clsproduct-cover img {
    height: 240px;
    object-fit: cover
  }
}
@media (max-width: 1440px){
  .Clsproduct-carousel .Clsproduct-cover img {
    height: 170px;
    object-fit: cover
  }
  .Clsproduct-collection .Clsproduct-cover img {
    height: 200px;
    object-fit: cover
  }
}
@media (max-width: 1370px) {
.Clsproduct-carousel .Clsproduct-cover img {
	height: 157px;
	object-fit: cover
}
.Clsproduct-collection .Clsproduct-cover img {
	height: 188px;
	object-fit: cover
}
}
@media (max-width: 1199px) {
.Clsproduct-carousel .Clsproduct-cover img {
  height: 225px;
  object-fit: cover
}
.Clsproduct-collection .Clsproduct-cover img {
  height: 160px;
  object-fit: cover
}
.product-actions li {
  width: 29%;
}
}
@media (max-width: 1024px) {
.Clsproduct-carousel .Clsproduct-cover img {
  height: 118px;
  object-fit: cover
}
.Clsproduct-collection .Clsproduct-cover img {
  height: 131px;
  object-fit: cover
}
.Clsset_default {
  font-size: 12px;
}
.Clsprofile_dp .work-container {
  height: 136px;
}
}
@media (max-width: 991px) {
.Clsheader-search.form-control {
    width: 190px;
}
.Clsproduct-carousel .Clsproduct-cover img {
  height: 144px;
  object-fit: cover
}
.Clsproduct-collection .Clsproduct-cover img {
  height: 152px;
  object-fit: cover
}
.product-actions li:last-child {
  width: 100%;
}
.product-actions li:nth-child(2) {
  margin: 0 !important;
}
.product-actions li {
  width: 45%;
}
.Clssidebar .accordion .panel-default>.panel-heading a {
  font-size: 11px;
}
.ecommerce-ordering {
  width: 100%;
}
.Clstitle-cover h2 {
  font-size: 16px;
}
.Clssidebar {
  padding: 10px;
}
.panel-group.accordion {
  padding: 0 !important;
}
.Clscontact_msg {
  margin-top: 30px;
}
.Clsprofile_dp .work-container {
  height: 88px;
}
#shopInfoDashForm .br-left {
  border: 0;
  border-top: 1px solid #ccc;
  padding-top: 30px;
}
}
@media (min-width: 768px) {
  #navbar .navbar-nav>li {
    margin: 0 15px;
  }
  #navbar .navbar-nav>li>a {
    padding-left: 0;
    padding-right: 0;
    background-color: transparent;
  }
  #navbar .navbar-nav>li:after {
    content: "";
    width: 100%;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: var(--primary-text-color);
    transition: all 250ms ease 0s;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  #navbar .navbar-nav>li:hover:after {
    transition: all 250ms ease 0s;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  .Clsmob-user,
  .Clsmob-cart {
    display: none;
  }
  .navbar-left {
    padding-left: 15px;
  }
  /* .nav>li>a.shopping-cart {
    padding-right: 0;
  } */
  .navbar-header .nav.navbar-nav.navbar-right {
    padding: 7px 15px 0px 0;
  }
  .Clsmyaccount .address-box.addressstyle {
    widtH: 100% !important;
    height: auto !important;
  } 
  .Clscontact_msg {
    margin-top: 30px;
  }
}
@media (max-width: 767px) {
.Clsheader-search-area {
    width: 100%;
    margin: 0;
    padding: 0 15px;
    border-top: 1px solid var(--primary-border-color);
    border-bottom: 1px solid var(--primary-border-color);
}
form.navbar-form.Clsheader-serach-form {
    border: none;
    margin: 0;
    padding-bottom: 20px;
}
#navbar .navbar-nav .open .dropdown-menu li {
  padding-left: 15px;
  border-bottom: 1px solid var(--secondary-bg-color);
}
#navbar .navbar-nav .open .dropdown-menu li a {
  border-bottom: none !important;
}
.navbar-header .nav.navbar-nav.navbar-right > li:first-child {
  width: 100%;
  text-align: center;
  position: relative;
}
.Clsmob-cart {
  float: right;
  padding: 10px 0px 10px 10px;
  margin-top: 5px;
  margin-right: 15px;
}
.Clsmob-user {
  float: right;
  padding: 10px;
  margin-top: 5px;
  margin-right: 10px;
}
.navbar-toggle {
  float: left;
  padding: 9px 10px 9px 10px;
  margin-top: 10px;
  border: none;
  margin-left: 5px;
  margin-right: 3px;
}
.navbar-left.Clsheader-logo {
  display: block;
  height: 50px;
}
button.btn.Clssearch-btn {
    position: absolute;
    right: 15px;
    bottom: 9px;
}
.Clsheader-search-area .navbar-form {
  border-color: transparent;
}
.Clsheader-search.form-control {
  padding-right: 100px;
  width: 100%;
}
.Clsheader-serach-form .form-group {
  width: 100%;
  margin: 0;
}
.Clsmodal .close {
  position: absolute;
  right: -10px;
  top: -25px;
  font-size: 50px;
  font-weight: 200;
}
.Clsmodal .nav-tabs {
  margin-bottom: 20px;
}
.Clsmodal .modal-body {
  padding: 15px 30px;
}
.icon-boxes > div.Clsicon-box:last-child {
  border-left: none;
}
aside.sticky {
  position: static !important;
  width: 100% !important;
}
#navbar-menu {
  display: block;
  margin: 0;
}
#navbar {
  padding: 0;
  border-top: none;
}
#navbar .navbar-nav {
  text-align: left;
  margin: 0;
}
#navbar .navbar-nav>li {
  display: block;
  margin-bottom: 1px;
}
#navbar.navbar-default .navbar-nav .open .dropdown-menu>li>a {
  padding-left: 30px !important;
}
#navbar .navbar-nav>li a {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  border-bottom: 1px solid var(--secondary-bg-color);
}
.navbar-default .navbar-toggle {
  border-color: var(--primary-text-color);
  border-radius: 0;
}
.navbar-brand {
  height: auto !important;
  padding: 15px 0px 0;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: var(--primary-text-color);
}
.navbar-default .navbar-toggle:focus .icon-bar, .navbar-default .navbar-toggle:hover .icon-bar {
  background-color: var(--primary-text-color);
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: var(--secondary-text-color);
}
.navbar-default .navbar-toggle .icon-bar:nth-child(2) {
  transform: rotate(45deg);
  position: relative;
  top: 6px;
  transition: all 250ms ease 0s;
}
.navbar-default .navbar-toggle .icon-bar:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 250ms ease 0s;
}
.navbar-default .navbar-toggle .icon-bar:last-child {
  visibility: hidden;
}
.navbar-default .navbar-toggle.collapsed .icon-bar:nth-child(3),
.navbar-default .navbar-toggle.collapsed .icon-bar:last-child {
  visibility: visible;
  transform: rotate(0deg);
  transition: all 250ms ease 0s;
}
.navbar-default .navbar-toggle.collapsed  .icon-bar:nth-child(2) {
  position: relative;
  top: 0;
  transform: rotate(0deg);
  transition: all 250ms ease 0s;
}
.Clstitle-cover h2 {
  font-size: 14px;
  margin-bottom: 10px;
}
.Clsproduct-collection .Clsproduct-cover img {
  height: 175px;
  object-fit: cover;
}
.Clsproduct-carousel .Clsproduct-cover img,
.Clsfeature-product .Clsproduct-cover img {
  height: 100px;
  object-fit: cover;
}
.Clsmasonary {
  padding: 0;
}
.Clsproduct-collection {
  padding: 0 10px;
}
.Clsproduct-collection > div {
  padding: 0;
}
.Clslink {
  padding: 15px 0;
}
.Clsproduct-name {
  font-size: 12px;
}
.img_class {
  height: 144px !important;
}
.cart-badge {
  right: -5px;
  top: 5px;
}
.navbar-default #navbar .navbar-nav>li.dropdown.open>a:focus.dropdown-toggle, 
.navbar-default #navbar .navbar-nav>li.dropdown.open>a:hover.dropdown-toggle, 
.navbar-default #navbar .navbar-nav>li.dropdown.open>a.dropdown-toggle,
.navbar-default #navbar .navbar-nav>li>a:hover, 
.navbar-default #navbar .navbar-nav>li>a:focus {
  color: var(--primary-color) !important;
}
.Clsheader-search-area .navbar-form {
  padding: 0 15px;
}
.Clsicon-box h3 {
  font-size: 11px;
  margin: 0;
}
.Clsour-policies h4,
.Clsour-policies h1 {
  font-size: 16px !important;
}
.Clsborder {
  padding: 30px;
}
.Clsmyaccount .address-box.addressstyle {
  widtH: 100% !important;
  height: auto !important;
} 
.Clscontact_msg {
  padding: 0 !important;
}
.Clsprofile_dp.work-item {
  padding-top: 30px;
  padding-top: 15px;
  max-width: 160px;
  float: none !important;
}
.Clsfaq_content_cover {
  padding-top: 0px;
  padding-bottom: 0px;
}
.Clsfaq_section {
  padding: 10px 0;
}
.Clsfaq_title_cover h1 {
  line-height: 24px;
  padding: 0 15px;
  font-size: 22px;
}
.Clsfaq_section_title h1 {
  font-size: 20px;
}
.Clsprofile_dp .work-container {
  height: 150px;
}
.scroll-container {
  width: auto;
}
.table-responsive {
  border: none !important;
}
.Clstooltip_text {
  right: 0p;
  left: auto;
}
.wrapper {
  min-height: 100%;
  margin: 0 auto -548px;
}
footer, .push {
  height: 548px;
}
footer {
  margin-top: 10px;
}
}
@media (max-width: 425px) {
  .Clsproduct-carousel .Clsproduct-cover img {
    height: 203px;
    object-fit: cover
  }
  .Clsproduct-collection .Clsproduct-cover img {
    height: 193px;
    object-fit: cover
  }
  .Clsmyaccount .nav-tabs>li {
    float: none;
  }
  .Clsadd_address {
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 375px) {
  .Clsproduct-carousel .Clsproduct-cover img {
    height: 178px;
    object-fit: cover
  }
  .Clsproduct-collection .Clsproduct-cover img {
    height: 168px;
    object-fit: cover
  }
}
@media (max-width: 320px) {
  .Clsmob-user {
    margin-right: 3px;
  }
  .Clsproduct-carousel .Clsproduct-cover img {
    height: 150px;
    object-fit: cover
  }
  .Clsproduct-collection .Clsproduct-cover img {
    height: 140px;
    object-fit: cover
  }
}
/* RESPONSIVE */