.Clsngx_gallery {
  width: 100% !important;
}
  ngx-gallery /deep/ ngx-gallery-image .ngx-gallery-arrow {
	  display: none;
	}
	ngx-gallery /deep/ ngx-gallery-thumbnails .ngx-gallery-arrow-wrapper{
		z-index: 100;
	}
	ngx-gallery /deep/ ngx-gallery-thumbnails .ngx-gallery-arrow {
		border: 1px solid;
		background-color: var(--secondary-text-color);
		padding: 4px;
		color: var(--primary-text-color);
		border-color: var(--secondary-text-color);
		margin-left: -13px;
		margin-right: -13px;
  }
  ngx-gallery /deep/ ngx-gallery-thumbnails .ngx-gallery-arrow-wrapper .ngx-gallery-image{ 
		z-index: 100;
  }
  ::ng-deep .ngx-gallery-image {  
    background-size: contain;
  }
	.tooltip{
		left: auto !important;
	}
	#buynow-btn:hover{
		background: var(--primary-text-color) !important;
		color: white !important;
	}
	.img_class {
		width: 200px;
		height: 152px;
		object-fit: cover;
	}
	.alert{
		font-size: 12px !important;
		padding: 0px !important;
		margin-bottom: 10px !important;
		color: var(--error-color) !important;
		margin-top: -6px;
	}
	input[type="text"],input[type="number"],input[type="email"],input[type="password"] ,textarea{
		border: none !important;
		margin-bottom: 0px !important;
		padding: 0px !important;
		box-shadow: none;
	}
	.form-control:focus{
		-webkit-box-shadow:none !important;
		box-shadow: none !important;
	}
	h1::first-letter{ text-transform: capitalize; }
	.container_show {
		line-height: 14px;
		height: 14px;
		overflow: hidden;
	}
	/* #productDescription {
		line-height: 20px;
		height: 65px;
		overflow: hidden;
	} */
	.show {
		overflow: visible;
		height: auto;
		word-break: break-word;
	}
  .Clscommon_btn {
        width: 100%;
        border-radius: 0;
        border-color: var(--primary-border-color);
        background-color: var(--secondary-text-color);
        color: var(--primary-text-color);
        font-size: 16px;
        font-family: raleway, sans-serif;
        font-weight: 600;
        padding: 12px;
        border-width: 1px;
        letter-spacing: 0;
      }
      .Clscommon_btn:hover, .Clscommon_btn:focus {
          border-color: var(--primary-text-color);
          background-color: var(--secondary-text-color);
      }
      .Clsshop_name {
          font-size: 14px;
          font-weight: 600;
          font-family: raleway, sans-serif;
          margin: 0;
      }
      .Clsshop_name a:hover {
        text-decoration: underline;
      }
      .Clsshop_name span {
          font-weight: 400;
          margin-right: 10px;
      }
      .Clsproduct_price {
          font-family: 'Montserrat', sans-serif;
          font-size: 30px;
          font-weight: 700;
          margin: 10px 0 0;
      }
      .Clsproduct_name {
        font-family: raleway, sans-serif;
        font-size: 22px;
        font-weight: 600;
        line-height: 30px;
        margin: 10px 0 0;
      }
      .Clsproduct_overview h5 {
        font-weight: 700;
        font-size: 16px;
        font-family: raleway, sans-serif;
      }
      .Clsoverview_list li {
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        color: var(--primary-text-color);
      }
    .Clsproduct_quantity .quantity.buttons_added {
        float: left;
        margin-bottom: 20px;
    }
    .Clsflash_sale_alert {
        padding-left: 15px; 
        padding-top: 10px; 
        color: var(--primary-color); 
        font-weight: 600;
    }
    .Clsproduct_overview {
        margin: 0;
    }
    .clsblock_title {
        font-size: 22px;
        font-family: raleway, sans-serif;
        font-weight: 700;
        margin-top: 0;
    }
    .Clssingle-product .Clsform_select {
      margin-bottom: 0;
    }
    .Clspayment_icon img {
      opacity: 0.7;
    }
    .Clsproduct_description p {
        font-size: 14px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        line-height: 22px;
        color: var(--primary-text-color);
    }
    .Clsproduct_reviews .reviews .Clsreview_text {
        color: var(--sub-text-color);
        font-size: 14px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0;
    }
    .Clsproduct_reviews .review-author {
        color: var(--primary-text-color);
        font-size: 14px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        letter-spacing: 0;
    }
    .Clsshow_more {
        float: right; 
        border: none; 
        color: var(--primary-color); 
        background-color: var(--secondary-text-color);
    }
    .Clssingle-product {
        margin-top: 20px;
    }
    .Clsproduct_gallery {
      padding-top: 3px;
  }
  .Clsproduct_gallery .slick-prev, .Clsproduct_gallery .slick-next {
    z-index: 9999;
    top: 30px;
  }
  .Clsproduct_gallery .slick-next {
      right: 0;
  }
  .Clsproduct_gallery .slick-prev {
    left: 0;
  }
  .Clsproduct_addimg .slick-slide {
      margin: 0 3px 0 0;
  }
  .Clsproduct-single-page {
    margin-top: 20px;
  }
  .Clsproduct_addimg {
      margin-top: 10px;
  }
  .Clsoverview_table tr td:-child {
    font-weight: 600;
    width: 40%;
  }
  .Clsshipping_text span {
      margin-right: 10px;
  }
  .Clsshipping_text {
      margin: 20px 0 10px;
      font-weight: 600;
      /* background: #f9e42b; */
      display: inline-block;
      padding: 0;
      color: var(--primary-text-color);
      letter-spacing: 0;
  }
  #review-content textarea {
    line-height: 25px;
  }
  .Clsdelivery_text {
    font-weight: 600;
    display: inline-block;
    color: var(--primary-text-color);
    margin: 0 0 0 20px;
    border: 1.5px solid var(--freedelivery-color);
    padding: 0 5px;
    background: var(--freedelivery-color);
    font-size: 12px;
    line-height: initial;
    position: relative;
    bottom: 6px;
  }
  .Clshandcrafted_text {
    font-weight: 600;
    display: inline-block;
    color: var(--secondary-text-color);
    margin: 0 0 0 20px;
    border: 1.5px solid var(--seconday-color);
    padding: 0 5px;
    background: var(--seconday-color);
    font-size: 12px;
    line-height: initial;
    position: relative;
    bottom: 6px;
  }
  .Clsoverview_table {
    color: var(--primary-text-color);
  }
  .Clsratethis_product {
    margin: 10px 0;
  }
  .Clsratethis_product a:hover {
    text-decoration: underline;
  }
  .Clssocial_share {
    border-top: 1px solid #f3f3f3;
    border-bottom: 1px solid #f3f3f3;
    padding: 10px 0;
  }
  .Clsoverview_table.table-bordered>tbody>tr>td:first-child {
    font-weight: 600;
  }
  .Clsoverview_table.table-bordered, 
  .Clsoverview_table.table-bordered>thead>tr>th, 
  .Clsoverview_table.table-bordered>tbody>tr>th, 
  .Clsoverview_table.table-bordered>tfoot>tr>th, 
  .Clsoverview_table.table-bordered>thead>tr>td, 
  .Clsoverview_table.table-bordered>tbody>tr>td, 
  .Clsoverview_table.table-bordered>tfoot>tr>td {
    border: 1px solid var(--primary-border-color);
    padding: 5px;
  }
  .Clsshare_title {
    color: var(--primary-text-color);
    padding-top: 5px;
}
.social-instagram .st0,
.social-instagram .st1,
.social-instagram .st2 {
  fill: unset !important;
}
.Clsuser-image-review {
  display: inline-block;
  border-radius: 50px;
  overflow: hidden;
  width: 50px;
}
.Clspayment_icon span {
  margin-right: 10px;
  display: inline-block;
  line-height: initial;
}
@media (max-width: 991px) {
  .socials-share .btn {
    font-size: 12px;
  }
}
@media (min-width: 768px) {
  .ngx-gallery-thumbnail.ngx-gallery-clickable {
    height: calc(70% - 0px) !important;
  }
}
@media (max-width: 767px) {
  .Clssingle-product .mb-60 {
    margin-bottom: 20px;
  }
  .new-arrivals.mt-30,
  .Clssingle-product {
    margin-top: 0;
  }
  .ngx-gallery-layout.thumbnails-bottom {
    height: 50% !important;
  }
  .Clsproduct_name {
    font-size: 16px;
    line-height: 22px;
}
.Clsproduct_price {
  font-size: 20px;
}
}

.container_show {
			/* font-size: 16px; */
			line-height: 14px;
			height: 14px;
			overflow: hidden;
	}
	/* .container_show_description {
    line-height: 20px;
		height: 65px;
		overflow: hidden;
	} */
	.show {
			overflow: visible;
			height: auto;
			word-break: break-word;
	}



