<div>
    <div class="row mt-15">

        <!-- <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                <input type="text" class="form-control mb-0" [(ngModel)]="searchTerm" (change)="searchProducts(searchTerm, 0,10)" placeholder="Search..."/>
            </div> -->

        <div class="col-xs-6">
            <label for="UserName">Product Name</label>
            <!-- <input type="text" name="selelrTier" id="sellertier" placeholder="Enter Mail ID / User Name"  [(ngModel)] = "userName" > -->
            <div class="input-group stylish-input-group">
                <input type="text" class="form-control" (keyup.enter)="searchProducts(searchTerm, 0,10)" [(ngModel)]="searchTerm"
                    placeholder="Type and enter to search">
                <span (click)="searchProducts(searchTerm, 0,10)" class="input-group-addon">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </span>
            </div>


        </div>
    </div>

    <div>
        <div id='scroll-box' class="col-xs-12">
            <div class="row mt-15 table-wrap col-lg-12 col-md-12 col-sm-12 col-xs-12 " *ngIf="Products.length > 0; else addNewTemplate">
                <table class="table table-sortable">
                    <thead>
                        <tr>
                            <th>Index</th>
                            <th>
                                Product Name
                                <a href="javascript:;" (click)="tableSorting('product')">
                                    <i class="fa fa-sort"></i>
                                </a>
                            </th>
                            <th>
                                Qty Available
                                <a href="javascript:;" (click)="tableSorting('qty')">
                                    <i class="fa fa-sort"></i>
                                </a>
                            </th>
                            <th>
                                Created Date
                                <a href="javascript:;" (click)="tableSorting('date')">
                                    <i class="fa fa-sort"></i>
                                </a>
                            </th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let Product of Products;let i=index">
                            <td>{{((currentPage -1)*10)+(i+1)}}</td>
                            <td>{{ Product._source.Name }}</td>
                            <td *ngIf='Product._source?.useDefaultQuantity'>{{ Product._source.QuantityAvailable }}</td>
                            <td *ngIf='!Product._source?.useDefaultQuantity'>{{ Product._source.VariationQuantityAvailable }}</td>                            <td>{{ Product._source.CreatedDate | date: 'dd/MM/yyyy' }}</td>
                            <td>
                                <a href="javascript:;">
                                    <i class="fa fa-edit" style="font-size:20px;color:black;" (click)="edit(Product)"></i>
                                </a>
                            </td>
                            <td>
                                <a href="javascript:;">
                                    <i class="fa fa-trash-o" style="font-size:20px;color:black;" (click)="confirmDelete(Product)"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div *ngIf="this.loader" class="loader" style="top:100%;left:55%;display: block">
                    <svg class="circular" viewBox="25 25 50 50">
                        <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
                    </svg>
                </div>
                <div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-body">
                                <h4>Do you want to delete ?</h4>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">No</button>
                                <button type="button" class="btn btn-sm btn-red" (click)="delete()" data-dismiss="modal">Yes</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--<div class="row mt-15 table-wrap col-xs-12 hidden-lg hidden-sm hiddedn-md" *ngIf="Products.length > 0; else addNewTemplate">
                <table class="table table-sortable">
                    <thead>
                        <tr>
                            <th>Index</th>
                            <th>
                                Product Name
                                <a href="javascript:;" (click)="tableSorting('product')">
                                    <i class="fa fa-sort"></i>
                                </a>
                            </th>
                            <th>
                                Qty Available
                                <a href="javascript:;" (click)="tableSorting('qty')">
                                    <i class="fa fa-sort"></i>
                                </a>
                            </th>
                            <th>
                                Created Date
                                <a href="javascript:;" (click)="tableSorting('date')">
                                    <i class="fa fa-sort"></i>
                                </a>
                            </th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let Product of Products;let i=index">
                            <td>{{((currentPage -1)*10)+(i+1)}}</td>
                            <td>{{ Product._source.Name }}</td>
                            <td>{{ Product._source.QuantityAvailable }}</td>
                            <td>{{ Product._source.CreatedDate | date: 'dd/MM/yyyy' }}</td>
                            <td>
                                <a href="javascript:;">
                                    <i class="fa fa-edit" style="font-size:20px;color:black;" (click)="edit(Product)"></i>
                                </a>
                            </td>
                            <td>
                                <a href="javascript:;">
                                    <i class="fa fa-trash-o" style="font-size:20px;color:black;" (click)="confirmDeleteSmall(Product)"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel">
                    <div class="modal-dialog modal-sm" role="document">
                        <div class="modal-content">
                            <div class="modal-body">
                                <h4>Do you want to delete ?</h4>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">No</button>
                                <button type="button" class="btn btn-sm btn-red" (click)="delete()" data-dismiss="modal">Yes</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>-->
        </div>
    </div>

</div>

<ng-template #addNewTemplate>

    <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h2 class="heading relative heading-small uppercase bottom-line style-2 left-align mb-0">Zone List</h2>
    </div> -->
    <div *ngIf="this.pageLoader" class="loader" style="top:130px;left:46%;display: block">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
        </svg>
    </div>
    <div *ngIf="!this.pageLoader">

        <div style="margin-top:150px; margin-bottom:50px" class="text-center">
            <i class="fa fa-trash" style="font-size:100px;"></i>

        </div>

        <div class="col-xs-12 text-center">
            <!-- <input type="button" style="width:400px; border-radius:30px" class="btn btn-color" (click)="addNew()" value="Add New"> -->
            <span>No products are sold out</span>
        </div>
    </div>
</ng-template>