<div *ngIf="getAllInvoice?.length>0;else addNewTemplate">
    <div>
        <h2 class="heading relative heading-small uppercase bottom-line style-2 left-align mb-0 pt-20">Invoice Details</h2>
    </div>
    <div class="row" >
       
        <div class="table-wrap col-lg-12 col-sm-12 col-md-12 hidden-xs" *ngIf="showInvoice">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <!-- <th id="th">Order Id</th> -->
                        <th id="th">Invoice No</th>
                        <th id="th">Invoice Date</th>
                        <th id="th">Invoice Amount</th>
                        <th id="th">GST Amount</th>
                        <th id="th">Download</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let order of getAllInvoice; let i =index" style="cursor: pointer;">
                        <!-- <td>{{order.OrderId}}</td> -->
                        <td *ngIf="order.InvoiceId">{{order.InvoiceId}}</td>
                        <td *ngIf="order.InvoiceId">{{order.InvoiceDate | date:'dd MMM yyyy'}}</td>
                        <td *ngIf="order.InvoiceId">{{order.OrderInvoiceDetails.GrossRevenue}}</td>
                        <td *ngIf="order.InvoiceId">{{order.OrderInvoiceDetails.GST}}</td>
                        <td *ngIf="order.InvoiceId"><a href="{{ order.MPInvoiceURL }}" target="_blank">Download</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="table-wrap col-lg-12 col-md-12 col-sm-12 hidden-xs" *ngIf="showselectedInvoice">
        <div>
            <button type="button" class="btn btn-sm btn-color" (click)=" goback()">
                <span class="fa fa-arrow-left" aria-hidden="true"></span>
            </button>
        </div>

        <div class="row" *ngFor="let invoice of selectedInvoice">
            <div class="purchase_container">
                <div class="row purchase_title m-0">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <p>
                            <strong>Order #</strong>
                        </p>
                        <p>{{invoice.OrderId}}</p>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <p>
                            <strong>Order Date</strong>
                        </p>
                        <p>{{invoice.OrderDate | date:'dd MMM yyyy'}}</p>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <p>
                            <strong>Invoice Id</strong>
                        </p>
                        <p>{{invoice.InvoiceId}}</p>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <p>
                            <strong>Order Date</strong>
                        </p>
                        <p>{{invoice.InvoiceDate | date:'dd MMM yyyy'}}</p>
                    </div>
                </div>
            </div>
            <div class="row purchase_container mt-2" style="border: none;margin: 0">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class=" panel panel-default">
                        <div class="panel-heading text-uppercase">
                            <span><strong>Invoice Details</strong></span>
                        </div>
                        <div class="panel-body">

                            <div class="row">
                                <div class="col-md-6">
                                        <p><strong> Invoice Status</strong></p>
                                        <p><strong> Gross Revenue</strong></p>
                                    <p><strong> Discount</strong></p>
                                    <p> <strong>Shipping Cost From Buyer</strong></p>
                                    <p>
                                        <strong>Shipping Cost For Seller</strong>
                                    </p>
                                    <p> <strong>Fixed Fee</strong></p>
                                </div>
                                <div class="col-md-6">
                                    <p>:
                                        <span class="amount right">{{invoice.InvoiceStatus}}</span>
                                    </p>
                                    <p>:
                                        <span class="amount right">{{invoice.GrossRevenue}}</span>
                                    </p>
                                    <p>:
                                        <span class="amount right"> {{invoice.Discount}}</span>
                                    </p>
                                    <p>:
                                        <span class="amount right"> {{invoice.BuyerShippingCost}}</span>
                                    </p>
                            
                                    <p>:
                                        <span class="amount right"> {{invoice.SellerShippingCost}}</span>
                                    </p>
                                    <p>:
                                        <span class="amount right"> {{invoice.FixedFee}}</span>
                                    </p>
                                </div>
                            </div>
                    </div>
                </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading text-uppercase">
                            <span><strong>Commission Details</strong></span>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <p><strong>Commission Amount</strong></p>
                                    <p><strong> Collection Amount</strong></p>
                                    <p> <strong>Collection Fee</strong></p>
                                    <p>
                                        <strong>GST</strong>
                                    </p>
                                    <p> <strong>Net Revenue</strong></p>
                                    <p><strong>Settlement Amount</strong></p>
                                </div>
                                <div class="col-md-6">
                                    <p>:
                                        <span class="amount right"> {{invoice.CommissionAmount }}</span>
                                    </p>
                                    <p>:
                                        <span class="amount right"> {{invoice.CollectionAmount}}</span>
                                    </p>
                                    <p>:
                                        <span class="amount right"> {{invoice.CollectionFee}}</span>
                                    </p>
                            
                                    <p>:
                                        <span class="amount right"> {{invoice.GSTonCommission}}</span>
                                    </p>
                                    <p>:
                                        <span class="amount right"> {{invoice.NetRevenue}}</span>
                                    </p>
                                    <p>:
                                        <span class="amount right">{{invoice.SettlementAmount}}</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
    <ng-template #addNewTemplate>
        <div>
            <div style="margin-top:150px;     margin-bottom:50px" class="text-center">
                <i class="fa fa-trash" style="font-size:100px;"></i>

            </div>
            <div class="col-xs-12 text-center">
                <span style="margin:auto;">No Items To Show</span>
            </div>
        </div>
    </ng-template>
