<style>
    @media (max-width: 425px){
.remove-mar{
    margin-left: 10% !important;
}
}
.remove-mar{
    margin-left: -4%;
}
.alert{
	font-size: 12px !important;
	padding: 0px !important;
    margin-bottom: 10px !important;
    color: #ff0000 !important;
	margin-top: -6px;
}

input[type="text"],input[type="number"],input[type="email"],input[type="password"] {
	border: none !important;
	margin-bottom: 0px !important;
	padding: 0px !important;
}
</style>
<form class="remove-mar" name="changePasswordForm" id="changePasswordForm" #changePasswordForm="ngForm" novalidate>
    <!-- <div class="form-group">

        <h3 class="heading relative heading-small uppercase bottom-line style-2 left-align mb-0 pt-20">Change Password</h3>
    </div> -->
<div class="row">
    <div class="row" *ngIf="!SocialUser">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 col-md-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-0">
            <!-- <label for="CurrentPassword">Enter Old Password:</label> -->
            <mat-form-field class="Clsfull-width example-full-width">

            <input matInput type="password" id="CurrentPassword" [(ngModel)]="this.passwordModel.CurrentPassword" name="CurrentPassword"
                #CurrentPassword="ngModel" placeholder="Old password" required>
                </mat-form-field>
            <div *ngIf="CurrentPassword.errors && (CurrentPassword.dirty || CurrentPassword.touched)" class="alert">
                <div [hidden]="!CurrentPassword.errors.required">
                    Provide password
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 col-md-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-0">
            <!-- <label for="NewPassword">Enter New Password:</label> -->
            <mat-form-field class="Clsfull-width example-full-width">

            <input matInput type="password" id="NewPassword" [(ngModel)]="this.passwordModel.NewPassword" name="NewPassword" #NewPassword="ngModel"
                placeholder="New password" validateEqual="ConfirmNewPassword" pattern="^[a-zA-Z0-9!@#$%^&*]{6,16}$" reverse="true" required>
                </mat-form-field>
            <div *ngIf="NewPassword.errors && (NewPassword.dirty || NewPassword.touched)" class="alert">
                <div [hidden]="!NewPassword.errors.required">
                    Enter your new password!
                </div>
                <div [hidden]="!NewPassword.errors.pattern">
                    Passwords must be at least 6 characters!
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 col-md-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-0">
            <!-- <label for="ConfirmNewPassword">Confirm New Password:</label> -->
            <mat-form-field class="Clsfull-width example-full-width">

            <input matInput type="password" id="ConfirmNewPassword" [(ngModel)]="this.passwordModel.ConfirmNewPassword" name="ConfirmNewPassword"
                #ConfirmNewPassword="ngModel" placeholder="Confirm password" validateEqual="NewPassword" reverse="false" pattern="^[a-zA-Z0-9!@#$%^&*]{6,16}$" required>
                </mat-form-field>
            <!-- <div [hidden]="ConfirmNewPassword.valid || (ConfirmNewPassword.pristine && !changePasswordForm.submitted)" class="text-danger vd-msg">
                Enter a Valid Password
            </div> -->
            <div *ngIf="changePasswordForm.value.NewPassword != changePasswordForm.value.ConfirmNewPassword && (ConfirmNewPassword.dirty || ConfirmNewPassword.touched)" class="alert">
                Password not matching!
            </div>
        </div>
    </div>

    <div class="row">
    	 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 col-md-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-0 text-right">
        <button type="submit" class="Clscommon_btn_fill_small" (click)="editPassword();changePasswordForm.reset()" [disabled]="!changePasswordForm.form.valid || changePasswordForm.value.NewPassword != changePasswordForm.value.ConfirmNewPassword">Update</button>
      	</div>
    </div>
</div>
</form>



