<div >
	<h2 class="heading relative heading-small uppercase bottom-line style-2 left-align mb-0 pt-20">Parent Category List</h2>
	<p class="note-text">Note : Kindly enter into the textbox 1 to 7</p>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
	<div class="table-wrap">
		<form id="megaMenuForm" #megaMenuForm="ngForm">
	    <table class="table table-bordered table-striped table-responsive">
	        <thead>
	            <tr>
	                <th class="text-truncate">Parent Category</th>
	                <th>Value</th>
	            </tr>
	        </thead>
	        <tbody>
	            <tr *ngFor="let category of parentCategoryNames; let i =index;">
	                <td>{{category?.Name}}</td>
	                <td> 
	                	<div class="col-md-3" >
				        	 <input type="number" id="Value{{i}}" name="Value{{i}}"  [ngModel]="category.HomePage" (ngModelChange)="checkBox($event, category)"/> 
				        </div>
	             	</td> 
	            </tr>
	        </tbody>
	    </table>
	    <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12 pt-20">
        	<button [disabled] = '!megaMenuForm.form.valid' type="submit" class="btn" (click)="selectHomeCategory()">Choose</button>
		   </div>
		</form>
	</div>
</div>				
