<div class="form-group">
        <h2 class="heading relative heading-small uppercase bottom-line style-2 left-align mb-0">Edit Seller Business Details</h2>
    </div>

    <div>
            <div *ngIf="showWaitingList">
                    <div class=row *ngIf="showWaitingList">
			
                            <div class="col-md-4" style = "margin-bottom: 20px">
                                    <label for="Search">Shop name / Email / Mobile</label>
                                    <!-- <input name="text" type="text" id="UserName"  name="UserName" placeholder="User Name / Mail Id" (change)="getdetails($event.target.value)"> -->
                                    <div class="input-group stylish-input-group">
                                            <input type="text" class="form-control" (keyup)="searchSeller()" [(ngModel)]="this.searchTerm"
                                                    id="Search" name="Search" placeholder="Type and enter to search">
                                            <span (click)="searchSeller()" class="input-group-addon">
                                                    <i class="fa fa-search" aria-hidden="true"></i>
                                            </span>
                                    </div>
                            </div>
            
                    </div>
                    <div class="table-wrap" *ngIf = "waitingList.length >0; else addNewTemplate">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th># </th>
                                    <th>Mobile</th>
                                    <th>Shop Name</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                
                                <tr  *ngFor="let List of waitingList;let i=index;" >
                                    <td>{{(i+1) + (initialPage * 10)}}</td>
                                    <td>{{ List.editedBusinessDetails.Profile.Address.Phone ? List.editedBusinessDetails.Profile.Address.Phone : 'Not filled' }}</td>
                                    <td>{{ List.editedBusinessDetails.Name ? List.editedBusinessDetails.Name : 'Not filled' }}</td>
                                    <td>
                                        <button type="button" class="btn btn-sm btn-color" (click)="ViewList(List._id)" >View</button>

                                        <button style="margin-left:10px" type="button" class="btn btn-sm btn-color" (click)="EditList(List._id)" >Edit</button>

                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <nav class="pagination clear" *ngIf = "waitingList.length > 0">
                        <a href="javascript:;" (click)="previousPage()"><i class="fa fa-angle-left"></i></a>
                        <a href="javascript:;" *ngFor="let page of pages" [class]="currentPage == page?'current':''" (click)="selectPage(page)">{{ page }}</a>
                        <a href="javascript:;" (click)="nextPage()"><i class="fa fa-angle-right"></i></a>
                    </nav>
                </div>
                <div *ngIf = "!showWaitingList && !showEditSection">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <button type="button" class="btn btn-sm btn-color"  (click)="this.showWaitingList=true;">
                                <span class="fa fa-arrow-left" aria-hidden="true"></span></button>
                            </div>
                            <!-- <div class="right">
                                <button type="button" class="btn btn-sm btn-color" (click)="ApproveSeller(checkDetail?._id)" *ngIf="checkDetail?.editedBusinessDetails  && checkDetail?.editedBankDetails && checkDetail?.SubmitBusiness" >Approve</button>
                              
                            </div> -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mt-20" >
                            <div  *ngIf="checkDetail?.editedBusinessDetails">
                                <h5>Profile Details : </h5>
                                <div class="table-wrap" >
                                    <table class="table table-bordered"  >
                                        <tbody>
                                            <!-- <tr>
                                                <th>Shop Id </th>
                                                <td>{{checkDetail.Shop.Id?}}</td>
                                            </tr> -->
                                            <tr>
                                                <th>Shop Name </th>
                                                <td>{{checkDetail?.editedBusinessDetails?.Name}}</td>
                                            </tr>
                                            <tr>
                                                <th>Address </th>
                                                <td>{{ checkDetail?.editedBusinessDetails?.Profile.Address.Line1 ? checkDetail?.editedBusinessDetails?.Profile.Address.Line1  : '' }}  {{ checkDetail?.editedBusinessDetails?.Profile?.Address?.Line2 ? checkDetail?.editedBusinessDetails?.Profile?.Address?.Line2 : '' }}</td>
                                            </tr>
                                            <tr>
                                                <th>City</th>
                                                <td>{{checkDetail?.editedBusinessDetails?.Profile?.Address?.City}}</td>
                                            </tr>
                                            <tr>
                                                <th>State</th>
                                                <td>{{checkDetail?.editedBusinessDetails?.Profile?.Address?.State }} {{ checkDetail?.editedBusinessDetails?.Profile?.Address?.Zip}}</td>
                                            </tr>
                                            <tr>
                                                <th>Phone </th>
                                                <td>{{checkDetail?.editedBusinessDetails?.Profile?.Address?.Phone}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mt-20" >
                            <div *ngIf="checkDetail?.editedBusinessDetails">
                                <h5>Business Details : </h5>
                                <div class="table-wrap" >
                                    <table class="table table-bordered"  >
                                        <tbody>
                                            <tr>
                                                <th>Business Name </th>
                                                <td>{{checkDetail?.editedBusinessDetails?.Name}}</td>
                                            </tr>
                                            <tr>
                                                <th>Business Type </th>
                                                <td>{{checkDetail?.editedBusinessDetails?.Type}}</td>
                                            </tr>
                                            <tr>
                                                <th>Gstin Provisional Id:</th>
                                                <td>{{checkDetail?.editedBusinessDetails?.GstinProvisionalId}}</td>
                                            </tr>
                                            <!-- <tr>
                                                <th>TAN Number</th>
                                                <td>{{checkDetail?.editedBusinessDetails?.TanNumber}}</td>
                                            </tr> -->
                                            <tr *ngIf="checkDetail.editedBusinessDetails.Type == 'Proprietorship'">
                                                <th>Business PAN Number</th>
                                                <td>{{checkDetail?.editedBusinessDetails?.PersonalPanNumber}}</td>
                                            </tr>
                                            <tr *ngIf="checkDetail.editedBusinessDetails.Type != 'Proprietorship'">
                                                <th>Business PAN Number</th>
                                                <td>{{checkDetail?.editedBusinessDetails?.BusinessPanNumber}}</td>
                                            </tr>
                                            <tr>
                                                <th>Proof Attached </th>
                                                <td>GST</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                  
                    <div clas="row mt-20">
                        <div class="col-md-12" >
                         
                            <div class="col-md-3" *ngIf = "checkDetail?.editedBusinessDetails?.hasOwnProperty('GstinProof')">
                                <strong>Gstin Proof</strong>
                                <br>
                                <a href="{{checkDetail?.editedBusinessDetails?.GstinProof}}" target="_blank">Click to view file</a>
                                <!-- <img src="{{checkDetail?.editedBusinessDetails?.GstinProof}}"/> -->
                            </div>
                            <div class="col-md-3" *ngIf ="checkDetail?.editedBusinessDetails?.hasOwnProperty('TanProof')">
                                <strong>TAN Proof </strong>
                                <br>
                                        <a href="{{checkDetail?.editedBusinessDetails?.TanProof}}" target="_blank">Click to view file</a>
                                <!-- <img src="{{checkDetail?.editedBusinessDetails?.TanProof}}"/> -->
                            </div>
                            <div class="col-md-3" *ngIf ="checkDetail?.editedBusinessDetails?.hasOwnProperty('PanProof')">
                                <strong>PAN Proof</strong>
                                <br>
                                        <a href="{{checkDetail?.editedBusinessDetails?.PanProof}}" target="_blank">Click to view file</a>
                                <!-- <img src="{{checkDetail?.editedBusinessDetails?.PanProof}}"/> -->
                            </div>
                            <div class="col-md-3" *ngIf ="checkDetail?.editedBusinessDetails?.hasOwnProperty('Signature')">
                                <strong> Signature </strong>
                                <br>
                                        <a href="{{checkDetail?.editedBusinessDetails?.Signature}}" target="_blank">Click to view file</a>
                                <!-- <img src="{{checkDetail?.editedBusinessDetails?.Signature}}"/> -->
                            </div>
                        </div>
                    </div>
                </div>

                <div *ngIf = "!showWaitingList && showEditSection">
                        <div class="col-md-12">
                                <div class="form-group">
                                    <button type="button" class="btn btn-sm btn-color"  (click)="this.showWaitingList=true;this.showEditSection=false">
                                    <span class="fa fa-arrow-left" aria-hidden="true"></span></button>
                                </div>
                              
                            </div>
                            <form id="GetBusinessDetailsForm1" name="GetBusinessDetailsForm1" #GetBusinessDetailsForm1="ngForm" (change)="resetSubmitButton()" novalidate>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-md-12">
                                                        <div class="Clstitle-cover Clscolor-title">
                                                            <h6>Shop Details</h6>
                                                            <div *ngIf="editTrue">This Shop Mobile number need to be verified</div>

                                                        </div>
                                                </div>
                                            </div>
                                            <div class="Clsborder container-fluid">
                                                <div class="row">
                                                        <div class="col-md-12">
                                                                <div class="form-group">
                                                                    <mat-form-field class="example-full-width Clsfull-width">
                                                                        <input matInput type="text" id="BusinessName" placeholder="Shop Name" name="BusinessName" [(ngModel)]="this.businessdetailsModel.Name"
                                                                         pattern="^([a-zA-Z ]*$)" minlength="5" (blur)="CheckBusinessName()" #BusinessName="ngModel" required [disabled]="approved">
                                                                    </mat-form-field>
                                                                    <div *ngIf="BusinessName.errors && (BusinessName.dirty || BusinessName.touched)" class="alert">
                                                                        <div [hidden]="!BusinessName.errors.required">
                                                                            Shop Name is required
                                                                        </div>
                                                                        <div [hidden]="!BusinessName.errors.minlength">
                                                                            Shop Name must be at least 5 characters long
                                                                        </div>
                                                                        <div [hidden]="!BusinessName.errors.pattern">
                                                                            You cant include numbers!
                                                                        </div>
                                                                        <div [hidden]="!BusinessName.errors.incorrect">
                                                                            That Account Holder is taken. Try another.
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                </div>
                                            <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <mat-form-field class="example-full-width Clsfull-width">
                                                    <input matInput type="text" id="Displayname" placeholder="Display Name" name="Displayname" [(ngModel)]="this.businessdetailsModel.DisplayName"
                                                     pattern="^([a-zA-Z ]*$)" minlength="5" #Displayname="ngModel" (blur)="CheckBusinessDisplayName()" required [disabled]="approved">
                                                </mat-form-field>
                                                <div *ngIf="Displayname.errors && (Displayname.dirty || Displayname.touched)" class="alert">
                                                    <div [hidden]="!Displayname.errors.required">
                                                        Display Name is required
                                                    </div>
                                                    <div [hidden]="!Displayname.errors.minlength">
                                                        Display Name must be at least 5 characters long
                                                    </div>
                                                    <div [hidden]="!Displayname.errors.pattern">
                                                        You cant include numbers!
                                                    </div>
                                                    <div [hidden]="!Displayname.errors.incorrect">
                                                        That Account Holder is taken. Try another.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                                <div class="col-md-6">
                                                <div class="form-group">
                                                <mat-form-field class="Clsfull-width">
                                                    <mat-select placeholder="Business Type" [(ngModel)]="this.businessdetailsModel.Type" name="businesstype"
                                                     [ngModelOptions]="{standalone: true}" required [disabled]="approved">
                                                        <mat-option value="undefined" selected disabled>Select Business Type</mat-option>
                                                        <mat-option value="Proprietorship">Proprietorship</mat-option>
                                                        <mat-option value="Partnership">Partnership</mat-option>
                                                        <mat-option value="OPC">OPC</mat-option>
                                                        <mat-option value="LLP">LLP</mat-option>
                                                        <mat-option value="Private_Limited">Private Limited</mat-option>
                                                        <mat-option value="Public_Limited"> Public Limited</mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        </div>
                                        <div class="row">
                                                <div class="col-md-6 pt-10">
                                                <div class="form-group">
                                                <!-- <label for="GSTINProvisionalID">GSTIN Provisional ID:<span style="color:red;size:10px"> *</span></label> -->
                                                <mat-form-field class="example-full-width Clsfull-width">
                                                    <input matInput type="text" id="GSTINProvisionalID" placeholder="GSTIN ID(15-character alphanumeric)" pattern="^([0][1-9]|[1-2][0-9]|[3][0-5])([a-zA-Z]{5}[0-9]{4}[a-zA-Z]{1}[1-9a-zA-Z]{1}[zZ]{1}[0-9a-zA-Z]{1})+$"
                                                     (blur)="CheckGSTIN()" name="GSTINProvisionalID" [(ngModel)]="this.businessdetailsModel.GstinProvisionalId"
                                                     #GSTINProvisionalID="ngModel" [disabled]="approved" required>
                                                </mat-form-field>
                                                <div *ngIf="GSTINProvisionalID.errors && (GSTINProvisionalID.dirty || GSTINProvisionalID.touched)" class="alert">
                                                    <div [hidden]="!GSTINProvisionalID.errors.required">
                                                        GSTIN Provisional ID is required
                                                    </div>
                                                    <div [hidden]="!GSTINProvisionalID.errors.pattern">
                                                        please correct GSTIN Provisional ID
                                                    </div>
                                                    <div [hidden]="!GSTINProvisionalID.errors.incorrect">
                                                        That GSTIN ID is used. Try another.
                                                    </div>
                                                </div>
                                            </div>
                                                </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                <label>Attach GSTIN Proof</label>
                                                <!-- <input type="file" id="GSTINProof" name="GSTINProof" placeholder="GSTIN Proof" (change)="ChangeListener($event,'GstinProof')"> -->
                                                <!-- image upload -->
                                                <div class="row">
                                                    <div class="col-sm-12 ClsimgUp imgUp">
                                                        <ul>
                                                        <li class="Clsup_image">
                                                            <div class="imagePreview"></div>
                                                        </li>
                                                        <li class="Clsup_button">
                                                            <div class="" *ngIf="!approved">
                                                            <label class="Clsbutton_9 Clsupload_btn"><span *ngIf="this.businessdetailsModel.GstinProof;else elseBlock">Replace</span> <ng-template #elseBlock>Upload</ng-template><input type="file" class="hide uploadFile img" id="GSTINProof" name="GSTINProof" placeholder="GSTIN Proof" (change)="ChangeListener($event,'GstinProof')" [disabled]="approved"></label>
                                                            </div>
                                                            <div class="">
                                                            <a class="Clsbutton_9 Clsview_btn" *ngIf="this.businessdetailsModel.GstinProof" [href]="this.businessdetailsModel.GstinProof"
                                                    target="_blank">Click to view file</a>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                    </div>
                                                </div>
                                                <!-- image upload -->
                                            </div>
                                        </div>
                                        </div>
                                        <div class="row" *ngIf="businessType=='Proprietorship'">
                                                <div class="col-md-6  pt-10">
                                                <div class="form-group">
                                                <mat-form-field class="example-full-width Clsfull-width">
                                                    <input matInput type="text" id="pan" name="pan" placeholder=" Business Pan Number" pattern="[A-Za-z]{5}\d{4}[A-Za-z]{1}"
                                                     (blur)="CheckPersonalPAN()" [(ngModel)]="this.businessdetailsModel.PersonalPanNumber" #pan="ngModel" [disabled]="approved" required>
                                                </mat-form-field>
                                                <div *ngIf="pan.errors && (pan.dirty || pan.touched)" class="alert">
                                                    <div [hidden]="!pan.errors.required">
                                                        PAN is required
                                                    </div>
                                                    <div [hidden]="!pan.errors.pattern">
                                                        Pleae enter correct PAN number
                                                    </div>
                                                    <div [hidden]="!pan.errors.incorrect">
                                                        That PAN is used. Try another.
                                                    </div>
                                                </div>
                                            </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                <label>Attach PAN Proof</label>
                                                
                                            <!-- image upload -->
                                            <!-- image upload -->
                                            <div class="row">
                                                <div class="col-sm-12 ClsimgUp imgUp">
                                                    <ul>
                                                    <li class="Clsup_image">
                                                        <div class="imagePreview"></div>
                                                    </li>
                                                    <li class="Clsup_button">
                                                        <div class="">
                                                                <label  *ngIf="approved == false" class="Clsbutton_9 Clsupload_btn"> <span *ngIf="this.businessdetailsModel.PanProof;else elseBlock">Replace</span> <ng-template #elseBlock>Upload</ng-template> <input type="file" class="hide uploadFile img" value="Upload Photo" (change)="ChangeListener($event,'PanProof')" style="width: 0px;height: 0px;overflow: hidden;"></label>
                                                        </div>
                                                        <div class="">
                                                                <a class="Clsbutton_9 Clsview_btn" *ngIf="this.businessdetailsModel.PanProof" [href]="this.businessdetailsModel.PanProof"
                                                                target="_blank">Click to view file</a>
                                                        </div>
                                                    </li>
                                                </ul>
                                                </div>
                                            </div>
                                            <!-- image upload -->
                                            </div>
                                        </div>
                                    </div>
                                        <div class="row" *ngIf="businessType!='Proprietorship'">
                                                <div class="col-md-6 pt-10">
                                                        <div class="form-group">
                                                <mat-form-field class="example-full-width Clsfull-width">
                                                    <input matInput type="text" id="Bpan" name="Bpan" (blur)="CheckPAN()" placeholder=" Business Pan Number"
                                                     pattern="[A-Za-z]{5}\d{4}[A-Za-z]{1}" [(ngModel)]="this.businessdetailsModel.BusinessPanNumber" #Bpan="ngModel"
                                                     [disabled]="approved"required>
                                                </mat-form-field>
                                                <div *ngIf="Bpan.errors && (Bpan.dirty || Bpan.touched)" class="alert">
                                                    <div [hidden]="!Bpan.errors.required">
                                                        Business PAN is required
                                                    </div>
                                                    <div [hidden]="!Bpan.errors.pattern">
                                                        Pleae enter correct PAN number
                                                    </div>
                                                    <div [hidden]="!Bpan.errors.incorrect">
                                                        That PAN is used. Try another.
                                                    </div>
                                                </div>
                                            </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                <label>Attach PAN Proof</label>
                                            <!-- image upload -->
                                                
                                            <!-- image upload -->
                                            <!-- image upload -->
                                            <div class="row">
                                                    <div class="col-sm-12 ClsimgUp imgUp">
                                                        <ul>
                                                        <li class="Clsup_image">
                                                            <div class="imagePreview"></div>
                                                        </li>
                                                        <li class="Clsup_button">
                                                            <div class="" *ngIf="!approved">
                                                                    <label class="Clsbutton_9 Clsupload_btn"><span *ngIf="this.businessdetailsModel.PanProof;else elseBlock">Replace</span> <ng-template #elseBlock>Upload</ng-template><input type="file" class="hide uploadFile img" value="Upload Photo" (change)="ChangeListener($event,'PanProof')" style="width: 0px;height: 0px;overflow: hidden;"></label>
                                                            </div>
                                                            <div class="">
                                                                    <a class="Clsbutton_9 Clsview_btn" *ngIf="this.businessdetailsModel.PanProof" [href]="this.businessdetailsModel.PanProof"
                                                 target="_blank">Click to view file</a>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                    </div>
                                                </div>
                                                <!-- image upload -->
                                                <!-- <input type="file" id="BPANProof" name="BPANProof" placeholder="PAN Proof" (change)="ChangeListener($event,'PanProof')"> -->
                                                
                                            </div>
                                            </div>
                                        </div>
                                        
                                        <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                <label>Attach Address Proof</label>
                                                <!-- <input type="file" id="AddressProof" name="AddressProof" placeholder="Address Proof" (change)="ChangeListener($event,'AttachAddressProof')">
                                                <a class="alignment" *ngIf="this.businessdetailsModel.AttachAddressProof" [href]="this.businessdetailsModel.AttachAddressProof"
                                                 target="_blank">Click to view file</a> -->
                                                 <!-- image upload -->
                                            <div class="row">
                                                    <div class="col-sm-12 ClsimgUp imgUp">
                                                        <ul>
                                                        <li class="Clsup_image">
                                                            <div class="imagePreview"></div>
                                                        </li>
                                                        <li class="Clsup_button">
                                                            <div class="" *ngIf="!approved">
                                                                    <label class="Clsbutton_9 Clsupload_btn"><span *ngIf="this.businessdetailsModel.AttachAddressProof;else elseBlock">Replace</span> <ng-template #elseBlock>Upload</ng-template><input type="file" class="hide uploadFile img" id="AddressProof" name="AddressProof" placeholder="Address Proof" (change)="ChangeListener($event,'AttachAddressProof')"></label>
                                                            </div>
                                                            <div class="">
                                                 <a class="Clsbutton_9 Clsview_btn" *ngIf="this.businessdetailsModel.AttachAddressProof" [href]="this.businessdetailsModel.AttachAddressProof"
                                                 target="_blank">Click to view file</a>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                    </div>
                                                </div>
                                                <!-- image upload -->
                                            </div>
                                                </div>
                                                <div class="col-md-6">
                                                        <div class="form-group">
                                                <label for="signature">Signature</label>
                                                
                                            <!-- image upload -->
                                            <!-- image upload -->
                                            <div class="row">
                                                    <div class="col-sm-12 ClsimgUp imgUp">
                                                        <ul>
                                                        <li class="Clsup_image">
                                                            <div class="imagePreview"></div>
                                                        </li>
                                                        <li class="Clsup_button">
                                                            <div class="" *ngIf="!approved">
                                                                    <label class="Clsbutton_9 Clsupload_btn"><span *ngIf="this.businessdetailsModel.Signature;else elseBlock">Replace</span> <ng-template #elseBlock>Upload</ng-template><input type="file" class="hide uploadFile img" value="Upload Photo" (change)="ChangeListener($event,'Signature')" style="width: 0px;height: 0px;overflow: hidden;"></label>
                                                            </div>
                                                            <div class="">
                                                                    <a class="Clsbutton_9 Clsview_btn" *ngIf="this.businessdetailsModel.Signature" [href]="this.businessdetailsModel.Signature"
                                                 target="_blank">Click to view file</a>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                    </div>
                                                </div>
                                                <!-- image upload -->
                                            </div>
                                            </div>
                                        
                                        </div>
                                        </div>
                                        
                                        <!-- Buissness shop details Section -->
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="Clstitle-cover Clscolor-title">
                                                    <h6>Shop Address</h6>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="container-fluid Clsborder">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <mat-form-field class="example-full-width Clsfull-width">
                                                    <input matInput type="text" maxlength="30" id="Line1" [(ngModel)]="this.profileModelAddress.Line1" name="Line1"
                                                     #Line1="ngModel" placeholder="Address Line 1" required [readonly]="readonlyVar" [disabled]="approved">
                                                </mat-form-field>
                                                <div *ngIf="Line1.errors && (Line1.dirty || Line1.touched)" class="alert">
                                                    <div [hidden]="!Line1.errors.required">
                                                        Address Line1 is required
                                                    </div>
                                                    <div [hidden]="!Line1.errors.maxlength">
                                                        Maximum 30 characters are allowed
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <mat-form-field class="example-full-width Clsfull-width">
                                                    <input matInput type="text" maxlength="30" id="Line2" [(ngModel)]="this.profileModelAddress.Line2" name="Line2"
                                                     #Line2="ngModel" placeholder="Address Line 2" required [readonly]="readonlyVar" [disabled]="approved">
                                                </mat-form-field>
                                                <div *ngIf="Line2.errors && (Line2.dirty || Line2.touched)" class="alert">
                                                    <div [hidden]="!Line2.errors.required">
                                                        Address Line2 is required
                                                    </div>
                                                    <div [hidden]="!Line2.errors.maxlength">
                                                        Maximum 30 characters are allowed
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <mat-form-field class="Clsfull-width">
                                                    <mat-select placeholder="Select State" [(ngModel)]="this.profileModelAddress.State" name="State"
                                                     [ngModelOptions]="{standalone: true}" required [disabled]="approved">
                                                        <mat-option *ngFor="let states of statesArray" [value]="states.state_name">
                                                            {{states.state_name}}
                                                        </mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-6">
                                                <mat-form-field class="example-full-width Clsfull-width">
                                                    <input matInput type="text" id="City" [(ngModel)]="this.profileModelAddress.City" name="City" #City="ngModel"
                                                     [readonly]="readonlyVar" placeholder="City" required [disabled]="approved">
                                                   
                                                </mat-form-field>
                                                <div *ngIf="City.errors && (City.dirty || City.touched)" class="alert">
                                                    <div [hidden]="!City.errors.required">
                                                        City is required
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <mat-form-field class="example-full-width Clsfull-width">
                                                    <input matInput type="number" id="ZipCode" [(ngModel)]="this.profileModelAddress.Zip" name="ZipCode" #ZipCode="ngModel"
                                                     [readonly]="readonlyVar" placeholder="Pincode" pattern="[0-9]{1,6}" maxlength="6" required [disabled]="approved">
                                                </mat-form-field>
                                                <div *ngIf="ZipCode.errors && (ZipCode.dirty || ZipCode.touched)" class="alert">
                                                    <div [hidden]="!ZipCode.errors.required">
                                                        Pincode is required
                                                    </div>
                                                    <div [hidden]="ZipCode.errors.maxlength">
                                                        Pincode cannot be greater than 6 digits long.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <mat-form-field class="example-full-width Clsfull-width">
                                                    <input matInput type="number" id="Phone" [(ngModel)]="this.profileModelAddress.Phone" name="Phone" #Phone="ngModel"
                                                     (blur)="CheckPhone()" pattern="[0-9]{1,10}" maxlength="10" placeholder="Enter Phone Number" required [disabled]="!editPhone && approved">
                                                </mat-form-field>
                                                <div *ngIf="Phone.errors && (Phone.dirty || Phone.touched)" class="alert">
                                                    <div [hidden]="!Phone.errors.required">
                                                        Phone is required
                                                    </div>
                                                    <div [hidden]="Phone.errors.maxlength">
                                                        Phone number cannot be greater than 10 digits long.
                                                    </div>
                                                    <div [hidden]="!Phone.errors.incorrect">
                                                        That Phone Number is used. Try another.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Ships From -->
                                        </div>
                                        <div class="row">
                                                <div class="col-md-12">
                                                        <div class="Clstitle-cover Clscolor-title">
                                                            <h6>Ships From Shop Address</h6>
                                                        </div>
                                                </div>
                                        </div>
                                        <div class="row">
                                                <div class="col-md-12">
                                                    <mat-checkbox [(ngModel)]="sameShop" name="sameShop" (click)="sameasShop()" [disabled]="approved">Same as Shop Address</mat-checkbox>
                                                </div>
                                        </div>
                                        <div class="container-fluid Clsborder">
                                            <div class="row">
                                            <div class="col-md-6">
                                                <mat-form-field class="example-full-width Clsfull-width">
                                                    <input matInput type="text" maxlength="30" id="Line1" [(ngModel)]="this.profileModelAddress.sfLine1" name="sfLine1"
                                                     #sfLine1="ngModel" placeholder="Address Line 1" required [readonly]="readonlyVar" [disabled]="approved">
                                                </mat-form-field>
                                                <div *ngIf="sfLine1.errors && (sfLine1.dirty || sfLine1.touched)" class="alert">
                                                    <div [hidden]="!sfLine1.errors.required">
                                                        Address Line1 is required
                                                    </div>
                                                    <div [hidden]="!sfLine1.errors.maxlength">
                                                        Maximum 30 characters are allowed
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <mat-form-field class="example-full-width Clsfull-width">
                                                    <input matInput type="text" maxlength="30" id="sfLine2" [(ngModel)]="this.profileModelAddress.sfLine2" name="sfLine2"
                                                     #sfLine2="ngModel" placeholder="Address Line 2" required [readonly]="readonlyVar" [disabled]="approved">
                                                </mat-form-field>
                                                <div *ngIf="sfLine2.errors && (sfLine2.dirty || sfLine2.touched)" class="alert">
                                                    <div [hidden]="!sfLine2.errors.required">
                                                        Address Line2 is required
                                                    </div>
                                                    <div [hidden]="!sfLine2.errors.maxlength">
                                                        Maximum 30 characters are allowed
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="row">
                                            <div class="col-md-6">
                                                <mat-form-field class="Clsfull-width">
                                                    <mat-select placeholder="Select State" [(ngModel)]="this.profileModelAddress.sfState" name="sfState"
                                                     [ngModelOptions]="{standalone: true}" required [disabled]="approved">
                                                        <mat-option *ngFor="let states of statesArray" [value]="states.state_name">
                                                            {{states.state_name}}
                                                        </mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-6">
                                                <mat-form-field class="example-full-width Clsfull-width">
                                                    <input matInput type="text" id="City" [(ngModel)]="this.profileModelAddress.sfCity" name="sfCity" #sfCity="ngModel"
                                                     [readonly]="readonlyVar" placeholder="City" required [disabled]="approved">
                                                     <!-- <mat-select placeholder="Select City" [(ngModel)]="this.profileModelAddress.sfCity" name="sfCity" #sfCity="ngModel"
                                                     [ngModelOptions]="{standalone: true}" required>
                                                        <mat-option *ngFor="let city of sfcitiesArray" [value]="city.city_name">
                                                            {{city.city_name}}
                                                        </mat-option>
                                                    </mat-select> -->
                                                </mat-form-field>
                                                <div *ngIf="sfCity.errors && (sfCity.dirty || sfCity.touched)" class="alert">
                                                    <div [hidden]="!sfCity.errors.required">
                                                        City is required
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <mat-form-field class="example-full-width Clsfull-width">
                                                    <input matInput type="number" id="sfZipCode" [(ngModel)]="this.profileModelAddress.sfZip" name="sfZipCode" #sfZipCode="ngModel"
                                                     [readonly]="readonlyVar" placeholder="Pincode" pattern="[0-9]{1,6}" maxlength="6" required [disabled]="approved">
                                                </mat-form-field>
                                                <div *ngIf="sfZipCode.errors && (sfZipCode.dirty || sfZipCode.touched)" class="alert">
                                                    <div [hidden]="!sfZipCode.errors.required">
                                                        Pincode is required
                                                    </div>
                                                    <div [hidden]="sfZipCode.errors.maxlength">
                                                        Pincode cannot be greater than 6 digits long.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <mat-form-field class="example-full-width Clsfull-width">
                                                    <input matInput type="number" id="sfPhone" [(ngModel)]="this.profileModelAddress.sfPhone" name="sfPhone" #sfPhone="ngModel"
                                                     (blur)="CheckPhone()" pattern="[0-9]{1,10}" maxlength="10" placeholder="Enter Phone Number" required [disabled]="!editPhone && approved">
                                                </mat-form-field>
                                                <div *ngIf="sfPhone.errors && (sfPhone.dirty || sfPhone.touched)" class="alert">
                                                    <div [hidden]="!Phone.errors.required">
                                                        Phone is required
                                                    </div>
                                                    <div [hidden]="sfPhone.errors.maxlength">
                                                        Phone number cannot be greater than 10 digits long.
                                                    </div>
                                                    <div [hidden]="!sfPhone.errors.incorrect">
                                                        That Phone Number is used. Try another.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        
                                        <div class="col-md-12">
                                            <div class="form-group col-md-6" *ngIf="!loader"></div>
                                            <div class="form-group col-md-6" *ngIf="loader">
                                                <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i> loading...
                                            </div>
                                        </div>
                                </div>
                                <div class="row text-right mt-20">
                                    <div class="col-xs-12">
                                    <div class="row text-right">
                                    <!-- <div class="Clssubmit-text col-sm-4"  *ngIf="!this.approved" >
                                        <p *ngIf="GetBusinessDetailsForm1.form.valid && submitenable">By clicking on Submit you agree to JHeaps Terms for Sellers & Privacy Policy</p>
                                    </div> -->
                                    <!-- <div class="form-group col-sm-4"  *ngIf="!this.getShopObj.SubmitBusiness">
                                        <input type="button" class=" Clscommon_btn_small" value="Save" (click)="getBusinessDetails('save')">
                                    </div> -->
                                    </div> 
                                    <div class="row">
                                    <div class="col-xs-12">
                                            <input type="button" [disabled]= "!GetBusinessDetailsForm1.form.valid"
                                            class="Clscommon_btn_fill_small" value="Submit" (click)="getBusinessDetails('submit')">
                                     </div>
                                    </div>
                                </div>
                                </div>
                                
                            </div>
                        </div>
                    </form>
                </div>         
    </div>
    <ng-template #addNewTemplate>

            <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h2 class="heading relative heading-small uppercase bottom-line style-2 left-align mb-0">Zone List</h2>
            </div> -->
        <div>
           
        <div style="margin-top:150px; margin-bottom:50px" class="text-center">
                <i class="fa fa-trash" style="font-size:100px;" ></i>
            
        </div>
        
        <div class="col-xs-12 text-center">
                <!-- <input type="button" style="width:400px; border-radius:30px" class="btn btn-color" [routerLink]="['/admin/zone/add-zone']" value="Add New"> -->
                <span>No seller details found</span>
        </div>
        </div> 
        </ng-template>