<h1>ReadyForShipment Breach Report <span *ngIf="reportData.length>0" style="padding-left:423px;"><a href="javascript:;;" (click)="DownloadReport()"> <i class="fa fa-download"></i></a></span></h1>

<div>
    <button type="button" class="btn btn-sm btn-color" (click)=" goBack1()">
        <span class="fa fa-arrow-left" aria-hidden="true"></span>
    </button>
</div>
<div class=" purchase_container">
        <div class="row purchase_title m-0" style="margin-bottom: -18px;" *ngIf="this.showDate">
                       
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <p > 
                            <strong>Start Date : {{this.reportsModel.ReportType?.StartDate | date:'dd MMM yyyy'}}</strong>
                        </p>
                     
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4">
                    </div>

                   
                    <div class="col-lg-4 col-md-4 col-sm-64col-xs-12">
                        <p>
                            <strong>End Date : {{this.reportsModel.ReportType?.ExpiryDate | date:'dd MMM yyyy'}}</strong>
                        </p>
                      
                    </div>
                  
    </div>
     <div class="row purchase_title m-0" style="margin-bottom: -18px;" *ngIf="!this.showDate">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <p>
                            <strong>Month : {{this.Month }}</strong>
                        </p>
                     
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4">
                    </div>
                   
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <p>
                            <strong>Year : {{this.Year }}</strong>
                        </p>
                      
                    </div>
                  
    </div>
    <div class="row purchase_title" style="margin-left: 0px; margin-right: 0px;">
            <div class="col-md-4">
                <p >
                    <strong>Total Orders</strong>
                </p>
                <h2 >{{ this.Results1.TotalOrders}}</h2>
            </div>
            <div class="col-md-4">
                <p>
                    <strong>ReadyForShipment Breach Orders</strong>
                </p>
                <h2 >{{ this.Results1.TotalRFS}}</h2>
            </div>
            <div class="col-md-4">
                <p >
                    <strong>ReadyForShipment Breach Rate</strong>
                </p>
                <!-- <p>{{20}}</p> -->
                <h2 >{{this.Results1.TotalRFSRate}}</h2>
            </div>
          
        </div>
    <!-- <div class="row purchase_title" style="margin-left: 0px; margin-right: 0px;">
        <div class="col-md-4">
            <p class="text-center">
                <strong>Total Orders</strong>
            </p>
            <h2 class="counter-text head text-center">{{ this.Results1.TotalOrders}}</h2>
        </div>
        <div class="col-md-4">
            <p class="text-center">
                <strong>Total Orders with RFS</strong>
            </p>
            <h2 class="counter-text head text-center">{{ this.Results1.TotalRFS}}</h2>
        </div>
        <div class="col-md-4">
            <p class="text-center">
                <strong>Total RFS Breach Rate</strong>
            </p>
            <h2 class="counter-text head text-center"></h2>
        </div>
      
    </div> -->
        
</div>


<div class="table-wrap mt-15 col-lg-12 col-md-12 col-sm-12 hidden-xs" *ngIf="showShop" >
    <div>

    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Shop Name</th>
                <th>Shop Id</th>
                <th>Orders With RFS Breach</th>
                <th>ReadyForShipment Breach Rate</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of reportData; let i = index" >
                <td  *ngIf="data.Result.length > 0">{{i+1}}</td>
                <td  *ngIf="data.Result.length > 0" style="cursor: pointer;">
                    {{data.ShopName}}
                </td>
         
                <td   *ngIf="data.Result.length > 0" style="cursor: pointer;" >{{data.ShopId}}</td>

                <td   *ngIf="data.Result.length > 0" style="cursor: pointer;"  >{{data.Result[0].TotalBreachOrders}}</td>
                <!-- <td  style="cursor: pointer;" *ngIf="!data.Result[0].TotalBreachOrders">0</td> -->


                <td   *ngIf="data.Result.length > 0" style="cursor: pointer;" >{{data.Result[0].RFSBreachRate}}</td>
                <!-- <td  style="cursor: pointer;" >{{data.Result[0].RFSBreachRate}}</td> -->

            </tr>
        </tbody>
    </table>
</div>
</div>