
	<div class=row>
			
		<div class="col-md-4" style = "margin-bottom: 20px;margin-top: 20px;">
				<label for="Search">Product Name / Order Id</label>
				<!-- <input name="text" type="text" id="UserName"  name="UserName" placeholder="User Name / Mail Id" (change)="getdetails($event.target.value)"> -->
				<div class="input-group stylish-input-group">
						<input type="text" class="form-control" (keyup)="searchOrder()" [(ngModel)]="this.searchTerm"
								id="Search" name="Search" placeholder="Type and enter to search">
						<span (click)="searchOrder()" class="input-group-addon">
								<i class="fa fa-search" aria-hidden="true"></i>
						</span>
				</div>
		</div>

</div>



<div *ngIf="orderList.length > 0; else addNewTemplate">
	
	<div class="mt-30" *ngIf="showCancel">
		<div>
			<div id='scroll-box' class="col-xs-12">
				<div class="table-wrap col-lg-12 col-sm-12 col-md-12 hidden-xs">
					<table class="table table-hover">
						<thead>
							<tr>
								<th># </th>
								<th>Date
									<a href="javascript:;"  (click)="tableSorting()">
										<i class="fa fa-sort"></i>
									</a>	 
								</th>
								<th>OrderNumber</th>
								<th>Total</th>
								<th>Status</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let order of orderList; let i=index;" style="cursor: pointer;" (click)="this.showCancel=false;this.selectedOrder=[];purchasedItem(order)">
								<td>
									{{(i+1) + (initialPage * 10)}}
								</td>
								<td>{{order.CreatedDate | date:'dd MMM yyyy'}}</td>
								<td style="cursor: pointer;" (click)="this.showCancel=false;this.selectedOrder=[];purchasedItem(order)">{{order.OrderId}}</td>
								<td>{{order.Totals.ProductCost + order.Totals.ShippingCost - order.Totals.CouponDiscount}}</td>
								<td>{{order.OrderStatus}}</td>
							</tr>
						</tbody>
					</table>
					<div *ngIf="this.loader" class="loader" style="top:102%;left:46%;display: block">
						<svg class="circular" viewBox="25 25 50 50">
							<circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
						</svg>
					</div>
				</div>
				<div class="table-wrap hidden-lg hidden-sm hidden-md col-xs-12">
					<table class="table table-hover">
						<thead>
							<tr>
								<th>OrderNumber</th>
								<th>Total</th>
								<th>Status</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let order of orderList; let i=index;">
								<td style="cursor: pointer;" (click)="this.showCancel=false;this.selectedOrder=[];purchasedItem(order)">{{order.OrderId}}</td>
								<td>{{order.Totals.ProductCost + order.Totals.ShippingCost - order.Totals.CouponDiscount}}</td>
								<td>{{order.OrderStatus}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>

	</div>
</div>
<div class="mt-30" *ngIf="!showCancel">
	<div class="form-group">
		<button type="button" class="btn btn-sm btn-color" (click)="this.showCancel = true;">
			<span class="fa fa-arrow-left" aria-hidden="true"></span>
		</button>
	</div>
	<div class="row mb-30" *ngFor="let order of selectedOrder;let i=index">
		<div class=" purchase_container">
			<div class="row purchase_title" style="margin-left: 0px; margin-right: 0px;">
				<div class="col-md-3">
					<p>
						<strong>Order Date</strong>
					</p>
					<p>{{order.CreatedDate | date:'dd MMM yyyy'}}</p>
				</div>
				<div class="col-md-2">
					<p>
						<strong>Total</strong>
					</p>
					<p [currencyValue]="productCurrency" class="amount"> {{order.Totals.TotalCost |
						currency:productCurrency.value:true}}</p>
				</div>
				<div class="col-md-2">
					<p>
						<strong>Status</strong>
					</p>
					<p>{{order.OrderStatus}}</p>
				</div>
				<div class="col-md-2">
						<p>
							<strong>Cancelled by</strong>
						</p>
						<p>{{order.CancelledBy}}</p>
					</div>
				<div class="col-md-3">
					<p>
						<strong>Order-ID</strong>
					</p>
					<p>{{order.OrderId}}</p>
				</div>
			</div>
			<!-- <div class="row purchase_body" *ngFor="let shopId of order.Items[0][getShopkey(selectedOrder[i].Items[0])];let i=index;" > -->
			<div class="row purchase_body" *ngFor="let shopId of order.Items;let i=index;">
				<span>
					<div class="col-md-2">
						<img [ImageBind]="shopId.Product" />
					</div>
					<div class="col-md-6">
						<p>
							<strong>{{shopId.Product.Name}}</strong>
						</p>
						<!--<p>{{shopId.Product.Variation.Name}}-{{shopId.Product.Variation.Value}}</p>-->
						<p>Sold by : {{order.ShopAccountId.approvedBusinessDetails.Name}}</p>
						<p>Quantity : {{shopId.Product.Qty}}</p>
						<p *ngIf="shopId.Product?.Variation"><span class="amount"> {{productCurrency.value +
								shopId.Product.Variation.Price}}</span> x {{shopId.Product.Qty}} </p>
						<p *ngIf="!shopId.Product?.Variation && shopId.Product?.Price"><span class="amount"> {{productCurrency.value +
								shopId.Product.Price}}</span> x {{shopId.Product.Qty}} </p>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-3">
						<div *ngIf="ShopId?.Product?.Variation">
							<p>
								<b>{{shopId.Product.Variation.Name1}}:{{shopId.Product.Variation.Value1}}</b>
							</p>
							<p *ngIf="shopId.Product.Variation?.Name2">
								<b>{{shopId.Product.Variation.Name2}}:{{shopId.Product.Variation.Value2}}</b>
							</p>
						</div>
					</div>
				</span>
			</div>
		</div>
		<div class="row purchase_container " style="border: none;margin: 0">
			<div class=" col-md-6 ">
				<div class=" panel panel-default">
					<div class="panel-heading text-uppercase">
						<span>Shipping Address</span>
					</div>
					<div class="panel-body">
						<strong>
							<p>{{order.ShippingAddress.FirstName +" "+order.ShippingAddress.LastName}}</p>
						</strong>
						<p style=" line-height: 1;">{{order.ShippingAddress.Line1}}</p>
						<p style=" line-height: 1;">{{order.ShippingAddress.Line2}}</p>
						<p style=" line-height: 1;">{{order.ShippingAddress.City}}</p>
						<p style=" line-height: 1;">{{order.ShippingAddress.State}}</p>
						<p style=" line-height: 1;">{{order.ShippingAddress.Country}}-{{order.ShippingAddress.Zip}}</p>
						<p style=" line-height: 1;">Phone : {{order.ShippingAddress.Phone}} </p>
					</div>
				</div>
			</div>
			<div class="col-md-6 ">
				<div class="panel panel-default">
					<div class="panel-heading text-uppercase">
						<span>Grant Total</span>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-md-6">
								<p>Cart Sub Total</p>
								<p>Shipping Cost</p>
								<p>Coupon Discount</p>
								<p style=" line-height: 4.5;">
									<strong>Total</strong>
								</p>
							</div>
							<div class="col-md-6">
								<p>+
									<span [currencyValue]="productCurrency" class="amount right"> {{order.Totals.ProductCost |
										currency:productCurrency.value:true}}</span>
								</p>
								<p>+
									<span [currencyValue]="productCurrency" class="amount right"> {{order.Totals.ShippingCost |
										currency:productCurrency.value:true}}</span>
								</p>
								<p>-
									<span [currencyValue]="productCurrency" class="amount right"> {{order.Totals.CouponDiscount |
										currency:productCurrency.value:true}}</span>
								</p>
								<hr>
								<p>=
									<span [currencyValue]="productCurrency" class="amount right"> {{order.Totals.TotalCost |
										currency:productCurrency.value:true}}</span>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<ng-template #addNewTemplate>
	<div *ngIf="this.pageLoader" class="loader" style="top:250%;left:46%;display: block">
		<svg class="circular" viewBox="25 25 50 50">
			<circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
		</svg>
	</div>
	<div *ngIf="!this.pageLoader">
		<div style="margin-top:150px; margin-bottom:50px" class="text-center">
			<i class="fa fa-trash" style="font-size:100px;"></i>

		</div>
		<div class="col-xs-12 text-center">
			<span style="margin:auto;">No Items To Show</span>
		</div>
	</div>
</ng-template>