
<div>
    <div>
        <h2 class="heading relative heading-small uppercase bottom-line style-2 left-align mb-0 pt-20">Reports</h2>
    </div>
    <form id="reportsForm" #reportsForm='ngForm' class="form">
        <div class="col-md-4">
            <label for="dropdown">Select Report Name</label>
            <select class="selectpicker show-menu-arrow" id="reportname" [(ngModel)]="this.reportName" (change)="ReportsSelectionChanged($event)"
                name="reportname" #reportname="ngModel">
                <option selected="hidden" value="">Select a report name</option>
                <optgroup label="Sales">
                    <option Value="Report-18">Admin - Seller Order Details Report </option>
                    <option Value="Report-19">Admin - Seller sales report by product</option>
                    <option Value="Report-20">Admin - Seller Profitability report</option>
                    <option Value="Report-21">Admin - Unsold Listings Report (Seller)</option>
                </optgroup>
                <optgroup label="SLA/Performance">
                    <option Value="Report-14">Admin - Product Reviews report</option>
                    <option value="Report-29">Admin - Ready for Shipment Breach Report</option>
                    <option value="Report-30">Admin - Customer Returns Report</option>
                    <option value="Report-28">Admin - Seller Order Cancellation Report</option>
                </optgroup>
                <optgroup label="Settlement">
                    <option Value="Report-24">Admin - Settled Transactions (Seller)</option>
                    <option Value="Report-23">Admin - Unsettled Transactions (Seller)</option>
                    <option Value="Report-22">Admin- Marketplace Commission Report</option>
                </optgroup>
                <option Value="Report-5">Admin - Revenue</option>
                <option Value="Report-6">Admin - Top seller Report(Revenue)</option>
                <option Value="Report-7">Admin - Top seller Report(Volume)</option>
                <option Value="Report-13">Admin - Shop Reviews report</option>

                <option Value="Report-16">Admin - Friday settlement report</option>
                <option Value="Report-31">Admin - Settlement Report</option>
                <option Value="Report-32">Admin - Settlement Detail View</option>
                <option Value="Report-33">Admin - Settlement Detail View - SellerWise</option>
                <option Value="Report-34">Admin - COD User Refund Process</option>




            </select>
        </div>

        <div class="row" *ngIf="this.reportName=='Report-5'||this.reportName=='Report-6' ||this.reportName=='Report-7'|| this.reportName=='Report-18' || this.reportName=='Report-19' ||this.reportName=='Report-20'||this.reportName=='Report-21'||this.reportName=='Report-30'||this.reportName=='Report-29'|| this.reportName=='Report-28'|| this.reportName=='Report-24'|| this.reportName=='Report-23'|| this.reportName=='Report-22' || this.reportName=='Report-13'|| this.reportName=='Report-14'|| this.reportName=='Report-33'">
            <div class="col-xs-12">
                <div class="col-xs-12">
                    <label for="Condition">Choose Criteria</label>
                </div>

                <div class="radio-buttons" id="Condition">
                    <!-- <div class="col-xs-4">
                        <input type="radio" class="input-radio" id="Condition1" value="Condition1" [(ngModel)]="reportType.Condition" name="Condition"
                            required>
                        <label for="Condition1">Choose from Avilable Report Type</label>
                    </div> -->

                    <div class="col-xs-4">
                        <input type="radio" class="input-radio" id="Condition2" value="Condition2" [(ngModel)]="reportType.Condition"
                            name="Condition" required>
                        <label for="Condition2">Choose custom dates </label>
                    </div>
                    <div class="col-xs-4">
                        <input type="radio" class="input-radio" id="Condition3" value="Condition3" [(ngModel)]="reportType.Condition"
                            name="Condition" required>
                        <label for="Condition3">Choose custom Month and Year </label>
                    </div>
                    <div class="col-xs-4" *ngIf="this.reportName == 'Report-14' ||this.reportName == 'Report-13' ">
                        <input type="radio" class="input-radio" id="Condition4" value="Condition4" [(ngModel)]="reportType.Condition" name="Condition"
                            required>
                        <label for="Condition4">All time </label>
                    </div>


                </div>
            </div>
            <!-- 
            <div class="col-xs-12 mt-15" *ngIf="reportType.Condition == 'Condition1'">

                <div class="col-xs-6">
                    <label for="dropdown">Select Report Type</label>
                    <select id="reporttype" [(ngModel)]="this.reportType.Name" name="reporttype" #reporttype="ngModel" required>
                        <option selected disabled value="">Select a report name</option>
                        <option Value="current-fiscal-year">Current Fiscal Year</option>
                        <option Value="last-fiscal-year">Last Fiscal year</option>
                        <option Value="calendar-to-date">Calendar year to date</option>
                        <option Value="month-to-date">Month to date</option>
                    </select>
                </div>


            </div> -->

            <div class="col-xs-12 mt-15" *ngIf="reportType.Condition == 'Condition2'">

                <div class="col-md-6">
                    <label for="StartDate">Start Date:</label>
                    <div>
                        <p-calendar [(ngModel)]="this.reportType.StartDate" [style]="{'height':'40px'}" [showIcon]="true"
                            [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2099" name="StartDate"
                            showButtonBar="true" placeholder="mm/dd/yyyy" required #StartDate="ngModel"></p-calendar>
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="ExpiryDate">Expiry Date:</label>
                    <!-- <input type="text" class="picker-input" #ExpiryDate="ngModel" name="ExpiryDate" [ngModel]="this.couponModel.ExpiryDate | date: 'short'" (ngModelOptions)="{'gettersetter' : true}" [(dateTimePicker)]="this.couponModel.ExpiryDate"  [theme]="'#000000'" > -->
                    <div>
                        <p-calendar [(ngModel)]="this.reportType.ExpiryDate" [style]="{'height':'40px'}" [showIcon]="true"
                            [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2099" name="ExpiryDate"
                            showButtonBar="true" placeholder="mm/dd/yyyy" required #ExpiryDate="ngModel"></p-calendar>
                    </div>
                </div>


            </div>

            <div class="col-xs-12 mt-15" *ngIf="reportType.Condition == 'Condition3'">

                <div class="col-md-6" *ngIf="Months.length >0">
                    <label for="monthSelect">Select Month</label>
                    <select id="monthSelect" [(ngModel)]="this.reportType.SelectedMonth" name="monthSelect"
                        #monthSelect="ngModel" required>
                        <option selected disabled value="">Select a Month</option>
                        <option [ngValue]="month.value" *ngFor="let month of Months">{{month.name}}</option>

                    </select>
                </div>

                <div class="col-md-6" *ngIf="Years.length >0">
                    <label for="yearSelect">Select Year</label>
                    <select id="yearSelect" [(ngModel)]="this.reportType.SelectedYear" name="yearSelect" #yearSelect="ngModel"
                        required>
                        <option selected disabled value="">Select a Year</option>
                        <option [Value]="year.value" *ngFor="let year of Years">{{year.name}}</option>

                    </select>
                </div>


            </div>
        </div>

        <!-- <div *ngIf="enableSelection">
        <div class="col-xs-12 mt-15">
            <div class="col-xs-12">
                <h3 class="col-md-6 col-md-offset-3 text-center">User Selection</h3>
            </div>
            <div class="col-xs-6 input-group input-group-xs" style="margin-left:15px">
                <input type="text" class="form-control mb-0" name="Searchbar" (keyup.enter)="searchProducts(searchTerm)" [(ngModel)]="this.searchTerm"
                    placeholder="Search..." />
                <span class="input-group-addon" id="sizing-addon1" (click)="searchProducts(searchTerm)">
                    <i class="fa fa-search"></i>
                </span>
            </div> 

            
            <div class="col-xs-6 mt-15">
                <input type="checkbox" (change)="selectAllChange($event)" class="input-checkbox" id="selectAll" name="selectAll">
                <label for="selectAll" class="checkbox-label">Select All</label>
                <button (click)="GetReports()" class="btn btn-sm btn-color pull-right" [disabled]="!((reportsForm.form.valid) && ((this.reportType.selectedProducts.length > 0) || !productsShow))">Get Reports</button>
             </div> 
        </div> 
         <div *ngIf="this.total> 0; else noItemsFound">
            <div class="col-xs-12 mt-15" [hidden]="!productsShow">
                <div class="scroll-container" (scroll)="LoadOnScroll()" id='scroll-container'>
                    <div id='scroll-box' class="col-xs-12">
                        <ul id="checkbox-container">
                            <li *ngFor="let list of getSellerList; let i = index">
                                <input type="checkbox" [name]="'check'+i" class="checkbox" [id]="'check'+i" [(ngModel)]="list.isSelected" (ngModelChange)="selectionChange(list)"
                                />
                                <label class="checkbox" [for]="'check'+i">
                                    <p class="text-truncate">{{list.UserName}}</p>
                                     <img [src]="list.Profile.DisplayPicture"  [alt]="list.Profile.DisplayName"> 
                                 </label>

                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>   -->
        <!-- <div *ngIf="this.total> 0; else noItemsFound">

                <div class="scroll-container"  id='scroll-container'>
                    <div id='scroll-box' (scroll)="LoadOnScroll()" class="col-xs-12">
                        <ul id="checkbox-container">
                            <li *ngFor="let list of getSellerList; let i = index">
                                <input type="checkbox" [name]="'check'+i" class="checkbox" [id]="'check'+i" [(ngModel)]="list.isSelected" (ngModelChange)="selectionChange(list)"
                                />
                                <label class="checkbox" [for]="'check'+i">
                                    <p class="text-truncate">{{list.UserName}}</p>
                                     <img [src]="list.Profile.DisplayPicture" [alt]="list.Profile.DisplayName"> 
                                 </label>

                            </li>
                        </ul>
                    </div>
                </div>
            </div> -->



        <!-- <ng-template #noItemsFound>
            <div class="col-xs-12 mt-15" style="margin-left: 15px">
                <span class="text-center">
                    No User found
                </span>
            </div>
        </ng-template>
</div> -->
        <div class="form-group">
            <li style="margin-left:15px;margin-top:15px;" *ngIf="this.reportName=='Report-24'|| this.reportName=='Report-23' || this.reportName=='Report-20' || this.reportName=='Report-21'|| this.reportName=='Report-22'|| this.reportName=='Report-19'|| this.reportName=='Report-14'|| this.reportName=='Report-33'">
                <p-dropdown [options]="getSellerList" name="getSellerList" (onChange)="onGroupSelect($event.value)"
                    [(ngModel)]="this.reportType.SellerId" [style]="{'width':'150px'}" filter="true" required>
                    <ng-template let-data pTemplate="selectedItem">
                        <span style="vertical-align:middle" [value]="data.value">{{data.label}}</span>
                    </ng-template>
                </p-dropdown>
            </li>
        </div>

        <div *ngIf="this.reportName == 'Report-19'">
            <div class="col-xs-12 mt-15">
                <div class="col-xs-12">
                    <h3 class="col-md-6 col-md-offset-3 text-center">Product Selection</h3>
                </div>
                <div class="col-xs-6 input-group input-group-xs" style="margin-left:15px">
                    <input type="text" class="form-control mb-0" name="Searchbar" (keyup.enter)="searchProducts(searchTerm)"
                        [(ngModel)]="this.searchTerm" placeholder="Search" />
                    <span class="input-group-addon" id="sizing-addon1" (click)="searchProducts(searchTerm)">
                        <i class="fa fa-search"></i>
                    </span>
                </div>

                <div class="col-xs-6 mt-15">
                    <input type="checkbox" (change)="selectAllChange($event)" class="input-checkbox" id="selectAll"
                        name="selectAll">
                    <label for="selectAll" class="checkbox-label">Select All</label>
                    <button *ngIf="this.reportName !='Report-31'" (click)="GetReports()" class="btn btn-sm btn-color pull-right"
                        [disabled]="!((reportsForm.form.valid) && ((this.reportType.selectedProducts.length > 0) || !productsShow ))">Get
                        Reports</button>
                    <!-- <button (click)="DownloadReport()" class="btn btn-sm btn-color pull-right" [disabled]="!((reportsForm.form.valid) && ((this.reportType.selectedProducts.length > 0) || !productsShow ))">Download Reports</button> -->

                    <!-- <button (click) = "delReport()"*ngIf = "reportsReady">
                        <a target="_self" [href]="ReportsLink"class="btn btn-sm btn-stroke">Download Reports</a></button> -->
                </div>
            </div>
            <div *ngIf="Products.length > 0; else noItemsFound">
                <div class="col-xs-12 mt-15" [hidden]="!productsShow">
                    <div class="scroll-container" (scroll)="LoadOnScroll()" id='scroll-container'>
                        <div id='scroll-box' class="col-xs-12">
                            <ul id="checkbox-container">
                                <li *ngFor="let Product of this.Products;let i=index">
                                    <input type="checkbox" [name]="'check'+i" class="checkbox" [id]="'check'+i"
                                        [(ngModel)]="Product.isSelected" (ngModelChange)="selectionChange(Product)" />
                                    <label class="checkbox" [for]="'check'+i">
                                        <p class="text-truncate">{{Product.Name}}</p>
                                        <img [BindImage]="Product" [alt]="Product.Name">
                                    </label>

                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>


            <ng-template #noItemsFound>
                <div class="col-xs-12 mt-15" style="margin-left: 15px">
                    <span class="text-center">
                        No Products found
                    </span>
                </div>
            </ng-template>
        </div>

        <div class="col-md-12 mt-15" *ngIf="this.reportName=='Report-5' ||this.reportName=='Report-6' ||this.reportName=='Report-7'|| this.reportName=='Report-20' || this.reportName=='Report-30'|| this.reportName=='Report-29'|| this.reportName=='Report-28'|| this.reportName=='Report-24'|| this.reportName=='Report-23'|| this.reportName=='Report-21'|| this.reportName=='Report-22' || this.reportName=='Report-13'|| this.reportName=='Report-14' || this.reportName=='Report-33'">
            <button (click)="GetReports()" class="btn btn-sm btn-color" [disabled]="!reportsForm.form.valid">Get
                Reports
            </button>
        </div>

    </form>
</div>
<br>
<br>

<!-- <br>
<br>
        <br>
        <br> -->
        <div class="container" *ngIf="this.reportName=='Report-34'">
                <br>
                <div>
            
                </div>
                <br>
                <div class="row">
                    <div class="col-md-4">
                        <input type="text" [(ngModel)]="this.BatchId">
            
                    </div>
                    <div class="col-md-8">
                        <input type="checkbox" class="input-checkbox" id="selectAll" [(ngModel)]="this.testrun" name="selectAll">
                        <label for="selectAll" class="checkbox-label">Test Run</label>
                    </div>
                    <br>
                    <br>
                    <br>
                    <!-- <button class="btn btn-primary" (click)="DownloadSettlementReport()">Download Settlement Report</button> -->
            
                </div>
                <br>
            
            
            
                <div>
                    <button class="btn btn-primary" (click)="GenerateCODUserReport()">Generate COD User Settlement Report</button>
                </div>       
        </div>
<div class="container" *ngIf="this.reportName=='Report-31'">

    <br>
    <div>

    </div>
    <br>
    <div class="row">
        <div class="col-md-4">
            <input type="text" [(ngModel)]="this.BatchId">

        </div>
        <div class="col-md-8">
            <input type="checkbox" class="input-checkbox" id="selectAll" [(ngModel)]="this.testrun" name="selectAll">
            <label for="selectAll" class="checkbox-label">Test Run</label>
        </div>
        <br>
        <br>
        <br>
        <!-- <button class="btn btn-primary" (click)="DownloadSettlementReport()">Download Settlement Report</button> -->

    </div>
    <br>



    <div>
        <button class="btn btn-primary" (click)="GenerateSettlementReport()">Generate Settlement Report</button>
    </div>


</div>

<div class="container" *ngIf="this.reportName=='Report-32'">

        <br>
        <div>
    
        </div>
        <br>
        <div class="row">
            <div class="col-md-4">
                <input type="text" [(ngModel)]="this.OrderId">
    
            </div>
            <div class="col-md-4">
                <select [(ngModel)]="this.InputType">
                    <option value="1">OrderId</option>
                    <option value="2">BatchId</option>
                    <option value="3">SettlementId</option>
                </select>
    
            </div>
            <br>
            <br>
            <br>
            <!-- <button class="btn btn-primary" (click)="DownloadSettlementReport()">Download Settlement Report</button> -->
    
        </div>
        <br>
    
    
    
        <div>
            <button class="btn btn-primary" [disabled]="!this.InputType || !this.OrderId" (click)="ViewSettlementDetails()">View Settlement Details</button>
        </div>
    
    
    </div>