<div class="container">
	<div class="tabs mb-50">

		<ul class="nav nav-tabs">

			<li [routerLinkActive]="['active']">
				<a [routerLink]="['inbox']">Inbox</a>
			</li>

			<li *ngIf="this.userRole" [routerLinkActive]="['active']">
				<a [routerLink]="['sent']">Sent</a>
			</li>

			<li [routerLinkActive]="['active']">
				<a [routerLink]="['trash']">Trash</a>
			</li>

			
		</ul>
		<!-- end tabs -->


		<!-- tab content -->
		<div class="tab-content">

			<router-outlet></router-outlet>

		</div>
		<!-- end tab content -->
	</div>
</div>



