<div>
    <h2 class="heading relative heading-small uppercase bottom-line style-2 left-align mb-0 pt-20">Master Data</h2>
</div>
<div class="tabs mb-50">

	<ul class="nav nav-tabs">

		<li [routerLinkActive]="['active']">
			<a href="javascript:;" [routerLink]="['attribute']">Attribute</a>
		</li>

		<li [routerLinkActive]="['active']">
			<a href="javascript:;" [routerLink]="['category']">Category</a>
		</li>

		<li [routerLinkActive]="['active']">
			<a href="javascript:;" [routerLink]="['cod-limit']">COD Limit</a>
		</li>
		<li [routerLinkActive]="['active']">
			<a href="javascript:;" [routerLink]="['userattribute']">User Attribute</a>
		</li>
		<li [routerLinkActive]="['active']">
			<a href="javascript:;" [routerLink]="['shippingcommission']">Shipping Commission</a>
		</li>
	</ul>
	<!-- end tabs -->


	<!-- tab content -->
	<div class="tab-content">
		<router-outlet></router-outlet>
	</div>
	<!-- end tab content -->
</div>