<div class="col-md-9 col-sm-9 col-xs-12">
	<div class="table-wrap">
		<table class="table table-responsive" *ngFor="let group of getGroupAllList;let i=index">
			<thead>
				<tr>
					<th colspan="2" class="cursor_pointer" style="text-transform: none !important;"><h4 (click)="ViewGroup(group.Group._id)">{{group.Group.GroupTitle}}</h4></th>
					<th colspan="2"><h6 class="right cursor_pointer forum-button-title" style="text-transform: none !important;" (click)="postThread(group.Group._id)">{{group.Group.ButtonTitle}}</h6></th>
				</tr>
			</thead>
			<!-- <tbody *ngIf="group.Posts.length>=4" class="hidden-xs" >
				<tr  *ngFor="let post of group.Posts | slice:0:4;">
					<td [ngClass]="{'active': post.Pin}" class="table_vertical_align" width="8%"><img src="{{post.User.Image}}" class="img-rounded img-responsive"/></td>
					<td [ngClass]="{'active':post.Pin}"class="table_vertical_align" width="55%"><p><strong class="cursor_pointer selectedmsg_align" (click)="ViewThread(group.Group.Id,post._id)" >{{post.Title | shorten : 100	:'...'}}</strong></p>
						<p ><span class="label label-primary">{{post.Status}}</span></p>
					</td>
				
					<td [ngClass]="{'active':post.Pin}" class="table_vertical_align" width="10%"><p class="right badge" style="color:#635959;background-color:#e6e6e6">{{post.ResponseCount}}</p></td>
					<td [ngClass]="{'active':post.Pin}" class="table_vertical_align" width="25%">
							<span  class="right">
								{{post.CreatedDate | date:'dd MMM, yyyy'}}
							</span>					
					</td>
					<td [ngClass]="{'active':post.Pin}" class="table_vertical_align" width="25%">
						<span class="left">
						</span>
					</td> -->
					<!--<td width="25%"><p class="right">{{timeSince(post.CreatedDate)}} ago</p></td>-->
				<!-- </tr>
			</tbody> -->
			<tbody class="hidden-xs">
				<tr *ngFor="let post of group.Posts | slice:0:4;">
					<td  [ngClass]="{'active':post.Pin}" class="table_vertical_align" width="8%"><img src="{{post.User.Profile.DisplayPicture}}" class="img-rounded img-responsive"/></td>
					<td  [ngClass]="{'active':post.Pin}" class="table_vertical_align" width="55%"><p><strong class="cursor_pointer selectedmsg_align" (click)="ViewThread(group.Group._id,post._id)" >{{post.Title | shorten : 100	:'...'}}</strong></p>
						<p><span class="label label-primary">{{post.Status}}</span></p>
					</td>
				
					<td  [ngClass]="{'active':post.Pin}" class="table_vertical_align" width="10%"><p class="right badge" style="color:#635959;background-color:#e6e6e6">{{post.ResponseCount}}</p></td>
					<td  [ngClass]="{'active':post.Pin}" class="table_vertical_align" width="25%">
						<span  class="right">
								<!-- {{timeSince(post.CreatedDate)}} ago -->
							{{DateChange(post.CreatedDate)}}
							<!-- {{post.CreatedDate | date:'dd MMM, yyyy'}} -->
						</span>
						<!-- <span>
							{{ post.CreatedDate | date:'HH:mm'}}
						</span> -->
					</td>
					<!--<td width="25%"><p class="right">{{timeSince(post.CreatedDate)}} ago</p></td>-->
				</tr>
			</tbody>

			<!--For Mobile-->

			<tbody *ngFor="let post of group.Posts" class="hidden-lg hidden-md hidden-sm">
				<tr>
					<td colspan=4  [ngClass]="{'active':post.Pin}" class="table_vertical_align"><p><strong class="cursor_pointer selectedmsg_align" (click)="ViewThread(group.Group._id,post._id)" >{{post.Title | shorten : 100	:'...'}}</strong></p>
						<p><span class="label label-primary">{{post.Status}}</span></p>
					</td>
				</tr>
				<tr>
					<td colspan=2 [ngClass]="{'active':post.Pin}" class="table_vertical_align"><p>{{post.CreatedDate | date:'dd MMM yyyy'}}</p></td>
					<td colspan=2 [ngClass]="{'active':post.Pin}" class="table_vertical_align" ><p class="right badge" style="color:#635959;background-color:#e6e6e6">{{post.ResponseCount}}</p></td>
				</tr>
			</tbody>


			<tbody *ngIf="group.Posts.length==0">
					<tr>
						<td colspan=4><p>Please start to share your thoughts...</p></td>
					</tr>
				</tbody>
		</table>
	</div>
</div>
		
		
