<h1>Order Fulfilment<span *ngIf="reportData.length > 0 && showlist" style="padding-left:423px;"><a href="javascript:;;" (click)="DownloadReport()"> <i
    class="fa fa-download"></i></a></span></h1>
<div *ngIf="!showlist">
<button type="button" class="btn btn-sm btn-color" (click)=" goBack()">
<span class="fa fa-arrow-left" aria-hidden="true"></span>
</button>
</div>

<div class=" purchase_container" *ngIf="!showlist">
<div class="row purchase_title" style="margin-left: 0px; margin-right: 0px;">
<div class="col-md-6">
    <p class="text-center">
        <strong>Order #</strong>
    </p>
    <h2 class="counter-text head text-center">{{ this.selectedReport.OrderId}}</h2>
</div>
<div class="col-md-6">
    <p class="text-center">
        <strong>Order Date</strong>
    </p>
    <h2 class="counter-text head text-center">{{this.selectedReport.OrderDate | date:'dd MMM yyyy'}}</h2>
</div>

</div>

<table class="table" style="margin-top:30px">
    <thead>
        <tr>
            <th></th>
            <th class="text-align: left">Order Details</th>
            <th></th>
            <th class="text-align:left"></th>
            <!-- <th class="text-center">Total Percentage</th> -->
          
        </tr>
    </thead>
    <tbody>
        <tr> 
             <th></th>
            <td  class="text-align:left">Payment Type</td>
            <th>:</th>
            <td class="text-align:left"> {{ this.selectedReport.PaymentMethod}}</td>
            <!-- <td class="text-center">{{  this.TotalCustomerReturn.TotalWSorMIPercentage}} </td> -->
           
          
        </tr>
        <tr> 
             <th></th>
            <td  class="text-align:left">Order Item Number </td>
            <th>:</th>
            <td class="text-align:left"> {{ this.selectedReport.OrderCompletionDate}}</td>
            <!-- <td class="text-center">{{this.TotalCustomerReturn.TotalPQPercentage}} </td> -->
           
        </tr>
        <tr>  
            <th></th>
            <td  class="text-align:left">Product Id</td>
            <th>:</th>
            <td class="text-align:left">{{ this.selectedReport.ProductId}} </td>
            <!-- <td class="text-center">{{  this.TotalCustomerReturn.TotalDaPPercentage}} </td> -->
           
        </tr>
        <tr>  
            <th></th>
            <td  class="text-align:left">Variation Id</td>
            <th>:</th>
            <td class="text-align:left"> {{ this.selectedReport.variationId}}</td>
            <!-- <td class="text-center">{{this.TotalCustomerReturn.TotalDePPercentage}} </td> -->
           
        </tr>
      
        <tr> 
             <th></th>
            <td  class="text-align:left">Sku</td>
            <th>:</th>
            <td class="text-align:left"> </td>
            <!-- <td class="text-center">{{this.TotalCustomerReturn.TotaldefecttotalPercentage}} </td> -->
           
        </tr>
        <tr> 
                <th></th>
               <td  class="text-align:left">Variation sku</td>
               <th>:</th>
               <td class="text-align:left"> </td>
               <!-- <td class="text-center">{{this.TotalCustomerReturn.TotaldefecttotalPercentage}} </td> -->
              
           </tr>
           <tr> 
                <th></th>
               <td  class="text-align:left">Product Name</td>
               
               <th>:</th>
               <td class="text-align:left"> {{ this.selectedReport.ProductName}} </td>
               <!-- <td class="text-center">{{this.TotalCustomerReturn.TotaldefecttotalPercentage}} </td> -->
              
           </tr>
           <tr> 
                <th></th>
               <td  class="text-align:left">Quantity</td>
               
               <th>:</th>
               <td class="text-align:left"> {{ this.selectedReport.quantity}} </td>
               <!-- <td class="text-center">{{this.TotalCustomerReturn.TotaldefecttotalPercentage}} </td> -->
              
           </tr>
           <tr> 
                <th></th>
               <td  class="text-align:left">Delivery Logistics Partner</td>
               
               <th>:</th>
               <td class="text-align:left"> {{ this.selectedReport.DeliveryLogisticsPartner}} </td>
               <!-- <td class="text-center">{{this.TotalCustomerReturn.TotaldefecttotalPercentage}} </td> -->
              
           </tr>
           <tr> 
                <th></th>
               <td  class="text-align:left">Delivery Tracking Id</td>
               
               <th>:</th>
               <td class="text-align:left"> {{ this.selectedReport.DeliveryTrackingId}} </td>
               <!-- <td class="text-center">{{this.TotalCustomerReturn.TotaldefecttotalPercentage}} </td> -->
              
           </tr>
           <tr> 
                <th></th>
               <td  class="text-align:left">Order Cancellation Date</td>
               
               <th>:</th>
               <td class="text-align:left"> {{ this.selectedReport.Cancellation_Date| date:'dd MMM yyyy'}} </td>
               <!-- <td class="text-center">{{this.TotalCustomerReturn.TotaldefecttotalPercentage}} </td> -->
              
           </tr>
           <tr> 
                <th></th>
               <td  class="text-align:left">Cancellation Reason</td>
               
               <th>:</th>
               <td class="text-align:left">  </td>
               <!-- <td class="text-center">{{this.TotalCustomerReturn.TotaldefecttotalPercentage}} </td> -->
              
           </tr>
           <tr> 
                <th></th>
               <td  class="text-align:left">Refund or Replacement</td>
               
               <th>:</th>
               <td class="text-align:left"> {{ this.selectedReport.SettlementId}} </td>
               <!-- <td class="text-center">{{this.TotalCustomerReturn.TotaldefecttotalPercentage}} </td> -->
              
           </tr>
           <tr> 
                <th></th>
               <td  class="text-align:left">Order Refund Replacement Approval Date</td>
               
               <th>:</th>
               <td class="text-align:left">{{ this.selectedReport.replacement_date| date:'dd MMM yyyy'}}</td>
               <!-- <td class="text-center">{{this.TotalCustomerReturn.TotaldefecttotalPercentage}} </td> -->
              
           </tr>
           <tr> 
                <th></th>
               <td  class="text-align:left">Return Order #</td>
               
               <th>:</th>
               <td class="text-align:left"> {{ this.selectedReport.rto_order_id}} </td>
               <!-- <td class="text-center">{{this.TotalCustomerReturn.TotaldefecttotalPercentage}} </td> -->
              
           </tr>
           <tr> 
                <th></th>
               <td  class="text-align:left">Return Order Date</td>
               
               <th>:</th>
               <td class="text-align:left"> {{ this.selectedReport.rto_order_date| date:'dd MMM yyyy'}} </td>
               <!-- <td class="text-center">{{this.TotalCustomerReturn.TotaldefecttotalPercentage}} </td> -->
              
           </tr>
           <tr> 
                <th></th>
               <td  class="text-align:left">Replacement Order #</td>
               
               <th>:</th>
               <td class="text-align:left"> {{ this.selectedReport.replacement_id}} </td>
               <!-- <td class="text-center">{{this.TotalCustomerReturn.TotaldefecttotalPercentage}} </td> -->
              
           </tr>
           <tr> 
                <th></th>
               <td  class="text-align:left">Return Reason</td>
               
               <th>:</th>
               <td class="text-align:left"> </td>
               <!-- <td class="text-center">{{this.TotalCustomerReturn.TotaldefecttotalPercentage}} </td> -->
              
           </tr>
           <tr> 
                <th></th>
               <td  class="text-align:left">Order Ready For Dispatch On Date</td>
               
               <th>:</th>
               <td class="text-align:left"> {{ this.selectedReport.Order_ready_for_dispatch_date| date:'dd MMM yyyy'}} </td>
               <!-- <td class="text-center">{{this.TotalCustomerReturn.TotaldefecttotalPercentage}} </td> -->
              
           </tr>
           <tr> 
                <th></th>
               <td  class="text-align:left">Dispatch Date</td>
               
               <th>:</th>
               <td class="text-align:left"> {{ this.selectedReport.Dispatch_Date| date:'dd MMM yyyy'}} </td>
               <!-- <td class="text-center">{{this.TotalCustomerReturn.TotaldefecttotalPercentage}} </td> -->
              
           </tr>
           <tr> 
                <th></th>
               <td  class="text-align:left">Dispatch SLA Breached</td>
               
               <th>:</th>
               <td class="text-align:left"><p *ngIf="this.selectedReport.Dispatch_Sla_Breach">Yes</p> <p *ngIf="!this.selectedReport.Dispatch_Sla_Breach">No</p> </td>
               <!-- <td class="text-center">{{this.TotalCustomerReturn.TotaldefecttotalPercentage}} </td> -->
              
           </tr>
           <tr> 
                <th></th>
               <td  class="text-align:left">Seller Pickup Reattempts </td>
               
               <th>:</th>
               <td class="text-align:left"> </td>
               <!-- <td class="text-center">{{this.TotalCustomerReturn.TotaldefecttotalPercentage}} </td> -->
              
           </tr>
           <tr> 
                <th></th>
               <td  class="text-align:left">Order Delivery Date</td>
               
               <th>:</th>
               <td class="text-align:left"> {{ this.selectedReport.Delivery_Date| date:'dd MMM yyyy'}} </td>
               <!-- <td class="text-center">{{this.TotalCustomerReturn.TotaldefecttotalPercentage}} </td> -->
              
           </tr>
           <tr> 
                <th></th>
               <td  class="text-align:left">Order Service Completion Date</td>
               
               <th>:</th>
               <td class="text-align:left"> </td>
               <!-- <td class="text-center">{{this.TotalCustomerReturn.TotaldefecttotalPercentage}} </td> -->
              
           </tr>
           <tr> 
                <th></th>
               <td  class="text-align:left">Service SLA Breached</td>
               
               <th>:</th>
               <td class="text-align:left"> <p *ngIf="this.selectedReport.ServiceSlaBreach">Yes</p> <p *ngIf="!this.selectedReport.ServiceSlaBreach">No</p> </td>
               <!-- <td class="text-center">{{this.TotalCustomerReturn.TotaldefecttotalPercentage}} </td> -->
              
           </tr>
        
    </tbody>
</table>


</div>

<div class="col-md-12 mt-15" *ngIf="showlist">
<button type="button" class="btn btn-sm btn-color" (click)=" goBack1()">
<span class="fa fa-arrow-left" aria-hidden="true"></span>
</button>
<div *ngIf="reportData?.length > 0;else addNewTemplate">
<div class="purchase_container">
    <div class="row purchase_title m-0" *ngIf="this.showDate">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <p>
                <strong>
                    Priod for selection: {{this.reportsModel.ReportType?.StartDate | date:'dd MMM yyyy'}} - {{this.reportsModel.ReportType?.ExpiryDate | date:'dd MMM yyyy'}}
                </strong>
            </p>
        </div>        
            <!-- <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <p>
                    <strong>Start Date : {{this.reportsModel.ReportType?.StartDate | date:'dd MMM yyyy'}}</strong>
                </p>
             
            </div> -->
           
            <!-- <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <p>
                    <strong>End Date : {{this.reportsModel.ReportType?.ExpiryDate | date:'dd MMM yyyy'}}</strong>
                </p>
              
            </div> -->
          
    </div>
    <div class="row purchase_title m-0" *ngIf="!this.showDate">
        <div class="col-lg-12 col-md-12-col-sm-12 col-xs-12">
            Period for selection: {{this.Month }} {{this.Year }} 
        </div>
            <!-- <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <p>
                    <strong>Month : {{this.Month }}</strong>
                </p>
             
            </div>
           
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <p>
                    <strong>Year : {{this.Year }}</strong>
                </p>
              
            </div> -->
          
    </div>
</div>
<table class="table table-condensed">
<thead>
<tr>
    <th>#</th>
    <th> Order #</th>
    <th>Order date</th>
    <th>Order Status</th>
    <!-- <th>Product Name</th> -->

</tr>
</thead>
<tbody>
<tr *ngFor="let data of  reportData; let i = index">
    <td>{{i+1}}</td>
    <td style="cursor: pointer;" (click)=" selectedProduct(data);">
        {{data.OrderId}}
    </td>

    <td style="cursor: pointer;" (click)="selectedProduct(data);">{{data.OrderDate | date:'dd MMM yyyy'}}</td>
    <td style="cursor: pointer;" (click)="selectedProduct(data);"> {{data.OrderStatus}}</td>
    <!-- <td style="cursor: pointer;" (click)="selectedProduct(data);"> {{data.ProductName}}</td> -->
</tr>
</tbody>
</table>
</div>
</div>
<ng-template #addNewTemplate>
        <div class="hidden-xs">
                <div style="margin-top:150px; margin-bottom:50px" class="text-center">
                        <i class="fa fa-trash" style="font-size:100px;"></i>

                </div>
                <div class="col-xs-12 text-center">
                        <span style="margin:auto;">No Orders To Show</span>
                </div>
        </div>
</ng-template>