<div>
	<h2 class="heading relative heading-small uppercase bottom-line style-2 left-align mb-0" title="These shop sections will be available for selection in your listing manager.">Shop Sections</h2>

	<div class="row">
		<div class="col-md-5 col-md-offset-6 " style="padding-right: 30px;">
			<input type="button" class="btn btn-sm btn-color right rounded" (click)="addNew()" value="New">
		</div>
	</div>
	<div *ngIf="Sections?.length < 1">
			<div *ngIf="this.pageLoader" class="loader" style="top:130px;left:46%;display: block">
					<svg class="circular" viewBox="25 25 50 50">
					  <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
					</svg>
			</div>
		<div  *ngIf="!this.pageLoader"  class="text-center">
			<i class="fa fa-trash" style="font-size:150px;">
				<h4>Empty</h4>
			</i>
		</div>
	</div>
	<div>
		<div id='scroll-box' class="col-xs-12">
			<div class="table-wrap" *ngIf="Sections?.length >=1">
				<table class="table table-striped table-condensed">
					<thead>
						<tr>
							<th class="text-center" id="th" >#</th>
							<th class="text-center" id="th">Section Name</th>
							<th class="text-center" id="th">Edit</th>
							<th class="text-center" id="th">Delete</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let Section of Sections;let i=index">
							<td class="text-center">{{pageNumber*10+i+1}}</td>
							<td class="text-center">{{ Section.Name }}</td>
							<td class="text-center">
								<a href="javascript:;">
									<i class="fa fa-edit" style="font-size:20px;color:black;" (click)="edit(Section)"></i>
								</a>
							</td>
							<td class="text-center">
								<a href="javascript:;">
									<i class="fa fa-trash-o" style="font-size:20px;color:black;" (click)="confirmDelete(Section,Section.Name)"></i>
								</a>
							</td>
						</tr>
					</tbody>
				</table>
				<div *ngIf="this.loader" class="loader" style="top:100%;left:40%;display: block">
                    <svg class="circular" viewBox="25 25 50 50">
                      <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
                    </svg> 
            </div>
				<div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h4 class="modal-title">Delete {{sectionName}} </h4>
							</div>
							<div class="modal-body">
								{{ productLinkCount > 0 ? 'There are ' +productLinkCount+' products linked to the '+ sectionName +' section. You are unable
								to delete this section.' : 'Are you sure to delete the ' + sectionName + ' section ?' }}
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-sm btn-red right rounded mleft" *ngIf="productLinkCount==0" (click)="delete()" data-dismiss="modal">Confirm</button>
								<button type="button" class="btn btn-sm btn-color right rounded" data-dismiss="modal">Close</button>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

	<!-- <a href="javascript:;" class="pagination_font">{{pageNumber+1}} out of {{totalPages}}</a>
		<a href="javascript:;">
		<button [disabled]="pageNumber<1" class="btn btn-sm btn-color" (click)="pageSelectionPrev()" >
		&#9664;
		</button>
		</a>
		<a href="javascript:;">
		<button [disabled]="pageNumber+1==totalPages" class="btn btn-sm btn-color " (click)="pageSelectionNext()">
		&#9658;
		</button>
		</a> -->


</div>