<style>
.alert{
	font-size: 12px !important;
	padding: 0px !important;
    margin-bottom: 10px !important;
    color: #ff0000 !important;
	margin-top: -6px;
	}

input[type="text"],input[type="number"],input[type="email"],input[type="password"] ,textarea{
	border: none !important;
	margin-bottom: 0px !important;
	padding: 0px !important;
	box-shadow: none;
}
/* @media print{
  .doNotPrint{display:none !important;}
} */
</style>
<div class="mt-30" *ngIf="showOrder">
	<div class="row">
		<div class="col-md-5 input-group input-group-xs hidden-xs col-md-offset-7"  style="padding-right: 2%;">

			<button class="btn  btn-color pull-right" (click)="print()" [disabled]="this.orderArray.length == 0">PRINT
				SELECTED ORDERS</button>
		</div>
	</div>
	<div>
		<div class=row>
			
				<div class="col-md-4" style = "margin-bottom: 20px">
						<label for="Search">Product Name / Order Id</label>
						<!-- <input name="text" type="text" id="UserName"  name="UserName" placeholder="User Name / Mail Id" (change)="getdetails($event.target.value)"> -->
						<div class="input-group stylish-input-group">
								<input type="text" class="form-control" (keyup)="searchOrder()" [(ngModel)]="this.searchTerm"
										id="Search" name="Search" placeholder="Type and enter to search">
								<span (click)="searchOrder()" class="input-group-addon">
										<i class="fa fa-search" aria-hidden="true"></i>
								</span>
						</div>
				</div>

		</div>
		<div id='scroll-box' class="col-xs-12">
			<div class="row">
				<span class="text-danger hidden-xs">Note 1: Enter the package details (size & weight) before printing the shipping label.</span> <br>
				<span class="text-danger hidden-xs">Note 2: Downloading the shipping label will change the order status to 'Ready for Shipment' automatically and the courier will schedule the pickup.</span>
				<div class="table-wrap mt-15 col-lg-12 col-md-12 col-sm-12 hidden-xs" *ngIf="placedOrderList.length > 0; else addNewTemplate">
					<table class="table">
						<thead>
							<tr>
								<th>#</th>
								<th> * </th>
								<th>Date
									<a href="javascript:;"  (click)="tableSorting()">
										<i class="fa fa-sort"></i>
						</a>
								</th>
								<th>Order #</th>
								<th>Total</th>
								<th>Status</th>
								<th>Package Details</th>
								<th>Download Invoice</th>
								<th>Download Shipping Label</th>

							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let order of placedOrderList; let i = index">
								<td style="cursor: pointer;" (click)="selected(order);">{{i+1}}</td>
								<td>
									<div class="checkboxes">
										<input type="checkbox" class="input-checkbox" (change)="checkedOrder(order,$event);" [(ngModel)]="order.checked"
										 [id]="order._id" name="selectOrder" /> 
										<label [attr.for]="order._id"> </label>
									</div>
								</td>
								<td style="cursor: pointer;" (click)="selected(order);"> {{order.CreatedDate | date:'dd/MM/yyyy'}}</td>
								<td style="cursor: pointer;" (click)="selected(order);">{{order.OrderId}}</td>
								<td style="cursor: pointer;" (click)="selected(order);">{{order.Totals.ProductCost + order.Totals.ShippingCost
									- order.Totals.CouponDiscount}}</td>
								<td style="cursor: pointer;" (click)="selected(order);"> {{order.OrderStatus}}</td>
								<td class="text-center">
									<div>
										<span class="cursor_pointer" *ngIf="!(order.OrderDetailId)" (click)="form(order._id,order)">
											<i class="fa fa-plus unpinIcon" aria-hidden="true" title="Enter Package size & Weight"></i>
										</span>
										<span class="cursor_pointer" *ngIf="order.OrderDetailId" (click)="editPackageDetails(order.OrderDetailId, order)">
											<i class="fa fa-edit unpinIcon" aria-hidden="true"></i>
										</span>
									</div>
									<!--
						<button type="button" class="btn btn-sm btn-color" *ngIf="order.OrderDetailId==''" (click)="form(order._id,order)">Fill Package Details</button>
												<a href="javascript:;" *ngIf="order.OrderDetailId!=''" (click)="editPackageDetails(order.OrderDetailId, order)">Edit Package Details</a>-->

								</td>
								<td class="text-center">
									<div>
										<span class="cursor_pointer" *ngIf="order.OrderDetailId && !order.InvoiceLink" (click)="PrintInvoice(order._id)">
											<i class="fa fa-print unpinIcon"></i>
										</span>
										<span class="cursor_pointer" *ngIf="order.InvoiceLink" (click)="downloadlink(order.InvoiceLink)">
											<i class="fa fa-download unpinIcon"></i>
										</span>
										<span *ngIf="!(order.OrderDetailId)" style="color:lightgrey; font-size: 17px">
											<i class="fa fa-print"></i>
										</span>
									</div>
								</td>
								<td class="text-center">
									<div>
										<span class="cursor_pointer" *ngIf="order.OrderDetailId && order.InvoiceLink" (click)="action(order._id)">
											<i class="fa fa-print unpinIcon"></i>
										</span>
										<span *ngIf="!(order.OrderDetailId) || !order.InvoiceLink  " style="color:lightgrey; font-size: 17px">
											<i class="fa fa-print"></i>
										</span>
									</div>
								</td>
								
							</tr>
						</tbody>
					</table>
					<div *ngIf="this.loader1" class="loader" style="top:102%;left:46%;display: block">
						<svg class="circular" viewBox="25 25 50 50">
							<circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
						</svg>
					</div>
				</div>
				<div class="table-wrap hidden-lg hidden-md hidden-sm col-xs-12 " *ngIf="placedOrderList.length > 0; else addNewTemplateMob">
					<table class="table table-hover" style="margin-left:-30px;">
						<thead>
							<tr>
								<th>OrderNumber</th>
								<th>Total</th>
								<th>Status</th>
								<th *ngIf="orderArray.length>0">Package Details</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let order of placedOrderList; let i = index">
								<td style="cursor: pointer;" (click)="selected(order);">{{order.OrderId}}</td>
								<td>{{order.Totals.ProductCost + order.Totals.ShippingCost - order.Totals.CouponDiscount}}</td>
								<td>{{order.OrderStatus}}</td>
								<td class="text-center" *ngIf="orderArray.length>0">
									<div *ngIf="order.checked">
										<span class="cursor_pointer" *ngIf="!(order.OrderDetailId)" (click)="form(order._id,order)">
											<i class="fa fa-plus unpinIcon" aria-hidden="true"></i>
										</span>
										<span class="cursor_pointer" *ngIf="order.OrderDetailId" (click)="editPackageDetails(order.OrderDetailId, order)">
											<i class="fa fa-edit unpinIcon" aria-hidden="true"></i>
										</span>
									</div>
									<!--
						<button type="button" class="btn btn-sm btn-color" *ngIf="order.OrderDetailId==''" (click)="form(order._id,order)">Fill Package Details</button>
												<a href="javascript:;" *ngIf="order.OrderDetailId!=''" (click)="editPackageDetails(order.OrderDetailId, order)">Edit Package Details</a>-->

								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="mt-30" *ngIf="selectedPurchase">
	<div class="form-group">
		<button type="button" class="btn btn-sm btn-color" (click)=" order()">
			<span class="fa fa-arrow-left" aria-hidden="true"></span>
		</button>
	</div>
	<div class="row mb-30" *ngFor="let order of selectedOrder;let i=index">
		<div class=" purchase_container">
			<div class="row purchase_title" style="margin-left: 0px; margin-right: 0px;">
				<div class="col-md-2">
					<p>
						<strong>Order Date</strong>
					</p>
					<p>{{order.CreatedDate | date:'dd MMM yyyy'}}</p>
				</div>
				<div class="col-md-2">
					<p>
						<strong>Total</strong>
					</p>
					<p [currencyValue]="productCurrency" class="amount"> {{order.Totals.TotalCost |
						currency:productCurrency.value:true}}</p>
				</div>
				<div class="col-md-3">
					<p>
						<strong>Status</strong>
					</p>
					<p>{{order.OrderStatus}}</p>
				</div>
				<div class="col-md-3">
					<p>
						<strong>Order-ID</strong>
					</p>
					<p>{{order.OrderId}}</p>
				</div>
				<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
					<button type="button" class="mt-20 btn btn-sm btn-color" (click)="cancel(order.Items.Product,order._id)">Cancel
						Order</button>
				</div>
			</div>
			<!-- <div class="row purchase_body" *ngFor="let shopId of order.Items[0][getShopkey(selectedOrder[i].Items[0])];let i=index;" > -->
			<div class="row purchase_body" *ngFor="let shopId of order.Items;let i=index;">
				<span>
					<div class="col-md-2">
						<img [ImageBind]="shopId.Product" />
					</div>
					<div class="col-md-6">
						<p>
							<strong>{{shopId.Product.Name}}</strong>
						</p>
						<!--<p>{{shopId.Product.Variation.Name}}-{{shopId.Product.Variation.Value}}</p>-->
						<p>Sold by : {{order.ShopAccountId.approvedBusinessDetails.Name}}</p>
						<p>Quantity : {{shopId.Product.Qty}}</p>
						<p *ngIf="shopId.Product?.Variation"><span class="amount"> {{productCurrency.value +
								shopId.Product.Variation.Price}}</span> x {{shopId.Product.Qty}} </p>
						<p *ngIf="!shopId.Product?.Variation && shopId.Product?.Price"><span class="amount"> {{productCurrency.value +
								shopId.Product.Price}}</span> x {{shopId.Product.Qty}} </p>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-3">
						<div *ngIf="ShopId?.Product?.Variation">
							<p>
								<b>{{shopId.Product.Variation.Name1}}:{{shopId.Product.Variation.Value1}}</b>
							</p>
							<p *ngIf="shopId.Product.Variation?.Name2">
								<b>{{shopId.Product.Variation.Name2}}:{{shopId.Product.Variation.Value2}}</b>
							</p>
						</div>
						<!-- <button type="button" class="mt-10 btn btn-sm btn-color" (click)="cancel(shopId.Product,order._id)">Cancel Order</button> -->
					</div>
				</span>
			</div>
		</div>
		<div class="modal fade" id="cancelOrderModal" role="dialog">
			<div class="modal-dialog modal-sm">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Cancel Order</h4>
					</div>
					<div class="modal-body">
						<p>Are you sure to Cancel this order ?</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-sm btn-color rounded" data-dismiss="modal">No</button>
						<button type="button" class="btn btn-sm btn-color rounded" (click)='confirmCancelOrder()'>Yes</button>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="confirmCancelOrderModal" role="dialog">
			<div class="modal-dialog modal-sm">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Cancel Reason</h4>
					</div>
					<div class="modal-body">
						<form name="cancelReason" id="cancelReason" #cancelReason="ngForm" novalidate>
							<div class="form-group">
								<!-- <label for="Subject">
									<p>
										<strong>Subject</strong>
									</p>
								</label> -->
								<mat-form-field class="example-full-width">

								<input matInput type="text" name="Subject" id="Subject" placeholder="Enter the subject" [(ngModel)]="cancelReasonModel.subject"
								 required pattern="[A-Za-z]{1,30}">
								 </mat-form-field>
							</div>
							<div class="form-group">
								<!-- <label for="Message">
									<p>
										<strong>Message</strong>
									</p>
								</label> -->
								<mat-form-field class="example-full-width">

								<input matInput type="text" name="Message" id="Message" placeholder="Enter the message" [(ngModel)]="cancelReasonModel.message"
								 required pattern="[A-Za-z]{1,30}">
								 </mat-form-field>
							</div>
							<div class="form-group">
								<button type="button" class="btn btn-sm btn-color rounded" [disabled]="!cancelReason.form.valid" (click)='ProceedToCancel()'>Yes</button>
								<button type="button" class="btn btn-sm btn-color rounded" data-dismiss="modal">No</button>
							</div>
						</form>
					</div>
				</div>
			</div>

		</div>
		<div class="row purchase_container " style="border: none;margin: 0">
			<div class=" col-md-6 ">
				<div class=" panel panel-default">
					<div class="panel-heading text-uppercase">
						<span>Shipping Address</span>
					</div>
					<div class="panel-body">
						<strong>
							<p>{{order.ShippingAddress.FirstName +" "+order.ShippingAddress.LastName}}</p>
						</strong>
						<p style=" line-height: 1;">{{order.ShippingAddress.Line1}}</p>
						<p style=" line-height: 1;">{{order.ShippingAddress.Line2}}</p>
						<p style=" line-height: 1;">{{order.ShippingAddress.City}}</p>
						<p style=" line-height: 1;">{{order.ShippingAddress.State}}</p>
						<p style=" line-height: 1;">{{order.ShippingAddress.Country}}-{{order.ShippingAddress.Zip}}</p>
						<p style=" line-height: 1;">Phone : {{order.ShippingAddress.Phone}} </p>
					</div>
				</div>
			</div>
			<div class="col-md-6 ">
				<div class="panel panel-default">
					<div class="panel-heading text-uppercase">
						<span>Grant Total</span>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-md-6">
								<p>Cart Sub Total</p>
								<p>Shipping Cost</p>
								<p>Coupon Discount</p>
								<p style=" line-height: 4.5;">
									<strong>Total</strong>
								</p>
							</div>
							<div class="col-md-6">
								<p>+
									<span [currencyValue]="productCurrency" class="amount right"> {{ productCurrency.value +
										order.Totals.ProductCost}}</span>
								</p>
								<p>+
									<span [currencyValue]="productCurrency" class="amount right"> {{ productCurrency.value +
										order.Totals.ShippingCost}}</span>
								</p>
								<p>-
									<span [currencyValue]="productCurrency" class="amount right"> {{ productCurrency.value +
										order.Totals.CouponDiscount}}</span>
								</p>
								<hr>
								<p>=
									<span [currencyValue]="productCurrency" class="amount right"> {{ productCurrency.value +
										order.Totals.TotalCost}}</span>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="mt-30" *ngIf="selectedPrintOrders">
	<!-- <div class="form-group">
		<button type="button" class="btn btn-sm btn-color" (click)=" printOrderList=[];order()">
			<span class="fa fa-arrow-left" aria-hidden="true"></span>
		</button>
		<button class="btn btn-sm btn-color pull-right" (click)="print()">Print Order</button>
	</div> -->
	<div class="table-wrap" id="print-section" style="display:none">
			<table class="table table-hover">
				<thead>
					<tr>
						<th># </th>
						<th>Date</th>
						<th>Id</th>
						<th>Buyer Details</th>
						<th>Product Details</th>
						<th>Price</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let order of printOrderList;let i=index">
						<td>{{(i+1) + (initialPage * 10)}}</td>
						<td>
							<p>{{order.OrderDate | date:'dd MMM yyyy'}}</p>
						</td>
						<td>
							<p>Order : {{order.OrderId}}</p>
						</td>
						<td>
							<strong>
								<p>{{order.ShippingAddress.FirstName +" "+order.ShippingAddress.LastName}}</p>
							</strong>
							<p style=" line-height: 1;">{{order.ShippingAddress.Description}}</p>
							<p style=" line-height: 1;">{{order.ShippingAddress.PackageCount}}</p>
							<p style=" line-height: 1;">{{order.ShippingAddress.City}}</p>
							<p style=" line-height: 1;">{{order.ShippingAddress.State}}</p>
							<p style=" line-height: 1;">{{order.ShippingAddress.Country}}-{{order.ShippingAddress.Zip}}</p>
							<p style=" line-height: 1;">Phone : {{order.ShippingAddress.Phone}} </p>
						</td>
					
						<td>
							<div class="mb-20" *ngFor="let product of order.ProductsArray;let i=index">
								<p style=" line-height: 1;">{{product.Product.Id}}</p>
								<p style=" line-height: 1;">{{product.Product.Name}}</p>
							</div>
						</td>
						<td>
							<p>Cart Sub Total =
								<span [currencyValue]="productCurrency" class="amount"> {{order.TotalCost.ProductCost |
									currency:productCurrency.value:true}}</span>
							</p>
							<p>Shipping Cost =
								<span [currencyValue]="productCurrency" class="amount"> {{order.TotalCost.ShippingCost |
									currency:productCurrency.value:true}}</span>
							</p>
							<p>Coupon Discount =
								<span [currencyValue]="productCurrency" class="amount"> {{order.TotalCost.CouponDiscount |
									currency:productCurrency.value:true}}</span>
							</p>
							<p>Total =
								<span [currencyValue]="productCurrency" class="amount"> {{order.TotalCost.TotalCost |
									currency:productCurrency.value:true}}</span>
							</p>
						</td>
						<td *ngIf="printOrderList.length - 1 == i">
							{{generate()}}
						</td>
					</tr>
				</tbody>
			</table>
	</div>

	 <!-- <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg">
			  <div class="modal-content">
					<div class="table-wrap" id="print-section">
							<table class="table table-hover">
								<thead>
									<tr>
										<th># </th>
										<th>Date</th>
										<th>Id</th>
										<th>Buyer Details</th>
										<th>Product Details</th>
										<th>Price</th>
									</tr>
								</thead>
								<tbody>
									<tr *ngFor="let order of printOrderList;let i=index">
										<td>{{(i+1) + (initialPage * 10)}}</td>
										<td>
											<p>{{order.OrderDate | date:'dd MMM yyyy'}}</p>
										</td>
										<td>
											<p>Order : {{order.OrderId}}</p>
										</td>
										<td>
											<strong>
												<p>{{order.ShippingAddress.FirstName +" "+order.ShippingAddress.LastName}}</p>
											</strong>
											<p style=" line-height: 1;">{{order.ShippingAddress.Description}}</p>
											<p style=" line-height: 1;">{{order.ShippingAddress.PackageCount}}</p>
											<p style=" line-height: 1;">{{order.ShippingAddress.City}}</p>
											<p style=" line-height: 1;">{{order.ShippingAddress.State}}</p>
											<p style=" line-height: 1;">{{order.ShippingAddress.Country}}-{{order.ShippingAddress.Zip}}</p>
											<p style=" line-height: 1;">Phone : {{order.ShippingAddress.Phone}} </p>
										</td>
										<td rowspan="{{order.ProductsArray.length}}">{{order.OrderId}}</td>
										<td>
											<div class="mb-20" *ngFor="let product of order.ProductsArray;let i=index">
												<p style=" line-height: 1;">{{product.Product.Id}}</p>
												<p style=" line-height: 1;">{{product.Product.Name}}</p>
											</div>
										</td>
										<td>
											<p>Cart Sub Total =
												<span [currencyValue]="productCurrency" class="amount"> {{order.TotalCost.ProductCost |
													currency:productCurrency.value:true}}</span>
											</p>
											<p>Shipping Cost =
												<span [currencyValue]="productCurrency" class="amount"> {{order.TotalCost.ShippingCost |
													currency:productCurrency.value:true}}</span>
											</p>
											<p>Coupon Discount =
												<span [currencyValue]="productCurrency" class="amount"> {{order.TotalCost.CouponDiscount |
													currency:productCurrency.value:true}}</span>
											</p>
											<p>Total =
												<span [currencyValue]="productCurrency" class="amount"> {{order.TotalCost.TotalCost |
													currency:productCurrency.value:true}}</span>
											</p>
										</td>
									</tr>
									<div *ngIf="printOrderList.length-1==i"> 
                                     hiiiii
									</div>
								</tbody>
							</table>
						</div>
			  </div>
			</div>
	</div>  -->
	

</div>
<!-- start -->
<div class="mt-30" *ngIf="showPackageForm">
	<div class="form-group">
		<button type="button" class="btn btn-sm btn-color" (click)="back();">
			<span class="fa fa-arrow-left" aria-hidden="true"></span>
		</button>
	
	</div>
	
	<h5 style="margin-top:4%;margin-bottom:4%">Enter package details for</h5>
	<form name="PackageForm" id="PackageForm" #PackageForm="ngForm" novalidate>
		<div class="row">
				<div class="col-md-6" *ngIf="!editbutton">
						<label for="OrderNumber">Order #:</label>
						<input type="text" id="OrderNumber" name="OrderNumber" [(ngModel)]="this.orderNumber" #OrderNumber="ngModel"
						 placeholder="Order #" readonly="true">
						<div *ngIf="OrderNumber.errors && (OrderNumber.dirty || OrderNumber.touched)" class="alert alert-danger">
							<div [hidden]="!OrderNumber.errors.required">
								Order # is required
							</div>
						</div>
				</div>
				<div class="col-md-6" *ngIf="editbutton">
						<label for="OrderNumber">Order #:</label>
						<input type="text" id="OrderNumber" name="OrderNumber" [(ngModel)]="this.orderDetailModel.OrderId" #OrderNumber="ngModel"
						 placeholder="Order #" readonly="true">
						<div *ngIf="OrderNumber.errors && (OrderNumber.dirty || OrderNumber.touched)" class="alert alert-danger">
							<div [hidden]="!OrderNumber.errors.required">
								Order # is required
							</div>
						</div>
				</div>

				<div class="col-md-6">
						<label for="Items">Number of items in the order:</label>
						<input type="number" id="Items" name="Items" [(ngModel)]="this.orderPackageDetailsModel.no_of_items" #Items="ngModel"
						 placeholder="No. of Items" readonly>
						<div *ngIf="Items.errors && (Items.dirty || Items.touched)" class="alert alert-danger">
							<div [hidden]="!Items.errors.required">
								No. of Items is required
							</div>
						</div>
				</div>
		</div>
		<div class="row">
				
					<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 mt-15">
					<p>Choose default package</p>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 mt-15">
					
							<select id="PackageDetail" (change)="onPackageSelected(this.packageDetailValue)" [(ngModel)]="this.packageDetailValue"
							 name="PackageDetail" class="mb-0" #PackageDetail="ngModel" >
								<option selected disabled value="">Select default package detail</option>
								<option [ngValue]="packageDetail._id" *ngFor="let packageDetail of packageDetails" [selected]="packageDetail._id == this.packageDetail">
									{{packageDetail.name}}
								</option>
							</select>
							<!-- <div *ngIf="PackageDetail.errors && (PackageDetail.dirty || PackageDetail.touched)" class="text-danger vd-msg">
								<div [hidden]="!PackageDetail.errors.required">
									Shipping Profile is required!
								</div>
							</div> -->
					</div>
			    <div class="col-md-4 col-md-4 col-sm-4 col-xs-4 mt-15" >
					<p>or enter details below manually</p>
				  </div>
		</div>
		<div style="margin-left:2%">
			
				<div class="row">
					
						<mat-form-field class="example-full-width">
		
						<input matInput type="number" id="Weight" name="Weight" min="0" pattern="^[0-9]+(\.[0-9]{1,2})?$" (keypress)="ValidateCharacters($event)"
						 max="70" [(ngModel)]="this.orderPackageDimensionModel.weight" #Weight="ngModel" placeholder="Weight(in kg)" required>
						 </mat-form-field>
						<div *ngIf="Weight.errors && (Weight.dirty || Weight.touched)" class="alert">
							<div [hidden]="!Weight.errors.required">
								Package Weight is required
							</div>
							<div [hidden]="!Weight.errors.pattern">
								Package Weight is incorrect
							</div>
		
						</div>
				</div>
				<div class="row">
						
						<mat-form-field class="example-full-width">
		
						<input matInput type="number" id="Height" name="Height" [(ngModel)]="this.orderPackageDimensionModel.height" #Height="ngModel"
						 placeholder="Height(in cm)" min="1" pattern="^[0-9]+(\.[0-9]{1,2})?$" (keypress)="ValidateCharacters($event)" required>
						 </mat-form-field>
						<div *ngIf="Height.errors && (Height.dirty || Height.touched)" class="alert">
							<div [hidden]="!Height.errors.required">
								Package Height is required
							</div>
							<div [hidden]="!Height.errors.pattern">
								Package Height is incorrect
							</div>
						</div>
				</div>
				<div class="row">
						
						<mat-form-field class="example-full-width">
		
						<input matInput type="number" id="Length" name="Length" min="1" pattern="^[0-9]+(\.[0-9]{1,2})?$" (keypress)="ValidateCharacters($event)"
						 [(ngModel)]="this.orderPackageDimensionModel.length" #Length="ngModel" placeholder="Length(in cm)" required>
						 </mat-form-field>
						<div *ngIf="Length.errors && (Length.dirty || Length.touched)" class="alert">
							<div [hidden]="!Length.errors.required">
								Package Length is required
							</div>
							<div [hidden]="!Length.errors.pattern">
								Package Length is incorrect
							</div>
						</div>
				</div>
				<div class="row">
				
						<mat-form-field class="example-full-width">
		
						<input matInput type="number" id="Width" name="Width" min="1" pattern="^[0-9]+(\.[0-9]{1,2})?$" (keypress)="ValidateCharacters($event)"
						 [(ngModel)]="this.orderPackageDimensionModel.width" #Width="ngModel" placeholder="Width(in cm)" required>
						 </mat-form-field>
						<!-- <div *ngIf="Width.errors && (Width.dirty || Width.touched)" class="alert">
							<div [hidden]="!Width.errors.required">
								Package Width is required
							</div>
							<div [hidden]="!Width.errors.pattern">
								Package Width is incorrect
							</div>
						</div> -->
				</div>
		</div>
		
		<!-- <div class="row hide">
			<div class="col-md-12">
				<label for="Description">Package Description:</label>
				<textarea rows="5" id="Description" name="Description" [(ngModel)]="this.orderPackageDetailsModel.package_content" #Description="ngModel"
				 placeholder="Description" required></textarea>
				<div *ngIf="Description.errors && (Description.dirty || Description.touched)" class="alert alert-danger">
					<div [hidden]="!Description.errors.required">
						Package Description is required
					</div>
				</div>
			</div>
		</div> -->

	
		
		<div class="row ">
			<div class="col-md-6 col-md-offset-6">
				<button type="button" class="btn btn-sm btn-color right rounded" *ngIf="!editbutton" (click)="addPackageDetail();"
				 [disabled]="!PackageForm.form.valid">Submit</button>
				<button type="button" class="btn btn-sm btn-color right rounded" *ngIf="editbutton" (click)="edit();" [disabled]="!PackageForm.form.valid">Update
					Package Details</button>
			</div>
		</div>
	</form>
</div>
<!-- end -->
<ng-template #addNewTemplate>
	<div *ngIf="this.pageLoader" class="loader" style="top:250%;left:46%;display: block">
		<svg class="circular" viewBox="25 25 50 50">
			<circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
		</svg>
	</div>
	<div *ngIf="!this.pageLoader" class="hidden-xs">
		<div style="margin-top:150px; margin-bottom:50px" class="text-center">
			<i class="fa fa-trash" style="font-size:100px;"></i>

		</div>
		<div class="col-xs-12 text-center">
			<span style="margin:auto;">No Items To Show</span>
		</div>
	</div>
</ng-template>
<ng-template #addNewTemplateMob>
	<div class="hidden-lg hidden-md hidden-sm">
		<div style="margin-top:150px; margin-bottom:50px" class="text-center">
			<i class="fa fa-trash" style="font-size:100px;"></i>

		</div>
		<div class="col-xs-12 text-center">
			<span style="margin:auto;">No Items To Show</span>
		</div>
	</div>
</ng-template>