<!-- <style>
	 @media (min-width: 768px) and (max-width: 1024px) {
	.tabview {
    background-color: red;
     }
	 }
</style> -->
<style>
	/* .panel-group.accordion {
		background: var(--seconday-color);
		padding: 15px;
	} */
	.high > a {
		color:#2cb8a5;
	}
	a[aria-expanded="false"] > span:after{
		content: "";
		display: block;
		width: 10px;
		height: 2px;
		position: absolute;
		top: 0;
		background-color: #fff;
		-webkit-transform: rotate(-90deg);
		transform: rotate(-90deg);
	}
	a[aria-expanded="true"]>span:after {
		color: #121212;
		margin-bottom: -1px
	}
	/* a[aria-expanded="true"]
	{
		content: "";
		display: block;
		width: 10px;
		height: 2px;
		position: absolute;
		top: 0;
		background-color: #a7a7a7;
		-webkit-transform: rotate(-90deg);
		transform: rotate(-90deg);
	} */
	
	</style>
	<div class="container-fluid mt-2" >
		<!-- <div class="col-xs-12 pt-1 hidden-sm hidden-md hidden-lg ml-3">
			<div class="row">
				<div class="col-xs-2 pt-1">
					<button type="button" class="navbar-toggle" id="navbar-menu-btn" data-toggle="collapse" data-target="#navbar-menu">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<button type="button" class="navbar-toggle hidden-xs" id="navbar-menu-btn1" data-toggle="collapse" data-target="#navbar-menu1">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
					</button>
				</div>
			</div>
		</div> -->
		<div class="row">
			<!--Mobile Sidebar-->
			<!-- <aside id="left-menu" class="col-xs-12 hidden-sm hidden-lg hidden-md">
					<div class="panel-group accordion mb-50 navbar-collapse collapse" id="navbar-menu">
						<div class="panel panel-default" *ngIf="ShowUserRole=='admin'||ShowUserRole=='masteradmin' ||ShowUserRole=='seller' ||ShowUserRole=='Other'">
							<div class="panel-heading">
								<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne1" class="minus" aria-expanded="true">My Account
									<span>&nbsp;</span>
								</a>
							</div>
							<div id="collapseOne1" class="panel-collapse collapse in" aria-expanded="true">
								<div class="panel-body pd-15">
									<div class="widget categories">
										<ul class="list-dividers">
											<li>
												<a href="javascript:;" [routerLink]="['/myaccounts/user/profile/change']">Profile</a>
											</li>
											<li *ngIf="ShowUserRole=='seller'">
												<a href="javascript:;" [routerLink]="['/myaccounts/user/purchases']">Purchases</a>
											</li>
											<li *ngIf="ShowUserRole!='seller'">
												<a href="javascript:;" [routerLink]="['/myaccounts/user/purchases']">Orders</a>
											</li>
											<li>
												<a href="javascript:;" [routerLink]="['/myaccounts/user/favourites']">Favorites</a>
											</li>
											<li>
												<a href="javascript:;" [routerLink]="['/myaccounts/user/messages/read']">Messages</a>
											</li>
											<li>
												<a href="javascript:;" [routerLink]="['/myaccounts/user/reviews']">Reviews</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="panel panel-default" *ngIf="ShowUserRole=='seller'">
							<div class="panel-heading">
								<a data-toggle="collapse" data-parent="#accordion" href="#collapseThree3" class="collapsed" aria-expanded="false">Shop
									<span>&nbsp;</span>
								</a>
							</div>
							<div id="collapseThree3" class="panel-collapse collapse" aria-expanded="false">
								<div class="panel-body pd-15">
									<div class="widget categories">
										<ul class="list-dividers">
											<li>
												<a href="javascript:;" [routerLink]="['/myaccounts/user/sell-on-jheaps']">Business Details</a>
											</li>
											<li *ngIf="ShowUserRole=='seller' ">
												<a href="javascript:;" [routerLink]="['/myaccounts/seller/orders/list']">Orders</a>
											</li>
											<li>
												<a href="javascript:;" [routerLink]="['/myaccounts/seller/listing']">Listing Manager</a>
											</li>
											<li>
												<a href="javascript:;" [routerLink]="['/myaccounts/seller/invoice']">Invoice Details</a>
											</li>
											<li *ngIf="ShowUserRole=='seller' ">
												<a href="javascript:;" [routerLink]="['/myaccounts/seller/coupons']">Discount Coupons</a>
											</li>
											<li *ngIf="ShowUserRole=='seller' ">
												<a href="javascript:;" [routerLink]="['/myaccounts/seller/shop-settings/list/shop-info']">Shop Settings</a>
											</li>
											<li *ngIf="ShowUserRole=='seller' ">
												<a href="javascript:;" [routerLink]="['/myaccounts/seller/vacation']">Vacation Details</a>
											</li>
											<li>
												<a href="javascript:;" [routerLink]="['/myaccounts/seller/section']">Shop Sections</a>
											</li>
											<li *ngIf="ShowUserRole=='seller' ">
												<a href="javascript:;" [routerLink]="['/myaccounts/seller/order-tickets']">Seller Care Tickets</a>
											</li>
											<li *ngIf="ShowUserRole=='seller' ">
												<a href="javascript:;" [routerLink]="['/myaccounts/seller/reports']">Reports</a>
											</li>
											<li *ngIf="ShowUserRole=='seller' ">
												<a href="javascript:;" [routerLink]="['/myaccounts/seller/zmm']">Zmm Access Token</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="panel panel-default" *ngIf="ShowUserRole=='admin'||ShowUserRole=='masteradmin'"> 
							<div class="panel-heading">
								<a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo2" class="collapsed" aria-expanded="false">Admin
									<span>&nbsp;</span>
								</a>
							</div>
							<div id="collapseTwo2" class="panel-collapse collapse" aria-expanded="false">
								<div class="panel-body pd-15">
									<div class="widget categories">
										<ul class="list-dividers">
											<li>
												<a href="javascript:;" [routerLink]="['/myaccounts/admin/master-data']">Master Data</a>
											</li>
											<li>
												<a href="javascript:;" [routerLink]="['/myaccounts/admin/payment-complete']">Payment Complete</a>
											</li>
											<li>
												<a href="javascript:;" [routerLink]="['/myaccounts/admin/featured-shop']">Featured Shops</a>
											</li>
											<li>
												<a href="javascript:;" [routerLink]="['/myaccounts/admin/credit-debit']">Credit/Debit Note</a>
											</li>
											<li>
												<a href="javascript:;" [routerLink]="['/myaccounts/admin/invoice-details']">Invoice Details</a>
											</li>
											<li>
												<a href="javascript:;" [routerLink]="['/myaccounts/admin/special-offer']">Special Offer</a>
											</li>
											<li>
												<a href="javascript:;" [routerLink]="['/myaccounts/admin/holiday-list']">Holidays List</a>
											</li>
											<li>
												<a href="javascript:;" [routerLink]="['/myaccounts/admin/zone']">Zone List</a>
											</li>
											<li>
												<a href="javascript:;" [routerLink]="['/myaccounts/admin/admin-criteria']">Admin Criteria</a>
											</li>
											<li>
												<a href="javascript:;" [routerLink]="['/myaccounts/admin/sub-admin']">Sub Admin Creation</a>
											</li>
											<li>
												<a href="javascript:;" [routerLink]="['/myaccounts/admin/forum-group']">Forum Group Creation</a>
											</li>
											<li>
												<a href="javascript:;" [routerLink]="['/myaccounts/admin/upload-banner']">Upload Banner</a>
											</li>
											<li>
												<a href="javascript:;" [routerLink]="['/myaccounts/admin/mega-menu']">Mega Menu Choose</a>
											</li>
											<li>
												<a href="javascript:;" [routerLink]="['/myaccounts/admin/three-column']">Three Column</a>
											</li>
											<li>
												<a href="javascript:;" [routerLink]="['/myaccounts/admin/block-user']">Block User</a>
											</li>
											<li>
												<a href="javascript:;" [routerLink]="['/myaccounts/admin/reports']">Reports</a>
											</li>
											<li>
												<a href="javascript:;" [routerLink]="['/myaccounts/admin/return-reason']">Return Reason</a>
											</li>
											<li>
												<a href="javascript:;" [routerLink]="['/myaccounts/admin/seller-tier']">Seller Tier</a>
											</li>
											<li>
												<a href="javascript:;" [routerLink]="['/myaccounts/admin/seller-commission']">Seller Commission</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="panel panel-default" *ngIf="ShowUserRole=='admin'||ShowUserRole=='masteradmin'">
							<div class="panel-heading">
								<a data-toggle="collapse" data-parent="#accordion" href="#collapseFour4" class="collapsed" aria-expanded="false">Seller Care
									<span>&nbsp;</span>
								</a>
							</div>
							<div id="collapseFour4" class="panel-collapse collapse" aria-expanded="false">
								<div class="panel-body pd-15">
									<div class="widget categories">
										<ul class="list-dividers">
											<li>
												<a href="javascript:;" [routerLink]="['/myaccounts/admin/seller-tickets']">Seller Tickets</a>
											</li>
											<li>
												<a href="javascript:;" [routerLink]="['/myaccounts/admin/order-tickets']">Order Tickets</a>
											</li>
											<li>
												<a href="javascript:;" [routerLink]="['/myaccounts/admin/approve-seller']">Approve Seller</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</aside> -->
			<!--Tab Sidebar-->
			<!-- <aside id="left-menu" class="hidden-xs hidden-sm hidden-lg">
				<div class="panel-group accordion mb-50 navbar-collapse collapse in" id="navbar-menu1">
					<div class="panel panel-default" *ngIf="ShowUserRole=='admin'||ShowUserRole=='masteradmin' ||ShowUserRole=='seller' ||ShowUserRole=='Other'">
						<div class="panel-heading">
							<a data-toggle="collapse" data-parent="#accordion" href="#collapseOneTwo" class="minus" aria-expanded="true">My Account
								<span>&nbsp;</span>
							</a>
						</div>
						<div id="collapseOneTwo" class="panel-collapse collapse in" aria-expanded="true">
							<div class="panel-body pd-15">
								<div class="widget categories">
									<ul class="list-dividers">
										<li>
											<a href="javascript:;" [routerLink]="['/myaccounts/user/profile/change']">Profile</a>
										</li>
										<li *ngIf="ShowUserRole!='seller'">
											<a href="javascript:;" [routerLink]="['/myaccounts/user/purchases']">Purchases</a>
										</li>
										<li *ngIf="ShowUserRole!='seller'">
											<a href="javascript:;" [routerLink]="['/myaccounts/user/purchases']">Orders</a>
										</li>
										<li>
											<a href="javascript:;" [routerLink]="['/myaccounts/user/favourites']">Favorites</a>
										</li>
										<li>
											<a href="javascript:;" [routerLink]="['/myaccounts/user/messages/read']">Messages</a>
										</li>
										<li>
											<a href="javascript:;" [routerLink]="['/myaccounts/user/reviews']">Reviews</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="panel panel-default" *ngIf="ShowUserRole=='seller'">
						<div class="panel-heading">
							<a data-toggle="collapse" data-parent="#accordion" href="#collapseThreeThree" class="collapsed" aria-expanded="false">Shop
								<span>&nbsp;</span>
							</a>
						</div>
						<div id="collapseThreeThree" class="panel-collapse collapse" aria-expanded="false">
							<div class="panel-body pd-15">
								<div class="widget categories">
									<ul class="list-dividers">
										<li>
											<a href="javascript:;" [routerLink]="['/myaccounts/user/sell-on-jheaps']">Business Details</a>
										</li>
										<li *ngIf="ShowUserRole=='seller' ">
											<a href="javascript:;" [routerLink]="['/myaccounts/seller/orders/list']">Orders</a>
										</li>
										<li>
											<a href="javascript:;" [routerLink]="['/myaccounts/seller/listing']">Listing Manager</a>
										</li>
										<li>
											<a href="javascript:;" [routerLink]="['/myaccounts/seller/invoice']">Invoice Details</a>
										</li>
										<li *ngIf="ShowUserRole=='seller' ">
											<a href="javascript:;" [routerLink]="['/myaccounts/seller/coupons']">Discount Coupons</a>
										</li>
										<li *ngIf="ShowUserRole=='seller' ">
											<a href="javascript:;" [routerLink]="['/myaccounts/seller/shop-settings/list/shop-info']">Shop Settings</a>
										</li>
										<li *ngIf="ShowUserRole=='seller' ">
											<a href="javascript:;" [routerLink]="['/myaccounts/seller/vacation']">Vacation Details</a>
										</li>
										<li>
											<a href="javascript:;" [routerLink]="['/myaccounts/seller/section']">Shop Sections</a>
										</li>
										<li *ngIf="ShowUserRole=='seller' ">
											<a href="javascript:;" [routerLink]="['/myaccounts/seller/order-tickets']">Seller Support Tickets</a>
										</li>
										<li *ngIf="ShowUserRole=='seller' ">
											<a href="javascript:;" [routerLink]="['/myaccounts/seller/reports']">Reports</a>
										</li>
										<li *ngIf="ShowUserRole=='seller' ">
											<a href="javascript:;" [routerLink]="['/myaccounts/seller/zmm']">Zmm Access Token</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="panel panel-default" *ngIf="ShowUserRole=='admin'||ShowUserRole=='masteradmin'"> 
						<div class="panel-heading">
							<a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo2" class="collapsed" aria-expanded="false">Admin
								<span>&nbsp;</span>
							</a>
						</div>
						<div id="collapseTwo2" class="panel-collapse collapse" aria-expanded="false">
							<div class="panel-body pd-15">
								<div class="widget categories">
									<ul class="list-dividers">
										<li>
											<a href="javascript:;" [routerLink]="['/myaccounts/admin/master-data']">Master Data</a>
										</li>
										<li>
											<a href="javascript:;" [routerLink]="['/myaccounts/admin/payment-complete']">Payment Complete</a>
										</li>
										<li>
											<a href="javascript:;" [routerLink]="['/myaccounts/admin/featured-shop']">Featured Shops</a>
										</li>
										<li>
											<a href="javascript:;" [routerLink]="['/myaccounts/admin/credit-debit']">Credit/Debit Note</a>
										</li>
										<li>
											<a href="javascript:;" [routerLink]="['/myaccounts/admin/invoice-details']">Invoice Details</a>
										</li>
										<li>
											<a href="javascript:;" [routerLink]="['/myaccounts/admin/special-offer']">Special Offer</a>
										</li>
										<li>
											<a href="javascript:;" [routerLink]="['/myaccounts/admin/holiday-list']">Holidays List</a>
										</li>
										<li>
											<a href="javascript:;" [routerLink]="['/myaccounts/admin/zone']">Zone List</a>
										</li>
										<li>
											<a href="javascript:;" [routerLink]="['/myaccounts/admin/admin-criteria']">Admin Criteria</a>
										</li>
										<li>
											<a href="javascript:;" [routerLink]="['/myaccounts/admin/sub-admin']">Sub Admin Creation</a>
										</li>
										<li>
											<a href="javascript:;" [routerLink]="['/myaccounts/admin/forum-group']">Forum Group Creation</a>
										</li>
										<li>
											<a href="javascript:;" [routerLink]="['/myaccounts/admin/upload-banner']">Upload Banner</a>
										</li>
										<li>
											<a href="javascript:;" [routerLink]="['/myaccounts/admin/mega-menu']">Mega Menu Choose</a>
										</li>
										<li>
											<a href="javascript:;" [routerLink]="['/myaccounts/admin/three-column']">Three Column</a>
										</li>
										<li>
											<a href="javascript:;" [routerLink]="['/myaccounts/admin/block-user']">Block User</a>
										</li>
										<li>
											<a href="javascript:;" [routerLink]="['/myaccounts/admin/reports']">Reports</a>
										</li>
										<li>
											<a href="javascript:;" [routerLink]="['/myaccounts/admin/return-reason']">Return Reason</a>
										</li>
										<li>
											<a href="javascript:;" [routerLink]="['/myaccounts/admin/seller-tier']">Seller Tier</a>
										</li>
										<li>
											<a href="javascript:;" [routerLink]="['/myaccounts/admin/seller-commission']">Seller Commission</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="panel panel-default" *ngIf="ShowUserRole=='admin'||ShowUserRole=='masteradmin'">
						<div class="panel-heading">
							<a data-toggle="collapse" data-parent="#accordion" href="#collapseFour4" class="collapsed" aria-expanded="false">Seller Care
								<span>&nbsp;</span>
							</a>
						</div>
						<div id="collapseFour4" class="panel-collapse collapse" aria-expanded="false">
							<div class="panel-body pd-15">
								<div class="widget categories">
									<ul class="list-dividers">
										<li>
											<a href="javascript:;" [routerLink]="['/myaccounts/admin/seller-tickets']">Seller Tickets</a>
										</li>
										<li>
											<a href="javascript:;" [routerLink]="['/myaccounts/admin/order-tickets']">Order Tickets</a>
										</li>
										<li>
											<a href="javascript:;" [routerLink]="['/myaccounts/admin/approve-seller']">Approve Seller</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</aside> -->
			<!-- Sidebar -->
	
			<aside class="col-lg-3 col-md-3 col-sm-3 col-xs-12 sticky Clssidebar">
				<div class="panel-group accordion mb-50 collapse navbar-collapse" id="navbar-menu">
					<div class="panel panel-default" *ngIf="ShowUserRole=='admin'||ShowUserRole=='masteradmin' ||ShowUserRole=='seller' ||ShowUserRole=='Other'">
						<div class="panel-heading">
							<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="collapse accordion-toggle" aria-expanded="true">My Account</a>
						</div>
						<div  [routerLinkActive]="['in']" id="collapseOne"  class="panel-collapse collapse in" aria-expanded="true">
							<div class="panel-body pd-15">
								<div class="widget categories">
									<ul class="list-dividers">
										<li [routerLinkActive]="['high']">
											<a href="javascript:;" [routerLink]="['/myaccounts/user/profile/change/profile_edit']">Profile</a>
										</li>
										<li *ngIf="ShowUserRole=='seller'" [routerLinkActive]="['high']">
											<a href="javascript:;" [routerLink]="['/myaccounts/user/purchases']">Purchases</a>
										</li>
										<li *ngIf="ShowUserRole!='seller'">
											<a href="javascript:;" [routerLink]="['/myaccounts/user/purchases']">Orders</a>
										</li>
										<li [routerLinkActive]="['high']">
											<a href="javascript:;" [routerLink]="['/myaccounts/user/favourites']">Favorites</a>
										</li>
										<!-- <li [routerLinkActive]="['high']">
											<a href="javascript:;" [routerLink]="['/myaccounts/user/messages/read']">Messages</a>
										</li> -->
										<li [routerLinkActive]="['high']">
											<a href="javascript:;" [routerLink]="['/myaccounts/user/reviews']">Reviews</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="panel panel-default" *ngIf="ShowUserRole=='seller'">
						<div class="panel-heading">
							<a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="collapsed" aria-expanded="true">Shop
								<span>&nbsp;</span>
							</a>
						</div>
						<div  [routerLinkActive]="['in']" id="collapseThree" class="panel-collapse collapse in" aria-expanded="false">
							<div class="panel-body pd-15">
								<div class="widget categories">
									<ul class="list-dividers">
										<li [routerLinkActive]="['high']">
											<a href="javascript:;" [routerLink]="['/myaccounts/seller/listing']">Listing Manager</a>
										</li>
										<li *ngIf="ShowUserRole=='seller' " [routerLinkActive]="['high']">
											<a href="javascript:;" [routerLink]="['/myaccounts/seller/orders/list']">Orders</a>
										</li>
										<li [routerLinkActive]="['high']">
											<a href="javascript:;" [routerLink]="['/myaccounts/seller/invoice']">Invoice Details</a>
										</li>
										<li *ngIf="ShowUserRole=='seller' " [routerLinkActive]="['high']">
											<a href="javascript:;" [routerLink]="['/myaccounts/seller/coupons']">Discount Coupons</a>
										</li>
										<li *ngIf="ShowUserRole=='seller' " [routerLinkActive]="['high']">
											<a href="javascript:;" [routerLink]="['/myaccounts/seller/shop-settings/list/shop-info']">Shop Settings</a>
										</li>
										<li *ngIf="ShowUserRole=='seller' " [routerLinkActive]="['high']">
											<a href="javascript:;" [routerLink]="['/myaccounts/seller/vacation']">Vacation Details</a>
										</li>
										<li [routerLinkActive]="['high']">
											<a href="javascript:;" [routerLink]="['/myaccounts/seller/section']">Shop Sections</a>
										</li>
										<li *ngIf="ShowUserRole=='seller' " [routerLinkActive]="['high']">
											<a href="javascript:;" [routerLink]="['/myaccounts/seller/order-tickets']">Seller Support Tickets</a>
										</li>
										<li *ngIf="ShowUserRole=='seller' " [routerLinkActive]="['high']">
											<a href="javascript:;" [routerLink]="['/myaccounts/seller/reports']">Reports</a>
										</li>
										<li *ngIf="ShowUserRole=='seller' " [routerLinkActive]="['high']">
											<a href="javascript:;" [routerLink]="['/myaccounts/seller/zmm']">Zmm Access Token</a>
										</li>
										<li [routerLinkActive]="['high']">
												<a href="javascript:;" [routerLink]="['/myaccounts/user/sell-on-jheaps']">Business Details</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="panel panel-default" *ngIf="ShowUserRole=='admin'||ShowUserRole=='masteradmin'"> 
						<div class="panel-heading">
							<a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="collapsed" aria-expanded="true">Admin
								<span>&nbsp;</span>
							</a>
						</div>
						<div [routerLinkActive]="['in']" id="collapseTwo" class="panel-collapse collapse in" aria-expanded="false">
							<div class="panel-body pd-15">
								<div class="widget categories">
									<ul class="list-dividers">
										<!-- <li [routerLinkActive]="['high']">
											<a href="javascript:;" [routerLink]="['/myaccounts/admin/settlement']">Settlements</a>
										</li> -->
										<li [routerLinkActive]="['high']" >
											<a href="javascript:;" [routerLink]="['/myaccounts/admin/master-data']">Master Data</a>
										</li>
										<li>
											<a href="javascript:;" [routerLink]="['/myaccounts/admin/payment-complete']">Payment Complete</a>
										</li>
										<li [routerLinkActive]="['high']">
											<a href="javascript:;" [routerLink]="['/myaccounts/admin/featured-shop']">Featured Shops</a>
										</li>
										<li [routerLinkActive]="['high']">
											<a href="javascript:;" [routerLink]="['/myaccounts/admin/credit-debit']">Credit/Debit Note</a>
										</li>
										<li [routerLinkActive]="['high']">
											<a href="javascript:;" [routerLink]="['/myaccounts/admin/invoice-details']">Invoice Details</a>
										</li>
										<li [routerLinkActive]="['high']">
											<a href="javascript:;" [routerLink]="['/myaccounts/admin/special-offer']">Special Offer</a>
										</li>
										<li [routerLinkActive]="['high']"> 
											<a href="javascript:;" [routerLink]="['/myaccounts/admin/holiday-list']">Holidays List</a>
										</li>
										<li [routerLinkActive]="['high']">
											<a href="javascript:;" [routerLink]="['/myaccounts/admin/zone']">Zone List</a>
										</li>
										<li [routerLinkActive]="['high']">
											<a href="javascript:;" [routerLink]="['/myaccounts/admin/admin-criteria']">Admin Criteria</a>
										</li>
										<li [routerLinkActive]="['high']">
											<a href="javascript:;" [routerLink]="['/myaccounts/admin/sub-admin']">Sub Admin Creation</a>
										</li>
										<li [routerLinkActive]="['high']">
											<a href="javascript:;" [routerLink]="['/myaccounts/admin/forum-group']">Forum Group Creation</a>
										</li>
										<li [routerLinkActive]="['high']">
											<a href="javascript:;" [routerLink]="['/myaccounts/admin/upload-banner']">Upload Banner</a>
										</li>
										<li [routerLinkActive]="['high']">
											<a href="javascript:;" [routerLink]="['/myaccounts/admin/mega-menu']">Mega Menu Choose</a>
										</li>
										<li [routerLinkActive]="['high']">
											<a href="javascript:;" [routerLink]="['/myaccounts/admin/three-column']">Three Column</a>
										</li>
										<li [routerLinkActive]="['high']">
											<a href="javascript:;" [routerLink]="['/myaccounts/admin/block-user']">Block User</a>
										</li>
										<li [routerLinkActive]="['high']" *ngIf="UserType == 3">
											<a href="javascript:;" [routerLink]="['/myaccounts/admin/reports']">Reports</a>
										</li>
										<li [routerLinkActive]="['high']">
											<a href="javascript:;" [routerLink]="['/myaccounts/admin/return-reason']">Return Reason</a>
										</li>
										<li [routerLinkActive]="['high']">
											<a href="javascript:;" [routerLink]="['/myaccounts/admin/seller-tier']">Seller Tier</a>
										</li>
										<li [routerLinkActive]="['high']">
											<a href="javascript:;" [routerLink]="['/myaccounts/admin/seller-commission']">Seller Commission</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="panel panel-default" *ngIf="ShowUserRole=='admin'||ShowUserRole=='masteradmin'">
						<div class="panel-heading">
							<a data-toggle="collapse" data-parent="#accordion" href="#collapseFour" class="collapsed" aria-expanded="true">Seller Care
								<span>&nbsp;</span>
							</a>
						</div>
						<div [routerLinkActive]="['in']" id="collapseFour" class="panel-collapse collapse in" aria-expanded="false">
							<div class="panel-body pd-15">
								<div class="widget categories">
									<ul class="list-dividers">
										<li [routerLinkActive]="['high']">
											<a href="javascript:;" [routerLink]="['/myaccounts/admin/seller-tickets']">Seller Tickets</a>
										</li>
										<li [routerLinkActive]="['high']">
											<a href="javascript:;" [routerLink]="['/myaccounts/admin/order-tickets']">Order Tickets</a>
										</li>
										<li [routerLinkActive]="['high']" >
											<a href="javascript:;" [routerLink]="['/myaccounts/admin/approve-seller']">Approve Seller</a>
										</li>
										<li [routerLinkActive]="['high']" >
												<a href="javascript:;" [routerLink]="['/myaccounts/admin/incomplete-seller']">InComplete Seller Details</a>
										</li>
										<li [routerLinkActive]="['high']" >
												<a href="javascript:;" [routerLink]="['/myaccounts/admin/editbusinessseller']">Edit Seller Business Details</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</aside>
			<div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 mb-50 Clsmyaccount">
				<router-outlet></router-outlet>
			</div>
		</div>
	</div>
	