<div>
	<div class="row">
		<h2 class="heading relative heading-small uppercase bottom-line style-2 left-align mb-0">Sub Admin Creation</h2>
		<p class="note-text">Note : Seller account cannot be converted to Admin, only buyer accounts are allowed</p>
	</div>
	<div class="row">
		<div class="col-md-8">
			<label for="UserName">Mobile / Mail Id</label>
			<!-- <input name="text" type="text" id="UserName"  name="UserName" placeholder="User Name / Mail Id" (change)="getdetails($event.target.value)"> -->
			<div class="input-group stylish-input-group">
				<input type="text" class="form-control" (keyup.enter)="SubAdminProfile(0, 5)" [(ngModel)]="this.details.UserNameOrEmail"
				 id="UserName" name="UserName" placeholder="Type and enter to search">
				<span (click)="SubAdminProfile(0, 5)" class="input-group-addon">
					<i class="fa fa-search" aria-hidden="true"></i>
				</span>
			</div>
		</div>
		<!-- <div class="row col-md-6">
			<button type="submit" class="btn mt-20" (click)="SubAdminProfile(); this.showdetails=true;">Get Data</button>
		</div> --> 
		<!-- <span class="input-group-btn">
			<button class="btn btn-default" type="button"><span class="fa fa-search"></span></button>
		  </span> -->
	</div>
	<div style="margin:40px 0">
		<div class="table-wrap">
			<h5 class="h5-heading">User Detail's </h5>
			<div *ngIf="ViewSubAdminProfileList.length > 0; else addNewTemplate">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Mobile</th>
							<th>First Name</th>
							<th>Last Name</th>
							<!-- <th>Address</th> -->
							<th>Action</th>
						</tr>


					</thead>
					<tbody>
						<tr *ngFor="let ViewSubAdminProfile of ViewSubAdminProfileList">
							<td>{{ViewSubAdminProfile.Mobile}}</td>
							<!-- <td>{{ViewSubAdminProfile.Profile.FirstName}}</td>
							<td>{{ViewSubAdminProfile.Profile.LastName}}</td> -->
							<td *ngIf="ViewSubAdminProfile.Profile.FirstName">{{ViewSubAdminProfile.Profile.FirstName}}</td>
							<td *ngIf="!ViewSubAdminProfile.Profile.FirstName"> ----- </td>
							<td *ngIf="ViewSubAdminProfile.Profile.LastName">{{ViewSubAdminProfile.Profile.LastName}}</td>
							<td *ngIf="!ViewSubAdminProfile.Profile.LastName"> ----- </td>
							<!-- <td>{{ViewSubAdminProfile.Profile.Address.Line1}}</td> -->
							<td>
								<button type="button" class="btn btn-color btn-sm" (click)="MakeSubAdmin(ViewSubAdminProfile._id)">Make Admin</button>
							</td>
						</tr>
					</tbody>
				</table>
				<nav class="pagination clear" *ngIf="totalPages1 > 0">
					<a href="javascript:;" (click)="previousPage1()">
						<i class="fa fa-angle-left"></i>
					</a>
					<a href="javascript:;" *ngFor="let page of pages1" [class]="currentPage1==page?'current':''" (click)="selectPage1(page)">{{page}}</a>
					<a href="javascript:;" (click)="nextPage1()">
						<i class="fa fa-angle-right"></i>
					</a>
				</nav>
			</div>

		</div>

	</div>


	<div style="margin:40px 0">
		<div class="table-wrap">
			<h5 class="h5-heading">Sub Admin Detail's </h5>
			<div *ngIf="ListSubAdminProfiles.length > 0 ; else noAdmin">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Mobile</th>
							<th>First Name</th>
							<th>Last Name</th>
							<!-- <th>Address</th> -->
							<th>Delete</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let ListSubAdminProfile of ListSubAdminProfiles">
							<th>{{ListSubAdminProfile.Mobile}}</th>
							<td>{{ListSubAdminProfile.Profile.FirstName}}</td>
							<td>{{ListSubAdminProfile.Profile.LastName}}</td>
							<!-- <td>{{ListSubAdminProfile.Profile.Address.Line1}}</td> -->
							<td>
								<a href="javascript:;">
									<i class="fa fa-trash-o" style="font-size:20px;color:black;" (click)="deleteSubAdmin(ListSubAdminProfile)"></i>
								</a>
							</td>
						</tr>
					</tbody>
				</table>
				<div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-body">
								<h4>Do you want to delete ?</h4>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-sm btn-default" data-dismiss="modal">No</button>
								<button type="button" class="btn btn-sm btn-red" (click)="delete()" data-dismiss="modal">Yes</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<nav class="pagination clear" *ngIf="totalPages > 0">
			<a href="javascript:;" (click)="previousPage()">
				<i class="fa fa-angle-left"></i>
			</a>
			<a href="javascript:;" *ngFor="let page of pages" [class]="currentPage==page?'current':''" (click)="selectPage(page)">{{page}}</a>
			<a href="javascript:;" (click)="nextPage()">
				<i class="fa fa-angle-right"></i>
			</a>
		</nav>
	</div>
	<ng-template #noAdmin>
		<div>

			<div style="margin-top:150px; margin-bottom:50px" class="text-center">
				<i class="fa fa-trash" style="font-size:100px;"></i>

			</div>

			<div class="col-xs-12 text-center">
				<!-- <input type="button" style="width:400px; border-radius:30px" class="btn btn-color" [routerLink]="['/admin/zone/add-zone']" value="Add New"> -->
				<span>Admin list is empty</span>
			</div>
		</div>

	</ng-template>

	<ng-template #addNewTemplate>

		<!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<h2 class="heading relative heading-small uppercase bottom-line style-2 left-align mb-0">Zone List</h2>
		</div> -->
		<div>

			<div style="margin-top:150px; margin-bottom:50px" class="text-center">
				<i class="fa fa-trash" style="font-size:100px;"></i>

			</div>

			<div class="col-xs-12 text-center">
				<!-- <input type="button" style="width:400px; border-radius:30px" class="btn btn-color" [routerLink]="['/admin/zone/add-zone']" value="Add New"> -->
				<span>Either no users found or all users are converted to admin</span>
			</div>
		</div>
	</ng-template><ng-template #addNewTemplate>

		<!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<h2 class="heading relative heading-small uppercase bottom-line style-2 left-align mb-0">Zone List</h2>
		</div> -->
		<div>

			<div style="margin-top:150px; margin-bottom:50px" class="text-center">
				<i class="fa fa-trash" style="font-size:100px;"></i>

			</div>

			<div class="col-xs-12 text-center">
				<!-- <input type="button" style="width:400px; border-radius:30px" class="btn btn-color" [routerLink]="['/admin/zone/add-zone']" value="Add New"> -->
				<span>Either no users found or all users are converted to admin</span>
			</div>
		</div>
	</ng-template>
</div>