<div *ngIf="Categories.length > 0 ; else addNewTemplate">
<div>
    <input type="button" class="btn btn-sm btn-color right" (click)="addNew()" value="New">
</div>
<div class="table-wrap">
    <table class="table">
        <thead>
            <tr>
            	<th>Index</th>
                <th>Category Name</th>
                <th>Category Id</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let Category of Categories;let i=index">
            	 <td >
                    {{((currentPage -1)*10)+(i+1)}}
                </td>
                <td [class.child-categories]="Category.ParentCategory != null">
                    <i *ngIf="Category.ParentCategory != ''" class="arrow_carrot-right"></i> {{ Category.Name }}
                </td>
                <td>{{ Category._id }}</td>
                
                <td><a href="javascript:;"><i class="fa fa-edit" style="font-size:20px;color:black;" (click)="edit(Category._id)"></i></a></td>
                <td><a href="javascript:;"><i class="fa fa-trash-o" style="font-size:20px;color:black;" (click)="confirmDelete(Category)"></i></a></td>
             </tr>

        </tbody>
    </table>
	<div class="modal fade" id="confirmDeleteModal" role="dialog">
			 <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div  *ngIf="!deleteModel; else cannotDelete">
                            <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h6 class="modal-title">Delete Modal</h6>
                                </div>
                                <div class="modal-body">
                                    <p>Are you sure to Delete this Category?</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-sm btn-color rounded" data-dismiss="modal" >Cancel</button>
                                    <button type="button" class="btn btn-sm btn-color rounded" (click)='Delete()'>Delete</button>
                                </div>
                    </div>
    
                    <ng-template #cannotDelete>
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h6 class="modal-title">Delete Modal</h6>
                            </div>
                            <div class="modal-body">
                                <p>Cannot delete the Category, it is linked with {{deleteModelBody}} products</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-sm btn-color rounded" data-dismiss="modal">Close</button>
                            </div>
                        </ng-template>
                    
                </div>
            </div>
		</div>
	</div>
    <!--
    <nav class="pagination clear">
            <a href="javascript:;" (click)="selectPage(this.CategoriesList.CurrentPage - 1)"><i class="fa fa-angle-left"></i></a>
            <a href="javascript:;" *ngFor="let page of pages" (click)="selectPage(page)">{{page}}</a>
            <a href="javascript:;" (click)="selectPage(this.CategoriesList.CurrentPage + 1)"><i class="fa fa-angle-right"></i></a>
        </nav>-->
    



<nav class="pagination clear" *ngIf = "totalPages > 0">
        <a href="javascript:;" (click)="previousPage()"><i class="fa fa-angle-left"></i></a>
        <a href="javascript:;" *ngFor="let page of pages" [class]="currentPage==page?'current':''" (click)="selectPage(page)">{{page}}</a>
        <a href="javascript:;" (click)="nextPage()"><i class="fa fa-angle-right"></i></a>
</nav>
</div>

<ng-template #addNewTemplate>

    <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h2 class="heading relative heading-small uppercase bottom-line style-2 left-align mb-0">Zone List</h2>
    </div> -->
<div>
   
<div style="margin-top:150px; margin-bottom:50px" class="text-center">
        <i class="fa fa-trash" style="font-size:100px;" ></i>
    
</div>

<div class="col-xs-12 text-center">
        <input type="button" style="width:400px; border-radius:30px" class="btn btn-color" [routerLink]="['/myaccounts/admin/master-data/list/category/add']" value="Add New">
</div>
</div> 
</ng-template>