
<div class="form-group">
    <button type="button" class="btn btn-sm btn-color left" (click)="goBack()">
        <span class="fa fa-arrow-left" aria-hidden="true"></span></button>
</div>
<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<!--
		 <h2 class="text-center relative" *ngIf="editbutton">Edit Attribute</h2>
				 <h2 class="text-center relative" *ngIf="!editbutton">Add Attribute</h2>-->
		
		<form #addReason="ngForm" id="addReason">
		    <div class="form-group">
		        <label for="Name">Reason</label>
		        <input type="text" class="form-control mb-0" id="Reason" [(ngModel)]="ReasonModel.Reason" name="Reason" #Name="ngModel" maxlength="100" required>
		    </div>
		   
		    <div class="form-group">
		        <input type="button" class="btn btn-sm btn-color right rounded" *ngIf="newbutton" (click)="newAttribute()" value="add" [disabled]="!addReason.form.valid">
		    </div>
		    <div class="form-group">
		        <input type="button" class="btn btn-sm btn-color right rounded" *ngIf="editbutton" (click)="editAttribute()" value="Update" [disabled]="!addReason.form.valid">
		    </div>
		</form>
	</div>
</div>
