<!-- <style>
	/* img{
		
		background: url('https://upload.wikimedia.org/wikipedia/commons/b/b1/Loading_icon.gif') no-repeat;
	} */
	.loading {
  	background: transparent url('https://upload.wikimedia.org/wikipedia/commons/b/b1/Loading_icon.gif') center no-repeat;
}
</style> -->
<style>
	.img_class {
	
	width: 200px;
	height: 115px;
	object-fit: cover;
	
	}
    .truncate {
  
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
	</style>
<section>
	<div *ngIf="ShopDetails.Banner != null">
		<img class="img-responsive shopbanner_maxheight shop-banner-image " width="100%" *ngIf="ShopDetails.Banner" [src]="ShopDetails.BannerDimensions?.editedImage"
		 alt="shop banner">
	</div>
</section>
<div class="container-fluid relative pt-10">
	<div class="row">
		<div class="shop-icon position-relative col-lg-2 col-md-2 col-sm-2 col-xs-6" style="padding-left: 8px;padding-right: 8px;margin-left:4px"
		 data-editable-img="shop-icon" *ngIf="ShopDetails?.LogoDimensions?.editedImage == null">
			<img class="img-thumbnail width-full shop-icon-external display-block img-responsive" *ngIf="!edited" [src]="ShopDetails?.Logo"
			 sizes="(min-width: 1500px) 18vw, 30vw" alt="Shop Image">
		</div>
		<!-- <div class="shop-icon position-relative col-lg-2 col-md-2 col-sm-4 col-xs-6"  style="padding-left: 8px;padding-right: 8px;margin-left:4px"data-editable-img="shop-icon" *ngIf="ShopDetails?.LogoDimensions?.editedImage == null">
			<img class="img-thumbnail width-full shop-icon-external display-block img-responsive" *ngIf="!edited" [src]="https://upload.wikimedia.org/wikipedia/commons/b/b1/Loading_icon.gif"
					sizes="(min-width: 1500px) 18vw, 30vw" alt="Shop Image">
		</div> -->
		
		<div class="shop-icon position-relative col-lg-2 col-md-2 col-sm-2 col-xs-6" style="padding-left: 8px;padding-right: 8px;margin-left:4px"
		 data-editable-img="shop-icon" *ngIf="ShopDetails?.Logo != null && ShopDetails?.LogoDimensions?.editedImage !=null">
			<img class="img-thumbnail width-full shop-icon-external display-block img-responsive" *ngIf="!edited" [src]="ShopDetails?.LogoDimensions?.editedImage"
			 sizes="(min-width: 1500px) 18vw, 30vw" alt="Shop Image">
		</div>
	    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-6">
		<h5>{{ShopDetails?.Name}}</h5>
		<!-- <p>
			{{ShopAddressDetails?.Line1+", " + ShopAddressDetails?.Line2+", "+ ShopAddressDetails?.City}}
		</p>
		 
		<p>
			<i class="fa fa-map-marker" aria-hidden="true"></i> {{ShopAddressDetails?.State+", "+ShopAddressDetails?.Country}}
		</p> -->
		<div class="social-icons">
			<a href="{{ShopDetails.Twitter}}" target="blank" *ngIf="ShopDetails.hasOwnProperty('Twitter')"><i class="fa fa-twitter"></i></a>
			<a href="{{ShopDetails.Facebook}}" target="blank"  *ngIf="ShopDetails.hasOwnProperty('Facebook')"><i class="fa fa-facebook"></i></a>
			<a href="{{ShopDetails.GooglePlus}}" target="blank"  *ngIf="ShopDetails.hasOwnProperty('GooglePlus')"><i class="fa fa-google-plus"></i></a>
			<a href="{{ShopDetails.Pinterest}}" target="blank"  *ngIf="ShopDetails.hasOwnProperty('Pinterest')"><i class="fa fa-pinterest"></i></a>
			<!--
			<a href="https://www.vimeo.com" target="blank"><i class="fa fa-vimeo"></i></a>
						<a href="https://www.instagram.com" target="blank"><i class="fa fa-instagram"></i></a>-->

			</div>
			<div style="cursor: pointer;">
				<!-- <rating value="4" [max]="5" [readonly]="true"></rating> -->
				<ngx-stars [color]="'#00BFA5'" [readonly]="true" [maxStars]="5"></ngx-stars>
				<span class="rating" *ngIf="this.total">
					<!-- <a href="#displayReview" aria-controls="displayReview" role="tab" data-toggle="tab">{{shopReviews?.length}} Reviews</a>  -->
					<!-- <p style="margin-top: -25px;margin-left: 95px;cursor: pointer;">(<a href="javascript:;;" (click)="viewAllReview()">{{reviewtotal}}</a>)</p> -->
					<p style="margin-top: -25px;margin-left: 95px;">(<a href="javascript:;;">{{this.total}}</a>)</p>
					
				</span>
			</div>
			<!-- <span class="rating">
				
				<p>{{shopReviews?.length}} <a href="#displayReview" aria-controls="displayReview" role="tab" data-toggle="tab">Reviews</a></p>
			</span> -->
		</div>
		
		<div  class="col-lg-offset-1 col-md-offset-1 col-lg-3 col-md-3 col-sm-3 col-xs-6">
			<h5 style="text-align:center">Shop Owner</h5>
			<div style=" vertical-align:middle; text-align:center">
			<img src ="{{this.shopOwner.DisplayPicture}}" alt="Shop Owner" style = "width:30%;height:30%;border-radius:50% "> 
			</div>
			<p style="text-align:center">{{this.shopOwner.FirstName}}</p>
			</div> 
		<!-- <span class="rating">  -->
			<!-- <a href="#displayReview" aria-controls="displayReview" role="tab" data-toggle="tab">{{shopReviews?.length}} Reviews</a>  -->
			<!-- <p>{{shopReviews?.length}} <a href="#displayReview" aria-controls="displayReview" role="tab" data-toggle="tab">Reviews</a></p> 
		</span> -->
	</div>

	   <!-- <div  class="col-lg-3 col-md-3 col-sm-5 col-xs-6">
		<h5 style="text-align:center">Shop Owner</h5>
		<div style=" vertical-align:middle; text-align:center">
		<img src ="https://s3.us-east-2.amazonaws.com/zgroo-demo/undefined_1536304068.png" alt="Shop Owner" style = "width:30%;height:30%;border-radius:50% "> 
	    </div>
	    <p style="text-align:center">Sandhya</p>
	    </div>  -->
	
	<!-- <div  [FavArray] class="col-lg-3 col-md-4 col-sm-3 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 hidden-xs text-center shop-owner-image mt--2">
		<img src="{{ShopUserDetails.DisplayPicture}}" class="img-circle img-responsive">
		{{ShopUserDetails.FirstName +" "+ShopUserDetails.LastName}} 
	</div> -->

	</div>

<!-- </div> -->
<!--tabs -->

<!--Etsy images -->


<div class="container-fluid">
	<div class="row pt-10">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<!-- Nav tabs -->
			<div>
				<!-- <ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active">
						<a href="#home" aria-controls="home" role="tab" data-toggle="tab">Items</a>
					</li>
					<li role="presentation">
						<a href="#displayReview" aria-controls="displayReview" role="tab" data-toggle="tab">Reviews</a>
					</li>
					<li role="presentation">
						<a href="#aboutUS" aria-controls="aboutUS" role="tab" data-toggle="tab">About Us</a>
					</li>
					<li role="presentation">
						<a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Updates</a>
					</li>
				</ul> -->

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="home">

						<!--<section class="section-wrap pt-40 pb-40 catalogue">
						<div class="container relative">-->
					
						 <div class="row">
							<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
							<h1>Reviews</h1>
							</div>
							<div class="col-lg-9 col-md-9 col-sm-9 col-xs-12" >
							<div *ngIf="shopReviews?.length == 0">
									No Reviews Found
							</div>
							<div *ngFor="let shopReview of shopReviews;">
									<div class="comment-body">
										<div class="row">
											<div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
												<a routerLink="/user/product/{{shopReview.Product._id}}">
												
												
								
														<img [src]="MediaImage(shopReview.Product)" alt="" class="img-responsive img_class ">
													
														
												</a>
											</div>
											<div class="col-lg-10 col-md-10 col-sm-10 col-xs-8">
											
												
												<h2 class="truncate" style="font-size:20px;width:94%">  {{shopReview.Product.Name}} ({{shopReview.Rating | number:'1.1-1'}}) </h2>
													<!-- <rating [(ngModel)]="shopReview.Rating" [max]="5" [readonly]="true"></rating> -->
													<ngx-stars [color]="'#00BFA5'" [initialStars]="shopReview.Rating" [readonly]="true" [maxStars]="5"></ngx-stars>
													<div style="width:94%;" >
													<p class="truncate"> {{shopReview.Product.Description}}</p>
												  </div>
													<a href="javascript:;" routerLink="/user/review/{{ shopReview.Product._id }}">View all Reviews</a>
											
												
											</div>
										</div>
                                    </div>
                                  
                            </div>
                            <div *ngIf="this.loader" class="loader" style="top:101%;left:48%;display: block">
                                <svg class="circular" viewBox="25 25 50 50">
                                  <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
                                </svg>
                            </div>
							
							</div>
						
                        </div>
                       
						<!-- <div class="row"   *ngIf="showshoppage">
							<div class="col-lg-3 col-md-3 col-sm-3 col-xs-4">
								<h1>About Us</h1>
							</div>
							<div class="col-lg-9 col-md-9 col-sm-9 col-xs-4">
								<div class="mt-30 mb-30">{{ShopDetails.Summary}}</div>
								<div class="row" style="text-align:center;border-bottom:1px solid #c4c4c4;height:135px; "></div>
							
							</div>
						</div> -->
						<!-- <div class="row"  *ngIf="showshoppage">
								<div class="col-lg-3 col-md-3 col-sm-3 col-xs-4">
									<h1>Updates</h1>
								</div>
								<div class="col-lg-9 col-md-9 col-sm-9 col-xs-4">
									<div  class="mt-30 mb-30">
										<p>	Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
						standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
						it to make a type specimen book. It has survived not only five centuries, but also the leap into
						electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
						release of Letraset sheets containing Lorem Ipsum passage..</p>
									</div>
								
								</div>
						</div>  -->
						<!-- end row -->


					</div>
					
				
				</div>
			</div>
		</div>
	</div>
</div>
