<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
	<div class="tabs mb-50">

		<ul class="nav nav-tabs">

			<li [routerLinkActive]="['active']">
				<a [routerLink]="['marked-thread']">Marked</a>
			</li>

			<li [routerLinkActive]="['active']">
				<a [routerLink]="['posted-thread']">Posted</a>
			</li>
		</ul>
		<!-- end tabs -->


		<!-- tab content -->
		<div class="tab-content">

			<router-outlet></router-outlet>

		</div>
		<!-- end tab content -->
	</div>
</div>



