<div class="col-md-9 col-sm-9 col-xs-12 ">
	<div class="row mt-30" *ngIf="getSelectedGroup.length==0">
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-lg-offset-4 col-md-offset-4 col-sm-offset-4 col-xs-offset-4">
			<i class="fa fa-exclamation-triangle icon_default" aria-hidden="true"></i>
			<strong>   No Results Found</strong>
		</div>

	</div>
	<div class="table-wrap" *ngIf="!SearchThreadResult">
		<table class="table" *ngFor="let group of getSelectedGroup;let i=index">
			<tbody *ngIf="group.Posts.length>0" class="hidden-xs">
				<tr *ngFor="let post of selectedThreadDisplay">
					<td  [ngClass]="{'active':post.Pin}" class="table_vertical_align" width="8%"><img src="{{post.User.Profile.DisplayPicture}}" class="img-rounded img-responsive"/></td>
					<td  [ngClass]="{'active':post.Pin}" class="table_vertical_align" width="55%"><p><strong class="cursor_pointer selectedmsg_align" (click)="ViewThread(group.Group._id,post._id)" >{{post.Title | shorten : 100	:'...'}}</strong></p>
						<p><span class="label label-primary">{{post.Status}}</span></p>
					</td>
				
					<td  [ngClass]="{'active':post.Pin}" class="table_vertical_align" width="10%"><p class="right badge" style="color:#635959;background-color:#e6e6e6">{{post.ResponseCount}}</p></td>
					<td  [ngClass]="{'active':post.Pin}" class="table_vertical_align" width="25%">
						<span  class="right">
							{{DateChange(post.CreatedDate)}}
						</span>
					</td>
				</tr>
			</tbody>
			<tbody *ngFor="let post of group.Posts" class="hidden-lg hidden-md hidden-sm">
				<tr>
					<td colspan=4 [ngClass]="{'active':post.Pin}" class="table_vertical_align">
						<p><strong class="cursor_pointer selectedmsg_align" (click)="ViewThread(group.Group._id,post._id)">{{post.Title | shorten : 100	:'...'}}</strong></p>
						<p><span class="label label-primary">{{post.Status}}</span></p>
					</td>
				</tr>
				<tr>
					<td colspan=2 [ngClass]="{'active':post.Pin}" class="table_vertical_align">
					<p>	{{DateChange(post.CreatedDate)}}</p>
					<td colspan=2 [ngClass]="{'active':post.Pin}" class="table_vertical_align">
						<p class="right badge">{{post.ResponseCount}}</p>
					</td>
				</tr>
			</tbody>
			<tbody *ngIf="group.Posts.length==0">
				<tr>
					<td colspan=4><p>Please start to share your thoughts...</p></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="table-wrap col-lg-8 col-md-8 col-sm-8 col-xs-12" *ngIf="SearchThreadResult">
		<table class="table" *ngFor="let group of getSelectedGroup;let i=index" >
			<tbody *ngIf="group.Posts.length>0" class="hidden-xs">
				<tr *ngFor="let post of group.Posts">
					<td  [ngClass]="{'active':post.Pin}" class="table_vertical_align" width="8%"><img src="{{post.User.Profile.DisplayPicture}}" class="img-rounded img-responsive"/></td>
					<td [ngClass]="{'active':post.Pin}" class="table_vertical_align" width="55%">
						<p><strong class="cursor_pointer selectedmsg_align" (click)="ViewThread(group.Group._id,post._id)">{{post.Title | shorten : 100	:'...'}}</strong></p>
						<p><span class="label label-primary">{{post.Status}}</span></p>
					</td>

					<td [ngClass]="{'active':post.Pin}" class="table_vertical_align" width="10%">
						<p class="right badge">{{post.ResponseCount}}</p>
					</td>
					<td [ngClass]="{'active':post.Pin}" class="table_vertical_align" width="25%">
						<span  class="right">
							{{DateChange(post.CreatedDate)}}
						</span>
					</td>
				</tr>
			</tbody>
			<tbody *ngFor="let post of group.Posts" class="hidden-lg hidden-md hidden-sm">
				<tr>
					<td colspan=4 [ngClass]="{'active':post.Pin}" class="table_vertical_align">
						<p><strong class="cursor_pointer selectedmsg_align" (click)="ViewThread(group.Group._id,post._id)">{{post.Title | shorten : 100	:'...'}}</strong></p>
						<p><span class="label label-primary">{{post.Status}}</span></p>
					</td>
				</tr>
				<tr>
					<td colspan=2 [ngClass]="{'active':post.Pin}" class="table_vertical_align">
						<p>	{{DateChange(post.CreatedDate)}}</p>
					</td>
					<td colspan=2 [ngClass]="{'active':post.Pin}" class="table_vertical_align">
						<p class="right badge">{{post.ResponseCount}}</p>
					</td>
				</tr>
			</tbody>
			<tbody *ngIf="group.Posts.length==0">
				<tr>
					<td colspan=4><p>Please start to share your thoughts...</p></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="hidden-lg hidden-md hidden-sm col-xs-12">

	</div>
	<div class="row mt-20" *ngIf="getTotalPageLength.length>8">
		<div class="right">
			<a href="javascript:;" class="pagination_font">{{pageNumber+1}} out of {{totalPages}}</a>
			<a href="javascript:;">
				<button [disabled]="pageNumber<1" class="btn btn-sm btn-color" (click)="pageSelectionPrev()" >
					&#9664;
				</button>
			</a>
			<a href="javascript:;">
				<button [disabled]="pageNumber+1==totalPages" class="btn btn-sm btn-color " (click)="pageSelectionNext()">
					&#9658;
				</button>
			</a>
		</div>
	</div>
</div>