<div class="form-group">
  	<h2 class="heading relative heading-small uppercase bottom-line style-2 left-align mb-0 pt-20">Three Column Data</h2>
</div>
<div class="clear"></div>
<div class="row">
    <div class="tabs mb-50">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#tab-one" data-toggle="tab">First Column</a>
            </li>
            <li class="">
                <a href="#tab-two" data-toggle="tab">Second Column</a>
            </li>
            <li class="">
                <a href="#tab-three" data-toggle="tab">Third Column</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade active in" id="tab-one">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group col-md-6">
                            <label for="Heading1">Bold Content</label>
                            <input type="text" [(ngModel)]="firstColumn.BoldContent" id="ThreeColumnOneBold" name="ThreeColumnOneBold" placeholder="Bold Content" required>

                        </div>
                        <div class="form-group col-md-6">
                            <label for="Heading2">Normal Content</label>
                            <input type="text" [(ngModel)]="firstColumn.NormalContent" id="ThreeColumnOneNormal" name="ThreeColumnOneNormal" pattern="^[a-zA-Z]{3,20}" placeholder="Normal Content" required>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                       
                        <div class="form-group col-md-6">
				    		<label for="AdminCriteria">Select criteria</label>
				    		<select class="mb-0" [(ngModel)]="firstColumn.AdminCriteriaId">
									<option [value] = "undefined" disabled selected> -- select--</option>
				    			<option *ngFor="let adminCriteria of adminCriteriaList" [value]="adminCriteria._id">
				    				{{adminCriteria.Name}}
				    			</option>
				    		</select>
						</div>
                    </div>
                </div>
                <label>Note : Image Dimension should not be less than 400 X 270 </label><br>
                <div class="col-md-4 col-sm-6 col-xs-12 "  *ngIf="!firstLoader && firstColumn.Image">
					<div class="work-item threecols web-design photography" >
						<div class="work-container">
							<input style="display:none" type="file" class="form-control" accept="image/*" name="Images" id="FirstColumnUploadImage" (change)="changeImage('first',firstColumn,$event)">
							
							<img class="center-block" src="{{firstColumn.Image}}" alt="Profile Picture">
							<div class="work-overlay">
								<div class="project-icons">
									<!--
									<a href="javascript:;" class="lightbox-gallery" >
																			<i class="fa fa-search" ></i>
																		</a>-->
									
								</div>
								<div class="work-description">
									<div class="row">
										<div class="col-md-12 text-center">
											<a href="javascript:;" (click)="triggerFileUpload('first')" title="Edit image">Edit </a>
										</div>
									</div>
								</div> 
								</div>
							</div>
						</div>

					<!-- <div class="col-md-3 col-sm-6 col-xs-12 mb-30" *ngIf="this.productModel.Images.length < 5 && !loader">
						<input style="display:none" type="file" accept="image/*" name="Images" id="productUploadImage" (change)="changeListener($event)">
						<a href="javascript:;" class="thumbnail text-center" (click)="triggerFileUpload()">
							<i class="fa fa-plus"></i>
							<h5>Add Image</h5>
						</a>
					</div> -->



				</div>

				<div class="col-md-3 col-sm-6 col-xs-12 mb-30" *ngIf = "!firstColumn.Image && !firstLoader">
					<input style="display:none" type="file" accept="image/*" name="Images" id="productUploadImageFirst" (change)="changeImage('first',firstColumn,$event)">
					<a href="javascript:;" class="thumbnail text-center" (click)="triggerFileUpload('first')">
						<i class="fa fa-plus"></i>
						<h5>Add Image</h5>
					</a>
				</div>

				<div class="col-md-4 col-sm-6 col-xs-12" *ngIf="firstLoader">
				    <a href="javascript:;" class="thumbnail text-center">
				      <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
				      <h5>Uploading</h5>
				    </a>
				</div>
                <div class="row col-md-12" *ngIf="firstColumn._id">
                    <div class="form-group right">
                        <input type="button" class="btn right btn-sm btn-color" (click)="updateColumnData(firstColumn)"  value="Update">
                    </div>
                </div>
                <div class="row col-md-12" *ngIf="!firstColumn._id">
                    <div class="form-group right">
                        <input type="button" class="btn right btn-sm btn-color" (click)="saveColumnData(firstColumn)"  value="Save">
                    </div>
                </div>
            </div>

        <div class="tab-pane fade" id="tab-two">
           
               <div class="row">
                    <div class="col-md-12">
                        <div class="form-group col-md-6">
                            <label for="Heading1">Bold Content</label>
                            <input type="text" [(ngModel)]="secondColumn.BoldContent" id="ThreeColumn2Bold" name="ThreeColumn2Bold" placeholder="Bold Content" required>

                        </div>
                        <div class="form-group col-md-6">
                            <label for="Heading2">Normal Content</label>
                            <input type="text"  [(ngModel)]="secondColumn.NormalContent" id="ThreeColumn2Normal" name="ThreeColumn2Normal" pattern="^[a-zA-Z]{3,20}" placeholder="Normal Content" required>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                       <div class="form-group col-md-6">
				    		<label for="AdminCriteria">Select criteria</label>
				    		<select [(ngModel)]="secondColumn.AdminCriteriaId">
								<option [value] = "undefined" disabled selected> -- select--</option>
				    			<option *ngFor="let adminCriteria of adminCriteriaList" [value]="adminCriteria._id">
				    				{{adminCriteria.Name}}
				    			</option>
				    		</select>
						</div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 "  *ngIf="!secondLoader && secondColumn.Image">
					<div class="work-item threecols web-design photography" >
						<div class="work-container">
							<input style="display:none" type="file" class="form-control" accept="image/*" name="Images" id="SecondColumnUploadImage" (change)="changeImage('second',secondColumn,$event)">
							
							<img class="center-block" src="{{secondColumn.Image}}" alt="Profile Picture">
							<div class="work-overlay">
								<div class="project-icons">
									<!--
									<a href="javascript:;" class="lightbox-gallery" >
																			<i class="fa fa-search" ></i>
																		</a>-->
									
								</div>
								<div class="work-description">
									<div class="row">
										<div class="col-md-12 text-center">
											<a href="javascript:;" (click)="triggerFileUpload('second')" title="Edit image">Edit </a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-3 col-sm-6 col-xs-12 mb-30" *ngIf = "!secondColumn.Image && !secondLoader">
					<input style="display:none" type="file" accept="image/*" name="Images" id="productUploadImageSecond" (change)="changeImage('second',secondColumn,$event)">
					<a href="javascript:;" class="thumbnail text-center" (click)="triggerFileUpload('second')">
						<i class="fa fa-plus"></i>
						<h5>Add Image</h5>
					</a>
				</div>
				<div class="col-md-4 col-sm-6 col-xs-12" *ngIf="secondLoader">
				    <a href="javascript:;" class="thumbnail text-center">
				      <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
				      <h5>Uploading</h5>
				    </a>
				</div>
                <div class="row col-md-12" *ngIf="secondColumn._id">
                    <div class="form-group right">
                        <input type="button" class="btn right btn-sm btn-color" (click)="updateColumnData(secondColumn)"  value="Update">
                    </div>
                </div>
                <div class="row col-md-12" *ngIf="!secondColumn._id">
                    <div class="form-group right">
                        <input type="button" class="btn right btn-sm btn-color" (click)="saveColumnData(secondColumn)"  value="Save">
                    </div>
                </div>          
        </div>
        <div class="tab-pane fade" id="tab-three">
            
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group col-md-6">
                            <label for="Heading1">Bold Content</label>
                            <input type="text" id="ThreeColumn3Bold" [(ngModel)]="thirdColumn.BoldContent" name="ThreeColumn3Bold" placeholder="Heading Line1" required>

                        </div>
                        <div class="form-group col-md-6">
                            <label for="Heading2">Normal Content</label>
                            <input type="text"  id="ThreeColumn3Normal" [(ngModel)]="thirdColumn.NormalContent" name="ThreeColumn3Normal" pattern="^[a-zA-Z]{3,20}" placeholder="Normal Content" required>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group col-md-6">
				    		<label for="AdminCriteria">Select criteria</label>
				    		<select  [(ngModel)]="thirdColumn.AdminCriteriaId">
									<option [value] = "undefined" disabled selected> -- select--</option>
				    			<option *ngFor="let adminCriteria of adminCriteriaList" [value]="adminCriteria._id">
				    				{{adminCriteria.Name}}
				    			</option>
				    		</select>
						</div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 "  *ngIf="!thirdLoader && thirdColumn.Image">
					<div class="work-item threecols web-design photography">
						<div class="work-container">
							<input style="display:none" type="file" class="form-control" accept="image/*" name="Images" id="ThreeColumnUploadImage" (change)="changeImage('third',thirdColumn,$event)">
							
							<img class="center-block" src="{{thirdColumn.Image}}" alt="Profile Picture">
							<div class="work-overlay">
								<div class="project-icons">
									<!--
									<a href="javascript:;" class="lightbox-gallery" >
																			<i class="fa fa-search" ></i>
																		</a>-->
									
								</div>
								<div class="work-description">
									<div class="row">
										<div class="col-md-12 text-center">
											<a href="javascript:;" (click)="triggerFileUpload('third')" title="Edit image">Edit </a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12 mb-30" *ngIf = "!thirdColumn.Image && !thirdLoader">
					<input style="display:none" type="file" accept="image/*" name="Images" id="productUploadImageThird" (change)="changeImage('third',thirdColumn,$event)">
					<a href="javascript:;" class="thumbnail text-center" (click)="triggerFileUpload('third')">
						<i class="fa fa-plus"></i>
						<h5>Add Image</h5>
					</a>
				</div>
				<div class="col-md-4 col-sm-6 col-xs-12" *ngIf="thirdLoader">
				    <a href="javascript:;" class="thumbnail text-center">
				      <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
				      <h5>Uploading</h5>
				    </a>
				</div>
                <div class="row col-md-12" *ngIf="thirdColumn._id">
                    <div class="form-group right">
                        <input type="button" class="btn right btn-sm btn-color" (click)="updateColumnData(thirdColumn)"  value="Update">
                    </div>
                </div>
                <div class="row col-md-12" *ngIf="!thirdColumn._id">
                    <div class="form-group right">
                        <input type="button" class="btn right btn-sm btn-color" (click)="saveColumnData(thirdColumn)" value="Save">
                    </div>
                </div>          
        </div>
    </div>
</div>
</div>