<style>
		.alert{
			font-size: 12px !important;
			padding: 0px !important;
			margin-bottom: 10px !important;
			color: #ff0000 !important;
			margin-top: -6px;
			}
		
		input[type="text"],input[type="number"],input[type="email"],input[type="password"] ,textarea{
			border: none !important;
			margin-bottom: 0px !important;
			padding: 0px !important;
			box-shadow: none;
		}
		.form-control:focus{
	-webkit-box-shadow:none !important;
	box-shadow: none !important;
}

		</style>
<header>
    <div class="form-group">
        <h2 class="heading relative heading-small uppercase bottom-line style-2 left-align mb-0">{{editbutton ? 'Update ' : 'Create New '}} Section</h2>
    </div>
</header>
<div class="form-group">
    <button type="button" class="btn btn-sm btn-color left" (click)="goBack()">
        <span class="fa fa-arrow-left" aria-hidden="true"></span></button>
</div>
<br><br>
<br><br>
<div class="row">
	<div class="col-md-6">
		
		<form class="form" id="addSection" #addSection="ngForm">
			<div *ngIf="showErrorMsg" class="alert alert-danger fade in alert-dismissible" role="alert">
						<strong>Error ! </strong> {{' '+errorMsg}}
			</div>
		    <div class="form-group">
				<!-- <label for="Name">{{editbutton ? 'Edit ' : 'Add '}}Section Name:</label> -->
				<mat-form-field class="example-full-width">

				<input matInput type="text" class="form-control mb-0" id="Name" pattern = "[a-zA-Z ]*" [(ngModel)]="this.sectionModel.Name" name="Name"  minlength="3" maxlength="20" placeholder="Section Name" #Name="ngModel" required>
				
				</mat-form-field>
		        <div *ngIf="Name.errors && (Name.dirty || Name.touched)" class="alert">
		            <div [hidden]="!Name.errors.required">
		                Name is required!
		            </div>
		            <div [hidden]="!Name.errors.pattern">
						Pattern Mismatch
					</div>
                </div>
		    </div>
		
		    <div class="form-group">
		        <input type="button" class="btn btn-sm btn-color right rounded " *ngIf="newbutton" (click)="newSection()" value="add" [disabled]="!addSection.form.valid">
		    </div>
		    <div class="form-group">
		        <input type="button" class="btn btn-sm btn-color right rounded" *ngIf="editbutton" (click)="editSection()" value="Save" [disabled]="!addSection.form.valid">
		    </div>
		</form>
	</div>
	
</div>

