<section class="mt-10 col-lg-9 col-md-9 col-sm-12 col-xs-12" style="margin-top:30px" *ngIf="this.showAllMessages">
	<div class="row mb-30">
		<div *ngIf="trashMessages?.length == 0">
			<br><br>
			<div style="margin-top:60px; margin-bottom:50px;margin-right:280px;margin-left:380px" >
				<i class="fa fa-trash" style="font-size:150px;" ><h5> Trash is Empty</h5></i>
     		</div>
		</div>
		<div class="scroll-container" (scroll)="LoadOnScroll()" id='scroll-container'>
			<div id ='scroll-box' class="col-xs-12">
		<div class="row" style="margin-top:10px" >
			<div class="col-md-12">
				<div class="row cursor_pointer" *ngFor="let trashMessage of trashMessages" (click)="this.showMail=true;showMessage(trashMessage)" style="min-height:65px;max-height:none;background-color: #e0e0e0;color:black;  border: 1px solid  #f5f5f5;border-radius: 6px;margin-bottom: 1px;display: flex; align-items: center;">
				<div class="col-md-1">
					<img src="{{trashMessage.ToUserImage}}" class="img-circle" alt="">
				</div>
				<div class="col-md-7">
					<div class="row">
						<div class="col-md-5">
							<!-- {{trashMessage.From}} -->
							{{trashMessage.To.Profile.FirstName ?trashMessage.To.Profile.FirstName :'Jheaps Member'}}
							<!-- <p>Jheaps Member</p> -->
						</div>
						<div class="col-md-5">
							<p class=" message_lineheight message_color">{{trashMessage.Subject | shorten : 20:'...'}}</p>
							<p class="message_lineheight ">{{trashMessage.Message | shorten : 25	:'...'}}</p>
						</div>
					</div>
				</div>
				<div class="col-md-2">
					<p class="message_lineheight message_color">{{trashMessage.CreatedDate | date:'dd MMM yyyy'}}</p>
					<p class=" message_lineheight">{{trashMessage.CreatedDate | date:'HH:mm:ss'}}</p>
				</div>
			</div>
		</div>
		<div class="col-md-offset-4">
		</div>
		</div>
		</div>
	</div>
	</div>
		
</section>
<section class=" col-lg-9 col-md-9 col-sm-12 col-xs-12" *ngIf="this.showMail" style="margin-top: 30px;">
	<div class="form-group">
			<button type="button" style="float: right;" class="btn btn-sm btn-color" (click)="this.showAllMessages = true;this.showMail=false;this.composeMail=false;">
			<span class="fa fa-arrow-left" aria-hidden="true"></span></button>
		</div>
		<h3 class=" text-center">{{this.selectedTrashMessage.Subject}}</h3>
		<!-- <h3 class=" text-center">Jheaps Member</h3> -->
		<div class="mesgs">
			<div class="msg_history">
		
				<div class="incoming_msg"  *ngIf ="this.selectedTrashMessage.From._id!= this.ShowUserId">
				  <div class="incoming_msg_img"> <img src="{{this.selectedTrashMessage.FromUserImage}}" class="img-circle" alt=""> </div>
				  <div class="received_msg">
					<div class="received_withd_msg">
					  <p>{{selectedTrashMessage.Message}}</p>
					  <div  class="imgmargin" *ngIf="selectedTrashMessage.Attachment.length!=0">
							<div  class="row"  >
								<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 imgmargin attchment" *ngFor="let Attach of selectedTrashMessage.Attachment" >
									<div style="height: 220px;width: 367px;"> 
									<img src="{{Attach.URL}}">
									</div>
									<!-- <i class="fa fa-paperclip" style="font-size: 14px; color:black;" aria-hidden="true"></i> -->
									<a target="_blank" href="{{Attach.URL}}" download="{{Attach.Name}}.jpg">{{Attach.Name}}</a>
								</div>
							</div>
						</div>
					  <span class="time_date">{{selectedTrashMessage.CreatedDate | date:'dd MMM yyyy HH:mm:ss'}}</span></div>
				  </div>
				</div>
				<div class="outgoing_msg "  *ngIf ="this.selectedTrashMessage.From._id== this.ShowUserId">
						<div class="sent_msg">
						  <p>{{selectedTrashMessage.Message}}</p>
						  <div  class="imgmargin" *ngIf="selectedTrashMessage.Attachment.length!=0">
								  <div  >
									  <div  class="imgmargin attchment" *ngFor="let Attach of selectedTrashMessage.Attachment"  >
										  <div style="height: 220px;width: 367px;"> 
										  <img src="{{Attach.URL}}">
										  </div>
										  <!-- <i class="fa fa-paperclip" style="font-size: 14px; color:black;" aria-hidden="true"></i> -->
										  <a target="_blank" href="{{Attach.URL}}" download="{{Attach.Name}}.jpg">{{Attach.Name}}</a>
									  </div>
								  </div>
							  </div>
						  <span class="time_date"> {{selectedTrashMessage.CreatedDate | date:'dd MMM yyyy HH:mm:ss'}}</span> </div>
					  </div>
				
			
				<!--other replies-->
				<div *ngFor="let Reply of this.selectedReplyMessage">
				<div class="incoming_msg"  *ngIf ="Reply.From._id!= this.ShowUserId ">
						<div class="incoming_msg_img"> <img src="{{Reply.FromUserImage}}" class="img-circle" alt=""> </div>
						<div class="received_msg">
						  <div class="received_withd_msg">
							<p>{{Reply.Reply}}</p>
							<div class="imgmargin" *ngIf="Reply.Attachment.length!=0">
								<div  >
									<div  class="imgmargin attachment" *ngFor="let Attach of Reply.Attachment" >
										<div style="height: 220px;width: 367px;"> 
										<img src="{{Attach.URL}}">
										</div>
										<!-- <i class="fa fa-paperclip" style="font-size: 14px; color:black;" aria-hidden="true"></i> -->
										<a target="_blank" href="{{Attach.URL}}" download="{{Attach.Name}}.jpg">{{Attach.Name}}</a>
									</div>
								</div>
							</div>
							<span class="time_date">{{Reply.CreatedDate | date:'dd MMM yyyy HH:mm:ss'}}</span></div>
						</div>
				</div>
				
				<div class="outgoing_msg "  *ngIf ="Reply.From._id== this.ShowUserId ">
				  <div class="sent_msg">
					<p>{{Reply.Reply}}</p>
					<div  class="imgmargin" *ngIf="Reply.Attachment.length!=0">
							<div  >
								<div  class="imgmargin attchment" *ngFor="let Attach of Reply.Attachment" >
									<div style="height: 220px;width: 367px;"> 
									<img src="{{Attach.URL}}">
									</div>
									<!-- <i class="fa fa-paperclip" style="font-size: 14px; color:black;" aria-hidden="true"></i> -->
									<a target="_blank" href="{{Attach.URL}}" download="{{Attach.Name}}.jpg">{{Attach.Name}}</a>
								</div>
							</div>
						</div>
					<span class="time_date"> {{Reply.CreatedDate | date:'dd MMM yyyy HH:mm:ss'}}</span> </div>
				</div>

			   </div>
		</div>
		<div class="type_msg">
		
		</div>
		</div>

 </section>
