<h1>Customer return <span *ngIf="reportData.length>0 && !this.selectedDetail" style="padding-left:423px;"><a href="javascript:;;" (click)="DownloadReport()"> <i class="fa fa-download"></i></a></span></h1>
<!-- <h1>Customer return</h1> -->
<div class="table-wrap mt-15 col-lg-12 col-md-12 col-sm-12 hidden-xs">
    <div *ngIf="reportData.length > 0; else addNewTemplate">
    
        <div class="row mb-30" *ngIf="this.showlist" >
                <div>
                        <button type="button" class="btn btn-sm btn-color" (click)=" goBack()">
                            <span class="fa fa-arrow-left" aria-hidden="true"></span>
                        </button>
                    </div>` 
                    <!-- <h2 style="margin-left: 8px;margin-top:30px">OverAll Report</h2> -->
            <div class=" purchase_container">
                    <div class="row purchase_title m-0" style="margin-bottom: -18px;" *ngIf="this.showDate">
                       
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <p > 
                                        <strong>Start Date : {{this.reportsModel.ReportType?.StartDate | date:'dd MMM yyyy'}}</strong>
                                    </p>
                                 
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4">
                                </div>
        
                               
                                <div class="col-lg-4 col-md-4 col-sm-64col-xs-12">
                                    <p>
                                        <strong>End Date : {{this.reportsModel.ReportType?.ExpiryDate | date:'dd MMM yyyy'}}</strong>
                                    </p>
                                  
                                </div>
                              
                </div>
                 <div class="row purchase_title m-0" style="margin-bottom: -18px;" *ngIf="!this.showDate">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <p>
                                        <strong>Month : {{this.Month }}</strong>
                                    </p>
                                 
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4">
                                </div>
                               
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <p>
                                        <strong>Year : {{this.Year }}</strong>
                                    </p>
                                  
                                </div>
                              
                </div>
                <div class="row purchase_title" style="margin-left: 0px; margin-right: 0px;">
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <p >
                            <strong>Total # Of Products</strong>
                        </p>
                        <h2>{{ this.TotalCustomerReturn.TotalNoorders}}</h2>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        </div>
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <p >
                            <strong>Total Percentage Return</strong>
                        </p>
                        <h2 >{{this.TotalCustomerReturn.TotaldefecttotalPercentage}}</h2>
                    </div>
                  
                </div>
                <table class="table" style="margin-top:30px">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th class="text-center">Return Reason</th>
                                <th class="text-center">Products with returns#</th>
                                <th class="text-center">% Return</th>
                              
                            </tr>
                        </thead>
                        <tbody>
                            <tr>  <th>1</th>
                                <td  class="text-center">Wrong Shipment/missing Items </td>
                                <td class="text-center"> {{ this.TotalCustomerReturn.TotalWSorMICount}} </td>
                                <td class="text-center">{{  this.TotalCustomerReturn.TotalWSorMIPercentage}} </td>
                               
                              
                            </tr>
                            <tr>  <th>2</th>
                                <td  class="text-center">Poor Quality  </td>
                                <td class="text-center"> {{this.TotalCustomerReturn.TotalPQCount}} </td>
                                <td class="text-center">{{this.TotalCustomerReturn.TotalPQPercentage}} </td>
                               
                            </tr>
                            <tr>  <th>3</th>
                                <td  class="text-center">Damaged Products</td>
                                <td class="text-center"> {{this.TotalCustomerReturn.TotalDaPCount}} </td>
                                <td class="text-center">{{  this.TotalCustomerReturn.TotalDaPPercentage}} </td>
                               
                            </tr>
                            <tr>  <th>4</th>
                                <td  class="text-center">Defective Products  </td>
                                <td class="text-center"> {{this.TotalCustomerReturn.TotalDePCount}} </td>
                                <td class="text-center">{{this.TotalCustomerReturn.TotalDePPercentage}} </td>
                               
                            </tr>
                          
                            <tr style="background-color: #f5f5f5;"> 
                                 <th></th>
                                <td  class="text-center">Total </td>
                                <td class="text-center"> {{ this.TotalCustomerReturn.TotaldefectCount}} </td>
                                <td class="text-center">{{this.TotalCustomerReturn.TotaldefecttotalPercentage}} </td>
                               
                            </tr>
                        </tbody>
                    </table>
                    <h2 style="margin-top:30px">Month-Wise Report</h2>
        <div *ngIf="reportData.length > 0; else addNewTemplate">
    <table class="table" style="margin-top:30px">
        <thead>
            <tr>
                <th >#</th>
                <th class="text-center">Month</th>
                <th class="text-center">Year</th>
                <th class="text-center">% Return</th>
              
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of reportData ; let i = index">
                <td  class="text-center" style="cursor: pointer;" (click)="selected(data);">{{i+1}}</td>
                <td class="text-center"  style="cursor: pointer;" (click)="selected(data);"> {{data.Month}} </td>
                <td class="text-center" style="cursor: pointer;" (click)="selected(data);">{{data.Year}} </td>
                <td class="text-center" style="cursor: pointer;" (click)="selected(data);">{{data.TotalPercent}}</td>
              
            </tr>
        </tbody>
    </table>
        </div>
            </div>
        </div>
        <div *ngIf="this.selectedDetail">  
                <div>
                        <button type="button" class="btn btn-sm btn-color" (click)=" goToList()">
                            <span class="fa fa-arrow-left" aria-hidden="true"></span>
                        </button>
                    </div>`
                <div class="row purchase_title" style="margin-left: 0px; margin-right: 0px;margin-top:30px">
                        <div class="col-md-4">
                            <p class="text-center">
                                <strong>Products with return</strong>
                            </p>
                            <h2 class="counter-text head text-center"> {{this.selectedData.defectTotalCount}}</h2>
                        </div>
                        <div class="col-md-4">
                            <p class="text-center">
                                <strong>Month</strong>
                            </p>
                            <h2 class="counter-text head text-center"> {{this.selectedData.Month}}</h2>
                        </div>
                        <div class="col-md-4">
                            <p class="text-center">
                                <strong>Year</strong>
                            </p>
                            <!-- <p>{{20}}</p> -->
                            <h2 class="counter-text head text-center"> {{this.selectedData.Year}}</h2>
                        </div>
                        <!-- <div class="col-md-3">
                            <p class="text-center">
                                <strong>Total Cancellation Rate</strong>
                            </p>
                            <p>{{25}}</p>
                            <h2 class="counter-text head text-center">{{this.TotalRFSBreach.orderCancellationRate}}</h2>
                        </div> -->
                    </div>
            <table class="table" style="margin-top:30px">
                <thead>
                    <tr>
                        <th>#</th>
                        <th class="text-center">Return Reason</th>
                        <th class="text-center">Products Count</th>
                        <th class="text-center">% Return</th>
                        <!-- <th class="text-center">Total Percentage</th> -->
                        <!-- <th class="text-center">Orders With RFS Breach</th>
                        <th class="text-center">RFS Breach Rate</th> -->
                        <!-- <th class="text-center">Order Cancellation Rate</th> -->
                    </tr>
                </thead>
                <tbody>
                    <tr>  <th>1</th>
                        <td  class="text-center">Wrong Shipment/missing Items </td>
                        <td class="text-center"> {{this.selectedData.WSorMICount}} </td>
                        <td class="text-center">{{this.selectedData.WSorMIPercentage}} </td>
                       
                        <!-- <td class="text-center">{{data.TotalBreachOrders}}</td>
                        <td class="text-center">{{data.RFSBreachRate}}</td> -->
                        <!-- <td class="text-center">{{data.CancellationRate}}</td> -->
                    </tr>
                    <tr>  <th>2</th>
                        <td  class="text-center">Poor Quality  </td>
                        <td class="text-center"> {{this.selectedData.PQCount}} </td>
                        <td class="text-center">{{this.selectedData.PQPercentage}} </td>
                       
                    </tr>
                    <tr>  <th>3</th>
                        <td  class="text-center">Damaged Products</td>
                        <td class="text-center"> {{this.selectedData.DaPCount}} </td>
                        <td class="text-center">{{this.selectedData.DaPPercentage}} </td>
                       
                    </tr>
                    <tr>  <th>4</th>
                        <td  class="text-center">Defective Products  </td>
                        <td class="text-center"> {{this.selectedData.DePCount}} </td>
                        <td class="text-center">{{this.selectedData.DePPercentage}} </td>
                       
                    </tr>
                    <!-- <tr>  <th></th>
                            <td  class="text-center"></td>
                            <td class="text-center"></td>
                            <td class="text-center"> </td>
                           
                        </tr> -->
                    <tr style="background-color: #f5f5f5;"> 
                         <th></th>
                        <td  class="text-center">Total </td>
                        <td class="text-center"> {{this.selectedData.defectTotalCount}} </td>
                        <td class="text-center">{{this.selectedData.TotalPercent}} </td>
                       
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>

<ng-template #addNewTemplate>
            <div class="hidden-xs">
                    <div style="margin-top:150px; margin-bottom:50px" class="text-center">
                            <i class="fa fa-trash" style="font-size:100px;"></i>
    
                    </div>
                    <div class="col-xs-12 text-center">
                            <span style="margin:auto;">No Customer Return To Show</span>
                    </div>
            </div>
    </ng-template>