<h1>Product Review Report <span *ngIf="reportData.length>0" style="padding-left:423px;"><a href="javascript:;;"  (click)="DownloadReport()"> <i class="fa fa-download"></i></a></span></h1>
<div *ngIf="reportData?.length > 0;else addNewTemplate">
<div>
        <button type="button" class="btn btn-sm btn-color" (click)=" goBack()">
            <span class="fa fa-arrow-left" aria-hidden="true"></span>
        </button>
</div>
<div class="purchase_container">
    <div class="row purchase_title m-0" style="margin-bottom: -18px;" *ngIf="this.showDate">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <p>
                <strong>Start Date : {{this.reportsModel.ReportType?.StartDate | date:'dd MMM yyyy'}}</strong>
            </p>
         
        </div>
       
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <p>
                <strong>End Date : {{this.reportsModel.ReportType?.ExpiryDate | date:'dd MMM yyyy'}}</strong>
            </p>
          
        </div>
      
    </div>
    <div class="row purchase_title m-0" style="margin-bottom: -18px;" *ngIf="this.showMonth">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <p>
                <strong>Month : {{this.Month }}</strong>
            </p>
         
        </div>
       
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <p>
                <strong>Year : {{this.Year }}</strong>
            </p>
          
        </div>
      
    </div>
    <div class="row purchase_title m-0" style="margin-bottom: -18px;" *ngIf="this.showAllTime">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <p>
            <strong>All time </strong>
        </p>
     
    </div>
    </div>
    <div class="row purchase_title m-0">
         <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
            <p>
                <strong>Average Rating Of All Items In The Shop</strong>
            </p>
            <h2 class="counter-text head">{{shopAverage}}</h2>
              <!-- <h5 class="counter-text">Shop Average</h5> -->
            </div>
            
    
      
    
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <input type="button" class=" mybutton btn btn-sm btn-color" (click)="viewProductlist()"  *ngIf="showProduct" value="View Product Wise Info">
                <input type="button" class=" mybutton btn btn-sm btn-color" (click)="hideProductlist()" *ngIf="!showProduct" value="Hide Product Wise Info">
        </div>
    
    </div>
</div>

<div class="col-md-12 mt-15" *ngIf="showlist"> 
<table class="table table-condensed">
        <thead>
            <tr>
                <th>#</th>
                <th> Product Id</th>
                <th>Product Name</th>
                <th>Average Rating</th>
               
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of  reportData; let i = index">
                <td>{{i+1}}</td>
                <td style="cursor: pointer;" (click)=" selectedProduct(data);">
                    {{data.ProductId}}
                </td>
         
                <td  style="cursor: pointer;" (click)="selectedProduct(data);"><p title="{{data.ProductName}}">{{data.ProductName | shorten: 60: ' ...'}}</p></td>
                <td  style="cursor: pointer;" (click)="selectedProduct(data);">{{data.AverageRating}}</td>
            </tr>
        </tbody>
    </table>
</div>
</div>
<ng-template #addNewTemplate>
    <div class="hidden-xs">
            <div style="margin-top:150px; margin-bottom:50px" class="text-center">
                    <i class="fa fa-trash" style="font-size:100px;"></i>

            </div>
            <div class="col-xs-12 text-center">
                    <span style="margin:auto;">No Orders To Show</span>
            </div>
    </div>
</ng-template>

