<style>
    .Clsfav_product_img img {
        height: 180px;
        width: 100%;
    }

    .Clsproduct-item .product-add-to-wishlist>a {
        color: var(--sub-text-color);
        display: inline-block;
        padding: 0px 5px;
        transition: all 250ms ease 0s;
    }

    .Clsproduct-item:hover .product-add-to-wishlist>a {
        color: var(--primary-text-color);
        background-color: var(--secondary-bg-color);
        transition: all 250ms ease 0s;
    }

    .Clsproduct-details h6 {
        font-family: 'Raleway', sans-serif;
        font-weight: 600;
    }
</style>
<form>
    <div class="tabs mb-10">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#tab-one" data-toggle="tab" aria-expanded="true"
                    (click)="showFavouriteProduct();this.ResetPagination()">Items</a>
            </li>
            <li class="">
                <a href="#tab-two" data-toggle="tab" aria-expanded="false"
                    (click)="showFavouriteShop();this.ResetPagination()">Shops</a>
            </li>
        </ul>
    </div>
    <div class="tab-content">
        <div class="tab-pane fade active in" id="tab-one">
            <div class="Clstitle_cover">
                <h2 class="heading relative heading-small uppercase bottom-line style-2 left-align mb-0">Favorite Items
                </h2>
            </div>
            <div>
                <div id='scroll-box' class="row items-grid">
                    <div *ngIf="favouriteProducts.length>0; else addNewTemplate">
                        <div *ngFor="let FavouriteProduct of favouriteProducts;let i=index;">
                            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 product product-grid">
                                <div class="Clsproduct-item">
                                    <div class="Clsfav_product_img">
                                        <a href="javascript:;"> <img class="img-responsive"
                                                [BindImage]='FavouriteProduct.Id' alt="Product Image"
                                                (click)="productInfo(FavouriteProduct.Id)"> </a>
                                        <div class="product-add-to-wishlist">
                                            <a href="javascript:;"><i class="fa fa-close"
                                                    (click)="RemoveFavouriteProduct(FavouriteProduct.Id._id)"></i></a>
                                        </div>
                                    </div>
                                    <div class="Clsproduct-details">
                                        <h6 class="text-truncate">
                                            <a href="javascript:;"
                                                class="product-title">{{FavouriteProduct.Id.Name}}</a>
                                        </h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="this.loader" class="loader" style="top:103%;display: block !important">
                            <svg class="circular" viewBox="25 25 50 50">
                                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2"
                                    stroke-miterlimit="10" />
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="tab-two">
            <div class="Clstitle_cover">
                <h2 class="heading relative heading-small uppercase bottom-line style-2 left-align mb-0">Favorite Shops
                </h2>
            </div>
            <div>
                <div id='scroll-box' class="row items-grid">
                    <div *ngIf="favouriteShops.length>0; else addNewTemplate">
                        <div *ngFor="let FavouriteShop of favouriteShops">
                            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 product product-grid" style="width:200px;">
                                <div class="Clsproduct-item">
                                    <div class="Clsfav_product_img">
                                        <a href="javascript:;"> <img class="img-responsive"
                                                [src]="FavouriteShop.Id.Logo" alt="Shop Image"
                                                (click)="ShowProductsByShop(FavouriteShop.Id._id)">
                                        </a>
                                        <div class="product-add-to-wishlist">
                                            <a href="javascript:;"><i class="fa fa-close"
                                                    (click)="RemoveFavouriteShop(FavouriteShop.Id._id)"></i></a>
                                        </div>
                                    </div>
                                    <div class="Clsproduct-details">
                                        <h6 class="text-truncate">
                                            <a href="#" (click)="FavouriteShopInfo()">
                                                {{FavouriteShop.Id.ShopAccountId.approvedBusinessDetails.Name}}
                                            </a>
                                        </h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="layout-padding"></section>
</form>
<ng-template #addNewTemplate>
    <div *ngIf="this.pageLoader" class="loader" style="top:90px;left:46%;display: block">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
        </svg>
    </div>
    <div *ngIf="!this.pageLoader">
        <div class="Clsno-results_found text-center">
            <h6>No Items To Show</h6>
            <img src="/assets/img/no-results-found.png" alt="no result found" width="250px" class="" />
        </div>
    </div>
</ng-template>