<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-2">
	<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
		<button type="button" class="btn btn-sm btn-color left" (click)="goBack()">
			<span class="fa fa-arrow-left" aria-hidden="true"></span>
		</button>
	</div>
	<div class="col-lg-5 col-md-5 col-sm-5 col-xs-8">
		<h3>Add Zone</h3>
	</div>
</div>
<div class="row">
	<div class="col-md-10 col-md-offset-1">		
		<form id="addZone1" #addZone1="ngForm">
		    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" *ngIf="dataAvailable">
		        <label for="Country12">Country:</label>
		        <select id="Country12"   (change) = "countryChanged($event)" [ngModel]="addZone.Country"  name="Country12" #Country12 = "ngModel" required>
		            <option selected disabled value="undefined">Choose</option>
		            <option *ngFor="let country of allCountriesList"  [value]="country">{{country}}</option>
				</select>
			</div>
			
			
				
			<div class="col-xs-12" style="margin-bottom:40px">
				<button class="btn btn-color btn-sm pull-right" (click)="addZones()"> Add Zone</button>
			</div>
			<div class="panel-body" >
					<table class="table table-bordered table-striped" *ngIf = "addZone.Zone.length>0; else noZones">
						<thead>
							<tr>
								<th>Zone</th>
								<th>Zone Name</th>
                                <th>Action</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let cat of addZone.Zone; let i = index">
								<td>
										<div class="col-md-6 col-xs-12">
												<!-- <label for="zonetype">Zone Type {{i+1}}:</label> -->
												<select id='zonetype{{i}}' [(ngModel)]="cat.Type" name="zonetype{{i}}" #zonetype{{i}} = "ngModel" required style="height:30px; margin-bottom:0px" [disabled] = "(cat.Type == '')?false:true">
													<option selected disabled value="">Choose</option>
													<option *ngFor="let type of ZoneType" value='{{type.id}}' [disabled]="type.Selected">{{type.Type}}</option>
												</select>
												</div>
								</td>
								
								    
								<td>
										<div>
												<!-- <label for='zone{{i}}'> Zone {{i+1}}:</label> -->
												<input type="text" style="height:30px; margin-bottom:0px" class="form-control" id='zone{{i}}' [(ngModel)]="cat.Name" name='zone{{i}}' placeholder="Zone Name"  #zone{{i}}="ngModel" required>
										</div>
								</td>
								<td class="text-center">
									<a href="javascript:;" (click)="confirmDeleteZone(cat, this.addZone.Country, i)">
										<span style="font-size:30px; margin:auto" ><i class="fa fa-times"></i></span>
									</a>
								</td>
							</tr>
							<tr>
								<!-- <td colspan="5">
									<button class="btn btn-color pull-right" (click)="addEmptyShipsToByMethod(shippingMethod)">
										+Add Zone
									</button>
								</td> -->
							</tr>
						</tbody>
					</table>
				</div>










							<!-- <div *ngFor="let cat of addZone.Zone; let i = index">
								<div class="col-md-6 col-xs-12">
								<label for="zonetype">Zone Type {{i+1}}:</label>
								<select id='zonetype{{i}}' [(ngModel)]="cat.Type" name="zonetype{{i}}" #zonetype{{i}} = "ngModel" required>
									<option selected disabled value="undefined">Choose</option>
									<option *ngFor="let type of ZoneType" value='{{type.id}}' [disabled]="type.Selected">{{type.Type}}</option>
								</select>
								</div>
					
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
						<div>
								<label for='zone{{i}}'> Zone {{i+1}}:</label>
								<input type="text" class="form-control" id='zone{{i}}' [(ngModel)]="cat.Name" name='zone{{i}}' placeholder="Zone Name"  #zone{{i}}="ngModel" required>
						</div>
					</div>
				</div> -->
				
				<div class="form-group">
						<input *ngIf = "saveButton" type="button" class="btn btn-sm btn-color right rounded"  (click)="save()" value="Save" [disabled]="!addZone1.form.valid">
						<input *ngIf = "updateButton" type="button" class="btn btn-sm btn-color right rounded"  (click)="update()" value="Update" [disabled]="!addZone1.form.valid">
					</div>
		    <!-- <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
		        <label for="Nzone">No of Zones:</label>
		        <input type="number" class="form-control" id="Nzone" [(ngModel)]="this.Nzonevalue" name="Nzone" #Nzone="ngModel" required>
		        <div *ngIf="Nzone.errors && (Nzone.dirty || Nzone.touched)" class="text-danger vd-msg">
		            <div [hidden]="!Nzone.errors.required">
		                *No of Zones required!
		            </div>
		        </div>
		    </div> -->

		    <!-- <div class="form-group">
		        <input type="button" class="btn btn-sm btn-color right rounded" *ngIf="addZone.form.valid" (click)="Generate()" value="Generate" [disabled]="!addZone.form.valid">
			</div> -->

			<ng-template #noZones> 
				<div class="text-center" style="margin-top:40px">
					<span style="margin:auto">No Zones Added</span>
				</div>
			</ng-template>
	
		</form>
	</div>
</div>

<div class="modal fade" id="confirmDeleteModal" role="dialog">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
                <div *ngIf = "!deleteModel; else cannotDelete">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h6 class="modal-title">Delete Modal</h6>
				</div>
				<div class="modal-body">
					<p>Are you sure to Delete this Zone?</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-sm btn-color rounded" data-dismiss="modal" >Cancel</button>
					<button type="button" class="btn btn-sm btn-color rounded" (click)='DeleteZone()'>Delete</button>
                </div>
            </div>

            <ng-template #cannotDelete>
                    <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h6 class="modal-title">Delete Modal</h6>
                        </div>
                        <div class="modal-body">
                            <p>Cannot delete the zone, it is linked with {{deleteModelBody}} shipping profiles</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-sm btn-color rounded" data-dismiss="modal" >Close</button>
                        </div>
            </ng-template>
			</div>
		</div>
	</div>
	
<!-- <div class="row">
		<div class="col-md-10 col-md-offset-1">
			<form id="Extzone" #Extzone="ngForm" *ngIf="GenData">
				<div *ngFor="let cat of Zones; let i = index">
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
								<label for="zonetype">Zone Type {{i+1}}:</label>
								<select id='zonetype{{i}}' [(ngModel)]="Zones[i].Type" name="zonetype{{i}}" required>
									<option selected disabled value="undefined">Choose</option>
									<option *ngFor="let type of ZoneType" value='{{type.id}}' [disabled]="type.Selected">{{type.Type}}</option>
								</select>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
						<div>
								<label for='zone{{i}}'> Zone {{i+1}}:</label>
								<input type="text" class="form-control" id='zone{{i}}' [(ngModel)]="Zones[i].Name" name='zone{{i}}' placeholder="Zone Name"  #zone{{i}}="ngModel" required>
						</div>
					</div>
				</div>
				<div class="form-group">
					<input type="button" class="btn btn-sm btn-color right rounded" *ngIf="Extzone.form.valid" (click)="save()" value="Save" [disabled]="!Extzone.form.valid">
				</div>
			</form>
		</div>
</div> -->
