<h1>Unsettled Transactions<span *ngIf="reportData.length > 0 && showlist" style="padding-left:423px;"><a href="javascript:;;" (click)="DownloadReport()"> <i
    class="fa fa-download"></i></a></span></h1>
<div *ngIf="!showlist">
<button type="button" class="btn btn-sm btn-color" (click)=" goBack()">
<span class="fa fa-arrow-left" aria-hidden="true"></span>
</button>
</div>

<div class=" purchase_container" *ngIf="!showlist">
<div class="row purchase_title" style="margin-left: 0px; margin-right: 0px;">
<div class="col-md-6">
    <p class="text-center">
        <strong>Order #</strong>
    </p>
    <h2 class="counter-text head text-center">{{this.selectedReport.OrderId}}</h2>
</div>
<div class="col-md-6">
    <p class="text-center">
        <strong>Settlement amount</strong>
    </p>
    <h2 class="counter-text head text-center">{{this.selectedReport.SettlementAmount}}</h2>
</div>

</div>
<table class="table" style="margin-top:30px">
    <thead>
        <tr>
            <th></th>
            <th class="text-align: left">Settlement Details</th>
            <th></th>
            <th class="text-align:left"></th>
            <!-- <th class="text-center">Total Percentage</th> -->
          
        </tr>
    </thead>
    <tbody>
        <tr> 
             <th></th>
            <td  class="text-align:left">Order Date </td>
            <th>:</th>
            <td class="text-align:left">{{this.selectedReport.OrderDate | date:'dd MMM yyyy'}}</td>
            <!-- <td class="text-center">{{  this.TotalCustomerReturn.TotalWSorMIPercentage}} </td> -->
           
          
        </tr>
        <tr> 
             <th></th>
            <td  class="text-align:left">Dispatch Date </td>
            <th>:</th>
            <td class="text-align:left">{{this.selectedReport.OrderDate | date:'dd MMM yyyy'}}</td>
            <!-- <td class="text-center">{{this.TotalCustomerReturn.TotalPQPercentage}} </td> -->
           
        </tr>
        <tr>  
            <th></th>
            <td  class="text-align:left">Order Completion Date</td>
            <th >:</th>
            <td class="text-align:left">{{this.selectedReport.OrderCompletionDate| date:'dd MMM yyyy'}}</td>
            <!-- <td class="text-center">{{  this.TotalCustomerReturn.TotalDaPPercentage}} </td> -->
           
        </tr>
        <tr>  
            <th></th>
            <td  class="text-align:left">MP Invoice </td>
            <th >:</th>
            <td class="text-align:left">{{this.selectedReport.InvoiceId}}</td>
            <!-- <td class="text-center">{{this.TotalCustomerReturn.TotalDePPercentage}} </td> -->
           
        </tr>
      
        <tr> 
             <th></th>
            <td  class="text-align:left">MP Invoice Date</td>
            <th>:</th>
            <td class="text-align:left">{{this.selectedReport.InvoiceDate | date:'dd MMM yyyy'}}</td>
            <!-- <td class="text-center">{{this.TotalCustomerReturn.TotaldefecttotalPercentage}} </td> -->
           
        </tr>
        <tr> 
                <th></th>
               <td  class="text-align:left">Settlement amount</td>
               <th>:</th>
               <td class="text-align:left">Rs.{{this.selectedReport.SettlementAmount}}</td>
               <!-- <td class="text-center">{{this.TotalCustomerReturn.TotaldefecttotalPercentage}} </td> -->
              
           </tr>
           <tr> 
                <th></th>
               <td  class="text-align:left">Order Status</td>
               
               <th>:</th>
               <td class="text-align:left">{{this.selectedReport.OrderStatus}} </td>
               <!-- <td class="text-center">{{this.TotalCustomerReturn.TotaldefecttotalPercentage}} </td> -->
              
           </tr>
    </tbody>
</table>


</div>

<div class="col-md-12 mt-15" *ngIf="showlist">
<button type="button" class="btn btn-sm btn-color" (click)=" goBack1()">
<span class="fa fa-arrow-left" aria-hidden="true"></span>
</button>
<div  *ngIf="reportData?.length > 0;else addNewTemplate">
<!-- <div class="purchase_container">
        <div class="row purchase_title m-0" *ngIf="this.showDate">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <p>
                        <strong>Start Date : {{this.reportsModel.ReportType?.StartDate | date:'dd MMM yyyy'}}</strong>
                    </p>
                 
                </div>
               
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <p>
                        <strong>End Date : {{this.reportsModel.ReportType?.ExpiryDate | date:'dd MMM yyyy'}}</strong>
                    </p>
                  
                </div>
              
        </div>
        <div class="row purchase_title m-0" *ngIf="!this.showDate">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <p>
                        <strong>Month : {{this.Month }}</strong>
                    </p>
                 
                </div>
               
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <p>
                        <strong>Year : {{this.Year }}</strong>
                    </p>
                  
                </div>
              
        </div>
</div> -->
<table class="table table-condensed">
<thead>
<tr>
    <th class="text-center">#</th>
    <th class="text-center"> Order #</th>
    <th class="text-center">Order date</th>
    <th class="text-center">Settlement Amount</th>

</tr>
</thead>
<tbody>
<tr *ngFor="let data of  reportData; let i = index">
    <td class="text-center" >{{i+1}}</td>
   
    <td class="text-center" style="cursor: pointer;" (click)=" selectedProduct(data);">
        {{data.OrderId}}
    </td>

    <td class="text-center" style="cursor: pointer;" (click)="selectedProduct(data);">{{data.OrderDate | date:'dd MMM yyyy'}}</td>
    <td class="text-center" style="cursor: pointer;" (click)="selectedProduct(data);">Rs.{{data.SettlementAmount}}</td>
</tr>
</tbody>
</table>
</div>
</div>
<ng-template #addNewTemplate>
    <div class="hidden-xs">
            <div style="margin-top:150px; margin-bottom:50px" class="text-center">
                    <i class="fa fa-trash" style="font-size:100px;"></i>

            </div>
            <div class="col-xs-12 text-center">
                    <span style="margin:auto;">No Orders To Show</span>
            </div>
    </div>
</ng-template>