<h1>Shop Reviews <span *ngIf="reportData.length>0" style="padding-left:423px;"><a href="javascript:;;" (click)="DownloadReport()"> <i class="fa fa-download"></i></a></span></h1> 
<div class="table-wrap mt-15 col-lg-12 col-md-12 col-sm-12 hidden-xs" *ngIf="showReport" >
    <div>
    <div>
            <button type="button" class="btn btn-sm btn-color" (click)=" goBack()">
                <span class="fa fa-arrow-left" aria-hidden="true"></span>
            </button>
        </div>
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Shop Id</th>
                <th>Shop Name</th>
                <th>Average Review Rating</th>

          
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of reportData; let i = index">
                <td>{{i+1}}</td>
                <td style="cursor: pointer;" >
                    {{data.ShopId}}
                </td>
            
                <td  style="cursor: pointer;" >{{data.ShopName}}</td>
                <td  style="cursor: pointer;" >{{data.AverageRating}}</td>

               
            </tr>
        </tbody>
    </table>
</div>
</div>