<style>
	.new_style{
		float: right;
		margin-right: 325px;
		margin-top: -84px;
	}
</style>
<div class="row">
	<div class="col-md-12">
		<h2 class="heading relative heading-small uppercase bottom-line style-2 left-align mb-0">Tickets</h2>
		<section *ngIf="this.showAllMessages">
			<div *ngIf="Tickets.length > 0 || searchTerm">
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
					<input type="text" class="form-control mb-0" [(ngModel)]="searchTerm" (change)="updatePages(searchTerm, 1,10)" placeholder="Search"
					/>
				</div>

			</div>
			<div *ngIf="Tickets.length > 0; else addNewTemplate">

				<div *ngIf="showAllMessages">
					<div class="scroll-container" (scroll)="LoadOnScroll()" id='scroll-container'>
						<div id='scroll-box' class="col-xs-12">
							<div class="table-wrap">
								<table class="table">
									<thead>
										<tr>
											<th>#</th>
											<th>Ticket Id</th>
											<th>From</th>
											<th>Reason</th>
											<th>Date</th>
										</tr>
									</thead>
									<tbody>
										<tr *ngFor="let Ticket of TicketList; let i=index" style="cursor: pointer;" (click)="showMessage(Ticket)">
											<td>
												{{(i+1) + (initialPage * 10)}}
											</td>
											<td>
												{{Ticket.TicketId | shorten : 20:'...'}}
											</td>
											<td>
												{{Ticket.Messages[0].From.Email}}	
											</td>
											<td>
												{{Ticket.Messages[0].Reason | shorten : 20:'...'}}
											</td>
											<td>
												{{Ticket.Messages[0].CreatedDate | date:'dd MMM yyyy'}}
											</td>
										</tr>

									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
			<ng-template #addNewTemplate>
				<div>
					<div style="margin-top:150px; margin-bottom:50px" class="text-center">
						<i class="fa fa-trash" style="font-size:100px;"></i>
					</div>
					<div class="col-xs-12 text-center" *ngIf="searchTerm">
						<span>No Items Found</span>
					</div>
				</div>
			</ng-template>
		</section>
		<section *ngIf="this.showMail">
			<div class="container">
				<div>
					<div class="col-md-11">
						<div class="row">
							<div class="col-md-8">
									<button type="button" class="btn btn-sm btn-color" (click)="this.showAllMessages = true;this.showMail=false;this.sendReply=false;">
										<span class="fa fa-arrow-left" aria-hidden="true"></span>
									</button>
								</div>
							</div>
						<div class="form-group">
							<div class="mt-30">
								<div class="row mb-30">
									<div class=" purchase_container">
										<div class="row purchase_title" style="margin-left: 0px; margin-right: 0px;">
											<div class="col-md-3">
												<p>
													<strong>Ticket Id</strong>
												</p>
												<p>{{selectedInboxMessage.TicketId}}</p>
											</div>
											<div class="col-md-3">
												<p>
													<strong>Ticket Status</strong>
												</p>
												<p>{{selectedInboxMessage.TicketStatus}}</p>
											</div>
											<div class="col-md-3">
												<p>
													<strong>Order #</strong>
												</p>
												<p>{{selectedInboxMessage.OrderId}}</p>
											</div>
											<div class="col-md-3">
												<p>
													<strong>Product Status</strong>
												</p>
												<p *ngIf="selectedInboxMessage.Product.Status != 'Reject Requested'">{{selectedInboxMessage.Product.Status}}</p>
												<p *ngIf="selectedInboxMessage.Product.Status == 'Reject Requested' && selectedInboxMessage.Rejected == 1">{{selectedInboxMessage.Product.Status}}</p>
												<p *ngIf="selectedInboxMessage.Product.Status == 'Reject Requested' && selectedInboxMessage.Rejected == 2">Rejected</p>
											</div>
										</div>
										<div class="col-md-offset-9 col-md-1" style="margin-top:20px" >
											<span *ngIf="selectedInboxMessage.TicketStatus!='Close'" (click)="this.replyMail=true;this.showAllMessages=false;this.showMail=false;">
												<a href="javascript:;">
													<i class="fa fa-reply" style="font-size: 24px; color:black;" aria-hidden="true"></i>
												</a>
											</span>
										</div>
										<!-- <div class="row purchase_body" *ngFor="let shopId of order.Items[0][getShopkey(selectedOrder[i].Items[0])];let i=index;" > -->
										<div class="row purchase_body">
											<span>
												<div class="col-md-2">
													<a routerLink="/user/product/{{selectedInboxMessage.Product.Id._id}}">
														<img [src]="selectedInboxMessage.Product.Image" />
													</a>
												</div>
												<div class="col-md-6">
													<p>
														<a routerLink="/user/product/{{selectedInboxMessage.Product.Id._id}}">
															<strong>{{selectedInboxMessage.Product.Name}}</strong>
														</a>
													</p>
													<!--<p>{{shopId.Product.Variation.Name}}-{{shopId.Product.Variation.Value}}</p>-->
													<p>Sold by : <a routerLink="/shop/{{selectedInboxMessage.Product.ShopId._id}}">{{selectedInboxMessage.Product.ShopId.ShopAccountId.approvedBusinessDetails.Name}}</a></p>
													<p><span>Quantity Bought: {{selectedInboxMessage.Product.Qty}}<span style="margin-left:10px">Return Qty:{{selectedInboxMessage.Product.ReturnQty}}</span></span></p>
													<p><span class="amount"> {{productCurrency.value + selectedInboxMessage.Product.Price}}</span> x {{selectedInboxMessage.Product.Qty}} </p>
												</div>
												<div class="col-lg-4 col-md-4 col-sm-4 col-xs-3">
													<div *ngIf="ShopId?.Product?.Variation">
														<p>
															<b>{{shopId.Product.Variation.Name1}}:{{shopId.Product.Variation.Value1}}</b>
														</p>
														<p *ngIf="shopId.Product.Variation?.Name2">
															<b>{{shopId.Product.Variation.Name2}}:{{shopId.Product.Variation.Value2}}</b>
														</p>
													</div>
													<!-- <button type="button" class="mt-10 btn btn-sm btn-color" (click)="cancel(shopId.Product,order._id)">Cancel Order</button> -->
												</div>
											</span>
										</div>
									</div>
								</div>
							</div>
							<div *ngIf="this.selectedInboxMessage.TicketStatus == 'Open'">
							<div class="col-md-2 new_style">
								<select class="mb-0" id="Response" [(ngModel)]="this.AdminResponse.response" name="Response" #Response="ngModel">
									<option selected="" [ngValue]="default" disabled>Select Response</option>
									<option [value]="1">Reject Accept</option>
									<option *ngIf="!this.selectedInboxMessage.Reconsider" [value]="2">Reconsider</option>
									<option [value]="3">Refund</option>
									<!-- <option *ngFor="let user of ResponseTypes" [value]="user.value">{{user.label}}</option> -->
								</select>
							</div>
							<div class="col-md-2 new_style" style="margin-right: 141px;
							margin-top: -80px;">
							<button type="button" class="btn btn-sm btn-color" (click)="adminResponse()">Done</button>
								</div>
							</div>
						</div>

						<div class="col-md-9">
							<div class="entry-comments mt-20">
								<ul class="comment-list">
									<li *ngFor="let Ticket of selectedInboxMessage.Messages; let i=index">
										<div class="comment-body">
											<div class="comment-header">
												<div class="row">
													<div class="col-md-2">
														<img src={{Ticket.From.Profile.DisplayPicture}} class="img-circle" alt="">
													</div>
													<div class="col-md-9 comment-author">
														<span class="comment-author">From : {{Ticket.From?.Profile?.FirstName ? Ticket.From?.Profile?.FirstName : 'JHeaps Member'}}</span>
														<span>To : <span #p3 [title]="SetUsername(Ticket)">{{Ticket.To?.Profile?.FirstName ? Ticket.To?.Profile?.FirstName : 'JHeaps Member'}}</span></span>
														<p *ngIf="i==0">Reason: {{Ticket.Reason}}</p>
														<p>Description: {{Ticket.Description}}</p>
														<p>Date : {{Ticket.CreatedDate | date:'dd MMM yyyy HH:mm:ss'}}</p>
													</div>

												</div>
											</div>
											<div class="comment-content">
												<div *ngIf="this.Ticket.Attachment.length!=0">
													<div class="row">
														<div class="col-md-3" *ngFor="let Attach of Ticket.Attachment">
															<img src="{{Attach.URL}}" style="height:100px; width:100px"><br>
															<i class="fa fa-paperclip" style="font-size: 14px; color:black;" aria-hidden="true"></i>
															<a target="_blank" href="{{Attach.URL}}" download="{{Attach.Name}}.jpg">{{Attach.Name| shorten : 10:'... '}}</a>
														</div>
													</div>
												</div>
											</div>
										</div>
									</li>

								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<div class="row" *ngIf="this.replyMail">
			<div class="form-group" style="margin-left:45px;">
				<button type="button" class="btn btn-sm btn-color" (click)="this.showAllMessages = true;this.showMail=false;this.replyMail=false;this.sendReply=false;">
					<span class="fa fa-arrow-left" aria-hidden="true"></span>
				</button>
			</div>
			<div class="col-md-8 col-md-offset-2">
				<form name="ComposeForm" id="ComposeForm" #ComposeForm="ngForm" novalidate>
					<!-- <div class="form-group">
						<label for="toSubject">Reason</label>
						<input type="text" class="form-control" id="Reason" placeholder="Reason" name="Reason" [(ngModel)]="this.AdminTickets.Reason"
						 #Reason="ngModel">
					</div> -->
					<div class="form-group">
						<label for="toDescription">Description:</label>
						<input type="text" class="form-control" id="toDescription" placeholder="Description" name="toDescription" [(ngModel)]="this.AdminTickets.Description"
						 #toDescription="ngModel" required>
						<div *ngIf="toDescription.errors && (toDescription.dirty || toDescription.touched)" class="alert alert-danger">
							<div [hidden]="!toDescription.errors.required">
								Description is required
							</div>
						</div>
					</div>
					<div class="row mb:30">
						<div class="col-md-6">
							<input type="file" class="form-control" (change)="ChangeListener($event)" accept="image/*">
						</div>
					</div>

					<div class="form-group" style="margin-top:20px">
						<div class="items-grid">
							<div class="shop-filter row">
								<div class="col-xs-9">
									<div class="tag-group" *ngFor="let attach of attachments;let i=index;">
										<div class="tag-label">
											{{attach.Name | shorten : 10:'... '}}
										</div>
										<div class="tag-close pull-left">
											<a href="javascript:;" (click)="test(attach,i)">
												<i class="fa fa-times"></i>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<input type="submit" class="btn btn-sm btn-color right rounded" *ngIf="sendReply" [disabled]="!ComposeForm.form.valid" value="Reply"
					 (click)="ReplyMessage()">
					<!-- <input type="submit" class="btn btn-sm btn-color right rounded" *ngIf="!sendReply" [disabled]="!ComposeForm.form.valid" value="Send"
					 (click)="mailMessage()"> -->
				</form>
			</div>
		</div>


	</div>
</div>