<div class="pt-20">
<div class="Clsborder">
<div class="Clstitle_cover relative">
	<h2 class="heading relative heading uppercase bottom-line style-2 left-align mb-0">Add new product</h2>
	<div class="Clstitle_back_arrow text-right hidden-xs">
		<button type="button" class="Clsback_btn Clscommon_btn_fill_small" (click)="goBack()">
			<span class="fa fa-arrow-left" aria-hidden="true"></span>
		</button>
	</div>
</div>
<form class="form" id="addProductForm" name="addProductForm" #addProductForm="ngForm" novalidate>
	<div class="well Clswell well-md">
		<div class="Clstitle_cover">
				<h6 class="relative bottom-line uppercase style-2 left-align">Basic Product Info</h6>
		</div>
				<div class="row">
					<div class="col-sm-6 col-xs-12">
						<mat-form-field class="Clsfull-width">
						<input matInput type="text" id="Name" class="mb-0" [(ngModel)]="this.productModel.Name"
							(blur)="this.productModel.Name=this.productModel.Name.trim();" #Name="ngModel" name="Name"
							placeholder="Product Name" required>
						</mat-form-field>
						<div *ngIf="Name.errors && (Name.dirty || Name.touched)" class="text-danger vd-msg">
							<div [hidden]="!Name.errors.required">
								Name is required!
							</div>
						</div>
					</div>
					<!-- <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
						<label for="ProductType">Type <span style="color:red;size:10px"> *</span></label>
						<div id="ProductType">
							<input type="radio" class=" mb-0  " id="yes" [(ngModel)]="this.productModel.IsNew" #IsNew="ngModel" name="IsNew"
							 [value]="true" required>
							<label for="yes">New</label>
							<input type="radio" class=" mb-0  " id="no" [(ngModel)]="this.productModel.IsNew" #IsNew="ngModel" name="IsNew"
							 [value]="false" required>
							<label for="no" style="margin-left: 10px;">Used</label>
						</div>
					</div> -->
					<div class="col-sm-6 col-xs-12">
						<!-- <label for="Division">Product status <span style="color:red;size:10px"> *</span> </label>
						<select id="Division" [(ngModel)]="this.productModel.Show" name="Division" #Division="ngModel" class="mb-0"
							required>
							<option disabled [value]="undefined">Select a product status</option>
							<option value="Active">Active</option>
							<option value="Draft">Draft</option>
							<option value="Inactive">Inactive</option>
						</select> -->

						<mat-form-field class="Clsfull-width">
								<mat-label>Product status</mat-label>
								<mat-select id="Division" [(ngModel)]="this.productModel.Show" name="Division" #Division="ngModel" [(value)]="selected">
										<mat-option>Select a product status</mat-option>
										<mat-option value="Active">Active</mat-option>
										<mat-option value="Draft">Draft</mat-option>
										<mat-option value="Inactive">Inactive</mat-option>
								</mat-select>
						</mat-form-field>

						<div *ngIf="Division.errors && (Division.dirty || Division.touched)" class="text-danger vd-msg">
							<div [hidden]="!Division.errors.required">
								Division is required!
							</div>
						</div>
					</div>
				</div>
				<!-- <div class="row mt-15">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<label for="Description">Product Description <span style="color:red;size:10px"> *</span></label>
						<textarea id="Description"  [(ngModel)]="this.productModel.Description" name="Description" #Description="ngModel"
						 placeholder="Product Description" style="margin-bottom:0px" maxlength="1000" rows="4" required (blur)="this.productModel.Description=this.productModel.Description.trim();"></textarea>
					</div>
				</div> -->
				<div class="row">
					<div class="col-sm-6 col-xs-12">
						<p class="Clslabel">HandCrafted</p>
						<div id="ProductType">
							<div class="Clsradio">
								<input type="radio" class="mb-0" id="yes" [(ngModel)]="this.productModel.handCrafted" #handCrafted="ngModel"
									name="handCrafted" [value]="true" required>
								<label for="yes">Yes</label>
							</div>
							<div class="Clsradio">
								<input type="radio" class="mb-0" id="no" [(ngModel)]="this.productModel.handCrafted" #handCrafted="ngModel"
									name="handCrafted" [value]="false" required>
								<label for="no">No</label>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-xs-12">
						<app-ngx-editor [placeholder]="'Enter text here...'" [spellcheck]="true" [(ngModel)]="this.productModel.Description"
							[ngModelOptions]="{standalone: true}"></app-ngx-editor>
						<!-- <label for="Description">Product Description <span style="color:red;size:10px"> *</span></label>
						<textarea id="Description" [(ngModel)]="this.productModel.Description" name="Description" #Description="ngModel"
							placeholder="Product Description" style="margin-bottom:0px" maxlength="1000" rows="4" required
							(blur)="this.productModel.Description=this.productModel.Description.trim();"></textarea> -->
							<mat-form-field class="Clsfull-width">
									<textarea matInput id="Description" [(ngModel)]="this.productModel.Description" name="Description" #Description="ngModel"
									placeholder="Product Description" style="margin-bottom:0px" maxlength="1000" rows="3" required
									(blur)="this.productModel.Description=this.productModel.Description.trim();"> </textarea>
								</mat-form-field>
					</div>
				</div>
				<!-- <div id="Description" name="Description"
				[froalaEditor]="options"
				[(froalaModel)]="this.productModel.Description"> 
			    </div> -->
				<!-- <div class="sandhya">
					<ckeditor name="Description" id="Description" [editor]="Editor" [config]="{ toolbar: [ 'NumberedList', 'BulletedList' ] }" [stylesSet]="{ name: 'BulletedList', element: 'ul',styles: { 'list-style-type': 'square' } }"  [(ngModel)]="this.productModel.Description"></ckeditor>
				</div> -->
				<!-- <form [formGroup]="form" (ngSubmit)="onSubmit()">
				<textarea [froalaEditor]="options" formControlName="formModel" [(froalaModel)]="form.formModel"></textarea>
				<div [froalaView]="form.formModel"></div>
				<button type="submit">Submit</button>
			  </form> -->
				<!-- <div class="row">
					<div class="col-xs-12">
						<div *ngIf="Description.errors && (Description.dirty || Description.touched)" class="text-danger vd-msg">
							<div [hidden]="!Description.errors.required">
								Description is required!
							</div>
						</div>
					</div>
				</div> -->
	</div>
	<!-- <img id="convertToBase64" crossOrigin="Anonymous" src="{{productModel?.Images[0]?productModel?.Images[0].replace('https://s3.amazonaws.com', '/s3'):productModel?.Images[0]}}"
	 alt="Product Image" hidden> -->
	 <div class="well Clswell well-md">
			<div class="Clstitle_cover">
					<h6 class="relative bottom-line uppercase style-2 left-align">Product Image Uploads  
							<a href="javascript:;" class="Clstooltip"><i
								class="fa fa-info-circle"></i> <span class="Clstooltip_text">Atleast one image is mandatory</span></a>
					</h6>
			</div>
				<div class="row pb-10" *ngIf="this.productModel.Images.length > 0">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<input type="button" class="btn btn-color btn-xs pull-left" style="margin-left:25px"
							(click)="cropImage(this.productModel.Images[0], 0)" value="Edit primary image">
					</div>
				</div>
				<!-- <div class="row pb-10" *ngIf="!(this.productModel.Images.length > 0)">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class=" text-danger vd-msg pull-left" style="margin-left:25px"> *Atleast one image is mandatory</div>
					</div>
				</div> -->
				<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div id="portfolio-container" class=" works-grid small-gutter">
						<div class="col-md-3 col-sm-6 col-xs-12 work-item web-design photography mb-30"
							*ngFor="let preview of this.productModel.Images; let i=index;">
							<div class="work-container">
								<div class="work-img">
									<img class="center-block" src="{{preview}}" alt="Product Image">
									<div class="work-overlay">
										<div class="project-icons">
											<a href="{{preview}}" target="_blank" class="lightbox-gallery" title="View Image">
												<i class="product-upload-image fa fa-search"></i>
											</a>
										</div>
									</div>
									<div class="Clswork-description">
										<div class="row">
											<div class="col-md-12 text-right">
												<span>
													<a href="javascript:;" class="Clsedit_icon" (click)="cropImage(preview, i)" title="Edit image">
														<i class="product-upload-image fa fa-pencil"></i>
													</a>
												</span>
												<span *ngIf="i > 0">
													<a href="javascript:;" class="Clsprimary_icon" (click)="makePrimary(i)" title="Make primary image">
														<i class="product-upload-image fa fa-product-hunt"></i>
													</a>
												</span>
												<span>
													<a href="javascript:;" class="Clsdelete_icon" (click)="removeImage(i,preview)" title="Delete image">
														<i class="product-upload-image fa fa-trash"></i>
													</a>
												</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- end work-item -->
					<div class="col-md-3 col-sm-6 col-xs-12 mb-30" *ngIf="this.productModel.Images.length < 5 && !loader">
						<input style="display:none" type="file" accept="image/*" name="Images" id="productUploadImage"
							(change)="changeListener($event,this)">
						<a href="javascript:;" class="thumbnail text-center" (click)="triggerFileUpload()">
							<i class="fa fa-image"></i>
							<h5>Add Image</h5>
						</a>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12 mb-30" *ngIf="loader">
						<a href="javascript:;" class="thumbnail text-center">
							<i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
							<h5>Uploading</h5>
						</a>
					</div>
				</div>
			</div>
	</div>
	<div class="well Clswell well-md">
			<div class="Clstitle_cover">
					<h6 class="relative bottom-line uppercase style-2 left-align">Product Details</h6>
			</div>
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<!-- <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
							<label for="Section">Select Section <span style="color:red;size:10px"> </span></label>
							<select id="Section" [(ngModel)]="this.productModel.ShopSection" name="Section" #Section="ngModel"
								(change)="addToShopSectionArray()" class="mb-0">
								<option disabled [value]="undefined">Select a Section</option>
								<option *ngFor="let Section of Sections" [ngValue]="Section">
									<a href="javascript:;">{{Section.Name}}</a>
								</option>
							</select>
							<div *ngIf="Section.errors && (Section.dirty || Section.touched)" class="text-danger vd-msg">
								<div [hidden]="!Section.errors.required">
									Section is required!
								</div>
							</div>
						</div> -->
						<div class="col-xs-12 mt-15 ">
							<!-- <label for="CategoriesSection">Select a Category <span style="color:red;size:10px"> *</span></label> -->
							<!-- <a href="javascript:;;" *ngIf="(!addattribute && AttributesList.length == 0)" (click)="addattribute=true"> Select attribute values</a> -->
							<a href="javascript:;;" *ngIf="(addattribute && AttributesList.length == 0)" (click)="addattribute=false">
								Cancel</a>
							<div class="row">
								<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id='CategoriesSection'>
									<div class="row border-box-outer">
										<div class="col-xs-6 col-sm-6">
											<div *ngIf='this.categorySelected; else showPlaceholder'>
												<a href='javascript:;' (click)='showSelectCategoriesSection=true'
													style="margin-right:15px; text-transform: capitalize; color:inherit">{{productModel.Categories[0].Name}}
												</a>
												<span style="margin-right:15px" *ngIf='subCategorySelected'><i class="fa fa-angle-right"
														style="color: grey; font-size: 15px"></i></span>
												<a href='javascript:;' (click)='showSelectCategoriesSection=true'
													style="text-transform: capitalize; color:inherit"
													*ngIf='subCategorySelected'>{{productModel.Categories[0].SubCategories[0].Name}} </a>
											</div>
											<ng-template #showPlaceholder>
												<span class="Clscategory_title">Select a Category</span>
											</ng-template>
										</div>
										<div class="col-xs-6 col-sm-6 text-right">
											<button type="button" class="Clscommon_btn_fill_small" *ngIf='showSelectCategoriesSection'
												(click)='showSelectCategoriesSection=!showSelectCategoriesSection'>close</button>
											<button type="button" class="Clscommon_btn_fill_small" *ngIf='!showSelectCategoriesSection'
												(click)='showSelectCategoriesSection=!showSelectCategoriesSection'>change</button>
										</div>
									</div>
									<div class="row" *ngIf='showSelectCategoriesSection'>
										<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mt-15">
											<!-- <select id="Categories" [(ngModel)]="this.productModel.Categories[0]" name="Category" #Category = 'ngModel' (change)="addToCategoriesArray()" class="mb-0" (blur) = "(this.productModel.Categories[0]._id)?validCategory=true:validCategory=false">
																   <option disabled [value]="{}">Select a Category</option>
																   <option *ngFor="let Category of CategoriesList" [ngValue]="Category.Parent">{{Category.Parent.Name}}</option>
															   </select>
															   <div *ngIf="validCategory==false && !this.productModel.Categories[0]._id" class="text-danger vd-msg">
																	   <div >
																			   Category is required!
																	   </div>
																   </div> -->
											<!-- <p-orderList [value]="CategoriesList" [listStyle]="{'height':'250px'}" [responsive]="true" header="Categories" 
																   filter="filter" filterBy="Parent.Name" filterPlaceholder="Filter by name" [metaKeySelection]='false' (onSelectionChange) = 'categoriesChanged($event)'>
																		   <ng-template let-Category pTemplate="item">
																			   <div class="ui-helper-clearfix">
																				   <div style="display:inline-block;margin:2px 0 2px 2px">{{Category.Parent.Name}}</div>
																				   <div style="font-size:14px;float:right;margin:15px 5px 0 0">></div>
																			   </div>
																		   </ng-template>
																	   </p-orderList> -->
											<p-listbox id='categoryList' [options]="categoriesToSelect" filter='filter'
												(onChange)="categoriesChanged($event)" [(ngModel)]="categorySelected" [style]="{'width':'100%'}"
												[listStyle]="{'max-height':'250px'}" name='category' *ngIf='categoriesToSelect.length > 0'>
												<ng-template let-category pTemplate="item">
													<div class="ui-helper-clearfix">
														<span style="display:inline-block;"> {{category.label}} </span>
														<span style="float:right;" *ngIf='category.value.subCategory.length > 0'><i
																class="fa fa-angle-right" style="font-size: 20px"></i> </span>
													</div>
												</ng-template>
											</p-listbox>
										</div>
										<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mt-15" *ngIf="SubCategoryList.length > 0">
											<!-- <label for="SubCategory">Select Sub-Category </label>
															   <select id="SubCategory" [(ngModel)]="this.productModel.Categories[0].SubCategories[0]" name="SubCategory" (change)="addToSubCategoriesArray()">
																   <option disabled [value]="{}">Select a SubCategory</option>
																   <option *ngFor="let SubCategory of SubCategoryList" [ngValue]="SubCategory">{{SubCategory.Name}}</option>
															   </select> -->
											<p-listbox id='subCategoryList' [options]="subCategoriesToSelect" filter='filter'
												(onChange)="subCategoriesChanged($event)" [ngModel]="subCategorySelected"
												[style]="{'width':'100%'}" [listStyle]="{'max-height':'250px'}" name='subCategory'
												*ngIf='subCategoriesToSelect.length > 0'>
												<ng-template let-subCat pTemplate="item">
													<div class="ui-helper-clearfix">
														<span style="display:inline-block;"> {{subCat.label}} </span>
														<!-- <span style="float:right;" *ngIf = 'category.value.subCategory.length > 0'><i class="fa fa-angle-right" style="font-size: 20px"></i> </span> -->
													</div>
												</ng-template>
											</p-listbox>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xs-12 mt-15" *ngIf="AttributesList.length >0 && showSelectCategoriesSection==false">
							<div class="row">
								<div class="col-xs-6">
							<label class="Clalabel">Select an Attribute</label>
						</div>
						<div class="col-xs-6 text-right">
							<a href="javascript:;;" *ngIf="!addattribute" class="Clslink_btn" (click)="addattribute=true">Add Attribute <span><i class="fa clsbtn_arrow fa-caret-right"></i></span></a>
							<a href="javascript:;;" *ngIf="addattribute" (click)="addattribute=false">Cancel <span><i class="fa clsbtn_arrow fa-caret-right"></i></span></a>
						</div>
						</div>
							<div class="row" *ngIf="!addattribute">
								<div id='Attributes' class="col-xs-12 border-box-outer">
									<div class="row">
									<div class="col-sm-6 col-md-4 col-xs-12 form-inline mb-20"
										*ngFor="let Attribute of AttributesList ;let i=index">																
										<ng-select class="Clsng-select" [items]="Attribute.Values" placeholder="{{Attribute.Name}}" (add)="addAttr(Attribute)" [addTag]="addTag"
											[hideSelected]="true" multiple="true" bindLabel="name" [(ngModel)]="Attribute.selectedAttribute"
											name="selectedCompanyCustom-{{i}}" (change)="addToAttributes(Attribute, $event);">
										</ng-select>
										<div *ngIf="Attribute.Name == 'length' || Attribute.Name == 'Length'">
											<!-- <label for="DefinedAttribute-{{i}}">Value for length</label> -->
											<ng-select [items]="lengthValues" [addTag]="addTag" placeholder="Value for length" [hideSelected]="true" multiple="true"
												bindLabel="name" [(ngModel)]="Attribute.selectedLengthValue" name="selectedCompanyCustom"
												(change)="addToAttributes1(Attribute, $event);">
											</ng-select>
										</div>
										<div class="Clscheckbox">
												<input style="display:block" type="checkbox" [ngModel]="Attribute.ShowAttribute" name="showAttribute-{{i}}"
													(click)="clickEvt(Attribute,$event)" />
												<label> Show in item overview</label>
											</div>				
										<!-- <select2 id="Attributes" [data]="Attribute.Values" [options]="{'multiple' : true}" [value]="Attribute.selectedAttribute"
										 (valueChanged)="addToAttributes(Attribute, $event);"></select2> -->
									</div>
								</div>
								</div>
							</div>
							<div class="row" *ngIf="addattribute">
								<div id='Attributes' class="col-xs-12 border-box-outer">
									<form #addAttribute="ngForm" id="addAttribute">
										<div class="row">
										<div class="col-xs-12 col-sm-6">
											<!-- <label class="" for="Name">Attribute Name<span style="color:red;size:10px"> *</span> <span
													*ngIf="disableName">(Name cannot be edited since it is linked with Products or Categories
													)</span></label> -->
											<mat-form-field class="Clsfull-width">
											<input matInput type="text" placeholder="Attribute Name" class="form-control mb-0" id="Name" [(ngModel)]="attributeModel.Name"
												name="Name" #Name="ngModel" maxlength="50" required
												(blur)="this.attributeModel.Name=this.attributeModel.Name.trim(); this.checkAttributeName()"
												[readOnly]="disableName" placeholder="name">
											</mat-form-field>		
											<div *ngIf="Name.errors && (Name.dirty || Name.touched)" class="text-danger vd-msg">
												<div [hidden]="!Name.errors.required">
													Attribute Name is required!
												</div>
												<div [hidden]="!Name.errors.incorrect">
													Attribute Name is already used!
												</div>
											</div>
										</div>
										<div class="col-xs-12 col-sm-6">
											<!-- <label for="Values">Value (Comma Separated Eg: apple, orange)</label> -->
												<ng-select class="Clsfull-width" [items]="companies" [addTag]="addTag" placeholder="Value (Comma Separated Eg: apple, orange)"
													[hideSelected]="true" multiple="true" bindLabel="name" [(ngModel)]="attributeModel.Values"
													name="selectedCompanyCustom">
												</ng-select>
											<!-- <div *ngIf="Values1.errors && (Values1.dirty || Values1.touched)" class="text-danger vd-msg">
														<div [hidden]="!Values1.errors.required">
															Attribute Name is required!
														</div>														
													</div> -->
										</div>
									</div>
										<!-- <div class="form-group">
											<input type="button" class="btn btn-sm btn-color right rounded" *ngIf="editbutton" (click)="editAttribute()" value="Update" [disabled]="!addAttribute.form.valid">
										</div> -->
									</form>
								</div>
							</div>
						</div>
						<div style="margin-left: -5px" *ngIf="addattribute && AttributesList.length == 0 ">
							<div id='Attributes' class="col-xs-12 border-box-outer">
								<form #addAttribute="ngForm" id="addAttribute">
									<div class="form-group">
										<label for="Name">Attribute Name<span style="color:red;size:10px"> *</span> <span
												*ngIf="disableName"> (Name cannot be edited since it is linked with Products or Categories
												)</span> </label>
										<input type="text" class="form-control mb-0" id="Name" [(ngModel)]="attributeModel.Name" name="Name"
											#Name="ngModel" maxlength="50" required
											(blur)="this.attributeModel.Name=this.attributeModel.Name.trim(); this.checkAttributeName()"
											[readOnly]="disableName" placeholder="name">
										<div *ngIf="Name.errors && (Name.dirty || Name.touched)" class="text-danger vd-msg">
											<div [hidden]="!Name.errors.required">
												Attribute Name is required!
											</div>
											<div [hidden]="!Name.errors.incorrect">
												Attribute Name is already used!
											</div>
										</div>
									</div>
									<div>
										<label for="Values">Value (Comma Separated Eg: apple, orange)<span style="color:red;size:10px">
												*</span></label>
										<ng-select [items]="companies" [addTag]="addTag" [hideSelected]="true" multiple="true"
											bindLabel="name" [(ngModel)]="attributeModel.Values" name="selectedCompanyCustom">
										</ng-select>
										<!-- <div *ngIf="Values1.errors && (Values1.dirty || Values1.touched)" class="text-danger vd-msg">
													<div [hidden]="!Values1.errors.required">
														Attribute Name is required!
													</div>													
												</div> -->
									</div>
									<div class="form-group">
										<input type="button" class="btn btn-sm btn-color right rounded" *ngIf="newbutton || editbutton"
											(click)="newAttribute()" value="add" [disabled]="!addAttribute.form.valid">
									</div>
									<!-- <div class="form-group">
										<input type="button" class="btn btn-sm btn-color right rounded" *ngIf="editbutton" (click)="editAttribute()" value="Update" [disabled]="!addAttribute.form.valid">
									</div> -->
								</form>
							</div>
						</div>
					</div>
				</div>
	</div>
	<!-- <div class="row">
				<h3 class="uppercase text-center" style="margin-top: -14px;"
					*ngIf="this.productModel.useDefaultQuantity || this.productModel.useDefaultPrice || this.productModel.useDefaultSKU">
					Pricing Details</h3> -->

<div class="well Clswell well-md">
					<div class="Clstitle_cover">
							<h6 class="relative bottom-line uppercase style-2 left-align">Pricing Details</h6>
					</div>
				<div class="row">
					<!-- <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mt-15" *ngIf='this.productAttributesList.length>0'>						
						<div class="col-xs-12 text-danger vd-msg" *ngIf = "productAttributesList.length >0">
								<div>
									 Note: Atleast one attribute is required!
								</div>
							 </div>
						<div *ngFor="let Attribute of productAttributesList">
							<form style="display:inline-block; margin-left:10px">
								<input type="checkbox" [name]="Attribute.Name" [id]="Attribute.Name" (change)="ValidateVariations(Attribute,$event)" [(ngModel)]="Attribute.IsVariation">
								<label [for]="Attribute.Name"> {{Attribute.Name}} </label>
							</form>
						</div>
					</div> -->
					<div class="col-sm-4 col-xs-12 mt-15" *ngIf="this.productModel.useDefaultPrice">
							<!-- <p class="Clslabel">Price</p> -->
							<!-- <input type="number" id="price" [(ngModel)]="this.productModel.Price" name="Price" placeholder="0"
							 #Price="ngModel" required class="mb-0" min="1" onkeypress="return event.charCode >= 48 && event.charCode <= 57">
							 <div *ngIf="Price.errors && (Price.dirty || Price.touched)" class="text-danger vd-msg">
								<div [hidden]="!Price.errors.required">
									*Price is required!
								</div>
							</div> -->
								<mat-form-field class="Clsfull-width">
								<!-- <div class="input-group-addon">
									<span class="input-group-text">INR &#x20B9;</span>
								</div> -->
								<input matInput type="number" id="price" [(ngModel)]="this.productModel.Price" name="Price" placeholder="Price (INR &#x20B9;)"
									class="form-control mb-0" #Price="ngModel" min="1"
									onkeypress="return event.charCode >= 48 && event.charCode <= 57"
									[disabled]="!(this.productModel.useDefaultPrice) && this.productModel.useVariation "
									[required]="this.productModel.useDefaultPrice">
								</mat-form-field>
								<!-- <div class="input-group-append">
									  <span class="input-group-text">.00</span>
									</div> -->
							<div *ngIf="Price.errors && (Price.dirty || Price.touched)" class="text-danger vd-msg">
								<div [hidden]="!Price.errors.required">
									*Price is required!
								</div>
							</div>
						<div class="col-sm-3 col-xs-12 text-danger vd-msg"
							*ngIf="!this.productModel.useDefaultPrice && this.productModel.useVariation">
							Please enter the Price under Variations
						</div>
					</div>
					<div class="col-sm-4 col-xs-12 mt-15" *ngIf="this.productModel.useDefaultQuantity && !this.productModel.useVariatio">
						<!-- <p class="Clslabel">Quantity Available</p> -->
						<mat-form-field class="Clsfull-width">
							<input matInput type="number" id="QuantityAvailable" [(ngModel)]="this.productModel.QuantityAvailable"
								name="QuantityAvailable" placeholder="Quantity Available" #QuantityAvailable="ngModel" required class="mb-0" min="1"
								onkeypress="return event.charCode >= 48 && event.charCode <= 57"
								[disabled]="!(this.productModel.useDefaultQuantity) && this.productModel.useVariation "
								[required]="this.productModel.useDefaultQuantity">
							</mat-form-field>
							<div *ngIf="QuantityAvailable.errors && (QuantityAvailable.dirty || QuantityAvailable.touched)"
								class="text-danger vd-msg">
								<div [hidden]="!QuantityAvailable.errors.required">
									*Quantity is required!
								</div>
							</div>
						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 text-danger vd-msg"
							*ngIf="!this.productModel.useDefaultQuantity && this.productModel.useVariatio">
							Please enter the Quantity under Variations
						</div>
					</div>
					<div class="col-sm-4 col-xs-12 mt-15" *ngIf="this.productModel.useDefaultSKU">
							<mat-form-field class="Clsfull-width">						
								<!-- <p class="Clslabel">Product SKU<p> -->
							<input matInput type="text" id="prodSKU" [(ngModel)]="this.productModel.productSKU" name="prodSKU"
								placeholder="Product SKU" (blur)="this.productModel.productSKU=this.productModel.productSKU;" #prodSKU="ngModel"
								class="mb-0" [disabled]="!(this.productModel.useDefaultSKU) && this.productModel.useVariation ">
								</mat-form-field>
							<!-- <div *ngIf="prodSKU.errors && (prodSKU.dirty || prodSKU.touched)" class="text-danger vd-msg">
								<div [hidden]="!prodSKU.errors.required">
									*Product SKU is required!
								</div>
							</div> -->
						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 text-danger vd-msg"
							*ngIf="!this.productModel.useDefaultSKU && this.productModel.useVariation ">
							Please enter the SKU under Variations
						</div>
					</div>
					<!-- <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
						<label for="QuantityAvailable">Total Quantity</label>
						<input type="number" id="QuantityAvailable" [(ngModel)]="this.productModel.QuantityAvailable" name="QuantityAvailable" placeholder="0"
						 #QuantityAvailable="ngModel" readonly>
					</div> -->
					<!-- <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
						<label for="prodSKU">Product SKU<span style="color:red;size:10px"> *</span></label>
						<input type="text" id="prodSKU" [(ngModel)]="this.ProductSKU" (blur)="this.ProductSKU=this.ProductSKU.trim();" name="prodSKU" placeholder="Enter the Product SKU"
						 #prodSKU="ngModel" required class="mb-0">
						 <div *ngIf="prodSKU.errors && (prodSKU.dirty || prodSKU.touched)" class="text-danger vd-msg">
							<div [hidden]="!prodSKU.errors.required">
								*Product SKU is required!
							</div>
						</div>
					</div> -->
				</div>
					<div class="Clstitle_cover">
							<h6 class="relative bottom-line uppercase style-2 left-align">Variations</h6>
					</div>
					<div class="row mt-15">
						<div class="col-xs-12">
							<div class="row">
								<div class="col-xs-12 col-sm-6">
							<form style="display:inline-block; margin-left:10px">
								<div class="Clscheckbox">
								<input type="checkbox" name='priceVariation' id='priceVariation'
									[(ngModel)]="this.productModel.useVariation" (change)="UseVariationChanged()">
								<label for='priceVariation'> Add item variation </label>
							</div>
							</form>
						</div>
						<div class="col-xs-12 col-sm-6 text-right">
							<button *ngIf='this.productModel.useVariation' class="Clscommon_btn_fill_small"
								(click)="UseVariationChanged()">
								<i class="fa fa-cog" style="font-size:15px;color:#fff"></i>
								<span> Edit Variation</span>
							</button>
						</div>
						</div>
						</div>
						<div class="col-xs-12" style="margin-top: 20px"
							*ngIf="!(this.productModel.useDefaultQuantity) && this.productModel.useVariation ">
							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
								<label class="Clslabel">Variation Quantity Available</label>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
								<mat-form-field class="Clsfull-width">
								<input matInput type="number" name='variationQuantity' id='variationQuantity'
									[(ngModel)]="this.productModel.VariationQuantityAvailable" readonly>
								</mat-form-field>
							</div>
						</div>
					</div>
					<div class="row mt-15" *ngIf="this.productModel.useVariation">
						<div *ngIf="!this.productModel.seperateVariation.status">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
								*ngIf="variationPriceArray.length > 0 ; else noVariationSelected">
								<!-- <div class="btn-group" role="group" aria-label="...">
									<button type="button" class="btn btn-color">
										<form style="display:inline-block; margin-left:10px">
											<input type="checkbox" [(ngModel)]="fillAllVariations" id='fillAllVariations' name="fillAllVariations"
											 (change)="AutoFillVariations(variationPriceArray,fillAllVariations)">
											<label for='fillAllVariations'></label>
										</form>
									</button>
									<button *ngIf="(variationPriceArray[0].Price || variationPriceArray[0].Price >= 0) && !this.productModel.useDefaultPrice"
									 (click)="AutoFill('variation','Price')" type="button" class="btn btn-color" [disabled]='fillAllVariations?false:true'>Price</button>
									<button *ngIf="(variationPriceArray[0].SKU || variationPriceArray[0].SKU == '') && !this.productModel.useDefaultSKU"
									 (click)="AutoFill('variation','SKU')" type="button" class="btn btn-color" [disabled]='fillAllVariations?false:true'>SKU</button>
									<button *ngIf="(variationPriceArray[0].Qty || variationPriceArray[0].Qty >= 0) && !this.productModel.useDefaultQuantity"
									 (click)="AutoFill('variation','Qty')" type="button" class="btn btn-color" [disabled]='fillAllVariations?false:true'>Quantity</button>
								</div> -->
								<table class="table table-bordered table-responsive">
									<thead>
										<tr>
											<!-- <th>Select</th> -->
											<th>{{variationPriceArray[0].Name1}}</th>
											<th *ngIf="variationPriceArray[0].Name2">{{variationPriceArray[0].Name2}}</th>
											<th
												*ngIf="(variationPriceArray[0].Price || variationPriceArray[0].Price >= 0) && !this.productModel.useDefaultPrice">
												Price
												<span style="color:red;size:10px"> *</span></th>
											<th
												*ngIf="(variationPriceArray[0].SKU || variationPriceArray[0].SKU == '') && !this.productModel.useDefaultSKU">
												SKU
												<span style="color:red;size:10px"> *</span> </th>
											<th
												*ngIf="(variationPriceArray[0].Qty || variationPriceArray[0].Qty >= 0) && !this.productModel.useDefaultQuantity">
												Quantity Available
												<span style="color:red;size:10px"> *</span></th>
											<th *ngIf="variationPriceArray[0].Image || variationPriceArray[0].Image == '' ">Image </th>
											<th>Active</th>
										</tr>
									</thead>
									<tbody>
										<tr *ngFor="let obj of variationPriceArray ;let i=index">
											<!-- <td>
												<form style="display:inline-block; margin-left:10px">
													<input type="checkbox" [name]='"select"+i' [id]='"select"+i' [(ngModel)]="obj.Select" (change)="CheckVariationSelected(variationPriceArray,'variation')"
													 [disabled]="obj.Active ? false : true">
													<label [for]='"select"+i'> </label>
												</form>
											</td> -->
											<td>
												{{obj.Value1}}
											</td>
											<td *ngIf="variationPriceArray[0].Name2">
												{{obj.Value2}}
											</td>
											<td
												*ngIf="(variationPriceArray[0].Price || variationPriceArray[0].Price >= 0) && !this.productModel.useDefaultPrice">
												<mat-form-field class="Clsfull-width">
												<input matInput type="number" style="height:30px; margin-bottom:0px" min="1"
													onkeypress="return event.charCode >= 48 && event.charCode <= 57" [id]='"obj.Name1"+i'
													name='price{{i}}' #price{{i}}='ngModel' placeholder="Enter the Price" [(ngModel)]="obj.Price"
													[readonly]="obj.Active ? false : true" [required]="obj.Active ? true : false"
													(blur)=" obj.Active ? (obj.PriceInvalid = (obj.Price == null)) : obj.PriceInvalid = false" />
												</mat-form-field>
												<div *ngIf="(obj.Price == null) && obj.PriceInvalid" class="text-danger vd-msg">
													Price is required!
												</div>
											</td>
											<td
												*ngIf="(variationPriceArray[0].SKU || variationPriceArray[0].SKU == '') && !this.productModel.useDefaultSKU">
												<mat-form-field class="Clsfull-width">
												<input matInput type="text" style="height:30px; margin-bottom:0px" [id]='"SKU"+i' name='#SKU{{i}}'
													#SKU{{i}}='ngModel' [(ngModel)]="obj.SKU" [readonly]="obj.Active ? false : true"
													placeholder="Enter the SKU" [required]="obj.Active ? true : false"
													(blur)=" obj.Active ? (obj.SKUInvalid = (obj.SKU == null)? true: (obj.SKU.toString().trim().length == 0)) : obj.SKUInvalid = false" />
												</mat-form-field>
												<!-- <div *ngIf="SKU{{i}}.errors && (SKU{{i}}.dirty || SKU{{i}}.touched)" class="text-danger vd-msg">
													<div [hidden]="!SKU{{i}}.errors.required">
														Quantity is required!
													</div>
												</div> -->
												<div *ngIf="(obj.SKU == null)? true: (obj.SKU.toString().trim().length == 0) &&  obj.SKUInvalid"
													class="text-danger vd-msg">
													SKU is required!
												</div>
											</td>
											<td
												*ngIf="(variationPriceArray[0].Qty || variationPriceArray[0].Qty >= 0) && !this.productModel.useDefaultQuantity">
												<mat-form-field class="Clsfull-width">
												<input matInput type="number" style="height:30px; margin-bottom:0px" min="0" [id]='"obj.Name2"+i'
													onkeypress="return event.charCode >= 48 && event.charCode <= 57" name='qty{{i}}'
													#qty{{i}}='ngModel' placeholder="Enter the Quantity" [ngModel]="obj.Qty"
													[readonly]="obj.Active ? false : true" (ngModelChange)="VariationQuantityChange($event,obj)"
													[required]="obj.Active ? false : true"
													(blur)=" obj.Active ? (obj.QtyInvalid = (obj.Qty == null)) : obj.QtyInvalid = false" />
													</mat-form-field>
												<!-- <div *ngIf="qty{{i}}.errors && (qty{{i}}.dirty || qty{{i}}.touched)" class="text-danger vd-msg">
													<div [hidden]="!qty{{i}}.errors.required">
														SKU is required!
													</div>
												</div> -->
												<div *ngIf="(obj.Qty == null) && obj.QtyInvalid" class="text-danger vd-msg">
													Quantity is required!
												</div>
											</td>
											<td *ngIf="variationPriceArray[0].Image || variationPriceArray[0].Image == '' ">
												<div>
													<div id="portfolio-container" class=" works-grid small-gutter"
														*ngIf='obj.Image != "" && !obj.loader' style="width:120px; height: 120px">
														<div class="work-item web-design photography mb-30">
															<div class="work-container">
																<div class="work-img">
																	<img class="center-block" [src]="obj.Image" alt="Product Image"
																		style="width:100px; height: 100px">
																	<div class="work-overlay" *ngIf='obj.Active'>
																		<div class="project-icons">
																			<a [href]="obj.Image" target="_blank" class="lightbox-gallery" title="View Image">
																				<i class="product-upload-image fa fa-search"></i>
																			</a>
																		</div>
																	</div>
																	<div class="work-description" *ngIf='obj.Active'>
																		<div class="row">
																			<div class="col-md-6 text-center">
																				<span>
																					<a href="javascript:;" (click)="cropImageVariation(obj,i)" title="Edit image">
																						<i class="product-upload-image fa fa-pencil"></i>
																					</a>
																				</span>
																				<!-- <span>
																							<a href="javascript:;" (click)="makePrimary(i)" title="Make primary image">
																								<i class="product-upload-image fa fa-product-hunt"></i>
																							</a>
																						</span> -->
																			</div>
																			<div class="col-md-6 text-center">
																				<span>
																					<a href="javascript:;" (click)="removeImageVariation(obj)"
																						title="Delete image">
																						<i class="product-upload-image fa fa-trash"></i>
																					</a>
																				</span>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
													<div *ngIf="obj.Image == '' && !obj.loader ">
														<input style="display:none" type="file" accept="image/*" name="Images" [id]='"objImage"+i'
															(change)="changeListenerVariation($event, obj,this)">
														<a href="javascript:;" class="thumbnail text-center"
															(click)="triggerFileUploadVariation('#objImage'+i)" *ngIf='obj.Active'>
															<i class="fa fa-plus"></i>
															<!-- <span>Add Image</h5> -->
														</a>
														<a href="javascript:;" class="thumbnail text-center" *ngIf='!obj.Active'>
															<i class="fa fa-plus"></i>
															<!-- <span>Add Image</h5> -->
														</a>
													</div>
													<div *ngIf="obj.loader">
														<a href="javascript:;" class="text-center">
															<i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
															<!-- <h5>Uploading</h5> -->
														</a>
													</div>
												</div>
											</td>
											<td>
												<div style=" margin-left:10px">
													<mat-slide-toggle color='#2cb8a5' [name]='"obj.Value1"+i' [id]='"obj.Value1"+i'
														[(ngModel)]="obj.Active" (change)="variationClicked(obj, '#select'+i)"></mat-slide-toggle>
													<!-- <ui-switch color='#2cb8a5' [name]='"obj.Value1"+i' [id]='"obj.Value1"+i' [(ngModel)]="obj.Active" (change)="variationClicked(obj, '#select'+i)"></ui-switch> -->
												</div>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div *ngIf="this.productModel.seperateVariation.status">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
								*ngIf="this.productModel.seperateVariation.VariationArray.length > 0 ; else noVariationSelected">
								<div *ngFor="let variation of this.productModel.seperateVariation.VariationArray;let j=index">
									<h3 class="uppercase">{{variation[0].Name1}}</h3>
									<div class="btn-group" role="group" aria-label="...">
										<!-- <button type="button" class="btn btn-primary">
									</button> -->
										<button type="button" class="btn btn-color">
											<form style="display:inline-block; margin-left:10px">
												<input type="checkbox" [(ngModel)]="fillAllSepVariations[j]" id='fillAllSepVariations{{j}}'
													name="fillAllSepVariations{{j}}"
													(change)="AutoFillVariations(variation,fillAllSepVariations[j])">
												<label for='fillAllSepVariations{{j}}'></label>
											</form>
										</button>
										<button
											*ngIf="(variation[0].Price || variation[0].Price >= 0) && !this.productModel.useDefaultPrice"
											(click)="AutoFill('seperateVariation','Price',j)" type="button" class="btn btn-color"
											[disabled]='fillAllSepVariations[j]?false:true'>Price</button>
										<button *ngIf="(variation[0].SKU || variation[0].SKU == '')&& !this.productModel.useDefaultSKU "
											(click)="AutoFill('seperateVariation','SKU',j)" type="button" class="btn btn-color"
											[disabled]='fillAllSepVariations[j]?false:true'>SKU</button>
										<button *ngIf="(variation[0].Qty || variation[0].Qty >= 0)&& !this.productModel.useDefaultQuantity"
											(click)="AutoFill('seperateVariation','Qty',j)" type="button" class="btn btn-color"
											[disabled]='fillAllSepVariations[j]?false:true'>Quantity</button>
									</div>
									<table class="table" style="margin-bottom: 30px">
										<thead>
											<tr>
												<th>Select</th>
												<th>{{variation[0].Name1}}</th>
												<th
													*ngIf="(variation[0].Price || variation[0].Price >= 0) && !this.productModel.useDefaultPrice">
													Price
													<span style="color:red;size:10px"> *</span></th>
												<th *ngIf="(variation[0].SKU || variation[0].SKU == '')&& !this.productModel.useDefaultSKU ">SKU
													<span style="color:red;size:10px"> *</span> </th>
												<th *ngIf="(variation[0].Qty || variation[0].Qty >= 0)&& !this.productModel.useDefaultQuantity">
													Quantity Available
													<span style="color:red;size:10px"> *</span></th>
												<th *ngIf="variation[0].Image || variation[0].Image == '' ">Image </th>
												<th>Active</th>
											</tr>
										</thead>
										<tbody>
											<tr *ngFor="let obj of variation ;let i=index">
												<td>
													<form style="display:inline-block; margin-left:10px">
														<input type="checkbox" [name]='"select"+i+j' [id]='"select"+i+j' [(ngModel)]="obj.Select"
															(change)="CheckVariationSelected(variation,'seperateVariation', j)"
															[disabled]="obj.Active ? false : true">
														<label [for]='"select"+i+j'> </label>
													</form>
												</td>
												<!-- <td style="text-transform: capitalize;">
												<form style="display:inline-block; margin-left:10px">
														<input type="checkbox" [name]='"obj.Value1"+i+j' [id]='"obj.Value1"+i+j'  [(ngModel)]="obj.Active" (change)="variationClicked(obj)">
														<label [for]='"obj.Value1"+i+j'> </label>
													</form>
										</td> -->
												<td>
													{{obj.Value1}}
												</td>
												<td
													*ngIf="(variation[0].Price || variation[0].Price >= 0) && !this.productModel.useDefaultPrice">
													<input type="number" style="height:30px; margin-bottom:0px" min="1"
														onkeypress="return event.charCode >= 48 && event.charCode <= 57" [id]='"obj.Name1"+i+j'
														name='price{{i}}{{j}}' #price{{i}}{{j}}='ngModel' placeholder="Enter the Price"
														[(ngModel)]="obj.Price" [readonly]="obj.Active ? false : true"
														[required]="obj.Active ? true : false"
														(blur)=" obj.Active ? (obj.PriceInvalid = (obj.Price == null)) : obj.PriceInvalid = false" />
													<div *ngIf="(obj.Price == null) && obj.PriceInvalid" class="text-danger vd-msg">
														Price is required!
													</div>
												</td>
												<td *ngIf="(variation[0].SKU || variation[0].SKU == '')&& !this.productModel.useDefaultSKU ">
													<input type="text" style="height:30px; margin-bottom:0px" [id]='"SKU"+i+j'
														name='#SKU{{i}}{{j}}' #SKU{{i}}{{j}}='ngModel' [(ngModel)]="obj.SKU"
														[readonly]="obj.Active ? false : true" placeholder="Enter the SKU"
														[required]="obj.Active ? true : false"
														(blur)=" obj.Active ? (obj.SKUInvalid = (obj.SKU == null)? true: (obj.SKU.toString().trim().length == 0)) : obj.SKUInvalid = false" />
													<!-- <div *ngIf="SKU{{i}}.errors && (SKU{{i}}.dirty || SKU{{i}}.touched)" class="text-danger vd-msg">
													<div [hidden]="!SKU{{i}}.errors.required">
														Quantity is required!
													</div>
												</div> -->
													<div
														*ngIf="(obj.SKU == null)? true: (obj.SKU.toString().trim().length == 0) &&  obj.SKUInvalid"
														class="text-danger vd-msg">
														SKU is required!
													</div>
												</td>
												<td *ngIf="(variation[0].Qty || variation[0].Qty >= 0)&& !this.productModel.useDefaultQuantity">
													<input type="number" style="height:30px; margin-bottom:0px" min="0" [id]='"obj.Name2"+i+j'
														onkeypress="return event.charCode >= 48 && event.charCode <= 57" name='qty{{i}}{{j}}'
														#qty{{i}}{{j}}='ngModel' placeholder="Enter the Quantity" [ngModel]="obj.Qty"
														[readonly]="obj.Active ? false : true" (ngModelChange)="VariationQuantityChange($event,obj)"
														[required]="obj.Active ? false : true"
														(blur)=" obj.Active ? (obj.QtyInvalid = (obj.Qty == null)) : obj.QtyInvalid = false" />
													<!-- <div *ngIf="qty{{i}}.errors && (qty{{i}}.dirty || qty{{i}}.touched)" class="text-danger vd-msg">
													<div [hidden]="!qty{{i}}.errors.required">
														SKU is required!
													</div>
												</div> -->
													<div *ngIf="(obj.Qty == null) && obj.QtyInvalid" class="text-danger vd-msg">
														Quantity is required!
													</div>
												</td>
												<td *ngIf="variation[0].Image || variation[0].Image == '' ">
													<div style="width: 120px">
														<div id="portfolio-container" class=" works-grid small-gutter"
															*ngIf='obj.Image != "" && !obj.loader' style="height: 120px">
															<div class="work-item web-design photography mb-30">
																<div class="work-container">
																	<div class="work-img">
																		<img class="center-block" [src]="obj.Image" alt="Product Image"
																			style="width:100px; height: 100px">
																		<div class="work-overlay" *ngIf='obj.Active'>
																			<div class="project-icons">
																				<a [href]="obj.Image" target="_blank" class="lightbox-gallery"
																					title="View Image">
																					<i class="product-upload-image fa fa-search"></i>
																				</a>
																			</div>
																		</div>
																		<div class="work-description" *ngIf='obj.Active'>
																			<div class="row">
																				<div class="col-md-6 text-center">
																					<span>
																						<a href="javascript:;" (click)="cropImageVariation(obj,i)"
																							title="Edit image">
																							<i class="product-upload-image fa fa-pencil"></i>
																						</a>
																					</span>
																					<!-- <span>
																							<a href="javascript:;" (click)="makePrimary(i)" title="Make primary image">
																								<i class="product-upload-image fa fa-product-hunt"></i>
																							</a>
																						</span> -->
																				</div>
																				<div class="col-md-6 text-center">
																					<span>
																						<a href="javascript:;" (click)="removeImageVariation(obj)"
																							title="Delete image">
																							<i class="product-upload-image fa fa-trash"></i>
																						</a>
																					</span>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
														<div *ngIf="obj.Image == '' && !obj.loader ">
															<input style="display:none" type="file" accept="image/*" name="Images"
																[id]='"objImage"+i+j' (change)="changeListenerVariation($event, obj,this)">
															<a href="javascript:;" class="thumbnail text-center"
																(click)="triggerFileUploadVariation('#objImage'+i+j)" *ngIf='obj.Active'>
																<i class="fa fa-plus"></i>
																<!-- <span>Add Image</h5> -->
															</a>
															<a href="javascript:;" class="thumbnail text-center" *ngIf='!obj.Active'>
																<i class="fa fa-plus"></i>
																<!-- <span>Add Image</h5> -->
															</a>
														</div>
														<div *ngIf="obj.loader">
															<a href="javascript:;" class="text-center">
																<i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
																<!-- <h5>Uploading</h5> -->
															</a>
														</div>
													</div>
												</td>
												<td>
													<div style=" margin-left:10px">
														<ui-switch color='#2cb8a5' [name]='"obj.Value1"+i+j' [id]='"obj.Value1"+i+j'
															[(ngModel)]="obj.Active" (change)="variationClicked(obj,'#select'+i+j)"></ui-switch>
													</div>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
						<ng-template #noVariationSelected>
							<div class="text-center">
								No variation selected, Please select atleast one variation.
							</div>
						</ng-template>
					</div>
	</div>
	<div class="row icon-boxes style-3 pb-20">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="service-item-box">
				<h3 class="uppercase text-center" style="margin-top: -10px;">Shipping Cost Details </h3>
				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mb-30 ">
						<label for="ShippingProfileType">Select shipping profile <span style="color:red;size:10px"> *</span></label>
						<div id="ShippingProfileType">
							<input type="radio" class="mb-0 " id="IsCustomNo" [(ngModel)]="shippingprofileModel.IsCustom"
								name="IsCustom" [value]=false required
								(click)="(this.productModel.ShippingProfile == null)? this.productModel.ShippingProfile = '' : this.productModel.ShippingProfile = this.productModel.ShippingProfile ">
							<label for="IsCustomNo">Existing </label>
							<input type="radio" class="mb-0" id="IsCustomYes" [(ngModel)]="shippingprofileModel.IsCustom"
								name="IsCustom" [value]=true required (click)="RefreshShippingEditModel()">
							<label for="IsCustomYes" style="margin-left: 10px;">Custom</label>
						</div>
						<!-- <div class="text-danger vd-msg" *ngIf="shippingprofileModel.IsCustom=='undefined'">
						    Shipping profile type is required!
						</div> -->
					</div>
					<div *ngIf="!shippingprofileModel.IsCustom" class="col-xs-12">
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mt-15">
							<label for="ShippingProfile">Select Shipping Profile</label>
							<select id="ShippingProfile" (change)="onProfileSelected(this.productModel.ShippingProfile)"
								[(ngModel)]="this.productModel.ShippingProfile" name="ShippingProfile" class="mb-0"
								#ShippingProfile="ngModel" required>
								<option selected disabled value="">Select a Shipping Profile</option>
								<option [ngValue]="ShippingProfile._id" *ngFor="let ShippingProfile of ShippingProfiles"
									[selected]="ShippingProfile._id == this.productModel.ShippingProfile">
									{{ShippingProfile.Name}}
								</option>
							</select>
							<div *ngIf="ShippingProfile.errors && (ShippingProfile.dirty || ShippingProfile.touched)"
								class="text-danger vd-msg">
								<div [hidden]="!ShippingProfile.errors.required">
									Shipping Profile is required!
								</div>
							</div>
						</div>
						<!-- <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mt-15" *ngIf='this.shippingprofileModel.Detail.length > 0'>
							<label for="cod">Cash on delivery price</label>
							<input type="number" readonly [ngModel]='this.shippingprofileModel.CODPrice' placeholder="0" name='cod'>
						</div> -->
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<div *ngFor="let detail of this.shippingprofileModel.Detail; let j=index">
								<h2 class="heading relative heading-small uppercase bottom-line style-2 left-align mb-0 pt-20">
									{{detail.Country}}</h2>
								<div class="panel panel-default" *ngFor="let shippingMethod of detail.ShippingMethod">
									<!-- <div class="panel-heading">
										{{shippingMethod.Name}} - {{shippingMethod.ProcessingTime}}
									</div> -->
									<div class="panel-body">
										<table class="table">
											<thead>
												<tr>
													<!-- <th>ZONE</th> -->
													<th></th>
													<th>Cost</th>
													<th>COST WITH ANOTHER ITEM</th>
													<th>FREE SHIPPING OVER RUPEES PURCHASE</th>
												</tr>
											</thead>
											<tbody>
												<tr *ngFor="let ShipsTo of shippingMethod.ShipsTo">
													<!-- <td>{{ShipsTo.Zone}}</td> -->
													<td></td>
													<td> &#x20B9; {{ShipsTo.Cost}}</td>
													<td> &#x20B9; {{ShipsTo.CostWithAnotherItem}}</td>
													<td> &#x20B9; {{ShipsTo.FreeShippingTotalValue}}</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div *ngIf="shippingprofileModel.IsCustom">
						<form id="customShippingForm" #customShippingForm="ngForm">
							<div class="row">
								<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
										<label for="Shippingname">Add shipping profile name <span style="color:red;size:10px">
												*</span></label>
										<input type="text" id="Shippingname" [(ngModel)]="shippingprofileModelCustom.Name"
											name="Shippingname" #Name="ngModel" placeholder="Shipping Name" class="mb-0"
											(blur)="shippingprofileModel.Name = shippingprofileModel.Name.trim()" required>
										<div *ngIf="Name.errors && (Name.dirty || Name.touched)" class="text-danger vd-msg">
											<div [hidden]="!Name.errors.required">
												Profile Name is required!
											</div>
										</div>
									</div>
									<!--<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
									 <label for="ProcessingTime">Processing time *</label>
									 <select id="ProcessingTime" [(ngModel)]="shippingprofileModel.ProcessingTime" #ProcessingTime="ngModel" name="ProcessingTime">
										<option selected value="undefined">
											Select processing time
										</option>
										<option selected value="1 business day">
											1 business day
										</option>
										<option value="1-2 business days">
											1-2 business days
										</option>
										<option value="1-3 business days">
											1-3 business days
										</option>
										<option value="3-5 business days">
											3-5 business days
										</option>
										<option value="1-2 weeks">
											1-2 weeks
										</option>
										<option value="2-3 weeks">
											2-3 weeks
										</option>
										<option value="3-4 weeks">
											3-4 weeks
										</option>
										<option value="4-6 weeks">
											4-6 weeks
										</option>
										<option value=" 6-8 weeks">
											6-8 weeks
										</option>
										<option value="Unknown">
											Unknown
										</option>
									</select> 
								</div> -->

									<!-- <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" *ngIf="dataAvailable">
										<label for="shipsTo">Ships To <span style="color:red;size:10px"> *</span></label>
										<select2 id="shipsTo" [data]="this.CountryData" [options]="{'multiple' : true}" [value]="" (valueChanged)="ShipsToChanged($event);"></select2>
										<div class="text-danger vd-msg">
											<div>
												Note: Atleast one Country is required!
											</div>
										</div>
									</div> -->

									<!-- <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" *ngIf='this.codAvailable'>
										<label for="cod">Cash on delivery price <span style="color:red;size:10px"> *</span></label>
										<input type="number" id="cod" min="1" [(ngModel)]="shippingprofileModelCustom.CODPrice" name="cod" #cod="ngModel"
										 placeholder="Amount" class="mb-0" onkeypress="return event.charCode >= 48 && event.charCode <= 57" required>
										<div *ngIf="cod.errors && (cod.dirty || cod.touched)" class="text-danger vd-msg">
											<div [hidden]="!cod.errors.required">
												Cash on delivery price is required!
											</div>
										</div>
									</div> -->

									<!-- <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"> -->
									<!--	<input type="text"      id="ShipsFrom" [(ngModel)]="this.shippingProfileModel.ShipsFrom" name="ShipsFrom" #ShipsFrom="ngModel" required>  -->
									<!-- <label >Ships from <span style="color:red;size:10px"> *</span></label> -->
									<!-- <select class="mb-0" id="ShipsFrom" [(ngModel)]="this.shippingprofileModelCustom.ShipsFrom" name="ShipsFrom"
										 #ShipsFrom="ngModel" required>
											<option [value]="undefined" selected disabled>
												--select--
											</option>
											<option [value]="country.name" *ngFor="let country of allCountries">
												{{country.name}}
											</option>
										</select>   -->
									<!-- <p-dropdown [options]="allCountriesList" name="ShipsFrom" [(ngModel)]="this.testdata"  [style]="{'width':'150px'}" filter="true">
											<ng-template let-data pTemplate="selectedItem">
												<span style="vertical-align:middle" >{{data.label}}</span>
											</ng-template>
										</p-dropdown> -->
									<!-- <p-dropdown [options]="allCountriesList" name="ShipsFrom" [(ngModel)]="this.shippingprofileModelCustom.ShipsFrom" [style]="{'width':'100%','height':'40px'}" filter="true">
											<ng-template let-data pTemplate="selectedItem">
												<span style="vertical-align:middle" [value]="data.value">{{data.label}}</span>
											</ng-template>
										</p-dropdown> -->
									<!-- <div *ngIf="ShipsFrom.errors && (ShipsFrom.dirty || ShipsFrom.touched)" class="text-danger vd-msg">
											<div [hidden]="!ShipsFrom.errors.required">
												Ships From Country is required!
											</div>
										</div> -->
									<!-- </div> -->
								</div>
							</div>
							<div class="row" *ngIf="shippingprofileModel.IsCustom">
								<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-left:1%">
									<h2 class="heading relative heading-small uppercase bottom-line style-2 left-align mb-0 pt-20">
										Shipping
										Methods</h2>
									<div *ngFor="let detail of this.shippingprofileModelCustom.Detail; let j=index">
										<!-- <h2 class="heading relative heading-small uppercase bottom-line style-2 left-align mb-0 pt-20">{{detail.Country}}</h2> -->
										<div class="panel panel-default" *ngFor="let shippingMethod of detail.ShippingMethod;let i=index;">

											<!-- <div class="panel-heading">
												<span class="panel-title">Shipping Method {{i+1}}</span>
												<input type="button" class="btn btn-sm btn-color pull-right" (click)="deleteShippingMethod(detail,i)" *ngIf="i>0"
												 value="Delete">

											</div> -->
											<div class="row pt-20">
												<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
													<!-- <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
														<label for="ShippingMethodName-{{i}}{{j}}">Name <span style="color:red;size:10px"> *</span></label>
														<input id="ShippingMethodName-{{i}}{{j}}" type="text" class="mb-0" [(ngModel)]="shippingMethod.Name" name="ShippingMethodName{{i}}{{j}}"
														 #ShippingMethodName{{i}}{{j}}="ngModel" placeholder="Shipping Method Name" (blur)="shippingMethod.Name = shippingMethod.Name.trim(); shippingMethodNameBlur = true"
														 required>
														<div *ngIf="ShippingMethodName{{i}}{{j}}.errors && (ShippingMethodName{{i}}{{j}}.dirty || ShippingMethodName{{i}}{{j}}.touched)" class="text-danger vd-msg">
																<div [hidden]="!ShippingMethodName{{i}}{{j}}.errors.required">
																		Shipping method name is required!
																</div>
															</div>
														(blur)="(shippingMethod.Name == null)? showShippingMethodAlert=true: showShippingMethodAlert=(shippingMethod.Name.toString().trim().length == 0)" -->
													<!--<div *ngIf="(shippingMethod.Name == null || shippingMethod.Name =='' || shippingMethod.Name.length ==0) && shippingMethodNameBlur"
														 class="text-danger vd-msg">

															Shipping method name is required!

														</div>


													</div> -->
													<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
														<label for="ProcessingTime-{{i}}{{j}}">Processing time <span style="color:red;size:10px">
																*</span></label>
														<select id="ProcessingTime-{{i}}{{j}}"
															(blur)="(shippingMethod.ProcessingTime == '')? shippingMethod.showProcessingAlert=true: shippingMethod.showProcessingAlert=false"
															[(ngModel)]="shippingMethod.ProcessingTime" name="ProcessingTime{{i}}{{j}}"
															#ProcessingTime{{i}}{{j}}='ngModel' required class="mb-0">
															<option value="" selected disabled>
																--select--
															</option>
															<option value="1 business day">
																1 business day
															</option>
															<option value="1-2 business days">
																1-2 business days
															</option>
															<option value="1-3 business days">
																1-3 business days
															</option>
															<option value="3-5 business days">
																3-5 business days
															</option>
															<option value="1-2 weeks">
																1-2 weeks
															</option>
															<option value="2-3 weeks">
																2-3 weeks
															</option>
															<option value="3-4 weeks">
																3-4 weeks
															</option>
															<option value="4-6 weeks">
																4-6 weeks
															</option>
															<option value=" 6-8 weeks">
																6-8 weeks
															</option>
														</select>
														<!-- <div *ngIf="ProcessingTime{{i}}{{j}}.errors && (ProcessingTime{{i}}{{j}}.dirty || ProcessingTime{{i}}{{j}}.touched)" class="text-danger vd-msg">
																<div [hidden]="!ProcessingTime{{i}}{{j}}.errors.required">
																		Processing time is required!
																</div>
															</div> -->
														<div *ngIf="shippingMethod.showProcessingAlert && (shippingMethod.ProcessingTime == '')"
															class="text-danger vd-msg">
															Processing time is required!
														</div>
													</div>
												</div>
											</div>
											<div class="panel-body">
												<table class="shop_table cart table" style="padding-bottom: 20px">
													<thead>
														<tr>
															<!-- <th>Zone <span style="color:red;size:10px"> *</span></th> -->
															<th>Shipping cost</th>
															<th>Shipping cost with another item</th>
															<th>Free shipping order value &#8377;</th>
															<th></th>
														</tr>
													</thead>
													<tbody>
														<tr *ngFor="let shippingDetail of shippingMethod.ShipsTo; let k=index">
															<!-- <td> -->
															<!-- <div>
																	<select style="margin: auto;" [(ngModel)]="shipTo.Country" name="shipToCountry-{{i}}-{{shipsToIndex}}" required>
																		<option [value]="country.name" *ngFor="let country of allCountries">
																			{{country.name}}
																		</option>
																	</select>
																</div> -->
															<!-- <div *ngIf="DataSepZone.length > 0">
																	<select class="mb-0" id="zoneName{{i}}{{j}}{{k}}" [(ngModel)]="shippingDetail.Zone" name="zoneName{{i}}{{j}}{{k}}"
																	 #zoneName{{i}}{{j}}{{k}}="ngModel" required (blur)="(shippingDetail.Zone == '')? shippingDetail.showZoneAlert=true:shippingDetail.showZoneAlert=false">
																		<option value="" selected disabled>
																			--select--
																		</option>
																		<option [value]="zone.Type" *ngFor="let zone of DataSepZone[j].Zone; let i= index">
																			{{zone.Name}}
																		</option>
																	</select>
																	<!-- <div *ngIf="zoneName{{i}}{{j}}{{k}}.errors && (zoneName{{i}}{{j}}{{k}}.dirty || zoneName{{i}}{{j}}{{k}}.touched)" class="text-danger vd-msg">
																		<div [hidden]="!zoneName{{i}}{{j}}{{k}}.errors.required">
																				Zone is required!
																		</div>
																	</div> -->
															<!--
																	<div *ngIf="shippingDetail.showZoneAlert && (shippingDetail.Zone == '')" class="text-danger vd-msg">
																		Zone is required!
																	</div>
																</div> -->
															<!-- </td> -->
															<td>
																<div>
																	<input type="number" class="mb-0" min="1"
																		onkeypress="return event.charCode >= 48 && event.charCode <= 57"
																		[(ngModel)]="shippingDetail.Cost" name="shipToCost{{i}}{{j}}{{k}}"
																		placeholder="Charge" required #shipToCost{{i}}{{j}}{{k}}="ngModel">
																	<!-- <div *ngIf="shipToCost{{i}}{{j}}{{k}}.errors && (shipToCost{{i}}{{j}}{{k}}.dirty || shipToCost{{i}}{{j}}{{k}}.touched)" class="text-danger vd-msg">
																			<div [hidden]="!shipToCost{{i}}{{j}}{{k}}.errors.required">
																					Ships To cost is required!
																			</div>
																		</div> -->
																	<div
																		*ngIf="(shippingDetail.Cost == null)? true: (shippingDetail.Cost.toString().trim().length == 0)"
																		class="text-danger vd-msg">
																		Shipping charge is required!
																	</div>
																</div>
															</td>
															<td>
																<div>
																	<input type="number" min="1" class="mb-0"
																		onkeypress="return event.charCode >= 48 && event.charCode <= 57"
																		[(ngModel)]="shippingDetail.CostWithAnotherItem"
																		name="shipToCostWithAnotherItem{{i}}{{j}}{{k}}"
																		placeholder="Charge With Another Item"
																		#shipToCostWithAnotherItem{{i}}{{j}}{{k}}="ngModel" required>
																	<!-- <div *ngIf="shipToCostWithAnotherItem{{i}}{{j}}{{k}}.errors && (shipToCostWithAnotherItem{{i}}{{j}}{{k}}.dirty || shipToCostWithAnotherItem{{i}}{{j}}{{k}}.touched)" class="text-danger vd-msg">
																			<div [hidden]="!shipToCostWithAnotherItem{{i}}{{j}}{{k}}.errors.required">
																					Cost with another item is required!
																			</div>
																		</div> -->
																	<div
																		*ngIf="(shippingDetail.CostWithAnotherItem == null)? true: (shippingDetail.CostWithAnotherItem.toString().trim().length == 0)"
																		class="text-danger vd-msg">
																		Cost with another item is required!
																	</div>
																</div>
															</td>
															<td>
																<div>
																	<input type="number" min="1" class="mb-0"
																		onkeypress="return event.charCode >= 48 && event.charCode <= 57"
																		[(ngModel)]="shippingDetail.FreeShippingTotalValue"
																		name="shipToFreeShippingTotalValue{{i}}{{j}}{{k}}"
																		#shipToFreeShippingTotalValue{{i}}{{j}}{{k}}='ngModel'
																		placeholder="Free Shipping Total Value" required>
																	<!-- <div *ngIf="shipToFreeShippingTotalValue{{i}}{{j}}{{k}}.errors && (shipToFreeShippingTotalValue{{i}}{{j}}{{k}}.dirty || shipToFreeShippingTotalValue{{i}}{{j}}{{k}}.touched)" class="text-danger vd-msg">
																			<div [hidden]="!shipToFreeShippingTotalValue{{i}}{{j}}{{k}}.errors.required">
																					Ships From Country is required!
																			</div>
																		</div> -->
																	<div
																		*ngIf="(shippingDetail.FreeShippingTotalValue == null)? true: (shippingDetail.FreeShippingTotalValue.toString().trim().length == 0)"
																		class="text-danger vd-msg">

																		Free shipping over rupees purchase is required!

																	</div>
																</div>
															</td>
															<td>
																<button *ngIf="k>0" class="pull-right" (click)="deleteShipsTo(shippingMethod, k)">
																	<i class="fa fa-times"></i>
																</button>
															</td>
														</tr>
														<tr>
															<!-- <td colspan="5">
																<button class="btn btn-color pull-right" (click)="addEmptyShipsToByMethod(shippingMethod)">
																	+Add Zone
																</button>
															</td> -->
														</tr>
													</tbody>
												</table>
											</div>
											<!-- <div>
												<div class="panel-footer" *ngIf="i == (detail.ShippingMethod.length - 1)">
													<a href="javascript:;" (click)="addEmptyShippingMethod(detail)">+Add Shipping Method</a>
												</div>
											</div> -->
										</div>

									</div>
								</div>
							</div>
							<div class="row">
								<input
									[disabled]="!(customShippingForm.form.valid && this.shippingprofileModelCustom.Detail.length > 0)"
									type="button" class="btn btn-color pull-right" style="margin-right:1%" (click)="add()"
									value="Save Profile">
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div>
		<input type="button" class="btn btn-color pull-right" style="margin-right:1%" *ngIf="newbutton "
			(click)="newProduct()" value="Save"
			[disabled]="!((addProductForm.form.valid && this.productModel.Categories[0]._id && this.showSaveButton) || this.productModel.Show == 'Inactive' || this.productModel.Show == 'Draft')">
	</div>
	<div>
		<input type="button" class="btn btn-color pull-right" style="margin-right:1%" *ngIf="editbutton "
			(click)="editProduct()" value="Update "
			[disabled]="!((addProductForm.form.valid && this.productModel.Categories[0]._id && this.showSaveButton) || this.productModel.Show == 'Inactive' || this.productModel.Show == 'Draft')">
	</div>
</form>
</div>
</div>
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="cropImage" id="editImageModal">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-body">
				<div id="croppie-div">
					<img src="{{selectedImageForCropping}}" alt="Product Edit Image" id="EditableImage" />
				</div>
			</div>
			<div class="modal-footer">
				<button title="Zoom In" type="button" class="btn btn-primary pull-left" (click)="cropperImageZoomIn()">
					<span class="fa fa-search-plus"></span>
				</button>
				<button title="Zoom Out" type="button" class="btn btn-primary pull-left" (click)="cropperImageZoomOut()">
					<span class="fa fa-search-minus"></span>
				</button>
				<button title="Rotate Left" type="button" class="btn btn-primary pull-left" (click)="cropperImageRotateLeft()">
					<span class="fa fa-rotate-left"></span>
				</button>
				<button title="Rotate Right" type="button" class="btn btn-primary pull-left"
					(click)="cropperImageRotateRight()">
					<span class="fa fa-rotate-right"></span>
				</button>
				<!--button title="Reset" type="button" class="btn btn-primary pull-left" (click)="cropperImageReset()">
      		<span class="fa fa-refresh"></span>
      	</button-->
				<button type="button" class="Clscommon_btn_fill_small" data-dismiss="modal">Close</button>
				<button type="button" class="Clscommon_btn_fill_small" (click)="saveCroppedImage()">Save</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade docs-cropped" id="getCroppedCanvasModal" aria-labelledby="getCroppedCanvasTitle" tabindex="-1"
	role="dialog">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="getCroppedCanvasTitle">Cropped</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
			</div>
			<div class="modal-body">
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				<a class="btn btn-primary" id="download" href="" download="cropped.jpg">Download</a>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="showAvailbleVariation" role="dialog">
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Select Variation options</h4>
			</div>
			<div class="modal-body">
				<div *ngIf='this.productAttributesList.length>0; else noVariationFound'>
					<div class="text-danger vd-msg" *ngIf="productAttributesList.length >0">
						<p class="text-center">
							Note: Only two attributes can be selected as Variation.
						</p>
					</div>
					<div *ngFor="let Attribute of productAttributesList">
						<form style="display:inline-block; margin-left:10px;margin-top: 20px" class="mb-3">
						<div class="Clscheckbox p-10">
							<input type="checkbox" [name]="Attribute.Name" [id]="Attribute.Name"
								(change)="ValidateVariations(Attribute,$event,true)" [(ngModel)]="Attribute.IsVariation">
							<label [for]="Attribute.Name"> <span style="font-weight: bolder"> {{Attribute.Name}} </span></label>
						</div>
							<div class="col-xs-12" *ngIf="Attribute.IsVariation">
								<div class="Clscheckbox pb-10">
									<input type="checkbox" name="{{Attribute.Name}}_price" id="{{Attribute.Name}}_price"
										(change)="ValidateVariations(Attribute,$event,false)" [(ngModel)]="Attribute.IsPriceVariation">
									<label for="{{Attribute.Name}}_price"> Prices varies for each {{Attribute.Name}} </label>
								</div>
								<!-- <div>
									<input type="checkbox" name="{{Attribute.Name}}_quantity" id="{{Attribute.Name}}_quantity" (change)="ValidateVariations(Attribute,$event,false)"
									 [(ngModel)]="Attribute.IsQuantityVariation">
									<label for="{{Attribute.Name}}_quantity"> Quantity vary for each {{Attribute.Name}} </label>
								</div> -->
								<div class="Clscheckbox pb-10">
									<input type="checkbox" name="{{Attribute.Name}}_SKU" id="{{Attribute.Name}}_SKU"
										(change)="ValidateVariations(Attribute,$event,false)" [(ngModel)]="Attribute.IsSKUVariation">
									<label for="{{Attribute.Name}}_SKU"> SKU varies for each {{Attribute.Name}} </label>
								</div>
								<div class="Clscheckbox pb-10">
									<input type="checkbox" name="{{Attribute.Name}}_image" id="{{Attribute.Name}}_image"
										(change)="ValidateVariations(Attribute,$event,false)" [(ngModel)]="Attribute.IsImageVariation">
									<label for="{{Attribute.Name}}_image"> Image varies for each {{Attribute.Name}} </label>
								</div>
							</div>
						</form>
					</div>
				</div>
				<ng-template #noVariationFound>
					<span>No attributes selectted!</span>
				</ng-template>
			</div>
			<!-- <div class="modal-footer">
				<button type="button" class="Clscommon_btn_fill_small" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-sm btn-color rounded" (click)='DeleteCommisssion()'>Delete</button>
			</div> -->
		</div>
	</div>
</div>
<div class="modal fade" id="showAutoFillVariation" role="dialog">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<form id='updateSelectedForm' #updateSelectedForm='ngForm'>
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Update Selected</h4>
				</div>
				<div class="modal-body">
					<div class="form-group" *ngIf='AutoFillValue == "Price"'>
						<label for="AutoFillArrayPrice">Price<span style="color:red;size:10px"> *</span></label>
						<div class="input-group">
							<div class="input-group-addon">
								<span class="input-group-text">INR &#x20B9;</span>
							</div>
							<input type="number" id="AutoFillArrayPrice" [(ngModel)]="this.AutoFillArrayPrice"
								name="AutoFillArrayPrice" placeholder="0" class="form-control mb-0" #AutoFillArrayPrice1="ngModel"
								min="1" onkeypress="return event.charCode >= 48 && event.charCode <= 57" required>
						</div>
						<div *ngIf="AutoFillArrayPrice1.errors && (AutoFillArrayPrice1.dirty || AutoFillArrayPrice1.touched)"
							class="text-danger vd-msg">
							<div [hidden]="!AutoFillArrayPrice1.errors.required">
								*Price is required!
							</div>
						</div>
					</div>
					<div class="form-group" *ngIf='AutoFillValue == "Qty"'>
						<label for="AutoFillArrayQty">Quantity Available<span style="color:red;size:10px"> *</span></label>
						<input type="number" id="AutoFillArrayQty" [(ngModel)]="this.AutoFillArrayQty" name="AutoFillArrayQty"
							placeholder="0" #AutoFillArrayQty1="ngModel" required class="mb-0 form-control" min="1"
							onkeypress="return event.charCode >= 48 && event.charCode <= 57" required>
						<div *ngIf="AutoFillArrayQty1.errors && (AutoFillArrayQty1.dirty || AutoFillArrayQty1.touched)"
							class="text-danger vd-msg">
							<div [hidden]="!AutoFillArrayQty1.errors.required">
								*Quantity is required!
							</div>
						</div>
					</div>
					<div class="form-group" *ngIf='AutoFillValue == "SKU"'>
						<label for="AutoFillArraySKU">SKU<span style="color:red;size:10px"> *</span></label>
						<input type="text" id="AutoFillArraySKU" [(ngModel)]="this.AutoFillArraySKU" name="AutoFillArraySKU"
							placeholder="SKU" (blur)="AutoFillArraySKU=AutoFillArraySKU.trim();" #AutoFillArraySKU1="ngModel"
							class="mb-0 form-control" required>
						<div *ngIf="AutoFillArraySKU1.errors && (AutoFillArraySKU1.dirty || AutoFillArraySKU1.touched)"
							class="text-danger vd-msg">
							<div [hidden]="!AutoFillArraySKU1.errors.required">
								*SKU is required!
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="Clscommon_btn_fill_small" data-dismiss="modal">Close</button>
					<button type="button" class="Clscommon_btn_fill_small" (click)='SaveAutoFill()'>Save</button>
				</div>
			</form>
		</div>
	</div>
</div>