<div class="form-group">
	<h2 class="heading relative heading-small uppercase bottom-line style-2 left-align mb-0">Approve Seller</h2>
</div>
<ul class="nav nav-tabs">
	<li class="active">
		<a href="#ApproveSeller" data-toggle="tab" aria-expanded="true" (click)="unApprovedList()">Approve Seller</a>
	</li>
	<li class="">
		<a href="#ViewSellerUpdate" data-toggle="tab" aria-expanded="false" (click)="documentUpdatedSellerList()">View Seller Updates</a>
	</li>
</ul>
<div class="tab-content">
	<div class="tab-pane fade active in" id="ApproveSeller"  >
		<div>
				<div *ngIf="showWaitingList">
						<div class="row">
							<!-- <form class="form" id="searchShopForm" #searchShopForm="ngForm"> -->
								<!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-2">
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-0">
										<input type="text" name="search" placeholder="Search Shop" (keydown)="key_down($event,$event.target.value,'UnApprove')" (change)="getSearchValue($event.target.value)" >
									</div>
									<span class="col-lg-4 col-md-4 col-sm-4 col-xs-6"> -->
											<!-- <button class="btn btn-dark search-icon-featuredShop"type="button" (click)="Search()"><span class="fa fa-search" aria-hidden="true"></span></button> -->
											<!-- <button class="col-lg-4 col-md-4 col-sm-4 col-xs-8 search-icon-featuredShop" type="button" [disabled]="!searchShopForm.form.valid" (click)="Search('UnApprove')"><span aria-hidden="true">Search</span></button>
											<button class="col-lg-4 col-md-4 col-sm-4 col-xs-8 " type="button" (click)="unApprovedList()"><span aria-hidden="true">Get All</span></button>									
									</span>
								</div> -->
									<div class="col-md-12 pt-20">
										<label for="">Search Shop</label>
										<div class="input-group stylish-input-group">
											<input type="text" class="form-control" [(ngModel)]="getDetails" (keyup)="searchSeller()"  placeholder="Type and enter to search" >
											<span class="input-group-addon">
												 <span class="fa fa-search"></span>
											</span>
										</div>
									</div>
							<!-- </form> -->
						</div>
						<div class="table-wrap" *ngIf = "waitingList.length >0; else addNewTemplate">
							<table class="table table-hover">
								<thead>
									<tr>
										<th># </th>
										<th>Mobile</th>
										<th>Shop Name</th>
										<th>Action</th>
									</tr>
								</thead>
								<tbody>
									
									<tr  *ngFor="let List of waitingList;let i=index;" >
										<td>{{(i+1) + (initialPage * 10)}}</td>
										<td>{{List.User.Mobile}}</td>
										<td>{{List.editedBusinessDetails.Name}}</td>
										<td>
											<button type="button" class="btn btn-sm btn-color" (click)="ViewList(List._id)" >{{List?.editedBankDetails && List.editedBusinessDetails ?'Verify':'View'}}</button>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<nav class="pagination clear" *ngIf = "waitingList.length > 0">
							<a href="javascript:;" (click)="previousPage()"><i class="fa fa-angle-left"></i></a>
							<a href="javascript:;" *ngFor="let page of pages" [class]="currentPage==page?'current':''" (click)="selectPage(page)">{{page}}</a>
							<a href="javascript:;" (click)="nextPage()"><i class="fa fa-angle-right"></i></a>
						</nav>
					</div>
					<div *ngIf="!showWaitingList" >
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<button type="button" class="btn btn-sm btn-color"  (click)="this.showWaitingList=true;">
									<span class="fa fa-arrow-left" aria-hidden="true"></span></button>
								</div>
								<div class="right">
									<button type="button" class="btn btn-sm btn-color" (click)="ApproveSeller(checkDetail?._id)" *ngIf="checkDetail?.editedBusinessDetails  && checkDetail?.editedBankDetails && checkDetail?.SubmitBusiness" >Approve</button>
									<!-- <a href="javascript:;" >Contact Seller </a> -->
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 mt-20" >
								<div  *ngIf="checkDetail?.editedBusinessDetails">
									<h5>Profile Details : </h5>
									<div class="table-wrap" >
										<table class="table table-bordered"  >
											<tbody>
												<!-- <tr>
													<th>Shop Id </th>
													<td>{{checkDetail.Shop.Id?}}</td>
												</tr> -->
												<tr>
													<th>Shop Name </th>
													<td>{{checkDetail?.editedBusinessDetails?.Name}}</td>
												</tr>
												<tr>
													<th>Address </th>
													<td>{{checkDetail?.editedBusinessDetails?.Profile.Address.Line1 +", " +checkDetail?.editedBusinessDetails?.Profile?.Address?.Line2}}</td>
												</tr>
												<tr>
													<th>City</th>
													<td>{{checkDetail?.editedBusinessDetails?.Profile?.Address?.City}}</td>
												</tr>
												<tr>
													<th>State</th>
													<td>{{checkDetail?.editedBusinessDetails?.Profile?.Address?.State+" - " +checkDetail?.editedBusinessDetails?.Profile?.Address?.Zip}}</td>
												</tr>
												<tr>
													<th>Phone </th>
													<td>{{checkDetail?.editedBusinessDetails?.Profile?.Address?.Phone}}</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
							<div class="col-md-6 mt-20" >
								<div *ngIf="checkDetail?.editedBusinessDetails">
									<h5>Business Details : </h5>
									<div class="table-wrap" >
										<table class="table table-bordered"  >
											<tbody>
												<tr>
													<th>Business Name </th>
													<td>{{checkDetail?.editedBusinessDetails?.Name}}</td>
												</tr>
												<tr>
													<th>Business Type </th>
													<td>{{checkDetail?.editedBusinessDetails?.Type}}</td>
												</tr>
												<tr>
													<th>Gstin Provisional Id:</th>
													<td>{{checkDetail?.editedBusinessDetails?.GstinProvisionalId}}</td>
												</tr>
												<!-- <tr>
													<th>TAN Number</th>
													<td>{{checkDetail?.editedBusinessDetails?.TanNumber}}</td>
												</tr> -->
												<tr *ngIf="checkDetail.editedBusinessDetails.Type == 'Proprietorship'">
													<th>Business PAN Number</th>
													<td>{{checkDetail?.editedBusinessDetails?.PersonalPanNumber}}</td>
												</tr>
												<tr *ngIf="checkDetail.editedBusinessDetails.Type != 'Proprietorship'">
													<th>Business PAN Number</th>
													<td>{{checkDetail?.editedBusinessDetails?.BusinessPanNumber}}</td>
												</tr>
												<tr>
													<th>Proof Attached </th>
													<td>GST</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
						<div class="row mt-20"  >
							<div class="col-md-12" *ngIf="checkDetail?.editedBankDetails">
								<h5>Bank Detail's :</h5>
								<div class="table-wrap" >
									<table class="table table-bordered" >
										<tbody>
											<tr>
												<th>Account Holder Name </th>
												<td>{{checkDetail?.editedBankDetails?.AccountHolderName}}</td>
											</tr>
											<tr>
												<th>Account Number </th>
												<td>{{checkDetail?.editedBankDetails?.AccountNumber}}</td>
											</tr>
											<tr>
												<th>IFSC Code</th>
												<td>{{checkDetail?.editedBankDetails?.IfscCode}}</td>
											</tr>
											<tr>
												<th>Bank Name</th>
												<td>{{checkDetail?.editedBankDetails?.BankName}}</td>
											</tr>
											<tr>
												<th>State</th>
												<td>{{checkDetail?.editedBankDetails?.State}}</td>
											</tr>
											<tr>
												<th>City </th>
												<td>{{checkDetail?.editedBankDetails?.City}}</td>
											</tr>
											<!-- <tr>
												<th>District</th>
												<td>{{List.BankDetails[0].District}}</td>
											</tr> -->
											<tr>
												<th>Branch Name</th>
												<td>{{checkDetail?.editedBankDetails?.BranchName}}</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
						<!-- <div class="row mt-20" >
							<div class="col-md-12">
								<div class="col-md-3" *ngIf="checkDetail.BankDetails[0]?.hasOwnProperty('CancelledCheckCopy')">
									<strong>Cancelled Check Copy</strong>
									<img src="{{checkDetail.BankDetails[0]	.CancelledCheckCopy}}"/>
								</div>
							</div>
						</div> -->
						<div clas="row mt-20">
							<div class="col-md-12" >
							  <div class="col-md-3" *ngIf="checkDetail?.editedBankDetails?.hasOwnProperty('CancelledCheckCopy')">
											<strong>Cancelled Check Copy</strong>
											<br>
											<a href="{{checkDetail?.editedBankDetails?.CancelledCheckCopy}}" target="_blank">Click to view file</a>
								        <!-- <img src="{{checkDetail?.editedBankDetails?.CancelledCheckCopy}}"/> -->
							  </div>
								<div class="col-md-3" *ngIf = "checkDetail?.editedBusinessDetails?.hasOwnProperty('GstinProof')">
									<strong>Gstin Proof</strong>
									<br>
									<a href="{{checkDetail?.editedBusinessDetails?.GstinProof}}" target="_blank">Click to view file</a>
									<!-- <img src="{{checkDetail?.editedBusinessDetails?.GstinProof}}"/> -->
								</div>
								<div class="col-md-3" *ngIf ="checkDetail?.editedBusinessDetails?.hasOwnProperty('TanProof')">
									<strong>TAN Proof </strong>
									<br>
											<a href="{{checkDetail?.editedBusinessDetails?.TanProof}}" target="_blank">Click to view file</a>
									<!-- <img src="{{checkDetail?.editedBusinessDetails?.TanProof}}"/> -->
								</div>
								<div class="col-md-3" *ngIf ="checkDetail?.editedBusinessDetails?.hasOwnProperty('PanProof')">
									<strong>PAN Proof</strong>
									<br>
											<a href="{{checkDetail?.editedBusinessDetails?.PanProof}}" target="_blank">Click to view file</a>
									<!-- <img src="{{checkDetail?.editedBusinessDetails?.PanProof}}"/> -->
								</div>
								<div class="col-md-3" *ngIf ="checkDetail?.editedBusinessDetails?.hasOwnProperty('Signature')">
									<strong> Signature </strong>
									<br>
											<a href="{{checkDetail?.editedBusinessDetails?.Signature}}" target="_blank">Click to view file</a>
									<!-- <img src="{{checkDetail?.editedBusinessDetails?.Signature}}"/> -->
								</div>
							</div>
						</div>
					</div>
		</div>
		
	</div>
	<div class="tab-pane fade " id="ViewSellerUpdate" >
		<div>
				<div *ngIf="showUpdatedList">
						<div class="row">
								<!-- <form class="form" id="searchShopApproveForm" #searchShopApproveForm="ngForm">
									<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-2">
										<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-0">
											<input type="text" name="search" placeholder="Search Shop" (keydown)="key_down($event,$event.target.value,'Approve')" (change)="getSearchValue($event.target.value)" >
										</div>
										<span class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
												<!-- <button class="btn btn-dark search-icon-featuredShop"type="button" (click)="Search()"><span class="fa fa-search" aria-hidden="true"></span></button> -->
												<!-- <button class="col-lg-4 col-md-4 col-sm-4 col-xs-8 search-icon-featuredShop" type="button" [disabled]="!searchShopApproveForm.form.valid" (click)="Search('Approve')"><span aria-hidden="true">Search</span></button>
												<button class="col-lg-4 col-md-4 col-sm-4 col-xs-8 " type="button" (click)="unApprovedList()"><span aria-hidden="true">Get All</span></button>									
										</span>
									</div>
								</form> -->
								<div class="col-md-12 pt-20">
									<label for="">Search Shop</label>
									<div class="input-group stylish-input-group">
										<input type="text" class="form-control" [(ngModel)]="SearchTerm" (keyup.enter)="searchSellerUpdates()"  placeholder="Type and enter to search" >
										<span class="input-group-addon">
											 <span class="fa fa-search"></span>
										</span>
									</div>
								</div>
							</div>
					<div class="table-wrap" *ngIf = "updatedWaitingList.length > 0; else addNewTemplate1">
						<table class="table table-hover">
							<thead>
								<tr>
									<th># </th>
									<th>Mobile</th>
									<th>Shop Name</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody>
								
								<tr  *ngFor="let List of updatedWaitingList;let i=index;" >
									<td>{{(i+1) + (initialPage * 10)}}</td>
									<td>{{List.User.Mobile}}</td>
									<td>{{List.ShopAccount.editedBusinessDetails.Name}}</td>
									<td>
										<button type="button" class="btn btn-sm btn-color" (click)="viewUpdatedList(List?.ShopAccount?._id)" >View</button>
									</td>
								</tr>
							</tbody>
						</table>
					</div > 
					<div *ngIf = "updatedWaitingList.length > 0">
						<nav class="pagination clear" >
							<a href="javascript:;" (click)="previousPage()"><i class="fa fa-angle-left"></i></a>
							<a href="javascript:;" *ngFor="let page of pages" [class]="currentPage==page?'current':''" (click)="selectPage(page)">{{page}}</a>
							<a href="javascript:;" (click)="nextPage()"><i class="fa fa-angle-right"></i></a>
						</nav>
					</div>
					
				</div>
				<div *ngIf="!showUpdatedList" >
					<div class="row">
						<div class="col-md-12">
							<div class="form-group pull-left">
								<button type="button" class="btn btn-sm btn-color"  (click)="this.showUpdatedList = true;">
								<span class="fa fa-arrow-left" aria-hidden="true"></span></button>
							</div>
							
									<!-- <div class="form-group pull-right">
										<button type="button" class="btn btn-sm btn-color" (click)="ApproveUpdatedDetails()">Approve</button>
									</div> -->
								
						</div>
					</div>
					<div class = "tabs">
						<ul class="nav nav-tabs">
							<!-- <li class="active">
								<a href="#RecentUpdate" data-toggle="tab" aria-expanded="true" >Recent Update</a>
							</li> -->
							<li [ngClass]="{'active': tabActiveBusi}" id="busi" *ngIf="updatedList[0].isEditedBusinessDetails">
								<a href="#Business" data-toggle="tab" aria-expanded="false" >Business</a>
							</li> 
							<li [ngClass]="{'active': tabActiveBank}" id="banking" *ngIf="updatedList[0].isEditedBankDetails">
								<a href="#Bank" data-toggle="tab" aria-expanded="true">Bank</a>
							</li>
						</ul>
						<div class="tab-content">
							<!-- <div class="tab-pane fade active in" id="RecentUpdate">
								
								<div class="row" *ngIf="checkUpdateDetail?.hasOwnProperty('editedBusinessDetails')">
									<div class="col-md-6 mt-20">
										<h5>Profile Details : </h5>
										<div class="table-wrap" >
											<table class="table table-bordered"  >
												<tbody>
													<tr>
														<th>Shop Id </th>
														<td>{{checkUpdateDetail.Shop.Id}}</td>
													</tr>
													<tr>
														<th>Shop Name </th>
														<td>{{checkUpdateDetail.Shop.Name}}</td>
													</tr>
													<tr>
														<th>Address </th>
														<td>{{checkUpdateDetail.editedBusinessDetails.Profile.Address.Line1 +", " +checkUpdateDetail.BusinessDetails.Profile.Address.Line2}}</td>
													</tr>
													<tr>
														<th>City</th>
														<td>{{checkUpdateDetail.editedBusinessDetails.Profile.Address.City}}</td>
													</tr>
													<tr>
														<th>State</th>
														<td>{{checkUpdateDetail.editedBusinessDetails.Profile.Address.State+" - " +checkUpdateDetail.BusinessDetails.Profile.Address.Zip}}</td>
													</tr>
													<tr>
														<th>Phone </th>
														<td>{{checkUpdateDetail.editedBusinessDetails.Profile.Address.Phone}}</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
									<div class="col-md-6 mt-20" >
										<h5>Business Details : </h5>
										<div class="table-wrap" >
											<table class="table table-bordered"  >
												<tbody>
													<tr>
														<th>Business Name </th>
														<td>{{checkUpdateDetail.editedBusinessDetails.Name}}</td>
													</tr>
													<tr>
														<th>Business Type </th>
														<td>{{checkUpdateDetail.editedBusinessDetails.Type}}</td>
													</tr>
													<tr>
														<th>Gstin Provisional Id:</th>
														<td>{{checkUpdateDetail.editedBusinessDetails.GstinProvisionalId}}</td>
													</tr>
													<tr>
														<th>TAN Number</th>
														<td>{{checkUpdateDetail.editedBusinessDetails.TanNumber}}</td>
													</tr>
													<tr *ngIf="checkUpdateDetail.editedBusinessDetails.Type == 'Proprietorship'">
														<th>Business PAN Number</th>
														<td>{{checkUpdateDetail.editedBusinessDetails.PersonalPanNumber}}</td>
													</tr>
													<tr *ngIf="checkUpdateDetail.editedBusinessDetails.Type != 'Proprietorship'">
														<th>Business PAN Number</th>
														<td>{{checkUpdateDetail.editedBusinessDetails.BusinessPanNumber}}</td>
													</tr>
													<tr>
														<th>Proof Attached </th>
														<td>GST</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
								<div clas="row mt-20"  *ngIf="checkUpdateDetail?.hasOwnProperty('editedBusinessDetails')" >
									<div class="col-md-12" >
										<div class="col-md-3" *ngIf = "checkUpdateDetail?.editedBusinessDetails.hasOwnProperty('GstinProof')">
											<strong>Gstin Proof</strong>
											<img src="{{checkUpdateDetail.editedBusinessDetails.GstinProof}}"/>
										</div>
										<div class="col-md-3" *ngIf ="checkUpdateDetail?.editedBusinessDetails.hasOwnProperty('TanProof')">
											<strong>TAN Proof </strong>
											<img src="{{checkUpdateDetail.editedBusinessDetails.TanProof}}"/>
										</div>
										<div class="col-md-3" *ngIf ="checkUpdateDetail?.editedBusinessDetails.hasOwnProperty('PanProof')">
											<strong>PAN Proof</strong>
											<img src="{{checkUpdateDetail.editedBusinessDetails.PanProof}}"/>
										</div>
										<div class="col-md-3" *ngIf ="checkUpdateDetail?.editedBusinessDetails.hasOwnProperty('Signature')">
											<strong> Signature </strong>
											<img src="{{checkUpdateDetail.editedBusinessDetails.Signature}}"/>
										</div>
									</div>
								</div>
								<div class="row mt-20" *ngIf="checkUpdateDetail?.hasOwnProperty('BankDetails')" >
									<div class="col-md-12">
										<h5>Bank Detail's :</h5>
										<div class="table-wrap" >
											<table class="table table-bordered" >
												<tbody>
													<tr>
														<th>Account Holder Name </th>
														<td>{{checkUpdateDetail.BankDetails.AccountHolderName}}</td>
													</tr>
													<tr>
														<th>Account Number </th>
														<td>{{checkUpdateDetail.BankDetails.AccountNumber}}</td>
													</tr>
													<tr>
														<th>IFSC Code</th>
														<td>{{checkUpdateDetail.BankDetails.IfscCode}}</td>
													</tr>
													<tr>
														<th>Bank Name</th>
														<td>{{checkUpdateDetail.BankDetails.BankName}}</td>
													</tr>
													<tr>
														<th>State</th>
														<td>{{checkUpdateDetail.BankDetails.State}}</td>
													</tr>
													<tr>
														<th>City </th>
														<td>{{checkUpdateDetail.BankDetails.City}}</td>
													</tr>
													<!-- <tr>
														<th>District</th>
														<td>{{checkUpdateDetail.BankDetails.District}}</td>
													</tr> -->
													<!-- <tr>
														<th>Branch Name</th>
														<td>{{checkUpdateDetail.BankDetails.BranchName}}</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
									<div class="col-md-12">
											<div class="col-md-3" *ngIf="checkUpdateDetail?.editedBankDetails.hasOwnProperty('CancelledCheckCopy')">
												<strong>Cancelled Check Copy</strong>
												<img src="{{checkUpdateDetail.BankDetails.CancelledCheckCopy}}"/>
											</div>
										</div>
								</div>
								
							</div>  -->
							<div class="tab-pane fade" id="Business">
								<!-- Business -->
								<!-- <div class="row"  *ngFor="let List of updatedWaitingList; let i=index"> -->
								<div class="row" style="margin-left:0px;">
									<!-- <span *ngIf="i==0 && updatedList[0].IsApprovedBankDetails == 'UpdatedAfterApproval'">New	</span> -->
									<h5>Business Detail's :- {{this.updatedList[0].editedBusinessDetails.ModifiedDate | date:'dd MMM yyyy'}} <span style="margin-left:635px"><button type="button" class="btn btn-sm btn-color" (click)="ApproveUpdatedBusinessDetails()">Approve</button></span></h5> 
									
								<div class="table-wrap" >
									<table class="table table-bordered" >
										<tbody>
											<tr>
												<th>Phone Number </th>
												<td>{{Phone}}</td>
											</tr>
											<tr>
												<th>Ships From Phone Number </th>
												<td>{{PhoneSf}}</td>
											</tr>
											
										</tbody>
									</table>
								</div>
							</div>
								<!-- </div> -->
								
							</div>
							<div class="tab-pane fade" id="Bank">
								<div class="row mt-20" *ngFor="let List of updatedList; let i= index">
									<div class="row" style="margin-left:0px;">
											<!-- <span *ngIf="i==0 && updatedList[0].IsApprovedBankDetails == 'UpdatedAfterApproval'">New	</span> -->
											<h5>Bank Detail's :- {{List?.editedBankDetails.ModifiedDate | date:'dd MMM yyyy'}} <span style="margin-left:635px"><button type="button" class="btn btn-sm btn-color" (click)="ApproveUpdatedDetails()">Approve</button></span></h5> 
											
										<div class="table-wrap" >
											<table class="table table-bordered" >
												<tbody>
													<tr>
														<th>Account Holder Name </th>
														<td>{{List.editedBankDetails.AccountHolderName}}</td>
													</tr>
													<tr>
														<th>Account Number </th>
														<td>{{List.editedBankDetails.AccountNumber}}</td>
													</tr>
													<tr>
														<th>IFSC Code</th>
														<td>{{List.editedBankDetails.IfscCode}}</td>
													</tr>
													<tr>
														<th>Bank Name</th>
														<td>{{List.editedBankDetails.BankName}}</td>
													</tr>
													<tr>
														<th>State</th>
														<td>{{List.editedBankDetails.State}}</td>
													</tr>
													<tr>
														<th>City </th>
														<td>{{List.editedBankDetails.City}}</td>
													</tr>
													<!-- <tr>
														<th>District</th>
														<td>{{List.District}}</td>
													</tr> -->
													<tr>
														<th>Branch Name</th>
														<td>{{List.editedBankDetails.BranchName}}</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
									<div class="row">
										<div class="col-md-3" *ngIf="List?.editedBankDetails.hasOwnProperty('CancelledCheckCopy')">
											<strong>Cancelled Check Copy</strong>
											<br>
											<a href="{{List.editedBankDetails.CancelledCheckCopy}}" target="_blank">Click to view file</a>
											<!-- <img src="{{List.editedBankDetails.CancelledCheckCopy}}"/> -->
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
		</div>
		
	</div>

	<ng-template #addNewTemplate>

			<!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<h2 class="heading relative heading-small uppercase bottom-line style-2 left-align mb-0">Zone List</h2>
			</div> -->
		<div>
		   
		<div style="margin-top:150px; margin-bottom:50px" class="text-center">
				<i class="fa fa-trash" style="font-size:100px;" ></i>
			
		</div>
		
		<div class="col-xs-12 text-center">
				<!-- <input type="button" style="width:400px; border-radius:30px" class="btn btn-color" [routerLink]="['/admin/zone/add-zone']" value="Add New"> -->
				<span> No seller's for approve</span>
		</div>
		</div> 
		</ng-template>

		<ng-template #addNewTemplate1>

				<!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<h2 class="heading relative heading-small uppercase bottom-line style-2 left-align mb-0">Zone List</h2>
				</div> -->
			<div>
			   
			<div style="margin-top:150px; margin-bottom:50px" class="text-center">
					<i class="fa fa-trash" style="font-size:100px;" ></i>
				
			</div>
			
			<div class="col-xs-12 text-center">
					<!-- <input type="button" style="width:400px; border-radius:30px" class="btn btn-color" [routerLink]="['/admin/zone/add-zone']" value="Add New"> -->
					<span> No updated seller's for approve</span>
			</div>
			</div> 
			</ng-template>

</div>