<style>
    /* .truncate {
			width: 100px !important;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
	} */
</style>
<h1>Sales Report By Product <span *ngIf="!showselectedReport && reportData.length>0" style="padding-left:423px;"><a href="javascript:;;" (click)="DownloadReport()"> <i class="fa fa-download"></i></a></span></h1> 
<div *ngIf="showReport">
    <div >
        <button type="button" class="btn btn-sm btn-color" (click)=" goBack()">
            <span class="fa fa-arrow-left" aria-hidden="true"></span>
        </button>
     </div> 
     <div *ngIf="reportData?.length > 0;else addNewTemplate">
     <div class="row mb-30 mt-2" >
    <div class="purchase_container">
        <div class="row purchase_title m-0">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <p>
                    <strong>Total Gross Revenue</strong>
                </p>
                <p>{{TotalGrossRevenue}}</p>
            </div>
           
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <p>
                    <strong>Total Net Revenue</strong>
                </p>
                <p>{{TotalNetRevenue}}</p>
            </div>
          
        </div>
        <div class="row purchase_title m-0" *ngIf="this.showDate" style="margin-top: -18px">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <p>
                        <strong>Start Date : {{this.reportsModel.ReportType?.StartDate | date:'dd MMM yyyy'}}</strong>
                    </p>
                 
                </div>
               
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <p>
                        <strong>End Date : {{this.reportsModel.ReportType?.ExpiryDate | date:'dd MMM yyyy'}}</strong>
                    </p>
                  
                </div>
              
        </div>
        <div class="row purchase_title m-0" *ngIf="!this.showDate" style="margin-top: -18px">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <p>
                        <strong>Month : {{this.Month }}</strong>
                    </p>
                 
                </div>
               
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <p>
                        <strong>Year : {{this.Year }}</strong>
                    </p>
                  
                </div>
              
        </div>
    </div>
     </div>
      <div class="table-wrap mt-15 col-lg-12 col-md-12 col-sm-12 hidden-xs">
      <div>
      
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Product Id</th>
                    <th>Product Name</th>
                    <th>Gross Revenue</th>
                    <th>Net Revenue</th>


              
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of reportData; let i = index">
                    <td>{{i+1}}</td>
                    <td style="cursor: pointer;" (click)="selected(data);">
                        {{data.ProductId}}
                    </td>
                
                    <td style="cursor: pointer;"  (click)="selected(data);"><p title="{{data.ProductName}}">{{data.ProductName | shorten: 40: ' ...'}}</p></td>
                   
                    <td  style="cursor: pointer;" (click)="selected(data);">{{data.GrossRevenue}}</td>
                    <td  style="cursor: pointer;" (click)="selected(data);">{{data.NetRevenue}}</td>
 
                </tr>
            </tbody>
        </table>
    </div>
    </div>
    </div>
</div>
    <div class="table-wrap mt-15 col-lg-12 col-md-12 col-sm-12 hidden-xs" *ngIf="showselectedReport" >
            <div >
                    <button type="button" class="btn btn-sm btn-color" (click)=" report()">
                        <span class="fa fa-arrow-left" aria-hidden="true"></span>
                    </button>
            </div>

                <div class="row mb-30 mt-2">
                                <div class="purchase_container">
                                   
                                  
                                    <div class="row purchase_body">
                                        <span>
                                             <div class="col-lg-2 col-md-2 col-sm-2 hidden-xs"     style="width: 25%">
                                                <a routerLink="/product/{{selectedReport.ProductId}}">
                                                    <img [src]="this.imageUrls" />
                                                </a>
                                            </div> 
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-8">
                                                <p>
                                                    <strong>{{selectedReport.ProductName}}</strong>
                                                </p>
                                                <p>
                                                     <strong>Product Id : {{selectedReport.ProductId}}</strong>

                                                </p>
                                                <!-- <p><strong>Shop Name :</strong> {{selectedReport.ShopName}}</p>
                                                <p><strong>Shop Id :</strong> {{selectedReport.ShopId}}</p> -->
                                                 <!-- <p><strong>Qty :</strong> {{selectedReport.Qty}}</p> -->
<!--                                                 
                                                    <p >
                                                        <span> {{selectedReport.VariationId}}</span> 
                                                    </p> -->
                                                    <!-- <p >
                                                        <span class="amount"> {{productCurrency.value + shopId.Product.Price}}</span> x {{shopId.Product.Qty}}
                                                    </p> -->
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                <!-- <div>
                                                    <p *ngIf="selectedReport?.VariationName1">
                                                        <b>{{selectedReport.VariationName1}}:{{selectedReport.VariationValue1}}</b>
                                                    </p>
                                                    <p *ngIf="selectedReport?.VariationName2">
                                                        <b>{{selectedReport.VariationName2}}:{{selectedReport.VariationValue2}}</b>
                                                    </p>
                                                </div> -->
                                                <!-- <button type="button" class="mt-10 btn btn-sm btn-color" (click)="cancel(shopId.Product.Id,order._id,'Item')" *ngIf="checkCancelHours(order.CreatedDate,order.OrderStatus) && order.Items.length != 1">Cancel Item</button> -->
                                            </div>
                                        </span>
                                    </div> 
                                </div>

                                <div class="row purchase_container mt-2">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class=" panel panel-default">
                                            <div class="panel-heading text-uppercase">
                                                <span><strong>Revenue & Cost Details</strong></span>
                                            </div>
                                             <div class="panel-body">
                                                 <div class="row">
                                                    <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3">
                                                        <p><strong>Gross Revenue </strong> </p>
                                                        <p><strong> Discount</strong></p>
                                                        <p> <strong>Shipping Cost From Buyer</strong></p>
                                                        <p>
                                                            <strong>Shipping Cost For Seller</strong>
                                                        </p>
                                                        <p> <strong>Fixed Fee</strong></p>
                                                    </div>
                                                    <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3">
                                                        <p>:
                                                            <span class="amount right"> {{selectedReport.GrossRevenue}}</span>
                                                        </p>
                                                        <p>:
                                                            <span class="amount right"> {{selectedReport.Discount}}</span>
                                                        </p>
                                                        <p>:
                                                            <span class="amount right"> {{selectedReport.ShippingCostFromBuyer}}</span>
                                                        </p>
                                                
                                                        <p>:
                                                            <span class="amount right"> {{selectedReport.ShippingCostForSeller}}</span>
                                                        </p>
                                                        <p>:
                                                            <span class="amount right"> {{selectedReport.FixedFee}}</span>
                                                        </p>
                                                    </div>
                                                    <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3">
                                                        <p><strong>Commission </strong> </p>
                                                        <p><strong> Collection Amount</strong></p>
                                                        <p> <strong>Collection Fee</strong></p>
                                                        <p>
                                                            <strong>GST</strong>
                                                        </p>
                                                        <p> <strong>Net Revenue</strong></p>
                                                    </div>
                                                    <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3">
                                                        <p>:
                                                            <span class="amount right"> {{selectedReport.Commission}}</span>
                                                        </p>
                                                        <p>:
                                                            <span class="amount right"> {{selectedReport.CollectionAmount}}</span>
                                                        </p>
                                                        <p>:
                                                            <span class="amount right"> {{selectedReport.CollectionFee}}</span>
                                                        </p>
                                                
                                                        <p>:
                                                            <span class="amount right"> {{selectedReport.GST}}</span>
                                                        </p>
                                                        <p>:
                                                            <span class="amount right"> {{selectedReport.NetRevenue}}</span>
                                                        </p>
                                                    </div>
                                                 </div>
                                             </div>
                                        </div>
                                    </div>
                                </div>

      

            
    
            
              </div>
    </div>
              
    <ng-template #addNewTemplate>
                <div class="hidden-xs">
                        <div style="margin-top:150px; margin-bottom:50px" class="text-center">
                                <i class="fa fa-trash" style="font-size:100px;"></i>
        
                        </div>
                        <div class="col-xs-12 text-center">
                                <span style="margin:auto;">No Orders To Show</span>
                        </div>
                </div>
        </ng-template>