<div class="pt-20">
    <div class="Clsborder">
        <div class="Clstitle_cover">
            <h2 class="heading relative uppercase bottom-line style-2 left-align mb-0">Save Shipping Profile
                <a href="javascript:;" class="Clstooltip">
                    <i class="fa fa-info-circle"></i>
                    <span class="Clstooltip_text">The shipping profile listed here will be available for selection in
                        your listing manager.</span>
                </a>
            </h2>
        </div>
        <form class="form" id="addShippingAddressForm" #addShippingAddressForm="ngForm">
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <mat-form-field class="Clsfull-width">
                        <input matInput type="text" id="Shippingname" [(ngModel)]="this.shippingprofileModelCustom.Name"
                            name="Shippingname" #Name="ngModel" placeholder="Shipping Profile Name" class="mb-0"
                            (blur)="shippingprofileModel.Name = shippingprofileModel.Name.trim()">
                    </mat-form-field>
                    <!-- <div class="text-danger vd-msg">
                        <div *ngIf="Name.errors && (Name.dirty || Name.touched)" [hidden]="!Name.errors.required">
                            Profile Name is required!
                        </div>
                    </div> -->
                </div>
                <div class="col-sm-6 col-xs-12">
                    <mat-form-field class="Clsfull-width">
                        <mat-label>Select business days</mat-label>
                        <mat-select id="ProcessingTime" [(ngModel)]="this.methodModel.ProcessingTime"
                            name="ProcessingTime" #ProcessingTime='ngModel' class="mb-0">
                            <mat-option>None</mat-option>
                            <mat-option value="1 business day">1 business day</mat-option>
                            <mat-option value="1-2 business days">1-2 business days</mat-option>
                            <mat-option value="1-3 business days">1-3 business days</mat-option>
                            <mat-option value="3-5 business days">3-5 business days</mat-option>
                            <mat-option value="1-2 weeks">1-2 weeks</mat-option>
                            <mat-option value="2-3 weeks">2-3 weeks</mat-option>
                            <mat-option value="3-4 weeks">3-4 weeks</mat-option>
                            <mat-option value="4-6 weeks">4-6 weeks</mat-option>
                            <mat-option value="6-8 weeks">6-8 weeks</mat-option>
                            <mat-option value="Unknown">Unknown</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <!-- <div *ngIf="this.methodModel.ProcessingTime == ''" class="text-danger vd-msg">
                        Processing time is required!
                    </div> -->
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 col-xs-12">
                    <mat-form-field class="Clsfull-width">
                        <input matInput type="number" min='0' [(ngModel)]="this.shipsToModel.Cost" name="shipToCost"
                            placeholder="Cost" #shipToCost="ngModel" class="mb-0">
                    </mat-form-field>
                    <!-- <div *ngIf="(this.shipsToModel.Cost == null)? true: (this.shipsToModel.Cost.toString().trim().length == 0)"
                            class="text-danger vd-msg">
                            Shipping cost is required!
                        </div> -->
                </div>
                <div class="col-sm-4 col-xs-12">
                    <mat-form-field class="Clsfull-width">
                        <input matInput type="number" min='0' [(ngModel)]="this.shipsToModel.CostWithAnotherItem"
                            name="shipToCostWithAnotherItem" placeholder="Cost With Another Item"
                            #shipToCostWithAnotherItem="ngModel" class="mb-0">
                    </mat-form-field>
                    <!-- <div *ngIf="(this.shipsToModel.CostWithAnotherItem == null)? true: (this.shipsToModel.CostWithAnotherItem.toString().trim().length == 0)"
                            class="text-danger vd-msg">
                            Cost with another item is required!
                        </div> -->
                </div>
                <div class="col-sm-4 col-xs-12">
                    <mat-form-field class="Clsfull-width">
                        <input matInput type="number" min='0' [(ngModel)]="this.shipsToModel.FreeShippingTotalValue"
                            name="shipToFreeShippingTotalValue" #shipToFreeShippingTotalValue='ngModel' class="mb-0"
                            placeholder="Free Shipping Total Value">
                    </mat-form-field>
                    <!-- <div *ngIf="(this.shipsToModel.FreeShippingTotalValue == null)? true: (this.shipsToModel.FreeShippingTotalValue.toString().trim().length == 0)"
                            class="text-danger vd-msg">
                            Free shipping total value is required!
                        </div> -->
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button type="button" class="Clscommon_btn_small Clsback_button Clsbtn_space_right"
                        (click)="goBack()">
                        <span><i class="fa clsbtn_arrow fa-caret-left" aria-hidden="true"></i>&nbsp;&nbsp;Back</span>
                    </button>
                    <input type="button" class="Clscommon_btn_fill_small" *ngIf="!edit" (click)="add()"
                        value="Save Profile">
                    <input type="button" class="Clscommon_btn_fill_small" *ngIf="edit" (click)="editShippingProfile()"
                        value="Save">
                </div>
            </div>
        </form>
    </div>
</div>