<!-- <span class="text">
<i class="tostm material-icons m-icons ano">check</i>
</span>
<span class="text">Hi this is a Success notification</span> -->


<span class="text">
    <i class="tostm material-icons m-icons err">close</i>
    </span>
    <span class="text">{{data}}</span>

