<div class="row">
    <div>
        <h2 class="heading relative heading-small uppercase bottom-line style-2 left-align mb-0 pt-20 ">Vacation Details</h2>
    </div>
    <!-- <div class = "row">
            <button class="btn btn-sm btn-color pull-right" (click)="resetVacationDetail()">Reset All</button>
        </div> -->
    <div class = "row" *ngIf="!showlist">
            <button type="button" class="btn btn-sm btn-color" style="margin-bottom: 20px;margin-left:10px" (click)=" goBack()">
                    <span class="fa fa-arrow-left" aria-hidden="true"></span>
                </button>
    <form id="reportsForm" #reportsForm='ngForm'>
        <div class="col-md-4">
            <!-- <label for="StartDate">Start Date:</label> -->
            <div>
                    <mat-form-field class="example-full-width">

                            <input matInput [(ngModel)]="this.vacationDetails.vacationFrom" name="StartDate" [style]="{'height':'40px'}" [matDatepicker]="picker1" placeholder="Start date" required>
                            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                            <mat-datepicker touchUi #picker1 ></mat-datepicker>
                    </mat-form-field>
                    <!-- <p-calendar [(ngModel)]="this.vacationDetails.vacationFrom" [style]="{'height':'40px'}" [showIcon]="true" [monthNavigator]="true"
                    [yearNavigator]="true"  yearRange="2000:2099" name="vacationFrom"  showButtonBar="true"
                    placeholder="mm/dd/yyyy" required #vacationFrom="ngModel"></p-calendar> -->
            </div>
        </div>
        <div class="col-md-4" >
            <!-- <label for="EndDate">End Date:</label> -->
            <div>
                    <mat-form-field class="example-full-width">

                            <input matInput [(ngModel)]="this.vacationDetails.vacationTo" name="EndDate" format="DD-MM-YYYY" [style]="{'height':'40px'}" [matDatepicker]="picker" placeholder="End date" required>
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker touchUi #picker ></mat-datepicker>
                    </mat-form-field>
                    <!-- <p-calendar [(ngModel)]="this.vacationDetails.vacationTo"  [style]="{'height':'40px'}" [showIcon]="true" [monthNavigator]="true"
                    [yearNavigator]="true" yearRange="2000:2099" name="vacationTo" showButtonBar="true"
                    placeholder="mm/dd/yyyy" required #vacationTo="ngModel"></p-calendar> -->
            </div>
        </div>
        <div class="col-md-4" style="margin-top: 13px;" *ngIf="!editbutton">
            <button class="btn btn-sm btn-color pull-left" (click)="vacationDetail()" [disabled]="!reportsForm.form.valid">Add</button>
        </div>
        <div class="col-md-4" style="margin-top: 13px;" *ngIf="editbutton">
            <button class="btn btn-sm btn-color pull-left" (click)="updateVacationDetail()" [disabled]="!reportsForm.form.valid">Update</button>
        </div>
      
    </form>
    </div>
    <div class="col-md-12 mt-15" *ngIf="showlist && vacationList?.length > 0;else addNewTemplate">
        <div class = "row">
            <button class="btn btn-sm btn-color pull-right" (click)="addNew()">Add</button>
        </div>
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th class="text-center">
                        #
                    </th>
                    <th class="text-center">
                        Start Date
                    </th>
                    <th class="text-center">
                        End Date
                    </th>
                    <th class="text-center">
                        Status
                    </th>
                    <th class="text-center">
                        Edit</th>
                    <th class="text-center">
                        Delete
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr  class="text-center" *ngFor="let vacation of vacationList; let i=index">
                    <td>{{i+1}}</td>
                    <td>{{vacation.vacationFrom | date:'dd MMM yyyy'}}</td>
                    <td>{{vacation.vacationTo | date:'dd MMM yyyy'}}</td>
                    <td>{{vacation.Status}}</td>
                    <!-- <td *ngIf="!vacation.Active">InActive</td> -->
                    <td  *ngIf="vacation.Status!='Expired'">
                            <a href="javascript:;">
                                <i class="fa fa-edit" style="font-size:20px;color:black;" (click)="edit(vacation)"></i>
                            </a>
                    </td>
                    <td  *ngIf="vacation.Status!='Expired'"> 
                        <a href="javascript:;">
                            <i class="fa fa-trash-o" style="font-size:20px;color:black;" (click)="confirmDelete(vacation._id)"></i>
                        </a>
                    </td>
                    <td *ngIf="vacation.Status=='Expired'">
                        <a href="javascript:;">
                            <i class="fa fa-edit" style="font-size:20px;color:gray;" ></i>
                        </a>
                </td>
                <td  *ngIf="vacation.Status=='Expired'">
                    <a href="javascript:;">
                        <i class="fa fa-trash-o" style="font-size:20px;color:gray;" ></i>
                    </a>
                </td>
                </tr>
            </tbody>
        </table> 
        <div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Delete </h4>
                    </div>
                    <div class="modal-body">
                        Are you sure to delete this vacation?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-sm btn-red right rounded mleft" (click)="delete()" data-dismiss="modal">Confirm</button>
                        <button type="button" class="btn btn-sm btn-color right rounded" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #addNewTemplate>

 
    <!-- <div *ngIf="this.pageLoader" class="loader" style="top:130px;left:46%;display: block">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
        </svg>
    </div> -->
    <div *ngIf="this.showlist" >

        <div style="margin-top:150px; margin-bottom:50px" class="text-center">
            <i class="fa fa-trash" style="font-size:100px;"></i>

        </div>

        <div class="col-xs-12 text-center">
            <input type="button" style="width:180px;" class="btn btn-color rounded" (click)="addNew()"
                value="Add New">
      
        </div>
    </div>
</ng-template>