
<style>
thead tr th {
     position: sticky; 
     top: 0;
     background-color: white
    }
</style>
<h1>Unsold Listings Report <span *ngIf="!showselectedReport && reportData.length>0" style="padding-left:423px;"><a href="javascript:;;" (click)="DownloadReport()"> <i class="fa fa-download"></i></a></span></h1>
<div class="table-wrap mt-15 col-lg-12 col-md-12 col-sm-12 hidden-xs" *ngIf="showReport" >
    <div *ngIf="reportData?.length > 0;else addNewTemplate">
    <div>
            <button type="button" class="btn btn-sm btn-color" (click)=" goBack()">
                <span class="fa fa-arrow-left" aria-hidden="true"></span>
            </button>
        </div>
        <div class="purchase_container">
            <div class="row purchase_title m-0" *ngIf="this.showDate">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <p>
                            <strong>Start Date : {{this.reportsModel.ReportType?.StartDate | date:'dd MMM yyyy'}}</strong>
                        </p>
                     
                    </div>
                   
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <p>
                            <strong>End Date : {{this.reportsModel.ReportType?.ExpiryDate | date:'dd MMM yyyy'}}</strong>
                        </p>
                      
                    </div>
                  
            </div>
            <div class="row purchase_title m-0" *ngIf="!this.showDate">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <p>
                            <strong>Month : {{this.Month }}</strong>
                        </p>
                     
                    </div>
                   
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <p>
                            <strong>Year : {{this.Year }}</strong>
                        </p>
                      
                    </div>
                  
            </div>
        </div>
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Product Name</th>
                <th>Product SKU</th>
                <!-- <th>Variation Id</th> -->
                <th>Created On</th>
                <th>LastSale Date</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of reportData; let i = index">
                <td>{{i+1}}</td>
                <td style="cursor: pointer;" (click)="selected(data);"> {{data.ProductName}} </td>
                <td style="cursor: pointer;" (click)="selected(data);"><span *ngIf="data.Id">{{data.Id}} </span> <span *ngIf="!data.Id"> - </span></td>
                <!-- <td  style="cursor: pointer;" (click)="selected(data);">{{data.VariationId}}</td> -->
                <td  style="cursor: pointer;" (click)="selected(data);">{{data.CreatedDate | date:'dd MMM yyyy'}}</td>
                <td  style="cursor: pointer;" *ngIf="data.LastSaleDate" (click)="selected(data);">{{data.LastSaleDate | date:'dd MMM yyyy'}}</td>
                <td  style="cursor: pointer;" *ngIf="!data.LastSaleDate" (click)="selected(data);"> - </td>
            </tr>
        </tbody>
    </table>
</div>
</div>

<ng-template #addNewTemplate>
            <div class="hidden-xs">
                    <div style="margin-top:150px; margin-bottom:50px" class="text-center">
                            <i class="fa fa-trash" style="font-size:100px;"></i>
    
                    </div>
                    <div class="col-xs-12 text-center">
                            <span style="margin:auto;">No Orders To Show</span>
                    </div>
            </div>
    </ng-template>