

<h1>Order Details Report<span *ngIf="!showselectedReport && reportData?.length > 0" style="padding-left:423px;"><a href="javascript:;;" (click)="DownloadReport()"> <i
    class="fa fa-download"></i></a></span></h1>

<div class="table-wrap mt-15 col-lg-12 col-md-12 col-sm-12 hidden-xs" *ngIf="showReport" >
        
        <div>
                <button type="button" class="btn btn-sm btn-color" (click)=" goBack()">
                    <span class="fa fa-arrow-left" aria-hidden="true"></span>
                </button>
        </div>
        <div *ngIf="reportData?.length > 0;else addNewTemplate">
        <div class="purchase_container">
            <div class="row purchase_title m-0" *ngIf="this.showDate">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <p>
                            <strong>Start Date : {{this.reportsModel.ReportType?.StartDate | date:'dd MMM yyyy'}}</strong>
                        </p>
                     
                    </div>
                   
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <p>
                            <strong>End Date : {{this.reportsModel.ReportType?.ExpiryDate | date:'dd MMM yyyy'}}</strong>
                        </p>
                      
                    </div>
                  
            </div>
            <div class="row purchase_title m-0" *ngIf="!this.showDate">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <p>
                            <strong>Month : {{this.Month }}</strong>
                        </p>
                     
                    </div>
                   
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <p>
                            <strong>Year : {{this.Year }}</strong>
                        </p>
                      
                    </div>
                  
            </div>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Order #</th>
                    <th>Order Date</th>
                    <!-- <th>Shop Id</th> -->
                    <!-- <th>Shop Name</th> -->
                    <!-- <th>Product Id</th> -->
                    <!-- <th>Product Name</th> -->
                    <!-- <th>Selling  Price</th> -->
                    <th>Net Revenue</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of reportData; let i = index">
                    <td>{{i+1}}</td>
                    <td style="cursor: pointer;" (click)="selected(data);">
                        {{data.OrderId}}
                    </td>
                
                    <td  style="cursor: pointer;" (click)="selected(data);">{{data.OrderDate | date:'dd MMM yyyy'}}</td>
                    
                    <!-- <td  style="cursor: pointer;" (click)="selected(data);"><p title="{{data.ProductName}}">{{data.ProductName | shorten: 40: ' ...'}}</p></td> -->
                    <!-- <td  style="cursor: pointer;" (click)="selected(data);">{{data.SellingPrice}}</td> -->
                    <td  style="cursor: pointer;" (click)="selected(data);">{{data.NetRevenue}}</td>
                    
              
                    <!-- <td>{{order.Totals.ProductCost + order.Totals.ShippingCost - order.Totals.CouponDiscount}}</td>
                    <td>{{data.ShopId}}</td>
                    <td class="text-center">
                        <div>
                            <span class="cursor_pointer" *ngIf="!(order.OrderDetailId)" (click)="form(order._id,order)">
                                <i class="fa fa-plus unpinIcon" aria-hidden="true"></i>
                            </span>
                            <span class="cursor_pointer" *ngIf="order.OrderDetailId" (click)="editPackageDetails(order.OrderDetailId, order)">
                                <i class="fa fa-edit unpinIcon" aria-hidden="true"></i>
                            </span>
                        </div> -->
                        <!--
            <button type="button" class="btn btn-sm btn-color" *ngIf="order.OrderDetailId==''" (click)="form(order._id,order)">Fill Package Details</button>
                                    <a href="javascript:;" *ngIf="order.OrderDetailId!=''" (click)="editPackageDetails(order.OrderDetailId, order)">Edit Package Details</a>-->

                   <!-- </td>
                    <td class="text-center">
                        <div>
                            <span class="cursor_pointer" *ngIf="order.OrderDetailId" (click)="action(order._id)" >
                              <i class="fa fa-print unpinIcon"></i>
                            </span>
                            <span  *ngIf="!(order.OrderDetailId)" style="color:lightgrey; font-size: 17px" >
                                    <i class="fa fa-print"></i>
                            </span>
                        </div>
                    </td>-->
                </tr>
            </tbody>
        </table>
       </div>
</div>
    <div class="table-wrap mt-15 col-lg-12 col-md-12 col-sm-12 hidden-xs" *ngIf="showselectedReport" >
            <div>
                    <button type="button" class="btn btn-sm btn-color" (click)=" report()">
                        <span class="fa fa-arrow-left" aria-hidden="true"></span>
                    </button>
             </div>

            <div class="row mb-30 mt-2">
                                <div class="purchase_container">
                                    <div class="row purchase_title m-0">
                                        <div class="col-lg-6 col-md-4 col-sm-4 col-xs-12">
                                            <p>
                                                <strong>Order #</strong>
                                            </p>
                                            <p>{{selectedReport.OrderId}}</p>
                                        </div>
                                        <div class="col-lg-6 col-md-4 col-sm-4 col-xs-12">
                                            <p>
                                                <strong>Order Date</strong>
                                            </p>
                                            <p>{{selectedReport.OrderDate   | date:'dd MMM yyyy'}}</p>
                                        </div>
                                        <!-- <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                            <p>
                                                <strong>Item Number</strong>
                                            </p>
                                            <p>{{selectedReport.ItemNumber}}</p>
                                        </div> -->
                                        <!-- <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                            <p>
                                                <strong>Product Id</strong>
                                            </p>
                                            <p>{{selectedReport.ProductId}}</p>
                                        </div> -->
                                        <!-- <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                            <button type="button" class="mt-20 btn btn-sm btn-color" (click)="cancel(order,order._id,'All')" *ngIf="checkCancelHours(order.CreatedDate,order.OrderStatus)">Cancel Order</button>
                                        </div> -->
                                    </div>
                                    <!-- <div class="row purchase_body" *ngFor="let shopId of order.Items[0][getShopkey(selectedOrder[i].Items[0])];let i=index;" > -->
                                   
                                </div>
                                <div class="row purchase_container mt-2">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class=" panel panel-default">
                                                <div class="panel-heading text-uppercase">
                                                    <span><strong>Revenue & Cost Details</strong></span>
                                                </div>
                                                 <div class="panel-body">
                                                     <div class="row">
                                                        <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3">
                                                            <!-- <p><strong>Selling Price</strong> </p> -->
                                                            <p><strong> Discount</strong></p>
                                                            <p> <strong>Shipping Cost From Buyer</strong></p>
                                                            <p>
                                                                <strong>Shipping Cost For Seller</strong>
                                                            </p>
                                                            <p> <strong>Fixed Fee</strong></p>
                                                        </div>
                                                        <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3">
                                                            <!-- <p>:
                                                                <span class="amount right"> {{selectedReport.SellingPrice}}</span>
                                                            </p> -->
                                                            <p>:
                                                                <span class="amount right"> {{selectedReport.Discount}}</span>
                                                            </p>
                                                            <p>:
                                                                <span class="amount right"> {{selectedReport.ShippingCostFromBuyer}}</span>
                                                            </p>
                                                    
                                                            <p>:
                                                                <span class="amount right"> {{selectedReport.ShippingCostForSeller}}</span>
                                                            </p>
                                                            <p>:
                                                                <span class="amount right"> {{selectedReport.FixedFee}}</span>
                                                            </p>
                                                        </div>
                                                        <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3">
                                                            <p><strong>MarketPlace Commission </strong> </p>
                                                            <p><strong> Collection Amount</strong></p>
                                                            <p> <strong>Collection Fee</strong></p>
                                                            <p>
                                                                <strong>GST</strong>
                                                            </p>
                                                            <p> <strong>Net Revenue</strong></p>
                                                        </div>
                                                        <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3">
                                                            <p>:
                                                                <span class="amount right"> {{selectedReport.MarketPlaceCommission}}</span>
                                                            </p>
                                                            <p>:
                                                                <span class="amount right"> {{selectedReport.CollectionAmount}}</span>
                                                            </p>
                                                            <p>:
                                                                <span class="amount right"> {{selectedReport.CollectionFee}}</span>
                                                            </p>
                                                    
                                                            <p>:
                                                                <span class="amount right"> {{selectedReport.GST}}</span>
                                                            </p>
                                                            <p>:
                                                                <span class="amount right"> {{selectedReport.NetRevenue}}</span>
                                                            </p>
                                                        </div>
                                                     </div>
                                                 </div>
                                            </div>
                                        </div>
                                    </div>

                                

            
    
            
            </div>
    </div>
    <ng-template #addNewTemplate>
                <div class="hidden-xs">
                        <div style="margin-top:150px; margin-bottom:50px" class="text-center">
                                <i class="fa fa-trash" style="font-size:100px;"></i>
        
                        </div>
                        <div class="col-xs-12 text-center">
                                <span style="margin:auto;">No Orders To Show</span>
                        </div>
                </div>
    </ng-template>