<style>
input[type="text"],input[type="number"],input[type="email"],input[type="password"] {
	border: none !important;
	margin-bottom: 0px !important;
	padding: 0px !important;
}
</style>
<div class="row" style="margin-left:6px;margin-top:13px">
  
    <!-- <div class = "row">
            <button class="btn btn-sm btn-color pull-right" (click)="resetVacationDetail()">Reset All</button>
        </div> -->
    <div class = "row" *ngIf="!showlist">
            <button type="button" class="btn btn-sm btn-color" style="margin-bottom: 20px;margin-left:10px" (click)=" goBack()">
                    <span class="fa fa-arrow-left" aria-hidden="true"></span>
                </button>
    <form id="reportsForm" #reportsForm='ngForm'>
        <div class="col-md-3">
            <!-- <label for="StartDate">Start Date:</label> -->
            <div>
                    <mat-form-field class="example-full-width">

                            <input matInput [(ngModel)]="this.shippingDetails.StartDate" name="StartDate" [style]="{'height':'40px'}" [matDatepicker]="picker1" placeholder="Start date" required>
                            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                            <mat-datepicker touchUi #picker1 ></mat-datepicker>
                    </mat-form-field>
        
            </div>
        </div>
        <div class="col-md-3" >
            <div>
                    <mat-form-field class="example-full-width">

                            <input matInput [(ngModel)]="this.shippingDetails.EndDate" name="EndDate" format="DD-MM-YYYY" [style]="{'height':'40px'}" [matDatepicker]="picker" placeholder="End date" required>
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker touchUi #picker ></mat-datepicker>
                    </mat-form-field>
                   
            </div>
        </div>
        <div class="col-md-3" style="margin-top:-23px">
            <div>
                   
                <mat-form-field class="example-full-width">
                    <input matInput type="number" placeholder="Amount" name="CommissionAmount" [(ngModel)]="this.shippingDetails.Amount"
                     #CommissionAmount="ngModel" required>
                </mat-form-field>
            </div>
        </div>
        <div class="col-md-3" style="margin-top: 13px;" *ngIf="!editbutton">
            <button class="btn btn-sm btn-color pull-left" (click)="AddShippingAmount()" [disabled]="!reportsForm.form.valid">Add</button>
        </div>
        <div class="col-md-3" style="margin-top: 13px;" *ngIf="editbutton">
            <button class="btn btn-sm btn-color pull-left" (click)="updateShippingDetail()" [disabled]="!reportsForm.form.valid">Update</button>
        </div>
      
    </form>
    </div>
    <div class="col-md-12 mt-15" *ngIf="showlist && vacationList?.length > 0;else addNewTemplate">
        <div class = "row">
            <button class="btn btn-sm btn-color pull-right" style="margin-right: 20px" (click)="addNew()">Add</button>
        </div>
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th class="text-center">
                        #
                    </th>
                    <th class="text-center">
                        Start Date
                    </th>
                    <th class="text-center">
                        End Date
                    </th>
                    <th class="text-center">
                        Amount
                    </th>
                    <th class="text-center">
                        Edit</th>
                    <!-- <th class="text-center">
                        Delete
                    </th> -->
                </tr>
            </thead>
            <tbody>
                <tr  class="text-center" *ngFor="let vacation of vacationList; let i=index">
                    <td>{{i+1}}</td>
                    <td>{{vacation.startDate | date:'dd MMM yyyy'}}</td>
                    <td>{{vacation.endDate | date:'dd MMM yyyy'}}</td>
                    <td>{{vacation.amount}}</td>
                    <!-- <td *ngIf="!vacation.Active">InActive</td> -->
                    <td >
                        <a href="javascript:;">
                            <i class="fa fa-edit" style="font-size:20px;color:black;" (click)="edit(vacation)"></i>
                        </a>
                    </td>

                </tr>
            </tbody>
        </table> 
    </div>
</div>
<ng-template #addNewTemplate>

 
    <!-- <div *ngIf="this.pageLoader" class="loader" style="top:130px;left:46%;display: block">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
        </svg>
    </div> -->
    <div *ngIf="this.showlist" >

        <div style="margin-top:150px; margin-bottom:50px" class="text-center">
            <i class="fa fa-trash" style="font-size:100px;"></i>

        </div>

        <div class="col-xs-12 text-center">
            <input type="button" style="width:180px;" class="btn btn-color rounded" (click)="addNew()"
                value="Add New">
      
        </div>
    </div>
</ng-template>