.flexer,
.progress-indicator {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex
}

.no-flexer,
.progress-indicator.stacked {
	display: block
}

.no-flexer-element {
	-ms-flex: 0;
	-webkit-flex: 0;
	-moz-flex: 0;
	flex: 0
}

.flexer-element,
.progress-indicator>li {
	-ms-flex: 1;
	-webkit-flex: 1;
	-moz-flex: 1;
	flex: 1
}

.progress-indicator {
	margin: 0 0 1em;
	padding: 0;
	font-size: 80%;
	text-transform: uppercase
}

.progress-indicator>li {
	list-style: none;
	text-align: center;
	width: auto;
	padding: 0;
	margin: 0;
	position: relative;
	text-overflow: ellipsis;
	color: #bbb;
	display: block
}

.progress-indicator>li:hover {
	color: var(--sub-text-color)
}
.progress-indicator>li.cancelled,
.progress-indicator>li.cancelled .bubble {
	color: var(--error-color);
}
.progress-indicator>li.completed,
.progress-indicator>li.completed .bubble {
	color: var(--primary-color);
}

.progress-indicator>li .bubble {
	border-radius: 1000px;
	width: 20px;
	height: 20px;
	background-color: #bbb;
	display: block;
	margin: 0 auto .5em;
	border-bottom: 1px solid #888
}

.progress-indicator>li .bubble:after,
.progress-indicator>li .bubble:before {
	display: block;
	position: absolute;
	top: 9px;
	width: 100%;
	height: 3px;
	content: '';
	background-color: #bbb
}

.progress-indicator>li.completed .bubble,
.progress-indicator>li.completed .bubble:after,
.progress-indicator>li.completed .bubble:before {
	background-color: var(--primary-color);
	border-color: var(--primary-color)
}
.progress-indicator>li.cancelled .bubble,
.progress-indicator>li.cancelled .bubble:after,
.progress-indicator>li.cancelled .bubble:before {
	background-color: var(--error-color);
	border-color: var(--error-color)
}
.progress-indicator>li .bubble:before {
	left: 0
}

.progress-indicator>li .bubble:after {
	right: 0
}

.progress-indicator>li:first-child .bubble:after,
.progress-indicator>li:first-child .bubble:before {
	width: 50%;
	margin-left: 50%
}

.progress-indicator>li:last-child .bubble:after,
.progress-indicator>li:last-child .bubble:before {
	width: 50%;
	margin-right: 50%
}

.progress-indicator>li.active,
.progress-indicator>li.active .bubble {
	color: #337AB7
}

.progress-indicator>li.active .bubble,
.progress-indicator>li.active .bubble:after,
.progress-indicator>li.active .bubble:before {
	background-color: #337AB7;
	border-color: #122a3f
}

.progress-indicator>li a:hover .bubble,
.progress-indicator>li a:hover .bubble:after,
.progress-indicator>li a:hover .bubble:before {
	background-color: #5671d0;
	border-color: #1f306e
}

.progress-indicator>li a:hover .bubble {
	color: #5671d0
}

.progress-indicator>li.danger .bubble,
.progress-indicator>li.danger .bubble:after,
.progress-indicator>li.danger .bubble:before {
	background-color: #d3140f;
	border-color: #440605
}

.progress-indicator>li.danger .bubble {
	color: #d3140f
}

.progress-indicator>li.warning .bubble,
.progress-indicator>li.warning .bubble:after,
.progress-indicator>li.warning .bubble:before {
	background-color: #edb10a;
	border-color: #5a4304
}

.progress-indicator>li.warning .bubble {
	color: #edb10a
}

.progress-indicator>li.info .bubble,
.progress-indicator>li.info .bubble:after,
.progress-indicator>li.info .bubble:before {
	background-color: #5b32d6;
	border-color: #25135d
}

.progress-indicator>li.info .bubble {
	color: #5b32d6
}

.progress-indicator.stacked>li {
	text-indent: -10px;
	text-align: center;
	display: block
}

.progress-indicator.stacked>li .bubble:after,
.progress-indicator.stacked>li .bubble:before {
	left: 50%;
	margin-left: -1.5px;
	width: 3px;
	height: 100%
}

.progress-indicator.stacked .stacked-text {
	position: relative;
	z-index: 10;
	top: 0;
	margin-left: 60%!important;
	width: 45%!important;
	display: inline-block;
	text-align: left;
	line-height: 1.2em
}

.progress-indicator.stacked>li a {
	border: none
}

.progress-indicator.stacked.nocenter>li .bubble {
	margin-left: 0;
	margin-right: 0
}

.progress-indicator.stacked.nocenter>li .bubble:after,
.progress-indicator.stacked.nocenter>li .bubble:before {
	left: 10px
}

.progress-indicator.stacked.nocenter .stacked-text {
	width: auto!important;
	display: block;
	margin-left: 40px!important
}
.alert {
	font-size: 12px !important;
	padding: 0px !important;
	margin-bottom: 10px !important;
	color: #ff0000 !important;
	margin-top: -6px;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"],
textarea {
	border: none !important;
	margin-bottom: 0px !important;
	padding: 0px !important;
	box-shadow: none;
}

.form-control:focus {
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}

h6::first-letter {
	text-transform: capitalize;
}

h6.onHover:hover,
h6.onHover:active {
	color: #40BEAD;
}

.md-button {
	padding: 0 6px 0 6px;
	margin: 6px 8px 6px 8px;
	min-width: 88px;
	border-radius: 3px;
	font-size: 14px;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	border: none;
	outline: none;
	background-color: rgba(158, 158, 158, 0.2);
	text-transform: capitalize;
}

.md-button:not([disabled]):hover {
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.mat-select-panel {
	z-index: 100;
	position: absolute;
}

.cdk-overlay-pane {
	z-index: 100;
	position: relative;
}

::ng-deep .cdk-overlay-container {
	z-index: 1400;
}
.Clspurchase_back_arrow {
    position: absolute;
    top: 15px;
    right: 15px;
}
.Clspurchase_product_img {
	display: block;
	text-align: center;
}
.Clspurchase_product_img img {
	object-fit: cover; 
	height: 150px;
	width: 100%;
}
.Clspro_variations p {
	margin: 0;
}
.Clspurchase_body p {
	color: var(--sub-text-color);
}
.Clslink_btn {
    font-weight: 600;
}
.progress-indicator {
	width: 66%; 
	margin-left: auto;
	margin-right: auto;
}
.Clspurchased_product {
    border: 1px solid var(--primary-border-color);
    margin: 0 0 15px;
    background: var(--secondary-bg-color);
    padding: 15px 15px 15px 0;
}
strong {
    font-weight: 600;
}
.Clsapproval_btn {
	padding: 1px 7px 3px;
    background-color: var(--success-color);
    font-weight: 600;
    letter-spacing: .5px;
}
.Clscancel_btn {
	margin-right: 10px;
}
.Clsborder_bottom {
	border-bottom: 1px solid var(--primary-border-color);
}
.Clsborder_top {
	border-top: 1px solid var(--primary-border-color);
}
.modal-header, .modal-footer {
	border: none;
}
.modal-header .close {
    margin-top: -2px;
    font-size: 30px;
    font-weight: 400;
}
.Clscard_footer p {
	color: var(--primary-text-color);
}
.Clsticket_id {
	font-weight: 400;
	word-break: break-all;
}
.purchase_title {
    overflow-x: auto;
}
@media (max-width:991px) {
	.Clsapproval_btn {
		font-size: 12px;
	  }
}
@media (max-width: 767px) {
	.Clspurchase_product_img img {
		height: 100px;
		width: auto;
	}
	.progress-indicator {
		width: 100%;
	}
	.Clsorder_id {
		padding: 8px 6px;
		font-size: 10px;
	}
	.Clscard_footer p {
		text-align: center;
	}
	.Clscard_links {
		text-align: center !important;
	}
	.comment-header .img-circle {
		border-radius: 50%;
		width: 100px;
		height: 100px;
		margin: auto;
		margin-bottom: 15px;
	}
}
@media handheld,
screen and (max-width:400px) {
	.progress-indicator {
		font-size: 60%
	}
	.Clslink_btn {
		font-size: 11px;
	}
}
