<div *ngIf="showPurchase && !ShowTicket && !replyMail">
    <div *ngIf="orderList.length>0;else addNewTemplate">
        <div class="row" *ngFor="let order of orderList">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                *ngIf="order.OrderType == 1 || order.OrderType == 4">
                <div class="table-wrap mb-30 ml-1">
                    <div class="panel panel-default">
                        <div class="panel-heading text-uppercase">
                            <div class="row">
                                <div class="col-xs-6 text-left">
                                    <button type="button" class="Clsorder_id"
                                        (click)="this.showPurchase = false;this.showOrderDetails=true;this.showReturnedOrderDiv=false;this.selectedOrder=[];purchasedItem(order)"><strong>OR:
                                        </strong>&nbsp;{{order.OrderId}}</button>
                                </div>
                                <div class="col-xs-6 text-right">
                                    <a href="javascript:;" class="Clsview_details"
                                        (click)="this.showPurchase = false;this.showOrderDetails=true;this.showReturnedOrderDiv=false;this.selectedOrder=[];purchasedItem(order);this.goToTop()">View
                                        details <span><i class="fa clsbtn_arrow fa-caret-right"></i></span></a>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="row mb-10 pb-10 Clsborder_bottom" *ngFor="let items of order.Items">
                                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                                    <a class="Clspurchase_product_img" routerLink="/user/product/{{items.Product.Id}}">
                                        <img [ImageBind]="items.Product" alt="Product Image">
                                    </a>
                                </div>
                                <div class="product-Name col-lg-6 col-md-4 col-sm-3 col-xs-12">
                                    <a routerLink="/user/product/{{items.Product.Id}}"
                                        style="text-transform: lowercase">
                                        <h6 class="onHover"
                                            style="font-family:' Open Sans',sans-serif;font-weight: 300;">
                                            {{items.Product.Name| shorten: 40: ' ...'}}</h6>
                                    </a>
                                    <p class="Clsprice">
                                        <span class=""
                                            *ngIf="items.Variation?.Price">{{this.productCurrency.value + items.Variation.Price}}</span>
                                        <span class=""
                                            *ngIf="!items.Variation?.Price && items.Product.Price">{{this.productCurrency.value + items.Product.Price}}</span>
                                    </p>
                                    <ul>
                                        <li *ngIf="items.Product?.Variation">{{items.Product.Variation.Name1}}:
                                            {{items.Product.Variation.Value1}}</li>
                                        <li *ngIf="items.Product?.Variation && items.Product?.Variation?.Name2">
                                            {{items.Product.Variation?.Name2}}:
                                            {{items.Product.Variation?.Value2}}</li>
                                        <li>Seller:{{order.ShopAccountId.approvedBusinessDetails.Name}}</li>
                                    </ul>
                                </div>
                                <div class="Clscard_links col-lg-4 col-md-5 col-sm-5 col-xs-12 text-right">
                                    <ul>
                                        <li *ngIf="order.OrderStatus=='Delivered'||order.OrderStatus=='Completed'"
                                            style="margin-top: 10px">
                                            <span><i class="fa fa-star"></i>&nbsp;&nbsp;</span>
                                            <a href="javascript:;" style="font-size: 16px;font-weight: 600;"
                                                (click)="ReviewModal(order)">Rate and Review</a>
                                        </li>
                                    </ul>
                                    <p *ngIf="items.Product.ProductStatus!='Opened'"
                                        class="product-subtotal Clsapproval_btn btn mt-20 text-center">
                                        {{items.Product.ProductStatus}}&nbsp;&nbsp;<span><i
                                                class="fa clsbtn_arrow fa-check-circle"></i></span></p>
                                    <p *ngIf="items.Product.ProductStatus=='Opened'"
                                        class="product-subtotal Clsapproval_btn btn mt-20 text-center">
                                        {{order.OrderStatus}}&nbsp;&nbsp;<span><i
                                                class="fa clsbtn_arrow fa-check-circle"></i></span></p>
                                </div>
                            </div>
                            <div class="row Clscard_footer">
                                <div class="col-xs-12 col-sm-6">
                                    <p>Ordered On: <span>{{order.CreatedDate | date:'dd MMM yyyy'}}</span>
                                    </p>
                                </div>
                                <div class="col-xs-12 col-sm-6 text-right">
                                    <p>Order Total <strong>{{ productCurrency.value + order.Totals.TotalCost}}</strong>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>

<div class="modal fade" id="cancelOrderModal" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <p>Are you sure to Cancel this order ?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-color rounded" (click)='confirmCancelOrder()'>Yes</button>
                <button type="button" class="btn btn-sm btn-color rounded" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="cancelItemModal" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Cancel Item</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure to Cancel this Item ?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-color rounded" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-sm btn-color rounded" (click)='ProceedToCancel()'>Yes</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="cancelApprovalModal" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Cancel Item</h4>
            </div>
            <div class="modal-body">
                <p>{{this.CancelMsg}}</p>
            </div>
            <div class="modal-footer" *ngIf="!this.CancelAbonded">
                <button type="button" class="btn btn-sm btn-color rounded" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-sm btn-color rounded" (click)='confirmItemCancel()'>Yes</button>
            </div>
            <div class="modal-footer" *ngIf="this.CancelAbonded">
                <button type="button" class="btn btn-sm btn-color rounded" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="confirmCancelOrderModal" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Cancellation Reason</h4>
            </div>
            <div class="modal-body">

                <form Name="cancelReason" id="cancelReason" #cancelReason="ngForm" novalidate>
                    <div class="form-group">
                        <mat-form-field>
                            <mat-select placeholder="Select cancel reason" [(ngModel)]="cancelReasonModel.subject"
                                name="Subject" [ngModelOptions]="{standalone: true}" required>
                                <mat-option value="undefined" selected disabled>Select cancel reason</mat-option>
                                <mat-option value="Order placed by mistake">Order placed by mistake</mat-option>
                                <mat-option value="Price/shipping cost high">Price/shipping cost high</mat-option>
                                <mat-option value="Need to change shipping address">Need to change shipping address
                                </mat-option>
                                <mat-option value="Need to change payment method">Need to change payment method
                                </mat-option>
                                <mat-option value="My reason is not listed">My reason is not listed</mat-option>
                            </mat-select>
                        </mat-form-field>

                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-sm btn-color rounded" [disabled]="!cancelReason.form.valid"
                            (click)='ProceedToCancel()'>Submit</button>
                        <button type="button" class="btn btn-sm btn-color rounded" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" *ngIf="showOrderDetails && !ShowTicket && !replyMail">
    <div class="Clstitle_cover">
        <h2 class="heading relative heading uppercase bottom-line style-2 left-align mb-0">Purchase details</h2>
        <div class="Clspurchase_back_arrow text-right hidden-xs">
            <button type="button" class="Clsback_btn Clscommon_btn_fill_small"
                (click)="this.showPurchase = true;this.showOrderDetails=false;this.showReturnedOrderDiv=false">
                <span class="fa fa-arrow-left" aria-hidden="true"></span>
            </button>
        </div>
    </div>
    <div class="row mb-30 mt-2" *ngFor="let order of selectedOrder;let i=index">
        <div class="purchase_container">
            <div class="row purchase_title Clstable_h_overflow m-0">

                <table class="table table-responsive Clstable_h_scroll Clspurchase_details_table mb-0">
                    <thead>
                        <tr>
                            <th>Sold by</th>
                            <th>Order Date</th>
                            <th>Order #</th>
                            <th>Tracking Number</th>
                            <th>Courier Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><a routerLink="/user/shop/{{order.Items[0].Product.ShopId}}">
                                    {{order.ShopAccountId.approvedBusinessDetails.Name}}
                                </a></td>
                            <td>{{order.CreatedDate | date:'dd MMM yyyy'}}</td>
                            <td>{{order.OrderId}}</td>
                            <td>{{order.ZepoReferenceId.TransactionDetails.shipments[0].shipmentPackages.tracking_number}}
                            </td>
                            <td>{{order.ZepoReferenceId.TransactionDetails.shipments[0].courier_name}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="col-xs-12 mt-20 text-right">
                    <a href="javascript:;" class="Clscancel_order" (click)="cancel(order,order._id,'All')"
                        *ngIf="checkCancelHours(order.CreatedDate,order.OrderStatus,order)">Cancel Order <span><i
                                class="fa clsbtn_arrow fa-caret-right"></i></span></a>
                </div>
            </div>
            <div class="Clspurchase_body">
                <div class="row Clspurchased_product" *ngFor="let shopId of order.Items;let i=index;">
                    <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                        <a class="Clspurchase_product_img"  routerLink="/user/product/{{shopId.Product.Id}}">
                            <img alt="purchase product image" [ImageBind]="shopId.Product">
                        </a>
                    </div>
                    <div class="col-lg-6 col-md-4 col-sm-3 col-xs-12">
                        <h6 class="text-truncate">
                            <a routerLink="/user/product/{{shopId.Product.Id}}">
                                {{shopId.Product.Name}}
                            </a></h6>
                        <p class="Clsprice" *ngIf="shopId.Product?.Variation">
                            <span> {{productCurrency.value + shopId.Product.Variation.Price}}</span>
                            x {{shopId.Product.Qty}}
                        </p>
                        <p class="Clsprice" *ngIf="!shopId.Product?.Variation && shopId.Product?.Price">
                            <span> {{productCurrency.value + shopId.Product.Price}}</span> x
                            {{shopId.Product.Qty}}
                        </p>
                        <div class="Clspro_variations"  *ngIf="shopId.Product?.Variation">
                            <p>
                                <strong>{{shopId.Product.Variation.Name1}}:</strong>&nbsp;&nbsp;<span>{{shopId.Product.Variation.Value1}}</span>
                            </p>
                            <p *ngIf="shopId.Product.Variation?.Name2">
                                <strong>{{shopId.Product.Variation.Name2}}:</strong>&nbsp;&nbsp;<span>{{shopId.Product.Variation.Value2}}</span>
                            </p>
                        </div>
                    </div>
                    <div class="Clscard_links col-lg-4 col-md-5 col-sm-5 col-xs-12 text-right">
                        <div class="row">
                            <a href="javascript:;" class="Clslink_btn" (click)="cancel(shopId.Product,order._id,'Item')"
                                *ngIf="checkCancelHours(order.CreatedDate,order.OrderStatus,order) && order.Items.length != 1 ">Cancel
                                Item <span><i class="fa clsbtn_arrow fa-caret-right"></i></span></a>
                        </div>
                        <div class="row">
                            <a href="javascript:;" class="Clslink_btn"
                                *ngIf="order.OrderStatus=='Delivered'||order.OrderStatus=='Completed'"
                                (click)="ReviewModal(order)">Rate & Review item <span><i
                                        class="fa clsbtn_arrow fa-caret-right"></i></span></a>
                        </div>
                        <div class="row"
                            *ngIf="order.OrderStatus == 'Delivered' && shopId.Product.ProductStatus=='Replacement Approved'">
                            <a href="javascript:;" class="Clslink_btn"
                                (click)="showReturnedOrder(order._id,'replace',shopId.Product.Id);this.goToTop();">View Replaced order
                                <span><i class="fa clsbtn_arrow fa-caret-right"></i></span></a>
                        </div>
                        <div class="row"
                            *ngIf="order.OrderStatus == 'Delivered' && shopId.Product.ProductStatus=='Refund Approved'">
                            <a href="javascript:;" class="Clslink_btn"
                                (click)="showReturnedOrder(order._id,'refund',shopId.Product.Id)">View Refund order
                                <span><i class="fa clsbtn_arrow fa-caret-right"></i></span></a>
                        </div>
                        <div class="row">
                            <a href="javascript:;" class="Clslink_btn"
                                *ngIf="(shopId.Product.ProductStatus=='Return Requested' || order?.OrderType == 2 || order?.OrderType ==3)"
                                (click)="viewTicket(shopId.Product.ReturnTicketId,order?.OrderType,order.ShopAccountId.approvedBusinessDetails.Name)">Track
                                Return Request Status</a>
                        </div>
                        <div class="row">
                            <button type="button" class="Clscommon_btn_small mt-20"
                                *ngIf="order.OrderStatus == 'Delivered' && shopId.Product.ProductStatus == 'Opened'"
                                (click)="returnOrder(order._id, shopId.Product.Id,shopId.Product.Name, shopId.Product.ShopId, order,i)">Request
                                Return</button>
                        </div>
                        <div class="row">
                            <button type="button" class="Clscommon_btn_small mt-20"
                                *ngIf="(((order?.OrderType == 2 && order?.Hirarchy == 1) || (order?.OrderType == 3 && order?.BankDetails.length > 0) ) && order?.OrderStatus == 'Placed')"
                                (click)="action(order._id)">Print Shipping Label</button>
                        </div>
                        <div class="row">
                            <button type="button" class="Clscommon_btn_small mt-20"
                                *ngIf="(((order?.OrderType == 2 && order?.Hirarchy == 1) || order?.OrderType == 3) && (order?.OrderStatus =='Ready For Shipment' || order?.OrderStatus =='Pickup Scheduled') )"
                                (click)="downloadlabel(order._id)">Download Shipping Label</button>
                        </div>
                        <div class="row">
                            <button type="button" class="btn Clsapproval_btn mt-20"
                                *ngIf="shopId.Product.ProductStatus!='Opened'">{{shopId.Product.ProductStatus}}&nbsp;&nbsp;<span><i
                                        class="fa clsbtn_arrow fa-check-circle"></i></span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ul class="progress-indicator" *ngIf="order.OrderStatus == 'Cancelled'">
            <li class="completed"> <span class="bubble"></span> Ordered </li>
            <li class="cancelled"> <span class="bubble"></span> Cancelled </li>
        </ul>
        <ul class="progress-indicator" *ngIf="order.OrderType == '1' && order.OrderStatus!='Cancelled'">
            <li [class]="stepindicator(1,order.OrderStatus)"> <span class="bubble"></span> Ordered </li>
            <li [class]="stepindicator(2,order.OrderStatus)"> <span class="bubble"></span> Packed </li>
            <li [class]="stepindicator(3,order.OrderStatus)"> <span class="bubble"></span> Shipped </li>
            <li [class]="stepindicator(4,order.OrderStatus)"> <span class="bubble"></span> Delivered </li>
        </ul>
        <div class="row purchase_container mt-2" style="border: none;margin: 0">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class=" panel panel-default">
                    <div class="panel-heading text-uppercase">
                        <span>Shipping Address</span>
                    </div>
                    <div class="panel-body">
                        <strong>
                            <p>{{order.ShippingAddress.FirstName +" "+order.ShippingAddress.LastName}}</p>
                        </strong>
                        <p style=" line-height: 1;">{{order.ShippingAddress.Line1}}</p>
                        <p style=" line-height: 1;">{{order.ShippingAddress.Line2}}</p>
                        <p style=" line-height: 1;">{{order.ShippingAddress.City}}</p>
                        <p style=" line-height: 1;">{{order.ShippingAddress.State}}</p>
                        <p style=" line-height: 1;">{{order.ShippingAddress.Country}}-{{order.ShippingAddress.Zip}}</p>
                        <p style=" line-height: 1;">Phone: {{order.ShippingAddress.Phone}} </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading text-uppercase">
                        <span>Price Details</span>
                    </div>
                    <div class="panel-body">
                        <table style="width: 100%;">
                            <tbody>
                                <tr>
                                    <th style="padding: 10px;">Price</th>
                                    <td style="padding: 10px;"><span class="amount right">
                                            {{ productCurrency.value + order.Totals.ProductCost}}</span></td>
                                </tr>
                                <tr>
                                    <th style="padding: 10px;">Shipping Cost</th>
                                    <td style="padding: 10px;"><span class="amount right">
                                            {{ productCurrency.value + order.Totals.ShippingCost}}</span></td>
                                </tr>
                                <tr *ngIf="order.Totals.CouponDiscount!=0">
                                    <th style="padding: 10px;">Coupon Discount</th>
                                    <td style="padding: 10px;">-<span class="amount right">
                                            {{ productCurrency.value + order.Totals.CouponDiscount}}</span></td>
                                </tr>
                                <tr>
                                    <th style="padding: 10px;"><strong>Total</strong></th>
                                    <td style="padding: 10px; border-top: 1px solid #eee;">=<span class="amount right">
                                            {{ productCurrency.value + order.Totals.TotalCost}}</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Replaced-->
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" *ngIf="showReturnedOrderDiv">
    <div class="Clstitle_cover">
        <h2 class="heading relative heading uppercase bottom-line style-2 left-align mb-0">Purchase details</h2>
        <div class="Clspurchase_back_arrow text-right hidden-xs">
            <button type="button" class="Clsback_btn Clscommon_btn_fill_small"
                (click)="this.showPurchase = false;this.showReturnedOrderDiv=false;this.showOrderDetails=true">
                <span class="fa fa-arrow-left" aria-hidden="true"></span>
            </button>
        </div>
    </div>
    <div class="row mb-30 mt-2" *ngFor="let order of refundReplaceOrder;let i=index">
        <div class="purchase_container">
            <div class="row purchase_title m-0">
                <table class="table table-responsive Clstable_h_scroll Clspurchase_details_table mb-0">
                    <thead>
                        <tr>
                            <th>Sold by</th>
                            <th *ngIf="order.OrderType!=3">Order Date</th>
                            <th>Total</th>
                            <th *ngIf="order.OrderType!=3">Status</th>
                            <th>
                                <span *ngIf="order.OrderType==2">Replaced Order #</span>
                                <span *ngIf="order.OrderType==3">Refund Order #</span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <a
                                    routerLink="/user/shop/{{order.Items[0].Product.ShopId}}">{{order.ShopAccountId.approvedBusinessDetails.Name}}</a>
                            </td>
                            <td *ngIf="order.OrderType!=3">{{order.CreatedDate | date:'dd MMM yyyy'}}</td>
                            <td>{{ productCurrency.value + order.Totals.TotalCost}}</td>
                            <td *ngIf="order.OrderType!=3">{{order.OrderStatus}}</td>
                            <td>{{order.OrderId}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row">
            </div>
            <div class="row purchase_body" *ngFor="let shopId of order.Items;let i=index;">
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <a routerLink="/user/product/{{shopId.Product.Id}}">
                        <img [ImageBind]="shopId.Product" />
                    </a>
                </div>
                <div class="col-lg-6 col-md-4 col-sm-3 col-xs-12">
                    <a routerLink="/user/product/{{shopId.Product.Id}}">
                        <p class="text-truncate">
                            <strong>{{shopId.Product.Name}}</strong>
                        </p>
                    </a>
                    <p class="Clsprice" *ngIf="shopId.Product?.Variation">
                        <span class=""> {{productCurrency.value + shopId.Product.Variation.Price}}</span>
                        x {{shopId.Product.Qty}}
                    </p>
                    <p class="Clsprice" *ngIf="!shopId.Product?.Variation && shopId.Product?.Price">
                        <span class=""> {{productCurrency.value + shopId.Product.Price}}</span> x
                        {{shopId.Product.Qty}}
                    </p>
                    <div class="Clspro_variations" *ngIf="shopId.Product?.Variation">
                        <p>
                            <strong>{{shopId.Product.Variation.Name1}}:</strong>&nbsp;&nbsp;<span>{{shopId.Product.Variation.Value1}}</span>
                        </p>
                        <p *ngIf="shopId.Product.Variation?.Name2">
                            <strong>{{shopId.Product.Variation.Name2}}:</strong>&nbsp;&nbsp;<span>{{shopId.Product.Variation.Value2}}</span>
                        </p>
                    </div>
                </div>
                <div class="Clscard_links col-lg-4 col-md-5 col-sm-5 col-xs-12 text-right">
                    <div *ngIf="order.PaymentMethod == 'COD'">
                        <a href="javascript:;" class="Clslink_btn"
                            *ngIf="(((order?.OrderType == 2 && order?.Hirarchy == 1) || (order?.OrderType == 3 && order.BankDetails)) && order?.OrderStatus == 'Placed')"
                            (click)="action(order._id)">Print Shipping Label <span><i
                                    class="fa clsbtn_arrow fa-caret-right"></i></span></a>
                    </div>
                    <div *ngIf="order.PaymentMethod == 'Online'">
                        <a href="javascript:;" class="Clslink_btn"
                            *ngIf="(((order?.OrderType == 2 && order?.Hirarchy == 1) || (order?.OrderType == 3) && order?.OrderStatus == 'Placed'))"
                            (click)="action(order._id)">Print Shipping Label <span><i
                                    class="fa clsbtn_arrow fa-caret-right"></i></span></a>
                    </div>
                    <div *ngIf="order.PaymentMethod == 'COD' && !order?.BankDetails && order?.OrderType !=2 ">
                        <button type="button" class="Clslink_btn" (click)="viewBankDetail()">Enter
                            Bank Details <span><i class="fa clsbtn_arrow fa-caret-right"></i></span></button></div>
                    <a href="javascript:;" class="Clslink_btn"
                        *ngIf="(((order?.OrderType == 2 && order?.Hirarchy == 1) || order?.OrderType == 3) && (order?.OrderStatus =='Ready For Shipment' || order?.OrderStatus =='Pickup Scheduled'))"
                        (click)="downloadlabel(order._id)">Download Shipping Label <span><i
                                class="fa clsbtn_arrow fa-caret-right"></i></span></a>
                    <a href="javascript:;" class="Clslink_btn" *ngIf="order.OrderStatus=='Delivered'"
                        (click)="ReviewModal(order)">Rate & Review item <span><i
                                class="fa clsbtn_arrow fa-caret-right"></i></span></a>
                    <div class="" *ngIf="(shopId.Product.ProductStatus=='Return Requested' || order?.OrderType == 2 || order?.OrderType ==3)">
                        <a href="javascript:;" class="Clslink_btn"
                            (click)="viewTicket(shopId.Product.ReturnTicketId,order?.OrderType,order.ShopAccountId.approvedBusinessDetails.Name)">Track
                            Return Request Status <span><i class="fa clsbtn_arrow fa-caret-right"></i></span></a>
                    </div>
                    <button type="button" class="btn Clsapproval_btn mt-20"
                        *ngIf="shopId.Product.ProductStatus!='Opened'">{{shopId.Product.ProductStatus}}
                        <span><i class="fa clsbtn_arrow fa-check-circle"></i></span></button>
                </div>
            </div>
        </div>
        <ul class="progress-indicator" style="width: 66%; margin-left: auto;margin-right: auto;"
            *ngIf="order.OrderStatus == 'Cancelled'">
            <li class="completed"> <span class="bubble"></span> Ordered </li>
            <li class="cancelled"> <span class="bubble"></span> Cancelled </li>
        </ul>
        <div class="row purchase_container mt-2" style="border: none;margin: 0" *ngIf="order.OrderType!=3">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class=" panel panel-default">
                    <div class="panel-heading text-uppercase">
                        <span>Shipping Address</span>
                    </div>
                    <div class="panel-body">
                        <strong>
                            <p>{{order.ShippingAddress.FirstName +" "+order.ShippingAddress.LastName}}</p>
                        </strong>
                        <p style=" line-height: 1;">{{order.ShippingAddress.Line1}}</p>
                        <p style=" line-height: 1;">{{order.ShippingAddress.Line2}}</p>
                        <p style=" line-height: 1;">{{order.ShippingAddress.City}}</p>
                        <p style=" line-height: 1;">{{order.ShippingAddress.State}}</p>
                        <p style=" line-height: 1;">{{order.ShippingAddress.Country}}-{{order.ShippingAddress.Zip}}</p>
                        <p style=" line-height: 1;">Phone: {{order.ShippingAddress.Phone}} </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading text-uppercase">
                        <span>Grant Total</span>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <p>Cart Sub Total</p>
                                <p>Shipping Cost</p>
                                <p>Coupon Discount</p>
                                <p></p>
                                <p style=" line-height: 4.5;">
                                    <strong>Total</strong>
                                </p>
                            </div>
                            <div class="col-md-6">
                                <p>+
                                    <span class="amount right">
                                        {{ productCurrency.value + order.Totals.ProductCost}}</span>
                                </p>
                                <p>+
                                    <span class="amount right">
                                        {{ productCurrency.value + order.Totals.ShippingCost}}</span>
                                </p>
                                <p>-
                                    <span class="amount right">
                                        {{ productCurrency.value + order.Totals.CouponDiscount}}</span>
                                </p>
                                <hr>
                                <p>=
                                    <span class="amount right">
                                        {{ productCurrency.value + order.Totals.TotalCost}}</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
<div class="modal fade" id="returnOrderModal" role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Return Request</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div
                        class="col-lg-8 col-md-8 col-sm-8 col-xs-12 col-lg-offset-0 col-md-offset-2 col-sm-offset-2 col-xs-offset-0">
                        <form name="ComposeForm" id="ComposeForm" #ComposeForm="ngForm" novalidate>
                            <div class="form-group">
                                <label for="toSubject">Reason:</label>
                                <select (change)="status($event.target.value)">
                                    <option selected disabled [value]="undefined">Select a reason</option>
                                    <option [value]="reasons.Reason" *ngFor="let reasons of returnreasonlist">
                                        {{reasons.Reason}}</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <mat-form-field class="example-full-width">
                                    <textarea matInput class="form-control" rows="5" id="details" name="details"
                                        [(ngModel)]="this.returnDetails" #details="ngModel" required
                                        placeholder="Comments"></textarea>
                                </mat-form-field>
                            </div>
                            <div class="form-group">
                                <label for="writeMessage">Quantity:</label>
                                <div class="quantity buttons_added">
                                    <input type="button" value="-" class="quantity-minus" (click)="minusQuantity()" />
                                    <input
                                        style="width: 40px;border: 1px solid #e0e0e0 !important;margin-bottom: 16px !important;padding: 0 16px !important;"
                                        name="Quantity" type="number" class="input-text qty text" id="Quantity"
                                        [(ngModel)]="this.enteredQty" [ngModelOptions]="{gettersetter: true}"
                                        (blur)='validQuantity()' #Quantity="ngModel" step="1" min="1" title="Qty"
                                        required />
                                    <input type="button" value="+" class="quantity-plus pull-right"
                                        (click)="plusQuantity()" />
                                </div>
                            </div>
                            <div class="row mb:30">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <label for="documents">Supporting documents/pictures</label>
                                    <button mat-raised-button type="button"
                                        onclick="document.getElementById('fileToUpload').click()">
                                        Attach
                                    </button>
                                    <input id="fileToUpload" style="display:none;" type="file" class="form-control"
                                        (change)="ChangeListener($event)">
                                </div>
                            </div>
                            <div class="form-group" style="margin-top:20px">
                                <div class="items-grid">
                                    <div class="shop-filter row">
                                        <div class="col-xs-9">
                                            <div class="tag-group" *ngFor="let attach of attachments;let i=index;">
                                                <div class="tag-label">
                                                    {{attach.Name | shorten : 10:'... '}}
                                                </div>
                                                <div class="tag-close pull-left">
                                                    <a href="javascript:;" (click)="test(attach,i)">
                                                        <i class="fa fa-times"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-sm btn-color rounded"
                                    data-dismiss="modal">Cancel</button>
                                <button type="button" class="btn btn-sm btn-color rounded"
                                    (click)='confirmReturnOrder()' [disabled]="!ComposeForm.form.valid">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="reviewModal" role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title text-center">Product Review</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div
                        class="col-lg-8 col-md-8 col-sm-8 col-xs-12 col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-xs-offset-0">
                        <form name="productReview" id="productReview" #productReview="ngForm" novalidate>
                            <div class="form-group">
                                <mat-form-field class="Clsfull-width">
                                    <input type="text" matInput class="form-control" rows="5" maxlength="500"
                                        id="comment" name="comment" [(ngModel)]="this.productReviewComment"
                                        #comment="ngModel" required placeholder="Comment">
                                </mat-form-field>
                                <div *ngIf="(comment.dirty || comment.touched)" class="alert">
                                    <div [hidden]="!comment.errors?.maxlength">
                                        Maximum 500 characters allowed
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <mat-form-field class="Clsfull-width">
                                    <mat-label>Rating</mat-label>
                                    <mat-select (change)="Rating($event.target.value)">
                                        <mat-option>None</mat-option>
                                        <mat-option value="1">1</mat-option>
                                        <mat-option value="2">2</mat-option>
                                        <mat-option value="3">3</mat-option>
                                        <mat-option value="2">4</mat-option>
                                        <mat-option value="3">5</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="Clscommon_btn_small Clscancel_btn" data-dismiss="modal">Cancel</button>
                <button type="button" class="Clscommon_btn_fill_small" (click)='Review()'>Post</button>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 Clsborder" *ngIf="this.ShowTicket">
    <div class="Clstitle_cover">
        <h2 class="heading relative heading uppercase bottom-line style-2 left-align mb-0">Return Request - <span
                class="Clsticket_id">Ticket id({{ returnTicketId}})</span></h2>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="entry-comments mt-20">
                <ul class="comment-list">
                    <li *ngFor="let Ticket of Messages; let i=index">
                        <div class="comment-body">
                            <div class="comment-header">
                                <div class="row">
                                    <div class="col-md-2">
                                        <img src={{Ticket.From[0]?.Profile.DisplayPicture}} class="img-circle" alt="">
                                    </div>
                                    <div class="col-md-9 comment-author">
                                        <span class="comment-author"
                                            *ngIf="Ticket.From[0]._id==this.ShowUserId"><strong>From:</strong>
                                            {{Ticket.From[0]?.Profile?.FirstName ? Ticket.From[0]?.Profile?.FirstName : 'JHeaps Member'}}</span>
                                        <span class="comment-author"
                                            *ngIf="Ticket.From[0]._id!=this.ShowUserId"><strong>From:</strong>
                                            {{ this.sellerName }}</span>
                                        <p><strong>Comment:</strong> {{Ticket.Description}}</p>
                                        <p><strong>Date:</strong> {{Ticket.CreatedDate | date:'dd MMM yyyy HH:mm:ss'}}
                                        </p>
                                    </div>

                                </div>
                            </div>
                            <div class="comment-content">
                                <div *ngIf="this.Ticket.Attachment.length!=0">
                                    <div class="row">
                                        <div class="col-md-3" *ngFor="let Attach of Ticket.Attachment">
                                            <img src="{{Attach.URL}}" style="height:100px; width:100px"><br>
                                            <i class="fa fa-paperclip" style="font-size: 14px; color:black;"
                                                aria-hidden="true"></i>
                                            <a target="_blank" href="{{Attach.URL}}"
                                                download="{{Attach.Name}}.jpg">{{Attach.Name| shorten : 10:'... '}}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-12 mt-20 Clsreply_link">
            <button type="button" class="Clscancel_btn Clscommon_btn_small" (click)="back();">
                <span><i class="fa clsbtn_arrow fa-caret-left"></i></span>&nbsp;&nbsp;<span>Back</span>
            </button>
            <a (click)="this.ShowTicket=false;this.replyMail=true" href="javascript:;"
                class="Clscommon_btn_fill_small">Reply</a>
        </div>
    </div>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 Clsborder" *ngIf="this.bankdetail">
    <div class="Clstitle_cover">
        <h2 class="heading relative heading uppercase bottom-line style-2 left-align mb-0">Enter Bank Detail</h2>
        <div class="Clspurchase_back_arrow text-right hidden-xs">
            <button type="button" class="Clsback_btn Clscommon_btn_fill_small"
                (click)="this.bankdetail = false;this.showReturnedOrderDiv=true">
                <span class="fa fa-arrow-left" aria-hidden="true"></span>
            </button>
        </div>
    </div>
    <div class="col-md-9">
        <form Name="bankform" id="bankform" #bankform="ngForm" novalidate>
            <div class="row">
                <div class="col-md-12">
                    <mat-form-field class="Clsfull-width">
                        <input matInput type="text" id="AccountName" placeholder="Account Holder Name"
                            name="AccountName" [(ngModel)]="this.bankdetailsModel.AccountHolderName"
                            #AccountName="ngModel" required>
                    </mat-form-field>
                    <div *ngIf="AccountName.errors && (AccountName.dirty || AccountName.touched)" class="alert">
                        <div [hidden]="!AccountName.errors.required">
                            Account Name is required
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field class="Clsfull-width">
                                <input matInput type="number" id="AccountNumber" placeholder="Account Number"
                                    name="AccountNumber" [(ngModel)]="this.bankdetailsModel.AccountNumber"
                                    (blur)="CheckAccountNumber();accountIFSCCheck=false;" #AccountNumber="ngModel"
                                    required>
                            </mat-form-field>
                            <div *ngIf="AccountNumber.errors && (AccountNumber.dirty || AccountNumber.touched)"
                                class="alert">
                                <div [hidden]="!AccountNumber.errors.required">
                                    Please enter Account Number
                                </div>

                            </div>
                            <div *ngIf="accountIFSCCheck" class="alert">
                                That Account Number and IFSC Code is used. Try another.
                            </div>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field class="Clsfull-width">
                                <input matInput type="number" id="ConfirmAccountNumber"
                                    placeholder="Re-enter Account Number" name="ConfirmAccountNumber"
                                    [(ngModel)]="this.bankdetailsModel.ConfirmAccountNumber"
                                    (keyup)="CheckAccountNumber()" #ConfirmAccountNumber="ngModel" required>
                            </mat-form-field>
                            <div *ngIf="ConfirmAccountNumber.errors && (ConfirmAccountNumber.dirty || ConfirmAccountNumber.touched)"
                                class="alert">
                                <div [hidden]="!ConfirmAccountNumber.errors.required">
                                    Please Confirm Account Number
                                </div>
                                <div [hidden]="!ConfirmAccountNumber.errors.incorrect">
                                    Confirm Account Number not matching!
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 mb-20" *ngIf="IFSCsearch">
                    <div class="input-group stylish-input-group">
                        <mat-form-field class="Clsfull-width">
                            <input matInput type="text" class="form-control" [(ngModel)]="this.IFSCResult" id="IFSC"
                                name="IFSC" #IFSC="ngModel" placeholder="Enter IFSC Code">
                        </mat-form-field>
                    </div>

                </div>
                <div class="col-md-12">
                        <input type="button" class="Clscommon_btn_fill_small" value="Save"
                            (click)="getSellerBankDetails()">
                </div>
            </div>
        </form>
    </div>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 Clsborder" *ngIf="this.replyMail">
    <div class="Clstitle_cover">
        <h2 class="heading relative heading uppercase bottom-line style-2 left-align mb-0">Send a reply</h2>
    </div>
    <div class="col-sm-8 col-md-6">
        <form name="ComposeForm" id="ComposeForm" #ComposeForm="ngForm" novalidate>
            <div class="form-group">
                <mat-form-field class="Clsfull-width">
                    <textarea matInput class="form-control" rows="2" maxlength="500" id="toDescription"
                        name="toDescription" [(ngModel)]="this.BuyerTickets.Description" #toDescription="ngModel"
                        required placeholder="Comment"></textarea>
                </mat-form-field>
                <div *ngIf="(toDescription.dirty || toDescription.touched)" class="alert">
                    <div [hidden]="!toDescription.errors?.maxlength">
                        Maximum 500 characters allowed
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <input type="file" class="form-control" (change)="ChangeListener($event)" accept="image/*">
                </div>
            </div>
            <div class="form-group">
                <div class="items-grid">
                    <div class="shop-filter row">
                        <div class="col-xs-12 col-md-12">
                            <div class="tag-group mt-5" *ngFor="let attach of attachments;let i=index;">
                                <div class="tag-label">
                                    {{attach.Name | shorten : 10:'... '}}
                                </div>
                                <div class="tag-close pull-left">
                                    <a href="javascript:;" (click)="test(attach,i)">
                                        <i class="fa fa-times"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button type="button" class="Clscancel_btn Clscommon_btn_small"
                        (click)="this.ShowTicket=true;this.replyMail=false">
                        <i class="fa clsbtn_arrow fa-caret-left" aria-hidden="true"></i>&nbsp;&nbsp;<span>Back</span>
                    </button>
                    <input type="submit" *ngIf="this.Ticket._id.TicketStatus!='Close'" class="Clscommon_btn_fill_small" [disabled]="!ComposeForm.form.valid"
                        value="Reply" (click)="ReplyMessage()">
                </div>
            </div>
        </form>
    </div>
</div>
<ng-template #addNewTemplate>
    <div *ngIf="this.pageLoader" class="loader" style="top:250%;left:46%;display: block">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
        </svg>
    </div>
    <div *ngIf="!this.pageLoader">
        <div class="Clsno-results_found text-center">
            <h6>No Purchases To Show</h6>
            <img src="/assets/img/no-results-found.png" alt="no result found" width="250px" class="" />
        </div>
    </div>
</ng-template>