<h1>Market place Commission<span *ngIf="reportData.length>0" style="padding-left:423px;"><a href="javascript:;;" (click)="DownloadReport()"> <i
    class="fa fa-download"></i></a></span></h1>

<div class="col-md-12 mt-15" >
<button type="button" class="btn btn-sm btn-color" (click)="goBack()">
<span class="fa fa-arrow-left" aria-hidden="true"></span>
</button>
<div class=" purchase_container">
    <div class="row purchase_title" style="margin-left: 0px; margin-right: 0px;">
        <div class="col-md-6">
            <p class="text-center">
                <strong>Shop Id</strong>
            </p>
            <h2 class="counter-text head text-center">{{ reportData[0].ShopId}}</h2>
        </div>
        <div class="col-md-6">
            <p class="text-center">
                <strong>Shop Name</strong>
            </p>
            <h2 class="counter-text head text-center">{{ reportData[0].ShopName}}</h2>
        </div>
      
    </div>
        
</div>
<table class="table table-condensed">
<thead>
<tr>
    <th class="text-center">#</th>
    <th class="text-center"> Order #</th>
    <th class="text-center">Order date</th>
    <th class="text-center">Order Completion Date</th>
    <th class="text-center">MP Invoice  </th>
    <th class="text-center">MP Invoice Date</th>
    <th class="text-center">Commission Amount</th>

</tr>
</thead>
<tbody>
<tr *ngFor="let data of reportData; let i = index">
    <td class="text-center" >{{i+1}}</td>
   
    <td class="text-center">
        {{data.OrderId}}
    </td>

    <td class="text-center">{{data.OrderDate | date:'dd MMM yyyy'}}</td>
    <td class="text-center">{{data.OrderCompletionDate | date:'dd MMM yyyy'}} </td>
    <td class="text-center">{{data.InvoiceId}}</td>
    <td class="text-center">{{data.InvoiceDate | date:'dd MMM yyyy'}} </td>
    <td class="text-center">Rs.{{data.CommissionAmount}}</td>
</tr>
</tbody>
</table>
</div>