<div>
    <h2 class="heading relative heading-small uppercase bottom-line style-2 left-align mb-0 pt-20">Zone List</h2>
</div>
<div class="tabs mb-50">

	<!-- <ul class="nav nav-tabs">

		<li [routerLinkActive]="['active']">
			<a href="javascript:;" [routerLink]="['zone']">List</a>
		</li>
	</ul> -->
	<!-- end tabs -->


	<!-- tab content -->
	<div class="tab-content">
		<div *ngIf = "Zones.length > 0; else addNewTemplate">
			<div>
				<input type="button" class="btn btn-sm btn-color right" (click)="addNew()" value="New">
			</div>
			<div class="table-wrap">
				<table class="table">
					<thead>
						<tr>
							<th>Id</th>
							<th>Country</th>
							<th>No of Zones</th>
							<th>Edit</th>
							<th>Delete</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let zone of Zones;let i=index">
							<td>
								{{(i+1) + (initialPage * 10)}}
							</td>
							<td>
								{{zone.Country}}
							</td>
							<td>
								{{zone.Zone.length}}
							</td>
		
							<td>
								<a href="javascript:;">
									<i class="fa fa-edit" style="font-size:20px;color:black;" (click)="edit(zone)"></i>
								</a>
							</td>
							<td>
								<a href="javascript:;">
									<i class="fa fa-trash-o" style="font-size:20px;color:black;" (click)="confirmDelete(zone)"></i>
								</a>
							</td>
						</tr>
		
					</tbody>
				</table>
				<div class="modal fade" id="confirmDeleteModal" role="dialog">
					<div class="modal-dialog modal-sm">
						<div class="modal-content">
							<div *ngIf="!deleteModel; else cannotDelete">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal">&times;</button>
									<h6 class="modal-title">Delete Modal</h6>
								</div>
								<div class="modal-body">
									<p>Are you sure to Delete this Zone?</p>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-sm btn-color rounded" data-dismiss="modal">Cancel</button>
									<button type="button" class="btn btn-sm btn-color rounded" (click)='Delete()'>Delete</button>
								</div>
							</div>
		
							<ng-template #cannotDelete>
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal">&times;</button>
									<h6 class="modal-title">Delete Modal</h6>
								</div>
								<div class="modal-body">
									<p>Cannot delete the zone, it is linked with {{deleteModelBody}} shipping profiles</p>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-sm btn-color rounded" data-dismiss="modal">Close</button>
								</div>
							</ng-template>
						</div>
					</div>
				</div>
		
				<nav class="pagination clear">
					<a href="javascript:;" (click)="previousPage()">
						<i class="fa fa-angle-left"></i>
					</a>
					<a href="javascript:;" *ngFor="let page of pages" [class]="currentPage==page?'current':''" (click)="selectPage(page)">{{page}}</a>
					<a href="javascript:;" (click)="nextPage()">
						<i class="fa fa-angle-right"></i>
					</a>
				</nav>
		
		
			</div>
		
		</div>
		
		<ng-template #addNewTemplate>
		
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<h2 class="heading relative heading-small uppercase bottom-line style-2 left-align mb-0">Zone List</h2>
			</div>
		<div>
		   
		<div style="margin-top:150px; margin-bottom:50px" class="text-center">
				<i class="fa fa-trash" style="font-size:100px;" ></i>
			
		</div>
		
		<div class="col-xs-12 text-center">
				<input type="button" style="width:400px; border-radius:30px" class="btn btn-color" [routerLink]="['/admin/zone/add-zone']" value="Add New">
		</div>
		</div> 
		</ng-template>
	</div>
	<!-- end tab content -->
</div>