<!-- My reviews -->
<div class="Clstitle-cover pb-0">
	<h2 class="relative bottom-line style-2 left-align">Reviews</h2>
</div>
<div id='scroll-box' *ngIf="userReviewsData.length > 0; else addNewTemplate">
	<ul class="Clsreview_list container-fluid">
		<li class="row" *ngFor="let UserReview of userReviewsData;let i=index">
			<div class="col-md-2 col-sm-3 col-xs-12">
				<a class="Clsuser_review_pro_image text-center" *ngIf="UserReview.Product.Delete"
					routerLink="/user/product/{{UserReview.Product._id}">
						<img [BindImage]="UserReview.Product" alt="Product Image">
					</a>
					<a class="Clsuser_review_pro_image text-center" *ngIf="!UserReview.Product.Delete" routerLink="/user/product/{{UserReview.Product._id}}">
					<img [BindImage]="UserReview.Product" alt="Product Image">
				</a>
			</div>
			<div class="col-md-8 col-sm-6 col-xs-12">
				<div class="Clsproduct-details">
					<h6 class="text-truncate Clsuser_review_pro_name" *ngIf="UserReview.Product.Delete">
						<a href="javascript:;">{{UserReview.Product.Name}}</a>
					</h6>
					<h6 class="text-truncate Clsuser_review_pro_name" *ngIf="!UserReview.Product.Delete">
						<a href="javascript:;">{{UserReview.Product.Name}}</a>
					</h6>
					<p class="Clsuser_review_rating">Rating : {{UserReview.Rating}} / 5 </p>
					<p class="Clsuser_review_text" *ngIf="!UserReview.readMore">{{UserReview.Review}}</p>
					<p class="Clsuser_review_text" *ngIf="UserReview.readMore">
						{{UserReview.Review | shorten: reviewChar: ' ...'}} &nbsp;<a href="javascript:;"
							(click)="UserReview.readMore=false">Read More</a></p>
				</div>
			</div>
			<div class="col-md-2 col-sm-3 col-xs-12 text-right">
				<p class="Clsuser_review_date">{{UserReview.CreatedDate| date:'dd MMM yyyy'}}</p>
			</div>
		</li>
	</ul>
</div>
<div *ngIf="this.loader" class="loader" style="top:100%;display: block !important">
	<svg class="circular" viewBox="25 25 50 50">
		<circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
	</svg>
</div>
<ng-template #addNewTemplate>
	<div *ngIf="this.pageLoader" class="loader" style="top:250%;left:46%;display: block">
		<svg class="circular" viewBox="25 25 50 50">
			<circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
		</svg>
	</div>
	<div *ngIf="!this.pageLoader">
		<div style="margin-top:65px; margin-bottom:50px" class="text-center">
			<i class="fa fa-trash" style="font-size:100px;"></i>
		</div>
		<div class="col-xs-12 text-center">
			<span style="margin:auto;">No Items To Show</span>
		</div>
	</div>
</ng-template>
<!--  My reviews -->