#th
{
  font-family: 'Montserrat', sans-serif;
  color:#7a7a7a;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size:12px;
}
.Clsreview_list > li {
  padding: 15px 0;
  margin-bottom: 10px;
  background: var(--secondary-bg-color);
  border: 1px solid var(--primary-border-color);
}
.Clsproduct-details p {
  margin: 0;
}
.Clsuser_review_pro_image {
  display: block;
}
.Clsuser_review_pro_image img {
  height:125px; 
  width:135px;
  margin: auto;
}
.Clsuser_review_pro_name {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
}