<h1>Profitability Report<span *ngIf="reportData.length>0" style="padding-left:423px;"><a href="javascript:;;" (click)="DownloadReport()"> <i class="fa fa-download"></i></a></span></h1>
<div>
        <button type="button" class="btn btn-sm btn-color" (click)=" goBack()">
            <span class="fa fa-arrow-left" aria-hidden="true"></span>
        </button>
    </div>
    <div class="table-wrap mt-15 col-lg-12 col-md-12 col-sm-12 hidden-xs" >
          

            <div class="row mb-30 mt-2">
            <div class="purchase_container">
                                    <div class="row purchase_title m-0">
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <p>
                                                <strong>Shop Name</strong>
                                            </p>
                                            <p>{{reportData.ShopName}}</p>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <p>
                                                <strong>Shop Id</strong>
                                            </p>
                                            <p>{{reportData.ShopId}}</p>
                                        </div>
                                        <!-- <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                            <p>
                                                <strong>Item Number</strong>
                                            </p>
                                            <p>{{selectedReport.ItemNumber}}</p>
                                        </div> -->
                                        <!-- <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                                           
                                           
                                        </div> -->
                                        <!-- <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                            <button type="button" class="mt-20 btn btn-sm btn-color" (click)="cancel(order,order._id,'All')" *ngIf="checkCancelHours(order.CreatedDate,order.OrderStatus)">Cancel Order</button>
                                        </div> -->
                                    </div>
                                    <div class="row purchase_title m-0" style="margin-top: -25px;" *ngIf="this.showDate">
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <p>
                                                <strong>Start Date : {{this.reportsModel.ReportType?.StartDate | date:'dd MMM yyyy'}}</strong>
                                            </p>
                        
                                        </div>
                        
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <p>
                                                <strong>End Date : {{this.reportsModel.ReportType?.ExpiryDate | date:'dd MMM yyyy'}}</strong>
                                            </p>
                        
                                        </div>
                        
                                    </div>
                                    <div class="row purchase_title m-0" style="margin-top: -25px;" *ngIf="!this.showDate">
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <p>
                                                <strong>Month : {{this.Month }}</strong>
                                            </p>
                        
                                        </div>
                        
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <p>
                                                <strong>Year : {{this.Year }}</strong>
                                            </p>
                        
                                        </div>
                        
                                    </div>
                                    <!-- <div class="row purchase_body" *ngFor="let shopId of order.Items[0][getShopkey(selectedOrder[i].Items[0])];let i=index;" > -->
                                    
             </div>

           
            </div>
    </div>
<div class="row purchase_container mt-2" style="border: none;margin: 0">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class=" panel panel-default">
            <div class="panel-heading text-uppercase">
                <span><strong>Shipping Details</strong></span>
            </div>
            <div class="panel-body">

                <div class="row">
                    <div class="col-md-6">
                        <!-- <p><strong>Shop ID </strong> </p> -->
                        <p><strong>Gross Revenue </strong> </p>
                        <p><strong> Discount</strong></p>
                        <p> <strong>Shipping Cost From Buyer</strong></p>
                        <p>
                            <strong>Shipping Cost For Seller</strong>
                        </p>
                        <p>
                                <strong></strong>
                            </p>
                    </div>
                    <div class="col-md-6">
                        <!-- <p>:
                            <span class="amount right"> {{reportData.ShopId}}</span>
                        </p> -->
                        <p>:
                            <span class="amount right"> {{reportData.GrossRevenue}}</span>
                        </p>
                        <p>:
                            <span class="amount right"> {{reportData.Discount}}</span>
                        </p>
                        <p>:
                            <span class="amount right"> {{reportData.BuyerShippingCost}}</span>
                        </p>
                
                        <p>:
                            <span class="amount right"> {{reportData.SellerShippingCost}}</span>
                        </p>
                        <p style="color:white">:
                                <span class="amount right"> </span>
                            </p>
                    </div>
                </div>
        </div>
    </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading text-uppercase">
                <span><strong>Commission Details</strong></span>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <p> <strong>Fixed Fee</strong></p>
                        <p><strong>Commission </strong> </p>
                        <p> <strong>Collection Fee</strong></p>
                        <p>
                            <strong>GST</strong>
                        </p>
                        <p> <strong>Net Revenue</strong></p>
                    </div>
                    <div class="col-md-6">
                            <p>:
                                    <span class="amount right"> {{reportData.FixedFee}}</span>
                                </p>
                        <p>:
                            <span class="amount right"> {{reportData.MarketPlaceCommissionAmount}}</span>
                        </p>
                       
                        <p>:
                            <span class="amount right"> {{reportData.CollectionFee}}</span>
                        </p>
                
                        <p>:
                            <span class="amount right"> {{reportData.GSTonCommission}}</span>
                        </p>
                        <p>:
                            <span class="amount right"> {{reportData.NetRevenue}}</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>