		<!-- Contact us page-->
		<section class="contact" id="contact">
			<div class="container">
				<div class="row">
				<div class="col-xs-12">
					<div class="Clstitle_cover">
						<h2 class="relative bottom-line style-2 left-align">Contact Us</h2>
					</div>
				</div>
				</div>
				<div class="row" *ngIf="this.getUserToken!=null">
					<div class="col-sm-6 col-xs-12">
						<p class="text-center col-sm-10 col-sm-offset-1 Clscontact_msg text-justify">For buyer and seller support please visit the dashboard to your account to track and review your orders. For other general questions write to us at contactus@jheaps.com or through the for. </p>
					</div>
					<div class="col-sm-6 col-xs-12">
						<form #contactForms="ngForm" id=contactForms>
							<div class="form-group">
							    <mat-form-field class="Clsfull-width">
									<!-- <label for="subject">Subject:</label> -->
									<input type="text" matInput maxlength="100" name="Subject" id="subject1" [(ngModel)]="this.Contactmodel.Subject" placeholder="Subject" #Subject1="ngModel">
								</mat-form-field>
							</div>										
							<div class="form-group">	
								<mat-form-field class="Clsfull-width ">
									<textarea matInput maxlength="100" rows="4" id="message1" placeholder="Message" name="Message" [(ngModel)]="this.Contactmodel.Message"
								 #Message1="ngModel" ></textarea>
								</mat-form-field>
							</div>
							<input type="button" class="Clscommon_btn_fill_small"  value="Send Message" (click) = "SendMessage()()">
						</form>
					</div> 
				</div>
				<div class="row" *ngIf="this.getUserToken==null">
					<div class="col-sm-6 col-xs-12">
						<p class="text-center col-sm-10 col-sm-offset-1 Clscontact_msg text-justify">For buyer and seller support please login to your account to track and review your orders. For other general questions write to us at contactus@jheaps.com or through the form: </p>
					</div>
					<div class="col-sm-6 col-xs-12">
						<form #contactForms1="ngForm" id=contactForms1>
							<div class="form-group">
							    <mat-form-field class="Clsfull-width">
									<!-- <label for="subject">Subject:</label> -->
									<input type="text" matInput name="Subject" id="subject" [(ngModel)]="this.Contactmodel.Subject" placeholder="Subject" #Subject="ngModel"
									 >
								</mat-form-field>
							</div>
							<div class="form-group">
								<mat-form-field class="Clsfull-width ">
									<input matInput type="email" pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9]{2,3}$" [(ngModel)]="this.Contactmodel.Email" id="email"
									name="Email" placeholder="Enter email address" 
									#Email="ngModel" >
								</mat-form-field>
							</div>
							<div class="form-group">
								<mat-form-field class="Clsfull-width ">
									<input type="number" matInput  name="Phone" id="phone" placeholder="Mobile number" pattern="[0-9]{1,10}"
									[(ngModel)]="this.Contactmodel.Mobile" maxlength="10" #Phone="ngModel" >
								</mat-form-field>
							</div>		
							<div class="form-group">	
								<mat-form-field class="Clsfull-width ">
									<textarea matInput maxlength="100" rows="4" id="message"  placeholder="Message" name="Message" [(ngModel)]="this.Contactmodel.Message"
									#Message="ngModel" ></textarea>
								</mat-form-field>
							</div>
							<input type="button" class="Clscommon_btn_fill_small"  value="Send Message" (click)="GuestSendMessage()">
							<!-- <div id="msg" class="message"></div> -->
						</form>
					</div> 
				</div>
			</div>
		</section> 
		<!-- Contact us page-->