<style>
   #myInput {
    padding: 20px;
    margin-top: -6px;
    border: 0;
    border-radius: 0;
    background: #f1f1f1;
  }

  .alert {
    font-size: 12px !important;
    padding: 0px !important;
    margin-bottom: 10px !important;
    color: #ff0000 !important;
    margin-top: -6px;
  }
  .alert> #CreditNote{
      border: 1px solid #ff0000 !important;
  }

li:hover {
    background-color:#2cb8a5 !important;
}
 /* a:hover {background-color: #2EA620;} */
  .hidedropdown
  {
      display: none;
  }
  .scroll {
           
            width:187px;
            height:150px;
            overflow:scroll;
         }
 
</style>
<div class="form-group">
    <button type="button" class="btn btn-sm btn-color left" (click)="goBack()">
        <span class="fa fa-arrow-left" aria-hidden="true"></span>
    </button>
</div>

<div class="tab-content">
    <div class="row">
        <div class="col-md-6">

     <form name="creditNoteForm" id="creditNoteForm" #creditNoteForm="ngForm" novalidate>
    
  
                <!-- <div class="form-group">
                    <li *ngIf="ShowUserRole=='masteradmin' || ShowUserRole=='admin'">
                        <p-dropdown [options]="getSellerList" name="sellerList" [(ngModel)]="searchProducts" [style]="{'width':'150px'}" filter="true">
                            <ng-template let-data pTemplate="selectedItem">
                                <span style="vertical-align:middle" [value]="data.value">{{data.label}}</span>
                            </ng-template>

                        </p-dropdown>
                    </li>
                 
                </div> -->
                <div class="zgroo-search-bar searchsize" style="margin-bottom: 14px;" *ngIf="ShowUserRole=='masteradmin' || ShowUserRole=='admin'">
                        <p>
                                <strong>Shop name</strong>
                        </p>
                        <div class="dropdown mt-2">
                            <button class="btn dropdown-toggle " style="color:#3c3c3cd6;background-color:#a9a9a947;width: 188px;text-transform: unset;letter-spacing: 0.1em;" (mouseover)="displayDropDown()" type="button" data-toggle="dropdown">{{this.displayShop}}
                            <span class="fa fa-chevron-down" style="float:right"></span></button>
                            
                            <div id="inputvalue" class="dropdown-menu">
                                <!-- <span class="fa fa-search"></span> -->
                                <input class="form-control fa" id="myInput" style="width: 187px;
                                "  name="shoplist" type="text" placeholder="&#xF002; Shop name/mobile no" [(ngModel)]="searchProducts" (keyup)="updatePages(searchProducts)">
                            
                            <ul class="scroll" *ngIf="searchlist.length>0" >
                              <li *ngFor="let list of searchlist" class="text-center" style="padding:9px;background-color: #80808005;cursor: pointer;" (click)="onItemSelect(list.ShopName)">{{list.ShopName}}</li>
                            </ul>
                            <div *ngIf="searchlist.length==0" >
                                    <div class="text-center" style="padding-bottom:7px">No results found</div>
                            </div>
                            </div>
                        </div>

                </div>
                <!-- <div>
                    	<input type="text" name="search" [(ngModel)]="this.searchShop" (change)="updatePages()" placeholder="Search..."
					    />
                </div> -->
                <div class="form-group">
                    <label for="Credit">
                        <p>
                            <strong>Credit/Debit</strong>
                        </p>
                    </label>
                    <br>
                    <input type="radio" class="input-radio" name="Credit" id="Credit" (click)="this.titleChange('Credit')" [value]="0" [(ngModel)]="this.creditDetails.Credit" #Credit="ngModel"
                        required>
                    <label for="Credit" style="padding-right: 10px;">Credit </label>
                    <input type="radio" class="input-radio" name="Credit" id="Debit" [value]="1" (click)="this.titleChange('Debit')" [(ngModel)]="this.creditDetails.Credit" #Credit="ngModel"
                        required>
                    <label for="Debit">Debit </label>
                </div>

                <div class="form-group">
                    <label for="CreditNote">
                        <p>
                            <strong>{{ this.title }} Description</strong>
                        </p>
                    </label>
                    <textarea maxlength="100" rows="5" id="CreditNote"  placeholder="Enter Credit Note" name="CreditNote" [(ngModel)]="this.creditDetails.Note"
                        required #CreditNote="ngModel">
                    </textarea>
                    <div *ngIf="CreditNote.errors && (CreditNote.dirty || CreditNote.touched)" class="alert">
                        <div [hidden]="!CreditNote.errors.required">
                            {{ this.title }} Description is required!
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="Price">
                        <p>
                            <strong>Amount</strong>
                        </p>
                    </label>
                    <input type="number" name="price" id="price" placeholder="Enter price" [(ngModel)]="this.creditDetails.Price" #price="ngModel"
                        required>
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-sm btn-color" *ngIf="newbutton" [disabled]="!creditNoteForm.form.valid" (click)="save(); creditNoteForm.reset();">Save</button>
                </div>
                <div class="form-group">
                <input type="button" class="btn btn-sm btn-color" *ngIf="editbutton" (click)="Update(); creditNoteForm.reset();" value="save"
                [disabled]="!creditNoteForm.form.valid">
                 </div>
            </form>
        </div>
    </div>
</div>