<div class="row">
    <h2 class="heading relative heading-small uppercase bottom-line style-2 left-align pl-10 mb-0">Credit/Debit Note</h2>
</div>
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
    <input type="text" class="form-control mb-0" [(ngModel)]="searchTerm" (ngModelChange)="updatePages(searchTerm)" placeholder="Search Shop name/Mobile no"
    />
</div>
<div *ngIf="DebitList.length > 0; else addNewTemplate">
   
    <div>
        <input type="button" class="btn btn-sm btn-color right" (click)="addNew()" value="New">
    </div>
    <div class="table-wrap">
        <table class="table">
            <thead>
                <tr>
                    <th>Index</th>
                    <th>Shop Name</th>
                    <!-- <th>Credit/Debit</th> -->
                    <th>Description</th>
                    <th>Price</th>
                    <th>Date</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
            <tr *ngFor="let value of DebitList;let i=index">
                <td>{{((currentPage -1)*10)+(i+1)}}</td>
                <td>{{ value.ShopAccount.approvedBusinessDetails.Name}}</td>
                <!-- <td *ngIf="DebitList.Credit == true">Credit</td> -->
                <td>{{value.Note | shorten: 10: ' ...'}}</td>
                <td>{{value.Price}} <span *ngIf="value.Credit==true">(+)</span><span *ngIf="value.Debit==true">(-)</span></td>
                <td *ngIf="value.SettlementId">{{value.SettlementDate | date:'dd MMM yyyy' }}</td>
                <td *ngIf="!value.SettlementId"> - </td>
                <td *ngIf="!value.SettlementId"> <a href="javascript:;"><i class="fa fa-edit" style="font-size:20px;color:black;" (click)="edit(value)"></i></a></td>
                <td *ngIf="!value.SettlementId"><a href="javascript:;"><i class="fa fa-trash-o" style="font-size:20px;color:black;" (click)="confirmDelete(value)"></i></a></td>
            </tr>
        </tbody>
        </table>

    </div>
</div>

<ng-template #addNewTemplate>
    <div>

        <div style="margin-top:150px; margin-bottom:50px" class="text-center">
            <i class="fa fa-trash" style="font-size:100px;"></i>

        </div>

        <div class="col-xs-12 text-center">
            <input type="button" style="width:400px; border-radius:30px" class="btn btn-color" [routerLink]="['/myaccounts/admin/credit-debit/add']" value="Add New">
        </div>
    </div>
</ng-template>