<style>
	.comment-body{
		padding: 30px 0;
		border-bottom: none;
}
.img_class {
	width: 200px;
	height: 200px;
	object-fit: cover;	
}
.truncate {  
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.imagefit{
	width: 200px;
	height: 115px;
	object-fit: cover;	
}
.borderstyle{
		border-top:1px solid #c4c4c4;
		margin-top:20px;
}
.Clsproduct_price {
    font-size: 14px;
    font-weight: 600;
    font-family: Montserrat, sans-serif;
    color: #000;
    padding: 5px;
}
.Clsshop-catalogue .Clstitle-cover h2{
	margin-top: 10px;
}
.Clsshop-owner-image {
    width: 30%;
    height: 30%;
    border-radius: 50%;
    margin: auto;
}
.Clsshop-owner-name {
    color: #000;
    font-weight: 500;
}
		
	</style>
	<section class="catalogue">
		<div class="container-fluid relative">
			<div class="row">
					<div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 catalogue-col right mb-50" id="product-container">
							<div class="Clsshop-catalogue grid-view">
								
								<div class="Clstitle-cover">
										<div class="row">
												<div class="col-sm-8 col-xs-12 text-left">
													<h2>Showing results for <span>{{SearchTerm}}</span></h2>
												</div>
												<div class="col-sm-4 col-xs-12">
														<form class="ecommerce-ordering" *ngIf="Products.length>0">
															<select class="Clsform_select" (change)="getDataFromQuery('Sort')" [(ngModel)]="sort_type" [ngModelOptions]="{standalone: true}">
																<option value="latest">By Latest</option>
																<option value="price-high-to-low">Price: high to low</option>
																<option value="price-low-to-high">Price: low to high</option>
																<option value="rating">By Rating</option>
															</select>
														</form>
													</div>
										</div>
								</div>
								<div class="items-grid">
									<div class="shop-filter">
										<div class="view-mode hidden-xs">
											<div class="tag-group" *ngFor="let tag of filterTags;let i = index">
												<div class="tag-label">
													{{tag?.value}}
												</div>
												<div class="tag-close">
													<a href="javascript:;" (click)="removeFilterTags(tag, i)"><i class="fa fa-times"></i></a>
												</div>
											</div>
										</div>
									</div>
									<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 product product-grid" *ngIf="Products?.length < 1">
										<div *ngIf="this.pageLoader" class="loader" style="top:50px;left:46%;display: block">
											<svg class="circular" viewBox="25 25 50 50">
												<circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
											</svg>
										</div>
										<div class="hidden-xs" *ngIf="!this.pageLoader" >
											<div class="Clsno-results_found text-center">
												<h6>No Items To Show</h6>
												<img src="/assets/img/no-results-found.png" alt="no result found" width="250px" class="" />
											</div>
										</div>
									</div>

									<div>
										<div id='scroll-box' class="col-xs-12" *ngIf="Products?.length > 0">
											<div class="row" >
												<div class="col-lg-3 col-md-3 col-sm-4 col-xs-6  product-grid" style="padding-left: 8px;padding-right: 8px;"
												 *ngFor="let Product of Products">
													<div class="product-item ">
															<div class="product-img hover-1">
																	<a href="javascript:;">
																			<img class="img-responsive  img_class" [BindImage]='Product._source' alt="Product in Shop" title="{{Product._source.Name}}">
																		<span class="product-out-of-stock text-center" [CheckOutOfStock]="Product._source">
																			<h4 class="out-of-stock">OUT OF STOCK</h4>
																		</span> 
																	</a>
						
																	<div class="hover-overlay" style="cursor: pointer;" (click)="productInfo(Product._id)">
																		<div class="product-add-to-wishlist" style="background:transparent;" onclick="event.stopPropagation();">
																			<a href="javascript:;"  *ngIf="loadLoginDirectives">
																				<i class="fa fa-heart" [add-favourite-product]='Product._id'></i>
																			</a>
																		</div>
																		<a class="Clsproduct_quickview Clscommon_btn_fill" onclick="event.stopPropagation();" [add-to-cart]='Product._id'>Add to Cart</a>
																	</div>
																</div>
														<div class="product-details Clsproduct-bottom">
															<a class="text-truncate Clsproduct-name" href="javascript:;" (click)="productInfo(Product._id)"
																 title="{{ Product._source.Name}}">{{Product._source.Name}}</a>
															<span class="Clsproduct_price"><span [BindPrice]='Product._source' class="ammount"></span></span>
														</div>

														<div class="product-list-details">
															<p class="product-description">
																{{Product._source?.Description}}
															</p>
															<ul class="product-actions clearfix">
																<li>
																	<a href="#" class="Clscommon_btn_fill left">Add to Cart</a>
																</li>
																<li>
																	<div class="icon-add-to-wishlist left">
																		<a href="#"><i class="fa fa-heart-o"></i></a>
																	</div>
																</li>
															</ul>
														</div>
													</div>
												</div>
											</div>
											<div class="row text-center" *ngIf="showItemButton">
													<div class="col-xs-12 text-center">
														<button type="button" class="Clsview_more Clscommon_btn_fill_small" (click)="viewAllItem()">View All Items <span><i class="fa clsbtn_arrow fa-caret-right"></i></span></button>
													</div>
												</div>
										</div>
									</div>
								</div>
								<!-- end row -->
							</div>
							<!-- end grid mode -->
						</div>
				<div *ngIf="this.loader" class="loader" style="top:102%;left:60%;display: block">
						<svg class="circular" viewBox="25 25 50 50">
						  <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
						</svg>
				</div>
				<!-- end col -->
				<!-- Sidebar -->
				<aside class="col-lg-3 col-md-3 col-sm-3 hidden-xs sidebar left-sidebar sticky">
						<div class="Clssidebar">	
					<div class="panel-group accordion" style="margin-bottom:0px" id="accordion1">
						<div class="panel panel-default">
							<div class="panel-heading">
								<a data-toggle="collapse" data-parent="#accordion1" href="#collapseOne" class="accordion-toggle" aria-expanded="true">
									Filter by Price
								</a>
							</div>
							<div id="collapseOne" class="panel-collapse collapse in" aria-expanded="true">
								<div class="panel-body pd-15">
									<ul class="product-actions clearfix">
										<li>
											<div class="quantity buttons_added">
													<label>Price</label>
												<input type="number" step="1" min="0" value="1" required pattern="[0-9]" title="Minimum limit" class="input-text form-control qty text Clsform-control" [(ngModel)]="adminCriteria.Criteria.Price.From">
											</div>
										</li>
										<li>
											<div class="quantity buttons_added">
													<label>to</label>
												<input type="number" step="1" min="0" value="1" required pattern="[0-9]" title="Maximum limit" class="input-text form-control qty text Clsform-control" [(ngModel)]="adminCriteria.Criteria.Price.To">
											</div>
										</li>
										<li>
											<button [disabled]="this.adminCriteria.Criteria.Price.From ==null || !this.adminCriteria.Criteria.Price.To" (click)="getDataFromQuery('Price')" class="btn Clscommon_btn_fill Clsgo_btn">Go</button>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="panel-group accordion" style="margin-bottom:0px" id="accordion2">
						<div class="panel panel-default">
							<div class="panel-heading">
								<a data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo" class="accordion-toggle collapsed" aria-expanded="false">
									Categories
								</a>
							</div>
							<div id="collapseTwo" class="panel-collapse collapse in" aria-expanded="false">
								<div class="panel-body pd-15">
									<div class="widget categories">
										<ul class="list-dividers">
											<li *ngFor="let Category of Categories; let i = index">
												<a href="javascript:;" style="text-transform: capitalize;" (click)="getProductsByCategoryId(Category.Name,Category._id)">{{Category.Name}}</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="panel-group accordion" style="margin-bottom:0px" id="accordion4" *ngIf="Attributes?.length >0">
						<div class="panel panel-default">
							<div class="panel-heading">
								<a data-toggle="collapse" data-parent="#accordion4" href="#collapseFour" class="accordion-toggle collapsed" aria-expanded="false">
									Attributes
								</a>
							</div>
							<div id="collapseFour" class="panel-collapse collapse in" aria-expanded="false">
								<div class="panel-body" style="padding-top:0px; padding-left:0px; padding-right:30px;">
									<div class="widget categories">
										<ul class="list-dividers">
											<div class="accordion" id="accordion{{i}}{{i}}" *ngFor="let Attribute of Attributes; let i = index">
												<div class="panel panel-default">
													<div class="panel-heading" style="font-size: 10px;line-height: 15px;">
														<a data-toggle="collapse" data-parent="#accordion{{i}}{{i}}" href="#check_{{i}}{{i}}" class="accordion-toggle collapsed"
														 aria-expanded="false">
															{{Attribute.Name}}
														</a>
													</div>
													<div id="check_{{i}}{{i}}" class="panel-collapse collapse" aria-expanded="false">
														<div class="panel-body pd-15">
															<ul *ngIf="Attribute.Name != 'Color' && Attribute.Name != 'Gemstone Color'" class="size-select list-dividers">
																<li *ngFor="let AttributeValue of Attribute.Values; let j = index">
																	<input type="checkbox" (change)="attributeFiltering(Attribute.Name ,AttributeValue)" class="input-checkbox" id="{{Attribute.Name.split(' ').join('_') | lowercase}}-{{AttributeValue.split(' ').join('_') | lowercase}}"
																	 name="check_{{i}}{{j}}" value="check_{{i}}{{j}}">
																	<label for="{{Attribute.Name.split(' ').join('_') | lowercase}}-{{AttributeValue.split(' ').join('_') | lowercase}}" class="checkbox-label">{{AttributeValue}}</label>
																</li>
															</ul>
															<ul *ngIf="Attribute.Name == 'Color' || Attribute.Name == 'Gemstone Color'" class="color-swatches clearfix">
																<li *ngFor="let AttributeValue of Attribute.Values; let j = index">
																	<a href="javascript:;" title="{{AttributeValue}}" (click)="attributeFiltering(Attribute.Name, AttributeValue)" class="{{checkColorSelected(Attribute.Name, AttributeValue)}} custom-swatch swatch-{{AttributeValue | lowercase}}"></a>
																</li>
															</ul>
														</div>
													</div>
												</div>
											</div>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					</div>
				</aside>
				<!-- end sidebar -->
			</div>
			<!-- end row -->
		</div>
		<!-- end container -->
	</section>