<div>
	<div class="toolbar">
		<div class="toolbar-tools Clstitle-cover">
			<h2 class="relative bottom-line style-2 left-align">Profile</h2>
		</div>
	</div>
	<div class="tabs mb-50" >

		<ul class="nav nav-tabs mb-30">

			<li [routerLinkActive]="['active']">
				<a [routerLink]="['profile_edit']">Profile</a>
			</li>

			<li [routerLinkActive]="['active']">
				<a [routerLink]="['change_password']">Change Password</a>
			</li>

			<li [routerLinkActive]="['active']">
				<a [routerLink]="['shipping_address']">Shipping Address</a>
			</li>
		</ul>
		<!-- end tabs -->


		<!-- tab content -->
		<div class="tab-content Clsborder pt-20">

			<router-outlet></router-outlet>

		</div>
		<!-- end tab content -->
	</div>
</div>