<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" *ngFor="let selectedForum of getSeletedGroup">
	<!--
	<div class="row">
			<div class="form-group">
				<button type="button" class="btn btn-sm btn-color" (click)="selectedGroupId='';ViewGroup(selectedGroupId)">
				<span class="fa fa-arrow-left" aria-hidden="true"></span></button>
			</div>
		</div>-->
	 
	<div class="row thread_container" style="border-radius: 5px;">
		<div class="row" *ngIf="!selectedForum.IsOpened">	
			<div class="alert alert-warning fade in alert-dismissible" role="alert">
				<strong>Closed : </strong> This topic has been closed.
			</div>
		</div>
		<div class="row">
			<div class="col-lg-1 col-md-1 col-sm-2 col-xs-2">
				<!--<p><strong>{{selectedForum.User.Name}}</strong></p>-->
				<img src="{{selectedForum.User.Profile.DisplayPicture}}" class="img-responsive" style="border-radius:6px"/>
			</div>
			<div class="col-lg-11 col-md-11 col-sm-10 col-xs-10">
				<p>
					<strong>{{selectedForum.User.Profile.FirstName ? selectedForum.User.Profile.FirstName : 'JHeaps user'}}</strong> - {{selectedForum.CreatedDate | date:'dd MMM yyyy HH:MM'}}
					<span class="right cursor_pointer" *ngIf="ShowUserRole=='masteradmin' || ShowUserRole=='admin'" (click)="ConfirmDeletePost()">
						<i class="fa fa-trash-o icon_default"></i>
					</span>
				</p>
				<p>
					<strong>{{selectedForum.Title}}</strong>
					
				</p>
				<p><span class="label label-primary">{{selectedForum.Status}}</span></p>
				<p class="text-capitalize selectedmsg_align">{{selectedForum.Post}}</p>
				<a class="cursor_pointer" href="javascript:;" *ngIf="selectedForum.IsOpened && getTotalResponse.length>0" (click)="windowTop()">Add your response</a>
			 	<!-- <div class="row">
					<div class="col-lg-2 col-md-2 col-sm-9 col-xs-6" style="cursor:pointer;" *ngIf="selectedForum.IsLiked" >
						<span><i class="fa fa-thumbs-up" style="color:green;font-size:24px" ></i></span>
						<span>{{selectedForum.LikesCount}} likes </span>
					</div>
					<div class="col-lg-2 col-md-2 col-sm-9 col-xs-6" style="cursor:pointer;" (click)="like()" *ngIf="!selectedForum.IsLiked" >
						<span><i class="fa fa-thumbs-o-up" style="color:green;font-size:24px"  ></i></span>
						<span>{{selectedForum.LikesCount}} likes </span>
					</div>
					<div class="col-lg-10 col-md-10 col-sm-3 col-xs-6">
						<span><i class="fa fa-comment-o" style="color:black;font-size:14px"></i></span>
						<span>{{selectedForum.Responses.length}} responses</span>	
					</div>
				</div> -->
				<div class="row mt-20"  *ngIf="ShowUserRole=='masteradmin' || ShowUserRole=='admin'">
					<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
						<div class="row">
							<div class="col-lg-4 col-md-4 col-sm-6 col-xs-9">
								<select id="selstatus"  [(ngModel)]="setStatus"   (change)="status($event.target.value)">
									<option disabled  value="select">Select</option>
									<option value="UnderReview">Under review</option>
									<option value="Planned">Planned</option>
									<option value="Started">Started</option>
									<option value="Completed">Completed</option>
									<option value="Declined">Declined</option>
								</select>
							</div>	
							<div class="col-lg-4 col-md-4 col-sm-6 col-xs-3">
								<input type="submit" class="btn btn-sm btn-color rounded" value="Change Status" (click)="setAdminStatus()">
							</div>
							<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
									<p *ngIf="!selectedForum.IsOpened" class="btn btn-sm btn-color rounded" (click)="openclose()">Open this Thread</p>
									<p *ngIf="selectedForum.IsOpened" class="btn btn-sm btn-color rounded" (click)="openclose()">Close this Thread</p>
								</div>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</div>
	<div class="row mt-20 bottom_border" *ngIf="selectedForum.Responses.length!=0">
		<div class="col-lg-9 col-md-9 col-sm-6 col-xs-5">
			<h4>{{selectedForum.Responses.length}} Responses</h4>
		</div>
		<div class="col-lg-1 col-md-1 col-sm-3 col-xs-1">
			<div *ngIf="ShowUserRole=='masteradmin' || ShowUserRole=='admin'">
				<span class="right  cursor_pointer" (click)="pin()">
					<i class="fa fa-thumb-tack pinIcon" [ngClass]="{'unpinIcon':selectedForum.Pin}"></i>
				</span>
			</div>
		</div>
		<div class="col-lg-2 col-md-2 col-sm-3 col-xs-5 cursor_pointer">
			<span class="right" (click)="mark()">
				<a href="javascript:;">{{selectedForum.MarkThread?'UnMark Thread':'Mark Thread'}}</a>
			</span>
		</div>
	</div>	
	<div *ngIf="selectedForum.Responses.length>0">
		<div class="row mt-20 mb-20 bottom_border " style="margin-left: 0px;" *ngFor="let viewResponse of selectedResponseDisplay; let i=index;">
			<div >
				<div class="col-lg-1 col-md-1 col-sm-1 col-xs-2 " *ngIf="viewResponse.User.Profile.hasOwnProperty('DisplayPicture')">
					<img src="{{viewResponse.User.Profile.DisplayPicture}}" class="img-responsive" style="border-radius:6px" alt="user image"/>
				</div>
				<!-- <div class="col-lg-1 col-md-1 col-sm-1 col-xs-2 " *ngIf="!viewResponse.User.hasOwnProperty('Image')">
					<i class="fa fa-user" aria-hidden="true" style="font-size:30px;"></i>
				</div> -->
				<div class="col-lg-11 col-md-11 col-sm-11 col-xs-10 mb-20" >
					<div class="row">
						<div class="col-lg-9 col-md-9 col-sm-10 col-xs-9">
							<p><strong>{{viewResponse.User.Profile.FirstName ? viewResponse.User.Profile.FirstName : 'JHeaps user'}}</strong> - {{viewResponse.CreatedDate | date:'dd MMM yyyy HH:mm'}}</p>
						</div>
						
						<div class="col-lg-3 col-md-3 col-sm-2 col-xs-3">
							<!-- <a href="javascript:;" class="fa fa-reply icon_default right cursor_pointer" *ngIf="selectedForum.IsOpened" (click)="viewResponse.Flag=!viewResponse.Flag;" ></a> -->
							<a href="javascript:;" *ngIf="ShowUserRole=='masteradmin' || ShowUserRole=='admin'" class="fa fa-trash-o icon_default trash-icon right cursor_pointer" (click)="ConfirmDeleteResponse(viewResponse._id)" ></a>
						</div>
					</div>
					<p class="text-capitalize selectedmsg_align">{{viewResponse.Response}}</p>
					<div *ngIf="viewResponse.Replies.length>0">
						<div class="row " style="border-top:1px solid #f5f3f3" *ngFor="let reply of viewResponse.Replies" >
							<div style="margin-top: 10px;margin-bottom:10px">
								<div class="col-lg-1 col-md-1 col-sm-1 col-xs-2 " *ngIf="reply.User.Profile.hasOwnProperty('DisplayPicture')">
									<img src="{{reply.User.Profile.DisplayPicture}}" class="img-responsive" style="border-radius:6px" alt="user image"/>
								</div>
								<!-- <div class="col-lg-1 col-md-1 col-sm-1 col-xs-2" *ngIf="!reply.User.Profile.hasOwnProperty('DisplayPicture')">
									<i class="fa fa-user" aria-hidden="true" style="font-size:30px;"></i>
								</div> -->
								<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 selectedmsg_align">
									<p><strong>{{reply.User.Profile.FirstName ? reply.User.Profile.FirstName : 'JHeaps user'}}</strong> - {{reply.CreatedDate | date:'dd MMM yyyy HH:mm'}}
									<span  class="right" *ngIf="ShowUserRole=='masteradmin' || ShowUserRole=='admin'"  (click)="ConfirmDeleteReply(viewResponse._id,reply._id)"><i class="fa fa-trash-o icon_default"></i></span></p>
									<p class="text-capitalize">{{reply.Reply}}</p>
								</div>
							</div>
						</div>
					</div>
					<div calss="row">
						<a class="cursor_pointer" href="javascript:;" *ngIf="selectedForum.IsOpened" (click)="viewResponse.Flag=!viewResponse.Flag;">Reply to {{viewResponse.User.Profile.FirstName}}</a>
					</div>
					<div class="row" *ngIf="viewResponse.Flag">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<form name="CommentForm" id="CommentForm"  #CommentForm="ngForm"  (ngSubmit)="sendComment(viewResponse._id)" novalidate>
								<textarea class="form-control" style="margin-top:10px" rows="3" id="writeComment" name="writeComment" [(ngModel)]=" this.replyModel.Reply" #writeComment="ngModel" required></textarea>
								<div *ngIf="writeComment.errors && (writeComment.dirty || writeComment.touched)" class="alert alert-danger">
									<div [hidden]="!writeComment.errors.required">
										Enter your reply
									</div>
								</div>
								<input type="submit" class="btn btn-sm btn-color right rounded" *ngIf="getUserToken!=null" [disabled]="!CommentForm.form.valid" value="Add your reply">
								<input type="submit" class="btn btn-sm btn-color right rounded" *ngIf="getUserToken==null" (click)="login()" value="Login to Post">
								<!--<input type="submit" class="btn btn-sm btn-color right rounded" [disabled]="!CommentForm.form.valid" (click)="sendComment(viewResponse._id)" value="Post">-->
							</form>
						</div>
					</div>
					<!--<a href="javascript:;" class="mb-30" (click)="viewResponse.Flag=!viewResponse.Flag;" > Reply to {{viewResponse.User.Name}}<i class="fa fa-reply" style="font-size: 20px" ></i></a>-->
				</div>
			</div>
		</div>
	</div>
	<div id="response" class="row thread_container" style="background: #e0e0e0">
		<form *ngIf="selectedForum.IsOpened" name="responseForm" id="responseForm" class="mt-30"  #responseForm="ngForm" (ngSubmit)="sendResponse()" novalidate>
				<div class="form-group">
					<textarea class="form-control" rows="3" id="writeResponse" name="writeResponse" [(ngModel)]=" this.responseModel.Response" #writeResponse="ngModel" required></textarea>
					<div *ngIf="writeResponse.errors && (writeResponse.dirty || writeResponse.touched)" class="alert alert-danger">
						<div [hidden]="!writeResponse.errors.required">
							Enter your Response
						</div>
					</div>
				</div>
				<input type="submit" class="btn btn-sm btn-color right rounded" *ngIf="getUserToken!=null" [disabled]="!responseForm.form.valid"  value="Add your response">
				<input type="submit" class="btn btn-sm btn-color right rounded" *ngIf="getUserToken==null" (click)="login()" value="Login to Post">
				<!--<input type="submit" class="btn btn-sm btn-color right rounded"  [disabled]="!responseForm.form.valid" (click)="sendResponse()" value="Post">-->
		</form>
	</div>
	<!-- <a href="javascript:;" class="btn btn-sm btn-color rounded right mt-30"  *ngIf="selectedForum.IsOpened && getTotalResponse.length>0" (click)="windowTop()">Add Response to {{selectedForum.User.Profile.FirstName ? selectedForum.User.Profile.FirstName : 'JHeaps user'}}'s Post</a> -->
</div>
<div class="row"  *ngIf="getTotalResponse.length>8">
	<div class="right  mt-30">
		<a href="javascript:;" class="pagination_font">{{pageNumber+1}} out of {{totalPages}}</a>
		<a href="javascript:;">
			<button [disabled]="pageNumber<1" class="btn btn-sm btn-color" (click)="pageSelectionPrev()" >
				<!--i class="fa fa-arrow-circle-left"></i-->
				&#9664;	
			</button>
		</a>
		<a href="javascript:;">
			<button [disabled]="pageNumber+1==totalPages" class="btn btn-sm btn-color" (click)="pageSelectionNext()">
				<!--i class="fa fa-arrow-circle-right"></i-->
				&#9658;
			</button>
		</a>
	</div>
</div>

<div class="modal fade" id="deletePostModal" role="dialog">
			<div class="modal-dialog modal-sm">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Delete Modal</h4>
					</div>
					<div class="modal-body">
						<p>Are you sure to Delete this Post ?</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-sm btn-color rounded" data-dismiss="modal" >Cancel</button>
						<button type="button" class="btn btn-sm btn-color rounded" (click)='DeletePost()'>Delete</button>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="deleteResponseModal" role="dialog">
			<div class="modal-dialog modal-sm">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Delete Modal</h4>
					</div>
					<div class="modal-body">
						<p>Are you sure to Delete this Response ?</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-sm btn-color rounded" data-dismiss="modal" >Cancel</button>
						<button type="button" class="btn btn-sm btn-color rounded" (click)='DeleteResponse()'>Delete</button>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="deleteReplyModal" role="dialog">
			<div class="modal-dialog modal-sm">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Delete Modal</h4>
					</div>
					<div class="modal-body">
						<p>Are you sure to Delete this Reply ?</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-sm btn-color rounded" data-dismiss="modal" >Cancel</button>
						<button type="button" class="btn btn-sm btn-color rounded" (click)='DeleteReply()'>Delete</button>
					</div>
				</div>
			</div>
		</div>
