/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "assets/css/bootstrap.min.css";
@import "../node_modules/font-awesome/css/font-awesome.css";
@import "assets/css/magnific-popup.css";
@import "assets/revolution/css/settings.css";
/* @import "assets/css/rev-slider.css";  */
@import "assets/css/font-icons.css";
/* @import "assets/css/sliders.css"; */
@import "assets/css/colors-global.css";
@import "assets/css/style.css";
@import "assets/css/responsive.css";
@import "assets/css/spacings.css";
@import "assets/css/animate.min.css";
/* @import "assets/css/color.css"; */
@import "assets/css/ng2-select.css";
@import "../node_modules/cropperjs/dist/cropper.min.css";
@import "../node_modules/croppie/croppie.css";
@import "assets/css/xzoom.css";
@import "assets/css/toaster.min.css";
@import "../node_modules/ion-rangeslider/css/ion.rangeSlider.css";
/* @import "../node_modules/ion-rangeslider/css/ion.rangeSlider.skinNice.css"; */
@import "../node_modules/primeng/resources/themes/bootstrap/theme.css";
@import "../node_modules/primeng/resources/primeng.css";
@import "assets/css/custom.css";
/* @import "assets/css/font.css"; */
@import "assets/css/font-playfair.css";
@import "../node_modules/froala-editor/css/froala_editor.pkgd.min.css";
@import "../node_modules/froala-editor/css/froala_style.min.css";
@import "~@ng-select/ng-select/themes/material.theme.css";
@import "assets/css/style-home.css";
@import "assets/css/slick.css";
@import "assets/css/slick-theme.css";

.vl-add-address {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
/* .add-address
{
    border:2px dashed;
    border-color: #7a7a7a;
    border-radius:3px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 200px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.address-box
{
    border:0.5px solid; 
    padding:10px;
    height: 200px;
    border-radius:3px;
    box-shadow: 0px 1px 0.5px 0px #7a7a7a;
} */


#toastem{
    position: fixed;
    z-index: 999;
    bottom: 26px;
    left: 500px;
  }
  .notification{
    display: block;
    position: relative;
    overflow: hidden;
    margin-top: 10px;
    margin-right: 10px;
    padding: 7px;
    width: 150px;
    border-radius: 3px;
    color: white;
    right: -400px;
    /*box-shadow: 0px 1px 5px #bbbbbb;*/
  }
  .normal{
    background: #3c3b3b;
  
  }
  
  .tostm>* {
      margin: 0 4px
  }
  .m-icons {
      margin: 3px 12px 0 5px;
      color: #323232;
      background-color: #0288d1;
      border-radius: 50%;
   float: left;
  }
  .ano {
      background-color: #22A6B3
  }
  .err
  {
    background-color: #ff5252
  }
  .text
  {
  line-height: 32px; padding-bottom: 50px; text-align: left; width: auto;
  font-family: Roboto,Helvetica,Arial,sans-serif;
  font-size: 13;
  word-break: break-all;
  
  
  }
  /*.toast.error .material-icons {
      background-color: #ff5252
  }*/
  .success{
    background: #3c3b3b;
  }
  .error{
     background: #3c3b3b;
  }


  .mat-snack-bar-container.mat-snack-bar-center{
    margin: 20px !important;
}

aside.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 72px;
    width: 25%;
    z-index: 100;
}


.cdk-overlay-container{
    z-index: 1300 !important;
  } 
  .tooltip {
    position: relative;
    display: inline-block;
    opacity: 5 !important;

  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 230px;
    background-color: #2b2b2b;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 2 !important;
    transition: opacity 0.3s;
  }
  
  .tooltip-bottom {
    top: 135%;
    left: 50%;
    margin-left: -60px;
}


.tooltip-bottom::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #555 transparent;
}

  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }

