<style>
		.alert{
			font-size: 12px !important;
			padding: 0px !important;
			margin-bottom: 10px !important;
			color: #ff0000 !important;
			margin-top: -6px;
			}
		
		input[type="text"],input[type="number"],input[type="email"],input[type="password"] ,textarea{
			border: none !important;
			margin-bottom: 0px !important;
			padding: 0px !important;
			box-shadow: none;
		}
		.form-control:focus{
	-webkit-box-shadow:none !important;
	box-shadow: none !important;
}
		</style>
<div class="form-group">
    <button type="button" class="btn btn-sm btn-color left" (click)="goBack()">
        <span class="fa fa-arrow-left" aria-hidden="true"></span>
    </button>
</div>
<div class="form-group">
    <h3 class="col-md-6 col-md-offset-3 text-center">Save Coupon</h3>
</div>
<form #addCoupon="ngForm" id="addCoupon">
    <div class="row">
        <div class="col-md-12">
            <!-- <label for="text">Coupon Code:</label> -->
            <mat-form-field class="example-full-width">

            <input matInput name="text" id="text1" type="text" [(ngModel)]="this.couponModel.Code" #Code="ngModel" name="Code"
                placeholder="Coupon Code" required> 
                </mat-form-field>
                <div *ngIf="Code.errors && (Code.dirty || Code.touched)" class="alert">
                    <div [hidden]="!Code.errors.required">
                        Coupon code is required
                    </div>
                </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <!-- <label for="StartDate">Start Date:</label> -->

            <div>
                    <mat-form-field class="example-full-width">

                    <input matInput [(ngModel)]="this.couponModel.StartDate" [style]="{'height':'40px'}" [matDatepicker]="picker" placeholder="Start Date" name="StartDate" required #StartDate="ngModel">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker touchUi #picker></mat-datepicker>
                    </mat-form-field>
                    <div *ngIf="StartDate.errors && (StartDate.dirty || StartDate.touched)" class="alert">
                        <div [hidden]="!StartDate.errors.required">
                            Start date is required
                        </div>
                    </div>
        
            </div>
        </div>
        
        <!-- <div class="col-md-6">
            <label for="StartDate">Start Date:</label>
            <div>
                    <p-calendar [(ngModel)]="this.couponModel.StartDate" [style]="{'height':'40px'}" [showIcon]="true" [monthNavigator]="true"
                        [yearNavigator]="true" showTime="true" hourFormat="12" yearRange="2000:2099" name="StartDate" showButtonBar="true"
                        placeholder="mm/dd/yyyy" required></p-calendar>
                </div>
        </div>-->
        <!--<div>
                    <p-calendar [(ngModel)]="this.couponModel.StartDate" [style]="{'height':'40px'}" [showIcon]="true" [monthNavigator]="true"
                    [yearNavigator]="true" showTime="true" hourFormat="12" yearRange="2000:2099" name="StartDate" showButtonBar="true"
                    placeholder="mm/dd/yyyy" required></p-calendar>

              
            </div>-->
        <!-- <input type="text" class="picker-input" #CreatedDate="ngModel" name="CreatedDate" [ngModel]="this.couponModel.CreatedDate | date: 'short'" (ngModelOptions)="{'gettersetter' : true}" [(dateTimePicker)]="this.couponModel.CreatedDate" [theme]="'#000000'" > -->
        <!-- <input type="date" class="picker-input" #CreatedDate="ngModel" name="CreatedDate" [(ngModel)]="this.couponModel.CreatedDate" > -->

        <div class="col-md-6">
            <!-- <label for="ExpiryDate">Expiry Date:</label> -->
            <!-- <input type="text" class="picker-input" #ExpiryDate="ngModel" name="ExpiryDate" [ngModel]="this.couponModel.ExpiryDate | date: 'short'" (ngModelOptions)="{'gettersetter' : true}" [(dateTimePicker)]="this.couponModel.ExpiryDate"  [theme]="'#000000'" > -->
            <div>
                    <mat-form-field class="example-full-width">

                    <input matInput [(ngModel)]="this.couponModel.ExpiryDate" [style]="{'height':'40px'}" name="ExpiryDate" [matDatepicker]="picker1" placeholder="Expiry date" required #ExpiryDate="ngModel">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker touchUi #picker1 ></mat-datepicker>
                    </mat-form-field>

                    <div *ngIf="ExpiryDate.errors && (ExpiryDate.dirty || ExpiryDate.touched)" class="alert">
                        <div [hidden]="!ExpiryDate.errors.required">
                            Expiry date is required
                        </div>
                    </div>
                <!-- <p-calendar [(ngModel)]="this.couponModel.ExpiryDate" [style]="{'height':'40px'}" [showIcon]="true"
                    [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2099" name="ExpiryDate"
                    showButtonBar="true" placeholder="mm/dd/yyyy" required #ExpiryDate="ngModel"></p-calendar> -->
            </div>
        </div>
    </div>
    <div class="row">
        <!-- <div class="col-md-6">
            <label for="type">Select Discount Type:</label>
            <select [(ngModel)]="this.couponModel.DiscountType" #DiscountType="ngModel" name="DiscountType" required>
                <option selected value="" disabled>Select Type</option>
                <option value="Percentage" selected>Percentage</option>
                <option value="Value">Value</option> -->
            <!--</select>
        </div> -->
        <div class="col-md-6" style="margin-top: 15px;">
            <!-- <label for="text">Discount value:</label> -->
            <mat-form-field class="example-full-width">

            <input matInput id="text" [(ngModel)]="this.couponModel.DiscountValue" #DiscountValue="ngModel" name="DiscountValue"
                type="number" placeholder="Discount in percentage" (blur)="checkDiscount()" onkeypress="return event.charCode >= 48 && event.charCode <= 57"
                required>
                </mat-form-field>
                <div *ngIf="DiscountValue.errors && (DiscountValue.dirty || DiscountValue.touched)" class="alert">
                    <div [hidden]="!DiscountValue.errors.required">
                        Discount value is required
                    </div>
                </div>
        </div>
        <div class="col-md-6" style="margin-top: 56px;">
            
                <input type="checkbox"  style="width: 20px;height: 20px;" (change)="selectAllChange($event)" class="input-checkbox" id="selectAll" name="selectAll">
                <label for="selectAll" style="font-size: 15px;" title="Coupon applicable for all items." class="checkbox-label">Apply for all items in shop</label>
                        
                
        </div>
    </div>
   

    <div class="row" [hidden]="!productsShow">
        <h3 class="col-md-6 col-md-offset-3 text-center" style="cursor: default;" title="Select items for which this coupon code applies">Product Selection</h3>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 input-group input-group-xs mt-2">
            <input type="text" style="border:1px solid #e0e0e0 !important;padding:0 16px !important;" class="form-control mb-0" name="Searchbar" [(ngModel)]="this.searchTerm" placeholder="Search items to apply coupon" />
            <span class="input-group-addon" id="sizing-addon1" (click)="searchProducts(searchTerm)">
                <i class="fa fa-search"></i>
            </span>
        </div>
    </div>
    <div class="row">
           
        <div class="scroll-container" (scroll)="LoadOnScroll()" id='scroll-container'  [hidden]="!productsShow">
           
            <div id='scroll-box' class="col-xs-12">
                <ul id="checkbox-container">
                    <li *ngFor="let Product of this.cProducts;let i=index">
                        <input type="checkbox" [name]="'check'+i" class="checkbox" [id]="'check'+i" [(ngModel)]="Product.isSelected"
                            (ngModelChange)="selectionChange(Product)" />
                        <label class="checkbox" [for]="'check'+i">
                            <p class="text-truncate">{{Product.Name}}</p>
                            <img [BindImage]="Product" [alt]="Product.Name">
                        </label>

                    </li>
                </ul>
            </div>
        </div>


        <div class="col-md-12">
            <input type="button" class="btn btn-sm btn-color right rounded" *ngIf="newbutton" (click)="AddCoupon()"
                value="add" [disabled]="!addCoupon.form.valid">
        </div>
        <div class="col-md-12">
            <input type="button" class="btn btn-sm btn-color right rounded" *ngIf="editbutton" (click)="UpdateCoupon()"
                value="save" [disabled]="!addCoupon.form.valid">
        </div>
    </div>

</form>