<!-- Buyer FAQ -->
<div class="container-fluid Clsfaq_title_cover">
    <div class="row">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-7 col-md-5">
            <h1>Here are some common questions from sellers</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid Clsfaq_content_cover">
    <div class="row">
      <div class="container">
        <!-- FAQ Section -->
        <div class="row Clsfaq_section">
          <div class="col-xs-12 col-sm-4 Clsfaq_section_title">
            <h1>Getting started</h1>
          </div>
          <div class="col-xs-12 col-sm-8 Clsfaq_section_content Clssidebar">
            <div class="panel-group" id="accordion1" role="tablist" aria-multiselectable="true">
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Clstitle_1">
                  <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" class="accordion-toggle collapsed" data-parent="#accordion1" href="#Clscollapse_1"
                      aria-expanded="true" aria-controls="collapseOne">
                      <span>Who can sell on JHeaps?</span>
                    </a>
                  </h4>
                </div>
                <div id="Clscollapse_1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Clstitle_1">
                  <div class="panel-body">
                      JHeaps is open for all fashion/artificial jewellery sellers, who have the following
                      <ul class="list">
                        <li>
                            1.	GSTIN
                        </li>
                        <li>
                            2.	PAN card
                        </li>
                        <li>
                            3.	Bank account
                        </li>
                        <li>
                            4.	Address proof
                        </li>
                        <li>
                            5.	Voided cheque
                        </li>
                      </ul>
                  </div>
                </div>
              </div>
  
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Clstitle_2">
                  <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" class="accordion-toggle collapsed" data-parent="#accordion1"
                      href="#Clscollapse_2" aria-expanded="false" aria-controls="collapseTwo">
                      <span>What is the process to get registered in JHeaps as a seller?</span>
                    </a>
                  </h4>
                </div>
                <div id="Clscollapse_2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Clstitle_2">
                  <div class="panel-body">
                      Becoming as a seller in JHeaps.com is a 2 step process as detailed below.
                      <ul class="list">
                        <li>
                          Step 1: Create an account in JHeaps.com with your mobile phone number and email address.
                        </li>
                        <li>
                          Step 2:  Click on “Sell on JHeaps” link in our website and provide the following information with a copy of their proof.
                          <ul class="list">
                            <li>
                              GSTIN, PAN card, address, authorized signature copy
                            </li>
                            <li>
                              Bank account details and a copy of your voided cheque. 
                            </li>
                          </ul>
                        </li>
                      </ul>
                      Once the above 2 steps are complete JHeaps admin will review your account and provide approval within 24 hours. 
                  </div>
                </div>
              </div>
            </div><!-- panel-group -->
          </div>
        </div>
        <!-- FAQ Section End -->
        <!-- FAQ Section -->
        <div class="row Clsfaq_section">
          <div class="col-xs-12 col-sm-4 Clsfaq_section_title">
            <h1>Listing</h1>
          </div>
          <div class="col-xs-12 col-sm-8 Clsfaq_section_content Clssidebar">
            <div class="panel-group" id="accordion2" role="tablist" aria-multiselectable="true">
  
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Clstitle_4">
                  <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" class="accordion-toggle collapsed" data-parent="#accordion2" href="#Clscollapse_4"
                      aria-expanded="true" aria-controls="collapseOne">
                      <span>How to list products in my shop on JHeaps? </span>
                    </a>
                  </h4>
                </div>
                <div id="Clscollapse_4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Clstitle_4">
                  <div class="panel-body">
                      You can list products in your shop through the “Listing Manager” section of your account dashboard.
                  </div>
                </div>
              </div>
            </div><!-- panel-group -->
          </div>
        </div>
        <!-- FAQ Section End -->
        <!-- FAQ Section -->
        <div class="row Clsfaq_section">
          <div class="col-xs-12 col-sm-4 Clsfaq_section_title">
            <h1>Order Processing</h1>
          </div>
          <div class="col-xs-12 col-sm-8 Clsfaq_section_content Clssidebar">
            <div class="panel-group" id="accordion3" role="tablist" aria-multiselectable="true">
  
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Clstitle_6">
                  <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" class="accordion-toggle collapsed" data-parent="#accordion3" href="#Clscollapse_6"
                      aria-expanded="true" aria-controls="collapseOne">
                      <span>How would I know when a customer places an order?</span>
                    </a>
                  </h4>
                </div>
                <div id="Clscollapse_6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Clstitle_6">
                  <div class="panel-body">
                      You will receive a SMS message at your registered phone number indicating the receipt of a new order. Also, you can see the new order in the open orders section of your JHeaps shop account dashboard.
                  </div>
                </div>
              </div>
  
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Clstitle_7">
                  <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" class="accordion-toggle collapsed" data-parent="#accordion3"
                      href="#Clscollapse_7" aria-expanded="false" aria-controls="collapseTwo">
                      <span>What should I do when a customer places an order?</span>
                    </a>
                  </h4>
                </div>
                <div id="Clscollapse_7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Clstitle_7">
                  <div class="panel-body">
                      When a customer places an order please follow the below steps 
                      <ul class="list">
                        <li>
                            Step 1: Print the tax invoice for the order
                        </li>
                        <li>
                            Step 2: Pack the items and tax invoice of the order in a safe and secure package/box.
                        </li>
                        <li>
                            Step 3: Enter the package size and weight details for the order in your dashboard.
                        </li>
                        <li>
                            Step 4: Print the shipping label from your orders dashboard. Printing the shipping label will change the order status to 'Ready for Shipment' automatically and the courier will schedule the pickup.
                        </li>
                        <li>
                            Step 5: Provide the package to our couriers when they arrive for pick up. The arrival time of the couriers would depend on their daily pick cut off time.
                        </li>
                      </ul>
                      It is recommended that you complete the Steps 1 thru 4 within 24 hours of receiving an order, for prompt order and payment processing.
                  </div>
                </div>
              </div>
            </div><!-- panel-group -->
          </div>
        </div>
        <!-- FAQ Section End -->
        <!-- FAQ Section -->
        <div class="row Clsfaq_section">
            <div class="col-xs-12 col-sm-4 Clsfaq_section_title">
              <h1>Shipping</h1>
            </div>
            <div class="col-xs-12 col-sm-8 Clsfaq_section_content Clssidebar">
              <div class="panel-group" id="accordion4" role="tablist" aria-multiselectable="true">
    
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="Clstitle_8">
                    <h4 class="panel-title">
                      <a role="button" data-toggle="collapse" class="accordion-toggle collapsed" data-parent="#accordion4" href="#Clscollapse_8"
                        aria-expanded="true" aria-controls="collapseOne">
                        <span>Do I need to ship my products to JHeaps?</span>
                      </a>
                    </h4>
                  </div>
                  <div id="Clscollapse_8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Clstitle_8">
                    <div class="panel-body">
                        No, you just need to pack the items of an order, print the shipping label and keep the package ready. After this, our logistics partner would come to your location for package pick-up.
                    </div>
                  </div>
                </div>

              </div><!-- panel-group -->
            </div>
          </div>
          <!-- FAQ Section End -->
        <!-- FAQ Section -->
        <div class="row Clsfaq_section">
          <div class="col-xs-12 col-sm-4 Clsfaq_section_title">
            <h1>Returns</h1>
          </div>
          <div class="col-xs-12 col-sm-8 Clsfaq_section_content Clssidebar">
            <div class="panel-group" id="accordion5" role="tablist" aria-multiselectable="true">
  
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Clstitle_9">
                  <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" class="accordion-toggle collapsed" data-parent="#accordion5" href="#Clscollapse_9"
                      aria-expanded="true" aria-controls="collapseOne">
                      <span>What should I do if a customer requests a product return?</span>
                    </a>
                  </h4>
                </div>
                <div id="Clscollapse_9" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Clstitle_9">
                  <div class="panel-body">
                      <ul class="list">
                          <li>
                            1.	A seller is required to respond within 1 business day of a buyer raising a return request. The seller shall respond with one of the following options (i) approve for a replacement (ii) approve for a refund (iii) request more details from the buyer in the return ticket (iv) Reject the return request citing reasons for the rejection, if the request is not in line with JHeaps buyer return policy. Seller is required to fully resolve the return/replacement request within 5 business days of request origination. The replacement resolution option is possible subject to availability of product/item sought by the Buyer.
                          </li>
                          <li>
                            2.	Please note that Buyers will be eligible for a return request only in the following circumstances: 
                            <ul class="list">
                              <li>
                                2.1	Jewellery are not used (other than for trial), altered, washed, soiled or damaged in any way. 
                              </li>
                              <li>
                                2.2	Original tags and packaging are intact. For items that come in branded packaging, the box should be undamaged.
                              </li>
                              <li>
                                3.2	'Made to order' jewellery are not covered under the return policy.
                              </li>
                            </ul>
                          </li>
                        </ul> 
                  </div>
                </div>
              </div>
  
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Clstitle_10">
                  <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" class="accordion-toggle collapsed" data-parent="#accordion5"
                      href="#Clscollapse_10" aria-expanded="false" aria-controls="collapseTwo">
                      <span>What would happen when a customer disputes my product return request resolution?</span>
                    </a>
                  </h4>
                </div>
                <div id="Clscollapse_10" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Clstitle_10">
                  <div class="panel-body">
                      <ul class="list">
                          <li>
                            1.	If the buyer is not satisfied with the seller’s resolution for product return request, the buyer could write to JHeaps admin at resolutions@jheaps.in with the dispute details. JHeaps admin would review the information provided by the buyer/seller and facilitate the resolution process.
                          </li>
                          <li>
                            2.	In these circumstances, it is the sole discretion of the JHeaps admin to either approve or deny a return request. The approval or denial would be based on the review of the information provided by the buyer and the seller, and would be binding on both the seller and the buyer.
                          </li>
                        </ul>
                  </div>
                </div>
              </div>
            </div><!-- panel-group -->
          </div>
        </div>
        <!-- FAQ Section End -->
        <!-- FAQ Section -->
        <div class="row Clsfaq_section">
            <div class="col-xs-12 col-sm-4 Clsfaq_section_title">
              <h1>Payment</h1>
            </div>
            <div class="col-xs-12 col-sm-8 Clsfaq_section_content Clssidebar">
              <div class="panel-group" id="accordion6" role="tablist" aria-multiselectable="true">
    
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="Clstitle_11">
                    <h4 class="panel-title">
                      <a role="button" data-toggle="collapse" class="accordion-toggle collapsed" data-parent="#accordion6" href="#Clscollapse_11"
                        aria-expanded="true" aria-controls="collapseOne">
                        <span>How would buyers make payment for my products?</span>
                      </a>
                    </h4>
                  </div>
                  <div id="Clscollapse_11" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Clstitle_11">
                    <div class="panel-body">
                        Buyers can select the payment method at the time of their cart check out. Two types of payment methods are possible in JHeaps (i) prepayment via netbanking, credit/debit card etc. or (ii) Cash on Delivery.
                    </div>
                  </div>
                </div>
    
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="Clstitle_12">
                    <h4 class="panel-title">
                      <a class="collapsed" role="button" data-toggle="collapse" class="accordion-toggle collapsed" data-parent="#accordion6"
                        href="#Clscollapse_12" aria-expanded="false" aria-controls="collapseTwo">
                        <span>When would I get paid, and when should the commissions to the JHeaps marketplace be paid?</span>
                      </a>
                    </h4>
                  </div>
                  <div id="Clscollapse_12" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Clstitle_12">
                    <div class="panel-body">
                        <ul class="list">
                            <li>
                              1.	Commission and fees (commission, shipping fee, collection fee and fixed fee) and appropriate GST are due to JHeaps marketplace on completion of an order. 
                            </li>
                            <li>
                              2.	An order will be marked as complete 72 hours (3 days) after the delivery of the items in the order, if there is no refund or replacement request on the items by the buyer. If any such request exists, the order will be marked as complete only after the successful resolution of the request.
                            </li>
                            <li>
                              3.	On completion of every order, a Marketplace invoice will created. The invoice will include marketplace commission, shipping fee, collection fee, fixed fee and GST on total marketplace fee. 
                            </li>
                          </ul>
                          The marketplace fee plus GST will be deducted from the net revenue of the order and the remaining amount will be transferred to your designated bank account as part of our weekly payment settlement process, within 7 days of an order completion.
                    </div>
                  </div>
                </div>
              </div><!-- panel-group -->
            </div>
          </div>
          <!-- FAQ Section End -->
          <!-- FAQ Section -->
        <div class="row Clsfaq_section">
            <div class="col-xs-12 col-sm-4 Clsfaq_section_title">
              <h1>Seller support</h1>
            </div>
            <div class="col-xs-12 col-sm-8 Clsfaq_section_content Clssidebar">
              <div class="panel-group" id="accordion7" role="tablist" aria-multiselectable="true">
    
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="Clstitle_13">
                    <h4 class="panel-title">
                      <a role="button" data-toggle="collapse" class="accordion-toggle collapsed" data-parent="#accordion7" href="#Clscollapse_13"
                        aria-expanded="true" aria-controls="collapseOne">
                        <span>What should I do if I believe that the amount paid to me is incorrect?</span>
                      </a>
                    </h4>
                  </div>
                  <div id="Clscollapse_13" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Clstitle_13">
                    <div class="panel-body">
                        If you believe that we have paid you an incorrect amount, please contact us by raising a seller support ticket in your seller dashboard.
                    </div>
                  </div>
                </div>
    
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="Clstitle_14">
                    <h4 class="panel-title">
                      <a class="collapsed" role="button" data-toggle="collapse" class="accordion-toggle collapsed" data-parent="#accordion8"
                        href="#Clscollapse_14" aria-expanded="false" aria-controls="collapseTwo">
                        <span>Where can I get the sales, revenue, profitability, payment settlement reports for my shop?</span>
                      </a>
                    </h4>
                  </div>
                  <div id="Clscollapse_14" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Clstitle_14">
                    <div class="panel-body">
                        You can access all your sales, order fulfilment, revenue, profitability, performance, reviews, payment settlement reports and much more under “Reports” section of your JHeaps seller dashboard.
                    </div>
                  </div>
                </div>
              </div><!-- panel-group -->
            </div>
          </div>
          <!-- FAQ Section End -->
      </div>
    </div>
  </div>