<!-- <div class="col-md-12 col-xs-12" style="margin-top:30px"><p>Select the holidays</p></div> -->
<div class="col-md-4 col-xs-12 " style="margin-top:30px"><p-calendar [style]="{'width':'100px'}" readonlyInput="true" [(ngModel)] = "selectedDates" (ngModelChange) = "DateSelectionChanged()" selectionMode="multiple" [monthNavigator]="true" [yearNavigator]="true"  yearRange="2000:2099" name ="DateSelection" [inline] = "true" ></p-calendar></div>
<div class="col-md-8 col-xs-12" *ngIf="dateModel.length>0 ; else Empty">
    <form class="form" id="holidayForm" #holidayForm = "ngForm">
    <div class="table-wrap">
        <table class="table">
            <thead>
                <tr>
                    <th colspan="1">No.</th>
                    <th colspan="3">Date</th>
                    <th colspan="2">State*</th>
                    <th colspan="5">Discription</th>
                    <th colspan="1">Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let date of dateModel;let i=index">
                    <td colspan="1">{{ i + 1 }}</td>
                    <td colspan="3">{{date.Date | date:"shortDate"}}</td>
                    <td colspan="2">
                            <select [id]='"stateSelection"+i' style="height:30px; margin-bottom:0px" [(ngModel)]="date.State"
                            [name]='"stateSelection"+i' required>
                               <option disabled value="">--state--</option>
                               <option [ngValue]="state.region" *ngFor="let state of states">
                                   {{state.region}}
                               </option>
                           </select>
                    </td>
                    <td colspan="5"><input type="text" style="height:30px; margin-bottom:0px" [id] ='"Discription"+i' [name] = '"Discription"+i' [(ngModel)] = "date.Holiday" placeholder="Description"/></td>
                    <td colspan="1"><i class="fa fa-trash-o" style="color:black;font-size: 20px;"  (click)="ConfirmDelete(i,date.Date)"></i></td>
                </tr>

            </tbody>
        </table>

    </div>

    <div class="left">
        <input [disabled] = "!holidayForm.form.valid" type="button" class="btn btn-xs btn-color" (click)="SaveHolidays()" value="Save">
    </div>
</form>
</div>

<ng-template #Empty>
        <div class="col-md-8 col-xs-12" style="margin-top:30px;"><p>No dates selected, select a date from calendar</p></div>    
</ng-template>
<!-- <div class="col-md-8 col-xs-12 col-md-offset-1">
    <nav class="pagination clear">
        <a href="javascript:;" (click)="previousPage()"><i class="fa fa-angle-left"></i></a>
        <a href="javascript:;" *ngFor="let page of pages" [class]="currentPage==page?'current':''" (click)="selectPage(page)">{{page}}</a>
        <a href="javascript:;" (click)="nextPage()"><i class="fa fa-angle-right"></i></a>
    </nav>
</div> -->