<!--<div class="container">
	<section class="row">
		<div class="col-lg-12">
			<div class="mt-50 order-review-wrap ecommerce-checkout-review-order mb-50" id="order_review">
				<h2 class="heading relative heading-small uppercase bottom-line style-2 left-align mb-30">
					<i class="fa fa-thumbs-o-up" aria-hidden="true"></i> Payment Success
					<span [currencyValue]="productCurrency" class="amount right"> {{paymentStatusInfo[0].OverAllCost.OverAllCost | currency:productCurrency.value:true}}</span>
				</h2>
				<div class="row mb-30"  *ngFor="let order of paymentStatusInfo[0].ProductsArray;let i=index">
				
				
					<div class=" purchase_container">
				<div class="row purchase_title" >
					<div class="col-md-3">
						<p><strong>Order Date</strong></p>
						<p>{{order.CreatedDate | date:'dd MMM yyyy'}}</p>
					</div>
					<div class="col-md-2">
						<p><strong>Total</strong></p>
						<p [currencyValue]="productCurrency" class="amount"> {{order.Totals.TotalCost | currency:productCurrency.value:true}}</p>
					</div>
					<div class="col-md-4">
						<p><strong>Status</strong></p>
						<p>{{order.OrderStatus}}</p>
					</div>
					<div class="col-md-3">
						<p><strong>Order-ID</strong></p>
						<p>{{order.OrderId}}</p>
					</div>
				</div>
				<div class="row purchase_body" *ngFor="let shopId of order.Items[0][getShopkey(order.Items[0])];" >
					<span >
					<div class="col-md-2">
						<img src="{{shopId.Product.Media.Image}}"/>
					</div>
					<div class="col-md-6">
						<p><strong>{{shopId.Product.Name}}</strong></p>
						<p>{{shopId.Product.Variation.Name}}-{{shopId.Product.Variation.Value}}</p>
						<p>Sold by : {{shopId.Shop.Name}}</p>
						<p><span [currencyValue]="productCurrency" class="amount"> {{shopId.Product.Price| currency:productCurrency.value:true}}</span>  x {{shopId.Product.Qty}} 
						
							
							</p>
						
					</div>
					<div class="col-md-4">
						<div>
							<button type="button" class="mt-40 btn btn-sm btn-color" *ngIf="order.OrderStatus=='Delivered'" (click)="ReviewModal(shopId.Product.Id,shopId.Product.Name,shopId.Shop)">Review</button>
							<button type="button" class="mt-40 btn btn-sm btn-color" *ngIf="order.OrderStatus=='Delivered'" (click)="returnOrder(order._id,shopId.Product.Id,shopId.Shop.Id,i)">Return</button>	
							<button type="button" class="mt-40 btn btn-sm btn-color" *ngIf="shopId.Product.ProductStatus=='Return Requested'" disabled="true">Return Requested</button>
						</div>
					</div>
					</span>
				</div>
				</div>
				
			</div>
				<div class="row mb-30"  *ngFor="let order of paymentStatusInfo| slice:0:1;">
			<div class="row purchase_container " style="border: none;margin: 0" >
						<div class=" col-md-6 ">
							<div class=" panel panel-default">
								<div class="panel-heading text-uppercase">
									<span>Shipping Address</span>
								</div>
								<div class="panel-body">
									<strong>
										<p>{{order.ProductsArray[0].ShippingAddress.FirstName +" "+order.ProductsArray[0].ShippingAddress.LastName}}</p>
									</strong>
									<p style=" line-height: 1;">{{order.ProductsArray[0].ShippingAddress.Line1}}</p>
									<p style=" line-height: 1;">{{order.ProductsArray[0].ShippingAddress.Line2}}</p>
									<p style=" line-height: 1;">{{order.ProductsArray[0].ShippingAddress.City}}</p>
									<p style=" line-height: 1;">{{order.ProductsArray[0].ShippingAddress.State}}</p>
									<p style=" line-height: 1;">{{order.ProductsArray[0].ShippingAddress.Country}}-{{order.ProductsArray[0].ShippingAddress.Zip}}</p>
									<p style=" line-height: 1;">Phone : {{order.ProductsArray[0].ShippingAddress.Phone}} </p>
								</div>
							</div>
						</div>
						<div class="col-md-6 ">
							<div  class="panel panel-default">
								<div class="panel-heading text-uppercase">
									<span>Grant Total</span>
								</div>
								<div class="panel-body">
									<div class="row">
										<div class="col-md-6">
											<p>Cart Sub Total</p>
											<p>Shipping Cost</p>
											<p>Coupon Discount</p>
											<p style=" line-height: 4.5;"><strong>Total</strong></p>
										</div>
										<div class="col-md-6">
											<p>+<span [currencyValue]="productCurrency" class="amount right"> {{order.OverAllCost.ProductCost | currency:productCurrency.value:true}}</span></p>
											<p>+<span [currencyValue]="productCurrency" class="amount right"> {{order.OverAllCost.ShippingCost | currency:productCurrency.value:true}}</span></p>
											<p>-<span [currencyValue]="productCurrency" class="amount right"> {{order.OverAllCost.CouponDiscount	 | currency:productCurrency.value:true}}</span></p>
											<hr>
											<p>=<span [currencyValue]="productCurrency" class="amount right"> {{order.OverAllCost.OverAllCost | currency:productCurrency.value:true}}</span></p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					</div>
			</div>
		</div>
	</section>
</div> -->

<!-- <span class="text">
	<i class="tostm material-icons m-icons ano">check</i>
	</span> -->


<!--New Design-->
<style>
 h6::first-letter{
	text-transform: capitalize;
}
</style>

<div class="container-fluid">
	<section *ngIf="dataReady">
		<div class="mt-50 order-review-wrap ecommerce-checkout-review-order mb-50" id="order_review">
			<div class="Clstitle_cover Clssuccess_text">
				<h2 class="heading relative bottom-line style-2 left-align mb-30">
					<span><i class="material-icons Clsorder_icon">check_circle</i> </span><span>Order placed </span>
					<span class="Clsshopping_btn"><button class="Clscommon_btn_fill_small" (click)="redirectToHome()">Keep Shopping</button></span>
					<span class="amount right"> {{productCurrency.value + Total.TotalCost}}</span>
				</h2>
			</div>
			<div class="row mb-30">
				<!-- <div class="col-md-8 col-lg-8 col-sm-8 col-xs-12 purchase_container"> -->
					<div class="col-lg-9 col-md-8 col-sm-12 ">
						<div class="table-wrap mb-30 ml-1 hidden-xs">

							<div class="panel panel-default" *ngFor="let paymentStatusInfo of paymentStatusInfoItems; let i=index">
									
								<div class="panel-heading">
									<div class="row">
										<div class="col-md-6" style="float: left;margin-top: 5px;">{{paymentStatusInfo.ShopAccountId.approvedBusinessDetails.Name}}</div>
										<div class="col-md-6 text-right"><button type="button" class="Clsorder_id" >OR: {{ paymentStatusInfo.OrderId }}</button></div> 
									</div>
									<!-- <div class="row" style="font-weight:bold">
										<div class="col-md-3" style="float: left; text-align: center;">Shop name</div>
										<div class="col-md-3" style="float: right; text-align: center;">Order id</div>
										<div class="col-md-3">Status</div>
										<div class="col-md-4">COD number</div>
									</div>
									<div class="row">
										<div class="col-md-3 text-uppercase" style="float: left; text-align: center;">{{paymentStatusInfo.Items[0].Product.Shop.Name}}</div>
										<div class="col-md-3" style="float: right; text-align: center;">{{paymentStatusInfo._id}}</div>
										<div class="col-md-3">{{paymentStatusInfo.OrderStatus}}</div>
										<div class="col-md-4">{{paymentStatusInfo.CODNumber}}</div>
									</div> -->
									<!-- <span></span> <span>Order Id - {{paymentStatusInfo._id}} </span> -->
								</div>
								<div class="panel-body">
									<table class="shop_table cart table table-responsive mb-2" style="padding-bottom: 20px">
										<!-- <thead>
											<tr>
												<th colspan="1"></th>
												<th class="cart-product-name text-center" colspan="2">Product</th>
												<th class="product-quantity text-center">Quantity</th>
												<th class="product-subtotal text-center" colspan="2">Price</th>
											</tr>
										</thead> -->
										<tbody>
											<tr class="cart_item" *ngFor="let product of paymentStatusInfo.Items;">
												<td colspan="1" class="product-thumbnail" style="border-top: none;">
													<a href="javascript:;">
														<img style="max-height: 87px;" [ImageBind]="product?.Product" [title]="product.Product?.Name" (click)="productInfo(product.Product.Id)">
													</a>
												</td>
												<td colspan="2" class="product-name" style="text-align:center;border-top: none;">
													<!-- <span class="label label-warning" *ngIf="product.Product?.Deleted">The Product is not currently available</span> -->
													<a href="javascript:;"  id="prodname" (click)="productInfo(product.Product.Id)" style="text-transform: lowercase" [title]="product.Product.Name"> <h6 style="font-family:' Open Sans',sans-serif;font-weight: 300;"> {{product.Product.Name| shorten: 60: ' ...'}} </h6> </a>
													<ul *ngIf="product.Product?.Variation">
														<li *ngIf="!product.productEdit">{{product.Product.Variation.Name1}}: {{product.Product.Variation.Value1}}</li>
														<li *ngIf="!product.Product.productEdit && product.Product.Variation?.Name2">{{product.Product.Variation?.Name2}}:
															{{product.Product.Variation?.Value2}}</li>
				
													</ul>
												</td>
												<td colspan="1" class="product-quantity text-center" style="text-align:center;border-top: none;">
														Quantity: <span>{{ product.Product.Qty }}</span>
													<!-- <div class="quantity buttons_added">
														
													</div> -->
												</td>
												<td colspan="2" class=" product-subtotal text-center" *ngIf="product.Product.Variation?.Price" style="text-align:center;border-top: none;">
													<span class="ammount">{{ productCurrency.value +(product.Product.Variation.Price * product.Product.Qty)}}</span>
													<br /> (
													<span class="ammount">{{productCurrency.value + product.Product.Variation.Price}}</span>
													)
												</td>
												<td colspan="2" class=" product-subtotal text-center" *ngIf="!product.Product.Variation?.Price && product.Product.Price" style="text-align:center;border-top: none;">
													<span class="ammount">{{productCurrency.value +(product.Product.Price * product.Product.Qty)}}</span>
													<br /> (
													<span class="ammount">{{productCurrency.value +product.Product.Price}}</span> each)
												</td>
											</tr>
				
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
					<!-- Mobile View -->
					<div class="col-xs-12 hidden-lg hidden-md hidden-sm">
							<div class="table-wrap mb-30 ml-1">
								<div class="panel panel-default" *ngFor="let paymentStatusInfo of paymentStatusInfoItems; let i=index">
									<div class="panel-heading">
											<div class="row">
													<div class="col-md-6" style="margin-top: 5px;">{{paymentStatusInfo.ShopAccountId.approvedBusinessDetails.Name}}</div>
													<div class="col-md-6"><button type="button" class=" btn btn-sm btn-color" style="font-size: 13px;font-family: monospace;letter-spacing: 0.0em;">{{ paymentStatusInfo.OrderId }}</button></div> 
											</div>
												<!-- <div class="row text-center" style="font-weight:bold">
													<div class="col-xs-2">Shop Name</div>
													<div class="col-xs-4">Order-ID</div>
													<div class="col-xs-2">Status</div>
													<div class="col-xs-4">COD Number</div>
												</div>
												<div class="row text-center">
													<div class="col-md-2 text-uppercase">{{paymentStatusInfo.Items[0].Product.Shop.Name}}</div>
													<div class="col-md-4">{{paymentStatusInfo._id}}</div>
													<div class="col-xs-2">{{paymentStatusInfo.OrderStatus}}</div>
													<div class="col-xs-4">{{paymentStatusInfo.CODNumber}}</div>
												</div> -->
										<!-- <span class="pull-right">
											<a href="javascript:;" (click)="openContactShopModal(shopListArray[shopName.name])">Contact Shop</a>
										</span> -->
									</div>
									<div class="panel-body">
										<div class="hidden-lg hidden-sm hidden-md col-xs-12 cart-xs">
											<div class="cart_item-xs" *ngFor="let product of paymentStatusInfo.Items; let j=index">
												<div class="row text-center">
												<div class="col-md-4 text-center">
														<a href="javascript:;">
																<img class="cart-thumbnail" [ImageBind]="product?.Product" alt="Product Image" [title]="product.Product.Name" (click)="productInfo(product.Product.Id)">
														</a>
												</div>
												<div class="col-md-4 text-center" style="padding-right: 20px; padding-left: 20px;">
														<a href="javascript:;" style="margin-left:10px;" (click)="productInfo(product.Product.Id)" [title]="product.Product.Name">{{product.Product.Name | shorten: 60: ' ...'}} ({{ product.Product.Qty }})</a>

												</div>
												<div class="col-md-4 text-center">
														<div class=" product-subtotal" style="margin-left:10px;" *ngIf="product.Product.Variation?.Price">
																<span class="ammount">{{this.productCurrency.value + (product.Product.Variation.Price * product.Product.Qty)}}</span>
																<br/> (
																<span class="ammount">{{this.productCurrency.value + product.Product.Variation.Price}}</span> each)
															</div>
															<div class=" product-subtotal" style="margin-left:10px;" *ngIf="!product.Product.Variation?.Price && product.Product.Price">
																<span class="ammount">{{this.productCurrency.value + (product.Product.Price * product.Product.Qty)}}</span>
																<br/> (
																<span class="ammount">{{this.productCurrency.value + product.Product.Price}}</span> each)
															</div>
												</div>
											</div>
												<!-- <div class="col-xs-4 product-name pull-left">
													<a href="javascript:;" style="margin-left:10px;" (click)="productInfo(product.Product.Id)" [title]="product.Product.Name">{{product.Product.Name | shorten: 60: ' ...'}} </a>
													<div class=" product-subtotal" style="margin-left:10px;" *ngIf="product.Product.Variation?.Price">
														<span class="ammount">{{this.productCurrency.value + (product.Product.Variation.Price * product.Product.Qty)}}</span>
														<br/> (
														<span class="ammount">{{this.productCurrency.value + product.Product.Variation.Price}}</span> each)
													</div>
													<div class=" product-subtotal" style="margin-left:10px;" *ngIf="!product.Product.Variation?.Price && product.Product.Price">
														<span class="ammount">{{this.productCurrency.value + (product.Product.Price * product.Product.Qty)}}</span>
														<br/> (
														<span class="ammount">{{this.productCurrency.value + product.Product.Price}}</span> each)
													</div>
											
												</div>
	
												<div class="col-xs-4 pull-right">
													<a href="javascript:;">
														<img class="cart-thumbnail" [ImageBind]="product?.Product" alt="Product Image" [title]="product.Product.Name" (click)="productInfo(product.Product.Id)">
													</a>
												</div>
												<div class="quantity buttons_added product-quantity text-center col-xs-4">
													<span>{{ product.Product.Qty }}</span>
												</div> -->
											</div>
											
	
		
										</div>
									</div>
								</div>
							</div>
						</div>
				<!-- </div> -->
				<div class="col-md-3 col-lg-3 col-sm-3 col-xs-12 purchase_container " style=" border: none;margin: 0;margin-left:0%">
					<div class="row">
						<div class=" panel panel-default">
							<div class="panel-heading text-uppercase">
								<span>Shipping Address</span>
							</div>
							<div class="panel-body">
								<strong>
									<p style="color: black;">{{ShippingAddress.FirstName +" "+ShippingAddress.LastName}}</p>
								</strong>
								<p style=" line-height: 1; color: black;">{{ShippingAddress.Line1}}</p>
								<p style=" line-height: 1; color: black;">{{ShippingAddress.Line2}}</p>
								<p style=" line-height: 1; color: black;">{{ShippingAddress.City}}</p>
								<p style=" line-height: 1; color: black;">{{ShippingAddress.State}}</p>
								<p style=" line-height: 1; color: black;">{{ShippingAddress.Country}}-{{ShippingAddress.Zip}}</p>
								<p style=" line-height: 1; color: black;">Phone : {{ShippingAddress.Phone}} </p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="panel panel-default">
							<div class="panel-heading text-uppercase">
								<span>Price Details</span>
							</div>
							<div class="panel-body">
								<div class="row text-center">
									<!-- <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
										<p>Cart sub total</p>
										<p>Shipping cost</p>
										<p *ngIf="Total.CouponDiscount">Coupon discount</p>
										<p style=" line-height: 4.5;">
											<strong>Total</strong>
										</p>
									</div>
									<div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
										<p>+
											<span class="amount right"> {{ productCurrency.value + Total.ProductCost}}</span>
										</p>
										<p>+
											<span class="amount right"> {{ productCurrency.value + Total.ShippingCost}}</span>
										</p>
										<p *ngIf="Total.CouponDiscount">-
											<span class="amount right"> {{ productCurrency.value + Total.CouponDiscount}}</span>
										</p>
										<hr>
										<p>=
											<span class="amount right"> {{ productCurrency.value + Total.TotalCost}}</span>
										</p>
									</div> -->
									<table style="width: 100%; margin-left: 5px;">
										<tbody>
											<tr>
												<th style="padding: 10px;">Cart sub total</th>
												<td style="padding: 10px;"><span class="amount right"> {{ productCurrency.value + Total.ProductCost}}</span></td>
											</tr>
											<tr>
												<th style="padding: 10px;">Shipping cost</th>
												<td style="padding: 10px;"><span class="amount right"> {{ productCurrency.value + Total.ShippingCost}}</span></td>
											</tr>
											<tr *ngIf="Total.CouponDiscount">
												<th style="padding: 10px;">Coupon discount</th>
												<td style="padding: 10px;"><span class="amount right"> {{ productCurrency.value + Total.CouponDiscount}}</span></td>
											</tr>
											<tr>
												<th style="padding: 10px;"><strong>Total</strong></th>
												<td style="padding: 10px; border-top: 1px solid #eee;"><strong><span class="amount right"> {{ productCurrency.value + Total.TotalCost}}</span></strong></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>

