<div *ngIf = "bannerList.length>0 || (showCreation == true) ; else addNewTemplate">
		<div class="row">
				<h2 class="heading relative heading-small uppercase bottom-line style-2 left-align mb-0">Upload Banner</h2>
			</div>
			<div class="row">
					<div class="right" *ngIf= "showAdd == true">
							<input type="button" class="btn btn-sm btn-color right" (click)="this.showAdd = false;" value="New" style="margin-right:20px">
						</div>
			<div *ngIf="!showAdd">
				<!-- <label class="note-text">Note for web banner : Image Dimension should not be less than 1600 X 310</label><br>
				<label class="note-text">Note for mobile banner: Image Dimension should not be less than 1170 X 600</label> -->
				<form id="upload_banner" #uploadbanner="ngForm" style="margin-top:20px">
					<div class="col-md-2 col-xs-8">
						<div>
								<label for="bannerImage" class="label-heading-new">
									<span>Select Devive</span>
								</label>
								<select [(ngModel)]="bannerNew.device" name="device" required>
										<option  selected="" [value]="default" disabled>Select Device </option>
										<option [value]="1">Web</option>
									<option  [value]="2">Mobile</option>
								</select>
							</div>
				 </div>
						 <div class="col-md-4 col-xs-12">
								<div>
										<label for="bannerImage" class="label-heading-new">
											<span>Banner Image</span>
										</label>
										<input type="file" class="form-control" name="bannerImage" (change)="changeBannerImage(bannerNew,'Add', $event)" required>
										<!-- <span *ngIf="loader">
												<i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
										</span> -->
									</div>
						 </div>
			
						 <div class="col-md-2 col-xs-8">
								<div >
										<label for="adminCriteria" class="label-heading-new">
											<span>Admin Criteria</span>
										</label>
										<select [(ngModel)]="bannerNew.AdminCriteriaId" name="adminCriteria" required>
												<option  selected="" [value]="default" disabled>Select Criteria </option>
												<option *ngFor="let adminCriteria of adminCriteriaList" [value]="adminCriteria._id">
												{{adminCriteria.Name}}
												</option>
												</select>
									</div>
						 </div>
			
						 <div class="col-md-4 col-xs-12">
							 <label></label>
								<div style="margin-top:10px">
										<button [disabled] = "!uploadbanner.form.valid" class="btn btn-color btn-sm rounded" (click)="addBanner();" >
												<!-- <i class="fa fa-save"></i> -->
												Save
												</button>
												<button class="btn btn-color btn-sm rounded" (click)="showAdd = true" >
														<!-- <i class="fa fa-save"></i> -->
														Cancel
												</button>
								</div>
						 </div>
			
				</form>
			</div>
			
			
				<div class="col-md-12" style="margin-top:20px">
						<h5 class="h5-heading">Banners List </h5>
					<table class="table">
						<thead>
							<tr>
								<th  width="10%">Banner Image</th>
								<th  width="10%">Device</th>
								<th width="40%">Edit Image</th>
								<th  width="30%">Admin Criteria</th>
								
								<!-- <th>Update</th> -->
								<th  width="10%">Delete</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td *ngIf="bannerList?.length==0">No Banner Found. Click + to add</td>
							</tr>
							
							<tr *ngFor="let banner of bannerList; let i = index;">
								<td>
									<a href="{{banner.hasOwnProperty('Dimensions') ? banner.Dimensions.editedImage : banner.BannerUrl}}">Banner {{ i+1 }}</a> 
									<!-- <img src="{{banner.hasOwnProperty('Dimensions') ? banner.Dimensions.editedImage : banner.BannerUrl}}" alt="Banner Image" /> -->
								</td>
								<td>
									<span *ngIf="banner.BannerUrl">Web</span> 
									<span *ngIf="banner.MobileUrl">Mobile</span> 
								</td>
								<td>
										<input type="file" class="form-control" name="bannerImage" (change)="EditbannerImage(banner, $event)" required>
								</td>
								<!--
								<td  width="50%" *ngIf="banner.showEdit">
									<!--<input type="file" class="form-control" name="Banner" (change)="changeBannerImage(banner,'Add', $event)" required>
									<input type="file" class="form-control" name="Banner" (change)="changeBannerImage(banner,'Edit', $event)" required>
								</td>-->
								
								<td  *ngIf="!banner.showEdit">
									{{banner.AdminCriteriaId !== undefined?banner.AdminCriteriaId.Name:""}}
								</td>
								<!-- <td width="20%" *ngIf="banner.showEdit">
									<select class=" mb-0" [(ngModel)]="bannerNew.AdminCriteriaId">
									<option  selected="true" [value]="default" disabled="true">Select Criteria </option>
									<option *ngFor="let adminCriteria of adminCriteriaList" [value]="adminCriteria._id">
									{{adminCriteria.Name}}
									</option>
									</select>
								</td>
								
								<td  width="10%">
								<button class="btn btn-color" (click)="banner.showEdit = false;updateBanner(banner);" *ngIf="banner.showEdit">
								<i class="fa fa-save"></i>
								</button>
								</td>
								<td width="10%">
									<a href="javascript:;"><i class="fa fa-edit" style="font-size:20px;color:black;" (click)="banner.showEdit = true;changeBannerImage(banner,'Edit', $event)" *ngIf="!banner.showEdit"></i></a> 
								</td> -->
								<td >
									<a href="javascript:;"><i class="fa fa-trash-o" style="font-size:20px;color:black;" (click)="confirmDeleteBanner(banner)"></i></a>
								</td>
							</tr>
						
						</tbody>
					</table>
					
					<nav class="pagination clear" *ngIf = "totalPages > 0">
							<a href="javascript:;" (click)="previousPage()"><i class="fa fa-angle-left"></i></a>
							<a href="javascript:;" *ngFor="let page of pages" [class]="currentPage==page?'current':''" (click)="selectPage(page)">{{page}}</a>
							<a href="javascript:;" (click)="nextPage()"><i class="fa fa-angle-right"></i></a>
					</nav>

				</div>
			</div>
			
			<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="cropImage" id="editImageModal">
				<div class="modal-dialog" style="width:1300px" role="document">
					<div class="modal-content">
						<div class="modal-body">
							<img src="{{selectedImageForCropping}}" alt="Product Edit Image" id="EditableImage"/>
						</div>
						<div class="modal-footer">      	
							<button title="Zoom In" type="button" class="btn btn-primary pull-left" (click)="cropperImageZoomIn()">
								<span class="fa fa-search-plus"></span>
							</button>
							<button title="Zoom Out" type="button" class="btn btn-primary pull-left" (click)="cropperImageZoomOut()">
								<span class="fa fa-search-minus"></span>
							</button>
							<button title="Rotate Left" type="button" class="btn btn-primary pull-left" (click)="cropperImageRotateLeft()">
								<span class="fa fa-rotate-left"></span>
							</button>
							<button title="Rotate Right" type="button" class="btn btn-primary pull-left" (click)="cropperImageRotateRight()">
								<span class="fa fa-rotate-right"></span>
							</button>
							<!--button title="Reset" type="button" class="btn btn-primary pull-left" (click)="cropperImageReset()">
								<span class="fa fa-refresh"></span>
							</button-->
							<button type="button" class="btn btn-default" (click)="saveCroppedImage()">Close</button>
							<button type="button" class="btn btn-primary" (click)="saveCroppedImage()">Save</button>
						</div>
					</div>
				</div>
			</div>

			<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="cropImage" id="editImageModal1">
					<div class="modal-dialog" style="width:1300px" role="document">
						<div class="modal-content">
							<div class="modal-body">
								<img src="{{selectedImageForCropping}}" alt="Product Edit Image" id="EditableImage1"/>
							</div>
							<div class="modal-footer">      	
								<button title="Zoom In" type="button" class="btn btn-primary pull-left" (click)="cropperImageZoomIn()">
									<span class="fa fa-search-plus"></span>
								</button>
								<button title="Zoom Out" type="button" class="btn btn-primary pull-left" (click)="cropperImageZoomOut()">
									<span class="fa fa-search-minus"></span>
								</button>
								<button title="Rotate Left" type="button" class="btn btn-primary pull-left" (click)="cropperImageRotateLeft()">
									<span class="fa fa-rotate-left"></span>
								</button>
								<button title="Rotate Right" type="button" class="btn btn-primary pull-left" (click)="cropperImageRotateRight()">
									<span class="fa fa-rotate-right"></span>
								</button>
								<!--button title="Reset" type="button" class="btn btn-primary pull-left" (click)="cropperImageReset()">
									<span class="fa fa-refresh"></span>
								</button-->
								<button type="button" class="btn btn-default" (click)="saveCroppedImage1()">Close</button>
								<button type="button" class="btn btn-primary" (click)="saveCroppedImage1()">Save</button>
							</div>
						</div>
					</div>
				</div>
			
			
			
			
			
			
			
			
			<div class="modal fade docs-cropped" id="getCroppedCanvasModal" aria-labelledby="getCroppedCanvasTitle" tabindex="-1" role="dialog">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="getCroppedCanvasTitle">Cropped</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">×</span>
							</button>
					</div>
						<div class="modal-body">
							
						</div>
						<div class="modal-footer">      	
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
							<a class="btn btn-primary" id="download" href="" download="cropped.jpg">Download</a>
						</div>
					</div>
				</div>
			</div>
</div>

<ng-template #addNewTemplate>

	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<h2 class="heading relative heading-small uppercase bottom-line style-2 left-align mb-0">upload banner</h2>
	</div>
	<div>

		<div style="margin-top:150px; margin-bottom:50px" class="text-center">
			<i class="fa fa-trash" style="font-size:100px;"></i>

		</div>

		<div class="col-xs-12 text-center">
			<input type="button" style="width:400px; border-radius:30px" class="btn btn-color" (click)="showAdd=false;showCreation = true"
			 value="Add New">
		</div>
	</div>
</ng-template>

<div class="modal fade" id="deleteBanner" role="dialog">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Delete Modal</h4>
				</div>
				<div class="modal-body">
					<p>Are you sure to Delete this Banner?</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-sm btn-color rounded" data-dismiss="modal">Cancel</button>
					<button type="button" class="btn btn-sm btn-red rounded" (click)='deleteBanner()'>Delete</button>
				</div>
			</div>
		</div>
	</div>

