<style>
	.alert{
	font-size: 12px !important;
	padding: 0px !important;
    margin-bottom: 10px !important;
    color: #ff0000 !important;
	margin-top: -6px;
	}

</style>
<div class="row" *ngIf = "getGroupNameList.length >0 || showSection ; else addNewTemplate">
	<div class="col-md-12">
		<h2 class="heading relative heading-small uppercase bottom-line style-2 left-align mb-0">Forum Group Creation</h2>
			<div class=" col-md-10 col-md-offset-1">
				<div class="row" *ngIf="viewGroupForm">
					<form name="CreateForumGroup" id="CreateForumGroup"  #CreateForumGroup="ngForm" novalidate>
						<div class="form-group">
							<mat-form-field class="example-full-width">
								<input style="border: none;" matInput type="text" class="form-control"  id="GroupName" placeholder="Enter Forum Group Name" name="GroupName" [(ngModel)]="this.forumGroupModel.GroupTitle" #GroupName="ngModel" required>
							</mat-form-field>
							<div *ngIf="GroupName.errors && (GroupName.dirty || GroupName.touched)" class="alert">
								<div [hidden]="!GroupName.errors.required">
									GroupName is required!
								</div>
							</div>
						</div>
						<div class="form-group">
							<mat-form-field class="example-full-width">
								<input style="border: none;" matInput type="text" class="form-control"  id="ButtonTitle" placeholder="Button Title" name="ButtonTitle" [(ngModel)]="this.forumGroupModel.ButtonTitle" #ButtonTitle="ngModel" required>
							</mat-form-field>
							<div *ngIf="ButtonTitle.errors && (ButtonTitle.dirty || ButtonTitle.touched)" class="alert">
								<div [hidden]="!ButtonTitle.errors.required">
									ButtonTitle is required!
								</div>
							</div>
						</div>
						<div class="form-group">
							<button class="btn btn-sm btn-color rounded right" [disabled]="!CreateForumGroup.form.valid" *ngIf="updateButton" (click)="UpdateGroup()">Update</button>
							<button class="btn btn-sm btn-color rounded right" [disabled]="!CreateForumGroup.form.valid" *ngIf="!updateButton" (click)="addGroup()">Create</button>
							<button class="btn btn-sm btn-color rounded right" (click)="this.viewGroupForm=false;">Cancel</button>
						</div>
					</form>
				</div>
				<div class="row" *ngIf="!viewGroupForm">
					<div class="row">
						<button class="btn btn-sm btn-color right" (click)="this.viewGroupForm=true;"> Create Forum Group</button>
					</div>
					<div class="table-wrap mt-20">
						<table class="table">
							<thead>
								<tr>
									<th>#</th>
									<th>Group Name</th>
									<th>Button Title</th>
									<th>Edit</th>
									<th>Delete</th>
								</tr>
							</thead>
							<tbody>
								<tr *ngIf="getGroupNameList==0">
									<td></td>
									<td></td>
									<td>No Groups Found</td>
								</tr>
								<tr *ngFor="let group of getGroupNameList;let i=index">
									<td>{{(i+1) + (this.currentPage -1)*10}}</td>
									<td>{{group.GroupTitle}}</td>
									<td>{{group.ButtonTitle}}</td>
									<td>
										<a href="javascript:;">
										<i class="fa fa-edit icon_default" (click)="edit(group)"></i>
										</a> 
									</td>
									<td>
										<a href="javascript:;">
										<i class="fa fa-trash-o icon_default" (click)="confirmDelete(group)"></i>
										</a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>

					<nav class="pagination clear" *ngIf = "totalPages > 0">
							<a href="javascript:;" (click)="previousPage()"><i class="fa fa-angle-left"></i></a>
							<a href="javascript:;" *ngFor="let page of pages" [class]="currentPage==page?'current':''" (click)="selectPage(page)">{{page}}</a>
							<a href="javascript:;" (click)="nextPage()"><i class="fa fa-angle-right"></i></a>
					</nav>

					<div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h4 class="modal-title">Delete</h4>
								</div>
								<div class="modal-body">
									Are you sure to delete this group ?
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-default" data-dismiss="modal">No</button>
									<button type="button" class="btn btn-red" (click)="deletefunc()" data-dismiss="modal">Yes</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<ng-template #addNewTemplate>

			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<h2 class="heading relative heading-small uppercase bottom-line style-2 left-align mb-0">Forum Group Creation</h2>
			</div>
		<div>
		   
		<div style="margin-top:150px; margin-bottom:50px" class="text-center">
				<i class="fa fa-trash" style="font-size:100px;" ></i>
			
		</div>
		
		<div class="col-xs-12 text-center">
				<input type="button" style="width:400px; border-radius:30px" class="btn btn-color" (click)="this.viewGroupForm=true;this.showSection = true" value="Add New">
		</div>
		</div> 
		</ng-template>