<div class="form-group">
        <h2 class="heading relative heading-small uppercase bottom-line style-2 left-align mb-0">Incomplete Sellers</h2>
    </div>

    <div>
        	<div class=row *ngIf="showWaitingList">
			
                    <div class="col-md-4" style = "margin-bottom: 20px">
                            <label for="Search">Shop name / Email / Mobile</label>
                            <!-- <input name="text" type="text" id="UserName"  name="UserName" placeholder="User Name / Mail Id" (change)="getdetails($event.target.value)"> -->
                            <div class="input-group stylish-input-group">
                                    <input type="text" class="form-control" (keyup)="searchSeller()" [(ngModel)]="this.searchTerm"
                                            id="Search" name="Search" placeholder="Type and enter to search">
                                    <span (click)="searchSeller()" class="input-group-addon">
                                            <i class="fa fa-search" aria-hidden="true"></i>
                                    </span>
                            </div>
                    </div>
    
            </div>
            <div *ngIf="showWaitingList">
                    <div class="row">
                        
                    </div>
                    <div class="table-wrap" *ngIf = "waitingList.length >0; else addNewTemplate">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th># </th>
                                    <th>Mobile</th>
                                    <th>Shop Name</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                
                                <tr  *ngFor="let List of waitingList;let i=index;" >
                                    <td>{{(i+1) + (initialPage * 10)}}</td>
                                    <td>{{ List.editedBusinessDetails.Profile.Address.Phone ? List.editedBusinessDetails.Profile.Address.Phone : 'Not filled' }}</td>
                                    <td>{{ List.editedBusinessDetails.Name ? List.editedBusinessDetails.Name : 'Not filled' }}</td>
                                    <td>
                                        <button type="button" class="btn btn-sm btn-color" (click)="ViewList(List._id)" >View</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <nav class="pagination clear" *ngIf = "waitingList.length > 0">
                        <a href="javascript:;" (click)="previousPage()"><i class="fa fa-angle-left"></i></a>
                        <a href="javascript:;" *ngFor="let page of pages" [class]="currentPage == page?'current':''" (click)="selectPage(page)">{{ page }}</a>
                        <a href="javascript:;" (click)="nextPage()"><i class="fa fa-angle-right"></i></a>
                    </nav>
                </div>
                <div *ngIf="!showWaitingList" >
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <button type="button" class="btn btn-sm btn-color"  (click)="this.showWaitingList=true;">
                                <span class="fa fa-arrow-left" aria-hidden="true"></span></button>
                            </div>
                            <!-- <div class="right">
                                <button type="button" class="btn btn-sm btn-color" (click)="ApproveSeller(checkDetail?._id)" *ngIf="checkDetail?.editedBusinessDetails  && checkDetail?.editedBankDetails && checkDetail?.SubmitBusiness" >Approve</button>
                              
                            </div> -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mt-20" >
                            <div  *ngIf="checkDetail?.editedBusinessDetails">
                                <h5>Profile Details : </h5>
                                <div class="table-wrap" >
                                    <table class="table table-bordered"  >
                                        <tbody>
                                            <!-- <tr>
                                                <th>Shop Id </th>
                                                <td>{{checkDetail.Shop.Id?}}</td>
                                            </tr> -->
                                            <tr>
                                                <th>Shop Name </th>
                                                <td>{{checkDetail?.editedBusinessDetails?.Name}}</td>
                                            </tr>
                                            <tr>
                                                <th>Address </th>
                                                <td>{{ checkDetail?.editedBusinessDetails?.Profile.Address.Line1 ? checkDetail?.editedBusinessDetails?.Profile.Address.Line1  : '' }}  {{ checkDetail?.editedBusinessDetails?.Profile?.Address?.Line2 ? checkDetail?.editedBusinessDetails?.Profile?.Address?.Line2 : '' }}</td>
                                            </tr>
                                            <tr>
                                                <th>City</th>
                                                <td>{{checkDetail?.editedBusinessDetails?.Profile?.Address?.City}}</td>
                                            </tr>
                                            <tr>
                                                <th>State</th>
                                                <td>{{checkDetail?.editedBusinessDetails?.Profile?.Address?.State }} {{ checkDetail?.editedBusinessDetails?.Profile?.Address?.Zip}}</td>
                                            </tr>
                                            <tr>
                                                <th>Phone </th>
                                                <td>{{checkDetail?.editedBusinessDetails?.Profile?.Address?.Phone}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mt-20" >
                            <div *ngIf="checkDetail?.editedBusinessDetails">
                                <h5>Business Details : </h5>
                                <div class="table-wrap" >
                                    <table class="table table-bordered"  >
                                        <tbody>
                                            <tr>
                                                <th>Business Name </th>
                                                <td>{{checkDetail?.editedBusinessDetails?.Name}}</td>
                                            </tr>
                                            <tr>
                                                <th>Business Type </th>
                                                <td>{{checkDetail?.editedBusinessDetails?.Type}}</td>
                                            </tr>
                                            <tr>
                                                <th>Gstin Provisional Id:</th>
                                                <td>{{checkDetail?.editedBusinessDetails?.GstinProvisionalId}}</td>
                                            </tr>
                                            <!-- <tr>
                                                <th>TAN Number</th>
                                                <td>{{checkDetail?.editedBusinessDetails?.TanNumber}}</td>
                                            </tr> -->
                                            <tr *ngIf="checkDetail.editedBusinessDetails.Type == 'Proprietorship'">
                                                <th>Business PAN Number</th>
                                                <td>{{checkDetail?.editedBusinessDetails?.PersonalPanNumber}}</td>
                                            </tr>
                                            <tr *ngIf="checkDetail.editedBusinessDetails.Type != 'Proprietorship'">
                                                <th>Business PAN Number</th>
                                                <td>{{checkDetail?.editedBusinessDetails?.BusinessPanNumber}}</td>
                                            </tr>
                                            <tr>
                                                <th>Proof Attached </th>
                                                <td>GST</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-20"  >
                        <div class="col-md-12" *ngIf="checkDetail?.editedBankDetails">
                            <h5>Bank Detail's :</h5>
                            <div class="table-wrap" >
                                <table class="table table-bordered" >
                                    <tbody>
                                        <tr>
                                            <th>Account Holder Name </th>
                                            <td>{{checkDetail?.editedBankDetails?.AccountHolderName}}</td>
                                        </tr>
                                        <tr>
                                            <th>Account Number </th>
                                            <td>{{checkDetail?.editedBankDetails?.AccountNumber}}</td>
                                        </tr>
                                        <tr>
                                            <th>IFSC Code</th>
                                            <td>{{checkDetail?.editedBankDetails?.IfscCode}}</td>
                                        </tr>
                                        <tr>
                                            <th>Bank Name</th>
                                            <td>{{checkDetail?.editedBankDetails?.BankName}}</td>
                                        </tr>
                                        <tr>
                                            <th>State</th>
                                            <td>{{checkDetail?.editedBankDetails?.State}}</td>
                                        </tr>
                                        <tr>
                                            <th>City </th>
                                            <td>{{checkDetail?.editedBankDetails?.City}}</td>
                                        </tr>
                                        <!-- <tr>
                                            <th>District</th>
                                            <td>{{List.BankDetails[0].District}}</td>
                                        </tr> -->
                                        <tr>
                                            <th>Branch Name</th>
                                            <td>{{checkDetail?.editedBankDetails?.BranchName}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="row mt-20" >
                        <div class="col-md-12">
                            <div class="col-md-3" *ngIf="checkDetail.BankDetails[0]?.hasOwnProperty('CancelledCheckCopy')">
                                <strong>Cancelled Check Copy</strong>
                                <img src="{{checkDetail.BankDetails[0]	.CancelledCheckCopy}}"/>
                            </div>
                        </div>
                    </div> -->
                    <div clas="row mt-20">
                        <div class="col-md-12" >
                          <div class="col-md-3" *ngIf="checkDetail?.editedBankDetails?.hasOwnProperty('CancelledCheckCopy')">
                                        <strong>Cancelled Check Copy</strong>
                                        <br>
                                        <a href="{{checkDetail?.editedBankDetails?.CancelledCheckCopy}}" target="_blank">Click to view file</a>
                                    <!-- <img src="{{checkDetail?.editedBankDetails?.CancelledCheckCopy}}"/> -->
                          </div>
                            <div class="col-md-3" *ngIf = "checkDetail?.editedBusinessDetails?.hasOwnProperty('GstinProof')">
                                <strong>Gstin Proof</strong>
                                <br>
                                <a href="{{checkDetail?.editedBusinessDetails?.GstinProof}}" target="_blank">Click to view file</a>
                                <!-- <img src="{{checkDetail?.editedBusinessDetails?.GstinProof}}"/> -->
                            </div>
                            <div class="col-md-3" *ngIf ="checkDetail?.editedBusinessDetails?.hasOwnProperty('TanProof')">
                                <strong>TAN Proof </strong>
                                <br>
                                        <a href="{{checkDetail?.editedBusinessDetails?.TanProof}}" target="_blank">Click to view file</a>
                                <!-- <img src="{{checkDetail?.editedBusinessDetails?.TanProof}}"/> -->
                            </div>
                            <div class="col-md-3" *ngIf ="checkDetail?.editedBusinessDetails?.hasOwnProperty('PanProof')">
                                <strong>PAN Proof</strong>
                                <br>
                                        <a href="{{checkDetail?.editedBusinessDetails?.PanProof}}" target="_blank">Click to view file</a>
                                <!-- <img src="{{checkDetail?.editedBusinessDetails?.PanProof}}"/> -->
                            </div>
                            <div class="col-md-3" *ngIf ="checkDetail?.editedBusinessDetails?.hasOwnProperty('Signature')">
                                <strong> Signature </strong>
                                <br>
                                        <a href="{{checkDetail?.editedBusinessDetails?.Signature}}" target="_blank">Click to view file</a>
                                <!-- <img src="{{checkDetail?.editedBusinessDetails?.Signature}}"/> -->
                            </div>
                        </div>
                    </div>
                </div>
    </div>
    <ng-template #addNewTemplate>

            <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h2 class="heading relative heading-small uppercase bottom-line style-2 left-align mb-0">Zone List</h2>
            </div> -->
        <div>
           
        <div style="margin-top:150px; margin-bottom:50px" class="text-center">
                <i class="fa fa-trash" style="font-size:100px;" ></i>
            
        </div>
        
        <div class="col-xs-12 text-center">
                <!-- <input type="button" style="width:400px; border-radius:30px" class="btn btn-color" [routerLink]="['/admin/zone/add-zone']" value="Add New"> -->
                <span>No incomplete seller details found</span>
        </div>
        </div> 
        </ng-template>