<style>
	.nav.nav-tabs>li>a{
		margin-right: 30px;
	}
</style>

<div class="form-group">
	<h2 class="heading relative heading-small uppercase bottom-line style-2 left-align mb-0">Order Details</h2>
</div>
<ul class="nav nav-tabs">
	<li [routerLinkActive]="['active']">
		<a [routerLink]="['/myaccounts/seller/orders/list/open-order']">Open</a>
	</li>
	<li [routerLinkActive]="['active']">
			<a [routerLink]="['/myaccounts/seller/orders/list/return-request']">Return Requests</a>
	</li>
	<li [routerLinkActive]="['active']">
		<a [routerLink]="['/myaccounts/seller/orders/list/ready-for-shipment']">Ready for Shipment</a>
	</li>
	<li [routerLinkActive]="['active']">
			<a [routerLink]="['/myaccounts/seller/orders/list/in-transit']">In Transit</a>
	</li>
	<li [routerLinkActive]="['active']">
		<a [routerLink]="['/myaccounts/seller/orders/list/delivered']">Delivered</a>
	</li>
	<li [routerLinkActive]="['active']">
		<a [routerLink]="['/myaccounts/seller/orders/list/all-order']">All Orders</a>
	</li>
	<li [routerLinkActive]="['active']">
		<a [routerLink]="['/myaccounts/seller/orders/list/cancelled-order']">Cancelled</a>
	</li>
</ul>
<div class="tab-content">
	<router-outlet></router-outlet>
</div>