<div class="form-group">
        <h2 class="heading relative heading-small uppercase bottom-line style-2 left-align mb-0">User Detail's</h2>
    </div>
    <ul class="nav nav-tabs">
        <li class="active">
            <a href="#ViewUser" data-toggle="tab" aria-expanded="true" (click) = "this.init();" >Registered User</a>
        </li>
        <li class="">
            <a href="#ViewBlockedUser" data-toggle="tab" aria-expanded="false" (click) = "this.init();">Blocked User</a>
        </li>
    </ul>
<div class="tab-content">
   <div class="tab-pane fade active in" id="ViewUser" >
        <div class="row" style="margin-top: 20px;" *ngIf = "showList" >
                <!-- <div class="col-md-6">
                    <input type="text" name="UserName" id="UserName" placeholder="User Name"  [(ngModel)] = "this.userModel.UserName" >
            </div>  -->
        
        
                <div class="col-md-4" >
                    <label for="UserName">Mobile / Mail Id</label>
                    <!-- <input name="text" type="text" id="UserName"  name="UserName" placeholder="User Name / Mail Id" (change)="getdetails($event.target.value)"> -->
                    <div class="input-group stylish-input-group">
                        <input type="text" class="form-control" (keyup.enter)="GetUserProfile(this.currentPage-1, this.size1)" [(ngModel)]="this.userModel.UserName"
                            id="UserName1" name="UserName" placeholder="Type and enter to search">
                        <span (click)="GetUserProfile(this.currentPage-1, this.size1)" class="input-group-addon">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </span>
                    </div>
                </div>
                <div class="col-md-3">
                        <label for="StartDate">Start Date:</label>
                        <div>
                            <p-calendar [(ngModel)]="this.userModel.StartDate" [style]="{'height':'40px'}" [showIcon]="true"
                                [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2099" name="StartDate"
                                showButtonBar="true" placeholder="mm/dd/yyyy" required #StartDate="ngModel"></p-calendar>
                        </div>
                </div>
                <div class="col-md-3">
                        <label for="ExpiryDate">End Date:</label>
                        <!-- <input type="text" class="picker-input" #ExpiryDate="ngModel" name="ExpiryDate" [ngModel]="this.couponModel.ExpiryDate | date: 'short'" (ngModelOptions)="{'gettersetter' : true}" [(dateTimePicker)]="this.couponModel.ExpiryDate"  [theme]="'#000000'" > -->
                        <div>
                            <p-calendar [(ngModel)]="this.userModel.EndDate" [style]="{'height':'40px'}" [showIcon]="true"
                                [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2099" name="ExpiryDate"
                                showButtonBar="true" placeholder="mm/dd/yyyy" required #ExpiryDate="ngModel"></p-calendar>
                        </div>
                </div>
        
                <div class="col-md-2" style="margin-top: 3%;">
                    <button type="button" class="btn btn-color btn" (click)="GetUserProfile(this.currentPage-1, this.size1)" >Go</button>
                </div>
                <!-- <div class="col-md-7">
                    <button type="button" class="btn btn-color btn" (click)="ListBlockedusers()">View Blocked Users</button>
                </div> -->
        </div>
        <div  *ngIf = "showList">
                <div style="margin:40px 0">
                    <h5 style="text-transform:uppercase">User Detail's </h5>
                    <div>
                    <div *ngIf="userList.length>0 ; else addNewTemplate">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Mobile</th>
                                    <th>First name</th>
                                    <th>Last name</th>
                                    <th>DOJ
                                            <a href="javascript:;"  (click)="tableSorting()">
                                                    <i class="fa fa-sort"></i>
                                            </a>
                                    </th>
                                    <th>Profile</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let user of userList">
                                    <td>{{user.Mobile}}</td>
                                    <td *ngIf="user.Profile.FirstName">{{user.Profile.FirstName}}</td>
                                    <td *ngIf="!user.Profile.FirstName"> ----- </td>
                                    <td *ngIf="user.Profile.LastName">{{user.Profile.LastName}}</td>
                                    <td *ngIf="!user.Profile.LastName"> ----- </td>
                                    <td>{{user.CreatedDate | date: 'dd/MM/yyyy'}}</td>
                                    <td>
                                        <button type="button" class="btn btn-color btn-sm" (click)="ViewUserDetail(user)">View</button>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-color btn-sm" (click)="Blockuser(user._id)">Block</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div>
                            <nav class="pagination clear" *ngIf="totalPages1 > 0">
                                <a href="javascript:;" (click)="previousPage1()">
                                    <i class="fa fa-angle-left"></i>
                                </a>
                                <a href="javascript:;" *ngFor="let page of pages1" [class]="currentPage1==page?'current':''" (click)="selectPage1(page)">{{page}}</a>
                                <a href="javascript:;" (click)="nextPage1()">
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </nav>
                        </div>
            
                    </div>
                    <ng-template #addNewTemplate>

                            <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <h2 class="heading relative heading-small uppercase bottom-line style-2 left-align mb-0">Zone List</h2>
                            </div> -->
                            <div>
                    
                                <div style="margin-top:150px; margin-bottom:50px" class="text-center">
                                    <i class="fa fa-trash" style="font-size:100px;"></i>
                    
                                </div>
                    
                                <div class="col-xs-12 text-center">
                                    <!-- <input type="button" style="width:400px; border-radius:30px" class="btn btn-color" [routerLink]="['/admin/zone/add-zone']" value="Add New"> -->
                                    <span>Either no users found or all users are blocked</span>
                                </div>
                            </div>
                        </ng-template>
                    </div>
                   
                </div>
        </div>
        <div *ngIf = "!showList">
        <div >
                <button type="button" class="btn btn-sm btn-color" (click)="GoBackUser()">
                    <span class="fa fa-arrow-left" aria-hidden="true"></span>
                </button>
        </div>
        <div class="Clsborder pt-20"   style="margin-top: 40px;">
                <div class="row">
                        <h5 style="text-transform:uppercase">Viewed User Detail's </h5>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <mat-form-field class="example-full-width Clsfull-width">
                                <mat-label>First Name</mat-label>
                                <input matInput placeholder="First Name" type="text" id="1FirstName"
                                    [(ngModel)]="this.showUserProfileDetail.Profile.FirstName" name="FirstName" #FirstName="ngModel"
                                    placeholder="-----" readonly >
                            </mat-form-field>
        
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <mat-form-field class="example-full-width Clsfull-width">
                                <mat-label>Last Name</mat-label>
                                <input matInput placeholder="Last Name" type="text" id="1LastName"
                                    [(ngModel)]="this.showUserProfileDetail.Profile.LastName" name="LastName" #LastName="ngModel" readonly
                                    placeholder="-----" >
                            </mat-form-field>

                        </div>
                </div>
                <div class="row" style="margin-top: 20px;">
                    <div class="col-md-6" >
                        <label for="Gender">Gender</label><br>
                        <div class="Clsradio" *ngIf = "this.showUserProfileDetail.Gender == 0">
                           
                            <label for="Male">Male</label>
                        </div>
                        <div class="Clsradio" *ngIf = "this.showUserProfileDetail.Gender == 1">
                            
                            <label for="Female">Female</label>
                        </div>
                
                    </div>
                
                
                </div>
                <div class="row" style="margin-top: 20px;">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <mat-form-field class="example-full-width Clsfull-width">
                                <mat-label>Phone Number</mat-label>
                                <input matInput placeholder="Phone Number" type="number" id="mobile"
                                    [(ngModel)]="this.showUserProfileDetail.Mobile" name="mobile" #mobile="ngModel"
                                    readonly >
                            </mat-form-field>
        
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <mat-form-field class="example-full-width Clsfull-width">
                                <mat-label>Email</mat-label>
                                <input matInput placeholder="Email" type="email" id="Email"
                                    [(ngModel)]="this.showUserProfileDetail.Email" name="Email" #Email="ngModel" readonly
                                    placeholder="Email" >
                            </mat-form-field>

                        </div>
                </div>

         </div>

        </div>
   </div>
   <div class="tab-pane fade " id="ViewBlockedUser" >
       
        <div *ngIf = "showBlockList">
                <div style="margin:40px 0">
                    <h5 style="text-transform:uppercase">Blocked User Detail's </h5>
                    <div *ngIf="viewBlockedusers.length>0 else noUnblockedUser">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Mobile</th>
                                    <th>First name</th>
                                    <th>Last name</th>
                                    <th>Profile</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let viewBlockedusers of viewBlockedusers">
                                    <td>{{viewBlockedusers.Mobile}}</td>
                                    <td>{{viewBlockedusers.Profile.FirstName}}</td>
                                    <td>{{viewBlockedusers.Profile.LastName}}</td>
                                    <td>
                                        <button type="button" class="btn btn-color btn-sm" (click)="ViewBlockUserDetail(viewBlockedusers)">View</button>
                                    </td>
                                    
                                    <td>
                                        <button type="button" class="btn btn-color btn-sm" (click)="UnBlockuser(viewBlockedusers._id)">Unblock</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
            
                    <div>
                        <nav class="pagination clear" *ngIf="totalPages > 0">
                            <a href="javascript:;" (click)="previousPage()">
                                <i class="fa fa-angle-left"></i>
                            </a>
                            <a href="javascript:;" *ngFor="let page of pages" [class]="currentPage==page?'current':''" (click)="selectPage(page)">{{page}}</a>
                            <a href="javascript:;" (click)="nextPage()">
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </nav>
                    </div>
                    <ng-template #noUnblockedUser>
                            <div>
                    
                                <div style="margin-top:150px; margin-bottom:50px" class="text-center">
                                    <i class="fa fa-trash" style="font-size:100px;"></i>
                    
                                </div>
                    
                                <div class="col-xs-12 text-center">
                                    <!-- <input type="button" style="width:400px; border-radius:30px" class="btn btn-color" [routerLink]="['/admin/zone/add-zone']" value="Add New"> -->
                                    <span>No users are blocked</span>
                                </div>
                            </div>
                    </ng-template>
                </div>
        </div>
        <div *ngIf = "!showBlockList">
                <div >
                        <button type="button" class="btn btn-sm btn-color" (click)="GoBackBlockUser()">
                            <span class="fa fa-arrow-left" aria-hidden="true"></span>
                        </button>
                </div>
                <div class="Clsborder pt-20"   style="margin-top: 40px;">
                        <div class="row">
                                <h5 style="text-transform:uppercase">Viewed User Detail's </h5>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <mat-form-field class="example-full-width Clsfull-width">
                                        <mat-label>First Name</mat-label>
                                        <input matInput placeholder="First Name" type="text" id="1FirstName"
                                            [(ngModel)]="this.showUserProfileDetail.Profile.FirstName" name="FirstName" #FirstName="ngModel"
                                            placeholder="-----" readonly >
                                    </mat-form-field>
                
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <mat-form-field class="example-full-width Clsfull-width">
                                        <mat-label>Last Name</mat-label>
                                        <input matInput placeholder="Last Name" type="text" id="1LastName"
                                            [(ngModel)]="this.showUserProfileDetail.Profile.LastName" name="LastName" #LastName="ngModel" readonly
                                            placeholder="-----" >
                                    </mat-form-field>
        
                                </div>
                        </div>
                        <div class="row" style="margin-top: 20px;">
                            <div class="col-md-6" >
                                <label for="Gender">Gender</label><br>
                                <div class="Clsradio" *ngIf = "this.showUserProfileDetail.Gender == 0">
                                   
                                    <label for="Male">Male</label>
                                </div>
                                <div class="Clsradio" *ngIf = "this.showUserProfileDetail.Gender == 1">
                                    
                                    <label for="Female">Female</label>
                                </div>
                        
                            </div>
                        
                        
                        </div>
                        <div class="row" style="margin-top: 20px;">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <mat-form-field class="example-full-width Clsfull-width">
                                        <mat-label>Phone Number</mat-label>
                                        <input matInput placeholder="Phone Number" type="number" id="mobile"
                                            [(ngModel)]="this.showUserProfileDetail.Mobile" name="mobile" #mobile="ngModel"
                                            readonly >
                                    </mat-form-field>
                
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <mat-form-field class="example-full-width Clsfull-width">
                                        <mat-label>Email</mat-label>
                                        <input matInput placeholder="Email" type="email" id="Email"
                                            [(ngModel)]="this.showUserProfileDetail.Email" name="Email" #Email="ngModel" readonly
                                            placeholder="Email" >
                                    </mat-form-field>
        
                                </div>
                        </div>
        
                 </div>
        
        </div>
    </div>
</div>
    <!-- <div class="row">
        <h2 class="heading relative heading-small uppercase bottom-line style-2 left-align mb-0">Block User</h2>
    </div> -->

   




<!-- <div >
        <div>
                <button type="button" class="btn btn-sm btn-color" (click)="GoBack()">
                    <span class="fa fa-arrow-left" aria-hidden="true"></span>
                </button>
        </div>
        <div class="tab-content Clsborder pt-20" style="margin-top: 40px;">
                <div class="row">
                        <h5 style="text-transform:uppercase">Viewed User Detail's </h5>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <mat-form-field class="example-full-width Clsfull-width">
                                <mat-label>First Name</mat-label>
                                <input matInput placeholder="First Name" type="text" id="1FirstName"
                                    [(ngModel)]="this.showUserProfileDetail.Profile.FirstName" name="FirstName" #FirstName="ngModel"
                                    placeholder="-----" readonly >
                            </mat-form-field>
        
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <mat-form-field class="example-full-width Clsfull-width">
                                <mat-label>Last Name</mat-label>
                                <input matInput placeholder="Last Name" type="text" id="1LastName"
                                    [(ngModel)]="this.showUserProfileDetail.Profile.LastName" name="LastName" #LastName="ngModel" readonly
                                    placeholder="-----" >
                            </mat-form-field>

                        </div>
                </div>
                <div class="row" style="margin-top: 20px;">
                    <div class="col-md-6" >
                        <label for="Gender">Gender</label><br>
                        <div class="Clsradio" *ngIf = "this.showUserProfileDetail.Gender == 0">
                           
                            <label for="Male">Male</label>
                        </div>
                        <div class="Clsradio" *ngIf = "this.showUserProfileDetail.Gender == 1">
                            
                            <label for="Female">Female</label>
                        </div>
                
                    </div>
                
                
                </div>
                <div class="row" style="margin-top: 20px;">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <mat-form-field class="example-full-width Clsfull-width">
                                <mat-label>Phone Number</mat-label>
                                <input matInput placeholder="Phone Number" type="number" id="mobile"
                                    [(ngModel)]="this.showUserProfileDetail.Mobile" name="mobile" #mobile="ngModel"
                                    readonly >
                            </mat-form-field>
        
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <mat-form-field class="example-full-width Clsfull-width">
                                <mat-label>Email</mat-label>
                                <input matInput placeholder="Email" type="email" id="Email"
                                    [(ngModel)]="this.showUserProfileDetail.Email" name="Email" #Email="ngModel" readonly
                                    placeholder="Email" >
                            </mat-form-field>

                        </div>
                </div>

         </div>

</div> -->


    

  

