<section style="margin: 2% 10% 2% 10%;">
    <style>
            a{
                font-weight: 600;
            }
            .sub-list{
                    padding-left: 2%;
            }
            li{
                    margin-bottom: 3px;
            }
    </style>
    <div>
        <h1>TERMS FOR SELLERS</h1>
        <div>	
            These Terms for Sellers, together with any and all other documents referred to herein, 
            set out the terms under which Users (“Sellers”) sell on Our Marketplace. Please read these 
            Terms for Sellers carefully and ensure that you understand them before selling on Our Marketplace. 
            You will be required to read and accept these Terms for Sellers when you initiate registration as a 
            seller in www.jheaps.in. If you do not agree to comply with and be bound by these Terms for Sellers, 
            you will not be able to sell on Our Marketplace.
        </div>
        <h4>1. Definitions and Interpretation</h4>
        <div>
             1.1   In these Terms for Sellers, unless the context otherwise requires, the following expressions have the following meanings: 
            <ul>
                <li class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-5">
                            “Account” 
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-7">
                            means an account required to access and/or use certain areas of Our Site, including Our Marketplace; 
                    </div>
                </li>
                <li class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-5">
                            “Buyer” 
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-7">
                            means a User who makes a purchase on Our Marketplace; 
                    </div>
                </li>
                <li class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-5">
                            “Content” 
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-7">
                            means any and all text, images, audio, video, scripts, code, software, databases, and any other form of information capable of being stored on a computer that appears on, or forms part of, Our Site; 
                    </div>
                </li>
                <li class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-5">
                            “Listing” 
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-7">
                            means a listing on Our Marketplace advertising an item or items for sale; 
                    </div>
                </li>
                <li class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-5">
                            “Marketplace” 
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-7">
                            means Our platform for Buyers and Sellers on Our Site; 
                    </div>
                </li>
                <li class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-5">
                            “Our Site” 
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-7">
                            means this website, www.jheaps.in; 
                    </div>
                </li>
                <li class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-5">
                            “Payment Service” 
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-7">
                            means the payment service provided in our site 
                    </div>
                </li>
                <li class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-5">
                            “Seller” 
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-7">
                            means a User who sells on Our Marketplace; 
                    </div>
                </li>
                <li class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-5">
                            “Commission” 
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-7">
                            means a percentage fee applied to each sale made on Our Marketplace; 
                    </div>
                </li>
                <li class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-5">
                            “User” 
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-7">
                            means a user of Our Site; 
                    </div>
                </li>
                <li class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-5">
                            “User Content”
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-7">
                            means any Content added to Our Site by a User; 
                    </div>
                </li>
                <li class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-5">
                            “Business Day”
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-7">
                        A business day is a day in which normal business operations are conducted. This usually excludes Sundays and public holidays in the state in which a seller operates. 
                    </div>
                </li>
                <li class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-5">
                            “We/Us/Our”
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-7">
                        means jadFocus Solution LLP, a limited liability Partnership registered in India, whose registered address is No. 2/1,1st Floor, 4th St, Kamarajar Nagar, Chinna Chokkikulam, Chockikulam, Madurai, Tamil Nadu 625002.                     
                    </div>
                </li>            
            </ul>
        </div>
        <h4>2. Information About Us </h4>
        <div>
            2.1 Our Site is owned and operated by jadFocus Solutions LLP, a limited liability partnership registered in Indiawhose registered address is No. 2/1,1st Floor, 4th St, Kamarajar Nagar, Chinna Chokkikulam, Chockikulam, Madurai, Tamil Nadu 625002
        </div>
        <h4>3. Access to and Use of Our Site </h4>
        <div>
            <ul>
                <li>
                    3.1 Access to Our Site is free of charge. 
                </li>
                <li>
                    3.2 It is your responsibility to make any and all arrangements necessary in order to access Our Site. 
                </li>
                <li>
                    3.3 Access to Our Site is provided “as is” and on an “as available” basis. We may alter, suspend, or discontinue Our Site, or any part of it at any time and without notice. Subject to the remainder of these Terms for Sellers, We will not be liable to you in any way if Our Site, or any part of it is unavailable at any time and for any period. 
                </li>
                <li>
                    3.4 Use of Our Site is also subject to Our Terms of Use. Please ensure that you have read them carefully and that you understand them. 
                </li>
            </ul>
        </div>
        <h4>4. Age Restrictions</h4>
        <div>
                You may only sell on Our Marketplace if you are at least  18 years of age.   
        </div>
        <h4>5. Our Marketplace </h4>
        <div>
                Our Marketplace is provided solely as an online venue for Buyers and Sellers. We are not a party to any transactions or other relationships between Buyers and Sellers. You hereby acknowledge and agree that: 
            <ul>
                <li>
                    5.1 Buyers are not making purchases from Us and are not entering into a contract with Us. A Buyer’s purchase is from you, and their contract is with you; 
                </li>
                <li>
                    5.2 We will not be a party to any dispute between you and any Buyer or another Seller. Any claims must be made directly against the party concerned; 
                </li>
                <li>
                    5.3 We do not pre-screen Sellers or any items that you advertise in Listings on Our Marketplace. We are not, therefore, in any way responsible for any items sold or for the content of any Listings; and 
                </li>
                <li>
                    5.4 While you are required to comply with these Terms for Sellers, which include provisions covering important matters such as payment methods, processing times, and delivery methods, We recognise that all Sellers are different and may not accept the same payment methods, process transactions within the same time frame, or offer the same delivery methods (or prices). 
                </li>
            </ul>
        </div>
        <h4>6. What Can and Cannot be Sold on Our Marketplace </h4>
        <div>
            <ul>
                <li>
                    6.1 The following are permitted on Our Marketplace: 
                    <ul class="sub-list">
                        <li>
                            6.1.1 Fashion jewellery, artificial jewellery, gemstones, jewellery making kits and related items.
                        </li>
                    </ul>
                </li>
                <li>
                    6.2 The following are not permitted on Our Marketplace: 
                    <ul class="sub-list">
                        <li>
                            6.2.1 Any item that is not listed under 6.1.1. 
                        </li>
                    </ul>
                </li>
                <li>
                    6.3 We reserve the right to remove any Listing that breaches the provisions of this Clause 6. If We do so, please note that any fees involved are non-refundable. In addition, We may also suspend or terminate your Account. All sums due will remain due and payable notwithstanding any suspension or termination for any reason. 
                </li>
            </ul>
        </div>
        <h4>7. Descriptions Policy</h4>
        <div>
            When selling on Our Marketplace, it is important that all descriptions of items are truthful and accurate, and that all visual representations are true representations of what you are selling. You agree that all Listings submitted by you will comply with the following:
            <ul>
                <li>
                    7.1 All items listed are 100% genuine and new; 
                </li>
                <li>
                    7.2 you may only describe something as being made or done by you if that is truly the case. If any other party is involved, your Listing must state and describe their involvement; 
                </li>
                <li>
                    7.3 subject to sub-Clause 7.6, photographs must be of what you are selling and not stock photographs, photographs from other Sellers or websites, drawings, renderings, or other representations; 
                </li>
                <li>
                    7.4 if you are selling variations of the same item resulting in a similar but not identical products, you need to include photographs of every individual item, for clear presentation of the variations. 
                </li>
                <li>
                    7.5 your listing must include shipping costs.  If shipping cost is not included for a specific item, then it is understood that the item would be delivered free of any shipping cost. 
                </li>
                <li>
                    7.6 if you are offering items made or customised to order, provide full details of the options available to Buyers; 
                </li>
                <li>
                    7.7 if you are offering items with variations or customised to order and the price for those items will vary according to a Buyer’s requirements, include full details of pricing including, set prices for different versions of an item.; 
                </li>
                <li>
                    7.8 if you are offering items made or customised to order, you must provide reasonable estimates for the time required to make or customise such orders and ensure that you keep to such times; 
                </li>
                <li>
                    7.9 you must not use any Content that belongs to other parties in your Listings without their express permission (please refer to Clause 8 for more information on intellectual property rights); 
                </li>
                <li>
                    7.10 your Listing must not advertise alternate locations from which your items can be purchased, thereby avoiding Our Commission. 
                </li>
            </ul> 
        </div>
        <h4>8. Intellectual Property Rights</h4>
        <div>
            <ul>
                <li>
                    8.1 The provisions of Clause 8 of Our Terms of Use apply to all User Content submitted to Our Site, including any and all User Content submitted to Our Marketplace whether in Listings or as digital content for purchase by Buyers. 
                </li>
                <li>
                    8.2 Sellers must, at all times, respect the intellectual property rights of other Sellers on Our Marketplace. Under no circumstances may you use intellectual property belonging to another party without that party’s express permission. 
                </li>
                <li>
                    8.3 If you feel that another User (whether they are another Seller or a Buyer or otherwise) has infringed your intellectual property rights in any way, please contact Us at prights@jheaps.com. 
                </li>
                <li>
                    8.4 If another party contacts Us accusing you of infringing their intellectual property rights:
                    <ul class="sub-list">
                        <li>
                            8.4.1 We will contact you to inform you of the complaint; 
                        </li>
                        <li>
                            8.4.2 We may remove the User Content that is the subject of the complaint; 
                        </li>
                        <li>
                            8.4.3 if you have questions regarding the complaint, or wish to challenge it, you must contact the complaining party. We will not be a party to any dispute concerning intellectual property and cannot assist in resolving such disputes; and 
                        </li>
                        <li>
                            8.4.4 you are free to resubmit the User Content in question if the complaint is resolved and you have the express permission of the complaining party to do so where it is required.  
                        </li>
                    </ul> 
                </li>
            </ul>
        </div>
        <h4>9. Seller Rules and Acceptable Usage Policy </h4>
        <div>
            <ul>
                <li>
                    9.1 When using Our Marketplace, you must do so lawfully, fairly, and in a manner that complies with the provisions of this Clause 9. Specifically:
                    <ul class="sub-list">
                        <li>
                            9.1.1 you must ensure that you comply fully with all local, national, or international laws, and/or regulations including but not limited to those which may apply to the item(s) you wish to sell; 
                        </li>
                        <li>
                            9.1.2 you must not use Our Marketplace in any way, or for any purpose, that is unlawful or fraudulent; 
                        </li>
                        <li>
                            9.1.3 you must not use Our Marketplace to knowingly send, upload, or in any other way transmit data that contains any form of virus or other malware, or any other code designed to adversely affect computer hardware, software, or data of any kind; 
                        </li>
                        <li>
                            9.1.4 you must not use Our Marketplace in any way, or for any purpose, that is intended to harm any person or persons in any way; 
                        </li>
                        <li>
                            9.1.5 you must always provide accurate, honest information about yourself and any and all items that you are selling on Our Marketplace; 
                        </li>
                        <li>
                            9.1.6 you must state the price of an item accurately and clearly, and must not change it in order to avoid paying the applicable Commission; and 
                        </li>
                        <li>
                            9.1.7 you must not engage in any form of price fixing with other Users (including Sellers and Buyers). 
                        </li>
                    </ul> 
                </li>
                <li>
                    9.2 When using Our Marketplace, you must not submit anything (including, but not limited to, material in a Listing) or otherwise do anything that: 
                    <ul class="sub-list"> 
                        <li>
                            9.2.1 is sexually explicit; 
                        </li>
                        <li>
                            9.2.2 is obscene, deliberately offensive, hateful, or otherwise inflammatory; 
                        </li>
                        <li>
                            9.2.3 promotes violence; 
                        </li>
                        <li>
                            9.2.4 promotes or assists in any form of unlawful activity; 
                        </li>
                        <li>
                            9.2.5 discriminates against, or is in any way defamatory of, any person, group, or class of persons; race; gender; religion; nationality; disability; sexual orientation; or age; 
                        </li>
                        <li>
                            9.2.6 is intended or otherwise likely to threaten, harass, annoy, alarm, inconvenience, upset, or embarrass another person; 
                        </li>
                        <li>
                            9.2.7 is calculated or is otherwise likely to deceive; 
                        </li>
                        <li>
                            9.2.8 is intended or otherwise likely to infringe (or threaten to infringe) another person’s right to privacy or otherwise uses their personal data in a way that you do not have a right to; 
                        </li>
                        <li>
                            9.2.9 misleadingly impersonates any person or otherwise misrepresents your identity or affiliation in a way that is calculated to deceive; 
                        </li>
                        <li>
                            9.2.10 implies any form of affiliation with Us where none exists; 
                        </li>
                        <li>
                            9.2.11 infringes, or assists in the infringement of, the intellectual property rights including, but not limited to, copyright, trademarks, patents, and database rights of any other party; or 
                        </li>
                        <li>
                            9.2.12 is in breach of any legal duty owed to a third party including, but not limited to, contractual duties and duties of confidence. 
                        </li>
                    </ul>
                </li>
                <li>
                    9.3 We reserve the right to suspend or terminate your access to Our Marketplace if you materially breach the provisions of this Clause 9 or any of the other provisions of these Terms for Sellers. Further actions We may take include, but are not limited to: 
                    <ul class="sub-list">
                        <li>
                            9.3.1 removing your Listing(s) from Our Marketplace; 
                        </li>
                        <li>
                            9.3.2 issuing you with a written warning; 
                        </li>
                        <li>
                            9.3.3 legal proceedings against you for reimbursement of any and all relevant costs resulting from your breach on an indemnity basis; 
                        </li>
                        <li>
                            9.3.4 further legal action against you as appropriate; 
                        </li>
                        <li>
                            9.3.5 disclosing such information to law enforcement authorities as required or as We deem reasonably necessary; and/or 
                        </li>
                        <li>
                            9.3.6 any other actions which We deem reasonably necessary, appropriate, and lawful. 
                        </li>
                    </ul>
                </li>
                <li>
                    9.4 We hereby exclude any and all liability arising out of any actions that We may take in response to breaches of these Terms for Sellers. 
                </li>
            </ul>
        </div>
        <h4>10. Fees and Commission </h4>
        <div>
            <ul>
                <li>
                    10.1 There is no fee to list your items in Our website. 
                </li>
                <li>
                    10.2 A marketplace Commission of 5% of the listing price of each item sold will apply to each sale.  
                </li>
                <li>
                    10.3 Any and all actions designed to avoid the payment of any fees described in these Terms for Sellers (including, but not limited to those described in sub-Clauses 7.13 and 9.1.6) are strictly prohibited. 
                </li>
                <li>
                    10.4 Shipping Fee: We will be arranging for the shipment of your packages through our courier partners. A shipping fee will be charged for this. The amount charged would depend on the (i) buyer’s shipping address (ii) your ships from address (iii) package weight and (iv) volumetric weight, which is determined by the length, breath and width of the package..  
                </li>
                <li>
                    10.5 Collection Fee: Collection fee for an order would depend on its value and the customer payment method. For prepayment (Credit card/debit card/net banking etc.) made by customers the collection fee would be 3% of the order value. For Cash on Delivery (COD) sales the collection fee will be 3% of Cash on Delivery Amount or Rs. 50, whichever is higher. Cash on Delivery is only allowed for orders with value over Rs. 399. 
                </li>
                <li>
                    10.6 Fixed Fee: We will be charging a fixed fee of Rs.40 on every item that is sold through Our marketplace. 
                </li>
                <li>
                    10.7 Appropriate GST set by the Government will be charged on the marketplace fees and commission. 
                </li>
            </ul>
        </div>
        <h4>11. Payments from Buyers </h4>
        <div>
            <ul>
                <li>
                    11.1 Payment for an order less commission, fee and taxes will be transferred directly into your designated bank account, within 7 days of your successful completion of an order. The Buyer will have 72 hours (3 days), after the delivery of an order, to request a refund or replacement of items in an order if there is any defect or issue with the items. If there is no such request, the order would be marked as complete and the payment will be settled to your bank account. If there is request for refund or replacement, the order would be marked as complete only after the successful resolution of the refund or replacement request. 
                </li>
                <li>
                    11.2 We will not make any Buyers’ payment details available to you at any time, or for any reason.  
                </li>
            </ul>
        </div>
        <h4>12. Payments to Us</h4>
        <div>
            <ul>
                <li>
                    12.1 Commission and fees (commission, shipping fee, collection fee and fixed fee) and appropriate GST are due to our marketplace on completion of an order.  
                </li>
                <li>
                    12.2 An order will be marked as complete 72 hours (3 days) after the delivery of the items in the order, if there is no refund or replacement request on the items by the buyer. If any such request exists, the order will be marked as complete only after the successful resolution of the request. 
                </li>
                <li>
                    12.3 On completion of every order, a Marketplace invoice will created. The invoice will include marketplace commission, shipping fee, collection fee, fixed fee and GST on total marketplace fee.  
                </li>
                <li>
                    12.4 The marketplace fee plus GST will be deducted from the net revenue of the order and the remaining amount will be transferred to your designated bank account as part of our weekly payment settlement process. 
                </li>
                <li>
                    12.5 If you believe that We have charged you an incorrect amount, please contact Us by raising a seller support ticket in your seller dashboard. 
                </li>
            </ul>
        </div>
        <h4>13. Taxes </h4>
        <div>
            <ul>
                <li>
                    13.1 You can sell in Our marketplace only if your company has a GST registration. 
                </li>
                <li>
                    13.2 It is your responsibility to collect and pay applicable taxes on any sales made through Our Marketplace. 
                </li>
                <li>
                    13.3 Where any tax, for example GST, forms a part of the price of any item on Our Marketplace, the tax must be included in the price of the item. 
                </li>
                <li>
                    13.4 GST, as set by the Government will be charged to Buyers on purchases and to Sellers on fees payable to Us. 
                </li>
                <li>
                    13.5  For further information on GST and other taxes in your location, please contact your local tax authority. 
                </li>
            </ul>
        </div>
        <h4>14. Delivery </h4>
        <div>
            <ul>
                <li>
                    14.1 You must pack the items in an order, and mark it as ready for shipment by printing the shipping label in your seller dashboard within 1 business day of receiving the order, for enhanced customer service/experience. Any shipment after 2 business days would affect your seller performance ratings. Tax invoice that is available for print in your seller dashboard shall be printed and included in the package. 
                </li>
                <li>
                    14.2 Once you print the shipping label for an order, our courier partner will get the information from our marketplace, and they would arrange to pick up the shipment from your ships-from address. 
                </li>
                <li>
                    14.3 You must ensure that the items are packed well & the packing should be able to withstand the transit & handling by the couriers. 
                </li>
                <li>
                    14.4 You must provide an accurate ships-from address in the business details section at the time of your registration.  
                </li>
                <li>
                    14.5 You must ensure that you dispatch items with the correct shipping label of an order. It is your responsibility to ensure that the shipping label/address that you use exactly matches that provided by the Buyer.  
                </li>
                <li>
                    14.6 You are free to determine the shipping charges for your items; however, shipping charges must be reasonable, not excessive, and must genuinely reflect the actual cost to you of delivering the item in question to the Buyer. 
                </li>
                <li>
                    14.7 Our Marketplace allows you to you to track your shipments. The tracking information will be available in the seller dashboard. 
                </li>
                <li>
                    14.8 You must comply with any and all applicable shipping and customs regulations when delivering items to Buyers. It is your responsibility to check, be aware of, understand, and comply with all such regulations. 
                </li>
                <li>
                    14.9 Shipments worth Rs 5000 or less are insured by our courier partners. This covers any loss of package while in transit/ while it is handled by our courier partner. However, it is your responsibility to arrange for any other type of insurance you might need on your packages e.g. for coverage of packages with value over Rs.5000  
                </li>
            </ul>
        </div>
        <h4>15. Buyer order cancellation </h4>
        <div>
            15.1 Buyers could cancel their order provided the Seller has not initiated any shipment processing action. Shipment processing actions by a Seller include printing the tax invoice or the shipping label for the order. The payment made for such cancelled orders would be refunded to the buyer 
        </div>
        <h4>16. Seller Order Cancellation </h4>
        <div>
            16.1 Sellers can cancel an order if they are not able to fulfil the order due to any unforeseen reasons. However, this would affect the seller’s performance rating. The payment made for such cancelled orders would be refunded to the buyer 
        </div>
        <h4>17. Return/Replacement/Refund Policy </h4>
        <div>
            <ul>
                <li>
                    17.1 You must provide goods and/or digital content that are/is of satisfactory quality, fit for purpose, as described at the time of purchase, in accordance with any pre-contract information that you provide to the Buyer, and that matches any samples or models that you have shown to the Buyer. 
                </li>
                <li>
                    17.2 If an item does not conform with the requirements outlined in sub-Clause 17.1 and, for example, is defective or damaged or it is not as described when the Buyer receives them, the Buyer can raise a return request within 3 days of the delivery of the item. This would create a return request ticket and sent to the seller. The following remedies will be available to the Buyer: 
                    <ul class="sub-list">
                        <li>
                            17.2.1 Seller is required to respond within 2 business days of a buyer raising a return request. The seller shall respond with one of the following options (i) approve for a replacement (ii) approve for a refund (iii) request more details from the buyer in the return ticket (iv) Reject the return request citing reasons for the rejection, if the request is not in line with JHeaps buyer return policy.  Seller is required to fully resolve the return/replacement request within 5 business days of request origination. The replacement resolution option is possible subject to availability of product/item sought by the Buyer. 
                        </li>
                        <li>
                            17.2.2	Refund to the buyer would depend on the initial payment method used at the time of order placement. For prepayments (Netbanking/credit card/debit card) the refund would be made via the same payment method. If the initial payment was by COD the refund would be transferred to the buyer’s bank account. After the refund approval, the buyer needs to provide recipient bank account and IFSC code at our site, to enable the transfer. The refund will be made to the buyer within 10 days of the return shipment reaching the seller, provided the items in the return shipment meet the terms mentioned in clause 17.3.
                        </li>
                        <li>
                            17.2.3 For any product replacements or refunds, Sellers shall be charged shipping fee, reverse shipping fee and collection fee. Commission and fixed fees will not be charged on any customer return.  
                        </li>
                    </ul>
                </li>
                <li>
                    17.3 Please note that Buyers will be eligible to claim under this Clause 17 only in the following circumstances:
                    <ul class="sub-list">
                        <li>
                            17.3.1 Jewellery are not used (other than for trial), altered, washed, soiled or damaged in any way.  
                        </li>
                        <li>
                            17.3.2 Original tags and packaging are intact. For items that come in branded packaging, the box should be undamaged.  
                        </li>
                        <li>
                            17.3.3 'Made to order' jewellery are not covered under the return policy. 
                        </li>
                    </ul>  
                </li>
                <li>
                    17.4 If Jheaps has suspicion or knowledge, that any of its buyers and sellers are involved in any activity that is intended to provide claims or information that is false, misleading or not genuine, then Jheaps may while reserving its rights to initiate civil and/or criminal proceedings against member may also at its sole discretion suspend, block, restrict, cancel the account of such buyer and seller and/or disqualify that user.. 
                </li>
            </ul>
        </div>
        <h4>18. Buyer Protection Program: </h4>
        <div>
            <ul>
                <li>
                    18.1 If the buyer is not satisfied with the seller’s resolution for product return request, the buyer could write to JHeaps admin at resolutions@jheaps.com with the dispute details. JHeaps admin would review the information provided by the buyer/seller and facilitate the resolution process. 
                </li>
                <li>
                    18.2 In these instances, it is the sole discretion of the JHeaps admin to either approve or deny a return request. The approval or denial would be based on the review of the information provided by the buyer and the seller, and would be binding on both the seller and the buyer.
                </li>
            </ul>
        </div>
        <h4>19. Your Account Cancellation Rights </h4>
        <div>
            <ul>
                <li>
                    19.1 You may close your Account and cancel your agreement with Us by raising a seller support ticket in your dashboard. 
                </li>
                <li>
                    19.2 Any outstanding sums due and payable to Us (including, but not limited to, Commission and other Fees) will remain payable by the original due date and your Account will not be fully closed until all sums due to Us have been paid. 
                </li>
            </ul>
        </div>
        <h4>20. Our Liability to You </h4>
        <div>
            <ul>
                <li>
                    20.1 As stated in Clause 5, We are not a party to any transactions, other relationships, or disputes between Buyers and Sellers.  
                </li>
                <li>
                    20.2 We will not be liable to you for any loss of profit, loss of business, interruption to business, or for any loss of business opportunity. 
                </li>
            </ul>
        </div>
        <h4>21. Events Outside of Our Control (Force Majeure) </h4>
        <div>
            <ul>
                <li>
                    21.2 We will not be liable for any failure or delay in performing Our obligations to you where that failure or delay results from any cause that is beyond Our reasonable control. Such causes include, but are not limited to: power failure, internet service provider failure, industrial action by third parties, civil unrest, fire, explosion, flood, storms, earthquakes, subsidence, acts of terrorism, acts of war, governmental action, epidemic or other natural disaster, or any other event that is beyond Our reasonable control. 
                </li>
                <li>
                    21.2 If any event described under this Clause 21 occurs that is likely to adversely affect Our performance of any of Our obligations to you: 
                    <ul>
                        <li>
                            21.2.1 We will inform you as soon as is reasonably possible; 
                        </li>
                        <li>
                            21.2.2 Our obligations under these Terms for Sellers will be suspended and any time limits that We may be bound by will be extended accordingly; 
                        </li>
                        <li>
                            21.2.3 We will inform you when the event outside of Our control is over and provide details of any new dates, times, or availability of services as necessary; 
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <h4>22. Communication and Contact Details </h4>
        <div>
            <ul>
                <li>
                    22.1 For matters relating to Our Marketplace including, but not limited to, these Terms for Sellers, transactions, Buyers, and other Sellers, please contact Us by raising a seller support ticket in your account dashboard, or by  email at ssupport@jheaps.com, or by post at No. 2/1,1st Floor, 4th St, Kamarajar Nagar, Chinna Chokkikulam, Chockikulam, Madurai, Tamil Nadu 625002.  
                </li>
                <li>
                    22.2 For matters relating to orders, cancellations etc, please contact Us by raising a seller support ticket in your account dashboard. 
                </li>
            </ul>
        </div>
        <h4>23. Data Protection </h4>
        <div>
            <ul>
                <li>
                    23.1 All personal information that We may use will be collected, processed, and held in accordance with the provisions of Information Technology Act 2000. 
                </li>
                <li>
                    23.2 For complete details of Our collection, processing, storage, and retention of personal data including, but not limited to, the purpose(s) for which personal data is used, the legal basis or bases for using it, details of your rights and how to exercise them, and personal data sharing (where applicable), please refer to Our <a href="javascript:;" [routerLink]="['/user/privacy/list/privacy-policy']">Privacy Policy</a>.  
                </li>
                <li>
                    23.3 As a Seller, you will also collect, hold, and process Buyers’ personal information in the course of transactions (for example, buyers’ names, email addresses, and postal addresses). Sellers are, therefore, also considered data controllers under the Act and you will be responsible for complying with your legal obligations and protecting Buyers’ rights. You must only use the personal data of other Users (whether they are Buyers or Sellers) to the extent necessary to complete a transaction, to communicate about a specific transaction, to communicate via Our Marketplace, and/or to respond to messages from them. You may not add any User to a mailing list, use their data for marketing, or retain any payment details. You may only use another User’s personal data for additional purposes with their consent. 
                </li>
                <li>
                    23.4 If a Seller and Us are found to be joint data controllers of any Buyers’ personal data, and We are sued, fined, or otherwise incur any expense because of something you have done with a Buyer’s personal data, you agree to indemnify Us for any expenses incurred by Us in connection with your actions in respect of that personal data.. 
                </li>
            </ul>
        </div>
        <h4>24. Other Important Terms </h4>
        <div>
            <ul>
                <li>
                    24.1 We may transfer  Our obligations and rights under these Terms for Sellers to a third party. This may happen, for example, if We sell Our business.  If this occurs, you will be informed by Us in writing.  Your rights under these Terms for Sellers will not be affected and Our obligations under these Terms for Sellers will be transferred to the third party who will remain bound by them. 
                </li>
                <li>
                    24.2 You may not transfer (assign) your obligations and rights under these Terms for Sellers without Our express written permission. 
                </li>
                <li>
                    24.3 If any of the provisions of these Terms for Sellers are found to be unlawful, invalid or otherwise unenforceable by any court or other authority, that / those provision(s) shall be deemed severed from the remainder of these Terms for Sellers.  The remainder of these Terms for Sellers shall be valid and enforceable. 
                </li>
                <li>
                    24.4 We may revise these Terms for Sellers from time to time in response to changes in relevant laws and other regulatory requirements. If any changes to these Terms for Sellers are to your material disadvantage, you may cancel your account as set out in sub-Clause 19.1. 
                </li>
                <li>
                    24.5 You shall indemnify and hold harmless Jheaps, its owner, licensee, affiliates, subsidiaries, group companies (as applicable) and their respective officers, directors, agents, and employees, from any claim or demand, or actions including reasonable attorneys' fees, made by any third party or penalty imposed due to or arising out of your breach of this Terms of use, privacy Policy and other Policies, or your violation of any law, rules or regulations or the rights (including infringement of intellectual property rights) of a third party 
                </li>
            </ul>
        </div>
        <h4>25. Law and Jurisdiction </h4>
        <div>
            <ul>
                <li>
                    25.1 These Terms and Conditions, and the relationship between you and Us, whether contractual or otherwise shall be governed by, and construed in accordance with the law of India. 
                </li>
                <li>
                    25.2 If you are a consumer, any dispute, controversy, proceedings or claim between you and Us relating to these Terms and Conditions, or the relationship between you and Us whether contractual or otherwise shall be subject to the exclusive jurisdiction of the courts of Madurai, Tamil Nadu, India.  
                </li>
                <li>
                    25.3 If you are a business, any disputes concerning these Terms and Conditions, the relationship between you and Us, or any matters arising therefrom or associated therewith whether contractual or otherwise shall be subject to the exclusive jurisdiction of the courts of Madurai, Tamil Nadu, India. 
                </li>
            </ul>
        </div>
    </div>
</section>