<section>
    <style>
        a{
            font-weight: 600;
        }
        td{
            padding: 1% 1% 1% 1%;
        }
        th{
            padding: 1% 1% 1% 1%;
            font-weight: 500;
        }
    </style>
    <div style="margin: 2% 10% 2% 10%;">
        <h1>PRIVACY POLICY</h1>
        <p>
                jadFocus Solutions LLP understands that your privacy is important to you and that you care about how your personal data is used. We respect and value the privacy of everyone who visits this website, www.jheaps.in (“Our Site”) and will only collect and use personal data in ways that are described here, and in a way that is consistent with our obligations and your rights under the law. <br>
                Please read this Privacy Policy carefully and ensure that you understand it. Your acceptance of this Privacy Policy is requested at the time of your account registration.
        </p>
        <h4>1.	Definitions and Interpretation </h4>
        <div>
            In this Policy the following terms shall have the following meanings:  
            <ul>
                <li class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-5">
                            “Account”
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-7">
                            means an account required to access and/or use certain areas and features of Our Site;
                    </div>
                </li>
                <li class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-5">
                            “Cookie”
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-7">
                            means a small text file placed on your computer or device by Our Site when you visit certain parts of Our Site and/or when you use certain features of Our Site. Details of the Cookies used by Our Site are set out in Part 14, below; and
                    </div>
                </li>
            </ul>
        </div>
        <h4>2.	Information About Us</h4>
        <p>
                Our Site is owned and operated by jadFocus Solutions LLP, a Limited Liability Partnership registered in India.
                Registered address: No. 2/1,1st Floor, 4th St, Kamarajar Nagar, Chinna Chokkikulam, Chockikulam, Madurai, Tamil Nadu 625002                
        </p>
        <h4>3.	What Does This Policy Cover?</h4>
        <p>
                This Privacy Policy applies only to your use of Our Site. Our Site may contain links to other websites. Please note that we have no control over how your data is collected, stored, or used by other websites and we advise you to check the privacy policies of any such websites before providing any data to them.
        </p>
        <h4>4.	What Is Personal Data?</h4>
        <p>
            Personal data is defined as ‘any information relating to an identifiable person who can be directly or indirectly identified in particular by reference to an identifier’.
            Personal data is, in simpler terms, any information about you that enables you to be identified. Personal data covers obvious information such as your name and contact details, but it also covers less obvious information such as identification numbers, electronic location data, and other online identifiers.                
        </p>
        <h4>5.	What Data Do You Collect and How?</h4>
        <div>
                Depending upon your use of Our Site, we may collect and hold some or all of the personal data set out in the table below, using the methods also set out in the table. Please also see Part 13 for more information about our use of Cookies and similar technologies. We do not collect any special category’ or ‘sensitive’ personal data AND personal data relating to children AND data relating to criminal convictions and/or offences.
                <table class="table-bordered">
                    <thead>
                        <tr>
                            <th>Data Collected</th>
                            <th>How We Collect the Data</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                    Name
                            </td>
                            <td>
                                	At the time of your becoming a buyer or seller in our website
                            </td>
                        </tr>
                        <tr>
                            <td>
                                    Phone Number
                            </td>
                            <td>
                                	During Account Registration
                            </td>
                        </tr>
                        <tr>
                            <td>
                                    Shipping address
                            </td>
                            <td>
                                	During Account Registration And/Or at the time of placing an order.
                            </td>
                        </tr>
                        <tr>
                            <td>
                                    Business information including Company Name, PAN Number, GSTIN Number, Registered Address, Ships From Address
                            </td>
                            <td>
                                	At the time of business registration to become a seller. 
                            </td>
                        </tr>
                        <tr>
                            <td>
                                    Payment information including bank account details, credit card details	
                            </td>
                            <td>
                                    Credit/Debit card information will be collected by our payment gateway for processing your payment for orders. However, the card information will not be stored in www.JHeaps.in

                                    Business Bank Account Information will be collected at the time of seller registration. Personal Bank Account information will be collected if we have to refund the “Cash on Delivery” payment you made for your orders for any reason.
                            </td>
                        </tr>
                        <tr>
                            <td>
                                    Profile information including Favorite Products/Shops.
                            </td>
                            <td>
                                    When you favorite a product or shop in our website. 
                            </td>
                        </tr>
                    </tbody>
                </table>
        </div>
        <h4>6.	How Do You Use My Personal Data?</h4>
        <p>
                We will only use your personal data for the purpose(s) for which it was originally collected unless we reasonably believe that another purpose is compatible with that or those original purpose(s) and need to use your personal data for that purpose. <br>
                We may also use your personal data for marketing purposes, which may include contacting you by email AND/OR telephone AND/OR text message AND/OR post with information, news, and offers on Our products AND/OR services. You will not be sent any unlawful marketing or spam. We will always work to fully protect your rights and comply with Our obligations under the Information Technology Act 2000 and you will always have the opportunity to opt-out. We will always obtain your express opt-in consent before sharing your personal data with third parties for marketing purposes and you will be able to opt-out at any time.<br>
                Please note that we do not control the activities of such third parties, nor the data that they collect and use themselves, and we advise you to check the privacy policies of any such third parties.<br>
                Your personal/business information will be provided to a seller or buyer on our Site to process your orders. Once this information is provided JHeaps has no control over how that information is used by that individual. You should discuss any privacy concerns you may have with any individual you meet through our Site.<br>
                We employ industry accepted standards in protecting your personal information during your use of the Site and have established physical and electronic safe guards to protect your information.<br>
                The security of your personal information is important to us. When you enter sensitive information (such as a credit/debit card number) on our order forms, we encrypt the transmission of that information using secure socket layer technology (SSL).<br>
                If we need to use your personal data for a purpose that is unrelated to, or incompatible with, the purpose(s) for which it was originally collected, we will inform you and explain the legal basis which allows us to do so.<br>
                In some circumstances, where permitted or required by law, we may process your personal data without your knowledge or consent. This will only be done within the bounds of the Information Technology Act 2000.<br>
        </p>
        <h4>7.	How Long Will You Keep My Personal Data?</h4>
        <p>
                We will retain your information for as long as your account is active or as needed to provide you services. We will retain and use your information as necessary to comply with our legal obligations, resolve disputes, and enforce our agreements.
        </p>
        <h4>8.	Do You Share My Personal Data?</h4>
        <p>
                We will not share any of your personal data with any third parties for any purposes, subject to the following exceptions.<br>
                If we sell, transfer, or merge parts of Our business or assets, your personal data may be transferred to a third party. Any new owner of Our business may continue to use your personal data in the same way(s) that we have used it, as specified in this Privacy Policy.<br>
                In some limited circumstances, we may be legally required to share certain personal data, which might include yours, if we are involved in legal proceedings or complying with legal obligations, a court order, or the instructions of a government authority.<br>
        </p>
        <h4>9.	What are my responsibilities to protect my information?</h4>
        <p>
                We go to great lengths to protect all of your information on our Site. In order to help us maintain the security of your personal information, we ask that you do not share your password with anybody. Sharing this information could put you and your rating as a seller at risk. If you lose control of your password or you think that somebody has obtained unauthorized access to your account, immediately change your password. 
        </p>
        <h4>10.	Information Disclosure in JHeaps reviews section/ forums</h4>
        <p>
                If you use a discussion board/review section or forum on this website, you should be aware that any personal information you submit there can be read, collected, or used by other members of these forums, and can be used to send you unsolicited messages. We are not responsible for the personal information that you choose to submit in these forums.
        </p>
        <h4>11.	How Do You Use Cookies?</h4>
        <p>
                Our Site may place and access certain first-party Cookies on your computer or device. First-party Cookies are those placed directly by us and are used only by us. We use Cookies to facilitate and improve your experience of Our Site and to provide and improve our products AND/OR services. We have carefully chosen these Cookies and have taken steps to ensure that your privacy and personal data is protected and respected at all times.<br>
                By using Our Site, you may also receive certain third-party Cookies on your computer or device. Third-party Cookies are those placed by websites, services, and/or parties other than us. Third-party Cookies are used on Our Site to track and analyze non-personally identifiable usage and statistical information from visitors to our Site to help us administer our Site and improve its quality.  Such third parties may use cookies to help track visitor behavior. Such cookies will not be used to associate individual website visitors to any personal information.<br>
                All Cookies used by and on Our Site are used in accordance with current Cookie Law.<br>
                It is recommended that you keep your internet browser and operating system up-to-date and that you consult the help and guidance provided by the developer of your internet browser and manufacturer of your computer or device if you are unsure about adjusting your privacy settings.
        </p>
        <h4>12.	How Do I Contact You?</h4>
        <p>
                In accordance with Information Technology Act 2000 and rules made there under, the name and contact details of the Grievance Officer are provided below:<br>
                Mr. P. Saravana Kumar<br>
                No. 2/1,1st Floor, 4th St, Kamarajar Nagar, Chinna Chokkikulam, Chockikulam, Madurai, Tamil Nadu 625002<br>
        </p>
        <h4>13.	Changes to this Privacy Policy</h4>
        <p>
                We may change this Privacy Notice from time to time. This may be necessary, for example, if the law changes, or if we change our business in a way that affects personal data protection.<br>
                Any changes will be immediately posted on Our Site and you will be deemed to have accepted the terms of the Privacy Policy on your first use of Our Site following the alterations. We recommend that you check this page regularly to keep up-to-date. This Privacy Policy was last updated on March 22nd 2019.
        </p>
        <h4>14.	Jurisdiction</h4>
        <p>
                If you choose to visit the website, your visit and any dispute over privacy is subject to this Policy and the website's terms of use. In addition to the foregoing, any disputes arising under this Policy shall be governed by the laws of India. 
        </p>
        <h4>15.	Your Consent</h4>
        <p>
                By using the Site and/ or by providing your information, you consent to the collection and use of the information you disclose on the Site in accordance with this Privacy Policy, including but not limited to Your consent for sharing your information as per this privacy policy.<br>
                This Policy was last updated on March 22nd 2019. From time to time we may change our privacy practices & will post an updated copy on our website. Please check our site periodically for updates.
        </p>
    </div>
</section>