<style>
		.alert{
			font-size: 12px !important;
			padding: 0px !important;
			margin-bottom: 10px !important;
			color: #ff0000 !important;
			margin-top: -6px;
			}
		
		/* input[type="text"],input[type="number"],input[type="email"],input[type="password"] ,textarea{
			border: none !important;
			margin-bottom: 0px !important;
			padding: 0px !important;
			box-shadow: none;
		} */
		.form-control:focus{
	-webkit-box-shadow:none !important;
	box-shadow: none !important;
}
.example-full-width{
	width: 240px !important;
}
.container_show {
			/* font-size: 16px; */
			/* line-height: 16px; */
			height: 0px;
			overflow: hidden;
	}
	.show {
			overflow: visible;
			height: auto;
	}
		</style>
<div class="row">
	<div class="col-md-12">
		<h2 class="heading relative heading-small uppercase bottom-line style-2 left-align mb-0" title="A ticket can be used to communicate with admin to address any of your issues.">Seller support Tickets</h2>
		<section *ngIf="this.showAllMessages">
			<div class="row">
				<div class="col-xs-12 col-sm-6 mb-20">
					<div class="input-group Clsproduct_search stylish-input-group">
						<input type="text" class="form-control" [(ngModel)]="searchTerm" (keyup)="updatePages(searchTerm)" placeholder="Search Ticket Id or Subject"/>
						<span (click)="searchProducts(searchTerm, 0,10)" class="input-group-addon">
							<i class="fa fa-search" aria-hidden="true"></i>
						</span>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 text-right">
					<a href="javascript:;" class="btn Clscommon_btn_fill_small" (click)="showMailView()"> Create Ticket</a>
				</div>
			</div>
			<div *ngIf="Tickets.length > 0; else addNewTemplate">

				<div *ngIf="showAllMessages">
					<div   id='scroll-container'>
						<div id='scroll-box' class="col-xs-12">
							<div class="table-wrap">
								<table class="table">
									<thead>
										<tr>
											<th>#</th>
											<th>Ticket Id</th>
											<th>From</th>
											<th>Subject</th>
											<th>Date</th>
											<th>Action</th>
										</tr>
									</thead>
									<tbody>
										<tr *ngFor="let Ticket of TicketsSpecific; let i=index" style="cursor: pointer;" (click)="this.showMail=true;this.showAllMessages=false;this.replyMail=false;showMessage(Ticket)">
											<td>
												{{(i+1) + (initialPage * 10)}}
											</td>
											<td>
												{{Ticket.TicketId | shorten : 20:'...'}}
											</td>
											<td>
												<!-- <p *ngIf="this.ShowUserRole=='admin'||this.ShowUserRole=='masteradmin'">{{Ticket.UserName}}</p> -->
												<p *ngIf="this.ShowUserRole=='seller'">{{Ticket.From[0].Profile.FirstName?Ticket.From[0].Profile.FirstName:'Jheaps Member'}}</p>
											</td>
											<td>
												{{Ticket.Subject | shorten : 20:'...'}}
											</td>
											<td>
												{{Ticket.Replies[0].CreatedDate | date:'dd MMM yyyy'}}
											</td>
											<td>
												<!-- <span><i class="fa fa-paperclip" style="font-size: 14px; color:black;" aria-hidden="true" *ngIf="Ticket.Replies[0].Attachment.length>0"></i></span> -->
												<span (click)="this.showMail=true;this.showAllMessages=false;this.replyMail=false;showMessage(Ticket)">
													<i class="fa fa-edit" style="font-size: 14px; color:black;" aria-hidden="true"></i>
												</span>
												<!-- <span (click)="this.replyMail=true;this.showAllMessages=false;this.showMail=false;"><i class="fa fa-reply" style="font-size: 18px; color:black;"aria-hidden="true" *ngIf="Ticket.Replies.length>1"></i></span>												 -->
											</td>
										</tr>

									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- <ng-template #addNewTemplate>
				<div>
					<div style="margin-top:150px; margin-bottom:50px" class="text-center">
						<i class="fa fa-trash" style="font-size:100px;"></i>

					</div>
					<div class="col-xs-12 text-center" *ngIf="!searchTerm">
						<a href="javascript:;" class="btn btn-sm btn-color" (click)="showMailView()">
							<i class="fa fa-pencil-square-o" style="font-size: 14px"></i> Create Ticket</a>
					</div>
					<div class="col-xs-12 text-center" *ngIf="searchTerm">
						<span>No Items Found</span>
					</div>
				</div>
			</ng-template> -->
			<ng-template #addNewTemplate>
					<div style="margin-bottom:50px">
		
						<div class="col-xs-12 text-center" style="margin-top:150px">
							<i class="fa fa-trash" style="font-size:100px;"></i>
		
						</div>
						<div class="col-xs-12 text-center" *ngIf="searchTerm">
							<span>No Items Found</span>
						</div>
					</div>
				</ng-template>
		</section>
		<section *ngIf="this.showMail">
			<div class="container">
				<div>
					<div class="col-md-11">
						<div class="form-group">
							<button type="button" class="btn btn-sm btn-color" (click)="this.showAllMessages = true;this.showMail=false;this.sendReply=false;">
								<span class="fa fa-arrow-left" aria-hidden="true"></span>
							</button>
						</div>
						<div class="form-group">
								<h4>Ticket Details</h4>
							<!-- <div class="heading relative heading-small uppercase bottom-line style-2 left-align mb-0">
								<h2>{{this.selectedInboxMessage.Subject}}</h2>
							</div> -->
						</div>
						<div class="col-md-9">
							<div class="entry-comments mt-20">
								<ul class="comment-list">
									<li>
										<div class="comment-body" style="border-bottom: 0px">
											<div class="comment-header" style="background-color: #F5F5F5; padding-top: 15px;">
												<!-- <div class="row">
													<div class="col-md-2" *ngIf="this.selectedInboxMessage.hasOwnProperty('UserPicture')">
														<img src="{{this.selectedInboxMessage.UserPicture}}" class="img-circle" alt="">
													</div>
													<div class="col-md-9">
														<div>
															<span>
																<button class="btn btn-sm btn-color" *ngIf="this.selectedInboxMessage.TicketStatus!='Close'" (click)="closeTicket(this.selectedInboxMessage)">Close</button>
																<button class="btn btn-sm btn-color" *ngIf="this.selectedInboxMessage.TicketStatus=='Close'" (click)="reopenTicket(this.selectedInboxMessage)">Reopen</button>
															</span>
														</div>
														<span class="comment-author">Ticket created by: {{this.selectedInboxMessage.From}}</span>
														<span>To : {{this.selectedInboxMessage.To}}</span>
														<p *ngIf="this.selectedInboxMessage.OrderId">Order ID : {{this.selectedInboxMessage.OrderId}}</p>
														<p>Ticket Status: {{this.selectedInboxMessage.TicketStatus}}</p>-->
														<!-- <p>subject : {{selectedInboxMessage.Subject}}</p> -->
														<!-- <p>Date : {{selectedInboxMessage.Replies[0].CreatedDate | date:'dd MMM yyyy HH:mm:ss'}}</p>
													</div>
													<div class="col-md-1" *ngIf="this.selectedInboxMessage.TicketStatus!='Close'">
														<span (click)="this.replyMail=true;this.showAllMessages=false;this.showMail=false;">
															<a href="javascript:;">Reply -->
																<!-- <i class="fa fa-reply" style="font-size: 24px; color:black;" aria-hidden="true"></i> -->
															<!--</a>
														</span>
													</div>
												</div> -->
												<div class="row" style="width: 100%; margin-left: 0px; margin-right: 0px;">
													<div class="col-md-2"*ngIf="this.selectedInboxMessage.hasOwnProperty('UserPicture')">
														<img style="margin-bottom: 15px;" src="{{this.selectedInboxMessage.UserPicture}}" class="img-circle" alt="">
													</div>
													<div class="col-md-8">

														<p style="margin-bottom:0px;font-weight: 600; color: black;">Message : {{this.selectedInboxMessage.Subject}}</p>
														<div class="container_show">
															<div class="comment-author">Ticket #: {{  this.readableId }} </div>
															<div class="comment-author">Ticket created by: {{this.selectedInboxMessage.From[0].Profile.FirstName?this.selectedInboxMessage.From[0].Profile.FirstName:'Jheaps Member'}}</div>
															<div class="comment-author" style="padding-bottom: 0px;margin-bottom:0px">To : {{this.selectedInboxMessage.To[0].Profile.FirstName?this.selectedInboxMessage.To[0].Profile.FirstName:'Jheaps Member'}}</div>
															<div class="comment-author">{{selectedInboxMessage.Replies[0].CreatedDate | date:'dd MMM yyyy HH:mm:ss'}}</div>
														</div>
														<button (click)="showMore($event)" [innerHtml]="this.caret" style="float: left; border: none; color: black; background-color: transparent; margin-bottom: 5px; padding-left: 0px;">{{ descriptionButtonText }}</button>
													</div>
													<div class="col-md-2">
														<div class="row">
															<span style="float:right;">
																<button class="btn btn-sm btn-color" *ngIf="this.selectedInboxMessage.TicketStatus!='Close'" (click)="this.confirmCloseModal()">Close </button>
																<button class="btn btn-sm btn-color" *ngIf="this.selectedInboxMessage.TicketStatus=='Close'" (click)="reopenTicket(this.selectedInboxMessage)">Reopen</button>
															</span>
														</div>
														<div class="modal fade" id="confirmCloseModal" tabindex="-1" role="dialog" aria-labelledby="closeModalLabel">
															<div class="modal-dialog" role="document">
																<div class="modal-content">
																	<div class="modal-header">
																		<h4 class="modal-title">Close Ticket</h4>
																	</div>
																	<div class="modal-body">
																		Do you really want to close the ticket and stop further conversation on this?
																	</div>
																	<div class="modal-footer">
																		<button type="button" class="btn btn-sm btn-red right rounded mleft" (click)="closeTicket(this.selectedInboxMessage)" data-dismiss="modal">Yes</button>
																		<button type="button" class="btn btn-sm btn-color right rounded" data-dismiss="modal">No</button>
																	</div>
																</div>
															</div>
														</div>
														<div class="row">
															<div style="float:right; padding-right: 15px;" *ngIf="this.selectedInboxMessage.TicketStatus!='Close'">
																<span (click)="this.replyMail=true;this.showAllMessages=false;this.showMail=false;">
																	<a href="javascript:;">Reply
																		<!-- <i class="fa fa-reply" style="font-size: 24px; color:black;" aria-hidden="true"></i> -->
																	</a>
																</span>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="comment-content">
												<p style="  text-align: justify;text-justify: inter-word;color: black; font-weight: 500;">{{userReplies[0].Message}}</p>
											</div>
											<!-- <div class="comment-content" >
											<div  *ngIf="selectedInboxMessage.Replies[0].Attachment.length!=0">
												<div  class="row"  >
													<div class="col-md-3" *ngFor="let Attach of selectedInboxMessage.Replies[0].Attachment" >
														<img src="{{Attach.URL}}">
														<i class="fa fa-paperclip" style="font-size: 14px; color:black;" aria-hidden="true"></i>
														<a target="_blank" href="{{Attach.URL}}" download="{{Attach.Name}}.jpg">{{Attach.Name| shorten : 10:'... '}}</a>
													</div>
												</div>
											</div>
										</div> -->
											<div class="row comment-content">
												<div class="col-md-12" style="padding-left: 0px;">
													<div class="col-md-2" style="width: 120px;" *ngFor="let Attach of selectedInboxMessage.Replies[0].Attachment">
														<div class="product-item">
															<div class="product-img">
																<a href="{{Attach.URL}}" target="_blank" download="{{Attach.Name}}.jpg">
																	<img class="img-responsive img-thumbnail" [src]="Attach.URL" alt="Attachment" style="height:90px;width:90px;">
																</a>
															</div>
															<div class="product-details">
																<h3 class="text-truncate">
																	<a class="product-title" href="{{Attach.URL}}" target="_blank" download="{{Attach.Name}}.jpg">{{Attach.Name| shorten : 10:'... '}}</a>
																</h3>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</li>
									<li>
										<div class="comment-body" *ngFor="let Reply of userReplies | slice:1" style="padding-top: 15px; padding-bottom: 15px;">
											<div class="comment-header">
												<div class="row">
													<div class="col-md-2" style="width: 70px; padding-right: 0px;">
														<img src="{{Reply.RepliedUserDetail.Profile.DisplayPicture}}" style="height: 50px; width:50px;" class="img-circle" alt="">
													</div>
													<div class="col-md-9">
														<span class="comment-author" style="margin-bottom: 0px;"> Reply from : {{Reply.RepliedUserDetail.Profile.FirstName}}</span>
														<p>Date : {{Reply.CreatedDate | date:'dd MMM yyyy HH:mm:ss'}}</p>
													</div>
												</div>
											</div>
											<div class="comment-content">
												<p style="  text-align: justify;text-justify: inter-word; font-weight: 400; color: black;">{{Reply.Message}}</p>
											</div>
											<div class="comment-content">
												<div *ngIf="Reply.Attachment.length!=0">
													<div class="row">
														<div class="col-md-2" *ngFor="let Attach of Reply.Attachment" style="width:120px;">
															<img src="{{Attach.URL}}" style="height: 90px; width: 90px;">
															<i class="fa fa-paperclip" style="font-size: 14px; color:black;" aria-hidden="true"></i>
															<a target="_self" href="{{Attach.URL}}" download="{{Attach.Name}}.jpg">{{Attach.Name}}</a>
														</div>
													</div>
												</div>
											</div>
										</div>
									</li>
									<!-- end 1-2 comment -->
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<div class="row" *ngIf="this.replyMail">
			<div class="form-group">
				<button type="button" class="btn btn-sm btn-color" (click)="this.showAllMessages = true;this.showMail=false;this.replyMail=false;this.sendReply=false;">
					<span class="fa fa-arrow-left" aria-hidden="true"></span>
				</button>
			</div>
			<div class="col-md-8 col-md-offset-2">
				<form name="ComposeForm" id="ComposeForm" #ComposeForm="ngForm" novalidate>
					<!-- <div class="form-group" *ngIf="!sendReply">
						<label for="toSubject">Order Id:</label>
						<mat-form-field class="example-full-width">

						<input matInput type="text" class="form-control" id="OrderId" placeholder="Order Id" name="OrderId" [(ngModel)]="this.MessageModel.OrderId"
						 #OrderId="ngModel">
						 </mat-form-field>
					</div> -->
					<div class="form-group" *ngIf="!sendReply">
						<!-- <label for="toSubject">Subject:</label> -->
						<mat-form-field class="example-full-width">

						<input matInput type="text" class="form-control" id="toSubject" placeholder="Subject" name="toSubject" [(ngModel)]="this.MessageModel.Subject"
						 #toSubject="ngModel" required>
						 </mat-form-field>
						<div *ngIf="toSubject.errors && (toSubject.dirty || toSubject.touched)" class="alert">
							<div [hidden]="!toSubject.errors.required">
								Subject is required
							</div>
						</div>
					</div>
					<div class="form-group" *ngIf="sendReply">
						<!-- <label for="toSubject">Subject:</label> -->
						<!-- <mat-form-field class="example-full-width">

						<input matInput type="text" class="form-control" id="toSubject" placeholder="Subject" name="toSubject" [(ngModel)]="this.MessageModel.Subject"
						 #toSubject="ngModel" readonly="true" required>
						 </mat-form-field>
						<div *ngIf="toSubject.errors && (toSubject.dirty || toSubject.touched)" class="alert">
							<div [hidden]="!toSubject.errors.required">
								Subject is required
							</div>
						</div> -->
					</div>
					<div class="form-group">
						<!-- <label for="writeMessage">Message:</label> -->
						<mat-form-field class="example-full-width">

						<textarea matInput class="form-control" maxlength="100" rows="5" id="writeMessage" required placeholder="comment" name="writeMessage" [(ngModel)]="this.MessageModel.Replies.Message"
						 #writeMessage="ngModel" ></textarea>
						 </mat-form-field>
						<div *ngIf="writeMessage.errors && (writeMessage.dirty || writeMessage.touched)" class="alert">
							<div [hidden]="!writeMessage.errors.required">
								Message is required
							</div>
						</div>
					</div>
					<div class="row mb:30">
						<div class="col-md-6">
							<!--<a href="javascript:;"><i class="fa fa-paperclip" aria-hidden="true" style="font-size:20px;color:black;" ></i>Attach</a>-->
							<input type="file" class="form-control" (change)="ChangeListener($event)" accept="image/*">
						</div>
						<div class="col-md-6">
							<!-- <div *ngFor="let attach of attachments;let i=index;">
							<div>
								<span>{{attach.Name | shorten : 25:'... '}} </span>
								<span (click)="test(attach,i)"><i class="fa fa-close" style="font-size:18px"></i></span>
							</div>
						</div> -->

						</div>
					</div>
					<div class="form-group" style="margin-top:20px">
						<div class="items-grid">
							<div class="shop-filter row">
								<div class="col-xs-9">
									<div class="tag-group" *ngFor="let attach of attachments;let i=index;">
										<div class="tag-label">
											{{attach.Name | shorten : 10:'... '}}
										</div>
										<div class="tag-close pull-left">
											<a href="javascript:;" (click)="test(attach,i)">
												<i class="fa fa-times"></i>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<input type="submit" class="btn btn-sm btn-color right rounded" *ngIf="sendReply" [disabled]="!ComposeForm.form.valid" value="Reply"
					 (click)="ReplyMessage(this.MessageModel.Replies.Message)">
					<input type="submit" class="btn btn-sm btn-color right rounded" *ngIf="!sendReply" [disabled]="!ComposeForm.form.valid" value="Send"
					 (click)="mailMessage()">
				</form>
			</div>
		</div>
	</div>
</div>
